openapi: 3.2.0
info:
  version: 2.6.11
  title: HERE Tracking Associations API
  description: 'HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.


    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.'
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- description: 'An association is a link between a device and a geofence, a sensor rule or a rule.

    Device events get generated for existing associations only.'
  name: Associations
paths:
  /associations/v3/health:
    get:
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Associations
      operationId: getAssociationsV3Health
      x-operation-id-source: derived
  /associations/v3/version:
    get:
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Associations
      operationId: getAssociationsV3Version
      x-operation-id-source: derived
  /associations/v3/sensors/{sensorRuleId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: sensorRuleId
      description: ID of the sensor rule
      required: true
    get:
      deprecated: true
      summary: Gets all devices associated with a sensor rule
      description: Gets all devices associated with the sensor rule `sensorRuleId`.
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      tags:
      - Associations
      responses:
        '200':
          description: 'Response body contains an array of device objects, count indicating the number of returned devices,

            and pageToken if available.


            If no associations are found, an object with empty data array is returned.

            '
          content:
            application/json:
              example:
                data:
                - trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  externalId: TestDevice1
                  appId: c2639c686251407a9052aaea824a1fb5
                - trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                  externalId: TestDevice2
                  appId: c2639c686251407a9052aaea824a1fc9
                pageToken: 024ggjjea253d79fc
                count: 2
              schema:
                type: object
                description: 'Response body contains an array of device objects, count indicating the number of returned devices,

                  and pageToken if available. If no devices are found, an object with empty data array is returned.

                  '
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: 'Response body contains a single device object.

                          '
                        type: object
                        properties:
                          trackingId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
                          externalId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: Virtual device external ID, only present when the device is virtual
                          appId:
                            type: string
                            minLength: 8
                            description: Virtual device application ID, only present when the device is virtual
                        required:
                        - trackingId
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                message: The sensor rule ID was not found.
                details:
                  hereErrorCode: 404306
          description: The sensor rule ID was not found
      operationId: getAssociationsV3SensorsBySensorRuleId
      x-operation-id-source: derived
  /associations/v3/geofences/{geofenceId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
      name: geofenceId
      description: ID of the geofence
      required: true
    get:
      deprecated: true
      summary: Gets all devices associated with a geofence
      description: Gets all devices associated with the geofence `geofenceId`.
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      tags:
      - Associations
      responses:
        '200':
          description: 'Response body contains an array of device objects, count indicating the number of returned devices,

            and pageToken if available.


            If no associations are found, an object with empty data array is returned.

            '
          content:
            application/json:
              example:
                data:
                - trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  externalId: TestDevice1
                  appId: c2639c686251407a9052aaea824a1fb5
                - trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                  externalId: TestDevice2
                  appId: c2639c686251407a9052aaea824a1fc9
                pageToken: 024ggjjea253d79fc
                count: 2
              schema:
                type: object
                description: 'Response body contains an array of device objects, count indicating the number of returned devices,

                  and pageToken if available. If no devices are found, an object with empty data array is returned.

                  '
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: 'Response body contains a single device object.

                          '
                        type: object
                        properties:
                          trackingId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
                          externalId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: Virtual device external ID, only present when the device is virtual
                          appId:
                            type: string
                            minLength: 8
                            description: Virtual device application ID, only present when the device is virtual
                        required:
                        - trackingId
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getAssociationsV3GeofencesByGeofenceId
      x-operation-id-source: derived
  /associations/v3/rules/{ruleId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: ruleId
      description: ID of the rule
      required: true
    get:
      deprecated: true
      summary: Gets all devices associated with a rule
      description: Gets all devices associated with the rule `ruleId`.
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      tags:
      - Associations
      responses:
        '200':
          description: 'Response body contains an array of device objects, count indicating the number of returned devices,

            and pageToken if available.


            If no associations are found, an object with empty data array is returned.

            '
          content:
            application/json:
              example:
                data:
                - trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  externalId: TestDevice1
                  appId: c2639c686251407a9052aaea824a1fb5
                - trackingId: HERE-b0146d7b-2e46-4cee-bc71-6da03ba2da85
                  externalId: TestDevice2
                  appId: c2639c686251407a9052aaea824a1fc9
                pageToken: 024ggjjea253d79fc
                count: 2
              schema:
                type: object
                description: 'Response body contains an array of device objects, count indicating the number of returned devices,

                  and pageToken if available. If no devices are found, an object with empty data array is returned.

                  '
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: 'Response body contains a single device object.

                          '
                        type: object
                        properties:
                          trackingId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
                          externalId:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: Virtual device external ID, only present when the device is virtual
                          appId:
                            type: string
                            minLength: 8
                            description: Virtual device application ID, only present when the device is virtual
                        required:
                        - trackingId
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getAssociationsV3RulesByRuleId
      x-operation-id-source: derived
  /associations/v3/{trackingId}/sensors/{sensorRuleId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: sensorRuleId
      description: ID of the sensor rule
      required: true
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
      required: true
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    put:
      summary: Associates a device with a sensor rule
      description: 'Associates the device with `trackingId` to the sensor rule with `sensorRuleId`.


        A single device can only have one sensor rule per sensor type associated.


        The associated sensor rule settings will be automatically synchronised to the `system.sensorAlarmConfig` section of the device

        `desired shadow`.


        Every time the associated sensor rule gets triggered by the device ingestion, an event will be generated.'
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '200':
          description: 'Successful


            Device already associated with the sensor rule

            '
        '201':
          description: 'Successful


            The device has been associated with the sensor rule

            '
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: putAssociationsV3ByTrackingIdSensorsBySensorRuleId
      x-operation-id-source: derived
    delete:
      summary: Disassociates a device and a sensor rule
      description: Deletes the association between the sensor rule `sensorRuleId` and the device `trackingId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: deleteAssociationsV3ByTrackingIdSensorsBySensorRuleId
      x-operation-id-source: derived
  /associations/v3/{trackingId}/geofences/{geofenceId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
      name: geofenceId
      description: ID of the geofence
      required: true
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
      required: true
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    put:
      summary: Associates a device to a geofence
      description: 'Associates the device with `trackingId` to the geofence with `geofenceId`.

        Whenever the device enters or exits the associated geofence, an event is generated.'
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '200':
          description: 'Successful


            Device already associated with the geofence

            '
        '201':
          description: 'Successful


            The device has been associated with the geofence

            '
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: putAssociationsV3ByTrackingIdGeofencesByGeofenceId
      x-operation-id-source: derived
    delete:
      summary: Disassociates a device and a geofence
      description: Deletes an association between the geofence `geofenceId` and the device `trackingId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: deleteAssociationsV3ByTrackingIdGeofencesByGeofenceId
      x-operation-id-source: derived
  /associations/v3/{trackingId}/rules/{ruleId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: ruleId
      description: ID of the rule
      required: true
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
      required: true
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    put:
      summary: Associates a device to a rule
      description: 'Associates the device with `trackingId` to the rule with `ruleId`.

        Whenever the device behaviour triggers the rule, an event is generated.'
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '200':
          description: 'Successful


            Device already associated with the rule

            '
        '201':
          description: 'Successful


            The device has been associated with the rule

            '
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: putAssociationsV3ByTrackingIdRulesByRuleId
      x-operation-id-source: derived
    delete:
      summary: Disassociates a device and a rule
      description: Deletes an association between the rule `ruleId` and the device `trackingId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Associations
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: deleteAssociationsV3ByTrackingIdRulesByRuleId
      x-operation-id-source: derived
  /associations/v3/{trackingId}/sensors:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
      required: true
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    get:
      summary: Gets sensor rules associated with a device
      description: Gets a list of sensor rules associated with the device `trackingId`.
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      tags:
      - Associations
      responses:
        '200':
          description: 'Response body contains an array of sensor rule objects, count indicating the number of returned sensor rules,

            and pageToken if available.


            If no sensor rule is found, an object with empty data array is returned.

            '
          content:
            application/json:
              example:
                data:
                - id: f4c26630-5d26-4cd1-a57e-g7834e72cb99
                  type: temperature
                  range:
                    begin: -20
                    end: 30
                - id: j7c24430-5f26-4kd1-c58e-g7126e72ab33
                  type: pressure
                  range:
                    begin: 30
                    end: 80
                pageToken: 024ggjjea253d79fc
                count: 2
              schema:
                type: object
                description: 'Response body contains an array of sensor rule objects, `count` indicates the number of returned sensor rules,

                  and `pageToken` is the next page token if available.


                  If no sensor rules are found, an object with an empty data array is returned.

                  '
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: Response body contains a single sensor rule object
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: 'Must be a valid UUIDv4.

                              '
                          type:
                            type: string
                            description: The sensor type.
                            enum:
                            - attach
                            - battery
                            - humidity
                            - pressure
                            - tamper
                            - temperature
                            - acceleration
                          range:
                            type: object
                            properties:
                              begin:
                                type: number
                                description: The lower threshold value.
                              end:
                                type: number
                                description: The upper threshold value.
                            required:
                            - begin
                            - end
                          threshold:
                            type: object
                            properties:
                              value:
                                type: number
                                description: Threshold value
                            required:
                            - value
                          name:
                            type: string
                          description:
                            type: string
                        required:
                        - id
                        - type
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getAssociationsV3ByTrackingIdSensors
      x-operation-id-source: derived
  /associations/v3/{trackingId}/geofences:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
      required: true
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    get:
      summary: Gets geofences associated with a device
      description: Gets a list of geofences associated with the device `trackingId`.
      security:
      - UserToken: []
      - ClientToken: []
      - DeviceToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      - name: type
        description: Type of a geofence
        in: query
        required: false
        schema:
          type: array
          items:
            type: string
            enum:
            - circle
            - polygon
            - poi
      tags:
      - Associations
      responses:
        '200':
          description: 'Response body contains an array of geofence objects, `count` specifies the number of returned geofences,

            and `pageToken` indicates the next available page in the matching result set.


            If no geofences are found, an object with empty data array is returned.

            Response content type can be either JSON or protobuf depending on the ''Content-Type'' request header.

            '
          content:
            application/json:
              example:
                data:
                - id: d0c29690-5d26-4cf1-a37e-b7816e72cb99
                  geofence:
                    definition:
                      points:
                      - lng: 13.38490035
                        lat: 52.5308398
                      - lng: 14.38490035
                        lat: 52.5408398
                      - lng: 13.39490035
                        lat: 53.5308398
                    type: polygon
                - id: ff92eda0-3114-4640-b7e6-4ba641ae1124
                  geofence:
                    name: 16fbc82c-88d1-4219-bfad-6e5de52688a2
                    description: This is a circular geofence
                    type: circle
                    definition:
                      center:
                        lat: 52.5308398
                        lng: 13.38490035
                      radius: 100
                      floor:
                        id: DM_82228
                        name: House 3
                pageToken: 027ffffea253d79fc
                count: 2
              schema:
                type: object
                description: Response body contains an array of geofence objects. `count` indicates the number of returned geofences, and `pageToken` indicates the next available page in the matching result set. If no geofences are found, an object with empty data array is returned.
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: Single geofence object
                        type: object
                        properties:
                          id:
                            description: Geofence ID
                            type: string
                            format: uuid
                          version:
                            description: Geofence version
                            type: integer
                          createdAt:
                            description: Timestamp indicating when the geofence has been created
                            type: string
                            format: date-time
                          updatedAt:
                            description: Timestamp indicating when the geofence has been updated
                            type: string
                            format: date-time
                          geofence:
                            oneOf:
                            - title: Circle
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The geofence type.
                                  enum:
                                  - circle
                                definition:
                                  type: object
                                  description: An object that defines the area of a circular geofence
                                  properties:
                                    center:
                                      description: The coordinates of the center point of the circle.
                                      type: object
                                      properties:
                                        lat:
                                          description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                                          type: number
                                          minimum: -90
                                          maximum: 90
                                        lng:
                                          description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                                          type: number
                                          minimum: -180
                                          maximum: 180
                                      required:
                                      - lat
                                      - lng
                                    radius:
                                      type: number
                                      description: The radius of the circle in meters.
                                      minimum: 0
                                    floor:
                                      description: The building associated with the geofence
                                      type: object
                                      required:
                                      - id
                                      - name
                                      properties:
                                        level:
                                          description: The floor of the geofence in integer format
                                          type: number
                                          minimum: -999
                                          maximum: 999
                                        id:
                                          description: The building ID
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                        name:
                                          description: The building name
                                          type: string
                                          minLength: 1
                                          maxLength: 255
                                  required:
                                  - center
                                  - radius
                                metadata:
                                  description: 'Metadata JSON object may contain additional customer specific information

                                    '
                                  type: object
                                name:
                                  type: string
                                  maxLength: 50
                                  description: A human-readable name of the geofence.
                                description:
                                  type: string
                                  maxLength: 1000
                                  description: A description of the area that the geofence encloses and the purpose of the geofence.
                              required:
                              - type
                              - definition
                            - title: Polygon
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The geofence type.
                                  enum:
                                  - polygon
                                definition:
                                  type: object
                                  description: An object that defines the area of a polygonal geofence.
                                  properties:
                                    points:
                                      type: array
                                      description: An array of points that define the polygon. A minimum of three and a maximum of five hundred points is required.
                                      minItems: 3
                                      maxItems: 500
                                      items:
                                        type: object
                                        properties:
                                          lat:
                                            description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                                            type: number
                                            minimum: -90
                                            maximum: 90
                                          lng:
                                            description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                                            type: number
                                            minimum: -180
                                            maximum: 180
                                        required:
                                        - lat
                                        - lng
                                    floor:
                                      description: The building associated with the geofence
                                      type: object
                                      required:
                                      - id
                                      - name
                                      properties:
                                        level:
                                          description: The floor of the geofence in integer format
                                          type: number
                                          minimum: -999
                                          maximum: 999
                                        id:
                                          description: The building ID
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                        name:
                                          description: The building name
                                          type: string
                                          minLength: 1
                                          maxLength: 255
                                  required:
                                  - points
                                metadata:
                                  description: 'Metadata JSON object may contain additional customer specific information

                                    '
                                  type: object
                                name:
                                  type: string
                                  maxLength: 50
                                  description: A human-readable name of the geofence.
                                description:
                                  type: string
                                  maxLength: 1000
                                  description: A description of the area that the geofence encloses and the purpose of the geofence.
                              required:
                              - type
                              - definition
                            - title: POI
                              type: object
                              properties:
                                type:
                                  type: string
                                  description: The geofence type.
                                  enum:
                                  - poi
                                definition:
                                  type: object
                                  description: An object that defines the area of a POI geofence.
                                  properties:
                                    location:
                                      type: object
                                      description: Details of the geofence location
                                      properties:
                                        room:
                                          description: The room ID
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                        address:
                                          description: Address
                                          type: string
                                          minLength: 1
                                          maxLength: 255
                                        country:
                                          description: Country
                                          type: string
                                          minLength: 1
                                          maxLength: 255
                                        position:
                                          type: object
                                          properties:
                                            lat:
                                              description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                                              type: number
                                              minimum: -90
                                              maximum: 90
                                            lng:
                                              description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                                              type: number
                                              minimum: -180
                                              maximum: 180
                                          required:
                                          - lat
                                          - lng
                                          description: Coordinates for visualization purposes
                                    floor:
                                      description: The building associated with the geofence
                                      type: object
                                      required:
                                      - id
                                      - name
                                      properties:
                                        level:
                                          description: The floor of the geofence in integer format
                                          type: number
                                          minimum: -999
                                          maximum: 999
                                        id:
                                          description: The building ID
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                        name:
                                          description: The building name
                                          type: string
                                          minLength: 1
                                          maxLength: 255
                                metadata:
                                  description: 'Metadata JSON object may contain additional customer specific information

                                    '
                                  type: object
                                trainingStatus:
                                  type: object
                                  properties:
                                    trained:
                                      description: True if the POI geofence is trained
                                      type: boolean
                                    metadata:
                                      type: object
                                      properties:
                                        usedWlanApCount:
                                          description: The number of WLAN access point used in training
                                          type: number
                                        trackingId:
                                          type: string
                                          minLength: 1
                                          maxLength: 50
                                          description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
                                        timestamp:
                                          description: Training data timestamp
                                          type: integer
                                          minimum: 2
                                          maximum: 4102448400000
                                        coordinate:
[...]
