openapi: 3.2.0
info:
  title: Here Ingestion API
  x-refined-note:
  - x-olp-service differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged ingestion across 2 of this provider''s published API definitions: here-data-ingest-v1-openapi.yml, here-tracking-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://use.apilookup.for.a.base.url/
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- name: Ingestion
  description: A generic data endpoint to send any kind of data to stream layers. See Publish Data to a Stream layer.
paths:
  /layers/{layerId}:
    post:
      tags:
      - Ingestion
      summary: Endpoint for ingesting generic data
      description: Sends streaming data to a specified layer in the HERE platform
      operationId: Ingest API v1 ingestData
      parameters:
      - name: layerId
        in: path
        description: The ID of the layer where you want the data ingested.
        required: true
        schema:
          type: string
      - name: X-HERE-Checksum
        in: header
        description: A base64 encoded SHA-256 hash you can provide for validation against the calculated value on the request body hash. This verifies the integrity of your request and prevents modification by a third party.It will be created by the service if not provided. A SHA-256 hash consists of 256 bits or 64 chars.
        schema:
          type: string
      - name: X-HERE-TraceId
        in: header
        description: A unique message ID, such as a UUID. This can be included in the request if you want to use an ID that you define. If you do not include an ID, one will be generated during ingestion and included in the response. You can use this ID to track your request and identify the message in the catalog.
        schema:
          type: string
      - name: X-HERE-Message-Key
        in: header
        description: A unique message ID, such as a UUID. This can be included in the request if you want to use an ID that you define. If you do not include an ID, X-HERE-TraceId will be used instead. You can use this ID to specify the partition for the message in the data catalog.
        schema:
          type: string
      - name: billingTag
        in: query
        description: Optional billing tag provided by customer. It will be used in grouping of billing records.
        schema:
          type: string
      requestBody:
        description: A byte array of data to send to the HERE platform for ingestion. The maximum size is 20 MB. Decode the example from base64 before using.
        content:
          application/octet-stream:
            schema:
              type: string
              format: binary
              example: CuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgB
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOkSingle'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: No handler found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response413'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response415'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
      x-olp-access-type: resource
      x-codegen-request-body-name: byteArray
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/partitions:
    post:
      tags:
      - Ingestion
      summary: Send a list of partitions to a stream layer
      description: Upload partitions to the given layer. For better performance batch your partitions (e.g. 1000 per request), rather than uploading them individually.
      operationId: Ingest API v1 ingestPartitions
      parameters:
      - name: layerId
        in: path
        description: The ID of the layer where you want the data ingested.
        required: true
        schema:
          type: string
      - name: X-HERE-TraceId
        in: header
        description: A unique message ID, such as a UUID. This can be included in the request if you want to use an ID that you define. If you do not include an ID, one will be generated during ingestion and included in the response. You can use this ID to track your request and identify the message in the catalog. X-HERE-TraceId is passed as `dsTraceId` kafka record header.
        schema:
          type: string
      - name: billingTag
        in: query
        description: Optional billing tag provided by customer. It will be used in grouping of billing records.
        schema:
          type: string
      requestBody:
        description: Publication partitions. Data and DataHandle fields cannot be populated at the same time. See Partition object for more details on body fields
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/PublishPartitions'
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: No handler found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response413'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response415'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
      x-olp-access-type: resource
      x-codegen-request-body-name: body
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/sdiiMessageList:
    post:
      tags:
      - Ingestion
      summary: Send a list of SDII messages to a stream layer
      description: Consumes individual SDII messages and SDII MessageLists. The endpoint automatically breaks SDII MessageLists down and stores the data as individual SDII messages. Note that this endpoint does not support compression. If you are sending data to stream layer that has compression enabled, you must use the `/layers/` endpoint and all compression and decompression must be handled by your application.
      operationId: Ingest API v1 ingestSDII
      parameters:
      - name: layerId
        in: path
        description: The ID of the layer where you want the data ingested.
        required: true
        schema:
          type: string
      - name: X-HERE-Checksum
        in: header
        description: A base64 encoded SHA-256 hash you can provide for validation against the calculated value on the request body hash. This verifies the integrity of your request and prevents modification by a third party.It will be created by the service if not provided. A SHA-256 hash consists of 256 bits or 64 chars.
        schema:
          type: string
      - name: X-HERE-TraceId
        in: header
        description: A unique message ID, such as a UUID. This can be included in the request if you want to use an ID that you define. If you do not include an ID, one will be generated during ingestion and included in the response. You can use this ID to track your request and identify the message in the catalog.
        schema:
          type: string
      - name: X-HERE-Message-Key
        in: header
        description: A unique message ID, such as a UUID. This can be included in the request if you want to use an ID that you define. If you do not include an ID, X-HERE-TraceId will be used instead. You can use this ID to specify the partition for the message in the data catalog.
        schema:
          type: string
      - name: billingTag
        in: query
        description: Optional billing tag provided by customer. It will be used in grouping of billing records.
        schema:
          type: string
      requestBody:
        description: A byte array of data in SDII MessageList protobuf format to send to the HERE platform for ingestion. The maximum size is 20 MB. Decode the example from base64 before using.
        content:
          application/x-protobuf:
            schema:
              type: string
              format: binary
              example: CuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgBCuoHCrIHCgMxLjASBEhFUkUaCwgFGexRuB6F6/k/QpAHYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhYWFhSgUxMjM0NRImCiQIgOGhitcoEAEhHFQsyODyIUApqkKo9/m6SEAxzczMzMzM9D8aCxoJCJTroYrXKBgB
        required: true
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ResponseOk'
        '400':
          description: Bad Request
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response400'
        '401':
          description: Unauthorized
          content: {}
        '404':
          description: No handler found
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response404'
        '413':
          description: Payload Too Large
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response413'
        '415':
          description: Unsupported Media Type
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response415'
        '500':
          description: Internal Server Error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Response500'
      x-olp-access-type: resource
      x-codegen-request-body-name: byteArray
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /v2/health:
    get:
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Ingestion
      operationId: getV2Health
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /v2/version:
    get:
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Ingestion
      operationId: getV2Version
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /v2/timestamp:
    get:
      summary: Gets the current timestamp
      tags:
      - Ingestion
      description: 'Returns the current server time in seconds since the UNIX epoch.

        The server time is used to check the validity of the OAuth 1.0 header of a device data ingestion request.

        Devices must synchronise with the server time to avoid a clock skew.


        > Note that in the data ingestion request the timestamp is specified in milliseconds.'
      parameters:
      - in: header
        name: X-Request-Id
        schema:
          type: string
          format: uuid
        description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


          Must be a valid UUIDv4.

          '
        required: false
      responses:
        '200':
          description: 'OK


            The server timestamp was successfully returned

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  timestamp:
                    type: integer
                    description: Seconds elapsed since 1 January 1970 00:00:00 UTC.
                    minimum: 2
                    maximum: 4102448400
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '429':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Too Many Requests
                code: 429
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: Too Many Requests
          description: 'Too Many Requests


            User has sent too many requests in a given amount of time.

            '
      operationId: getV2Timestamp
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /v2/token:
    post:
      summary: Requests a token for a registered device
      security:
      - signedRequest: []
      description: 'Authenticates a device to HERE Tracking and requests a device access token.


        A device must provide a valid device access token when it sends telemetry to HERE Tracking.

        Tokens can be obtained upon a successful device authentication.


        The device token requests must be signed. The signature method uses the OAuth 1.0 standard.

        For more information on this standard, see the OAuth Core 1.0 specification.


        Tokens can be requested only by claimed devices.

        A claimed device license, that is ```deviceId``` and ```deviceSecret``` credential pair, is used for creating a signed token request.


        > See the Authentication section for details on how to generate a signed token request.

        > A new signature must be created for each device access token request.

        > Signatures can only be used once.'
      parameters:
      - in: header
        name: X-Request-Id
        schema:
          type: string
          format: uuid
        description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


          Must be a valid UUIDv4.

          '
        required: false
      - name: authorization
        description: Signed OAuth 1.0 header
        in: header
        required: true
        example: OAuth oauth_consumer_key='{deviceId}',oauth_signature_method='HMAC_SHA256',oauth_timestamp='{nowS}',oauth_nonce='{nonce}',oauth_signature='{signature}'
        schema:
          type: string
      tags:
      - Ingestion
      responses:
        '200':
          description: Successful
          content:
            application/json:
              schema:
                type: object
                properties:
                  accessToken:
                    type: string
                  expiresIn:
                    type: integer
                example:
                  accessToken: h1.ySDEpBjW2fXM0Nk1IyBohA.6YOv1MfQUd1K7MCg9elZrrVTT5fKfqYECYUrD7Y77d-p9KqIZrVfjpIrkMqVC9MmfUILOm7xk7VuhCH59o0oLJCl6M8Q8cGHTKVrPcpqiEzUQKs7pSZXxVbIui0O5caUgJ3GHrS1X4aZQuB1KSsngvWMcIz0M0a4g4x8bICUHNRbISbQOWNTc7CcxRIJegIlj24dUawrhtnuQh50JUUY2pHYpSh_t8R0AVkm8JO-WEtWW3SZiLa30IR0gz2121vlRjdNolnJYsuJzHoaEKEkrMj9ffybtcBVWo9dkY1qmDQ-DRg_loVenJK45kjHJijkQ902r_vhH8jtoXTrZ1RBFHuZtwLW8xXBw70BCWPu4OYGgthjaq61mpE8iP1s7MG7gbAiW_S249aaoWMUxQN6djw8cNoTP6YPM-ivSieRMxwPl56mhRQ5GRjQa8AYkuOvoCFg-LCMIxTYhrDZM4HFWQ.duHFPjvWUQbdArCL5CU7bTowK5fD07ro83r6CRWjuB_1TK2VyO1lvfNFZIZePWLyTlN0y9uqD7Uro6t87h_a0zfpeU8_529KrB9vgpcBARF5LGBo8Rh7y2islYxCGJ2pAxHADtxkfiZ8TCoEatg0F3jkeggOl8YUFkeaI2g7WtnhZwrXBwW9QizQH3EM_Djnu66-kv_aM-uddpzZJJ7CmrJiwhucaEJeYRDSpuzzZWT6_NwBg6_xLjyseCv5AGs8EmsuStCFP0Ey7UDIqo9V2RA9uDP64Q0mvEw3EUTHmJGHF_8E2s4iIpjKJCvUGsGYAy8XrjeW10EBAMkfrn6cwA
                  expiresIn: 86399
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          headers: {}
          description: '*Timestamp wrong*


            When the request timestamp is skewed by more than 10 second from the

            server time, the `x-here-timestamp` header with the current server

            timestamp is added to the response.


            *Incorrect Signature*


            If the OAuth signature is incorrect, the response code will be 401,

            and *no* `x-here-timestamp` header will be added.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
                example:
                - error: Unauthorized
                  code: 401
                  id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                  message: Invalid Authorization, the request lacks valid authentication credentials for the target resource.
                  details:
                    hereErrorCode: 401306
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          description: Invalid license
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
                example:
                - error: Unauthorized
                  code: 401
                  id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                  message: Invalid Authorization, the request lacks valid authentication credentials for the target resource.
                  details:
                    hereErrorCode: 401306
              examples:
                response:
                  value:
                    code: 404
                    error: No license found for the given deviceId.
                    id: e69ce7d3-82f2-43cd-95b4-4402f98c9a61
        '412':
          description: 'Unclaimed Device


            If the device ID is valid but the device has not yet been claimed by an owner, an error response will be returned.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
                example:
                - error: Unauthorized
                  code: 401
                  id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                  message: Invalid Authorization, the request lacks valid authentication credentials for the target resource.
                  details:
                    hereErrorCode: 401306
              examples:
                response:
                  value:
                    code: 412
                    error: Device has not been claimed.
                    id: e69ce7d3-82f2-43cd-95b4-4402f98c9a61
        '429':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Too Many Requests
                code: 429
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: Too Many Requests
          description: 'Too Many Requests


            User has sent too many requests in a given amount of time.

            '
      operationId: postV2Token
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /v2/:
    post:
      summary: Ingests data and receives a shadow
      description: 'Devices can use this end point to ingest data into HERE Tracking,

        in the same way as via the `/v3` endpoint.


        A device uses its access token obtained via the the `/v2/token` endpoint

        to send telemetry – GPS position, sensor readings, WLAN or Bluetooth scans - to HERE Tracking.


        By default the request is synchronous and the response will be

        the device `desired` shadow. If the request is set

        to be asynchronous, the response will be empty.


        The device position gets resolved based on the `position` and `scan` objects

        provided in the request body (see the objects definitions for details).

        If only `position` is provided, it will be used as the device position.

        If only `scan` is provided, the position will be resolved asynchronously

        via the HERE Positioning API after returning a response.

        If both are provided, `scan` is resolved to a position via the HERE Positioning API,

        and the better of the two positions (provided vs. resolved) will be selected.

        If neither `position` nor `scan` is provided, or if the HERE Positioning API is not able to

        resolve the position, the device position will be left empty.


        The `reported` shadow will be updated with the device latest position information,

        sensor readings and settings ingested by the device.

        The reported shadow may also contain additional properties generated by HERE

        Tracking based on the device-ingested telemetry.

        Such properties are stored in the `system.computed` property of the shadow.

        The device shadow can be queried via the `shadows/v2/{trackingId}` endpoint.


        The data ingested by the device will be available as a device trace via the `traces/v2/{trackingId}` endpoint.'
      security:
      - DeviceToken: []
      parameters:
      - in: header
        name: X-Request-Id
        schema:
          type: string
          format: uuid
        description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


          Must be a valid UUIDv4.

          '
        required: false
      - name: authorization
        in: header
        required: true
        example: Bearer h1.yxPIksZ0ViLq77f1Nh-9cg.NVgGBZVlCU8G7kjV_...
        schema:
          type: string
      - name: async
        in: query
        description: If set to `true`, ingests the device data and responds immediately with an empty response body.
        required: false
        schema:
          type: boolean
          default: false
      requestBody:
        description: "A device telemetry data.\n\nThe timestamp specifies the time in milliseconds at which the device telemetry measurements were taken.\nThis must be within 10 seconds of the timestamp returned by the `/v2/timestamp` endpoint.\n\nExample of a GSM telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"gsm\": [{\n            \"mcc\": 262,\n            \"mnc\": 1,\n            \"lac\": 5126,\n            \"cid\": 16504,\n            \"nmr\": [\n                { \"bsic\": 6, \"bcch\": 82 },\n                { \"bsic\": 7, \"bcch\": 85 },\n                { \"bsic\": 12, \"bcch\": 93 },\n                { \"bsic\": 13, \"bcch\": 88 },\n                { \"bsic\": 19, \"bcch\": 88 }\n            ]\n        }]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n\nExample of a WLAN telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"wlan\": [\n            { \"mac\": \"1c:1d:86:07:01:0f\", \"powrx\": -45 },\n            { \"mac\": \"e4:f4:c6:d9:85:59\", \"powrx\": -39 },\n            { \"mac\": \"1c:1d:86:07:01:0d\", \"powrx\": -43 },\n            { \"mac\": \"1c:1d:86:07:01:0b\", \"powrx\": -44 },\n            { \"mac\": \"1c:1d:86:07:01:04\", \"powrx\": -58 },\n            { \"mac\": \"1c:1d:86:07:01:03\", \"powrx\": -59 }\n        ]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n"
        content:
          application/json:
            schema:
              type: array
              items:
                type: object
                properties:
                  timestamp:
                    description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                      Specifies the time the device telemetry measurements were taken.

                      '
                    type: integer
                    minimum: 2
                    maximum: 4102448400000
                  payload:
                    type: object
                    description: 'A free format JSON object.

                      The maximum size is 1000B.

                      '
                  system:
                    type: object
                    properties:
                      phoneNumber:
                        type: string
                        pattern: ^\+[1-9]\d{1,14}$
                        description: 'The phone number of the device''s SIM card in the international E.164 format. All the country codes should be prefixed a with "+" instead of "00".

                          '
                        example: '+491234567890'
                      imsi:
                        type: string
                        pattern: ^[0-9]{1,15}$
                        description: 'The IMSI of the device''s SIM card.

                          '
                        example: '123456789012345'
                      iccid:
                        type: string
                        minLength: 18
                        maxLength: 22
                        description: SIM card integrated circuit card identifier (ICCID)
                      client:
                        description: 'Information about the client device.

                          '
                        type: object
                        properties:
                          manufacturer:
                            description: Manufacturer of the device (hardware)
                            type: string
                            minLength: 2
                            maxLength: 50
                          model:
                            description: Model of the device (hardware)
                            type: string
                            minLength: 1
                            maxLength: 50
                          firmware:
                            description: Device firmware version information
                            type: string
                            minLength: 1
                            maxLength: 150
                          name:
                            description: Name of the client software accessing the HERE API
                            type: string
                            minLength: 3
                            maxLength: 50
                          version:
                            description: Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.
                            type: string
                            minLength: 3
                            maxLength: 60
                          platform:
                            description: Software platform information of the device, for example operating system name and version.
                            type: string
                            minLength: 3
                            maxLength: 50
                          modules:
                            description: Software information of all updateable chips.
                            type: array
                            maxItems: 10
                            items:
                              description: Software information of an updateable chip.
                              type: object
                              properties:
                                manufacturer:
                                  type: string
                                  description: Manufacturer name
                                  minLength: 2
                                  maxLength: 50
                                model:
                                  type: string
                                  description: Model or chip name
                                  minLength: 1
                                  maxLength: 50
                                firmwareVersion:
                                  type: string
                                  description: Installed firmware version
                                  minLength: 3
                                  maxLength: 60
                          diskquota:
                            description: Available disk quota in kilobytes.
                            type: number
                            minimum: 0
                          diagnosticscode:
                            description: Device diagnostics code.
                            type: number
                          homenetwork:
                            description: Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both subscriptions.
                            type: array
                            maxItems: 2
                            items:
                              description: Network information. Either MCC + MNC or SID + NID attribute pair is required.
                              type: object
                              properties:
                                mcc:
                                  description: Mobile Country Code
                                  type: integer
                                  minimum: 200
                                  maximum: 999
                                mnc:
                                  description: Mobile Network Code
                                  type: integer
                                  minimum: 0
                                  maximum: 999
                                sid:
                                  description: System Id, SID
                                  type: integer
                                  minimum: 1
                                  maximum: 32767
                                nid:
                                  description: Network Id, NID
                                  type: integer
                                  minimum: 0
                                  maximum: 65535
                          hasAttachSensor:
                            type: boolean
                            description: True if a device has a sensor to detect if the device is attached to or detached from an object.
                          hasNoBattery:
                            type: boolean
                            description: False if a device has a battery.
                          hasHumiditySensor:
                            type: boolean
                            description: True if a device has a sensor to measure humidity.
                          hasPressureSensor:
                            type: boolean
                            description: True if a device has a sensor to measure pressure.
                          hasTamperSensor:
                            type: boolean
                            description: True if a device has a sensor to detect if device is disassembled.
                          hasTemperatureSensor:
                            type: boolean
                            description: True if a device has a sensor to measure temperature.
                          hasAccelerometerSensor:
                            type: boolean
                            description: True if a device has a sensor to measure acceleration.
                          accelerometerSensorRange:
                            description: 'Specifies the range of measurable acceleration, representation

                              unit g (9.8 m/s^2). If more than one accelerometer is available,

                              each element in the list will represent individual accelerometer.

                              Each value represents a single "+/-" range.

                              For example, value 2 means that sensor is capable to measure

                              acceleration within the range of [-2 g, +2 g].

                              '
                            type: array
                            maxItems: 5
                            items:
                              type: integer
                              minimum: -1000
                              maximum: 1000
                        example:
                          manufacturer: Samsung
                          model: SM-G930F
                          firmware: heroltexx...
                          name: HERE Tracker
                          version: 1.6.1
                          platform: Android
                          diskquota: 256
                          diagnosticscode: 0
                          homenetwork: []
                          hasAttachSensor: true
                          hasNoBattery: false
                          hasHumiditySensor: true
                          hasPressureSensor: true
                          hasTamperSensor: true
                          hasTemperatureSensor: true
                          hasAccelerometerSensor: true
                          accelerometerSensorRange:
                          - 2
                      stateVersion:
                        description: 'The version of the state of a device. This should be incremented only by HERE Tracking.

                          '
                        type: integer
                        minimum: 0
                      reportedSensorData:
                        description: 'The last known device sensor data reported by the device.

                          '
                        type: object
                        properties:
                          accelerationG:
                            type: number
                            description: A g-force value of acceleration.
                            minimum: -100
                            maximum: 100
                          deviceIsAttached:
                            type: boolean
                            description: True if device is attached to an object.
                          deviceIsStationary:
                            type: boolean
                            description: True if device hasn't detected movement.
                          batteryIsCharging:
                            type: boolean
                            description: True if device battery is charging.
                          batteryLevel:
                            type: integer
                            description: A value of percentage battery level.
                            minimum: 0
                            maximum: 100
                          pressureHpa:
                            type: number
                            description: A value of pressure in hectopascal.
                            minimum: 300
                            maximum: 1500
                          relativeHumidity:
                            type: number
                            description: A value of relative humidity in percent.
                            minimum: 0
                            maximum: 100
                          deviceIsTampered:
                            type: boolean
                            description: True if device is tampered.
                          temperatureC:
                            type: number
                            description: A value of temperature in celcius.
                            minimum: -70
                            maximum: 100
                          tiltDegree:
                            type: number
                            description: A value of tilt in degrees.
                      mode:
                        description: 'Tracker mode status of the device.

                          When a tracker is in normal mode, it can send telemetry and, for

                          example, use its GNSS receiver if it has one.

                          A tracker switches into flight mode once it detects that it''s in an

                          airplane, and leaves that mode once the airplane lands.

                          Transport mode has to be triggered by the user, and it''s used,

                          for example, during shipping from continent to another.

                          Sleep mode is used when a tracker is stored in a warehouse, and

                          it''s triggered by entering or leaving some defined geofence.

                          Power save mode can be enabled with `system.powerSave.sendMs`

                          property in the desired shadow and when enabled the device enters

                          power save mode when the device is not moving.

                          '
                        type: string
                        enum:
                        - unknown
                        - normal
                        - flight
                        - transport
                        - sleep
                        - powerSave
                    description: 'Contains device-reported sensor data and device configuration settings.

                      `stateVersion` property contains the version of the last

                      known `desired` state seen by the device.

                      '
                  position:
                    type: object
                    description: The device location
                    properties:
                      accuracy:
                        description: Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).
                        type: number
                        minimum: 0
                      alt:
                        description: Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.
                        type: number
                      altaccuracy:
                        description: Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).
                        type: number
                        minimum: 0
                      confidence:
                        description: Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).
                        type: integer
                        minimum: 50
                        maximum: 95
                      heading:
                        description: GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.
                        type: integer
                        minimum: 0
                        maximum: 359
                      floor:
                        description: The building where the measurements were taken
                        type: object
                        required:
                        - id
                        - name
                        - level
                        properties:
                          level:
                            description: The floor in the building in integer format
                            type: number
                            minimum: -999
                            maximum: 999
                          id:
                            description: The building id
                            type: string
                            minimum: 1
                            maximum: 100
                          name:
                            description: The building name
                            type: string
                            minimum: 1
                            maximum: 255
                      lat:
                        description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                        type: number
                        minimum: -90
                        maximum: 90
                      lng:
                        description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                        type: number
                        minimum: -180
                        maximum: 180
                      satellitecount:
                        description: Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)
                        type: integer
                        minimum: 1
                        maximum: 50
                      speed:
                        description: GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.
                        type: integer
                        minimum: 0
                      type:
                        description: Position type, 'gnss' (satellite based), 'cell' or 'wlan' (network based)
                        type: string
                      wlancount:
                        description: The total number of observed WLAN APs in the scan used for producing the position. ('wlan' position type only)
                        type: integer
                        minimum: 1
                        maximum: 254
                      timestamp:
                        description: Timestamp of the position
                        type: integer
                        minimum: 2
                        maximum: 4102448400000
                    required:
                    - lat
                    - lng
                    - accuracy
                  scan:
                    type: object
                    description: 'Radio measurements used for positioning or radio map contribution.

                      '
                    properties:
                      bt:
                        description: Bluetooth access points
                        type: array
                        maxItems: 128
                        items:
                          description: Bluetooth measurement. In addition to rss, one of mac, eddystoneId, or iBeaconId is required.
                          type: object
                          required:
                          - rss
                          properties:
                            timestamp:
                              description: Time of the measurement (UTC)
                              type: string
                              format: date-time
                            rss:
                              description: Received signal strength (dBm) at the terminal
                              type: integer
                              minimum: -128
                              maximum: 0
                            mac:
                              description: The MAC address of the Bluetooth access point. MAC-48 address with colon (:) or hyphen (-) separators, upper or lower case hex digits. For privacy reasons positioning based on a single Bluetooth AP is not possible. There must be at least one other matching WLAN or Bluetooth access point. Either MAC, EddystoneId, or iBeaconId is required.
                              type: string
                              pattern: ^(([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2})|(([a-fA-F0-9]{2}-){5}[a-fA-F0-9]{2})$
                            eddystoneId:
                              description: Full Identifier as Base64 string. A combination of 10-byte Namespace component and a 6-byte Instance component
                              type: string
                              minLength: 24
                              maxLength: 24
                            iBeaconId:
                              description: Full Identifier as Base64 string. A combination of 16-byte UUID + 2-byte major + 2-byte minor
                              type: string
                              minLength: 28
                              maxLength: 28
                      country:
                        description: Indicates in which country the WLAN APs are located (in case cell data is not present in radio_observations)
                        type: object
                        required:
                        - mcc
                        properties:
                          mcc:
                            description: Mobile Country Code
                            type: integer
                            minimum: 200
                            maximum: 999
                      gsm:
                        description: GSM cells (GERAN)
                        type: array
                        maxItems: 16
                        items:
                          description: GSM measurement
                          type: object
                          required:
                          - mcc
                          - mnc
                          - lac
                          - cid
                          properties:
                            mcc:
                              description: Mobile Country Code
                              type: integer
                              minimum: 200
                              maximum: 999
                            mnc:
                              description: Mobile Network Code
                              type: integer
                              minimum: 0
                              maximum: 999
                            lac:
                              description: Location Area Code
                              type: integer
                              minimum: 1
                              maximum: 65535
                            cid:
                              description: Cell Identifier, 16 bits. Mcc+mnc+lac+cid uniquely identifies the GSM cell.
                              type: integer
                              minimum: 0
                              maximum: 65535
                            ta:
                              description: Timing advance (Optional). Expressed in the units of GSM bits equaling to 48/13 μs ~ 1107 meters.
                              type: integer
                              minimum: 0
                              maximum: 63
                            rxlevel:
                              description: Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.
                              type: integer
                              minimum: -110
                              maximum: -25
                            bsic:
                              description: Base Station Identity Code (for instance, color code) (Optional, you must specify a value for this item when you specify a value for bcch).
                              type: integer
                              minimum: 0
                              maximum: 63
                            bcch:
                              description: Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel) (Optional, you must specify a value for this item when you specify a value for bsic).
                              type: integer
                              minimum: 0
                              maximum: 1023
                            timestamp:
                              description: Time of the cell measurement (UTC) (Optional)
                              type: string
                              format: date-time
                            nmr:
                              description: Network measurements (Optional)
                              type: array
                              maxItems: 16
                              items:
                                description: GSM Network measurement
                                type: object
                                required:
                                - bsic
                                - bcch
                                properties:
                                  bsic:
                                    description: Base Station Identity Code (for instance, color code)
                                    type: integer
                                    minimum: 0
                                    maximum: 63
                                  bcch:
                                    description: Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel)
                                    type: integer
                                    minimum: 0
                                    maximum: 1023
                                  rxlevel:
                                    description: Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.
                                    type: integer
                                    minimum: -110
                                    maximum: -25
                                  lac:
                                    description: Location Area Code (Optional)
                                    type: integer
                                    minimum: 1
                                    maximum: 65535
                                  cid:
                                    description: Cell Identifier (Optional)
                                    type: integer
                                    minimum: 0
                                    maximum: 65535
                      wcdma:
                        description: WCDMA cells (UTRA-FDD, 3G UMTS)
                        type: array
                        maxItems: 16
                        items:
                          description: WCDMA measurement
                          type: object
                          required:
                          - mcc
                          - mnc
                          - cid
                          properties:
                            mcc:
                              description: Mobile Country Code
                              type: integer
                              minimum: 200
                              maximum: 999
                            mnc:
                              description: Mobile Network Code
                              type: integer
                              minimum: 0
                              maximum: 999
                            lac:
                              description: Location Area Code (Optional)
                              type: integer
                              minimum: 1
                              maximum: 65535
                            cid:
                              description: UTRAN Cell Identifier, 28 bits (12 bits RNC and 16 bits Cell id). Mcc+mnc+cid uniquely identifies the WCDMA cell, lac is optional.
                              type: integer
                              minimum: 0
                              maximum: 268435455
                            uarfcndl:
                              description: Downlink frequency of a UTRA-FDD Serving Cell (Optional, you must specify a value for this item when you specify a value for psc).
                              type: integer
                              minimum: 0
                              maximum: 16383
                            psc:
                              description: Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel) (Optional, you must specify a value for this item when you specify a value for uarfcndl).
                              type: integer
                              minimum: 0
                              maximum: 511
                            rscp:
                              description: Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.
                              type: integer
                              minimum: -120
                              maximum: -25
                            pathloss:
                              description: UTRAN path loss (dB) (Optional).
                              type: integer
                              minimum: 46
                              maximum: 158
                            timestamp:
                              description: Time of the cell measurement (UTC) (Optional)
                              type: string
                              format: date-time
                            nmr:
                              description: Network measurements (Optional). Maximum of 8 uarfcndl times maximum of 32 psc.
                              type: array
                              maxItems: 256
                              items:
                                description: WCDMA Network measurement
                                type: object
                                required:
                                - uarfcndl
                                - psc
                                properties:
                                  uarfcndl:
                                    description: Downlink frequency of a UTRA-FDD Serving Cell
                                    type: integer
                                    minimum: 0
                                    maximum: 16383
                                  psc:
                                    description: Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel)
                                    type: integer
                                    minimum: 0
                                    maximum: 511
                                  cid:
                                    description: UTRAN Cell Identifier (uc-id) (Optional)
                                    type: integer
                                    minimum: 0
                                    maximum: 268435455
                                  rscp:
                                    description: Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.
                                    type: integer
                                    minimum: -120
                                    maximum: -25
                                  pathloss:
                                    description: UTRAN path loss (dB) (Optional).
                                    type: integer
                                    minimum: 46
                                    maximum: 158
                      tdscdma:
                        description: TD-SCDMA cell (UTRA-TDD, 3G UMTS TDD)
                        type: array
                        maxItems: 16
                        items:
                          description: TD-SCDMA measurement
                          type: object
                          required:
                          - mcc
                          - mnc
                          - cid
                          properties:
                            mcc:
                              description: Mobile Country Code
                              type: integer
                              minimum: 200
                              maximum: 999
                            mnc:
                              description: Mobile Network Code
                              type: integer
                              minimum: 0
                              maximum: 999
                            lac:
                              description: Location Area Code (Optional)
                              type: integer
                              minimum: 1
                              maximum: 65535
                            cid:
                              description: UTRAN Cell Identifier, 28 bits (12 bits RNC and 16 bits Cell id). Mcc+mnc+cid uniquely identifies the TDSCDMA cell, lac is optional.
                              type: integer
                              minimum: 0
                              maximum: 268435455
                            ta:
                              description: Timing advance (Optional). Round-Trip distance presented in the units of 4*c/7.68e6 ~156 meters. That is, the scaling factor is 4 times the chip length at chip rate of 7.68 Mchips/s. Note that at chip rates 1.28 Mchips/s and 3.84 Mchips/s you need to scale according to chip length of 7.68 Mchips/s, that is, multiply by 6 or 2 if needed.
                              type: integer
                              minimum: 0
                              maximum: 1530
                            uarfcn:
                              description: Carrier frequency of a UTRA-TDD Serving Cell (Optional, you must specify a value for this item when you specify a value for cellparams).
                              type: integer
                              minimum: 0
                              maximum: 16383
                            cellparams:
                              description: Cell Parameters ID (CDMA Spreading Code ID) (Optional, you must specify a value for this item when you specify a value for uarfcn).
                              type: integer
                              minimum: 0
                              maximum: 127
                            rscp:
                              description: Received Signal Code Power = RSCP (dBm) (Optional, you must specify a value for this item when you specify a value for pathloss). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.
                              type: integer
                              minimum: -120
                              maximum: -25
                            pathloss:
                              description: UTRAN path loss (dB) (Optional, you must specify a value for this item when you specify a value for rscp).
                              type: integer
                              minimum: 46
                              maximum: 158
                            timestamp:
                              description: Time of the cell measurement (UTC) (Optional)
                              type: string
                              format: date-time
                            nmr:
                              type: array
                              description: Network measurements (Optional). Maximum of 8 uarfcndl times maximum of 32 psc.
                              maxItems: 256
                              items:
                                description: TD-SCDMA Network measurement
                                type: object
                                required:
                                - uarfcn
                                - cellparams
                                properties:
                                  uarfcn:
                                    description: Carrier frequency of a UTRA-TDD Serving Cell
                                    type: integer
                                    minimum: 0
                                    maximum: 16383
                                  cellparams:
                                    description: Cell Parameters ID (CDMA Spreading Code ID)
                                    type: integer
                                    minimum: 0
                                    maximum: 127
                                  cid:
                                    description: Cell Identifier (uc-id) (Optional)
                                    type: integer
                                    minimum: 0
                                    maximum: 268435455
                                  rscp:
                                    description: Received Signal Code Power = RSCP (dBm) (Optional, you must specify a value for this item when you specify a value for pathloss). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.
                                    type: integer
                                    minimum: -120
                                    maximum: -25
                                  pathloss:
                                    description: UTRAN path loss (dB) (Optional, you must specify a value for this item when you specify a value for rscp).
                                    type: integer
                                    minimum: 46
                                    maximum: 158
                      lte:
                        description: LTE cells (E-UTRA, 4G)
                        type: array
                        maxItems: 16
                        items:
                          description: LTE measurement
                          type: object
                          required:
                          - mcc
                          - mnc
                          - cid
                          properties:
                            mcc:
                              description: Mobile Country Code
                              type: integer
                              minimum: 200
                              maximum: 999
                            mnc:
                              description: Mobile Network Code
                              type: integer
                              minimum: 0
                              maximum: 999
                            tac:
                              description: Tracking Area Code (Optional)
                              type: integer
                              minimum: 0
                              maximum: 65535
                            cid:
                              description: E-UTRA Cell Identifier, 28 bits (20 bits eNodeB and 8 bits Cell id). Mcc+mnc+cid uniquely identifies the LTE cell, tac is optional.
                              type: integer
                              minimum: 0
                              maximum: 268435455
                            ta:
                              description: Timing Advance (Optional). Expressed in the units of 16*Ts (16 Basic time units) = 16/(15000*2048) seconds ~ 156meters. For reference see TS 36.213 and 36.211.
                              type: integer
                              minimum: 0
                              maximum: 1282
                            rsrp:
                              description: Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.
                              type: integer
                              minimum: -156
                              maximum: -44
                            rsrq:
                              description: Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.
                              type: number
                              minimum: -34
                              maximum: 3
                            pci:
                              description: Physical Cell Identity (Optional, you must specify a value for this item when you specify a value for earfcn)
                              type: integer
                              minimum: 0
                              maximum: 503
                            earfcn:
                              description: Evolved Absolute Radio Frequency Channel (Optional, you must specify a value for this item when you specify a value for pci)
                              type: integer
                              minimum: 0
                              maximum: 262143
                            timestamp:
                              description: Time of the cell measurement (UTC) (Optional)
                              type: string
                              format: date-time
                            nmr:
                              description: Network measurements (Optional)
                              type: array
                              maxItems: 16
                              items:
                                description: LTE Network measurement
                                type: object
                                required:
                                - pci
                                - earfcn
                                properties:
                                  pci:
                                    description: Physical Cell Identity
                                    type: integer
                                    minimum: 0
                                    maximum: 503
                                  earfcn:
                                    description: Evolved Absolute Radio Frequency Channel
                                    type: integer
                                    minimum: 0
                                    maximum: 262143
                                  cid:
                                    description: E-UTRA Cell Identifier (Optional)
                                    type: integer
                                    minimum: 0
                                    maximum: 268435455
                                  rsrp:
                                    description: Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.
                                    type: integer
                                    minimum: -156
                                    maximum: -44
                                  rsrq:
                                    description: Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.
                                    type: number
                                    minimum: -34
                                    maximum: 3
                      lteCatM:
                        description: LTE Cat-M cells
                        type: array
                        maxItems: 16
                        items:
[...]
