openapi: 3.2.0
info:
  title: Tour Planning API v3 Synchronous API
  description: The HERE Tour Planning API enables you to dynamically optimize routes for multiple vehicles visiting a set of locations, considering real-life constraints such as limited vehicle capacity and delivery time windows.
  version: 3.61.1
  termsOfService: https://developer.here.com/terms-and-conditions
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://tourplanning.hereapi.com/v3
  description: Production environment base url.
security:
- Bearer: []
- ApiKey: []
tags:
- name: Synchronous
  description: 'Endpoints that support synchronous request flows, allowing for

    immediate processing and responses to API requests.'
paths:
  /problems:
    post:
      summary: Submit a Vehicle Routing Problem to solve it synchronously
      description: 'Solve a vehicle routing problem synchronously by optimizing vehicle routes and schedules for

        jobs (deliveries or pickups) from a depot, including constraints like vehicle capacity, job demand, time windows, and required skills.'
      tags:
      - Synchronous
      security:
      - ApiKey: []
      - Bearer: []
      parameters:
      - name: X-Request-Id
        in: header
        description: User-provided token that can be used to trace a request or a group of requests sent to the service.
        required: false
        style: simple
        explode: false
        schema:
          type: string
        example: 8230d7ad-3f1c-4191-a8dd-f3c42026da89
      responses:
        '200':
          description: The solution to the vehicle routing problem (VRP) has been successfully calculated.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Solution'
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '400':
          description: The input parameters or configuration settings for the vehicle routing problem are invalid or incomplete.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '401':
          $ref: '#/components/responses/UnauthenticatedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '429':
          $ref: '#/components/responses/TooManyRequestsResponse'
        '500':
          $ref: '#/components/responses/ServerErrorResponse'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Problem'
        description: "[Detailed information](https://docs.here.com/tour-planning/docs/problem) necessary to compute optimized routes, encompassing fleet configuration, including \nvehicle types, profiles, costs, shifts, and capacity, as well as a plan detailing the jobs to be completed.\n"
        required: true
      operationId: postProblems
      x-operation-id-source: derived
components:
  schemas:
    StopConfiguration:
      description: '**ALPHA** Configures how stops are created.

        Specifies how multiple jobs located close to each other can be grouped into a single stop.'
      properties:
        limits:
          $ref: '#/components/schemas/StopConfigurationLimits'
        profile:
          allOf:
          - $ref: '#/components/schemas/ProfileName'
          description: '**ALPHA** The vehicle profile to be used for calculating intra stop distances and durations.

            If its not set then the main vehicle profile is used for calculating intra stop metrics.'
      required:
      - profile
      type: object
      x-maturity: alpha
    ChargingStation:
      description: '**ALPHA** Specifies a shared place where vehicle can recharge.'
      example:
        id: recharge1
        location:
          lat: 52.5256
          lng: 13.4542
        vehicleTypeToDuration:
          vehicle1: 300
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: Represents the unique ID of a charging station.
          example: recharge1
        location:
          $ref: '#/components/schemas/RoutingLocation'
        tag:
          $ref: '#/components/schemas/PlaceTag'
        times:
          $ref: '#/components/schemas/TimeWindows'
        vehicleTypeToDuration:
          additionalProperties:
            $ref: '#/components/schemas/Duration'
          description: 'A mapping from vehicle type ID to the charging duration (in seconds) at this station.

            For distance-based charging, this duration should represent the time needed to fully charge the vehicle.

            For consumption-based charging, it should represent the time needed to charge the vehicle from minCharge to maxCharge.'
          example:
            vehicle1: 300
          minProperties: 1
          type: object
      required:
      - id
      - location
      - vehicleTypeToDuration
      type: object
      x-maturity: alpha
    VehicleIds:
      description: 'List of available vehicles. Can be used to assign individual vehicle to the tour.

        In other case `amount` property should be used. Each identifier must be unique across all vehicle types.

        Avoid assigning real-life identifiers, such as vehicle license plate as the `id` of a vehicle.

        Should not be the same as an autogenerated id of another type. E.g. if ''vehicle'' is used for one type then

        the name ''vehicle_1'' cannot be used for another type, otherwise the relations could not be satisfied.'
      example:
      - vehicle1_1
      items:
        $ref: '#/components/schemas/Id'
      maxItems: 350
      minItems: 1
      type: array
      uniqueItems: true
    AvoidTruckRoadType:
      description: 'A truck road type identifier that routes will avoid going through. A truck road type identifier is associated with roads

        that have additional regulations applied by local administration for traversal by heavy vehicles like trucks. For example, the BK Bearing Class

        regulations in Sweden, and ET categories in Mexico. Identifiers for supported truck road types are specified at HERE Map Content [TruckRoadType](https://developer.here.com/documentation/here-map-content/dev_guide/topics_schema/truckroadtypeattribute.truckroadtype.html)'
      enum:
      - TRUCK_ROAD_TYPE_UNKNOWN
      - ET4
      - ET2
      - A4
      - A2
      - B4
      - B2
      - C
      - D
      - BK1
      - BK2
      - BK3
      - BK4
      example: A4
      type: string
    Traffic:
      description: Traffic specific parameters.
      properties:
        mode:
          description: 'Defines what traffic data should be used for route shape and travel duration calculation.

            - `default`: Traffic data is considered.

            - `disabled`: All traffic data, including long term closures, is ignored.'
          enum:
          - default
          - disabled
          example: disabled
          type: string
      required:
      - mode
      type: object
    MaxTimeOnVehicle:
      description: 'The maximum amount of time in seconds the job is allowed to stay on the vehicle. Constrains

        the maximum time the job can be on the vehicle in the solution. This constraint is calculated as follows:


        * For jobs with pickups and deliveries, this is the duration from the first pickup activity to the arrival at the last delivery activity.

        * For jobs with only one delivery, the duration is counted from either the departure activity location or the previous reload activity.

        * For jobs with only pickups, the duration is counted until the arrival activity or the next reload.

        * If the shift does not have an end, the duration is counted until the end of the last activity in the tour.

        * The duration of the first loading and the last unloading activity is excluded from that time.


        For a practical application of this constraint, see [Plan employee transportation](https://docs.here.com/tour-planning/docs/employee-pickup-dropoff).'
      example: 180
      format: int64
      maximum: 604800
      minimum: 0
      type: integer
    TaxiProfile:
      description: 'Route calculation for taxis. This profile takes into account taxi restricted streets as well as streets

        reserved for exclusive taxi access. It does not, however, consider exclusive lanes in otherwise shared streets.

        Also, the taxi exclusive streets are used only if either the origin or destination are on them.


        The `departureTime` property allows to specify a custom date-time for which

        `traffic optimization` in routing calculations shall be performed. See `fleet.traffic` for details.'
      properties:
        avoid:
          $ref: '#/components/schemas/AvoidRoutes'
        departureTime:
          $ref: '#/components/schemas/DateAndTime'
        exclude:
          $ref: '#/components/schemas/Exclude'
        ignoreRouteViolations:
          $ref: '#/components/schemas/IgnoreRouteViolations'
        matrix:
          $ref: '#/components/schemas/Matrix'
        matrixId:
          $ref: '#/components/schemas/MatrixId'
        name:
          $ref: '#/components/schemas/ProfileName'
        options:
          $ref: '#/components/schemas/TaxiOptions'
        traffic:
          $ref: '#/components/schemas/Traffic'
        type:
          enum:
          - taxi
          example: taxi
          type: string
        violationMapping:
          $ref: '#/components/schemas/ViolationMapping'
      required:
      - name
      - type
      type: object
    AdvancedObjective:
      discriminator:
        mapping:
          balanceActivities: '#/components/schemas/BalanceActivities'
          balanceDistance: '#/components/schemas/BalanceDistance'
          balanceDuration: '#/components/schemas/BalanceDuration'
          balanceMaxLoad: '#/components/schemas/BalanceMaxLoad'
          maximizePriorityJobs: '#/components/schemas/MaximizePriorityJobs'
          maximizeTerritoryJobs: '#/components/schemas/MaximizeTerritoryJobs'
          maximizeTours: '#/components/schemas/MaximizeTours'
          minimizeCost: '#/components/schemas/MinimizeCost'
          minimizeDistance: '#/components/schemas/MinimizeDistance'
          minimizeDuration: '#/components/schemas/MinimizeDuration'
          minimizeSoftTimeWindowViolations: '#/components/schemas/MinimizeSoftTimeWindowViolations'
          minimizeTourOverlap: '#/components/schemas/MinimizeTourOverlap'
          minimizeTours: '#/components/schemas/MinimizeTours'
          minimizeUnassigned: '#/components/schemas/MinimizeUnassigned'
          optimizeTaskOrder: '#/components/schemas/OptimizeTaskOrder'
          optimizeTaskPosition: '#/components/schemas/OptimizeTaskPosition'
          serveInClusters: '#/components/schemas/ServeInClusters'
          tieBreak: '#/components/schemas/TieBreak'
          tourOrder: '#/components/schemas/TourOrder'
          visuallyAppealingTours: '#/components/schemas/VisuallyAppealingTours'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/MinimizeUnassigned'
      - $ref: '#/components/schemas/MinimizeCost'
      - $ref: '#/components/schemas/MinimizeTours'
      - $ref: '#/components/schemas/MaximizeTours'
      - $ref: '#/components/schemas/MinimizeDistance'
      - $ref: '#/components/schemas/MinimizeDuration'
      - $ref: '#/components/schemas/BalanceMaxLoad'
      - $ref: '#/components/schemas/BalanceActivities'
      - $ref: '#/components/schemas/BalanceDistance'
      - $ref: '#/components/schemas/BalanceDuration'
      - $ref: '#/components/schemas/MaximizePriorityJobs'
      - $ref: '#/components/schemas/TourOrder'
      - $ref: '#/components/schemas/MaximizeTerritoryJobs'
      - $ref: '#/components/schemas/VisuallyAppealingTours'
      - $ref: '#/components/schemas/OptimizeTaskPosition'
      - $ref: '#/components/schemas/MinimizeTourOverlap'
      - $ref: '#/components/schemas/ServeInClusters'
      - $ref: '#/components/schemas/TieBreak'
      - $ref: '#/components/schemas/MinimizeSoftTimeWindowViolations'
      - $ref: '#/components/schemas/OptimizeTaskOrder'
      x-maturity: alpha
    DbscanStopConfig:
      properties:
        maxDiameter:
          description: The maximum allowed distance between two activities in the stop.
          example: 120
          format: double
          maximum: 1000
          minimum: 0
          type: number
        maxDistanceToNeighbor:
          description: Defines the maximum distance in meters between an activity and its closest neighbor in the cluster.
          example: 50
          format: double
          maximum: 500
          minimum: 0
          type: number
        minNeighborCount:
          default: 3
          description: The number of close neighbors an activity must have to be considered as dense by DBSCAN.
          example: 3
          maximum: 15
          minimum: 2
          type: integer
        profile:
          allOf:
          - $ref: '#/components/schemas/ProfileName'
          description: 'Deprecated, please use stopProfile instead

            The vehicle profile to be used for calculating distances between activities.'
        type:
          enum:
          - dbscan
          example: dbscan
          type: string
      required:
      - maxDistanceToNeighbor
      - type
      type: object
      x-maturity: alpha
    Interval:
      description: Represents an activity interval.
      properties:
        arrival:
          $ref: '#/components/schemas/DateAndTime'
        end:
          $ref: '#/components/schemas/DateAndTime'
        start:
          $ref: '#/components/schemas/DateAndTime'
      required:
      - start
      - end
      type: object
    JobCostRate:
      description: '**ALPHA** A per-job cost rate. Used as the base rate in per-job cost calculation

        and as the override rate for specific job-vehicle pairs.'
      example: 4
      format: double
      maximum: 100000
      minimum: 0
      type: number
      x-maturity: alpha
    Group:
      description: '**BETA** Represents a [collection of jobs](https://docs.here.com/tour-planning/docs/group-jobs) linked by criteria such as geographic proximity, delivery windows, or product types. Jobs in the same group are assigned to one vehicle and completed sequentially before moving

        on to other jobs or groups.'
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'Represents the unique ID of a [job group](https://docs.here.com/tour-planning/docs/group-jobs). Assign this ID at the `job.places` level to include the job in the

            corresponding group.'
          example: group1
        placement:
          default: strict
          description: 'Group placement mode: "strict" (consecutive) or "flexible" (anywhere in tour).'
          enum:
          - strict
          - flexible
          example: strict
          type: string
        pudos:
          description: 'The list of pick-up and drop-off points (PUDOs).

            These locations are designated for the collection and delivery of passengers or goods.'
          items:
            $ref: '#/components/schemas/Pudo'
          maxItems: 2
          minItems: 1
          type: array
      required:
      - id
      type: object
      x-maturity: beta
    VisuallyAppealingTours:
      description: '**ALPHA** An objective to produce a more visually appealing tours in contrast to cost/balancing considerations'
      properties:
        maxClusterRadius:
          description: "Specifies a radius in meters in which job locations are clustered. Jobs in the same cluster are  served consecutively before moving on the next cluster.\nSuitable values for the parameter depend on the job distribution and need to be tuned until satisfactory results are achieved.\n    This parameter will be ignored if the following features are present in the problem:\n    * time windows\n    * breaks\n    * skills\n    * reloads\n    * tour order\n    * mixing restrictions\n    * max time on vehicle\n    * relations\n    * group jobs\n    * territory constraint\n    * more than one vehicle\n    The parameter is not related to the _clustering feature_."
          example: 300
          format: int64
          maximum: 100000
          minimum: 10
          type: integer
        tolerance:
          description: A tolerance specifies how much objective values should differ in order to be considered as not-equal
          example: 0.1
          format: double
          maximum: 1
          minimum: 0
          type: number
        type:
          enum:
          - visuallyAppealingTours
          example: visuallyAppealingTours
          type: string
        weight:
          description: 'A weight parameter specifies trade off between visual appealing aspect and routing considerations.

            The value should be in the range [0; 1] and defines how much visual aspect dominates over routing.'
          example: 0.5
          format: double
          maximum: 1
          minimum: 0
          type: number
      required:
      - type
      type: object
      x-maturity: alpha
    OptimizeTourCount:
      description: Optimizes the number of vehicles used in the solution. The action parameter determines whether to maximize or minimize the vehicle count
      properties:
        action:
          enum:
          - maximize
          - minimize
          example: minimize
          type: string
        type:
          enum:
          - optimizeTourCount
          example: optimizeTourCount
          type: string
      required:
      - action
      - type
      type: object
    TourOrder:
      deprecated: true
      description: '**ALPHA** Deprecated, use OptimizeTaskPosition instead.

        An objective to control order of job activities in the tour.'
      properties:
        isConstrained:
          description: If the property is set to true, then order is enforced as hard constraint.
          example: false
          type: boolean
        type:
          enum:
          - tourOrder
          example: tourOrder
          type: string
      required:
      - isConstrained
      - type
      type: object
      x-maturity: alpha
    MinimizeSoftTimeWindowViolations:
      description: '**ALPHA** An objective to minimize soft time window violations.'
      properties:
        type:
          enum:
          - minimizeSoftTimeWindowViolations
          example: minimizeSoftTimeWindowViolations
          type: string
      required:
      - type
      type: object
      x-maturity: alpha
    Activity:
      description: 'An activity is defined as a planned task to be performed at a specific location and time within a stop on a tour.

        Each activity has properties like `jobId`, `type`, `location`, `time`, and `jobTag`. The `type` property

        specifies the activity type, for example, `pickup` or `delivery`.


        **Note**: If you omit location or time from the activity definition, then the service uses the values

        defined for the parent stop instead.'
      properties:
        compartment:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: '**ALPHA** Compartment where the activity load is allocated, empty if compartments are not used'
          x-maturity: alpha
        jobId:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'A unique identifier for a job, provided when submitting a problem request. It allows tracking

            and retrieval of specific job-related information.


            **Note**: Do not include any personal information within the `JobId`. For example, avoid using a license plate number that could

            be used to identify the driver.'
        jobTag:
          allOf:
          - $ref: '#/components/schemas/PlaceTag'
          description: 'Optionally, allows adding extra information related to a specific job for easier identification or categorization.

            For example, you could tag jobs based on the time of day they need to be delivered, such

            as `"morning-delivery"`.


            **Note**: Do not include any personal information within the `JobTag`. For example, avoid using a

            license plate number that could be used to identify the driver.'
        location:
          $ref: '#/components/schemas/Location'
        notices:
          description: 'A list of notices that provide additional information about the request. For example, these notices might

            include suggestions on how to improve the problem formulation.'
          items:
            $ref: '#/components/schemas/Notice'
          type: array
        time:
          $ref: '#/components/schemas/Interval'
        type:
          $ref: '#/components/schemas/ActivityType'
      required:
      - jobId
      - type
      type: object
    ScooterOptions:
      description: Specifies scooter profile options.
      properties:
        allowHighway:
          default: false
          description: 'Specifies whether routing calculation should take highways into account. When this

            parameter isn''t provided, then by default highways would be avoided. If the avoid

            feature `motorway` is provided, then highways would be avoided,

            even if `allowHighway` is set to `true`.'
          example: false
          type: boolean
        speedCap:
          $ref: '#/components/schemas/SpeedCap'
      type: object
    Problem:
      description: 'A [problem](https://docs.here.com/tour-planning/docs/problem) JSON file that defines the fleet, jobs, and configuration for optimizing tours, which is

        passed synchronously or asynchronously to the HERE Tour Planning API to create an optimized tour plan.'
      properties:
        advancedObjectives:
          description: '**ALPHA** [Extended objectives](https://docs.here.com/tour-planning/docs/objectives#advanced-objectives) that allow for more complex and tailored optimization strategies

            beyond basic goals like minimizing tour distance or cost.


            **Note**: This is an experimental feature under development.

            To enable this feature, add the `advancedObjectives` flag to the `experimentalFeatures` configuration in the problem.'
          example:
          - - type: minimizeUnassigned
          - - type: minimizeCost
          items:
            $ref: '#/components/schemas/MultiObjective'
          maxItems: 8
          minItems: 1
          type: array
          x-maturity: alpha
        configuration:
          $ref: '#/components/schemas/Configuration'
        fleet:
          $ref: '#/components/schemas/Fleet'
        objectives:
          description: '[Objectives](https://docs.here.com/tour-planning/docs/objectives#default-objectives) that guide tour optimization by setting goals like minimizing distance, duration, costs, or unassigned jobs, and

            can be combined hierarchically to meet specific criteria.'
          example:
          - type: minimizeUnassigned
          - type: minimizeCost
          items:
            $ref: '#/components/schemas/Objective'
          maxItems: 6
          minItems: 1
          type: array
        plan:
          $ref: '#/components/schemas/Plan'
      required:
      - plan
      - fleet
      type: object
    Job:
      description: 'Represents a job to be served by any vehicle, taking into account specific properties such as

        location, duration, demand, time windows, skills, and so on. A job can be one of the following

        types: `pickup` (picking something along the route and bringing it to the route''s end location,

        such as a depot), `delivery` (delivering something loaded at the beginning of the route),

        or mixed (picking and delivering along the route).


        For more information, see [Job](https://docs.here.com/tour-planning/docs/problem#job).'
      properties:
        category:
          $ref: '#/components/schemas/Category'
        costFactor:
          default: 1
          description: '**ALPHA** Cost factor for per-job cost calculation. Defaults to 1.0.

            Represents the "quantity" for cost calculation (boxes, parcels, items - opaque to solver).'
          example: 1
          format: double
          minimum: 0
          type: number
          x-maturity: alpha
        customerId:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'An optional property used with the service duration clustering feature (`plan.clustering`).

            When service duration clustering is enabled and this property is present, jobs with the same

            `customerId` value are grouped together and assigned to the same stop if feasible, where they

            are served simultaneously as separate activities. Jobs with different `customerId` values

            are treated as separate clusters and are not grouped together, even if their other attributes match.


            **Note**: This property applies only to service duration clustering, not to geographic clustering

            (`stopConfig` with the `clusterNearby` experimental feature).


            Avoid referencing any sensitive or personal information, such as names, addresses, or

            delivery details, as part of the `customerId`.


            For more information, see [Clustering](https://docs.here.com/tour-planning/docs/problem#clustering).'
          example: 4bbc206d-1583-4266-bac9-d1580f412ac0
        id:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'A unique identifier for a job, provided when submitting a problem request.

            It allows tracking and retrieval of specific job-related information.


            Do not include any personal information within the `JobId`. For example, avoid using a

            license plate number that could be used to identify the driver.'
          example: 4bbc206d-1583-4266-bac9-d1580f412ac0
        maxTimeOnVehicle:
          $ref: '#/components/schemas/MaxTimeOnVehicle'
        priority:
          default: 5
          description: 'Specifies the priority of the job with `1` for highest priority jobs, `2`-`4` for high to

            medium priority, and `5` for normal jobs. Jobs without any priority are treated as jobs with

            priority `5`.


            The priority setting optimizes route planning by ensuring that more critical jobs are included

            in the tour planning ahead of less urgent ones, even when not all jobs can be completed due

            to constraints like vehicle capacity.


            **BETA** Specifying more than 2 different levels of priority among all jobs is experimental.


            For more information, see [Prioritize jobs](https://docs.here.com/tour-planning/docs/priority).'
          example: 1
          maximum: 5
          minimum: 1
          type: integer
        skills:
          $ref: '#/components/schemas/Skills'
        tasks:
          $ref: '#/components/schemas/JobTasks'
      required:
      - id
      - tasks
      type: object
    TimeWindowsViolations:
      description: '**ALPHA** Indicates the total number and the sum of seconds by which all

        [soft time windows](https://docs.here.com/tour-planning/docs/soft-time-windows) were violated.

        Violations are instances where the planned arrival times at specific locations do not comply

        with the predefined hard constraints allocated for those stops.'
      properties:
        count:
          description: The total number of times soft time windows were violated.
          example: 1
          format: double
          type: number
        total:
          description: The total sum of seconds by which soft time windows were violated.
          example: 10
          format: double
          type: number
      required:
      - count
      - total
      type: object
      x-maturity: alpha
    Notice:
      description: 'A notice provides additional information about the request, such as hints on how to improve the problem formulation.

        This information can help you understand potential issues and make necessary adjustments to optimize your request.'
      properties:
        action:
          description: Provides specific actions to address the issue or improve the problem formulation.
          example: Check whether the vehicle types use the correct profiles.
          type: string
        code:
          description: 'A unique code for each type of notice to ensure clear identification and differentiation.


            | Code                                           | Reason                                                             |

            | ---------------------------------------------- | ------------------------------------------------------------------ |

            | `unusedVehicleProfile`                         | Vehicle profile is not used                                        |

            | `duplicatedVehicleProfile`                     | Vehicle profile is duplicated                                      |

            | `minimizeUnassignedNotAtHighestPriority`       | `minimizeUnassigned` objective is not at highest priority          |

            | `noVehicleWithSkillsForJob`                    | No vehicle type matching skills of job                             |

            | `unreachableLocation`                          | Location unreachable                                               |

            | `pudoTimeWindowOutsideOfShifts`                | Pudo time window is outside of vehicle''s shift time range          |

            | `deprecatedField`                              | Specified field is deprecated                                      |

            | `allJobsHaveTheSamePriority`                   | All jobs have the same priority                                    |

            | `allJobsHaveTheSameCategory`                   | All jobs have the same category                                    |

            | `allJobsHaveTheSameCustomerId`                 | All jobs have the same customerId                                  |

            | `allJobPlacesHaveTheSameGroup`                 | All job places have the same group                                 |

            | `allJobPlacesHaveTheSameGroupWithManyVehicles` | All job places have the same group, only one vehicle will serve it |

            | `allJobTasksHaveTheSamePosition`               | All jobs tasks have the same position                              |

            | `allJobTasksHaveTheSameOrder`                  | All job tasks have the same order                                  |

            | `unusedVehicleSkills`                          | Vehicle profiles have skills not used by any job                   |

            | `allJobsAndVehiclesHaveTheSameSkills`          | All jobs and vehicle have the same skills                          |

            | `jobHasIncorrectTimeWindows`                   | Job has time window(s) not supported by any vehicle                |

            | `routeDetailsUnauthorized`                     | Unauthorized usage of route details                                |

            | `routeDetailsFailure`                          | Could not get route details                                        |

            ! `allPudoTimeWindowsOutsideOfShifts`            | All pudo time windows are outside of vehicle''s shift time range    |

            ! `unusedStopConfigurationProfile`               | stopConfiguration is defined but its not used                      |

            ! `deprecatedStopConfig`                         | stopConfig is used but it is deprecated                            |

            ! `unknownParkingId`                             | parking referenced by the job is not defined in the problem        |

            ! `costFactorWithoutPerJob`                      | costFactor is set while cost per job is not configured             |'
          example: unusedVehicleProfile
          type: string
        link:
          description: Provides a link to the page with additional details about the notice.
          example: https://docs.here.com/tour-planning/docs/
          type: string
        title:
          description: A human-readable description of the notice.
          example: Vehicle profile 'truck_1' is not used by any vehicle type.
          type: string
      required:
      - code
      - title
      type: object
    Penalty:
      description: '**ALPHA** Specifies the penalty function applied when the preferred (soft) time window is violated. The penalty score is an abstract numeric value used by the optimization algorithm to evaluate solutions - it does not directly affect cost or duration parameters. The system minimizes penalty scores by scheduling activities as close to preferred time boundaries as possible. Linear penalty is applied by default.'
      discriminator:
        mapping:
          linear: '#/components/schemas/LinearPenalty'
          quadratic: '#/components/schemas/QuadraticPenalty'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/LinearPenalty'
      - $ref: '#/components/schemas/QuadraticPenalty'
      x-maturity: alpha
    Profile:
      discriminator:
        mapping:
          bicycle: '#/components/schemas/BicycleProfile'
          bus: '#/components/schemas/BusProfile'
          car: '#/components/schemas/CarProfile'
          pedestrian: '#/components/schemas/PedestrianProfile'
          privateBus: '#/components/schemas/PrivateBusProfile'
          scooter: '#/components/schemas/ScooterProfile'
          taxi: '#/components/schemas/TaxiProfile'
          truck: '#/components/schemas/TruckProfile'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/ScooterProfile'
      - $ref: '#/components/schemas/BicycleProfile'
      - $ref: '#/components/schemas/PedestrianProfile'
      - $ref: '#/components/schemas/CarProfile'
      - $ref: '#/components/schemas/TruckProfile'
      - $ref: '#/components/schemas/BusProfile'
      - $ref: '#/components/schemas/PrivateBusProfile'
      - $ref: '#/components/schemas/TaxiProfile'
    BoundingBoxArea:
      description: A bounding box defined by two longitudes and two latitudes.
      properties:
        east:
          description: Longitude in WGS-84 degrees of the eastern boundary of the box
          example: 30
          format: double
          maximum: 180
          minimum: -180
          type: number
        north:
          description: Latitude in WGS-84 degrees of the northern boundary of the box.
          example: 30
          format: double
          maximum: 90
          minimum: -90
          type: number
        south:
          description: Latitude in WGS-84 degrees of the southern boundary of the box.
          example: 30
          format: double
          maximum: 90
          minimum: -90
          type: number
        type:
          enum:
          - boundingBox
          example: boundingBox
          type: string
        west:
          description: Longitude in WGS-84 degrees of the western boundary of the box.
          example: 30
          format: double
          maximum: 180
          minimum: -180
          type: number
      required:
      - north
      - south
      - west
      - east
      - type
      type: object
    MinimizeDuration:
      description: An objective to minimize total duration calculated as the sum of all tour durations.
      properties:
        type:
          enum:
          - minimizeDuration
          example: minimizeDuration
          type: string
      required:
      - type
      type: object
    MinimizeUnassigned:
      description: Minimizes the number of unassigned jobs
      properties:
        type:
          enum:
          - minimizeUnassigned
          example: minimizeUnassigned
          type: string
      required:
      - type
      type: object
    JobPlace:
      description: 'Refers to a specific location where one or more pickup or delivery activities occur.

        A place is defined by geographical coordinates (latitude and longitude) and might include additional

        details like duration (service time), job time window, group information for the activity, skills,

        territories, and more. Each job task can have up to three places, and at least one place must be

        specified for each task.'
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        groupId:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'An optional parameter specifying the ID of the group to which the job belongs. Jobs with

            the same `groupId` are served by a single vehicle only (one group cannot be shared between

            multiple vehicles, but a single vehicle can serve multiple groups).


            Depending on your business objctives, you can determine whether the vehicle must serve all

            jobs belonging to a particular group before moving to the next one or whether it can

            interleave jobs from different groups if it makes the tour more efficient.


            Jobs which do not belong to any group, reloads, and breaks with a location cannot interrupt

            a group, but they can be served between individual groups. Breaks without locations can interrupt a group.


            For more information, see [Assign jobs to groups](https://docs.here.com/tour-planning/docs/group-jobs).'
          example: group1
        houseKeyId:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: '**ALPHA** Specifies id of the house key, used for multi-delivery and multi-pickup scenarios

            at the same location. A `houseKeyId` allows controlling the total job duration of multiple

            jobs served at the same customer location. For example, in case multiple jobs with the same

            `houseKeyId` are served together, the maximum duration of the individual jobs is applied as

            the total duration for this set of jobs.


            **Note**: This is an experimental feature under development.

            To enable it, add `houseKeys` flag to `experimentalFeatures` configuration in the problem.


            For more information, see [Allow customer-based service durations](https://docs.here.com/tour-planning/docs/house-key).'
          example: house_key_1
          x-maturity: alpha
        location:
          $ref: '#/components/schemas/RoutingLocation'
        parkingIds:
          description: '**ALPHA** Specifies IDs of the parking where the vehicle can be parked while performing the

            job at this place. References parking options defined in the `shared.parking` array to specify

            the parking with specific duration available for that particular job.


            Parking duration represents only the time required for parking-related activities (such as

            finding a spot, maneuvering, and securing the vehicle). It does not represent the total time

            the vehicle remains at the location.


            **Note**: This is an experimental feature under development.

            To enable it, add `parkingIds` flag to `experimentalFeatures` configuration in the problem.


            For more information, see [Configure location-specific parking durations](https://docs.here.com/tour-planning/docs/location-specific-parking).'
          example:
          - parking1
          items:
            $ref: '#/components/schemas/Id'
          maxItems: 1
          minItems: 1
          type: array
          x-maturity: alpha
        tag:
          $ref: '#/components/schemas/PlaceTag'
        territoryIds:
          description: 'Specifies the territory assigned to this job place, defining spatial restrictions on the jobs

            a vehicle is allowed or preferred to take.


            For more information, see [Optimize tours by territories](https://docs.here.com/tour-planning/docs/territory).'
          items:
            $ref: '#/components/schemas/Id'
          maxItems: 1
          minItems: 1
          type: array
        timeWindows:
          items:
            $ref: '#/components/schemas/SoftTimeWindow'
          maxItems: 4
          minItems: 0
          type: array
        times:
          $ref: '#/components/schemas/TimeWindows'
      required:
      - location
      - duration
      type: object
    Relation:
      description: 'Defines how specific jobs are related to each other and how they should be completed by a specific vehicle

        (defined by the `${vehicleType}_${sequenceIndex}` pattern). The primary application for job relation

        is [**tour replanning**](https://docs.here.com/tour-planning/docs/relations).'
      example:
        jobs:
        - departure
        - 4bbc206d-1583-4266-bac9-d1580f412ac0
        - 4bbc206d-1583-4266-bac9-d1580f412ac0
        - arrival
        shiftIndex: 0
        type: sequence
        vehicleId: vehicle1_1
      properties:
        jobs:
          description: "Job IDs that represent the sequence or order in which the connected jobs are to be completed by a vehicle.\nIn addition to Job IDs, you can optionally provide the following activity names to enforce further constraints within a specific relation:\n  * `departure`: This activity marks the beginning of the sequence and prevents other jobs from\n  being scheduled before the departure activity. It must always be the first item in the `jobs` array, if included.\n  * `break`: If included, this activity enforces a scheduled pause for the vehicle during its route.\n  * `arrival`: This activity marks the end of the sequence and prevents other jobs from\n  being scheduled after the arrival activity. It must always be the last item in the `jobs` array if included."
          items:
            $ref: '#/components/schemas/Id'
          maxItems: 1000
          minItems: 1
          type: array
        shiftIndex:
          $ref: '#/components/schemas/ShiftIndex'
        type:
          $ref: '#/components/schemas/RelationType'
        vehicleId:
          $ref: '#/components/schemas/Id'
      required:
      - type
      - jobs
      - vehicleId
      type: object
    Matrix:
      description: '**ALPHA** Routing matrix for vehicle profile.


        The matrix has to contain 2 flat arrays, `travelTimes` and `distances`.

        Each array represents a 2D matrix where rows correspond to `origins` and columns to `destinations`.


        The `k`-th position in the array corresponds to the `(i, j)` position in the matrix defined by the following relationship:

        ```nocompile

        k = num_destinations * i + j,

        ```

        where `i` is origin and `j` is destination.


        Important: The order of elements in both arrays is crucial.

        Data should be arranged  in the same order as in `origins` array.


        If there is no route between `i` and `j` or a route violates some options,

        another `errorCodes` array should be included with a detailed error code for each pair of positions.'
      properties:
        distances:
          description: Corresponds to 2D matrix of distances (in meters).
          items:
            format: int32
            type: integer
          maxItems: 1000000
          minItems: 4
          type: array
        errorCodes:
          description: 'Contains error codes for entries in the matrix if there is no route between `i` and `j`.

            Optional, no need to be added if all routes exist.


            | Value |  Reason                                                                                        |

            |-------|------------------------------------------------------------------------------------------------|

            | 0     | No error, a route is available                                                                 |

            | 1     | No route between the origin and destination exists                                             |

            | 2     | No valid starting or ending point for the route between the origin and destination locations   |

            | 3     | The route between the origin and destination exists but includes violations that could make it potentially unusable |

            | 4     | The origin and destination locations are either just inside the acceptable range or completely outside the allowed area. Because of this, there are no valid route start or end points for origin and destination locations |

            | 99    | Unknown error (for debugging and handling unexpected situations)                               |'
          example:
          - 0
          - 1
          - 2
          - 3
          items:
            format: int32
            type: integer
          maxItems: 1000000
          minItems: 4
          type: array
        origins:
          description: An ordered list of origins used in the routing matrix
          items:
            $ref: '#/components/schemas/MatrixOrigin'
          maxItems: 1000
          minItems: 2
          type: array
        travelTimes:
          description: Corresponds to 2D matrix of travelTimes (in seconds).
          items:
            format: int32
            type: integer
          maxItems: 1000000
          minItems: 4
          type: array
      required:
      - origins
      - travelTimes
      - distances
      type: object
      x-maturity: alpha
    BoundedSumStrategy:
      description: 'Ensures the total duration of a job cluster is the sum of individual job durations, capped at a maximum limit.

        This strategy is useful for grouping similar jobs without exceeding a specified service time.'
      example:
        maximum: 3600
        type: boundedSumStrategy
      properties:
        maximum:
          description: The upper limit for the total duration all jobs in a cluster, expressed in seconds.
          format: int64
          type: integer
        type:
          enum:
          - boundedSumStrategy
          example: boundedSumStrategy
          type: string
      required:
      - maximum
      - type
      type: object
    Coordinate:
      example:
        lat: 52.53787
        lng: 13.40896
      properties:
        lat:
          description: Latitude in WGS-84 degrees.
          format: double
          type: number
        lng:
          description: Longitude in WGS-84 degrees.
          format: double
          type: number
      required:
      - lat
      - lng
      type: object
    Solution:
      description: "Contains detailed information about how to efficiently solve a vehicle routing problem by completing a set of jobs with a fleet of vehicles. The solution includes the following elements:\n  * **statistic**: Summary of total distance, duration, and cost.\n  * **costs**: Total cost, considering distance, time, and fixed costs.\n  * **tours**: Sequences of stops assigned to each vehicle.\n  * **job assignments**: Jobs assigned to each vehicle in order.\n  * **activities**: Actions at each stop, with start and end times.\n  * **unassigned jobs**: Jobs that couldn't be assigned and reasons why.\n\nFor more information, see [Solution](https://docs.here.com/tour-planning/docs/solution)."
      properties:
        notices:
          description: 'A list of notices that provide additional information about the request. For example, these notices

            might include suggestions on how to improve the problem formulation.'
          items:
            $ref: '#/components/schemas/Notice'
          type: array
        statistic:
          $ref: '#/components/schemas/Statistic'
        tours:
          description: 'The [list of tours](https://docs.here.com/tour-planning/docs/solution#list-of-tours) in the response from the service after submitting a problem for solving. This list

            includes detailed information about each tour, such as the route, stops, activities at each stop, and more.'
          items:
            $ref: '#/components/schemas/Tour'
          type: array
        unassigned:
          description: 'List of jobs that could not be allocated to any vehicle, for example, when no vehicle has the required skills, the vehicle''s capacity is exceeded, or specific constraints (like time windows or territories) cannot be met.

            For more information on the possible reasons for unassigned jobs, see [Troubleshoot unassigned jobs](https://docs.here.com/tour-planning/docs/troubleshoot-unassigned-jobs).'
          items:
            $ref: '#/components/schemas/UnassignedJob'
          type: array
      required:
      - statistic
      type: object
    ViolationMappingOptionalField:
      description: "Defines how a specific violation attribute should be handled within a\nviolation mapping. Use:\n  `include`: the violated restriction is added to a mapped\n  category instead of causing a hard error code 3.\n\n  `exclude`: the violated restriction is not added to a mapped\n  category and still causes an error code 3. This is the default for\n  height and grossWeight.\n\n  `ignore`: the algorithm is not taking the restriction or\n  property / attribute of the road into consideration.\n  This is the default attribute for restrictions on bridge or time-dependent"
      enum:
      - include
      - exclude
      - ignore
      type: string
    HouseKeysFixedDurationStrategy:
      description: Sets the total duration to a fixed value, regardless of individual job durations.
      example:
        duration: 300
        type: fixedDuration
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
          description: The total duration in seconds.
        type:
          enum:
          - fixedDuration
          example: fixedDuration
          type: string
      required:
      - duration
      - type
      type: object
      x-maturity: alpha
    BalanceDistance:
      description: '**ALPHA** An objective to balance distance across all tours.'
      properties:
        options:
          $ref: '#/components/schemas/BalanceOptions'
        type:
          enum:
          - balanceDistance
          example: balanceDistance
          type: string
      required:
      - options
      - type
      type: object
      x-maturity: alpha
    VehicleBreak:
      description: 'A vehicle break time. It starts in the declared time window and can end after the time window (based on the duration).

        Either a rest time or a break can be specified.'
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        location:
          $ref: '#/components/schemas/RoutingLocation'
        policy:
          $ref: '#/components/schemas/VehicleBreakPolicy'
        times:
          $ref: '#/components/schemas/TimeWindows'
      required:
      - times
      - duration
      type: object
    MinimizeTourOverlap:
      description: '**ALPHA** An objective to produce less overlapping tours, that are more geographically separated and more compact'
      properties:
        alpha:
          description: 'A coefficient that controls the sensitivity of the termination criteria towards changes in

            this objective. Smaller values make the solver more sensitive to improvements and may result

            in longer run times. Default value is 0.014 when useRealDistance is set and 1.0 otherwise'
          example: 0.01
          format: double
          maximum: 1
          minimum: 1.0e-05
          type: number
        tolerance:
          description: A tolerance specifies how much objective values should differ in order to be considered as not-equal
          example: 0.1
          format: double
          maximum: 1
          minimum: 0
          type: number
        type:
          enum:
          - minimizeTourOverlap
          example: minimizeTourOverlap
          type: string
        useRealDistance:
          default: false
          description: 'Uses real street network distances instead of aerial distances, producing tours that conform

            to road topology and avoid splitting across obstacles like rivers or highways'
          example: false
          type: boolean
      required:
      - type
      type: object
      x-maturity: alpha
    UnassignedJob:
      description: Specifies an unassigned job and outlines [possible causes of unassignment](https://docs.here.com/tour-planning/docs/troubleshoot-unassigned-jobs).
      properties:
        jobId:
          $ref: '#/components/schemas/Id'
        reasons:
          description: 'A list of possible explanations for why a specific job may not have been assigned.


            | Code                                 | Reason                                                            |

            | ------------------------------------ | ----------------------------------------------------------------- |

            | `NO_REASON_FOUND`                    | No reason found                                                   |

            | `SKILL_CONSTRAINT`                   | Cannot be assigned due to required skill                          |

            | `TIME_WINDOW_CONSTRAINT`             | Cannot be assigned due to violation of time window                |

            | `CAPACITY_CONSTRAINT`                | Cannot be assigned due to capacity of vehicle                     |

            | `REACHABLE_CONSTRAINT`               | Location unreachable                                              |

            | `MAX_DISTANCE_CONSTRAINT`            | Cannot be assigned due to max distance constraint of vehicle      |

            | `SHIFT_TIME_CONSTRAINT`              | Cannot be assigned due to shift time constraint of vehicle        |

            | `LOCKING_CONSTRAINT`                 | Cannot be assigned due to relation lock                           |

            | `TOUR_ORDER_CONSTRAINT`              | Cannot be assigned due to tour order constraint                   |

            | `MAX_STOPS_CONSTRAINT`               | Cannot be assigned due to exceeding the maximum number of stops   |

            | `MIN_STOPS_CONSTRAINT`               | Cannot be assigned due to not reaching the minimum number of stops|

            | `BREAK_CONSTRAINT`                   | Break cannot be assigned                                          |

            | `AREA_CONSTRAINT`                    | Cannot be assigned due to area constraint                         |

            | `TERRITORY_CONSTRAINT`               | Cannot be assigned due to territory constraint                    |

            | `UNREACHABLE_IN_RELATION_CONSTRAINT` | Cannot be assigned due to relation constraint                     |

            | `MIXING_RESTRICTION_CONSTRAINT`      | Cannot be assigned due to mixing restriction constraint           |

            | `GROUP_CONSTRAINT`                   | Cannot be assigned due to group constraint                        |

            | `MAX_DRIVING_TIME_CONSTRAINT`        | Cannot be assigned due to max driving time constraint             |

            | `MAX_TIME_ON_VEHICLE_CONSTRAINT`     | Cannot be assigned due to max time on vehicle constraint          |'
          items:
            $ref: '#/components/schemas/UnassignedJobReason'
          minItems: 1
          type: array
      required:
      - jobId
      - reasons
      type: object
    Category:
      description: 'Specifies a job category used in conjunction with vehicle mixing restrictions to prevent incompatible goods from being transported together. Categories are user-defined and can represent goods types such as `perishable`, `electronics`, `food`, `flammable`, etc. When mixing restrictions are configured on a vehicle shift, jobs with conflicting categories cannot be assigned to the same tour or sub-tour, depending on the restriction level.


        For more information, see [Define mixed load restrictions](https://docs.here.com/tour-planning/docs/mixing-restrictions).'
      example: food
      maxLength: 64
      minLength: 1
      pattern: ^[a-zA-Z0-9_-]+$
      type: string
    VehicleFuel:
      description: 'Fuel parameters to be used for calculating consumption and related CO2 emission.

        These are not taken into account for optimization.

        **Note**: `speedFactor` parameter does not influence the fuel consumption and CO2 emission.'
      properties:
        additionalConsumption:
          description: Rate of fuel (in l/s for diesel, petrol & LPG, kg/s for CNG) consumed by the vehicle for any other reason additional to fuel consumption for speed.
          example: 1.8
          format: double
          minimum: 0
          type: number
        ascent:
          description: Rate of fuel consumed per meter rise in elevation (in l/m for diesel, petrol & LPG, kg/m for CNG).
          example: 0.1
          format: double
          minimum: 0
          type: number
        freeFlowSpeedTable:
          description: 'Function curve specifying consumption rate at a given speed.


            The format of the string is a comma-separated list of numbers, as follows:


            ```nocompile

            <SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>

            ```


            where speed values are strictly increasing, non-negative integers in units of (m/s), and

            consumption values are non-negative floating point values.


            | Vehicle Type         | Unit                             |

            | -------------------- | -------------------------------- |

            | Diesel, Petrol & LPG | l/m i.e., liters per meter       |

            | CNG                  | kg/m i.e., kilograms per meter   |


            The function is linearly interpolated between data points. For speeds less than `SPEED_0`

            the value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the

            value of the function is `CONSUMPTION_N`.'
          example: 0,0.00024,4,0.00024,10,0.00026,15,0.0002,19,0.00021,23,0.00024,26,0.00026,29,0.00026,32,0.0003,35,0.00034,38,0.00035
          type: string
        trafficSpeedTable:
          description: 'Function curve specifying consumption rate at a given traffic-reduced speed on a flat stretch of road.


            The format of the string is a comma-separated list of numbers, as follows:


            ```nocompile

            <SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>

            ```


            where speed values are strictly increasing, non-negative integers in units of (m/s), and

            consumption values are non-negative floating point values.


            | Vehicle Type         | Unit                             |

            | -------------------- | -------------------------------- |

            | Diesel, Petrol & LPG | l/m i.e., liters per meter       |

            | CNG                  | kg/m i.e., kilograms per meter   |


            The function is linearly interpolated between data points. For speeds less than `SPEED_0`

            the value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the

            value of the function is `CONSUMPTION_N`.'
          example: 0,0.00024,4,0.00024,10,0.00026,15,0.0002,19,0.00021,23,0.00024,26,0.00026,29,0.00026,32,0.0003,35,0.00034,38,0.00035
          type: string
        type:
          description: 'Vehicle fuel type (diesel, petrol, lpg, etc.) required for calculation of consumption and CO2 emission.

            '
          example: petrol
          type: string
          x-extensible-enum:
          - diesel
          - petrol
          - lpg
          - cng
          - lng
          - ethanol
          - propane
          - hydrogen
      required:
      - type
      - freeFlowSpeedTable
      type: object
    Location:
      description: 'Represents a geospatial location defined by latitude and longitude coordinates in WGS-84 format.

        Used to specify vehicle start and end positions, job locations, and other geographic points

        in tour planning.'
      properties:
        id:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'Specifies the location ID. Avoid referencing any sensitive or personal information, such

            as names, addresses, or information about a delivery or service. If specified and custom

            matrix provided, there is no need to pass latitude and longitude.'
        lat:
          description: Specifies the latitude coordinate in WGS-84 degrees.
          example: 52.53088
          format: double
          maximum: 90
          minimum: -90
          type: number
        lng:
          description: Specifies the longitude coordinate in WGS-84 degrees.
          example: 13.38471
          format: double
          maximum: 180
          minimum: -180
          type: number
      type: object
    Fleet:
      description: "Represents the [collection of vehicles](https://docs.here.com/tour-planning/docs/problem#fleet) used for\ncompleting the planned tours. Each vehicle in the fleet can have specific attributes, such as:\n  * Vehicle type (for example, truck, van, scooter)\n  * Capacity (for example, volume, weight)\n  * Operational costs\n  * Time shifts (availability times)\n  * Start and end locations\n  * Special features (for example, refrigeration, hazmat compliance)\n  * Routing profiles (for example, car, truck, bicycle)"
      properties:
        profiles:
          example:
          - name: normal_car
            type: car
          items:
            $ref: '#/components/schemas/Profile'
          maxItems: 5
          minItems: 1
          type: array
        traffic:
          default: automatic
          description: "Define how traffic is considered in route planning with the following [traffic modes](https://docs.here.com/tour-planning/docs/traffic-modes):\n  * **liveOrHistorical**: Uses live or historical traffic data based on the optional `departureTime`\n    property in a vehicle profile. For future times, it uses live data if within a 490 km radius; otherwise,\n    it uses historical data. For past times, it uses historical data. If you do not set the `departureTime`\n    value, the earliest shift start time is used instead.\n  * **historicalOnly**: Uses free-flow speeds based on historical traffic data. Applicable if you\n    want to avoid using live traffic data.\n  * **automatic**: Functions like `liveOrHistorical` if all coordinates are within a 490 km radius;\n    otherwise, it functions like `historicalOnly`. Applicable if you want to let the service\n    automatically decide the best option.\n\nYou can also set the traffic mode to `disabled` in the fleet's `profile.traffic` settings."
          enum:
          - liveOrHistorical
          - historicalOnly
          - automatic
          example: liveOrHistorical
          type: string
        types:
          description: 'Represents different categories of vehicles used to optimize routes and deliveries.

            These types can vary based on factors like capacity (how much a vehicle can carry), dimensions (size of the vehicle),

            and specific features (for example, refrigeration for perishable goods).


            The synchronous endpoint supports up to 35 vehicle types, while the

            asynchronous endpoint supports up to 150 vehicle types.'
          items:
            $ref: '#/components/schemas/VehicleType'
          minItems: 1
          type: array
      required:
      - types
      - profiles
      type: object
    VehicleReload:
      description: Specifies a place where vehicle can load or unload cargo.
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        location:
          $ref: '#/components/schemas/RoutingLocation'
        tag:
          $ref: '#/components/schemas/PlaceTag'
        times:
          $ref: '#/components/schemas/TimeWindows'
      required:
      - location
      - duration
      type: object
    Violations:
      description: '**ALPHA** Contains information about tour violations.'
      properties:
        timeWindows:
          $ref: '#/components/schemas/TimeWindowsViolations'
      type: object
      x-maturity: alpha
    ExperimentalFeatures:
      description: 'Lists the enabled [experimental features](https://docs.here.com/tour-planning/docs/experimental-features)

        that are still under development. These experimental features are provided for testing and feedback purposes, and their availability or functionality might change.'
      items:
        type: string
      minItems: 1
      type: array
    Exclude:
      description: Defines properties which will be strictly excluded from route calculation.
      properties:
        areas:
          items:
            $ref: '#/components/schemas/AvoidArea'
          maxItems: 250
          minItems: 1
          type: array
        countries:
          description: A list of country codes in ISO 3166-1 alpha-3 format to exclude from tour planning. The routes can be found only if any valid route exists within 200km of the center of the locations' distribution circle.
          items:
            $ref: '#/components/schemas/CountryCode'
          type: array
          uniqueItems: true
      type: object
    VehiclePlace:
      description: 'Represents a depot: a place where a vehicle starts or ends.'
      properties:
        location:
          $ref: '#/components/schemas/RoutingLocation'
        tag:
          $ref: '#/components/schemas/PlaceTag'
        time:
          $ref: '#/components/schemas/DateAndTime'
        timeOffset:
          description: 'The property `timeOffset` specifies an offset in seconds from given `time` property.

            For start place, it defines a maximum time offset for departure time optimization (but it is not more than

            maximum shift duration). So far, it has no effect for vehicle''s end place (reserved for a future usage).'
          example: 1800
          format: int64
          maximum: 86400
          minimum: 0
          type: integer
      required:
      - time
      type: object
    VehicleMaxStopsCountLimit:
      description: Hard limit on the maximum number of stops in a shift.
      properties:
        value:
          description: The maximum number of stops allowed in a vehicle shift.
          example: 1
          minimum: 1
          type: integer
      required:
      - value
      type: object
    Compartment:
      description: '**ALPHA** a definition of a compartment representing part of the vehicle load'
      properties:
        capacity:
          $ref: '#/components/schemas/Unit'
          description: Capacity of the compartment
        name:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: 'Name of the compartment, used for referencing the compartment,

            each compartment in the vehicle must be unique'
          example: compartmentA
      required:
      - name
      - capacity
      type: object
      x-maturity: alpha
    Pudo:
      description: '**BETA** Represents a specific location called [PUDO (or pick-up and drop-off point)](https://docs.here.com/tour-planning/docs/group-jobs#job-groups-with-pudos) where

        goods or passengers are picked up or dropped off as part of a tour. PUDOs help in streamlining the loading and unloading process to minimize travel distances and reduce the overall travel time.'
      properties:
        assignAt:
          description: 'Indicates whether the PUDO must be the first or last activity in the group.

            This helps in organizing the sequence of tasks efficiently.'
          enum:
          - first
          - last
          example: first
          type: string
        id:
          description: 'The [PUDO](https://docs.here.com/tour-planning/docs/group-jobs#job-groups-with-pudos) ID.

            This ID must be unique across the entire problem, including job IDs.'
          example: pudo1
          type: string
        places:
          description: 'List of locations that are available as pick-up and drop-off PUDOs. Assigning multiple locations as PUDOs

            allows for efficient task completion based on availability and convenience.'
          items:
            $ref: '#/components/schemas/PudoPlace'
          maxItems: 3
          minItems: 1
          type: array
      required:
      - id
      - assignAt
      - places
      type: object
      x-maturity: beta
    OptimizeTaskPosition:
      description: An objective to control position of job task activities in the tour. When specified, the task position is considered as a soft constraint and the solver tries to minimize amount of its violations.
      properties:
        isConstrained:
          default: false
          description: If the property is set to true, then order is enforced as hard constraint.
          example: false
          type: boolean
        type:
          enum:
          - optimizeTaskPosition
          example: optimizeTaskPosition
          type: string
      required:
      - type
      type: object
    RouteDetailsConfiguration:
      description: 'Include [route details](https://docs.here.com/tour-planning/docs/polylines) between each stop in the solution, in the [flexible polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md) format.

        For each stop (X), the polyline represents the route between that stop and the previous one (X-1).'
      example:
      - polyline
      items:
        type: string
        x-extensible-enum:
        - polyline
      minItems: 1
      type: array
    MaxDurationStrategy:
      description: 'Sets the cluster''s total duration to the longest job duration.

        This strategy is useful when multiple tasks for the same customer don''t significantly increase overall time.'
      example:
        type: maxDurationStrategy
      properties:
        type:
          enum:
          - maxDurationStrategy
          example: maxDurationStrategy
          type: string
      required:
      - type
      type: object
    MatrixId:
      description: '**ALPHA** Unique identifier (UUID) of the uploaded matrix'
      example: 87aec2ce-b697-11e8-96f8-529269fb1459
      maxLength: 36
      minLength: 36
      pattern: ^[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[1-5][0-9a-fA-F]{3}-[89abAB][0-9a-fA-F]{3}-[0-9a-fA-F]{12}$
      type: string
      x-maturity: alpha
    AvoidSegment:
      description: 'A segment identifier that routes will avoid going through. Each entry has the following structure: {segmentId}(#{direction})?


        The individual parts are:

        * segmentId: The identifier of the referenced topology segment, example: here:cm:segment:207551710

        * direction (optional): Either ''`*`'' for bidirectional (default), ''+'' for positive direction, or ''-'' for negative direction.


        Example of a parameter value excluding two segments: [\"here:cm:segment:207551710#+\", \"here:cm:segment:76771992#*\"]


        **Note**: Maximum amount of penalized segments in one request should not be greater than 250. A \"penalized segment\" refers to a

        segment that have a restrictions on maximum baseSpeed with maxSpeedOnSegment or avoided with avoid[segments]'
      example: here:cm:segment:207551710
      pattern: ^[A-Za-z0-9-]+:[A-Za-z0-9-]+:segment:[0-9]+(#\+|#\*|#\-)?$
      type: string
    VehicleJobCost:
      description: '**ALPHA** Per-job cost function on vehicle costs.'
      properties:
        overrides:
          description: Optional overrides for specific jobs. If a job ID matches, the override cost is used directly.
          items:
            $ref: '#/components/schemas/JobCostOverride'
          minItems: 1
          type: array
        rate:
          $ref: '#/components/schemas/JobCostRate'
          description: Rate multiplied by job's costFactor. Cost per job = costFactor × rate.
      required:
      - rate
      type: object
      x-maturity: alpha
    Statistic:
      description: 'Provides [metrics](https://docs.here.com/tour-planning/docs/solution#statistic) about

        the performance and efficiency of vehicles across all tours. These metrics include a range of data, offering

        insights into the costs, distances, and durations that are associated with the optimized route.'
      properties:
        co2Emission:
          description: 'The estimated CO2 emissions for this section of the route that are calculated based on the fuel type and consumption.

            The unit of measurement is kilograms.'
          example: 5.761
          format: double
          type: number
        consumption:
          description: 'The estimated [net fuel consumption](https://docs.here.com/tour-planning/docs/co-emissions) that is measured in distinct units for different types of fuel.

            For diesel, petrol, and Liquefied Petroleum Gas (LPG) vehicles, fuel consumption is expressed in liters.

            In contrast, Compressed Natural Gas (CNG) vehicles use kilograms to measure their fuel consumption.'
          example: 2.1821
          format: double
          type: number
        cost:
          description: Represents the total cost of all tours within a solution, calculated in abstract units.
          example: 1024
          format: double
          minimum: 0
          type: number
        costs:
          allOf:
          - $ref: '#/components/schemas/CostStatistics'
          description: Breakdown of cost into individual components. Only present fields contribute to the total cost.
          x-maturity: alpha
        distance:
          description: Indicates the cumulative distance, measured in meters, that all vehicles have traveled across all tours.
          example: 32000
          format: int64
          minimum: 0
          type: integer
        duration:
          $ref: '#/components/schemas/Duration'
        intraStopDistance:
          description: 'The total distance (in meters) between activities inside all the Stops plus the way back to the

            stop locations.'
          example: 1024
          format: int64
          minimum: 0
          type: integer
        times:
          $ref: '#/components/schemas/Timing'
        violations:
          $ref: '#/components/schemas/Violations'
      required:
      - cost
      - distance
      - duration
      - times
      type: object
    VehicleShiftMixingRestrictions:
      description: Enables the prevention of mixing conflicting jobs within a single vehicle.
      properties:
        level:
          enum:
          - tour
          - subTour
          example: tour
          type: string
        restrictions:
          description: Represents a set of conflicting job categories.
          items:
            $ref: '#/components/schemas/MixingRestrictionSet'
          maxItems: 100
          minItems: 1
          type: array
      required:
      - level
      - restrictions
      type: object
    VehicleCharging:
      description: '**ALPHA** Specifies vehicle charging properties.'
      example:
        evProfileId: '10'
        maxCharge: 80
        minCharge: 20
        setupDuration: 300
      properties:
        evProfileId:
          allOf:
          - $ref: '#/components/schemas/Id'
          description: Identifier of the electric vehicle profile from HERE EV Profiles Service that contains information about the vehicle's battery capacity, consumption rates, and charging capabilities.
        initialCharges:
          items:
            $ref: '#/components/schemas/VehicleInitialCharge'
          minItems: 1
          type: array
          uniqueItems: true
        maxCharge:
          description: Target battery charge level (in percentage) at which charging should stop.
          example: 80
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        maxDistance:
          description: Maximum traveled distance before charging station has to be visited (in meters).
          example: 10000
          format: int32
          maximum: 10000000
          minimum: 1
          type: integer
        minCharge:
          description: Minimum battery charge level (in percentage) below which the vehicle must visit a charging station.
          example: 20
          format: int32
          maximum: 100
          minimum: 0
          type: integer
        setupDuration:
          $ref: '#/components/schemas/Duration'
        usePublicStations:
          default: true
          description: Whether to use public charging stations for this vehicle type. Default is true.
          type: boolean
      type: object
      x-maturity: alpha
    TruckOptions:
      allOf:
      - $ref: '#/components/schemas/VehicleOptions'
      description: Specifies truck profile options. Supported only if the locations' distribution radius is less than 490 km. If not added, only generic truck restrictions are applied and the fastest speed category is considered.
    VehicleStopsLimit:
      description: 'Limits on the amount of stops a vehicle of that type can perform in a shift. A stop is only counted

        if at least one pickup or delivery is performed as part of that stop.

        An initial/final stop at the depot is never counted to the number of stops.'
      example:
        maxCount:
          value: 13
        minCount:
          value: 5
      properties:
        maxCount:
          $ref: '#/components/schemas/VehicleMaxStopsCountLimit'
        minCount:
          $ref: '#/components/schemas/VehicleMinStopsCountLimit'
      type: object
    EagerDeliveryOptions:
      description: "**ALPHA** Specifies if the eager delivery feature is active. Here 'eager' means that the delivery driver will\ntry to perform jobs 'on the way there' and not 'on the way back'. As an example, consider the street network\n\n```markdown\n         D\n         |\n    A----B----C\n```\nand the driver starting at A. If the eager delivery feature is enabled, the driver will prefer to serve the jobs\nin the order ABCD even if ACBD might have slightly better cost."
      properties:
        additionalWeightAtFirstEdge:
          description: Scaling factor that decreases monotonically as the tour goes on.
          example: 0.5
          format: double
          type: number
        enabled:
          description: Whether the eager delivery feature is enabled.
          example: true
          type: boolean
        improvementThreshold:
          description: How big the improvement must be w.r.t. 'eagerness' for us to consider allowing a degradation of the cost.
          example: 0.1
          format: double
          type: number
        tieThreshold:
          description: How much we are willing to give w.r.t. cost to get more 'eager' tours.
          example: 0.1
          format: double
          type: number
      required:
      - enabled
      type: object
      x-maturity: alpha
    RouteViolation:
      description: 'Defines route violation. Violation happens only if no feasible route without violations between i and j was found

        - `all`: Includes all violations, such as traffic violations, car restrictions, etc.

        - `traffic`: **ALPHA** Deprecated, please use violationMapping instead. Includes only traffic violations, such as closed roads, bridges, etc. This option is only available for the `car` or `truck` profile.

        - `category1`: Includes only category 1 violations, see `violationMapping` property for details.

        - `category2`: Includes only category 2 violations, see `violationMapping` property for details.

        - `allExceptCategory1`: Ignores all violations except category 1 violations.

        - `allExceptCategory2`: Ignores all violations except category 2 violations.

        - `allExceptCategory1AndCategory2`: Ignores all violations except category 1 and category 2 violations.'
      enum:
      - all
      - traffic
      - category1
      - category2
      - allExceptCategory1
      - allExceptCategory2
      - allExceptCategory1AndCategory2
      example: all
      type: string
    PlaceTag:
      description: 'An optional free-text field submitted as part of the problem request, providing additional information related to the task''s place for easier identification or categorization. A user-defined tag associated with a given place that is propagated back within the solution. Use it to distinguish between different job places.


        Do not include any personal information within the `PlaceTag`. For example, avoid using specific names of individuals associated with the place.'
      example: some_tag
      maxLength: 128
      minLength: 1
      pattern: ^[a-zA-Z0-9_-]+$
      type: string
    VehicleRestTime:
      description: '**BETA** Defines rest times for a vehicle shift for driving, working and duty.

        Either a rest time or a break can be specified.'
      properties:
        driving:
          $ref: '#/components/schemas/VehicleDrivingRestTime'
        dutyRule:
          $ref: '#/components/schemas/VehicleDutyRestTime'
        working:
          $ref: '#/components/schemas/VehicleWorkingRestTime'
      type: object
      x-maturity: beta
    TieBreakObj:
      description: '**ALPHA** A single objective as a part of the TieBreak objective. Note that the objective must not be a composite objective itself. It is, e.g., not possible to put another TieBreak objective here.'
      properties:
        improvementThreshold:
          description: 'If the decision was delegated to this objective by a higher-level objective, two solutions

            must differ by at least this threshold in order to select one over the other.'
          example: 0.1
          format: double
          maximum: 1
          minimum: 0
          type: number
        objective:
          $ref: '#/components/schemas/AsTieBreakObjective'
        tieThreshold:
          description: If two solutions are within the given threshold for this objective, the decision will be delegated to the next objective in the list.
          example: 0.05
          format: double
          maximum: 1
          minimum: 0
          type: number
      required:
      - objective
      type: object
      x-maturity: alpha
    HouseKeysStrategy:
      description: Specifies the duration strategy for house keys.
      discriminator:
        mapping:
          boundedSum: '#/components/schemas/HouseKeysBoundedSumStrategy'
          fixedDuration: '#/components/schemas/HouseKeysFixedDurationStrategy'
          maxDuration: '#/components/schemas/HouseKeysMaxDurationStrategy'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/HouseKeysMaxDurationStrategy'
      - $ref: '#/components/schemas/HouseKeysFixedDurationStrategy'
      - $ref: '#/components/schemas/HouseKeysBoundedSumStrategy'
      x-maturity: alpha
    Objective:
      discriminator:
        mapping:
          minimizeCost: '#/components/schemas/MinimizeCost'
          minimizeDistance: '#/components/schemas/MinimizeDistance'
          minimizeDuration: '#/components/schemas/MinimizeDuration'
          minimizeUnassigned: '#/components/schemas/MinimizeUnassigned'
          optimizeTaskOrder: '#/components/schemas/OptimizeTaskOrder'
          optimizeTaskPosition: '#/components/schemas/OptimizeTaskPosition'
          optimizeTourCount: '#/components/schemas/OptimizeTourCount'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/MinimizeUnassigned'
      - $ref: '#/components/schemas/MinimizeCost'
      - $ref: '#/components/schemas/OptimizeTourCount'
      - $ref: '#/components/schemas/OptimizeTaskOrder'
      - $ref: '#/components/schemas/MinimizeDistance'
      - $ref: '#/components/schemas/MinimizeDuration'
      - $ref: '#/components/schemas/OptimizeTaskPosition'
    MaximizeTerritoryJobs:
      description: '**ALPHA** An objective to achieve desired jobs distribution between vehicles considering the territories in which these vehicles operate.'
      properties:
        type:
          enum:
          - maximizeTerritoryJobs
          example: maximizeTerritoryJobs
          type: string
      required:
      - type
      type: object
      x-maturity: alpha
    IgnoreRouteViolations:
      description: Defines vehicle routing violations (like closed road, no-through zone) that should be ignored.
      items:
        $ref: '#/components/schemas/RouteViolation'
      maxItems: 2
      minItems: 1
      type: array
      uniqueItems: true
    VehicleDutyRestTime:
      description: '**ALPHA** Defines duty rest time'
      discriminator:
        mapping:
          fixedDuration: '#/components/schemas/VehicleFixedDutyRestTime'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/VehicleFixedDutyRestTime'
      x-maturity: alpha
    JobPositionInTour:
      description: 'Specifies the position of the job task in the tour. Use the `position` property to control the

        serving order of tasks within a tour. Job tasks with a `position` property are scheduled earlier

        in the route than job tasks without one, except for tasks with `position` set to `last`,

        which are always assigned last.


        The following position types are supported:


        - `first`: Schedules the task immediately after departure, before all other tasks.

        - `last`: Schedules the task at the end of the tour, after all other tasks.

        - `any`: Schedules the task anywhere in the tour between `first` and `last` tasks.

        - `ordered`: Schedules the task after `first` and before `last` tasks, according to a numeric `value`, where lower values are served earlier.


        **Note**: The `position` property does not affect whether a job is assigned. To influence assignment priority, use the `priority` property.


        For more information, see [Control job task position](https://docs.here.com/tour-planning/docs/job-task-order).'
      discriminator:
        mapping:
          any: '#/components/schemas/JobPositionAny'
          first: '#/components/schemas/JobPositionFirst'
          last: '#/components/schemas/JobPositionLast'
          ordered: '#/components/schemas/JobPositionOrdered'
        propertyName: type
      oneOf:
      - $ref: '#/components/schemas/JobPositionFirst'
      - $ref: '#/components/schemas/JobPositionLast'
      - $ref: '#/components/schemas/JobPositionAny'
      - $ref: '#/components/schemas/JobPositionOrdered'
    JobTasks:
      description: 'Tasks refer to specific actions that need to be performed as part of a job, such as pickups or

        deliveries at designated locations. Each job can consist of up to three pickup tasks and three

        delivery tasks. The order of execution inside each group can be any. At least one task must be

        specified as part of a job.


        **Note**: All pickups are done before any other delivery.'
      example:
        deliveries:
        - demand:
          - 10
          places:
          - duration: 300
            location:
              lat: 52.54016
              lng: 13.40241
            times:
            - - '2020-07-04T14:00:00Z'
              - '2020-07-04T16:00:00Z'
        pickups:
        - demand:
          - 10
          places:
          - duration: 180
            location:
              lat: 52.53088
              lng: 13.38471
            times:
            - - '2020-07-04T10:00:00Z'
              - '2020-07-04T12:00:00Z'
      properties:
        deliveries:
          items:
            $ref: '#/components/schemas/JobTask'
          maxItems: 3
          minItems: 1
          type: array
        pickups:
          items:
            $ref: '#/components/schemas/JobTask'
          maxItems: 3
          minItems: 1
          type: array
      type: object
    ShippedHazardousGoods:
      description: "List of hazardous materials in the vehicle.\n * explosive: Explosive material\n * gas: Gas\n * flammable: Flammable material\n * combustible: Combustible material\n * organic: Organic material\n * poison: Poison\n * radioactive: Radioactive material\n * corrosive: Corrosive material\n * poisonousInhalation: Materials that are poisonous upon inhalation\n * harmfulToWater: Materials that are harmful to water\n * other: Other types of hazardous materials"
      enum:
      - explosive
      - gas
      - flammable
      - combustible
      - organic
      - poison
      - radioactive
      - corrosive
      - poisonousInhalation
      - harmfulToWater
      - other
      type: string
    VehicleCosts:
      description: Defines different vehicle costs per unit.
      properties:
        distance:
          description: A cost per meter. It is optional with a default value of zero.
          example: 0.0001
          format: double
          maximum: 100000
          minimum: 0
          type: number
        excessCosts:
          allOf:
          - $ref: '#/components/schemas/ExcessCosts'
          x-maturity: beta
        fixed:
          description: A fixed cost to start using vehicle of this type. It is optional with a default value of zero
          example: 22
          format: double
          maximum: 100000
          minimum: 0
          type: number
        perJob:
          $ref: '#/components/schemas/VehicleJobCost'
        perWaitingTime:
          description: A cost per second for waiting times. If not set, a regular time cost is used.
          example: 0.01
          format: double
          maximum: 100000
          minimum: 0
          type: number
        time:
          description: 'A cost per second. It is optional with a default value of zero. Both time and distance costs

            cannot be specified as 0. If time and distance costs are not specified at all, then a small

            time cost 0.00000000001 will be used instead.'
          example: 0.0048
          format: double
          maximum: 100000
          minimum: 0
          type: number
      type: object
    Timing:
      description: 'Contains detailed time consumption information for various activity types during a tour.

        All durations are in seconds and represent the total time spent on different activities.

        Includes driving time between locations, serving time for job activities, waiting time to meet

        time window constraints, stopping time, break time, and intra-stop time.'
      example:
        break: 1200
        driving: 3600
        serving: 600
        stopping: 100
        waiting: 180
      properties:
        break:
          $ref: '#/components/schemas/Duration'
        charging:
          $ref: '#/components/schemas/Duration'
        driving:
          $ref: '#/components/schemas/Duration'
        intraStop:
          $ref: '#/components/schemas/Duration'
        serving:
          $ref: '#/components/schemas/Duration'
        stopping:
          $ref: '#/components/schemas/Duration'
        waiting:
          $ref: '#/components/schemas/Duration'
      required:
      - driving
      - serving
      - waiting
      - break
      - stopping
      type: object
    ServeInClusters:
      description: '**ALPHA** An objective to serve jobs in clusters'
      properties:
        maxClusterRadius:
          default: 800
          description: 'Specifies a radius in meters in which job locations are clustered. Jobs in the same cluster

            are served consecutively before moving on the next cluster. Suitable values for the parameter

            depend on the job distribution and need to be tuned until satisfactory results are achieved.'
          example: 300
          format: int64
          maximum: 100000
          minimum: 10
          type: integer
        type:
          enum:
          - serveInClusters
          example: serveInClusters
          type: string
      required:
      - type
      type: object
      x-maturity: alpha
    ViolationMappingItemAvoidAreasAndSegments:
      description: 'Allows the mapping of user specified avoidance of areas or individual segments.

        This type of mapping is supported for transport modes `car` and `truck`.'
      properties:
        category:
          $ref: '#/components/schemas/ViolationMappingCategory'
        type:
          enum:
          - avoidAreasAndSegments
          example: avoidAreasAndSegments
          type: string
      required:
      - category
      - type
      type: object
    VehicleShift:
      description: Specifies how vehicle should operate in one work shift.
      example:
        breaks:
        - duration: 1800
          times:
          - - '2020-07-04T11:00:00Z'
            - '2020-07-04T13:00:00Z'
        - duration: 900
          times:
          - - '2020-07-04T15:00:00Z'
            - '2020-07-04T16:00:00Z'
        end:
          location:
            lat: 52.5256
            lng: 13.4542
          time: '2020-07-04T18:00:00Z'
        start:
          location:
            lat: 52.5256
            lng: 13.4542
          time: '2020-07-04T09:00:00Z'
      properties:
        breaks:
          items:
            $ref: '#/components/schemas/VehicleBreak'
          maxItems: 5
          minItems: 1
          type: array
        end:
          $ref: '#/components/schemas/VehiclePlace'
        mixingRestrictions:
          $ref: '#/components/schemas/VehicleShiftMixingRestrictions'
        reloads:
          items:
            $ref: '#/components/schemas/VehicleReload'
          maxItems: 5
          minItems: 1
          type: array
        restTimes:
          $ref: '#/components/schemas/VehicleRestTime'
        start:
          $ref: '#/components/schemas/VehiclePlace'
        stopBaseDuration:
          description: 'A constant duration of time, in seconds, added at stops. This can be used to model, for example,

            vehicle parking time, vehicle preparation for loading/unloading or some facility entrance procedures.'
          properties:
            type:
              enum:
              - oncePerStop
              example: oncePerStop
              type: string
            value:
              default: 0
              description: The duration, in seconds, added per stop
              example: 10
              format: double
              maximum: 36000
              minimum: 0
              type: number
          required:
          - type
          - value
          type: object
        stopConfig:
          $ref: '#/components/schemas/StopConfig'
        stopConfiguration:
          $ref: '#/components/schemas/StopConfiguration'
      required:
      - start
      type: object
    AvoidRoutes:
      description: Avoid routes that violate these properties.
      properties:
        areas:
          items:
            $ref: '#/components/schemas/AvoidArea'
          maxItems: 250
          minItems: 1
          type: array
        features:
          items:
            $ref: '#/components/schemas/AvoidFeatures'
          type: array
          uniqueItems: true
        segments:
          items:
            $ref: '#/components/schemas/AvoidSegment'
          maxItems: 250
          minItems: 1
          type: array
          uniqueItems: true
        truckRoadTypes:
          items:
            $ref: '#/components/schemas/AvoidTruckRoadType'
          minItems: 1
          type: array
          uniqueItems: true
        zoneCategories:
          properties:
            categories:
              items:
                $ref: '#/components/schemas/AvoidZoneCategory'
              minItems: 1
              type: array
              uniqueItems: true
            exceptZoneIds:
              items:
                $ref: '#/components/schemas/AvoidZone'
              minItems: 1
              type: array
              uniqueItems: true
          required:
          - categories
          type: object
        zoneIdentifiers:
          items:
            $ref: '#/components/schemas/AvoidZone'
          minItems: 1
          type: array
          uniqueItems: true
      type: object
    ViolationMappingItemTraffic:
      description: 'Allows the mapping of traffic related blockages.

        Mapping of traffic blockages is supported for transport modes `car` and `truck`.'
      properties:
        bridge:
          allOf:
          - $ref: '#/components/schemas/ViolationMappingOptionalField'
          default: ignore
          description: 'Specifies whether the violation is considered only if it occurs on a

            bridge, only if it does not occur on a bridge, or in both cases.'
        category:
          $ref: '#/components/schemas/ViolationMappingCategory'
        type:
          enum:
          - traffic
          example: traffic
          type: string
      required:
      - category
      - type
      type: object
    ViolationMappingItemRestriction:
      description: 'Allows the mapping of violations of selected restrictions.

        Mapping of violated restrictions is supported for transport mode `truck`.


        For the type of `restriction`, at least one of the concrete restrictions, e.g., `grossWeight`,

        `currentWeight` or `height`, must be specified with value `include` or `ignore`. For example:

        -  `{ "category": "category1", "type": "restriction", "grossWeight": "include" }`

        -  `{ "category": "category1", "type": "restriction", "height": "ignore" }`'
      properties:
        bridge:
          allOf:
          - $ref: '#/components/schemas/ViolationMappingOptionalField'
          default: ignore
          description: 'Specifies whether the violation is considered only if it occurs on a

            bridge, only if it does not occur on a bridge, or in both cases.'
        category:
          $ref: '#/components/schemas/ViolationMappingCategory'
        currentWeight:
          allOf:
          - $ref: '#/components/schemas/ViolationMappingOptionalField'
          default: exclude
          description: 'Indicates whether current weight violation is included or excluded

            for this category.


            **NOTE:** A weight restriction can be of type `unknown`, meaning it

            may apply to either gross or current weight. If both the vehicle’s

            current_weight and gross_weight violate an `unknown` weight restriction,

            and the user requests a violation mapping for only one of them

            (e.g., using gross_weight:include or current_weight:include), the

            service will assign the `unknown` weight restriction to the included

            weight type.

            Similarly, if either the vehicle’s current_weight or gross_weight

            violates an `unknown` weight restriction, the service will assign

            the `unknown` weight restriction to the specific weight type that

            exceeds the allowed limit.For example:

            * gross_weight=15000, current_weight=10000

            * weight_restriction_type=Unknown with value 12000

            * Since gross_weight (15,000) exceeds the restriction (12,000),

            the `unknown` weight restriction will be mapped to gross_weight

[...]
