{"openapi":"3.0.2","info":{"title":"HERE Traffic Raster Tile API v3","version":"3.2.0","description":"The HERE Traffic Raster Tile API v3 is a REST API that allows you to request map tile images with traffic information for all regions in the world where HERE provides traffic data.","termsOfService":"https://developer.here.com/terms-conditions","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"externalDocs":{"description":"The developer guide, migration guide and release notes are available here.","url":"https://www.here.com/docs/category/traffic-raster-tile-api"},"security":[{"Bearer":[]},{"ApiKey":[]}],"servers":[{"url":"https://traffic.maps.hereapi.com/v3"}],"tags":[{"name":"Tiles","description":"Endpoints to request tiles"},{"name":"Metadata","description":"Endpoints to request API metadata"},{"name":"API Information","description":"Endpoints to request status of the API"}],"paths":{"/{resource}/{projection}/{zoom}/{column}/{row}/{format}":{"get":{"operationId":"HERE Traffic Raster Tile API v3 getTile","description":"Map tile in requested format.","summary":"Retrieves the rendered map tile in requested format.","tags":["Tiles"],"parameters":[{"$ref":"#/components/parameters/ResourceParam"},{"$ref":"#/components/parameters/ProjectionParam"},{"$ref":"#/components/parameters/ZoomParam"},{"$ref":"#/components/parameters/ColumnParam"},{"$ref":"#/components/parameters/RowParam"},{"$ref":"#/components/parameters/FormatParam"},{"$ref":"#/components/parameters/MinTrafficCongestionParam"},{"$ref":"#/components/parameters/StyleParam"},{"$ref":"#/components/parameters/PpiParam"},{"$ref":"#/components/parameters/XRequestIdParam"},{"$ref":"#/components/parameters/IfModifiedSinceParam"},{"$ref":"#/components/parameters/IfNoneMatchParam"},{"$ref":"#/components/parameters/SizeParam"}],"responses":{"200":{"description":"OK - Requested resource is returned","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"LastModified":{"$ref":"#/components/headers/Last-Modified"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"image/png":{"schema":{"type":"string","format":"binary"}},"image/jpg":{"schema":{"type":"string","format":"binary"}}}},"304":{"description":"The resource cached in the client (identified by the If-Modified-Since or If-None-Match header) has not changed.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/info":{"get":{"operationId":"HERE Traffic Raster Tile API v3 getInfo","summary":"Map version information","description":"Returns the map version. This version is valid only for 24h at maximum.\n","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"responses":{"200":{"description":"OK - Information about the catalog and map version returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"},"Cache-Control":{"$ref":"#/components/headers/Cache-Control"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/openapi":{"get":{"operationId":"HERE Traffic Raster Tile API v3 getOpenAPI","summary":"OpenAPI 3.0 definition.","description":"Returns the OpenAPI 3.0 definition of this API.","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"responses":{"200":{"description":"OK - OpenAPI file returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"type":"object"}}}},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/version":{"get":{"operationId":"HERE Traffic Raster Tile API v3 getVersion","summary":"API version information","description":"Returns version information of the API Specification.","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/health":{"get":{"operationId":"HERE Traffic Raster Tile API v3 getHealth","summary":"Health status of the service","description":"Returns the health of the service","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"responses":{"200":{"description":"Health response in case of success.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOk"}}}},"default":{"description":"Health response in case of failure.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFail"}}}}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information, see the [https://developer.here.com/documentation/identity-access-management/dev_guide/index.html](Identity & Access Management Guide).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the\n[https://developer.here.com/documentation/identity-access-management/dev_guide/index.html](Identity & Access Management Guide).\n"}},"parameters":{"ColumnParam":{"in":"path","name":"column","required":true,"description":"Any number between `0` and `number of columns - 1`, both inclusive.\n\nThe number of tiles per column is a function of the zoom: number of columns = 2^zoom.\n\n[0,0] (col,row) corresponds to top left of a typical western map.\n","example":4400,"schema":{"type":"integer","minimum":0,"maximum":1048576}},"FormatParam":{"in":"path","name":"format","required":true,"description":"Returned image format. The supported image formats can be retrieved by querying /info.\n","example":"png","schema":{"$ref":"#/components/schemas/FormatSchema"}},"IfModifiedSinceParam":{"in":"header","name":"If-Modified-Since","required":false,"example":"12345","description":"A HTTP-date as defined by [RFC-7232](https://datatracker.ietf.org/doc/html/rfc7232.html#page-16). Makes a GET request conditional based on whether the traffic data has changed since that date or not. See `304` response of getTile operation for more details.\nExample: 'Sat, 11 Dec 2021 19:43:31 GMT'.\n","schema":{"type":"string"}},"IfNoneMatchParam":{"in":"header","name":"If-None-Match","required":false,"example":"12345","description":"Specifies an entity tag of the resource cached in the client.\nSee `304` response of getTile operation for more details.\n","schema":{"type":"string"}},"MinTrafficCongestionParam":{"in":"query","name":"minTrafficCongestion","required":false,"description":"Only display traffic from a certain congestion level.\n","example":"free","schema":{"$ref":"#/components/schemas/MinTrafficCongestionSchema"}},"PpiParam":{"in":"query","name":"ppi","required":false,"description":"Pixels per inch. Has no effect on the rendered flow tile, but is accepted as a parameter to align with the Raster Tile API.\nPlease see https://www.here.com/docs/bundle/raster-tile-api-v3-api-reference/page/index.html#tag/Tiles/operation/getTile.\n","example":100,"schema":{"type":"integer","default":100,"enum":[100,200,400]}},"ProjectionParam":{"name":"projection","in":"path","example":"mc","required":true,"description":"Specifies the tile projection. The available projections can be retrieved by querying /info\n  * mc - Mercator Projection\n","schema":{"$ref":"#/components/schemas/ProjectionSchema"}},"ResourceParam":{"name":"resource","in":"path","required":true,"description":"Specifies the resource that is requested supported values are listed in 'info' resource.\n","example":"flow","schema":{"$ref":"#/components/schemas/ResourceSchema"}},"RowParam":{"in":"path","name":"row","required":true,"description":"Any number between `0` and `number of rows - 1`, both inclusive.\n\nThe number of tiles per row is a function of the zoom: `number of rows = 2^zoom`.\n\n[0,0] (col,row) corresponds to top left of a typical western map.\n","example":2686,"schema":{"type":"integer","minimum":0,"maximum":1048576}},"StyleParam":{"in":"query","name":"style","required":false,"description":"If present, selects the style to use to render the tile. The possible values are listed in 'info' resource.\n\nNote: When not provided a default style is selected\n","example":"explore.day","schema":{"$ref":"#/components/schemas/StyleSchema"}},"XRequestIdParam":{"name":"X-Request-ID","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"},"ZoomParam":{"in":"path","name":"zoom","required":true,"description":"Zoom level of the map image. Minimum and maximum zoom levels are specified in the 'info' resource.\n","example":13,"schema":{"type":"integer"}},"SizeParam":{"in":"query","name":"size","required":false,"description":"Image size in pixels. The supported image size values can be retrieved by querying /info.\n","example":512,"schema":{"type":"integer","default":512}}},"schemas":{"ErrorResponseDetailsSchema":{"type":"object","description":"Detailed information about the error","properties":{"message":{"type":"string","description":"Error message","example":"output parameter match none of the supported values"}}},"ErrorResponseSchema":{"type":"object","description":"Response in case of error","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.","example":"E624002"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"ForbiddenErrorSchema":{"type":"object","description":"Custom error response schema returned by authentication","properties":{"error":{"type":"string","pattern":"^Forbidden$","example":"Forbidden"},"error_description":{"type":"string"}}},"FormatSchema":{"type":"string","description":"Supported image format","example":"png"},"FormatsSchema":{"description":"List of supported formats","type":"array","items":{"$ref":"#/components/schemas/FormatSchema"},"example":["png"]},"HealthResponseFail":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}}},"HealthResponseOk":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok"]}}},"InfoSchema":{"type":"object","properties":{"imageFormats":{"$ref":"#/components/schemas/FormatsSchema"},"imageSizes":{"$ref":"#/components/schemas/SizesSchema"},"mapVersion":{"$ref":"#/components/schemas/MapVersionSchema"},"resources":{"$ref":"#/components/schemas/ResourcesSchema"},"projections":{"$ref":"#/components/schemas/ProjectionsSchema"},"styles":{"$ref":"#/components/schemas/StylesSchema"},"zoomLevels":{"$ref":"#/components/schemas/ZoomLevelsSchema"}}},"MapVersionSchema":{"description":"The current map version.","type":"string","pattern":"^\\d+\\.\\d+\\.\\d+\\.\\d+$","example":"2022.206.14.18"},"MinTrafficCongestionSchema":{"description":"Minimal level of traffic to be rendered. Valid levels are:\n\n* `free` - Render from free-flowing traffic (green). This is default\n* `heavy` - Render from heavy traffic (yellow)\n* `queuing` - Render from queuing traffic (red)\n* `blocked` - Render only blocking traffic (black)\n","type":"string","enum":["free","heavy","queuing","blocked"],"example":"queuing"},"ProjectionSchema":{"type":"string","example":"mc","description":"The projection used when rendering tiles"},"ProjectionsSchema":{"type":"array","description":"List of available projections","items":{"$ref":"#/components/schemas/ProjectionSchema"},"example":["mc"]},"ResourceSchema":{"description":"Name of the tile resource. Valid names are:\n* `flow` - traffic flow lines on transparent tiles\n","type":"string","enum":["flow"],"example":"flow"},"ResourcesSchema":{"description":"List of available resources","type":"array","items":{"$ref":"#/components/schemas/ResourceSchema"},"example":["flow"]},"StyleSchema":{"type":"string","example":"explore.day"},"StylesSchema":{"type":"array","description":"List of available styles","items":{"$ref":"#/components/schemas/StyleSchema"},"example":["explore.day"]},"UnauthorizedErrorSchema":{"type":"object","description":"Custom error response schema returned by authentication","properties":{"error":{"type":"string","pattern":"^Unauthorized$","example":"Unauthorized"},"error_description":{"type":"string"}}},"VersionResponse":{"description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","pattern":"^[0-9]+\\.[0-9]+(\\.[0-9]+)?$"},"serviceVersion":{"type":"string","description":"The current version of the service.","pattern":"^((\\w+-)+\\w{8})|(\\d+\\.+\\d+\\.+\\d+)$"},"dataVersions":{"type":"array","description":"List of data sources and their versions used by the service.","items":{"type":"object","properties":{"name":{"type":"string","description":"The name or HRN (HERE Resource Name) of the data source.","example":"hrn:here:data::olp-here:rib-2"},"version":{"type":"string","description":"The version of the data source.","example":"8063"}},"required":["name","version"]}}},"required":["apiVersion"]},"ZoomLevelsSchema":{"type":"object","description":"The range of available zoom levels","properties":{"max":{"type":"integer","description":"The maximum value for the zoom parameter"},"min":{"type":"integer","description":"The minimum value for the zoom parameter"}}},"SizeSchema":{"type":"integer","description":"Supported image size","example":512},"SizesSchema":{"description":"List of supported image sizes","type":"array","items":{"$ref":"#/components/schemas/SizeSchema"}}},"headers":{"ETag":{"description":"Entity tag. Version of the provided tile.","schema":{"type":"string"}},"Last-Modified":{"description":"A HTTP-date, carrying the update time of the returned traffic data. To avoid unnecessary transfer of tiles that haven't changed, use this value in a `If-Modified-Since` request header for the next request. See `304` response of getTile operation for more details.\nExample: 'Sat, 11 Dec 2021 19:43:31 GMT'.\n","schema":{"type":"string"}},"X-Correlation-ID":{"description":"Auto-generated ID, which uniquely identifies the request, available in the response. When contacting the support with an inquiry regarding a specific request, provide the value of this header. This will help troubleshooting the issue.\n","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-ID":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service. This can be any string but UUID is preferred.\n","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"},"Cache-Control":{"description":"Specifies how the response can be cached. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control\n","schema":{"type":"string"},"example":"max-age=3600"}},"responses":{"ErrorResponse":{"description":"API response in case of errors.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponseSchema"}]}}}},"ForbiddenError":{"description":"Access token do not authorize access.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ForbiddenErrorSchema"}]}}}},"UnauthorizedError":{"description":"Access token is missing or invalid.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UnauthorizedErrorSchema"}]}}}}}}}