{"openapi":"3.0.2","info":{"title":"HERE Raster Tile API v3","description":"The HERE Raster Tile API v3 is a REST API that allows you to request map tile images for all regions in the world.\nThese map tiles, when combined in a grid, form a complete map of the world.\n","version":"3.0.4","termsOfService":"https://legal.here.com/en-gb/terms/here-platform","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"externalDocs":{"description":"The Developer guide, Release notes, and Migration guide are available here.","url":"https://docs.here.com/map-rendering/docs/introduction-raster-tile-api"},"servers":[{"url":"https://maps.hereapi.com/v3","description":"Production"}],"security":[{"Bearer":[]},{"ApiKey":[]}],"tags":[{"name":"Tiles","description":"Endpoints to request tiles"},{"name":"Metadata","description":"Endpoints to request API metadata"},{"name":"API Information","description":"Endpoints to request status of the API"}],"paths":{"/{resource}/{projection}/{zoom}/{column}/{row}/{format}":{"get":{"description":"Retrieve the rendered map tile in requested format. It is possible to select among different parameters to modify the output, like a different style, languages, label size, and so on.","summary":"Retrieve the rendered map tile in requested format","operationId":"getTile","tags":["Tiles"],"parameters":[{"$ref":"#/components/parameters/ResourceParam"},{"$ref":"#/components/parameters/ProjectionParam"},{"$ref":"#/components/parameters/ZoomParam"},{"$ref":"#/components/parameters/ColumnParam"},{"$ref":"#/components/parameters/RowParam"},{"$ref":"#/components/parameters/FormatParam"},{"$ref":"#/components/parameters/MapVersionParam"},{"$ref":"#/components/parameters/LanguageParam"},{"$ref":"#/components/parameters/Language2Param"},{"$ref":"#/components/parameters/PviewParam"},{"$ref":"#/components/parameters/StyleParam"},{"$ref":"#/components/parameters/PpiParam"},{"$ref":"#/components/parameters/IfNoneMatchParam"},{"$ref":"#/components/parameters/RenderFeaturesParam"},{"$ref":"#/components/parameters/SizeParam"},{"$ref":"#/components/parameters/ScaleParam"},{"$ref":"#/components/parameters/StartTimeParam"},{"$ref":"#/components/parameters/EndTimeParam"}],"responses":{"200":{"description":"OK - Requested resource is returned","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"image/png":{"schema":{"type":"string","format":"binary"}},"image/png8":{"schema":{"type":"string","format":"binary"}},"image/jpg":{"schema":{"type":"string","format":"binary"}}}},"304":{"description":"The resource cached in the client (identified by the If-None-Match header) has not changed.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}}},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/info":{"get":{"description":"Returns information about accepted values of some API parameters, like accepted ppi, styles, and so on. Also returns the map version. This version is valid only for 24h.","summary":"Returns information about accepted values of some API parameters","operationId":"getInfo","tags":["Metadata"],"responses":{"200":{"description":"OK - Information about accepted values of some API parameters returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"Cache-Control":{"$ref":"#/components/headers/Cache-Control"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/politicalViews":{"get":{"description":"Returns the list of available geopolitical views. These values can then be used to request a tile with a particular country view. For more information on geopolitical views, see [Geopolitical views](https://docs.here.com/map-rendering/docs/geopolitical-views).","summary":"Returns geopolitical views","operationId":"getPoliticalViews","tags":["Metadata"],"responses":{"200":{"description":"OK - List of geopolitical views","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticalViewsSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/features":{"get":{"description":"Returns the list of available features per style. Then these values can be used to request a tile with particular features specified as query parameters. Must be consistent with 'style' parameter.","summary":"Returns styles features","operationId":"getFeatures","tags":["Metadata"],"responses":{"200":{"description":"OK - List of style mappings to it's features.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturesSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/languages":{"get":{"description":"Returns the list of available map languages per resource. These values can then be used to request a tile with a particular language for the labels. The values follow ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.","summary":"Returns map languages","operationId":"getLanguages","tags":["Metadata"],"responses":{"200":{"description":"OK - List of languages per resource.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguagesSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/copyright":{"get":{"description":"Returns the copyright. If your products and/or services use map data that is made accessible using this service, you shall provide end-users of your products and/or services with notice, in a reasonably conspicuous manner.","summary":"Returns the copyright","operationId":"getCopyright","tags":["Metadata"],"responses":{"200":{"description":"OK - Information about the copyright.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"Content-Encoding":{"description":"Indicates that this API supports gzip-encoded responses to reduce payload size. The highest available compression level is used for optimal data transfer efficiency.","schema":{"type":"string","example":"gzip"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyrightsSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/openapi":{"get":{"summary":"Returns OpenAPI 3.0 definition of the API (current file)","operationId":"getOpenAPI","tags":["API Information"],"security":[{}],"responses":{"200":{"description":"OK - OpenAPI file returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/version":{"get":{"summary":"Retrieves API Specification version information","description":"Retrieves API Specification version information. This is purely informational to know when the API has been updated.","operationId":"getVersion","tags":["API Information"],"security":[{}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"504":{"$ref":"#/components/responses/GatewayTimeoutErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/health":{"get":{"summary":"Tests basic health of the service","description":"Tests basic health of the service. This can be used to discard connectivity problems.","operationId":"getHealth","tags":["API Information"],"security":[{}],"responses":{"200":{"description":"Health response in case of success.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOk"}}}},"default":{"description":"Health response in case of failure.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFail"}}}}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information on how to get an API key, see the API key used to authorize requests. For more information, see [Identity & Access Management - API keys](https://docs.here.com/identity-and-access-management/docs/plat-using-apikeys).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the\n[Identity & Access Management - OAuth tokens](https://docs.here.com/identity-and-access-management/docs/how-to-authorize-with-oauth-20).\n"}},"parameters":{"ColumnParam":{"in":"path","name":"column","required":true,"description":"col – can be any number between 0 and number of columns - 1, both inclusive.\n\nThe number of tiles per column is a function of the zoom: number of columns = 2^zoom.\n\n[0,0] (col,row) corresponds to top left of a typical western map.\n","example":4400,"schema":{"type":"integer","minimum":0,"maximum":1048576}},"FormatParam":{"in":"path","name":"format","required":true,"description":"Returned image format. Supported values are listed in 'info' resource.\n","example":"png","schema":{"$ref":"#/components/schemas/FormatSchema"}},"IfNoneMatchParam":{"in":"header","name":"If-None-Match","required":false,"example":"12345","description":"Specifies an optional entity tag of the resource cached in the client.\nSee `304` response of getTile operation for more details.\n","schema":{"type":"string"}},"LanguageParam":{"in":"query","name":"lang","required":false,"description":"The BCP47 language code (https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlimited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\nIt is used for requesting a map tile rendered in a specific language.\nSupported values are listed in 'languages' resource.\n\nDefault behavior when no parameter is given is:\n  - Each country will be shown in the default language of the country.\n  - The following labels will be shown in the default language: continent, ocean, sea, bay.\n","example":"en","schema":{"$ref":"#/components/schemas/LanguageSchema"}},"Language2Param":{"in":"query","name":"lang2","required":false,"description":"This parameter can be used to provide a second language for use in dual labeling,\nit follows the same behavior as the parameter 'lang'.\n","example":"en","schema":{"$ref":"#/components/schemas/LanguageSchema"}},"MapVersionParam":{"in":"query","name":"mv","required":false,"description":"Specifies the map version to be used. The map version can be retrieved by querying /info.","deprecated":true,"schema":{"$ref":"#/components/schemas/MapVersionSchema"}},"PpiParam":{"in":"query","name":"ppi","required":false,"description":"Specifies the relative size of labels and icons. Valid values are:\n  - 100 – small\n  - 200 – medium\n  - 400 – large\nFor more information, see [Specify the label and icon size](https://docs.here.com/map-rendering/docs/example-ppi).\n","example":100,"schema":{"type":"integer","enum":[100,200,400],"default":100}},"ProjectionParam":{"name":"projection","in":"path","example":"mc","required":true,"description":"Specifies the tile projection. Supported values are listed in 'info' resource.\n  * mc - Mercator Projection\n","schema":{"$ref":"#/components/schemas/ProjectionSchema"}},"PviewParam":{"in":"query","name":"pview","required":false,"description":"Use this parameter to render the map with boundaries based on international or local country views.\nIn general, the international view should be used unless the map is being used within one of those countries\nfor which a local view is available.\nIf the parameter is specified and the view is supported, boundaries of the selected country view are being shown.\nNot specifying the parameter results in a default view of boundaries.\n\nThe values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.\n\nNote: You should check the /politicalViews path for further information about how to get the most up to date list of geopolitical views available from the service.\nNote: If this parameter is missing, the international view is returned.\n","example":"IN","schema":{"$ref":"#/components/schemas/PoliticalViewSchema"}},"ResourceParam":{"name":"resource","in":"path","required":true,"description":"Specifies the type of tile. Supported values are listed in 'info' resource.\n","example":"base","schema":{"$ref":"#/components/schemas/ResourceSchema"}},"RowParam":{"in":"path","name":"row","required":true,"description":"row –  can be any number between 0 and number of rows - 1, both inclusive.\n\nThe number of tiles per row is a function of the zoom: number of rows = 2^zoom.\n\n[0,0] (col,row) corresponds to top left of a typical western map.\n","example":2686,"schema":{"type":"integer","minimum":0,"maximum":1048576}},"StyleParam":{"in":"query","name":"style","required":false,"description":"If present, selects the style to use to render the tile. The possible values are listed in 'info' resource.\nNote: When not provided, the default style is \"explore.day\".\n","example":"explore.day","schema":{"$ref":"#/components/schemas/StyleSchema"}},"ZoomParam":{"in":"path","name":"zoom","required":true,"description":"Zoom level of the map image. Minimum and maximum zoom level is specified in the 'info' resource.\n","example":13,"schema":{"type":"integer"}},"RenderFeaturesParam":{"in":"query","name":"features","required":false,"description":"If present, allows to query tiles by specific features.\nThe features are independent, and the result of the example is that the tile is rendered with `feature_a` feature in `mode_a` mode AND `feature_b` feature in `mode_b` mode.\nThe possible values for features and modes are also listed in the `features` resource.\n* **congestion_zones** - Display of congestion zones. The available modes include:\n  * `all`\n  * `disabled`\n* **environmental_zones** - Display of environmental zones. The available modes include:\n  * `all`\n  * `disabled`\n* **pois** - Display of points of interest. The available modes include:\n  * `all`\n  * `disabled`\n* **vehicle_restrictions** - Display of road signs specific to trucks or other special vehicles. The available modes include:\n  * `active_and_inactive` - Show all restrictions (both active and inactive)\n  * `permanent_only` - Show only permanent restrictions\n  * `active_and_inactive_differentiated` - Show all restrictions differentiated by active/inactive status, using the vehicle_restrictions parameter for time-based filtering.\n  * `active_only` - Show only active restrictions, using the vehicle_restrictions parameter for time-based filtering.\n  * `disabled` - Do not display vehicle restrictions\n* **public_transit** - Display of public transit system. The available modes include:\n  * `asia_selected_systems`\n  * `all_systems`\n  * `disabled`\n* **truck_preferred_roads** - Display of truck preferred roads. The available modes include:\n  * `all`\n  * `disabled`\n","schema":{"type":"string","pattern":"^([a-zA-Z0-9\\-_]+:[a-zA-Z0-9\\-_]+)(,([a-zA-Z0-9\\-_]+:[a-zA-Z0-9\\-_]+))*$","example":"congestion_zones:all,environmental_zones:disabled"}},"SizeParam":{"in":"query","name":"size","required":false,"description":"Image size in pixels. Supported values are listed in 'info' resource.\n","example":512,"schema":{"type":"integer","default":256}},"ScaleParam":{"in":"query","name":"scale","required":false,"description":"Controls the scaling of the rendered tiles for high-resolution displays. A value of 2 doubles the size of the rendered tiles for sharper images.","example":2,"schema":{"type":"integer","enum":[1,2],"default":1}},"StartTimeParam":{"in":"query","name":"startTime","required":false,"description":"Start time for vehicle restrictions time window.\nMust only be used with the vehicle_restrictions feature using modes \"active_and_inactive_differentiated\" or \"active_only\".\nFormat: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T08:00)\n","schema":{"type":"string","pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$","example":"2025-12-03T08:00"}},"EndTimeParam":{"in":"query","name":"endTime","required":false,"description":"End time for vehicle restrictions time window.\nMust only be used with the vehicle_restrictions feature using modes \"active_and_inactive_differentiated\" or \"active_only\".\nFormat: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T18:00)\n","schema":{"type":"string","pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$","example":"2025-12-03T18:00"}}},"schemas":{"FeaturesSchema":{"type":"object","description":"Provides information about supported features.","properties":{"features":{"$ref":"#/components/schemas/StylesFeaturesSchema"}}},"StylesFeaturesSchema":{"type":"object","description":"Mapping of a style to all supported features for the style.","additionalProperties":{"$ref":"#/components/schemas/StyleFeaturesSchema"},"example":{"explore.day":[{"name":"environmental_zones","modes":["disabled","all"]},{"name":"congestion_zones","modes":["disabled","all"]},{"name":"pois","modes":["all","disabled"]},{"name":"vehicle_restrictions","modes":["disabled","active_and_inactive"]}],"explore.night":[{"name":"congestion_zones","modes":["disabled","all"]}]}},"StyleFeaturesSchema":{"type":"array","description":"Defines all the features supported by a particular style.","items":{"$ref":"#/components/schemas/StyleFeatureSchema"}},"StyleFeatureSchema":{"type":"object","description":"Defines a single feature.","properties":{"name":{"type":"string","description":"Feature name.","example":"environmental_zones"},"modes":{"type":"array","description":"Applicable feature modes. The first entry is the default mode. The default mode is used if no other mode is specified in tile request.","items":{"type":"string"},"example":["disabled","all"]}}},"CopyrightResourcesSchema":{"type":"object","description":"The copyright style mappings for this particular resource.","additionalProperties":{"$ref":"#/components/schemas/CopyrightLayersSchema"},"example":{"base":{"styles":{"explore.satellite.day":["in","sat"]}},"background":{"styles":{"explore.satellite.day":["in","sat"]}}}},"CopyrightLayersSchema":{"type":"object","description":"The mapping that matches styles with copyright bounding box definitions.","properties":{"styles":{"$ref":"#/components/schemas/CopyrightStylesSchema"}},"example":{"styles":{"explore.satellite.day":["in","sat"]}}},"CopyrightStylesSchema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","example":"in"}},"example":{"explore.satellite.day":["in","sat"]}},"CopyrightSchema":{"type":"object","properties":{"copyrightText":{"type":"string","example":"copyright IGN 2009 - BD TOPO","description":"Verbose copyright text of the label displayed upon mouse hover over the label or info menu entry."},"boundingBoxes":{"type":"array","description":"A collection of areas that belong to this copyright","items":{"type":"object","properties":{"west":{"type":"number","format":"float","example":-90},"south":{"type":"number","format":"float","example":-90},"east":{"type":"number","format":"float","example":90},"north":{"type":"number","format":"float","example":90}},"description":"The bounding boxes define areas where specific copyrights are valid.\nA bounding box is defined by `west` (longitude), `south` (latitude) and `east` (longitude), `north` (latitude).\n"}},"label":{"type":"string","example":"IGN","description":"Copyright text to display after the copyright symbol on the map."},"maxLevel":{"type":"integer","example":20,"description":"Maximum zoom level for the specified copyright label."},"minLevel":{"type":"integer","example":11,"description":"Minimum zoom level for the specified copyright label."}}},"CopyrightsObjectSchema":{"type":"object","description":"The copyright objects.","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CopyrightSchema"}},"example":{"base":[{"boundingBoxes":[{"east":90,"north":90,"south":-90,"west":-90}],"copyrightText":"copyright IGN 2009 - BD TOPO","label":"IGN","maxLevel":20,"minLevel":11}]}},"CopyrightsSchema":{"type":"object","description":"Copyright objects and a mapping of \"resource\" paths to a set of copyright objects associated with the resource.","properties":{"copyrights":{"$ref":"#/components/schemas/CopyrightsObjectSchema"},"resources":{"$ref":"#/components/schemas/CopyrightResourcesSchema"}},"example":{"copyrights":{"in":[{"boundingBoxes":[{"east":-89.0225,"north":17.8168,"south":16.5943,"west":-91.4256},{"east":-88.2215,"north":16.1868,"south":14.9642,"west":-89.0225}],"copyrightText":"Aprobado por el INSTITUTO GEOGRAFICO NACIONAL Resolucion del IGN No 186-2011","label":"IGN Guatemala","maxLevel":20,"minLevel":10}],"sat":[{"boundingBoxes":[{"east":-180,"north":90,"south":-90,"west":180}],"copyrightText":"Airbus","label":"Airbus","maxLevel":20,"minLevel":14}]},"resources":{"base":{"styles":{"explore.day":["in"],"explore.satellite.day":["in","sat"]}}}}},"ErrorResponseDetailsSchema":{"description":"Detailed information about the error","properties":{"message":{"type":"string","description":"Error message","example":"output parameter matches none of the supported values"}}},"ErrorResponseSchema":{"description":"Response in case of error","properties":{"title":{"type":"string","description":"User-friendly error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.","example":"E622002"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"BadRequestErrorResponseSchema":{"description":"Bad Request | Indicates an invalid parameter value in the request, for example `zoom` out of range.","properties":{"title":{"type":"string","description":"User-friendly error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code. Possible error codes E622002,E622003,E622004,E622005,E622006,E622007,E622008,E622009,E622010","example":"E622002"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"parameter":{"type":"string","description":"Name of the parameter in case of a bad request due to an invalid path or query parameter; otherwise, an empty string.","example":"overlay"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId","parameter"]},"NotFoundErrorResponseSchema":{"description":"Not Found | Indicates that the requested resource was not found.","properties":{"title":{"type":"string","description":"User-friendly error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":404},"code":{"type":"string","description":"Error code.","example":"E622000"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"InternalServerErrorResponseSchema":{"description":"Internal Error | Indicates a server malfunction and an unexpected error.","properties":{"title":{"type":"string","description":"User-friendly error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":500},"code":{"type":"string","description":"Error code. Possible error codes E622050,E622051,E622052,E622053,E622054","example":"E622050"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"GenericError":{"description":"generic error","type":"object"},"ForbiddenErrorSchema":{"type":"object","description":"Custom error response schema returned by authentication","properties":{"error":{"type":"string","pattern":"^Forbidden$"},"error_description":{"type":"string"}}},"FormatSchema":{"type":"string","description":"Supported image format","example":"png"},"FormatsSchema":{"description":"List of supported formats","type":"array","items":{"$ref":"#/components/schemas/FormatSchema"}},"SizeSchema":{"type":"integer","description":"Supported image size","example":512},"SizesSchema":{"description":"List of supported image sizes","type":"array","items":{"$ref":"#/components/schemas/SizeSchema"}},"HealthResponseFail":{"description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}}},"HealthResponseOk":{"description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok"]}}},"InfoSchema":{"type":"object","properties":{"imageFormats":{"$ref":"#/components/schemas/FormatsSchema"},"imageSizes":{"$ref":"#/components/schemas/SizesSchema"},"mapVersion":{"$ref":"#/components/schemas/MapVersionSchema"},"resources":{"$ref":"#/components/schemas/ResourcesSchema"},"projections":{"$ref":"#/components/schemas/ProjectionsSchema"},"styles":{"$ref":"#/components/schemas/StylesSchema"},"zoomLevels":{"$ref":"#/components/schemas/ZoomLevelsSchema"}}},"LanguageSchema":{"type":"string","pattern":"^[a-z]{2}(-[a-zA-Z]{1,4})?$","example":"en","description":"Indicates that the map on this layer supports the returned language language.\nThe values follow ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\n"},"LanguagesSchema":{"type":"object","description":"Map resource to list of supported languages for that resource","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/LanguageSchema"}},"example":{"base":["en","es","ru"]}},"MapVersionSchema":{"description":"The current encoded map version. Lasts for 24 hours. After that period, this value should be refreshed.","type":"string","pattern":"^([a-z]{2,3}[0-9]+)+$","example":"in123jp45"},"PoliticalViewSchema":{"type":"string","example":"IN","description":"Indicates a certain geopolitical view of the map.\nThe values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.\n","pattern":"^[A-Z]{2,3}$"},"PoliticalViewsSchema":{"type":"object","description":"Map resource to list of supported geopolitical views for that resource.\nThe values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.\n","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/PoliticalViewSchema"}},"example":{"base":["AR","CY","EG","IN"]}},"ProjectionSchema":{"type":"string","example":"mc","description":"The projection used when rendering tiles"},"ProjectionsSchema":{"type":"array","description":"List of available projections","items":{"$ref":"#/components/schemas/ProjectionSchema"}},"ResourceSchema":{"type":"string","description":"Name of a tile resource","example":"base"},"ResourcesSchema":{"description":"List of available resources","type":"array","items":{"$ref":"#/components/schemas/ResourceSchema"}},"StyleSchema":{"type":"string","example":"explore.day"},"StylesSchema":{"type":"array","description":"List of available styles","items":{"$ref":"#/components/schemas/StyleSchema"}},"UnauthorizedErrorSchema":{"type":"object","description":"Custom error response schema returned by authentication","properties":{"error":{"type":"string","pattern":"^Unauthorized$"},"error_description":{"type":"string"}}},"DataVersion":{"description":"Version of a specific data set","properties":{"name":{"type":"string","description":"Identifies a data set, e.g. a HRN, or a service specific identifier"},"version":{"type":"string","description":"The current version of this data set"}},"required":["name","version"]},"VersionResponse":{"description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","pattern":"^[0-9]+\\.[0-9]+(\\.[0-9]+)?$"},"serviceVersion":{"type":"string","description":"The current version of the service.","pattern":"^[0-9]+\\.[0-9]+\\.[0-9]+-[a-f0-9]{7}(-[a-z]*)?$"},"dataVersions":{"type":"array","items":{"$ref":"#/components/schemas/DataVersion"},"description":"Returns the versions of data sets used by the service"}},"required":["apiVersion"]},"ZoomLevelsSchema":{"type":"object","description":"The range of available zoom levels","properties":{"max":{"type":"integer","description":"The maximum value for the zoom parameter","example":20},"min":{"type":"integer","description":"The minimum value for the zoom parameter","example":0}}}},"headers":{"ETag":{"description":"Entity tag. Version of the provided tile.","schema":{"type":"string"}},"X-Correlation-ID":{"description":"Auto-generated ID, which uniquely identifies the request, available in the response. When contacting the support with an inquiry regarding a specific request, provide the value of this header; This will help troubleshooting the issue.\n","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"Cache-Control":{"description":"Specifies how the response can be cached. See https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control","schema":{"type":"string"},"example":"max-age=86400"}},"responses":{"ErrorResponse":{"description":"API response in case of errors.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponseSchema"}]}}}},"BadRequestErrorResponse":{"description":"API response in case of errors due to bad request.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BadRequestErrorResponseSchema"}]}}}},"NotFoundErrorResponse":{"description":"API response indicates that the resource was not found.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}]}}}},"InternalServerErrorResponse":{"description":"API response indicates a server malfunction and an unexpected error.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}]}}}},"ServiceUnavailableErrorResponse":{"description":"API response indicates indicates that the service is temporarily unavailable due to system overload or maintenance. Try later for the same resource and the request might succeed.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/GenericError"}]}}}},"GatewayTimeoutErrorResponse":{"description":"API response indicates indicates that the server, while acting as a gateway or proxy, did not get a response in time from the upstream server that it needed in order to complete the request. Try later for the same resource and the request might succeed.","content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/GenericError"}]}}}},"ForbiddenError":{"description":"Access token does not authorize access.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ForbiddenErrorSchema"}]}}}},"UnauthorizedError":{"description":"Access token is missing or invalid.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UnauthorizedErrorSchema"}]}}}}}}}