openapi: 3.1.0
info:
  title: HERE Geocoding & Search API v7 Autocomplete Reverse Geocode API
  description: 'HERE Geocoding & Search API v7 provides geocoding, reverse geocoding,

    autosuggest/autocomplete, browse, lookup, and discover endpoints.

    Generated best-effort from public docs at https://docs.here.com/.

    '
  version: 7.0.0
  contact:
    name: HERE Technologies
    url: https://www.here.com/developer
servers:
- url: https://geocode.search.hereapi.com/v1
  description: Geocoding & Search
- url: https://discover.search.hereapi.com/v1
  description: Discover
- url: https://autosuggest.search.hereapi.com/v1
  description: Autosuggest
- url: https://autocomplete.search.hereapi.com/v1
  description: Autocomplete
- url: https://browse.search.hereapi.com/v1
  description: Browse
- url: https://lookup.search.hereapi.com/v1
  description: Lookup
- url: https://revgeocode.search.hereapi.com/v1
  description: Reverse Geocode
security:
- apiKey: []
- bearerAuth: []
tags:
- name: Reverse Geocode
paths:
  /revgeocode:
    get:
      tags:
      - Reverse Geocode
      summary: Reverse geocode coordinates
      servers:
      - url: https://revgeocode.search.hereapi.com/v1
      parameters:
      - name: at
        in: query
        required: true
        description: Coordinates as lat,lng
        schema:
          type: string
      - name: limit
        in: query
        schema:
          type: integer
          default: 1
      - name: lang
        in: query
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/SearchResponse'
  /multi-revgeocode:
    post:
      tags:
      - Reverse Geocode
      summary: Batch reverse geocode many coordinates
      servers:
      - url: https://revgeocode.search.hereapi.com/v1
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      at:
                        type: string
      responses:
        '200':
          description: OK
components:
  schemas:
    SearchResponse:
      type: object
      properties:
        items:
          type: array
          items:
            $ref: '#/components/schemas/Item'
    Item:
      type: object
      properties:
        title:
          type: string
        id:
          type: string
        resultType:
          type: string
        address:
          type: object
          properties:
            label:
              type: string
            countryCode:
              type: string
            countryName:
              type: string
            city:
              type: string
            postalCode:
              type: string
            street:
              type: string
            houseNumber:
              type: string
        position:
          type: object
          properties:
            lat:
              type: number
            lng:
              type: number
        scoring:
          type: object
          properties:
            queryScore:
              type: number
  securitySchemes:
    apiKey:
      type: apiKey
      in: query
      name: apiKey
      description: HERE API Key (apiKey query parameter)
    bearerAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: HERE OAuth 2.0 token
