{"openapi":"3.0.0","servers":[{"url":"https://tracking.hereapi.com/"},{"url":"https://tracking.api.here.com/"}],"info":{"version":"2.6.11","title":"HERE Tracking","description":"HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.\n\nHERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"externalDocs":{"description":"The Developer guide and Release notes are available here.","url":"https://www.here.com/docs/bundle/tracking-api-developer-guide"},"tags":[{"description":"The ingestion service provides an interface for devices to do data ingestion to HERE Tracking.\nThe ingested data is a device telemetry, which may include, for example, a GPS position, sensor readings,\nWLAN or Bluetooth scans.\nOnly a provisioned and a claimed device data is accepted.\n\nDevices should use uniquely this interface to send data to HERE Tracking.\n","name":"Ingestion"},{"description":"The Largedata service is used for storing large data blobs from devices to\nHERE Tracking and retrieving the resulting assembled data from HERE Tracking by the users.\n\nThe data upload from a device follows the multipart data upload pattern:\n\n* Create a new data upload.\n* Check that the upload status is no longer ***preparing***.\n* For each part:\n** Upload the part.\n* Complete the upload after all parts have been uploaded.\n\nA data upload state can be one of the following:\n* ***preparing***: The storage for the data is being prepared.\n* ***pending***: Data upload has been succesfully created but no parts have been uploaded yet.\n* ***ongoing***: Data upload is ongoing.\n* ***completed***: Data upload has been successfully completed.\n* ***failed***: Data upload has failed.\n\nData parts can be uploaded only if the upload state is one of the following: ***pending***, ***ongoing***, ***failed***.\nNote that the state will be changed to ***failed*** if uploading a part fails,\nbut if the part is uploaded again successfully, the upload state is changed back to ***ongoing***.\n\nThe data can be downloaded only if the upload state is ***completed***.\n","name":"Largedata"},{"description":"The Registry service is used for provisioning and claiming devices.\n","name":"Registry"},{"description":"\nAn alias is an arbitrary `type` - `externalId` pair, which can be associated with a `trackingId`.\n\nThe `externalId` can be, for example, an external management system asset ID or a human-readable name.\nAn alias is uniquely identified by an `externalId` and a `type` pair within a tracking project.\n\n> **IMPORTANT**\n> Aliases v2 API is deprecated.\n","name":"Aliases"},{"description":"An association is a link between a device and a geofence, a sensor rule or a rule.\nDevice events get generated for existing associations only.\n","name":"Associations"},{"description":"The Events service manages device and shipment events.\n\nAn event is created every time an associated rule or geofence is triggered by a device ingestion.\n\nA geofence event is created every time a device enters or exits an associated geofence.\nA sensor event is created when sensor data reported by a device triggers a sensor rule.\nA rule event (such as dwelling, detention, utilization, stock and online rule) is created when\na device behaviour triggers a rule.\n","name":"Events"},{"description":"The Geofences service creates and manages geofences.\n\nA geofence is an area boundary that users can define and associate with their devices.\nThe area that the geofence encloses can be defined using geographic coordinates or radio measurements.\n\nGeographic geofences can be `circular` or `polygonal`.\nA circular geofence is defined by geographic coordinates of its center and a radius,\nwhile polygonal geofences are defined as a set of geographic coordinates.\n\n`POI geofence` (Point Of Interest) is a geofence, which is defined using radio measurements.\nPOI geofences need to be trained separately using a telemetry that a device has recorded while\nbeing at the desired point of interest.\n\nOnce created, a geofence can be associated to a device.\nEvery time a position or a radio measurement update is received from a device,\nHERE Tracking would evaluate whether the device has transitioned across the boundary of\nan associated geofence.\nIf such a transition has happened, a transition event will be recorded.\nFor the geographic geofences, the evaluation is based on the coordinates of the trace.\nFor POI geofences, the device is considered to be inside a trained POI geofence when the radio\nmeasurements of the device-ingested telemetry and the training data match.\n\nIndoor geofences can be created by adding the floor properties to the geofence definition.\nCircular and polygonal geofences can be both outdoors and indoors.\nPOI geofences should only be used indoors.\nFor indoor geofences a device transition is recorded only if the position of the device is indoors\nand the floor details of the position match the geofence floor definition.\n\nNOTE: A geofence can also be referred to as a geozone, and these two terms are interchangeable.\n","name":"Geofences"},{"description":"The Labels service creates and manages labels.\n\nA label is a key-value pair that can be associated to the following resources:\n\n* device\n* geofence\n* sensor\n* rule\n* location\n* shipment\n\nOne can list labels for a specific resource or resource type, and filter\nlabels by keys or key-value pairs.\n\n> **IMPORTANT**\n> Labels v4 API is deprecated.\n","name":"Labels"},{"description":"The Locations service creates and manages locations.\n\nLocations are geographical points of interest users may store in HERE Tracking. Locations are\nused as building blocks for shipments.\n","name":"Locations"},{"description":"The Metadata service creates and manages metadata.\n\nMetadata is a descriptive information added to a device, a shipment, a geofence or a sensor rule.\n\n> **IMPORTANT**\n> Metadata v2 API is deprecated.\n","name":"Metadata"},{"description":"The Rules service creates and manages rules.\n\nRules generate events and notifications when get triggered by a device behaviour.\nThe following rule types are supported:\n* dwelling\n* detention\n* utilization\n* stock\n* online\n* shipmentEtaChange\n* shipmentSchedule\n\nAfter a rule has been created, it needs to be associated to a device to get activated.\n\nThis association means that every time a telemetry is received from the device,\nit will be evaluated against the rule condition.\nAs soon as the evaluation changes (for example, from true to false), an event will be recorded.\n","name":"Rules"},{"description":"The Sensors service creates and manages sensor rules.\n\nThe sensor rules generate events and notifications when get triggered by a\nreported device sensor reading.\n\nThe following sensor rule types are supported:\n* battery\n* humidity\n* pressure\n* temperature\n* acceleration\n* attach\n* tamper\n\nAfter a sensor rule has been created, it needs to be associated to a device to get activated.\n\nThis association means that every time a sensor update is received from the device as a part\nof its ingestion telemetry, it will be evaluated against the sensor rule condition.\nAs soon as the evaluation changes (for example, from true to false), an event will be recorded.\n","name":"Sensors"},{"description":"The Shadows service provides an effective way to manage configurations\nfor devices that are only intermittently online.\n\nThe device shadow contains `reported` and `desired` state objects of a device,\nreferred to as `reported` and `desired` shadows.\n\nThe `desired` shadow contains configuration settings that the device should use and possibly also\nsome optional custom settings.\nThe device receives the `desired` shadow from HERE Tracking as a response to the ingestion request.\n\nThe `reported` shadow contains the most recent position, sensor readings and settings that the\ndevice has sent. The reported shadow may also contain additional properties generated by HERE\nTracking based on the device-ingested telemetry. Such properties are stored in the `system.computed`\nproperty.\n\nIn case the most recent telemetry did not contain all the possible\nfields, the last known information will remain in the shadow. This means that one can\nsee, for example, the last reported temperature or tracker firmware information in the reported shadow,\neven if the device did not send that information in the latest telemetry.\n\n> **IMPORTANT**\n> Devices should not communicate directly with this service, but should instead send the telemetry to\n> the ingestion endpoint, which updates the `reported` shadow and returns the `desired` shadow.\n> Applications should only write to the `desired` shadow and only read from the\n> `reported` shadow.\n","name":"Shadows"},{"description":"The Shipments service manages shipments.\n\nA shipment describes a structure of a multimodal logistics journey. Shipments are useful when\nthe lifetime of an asset one is tracking spans across multiple devices.\n\nA shipment consists of segments that span from a location to another. The segments and their\norigins and destinations must form a continuous chain of locations, that is the origin of a segment\nmust match the destination of a previous segment. Each segment of the shipment may be assigned a\n`trackingId` that can vary between segments. Devices assigned to a shipment generate traces\nand events for the entire shipment.\n\nThe `shipmentId` of a shipment can be used in similar fashion as a `trackingId` in selected\nAPIs. For example, one can query for shipment ***traces*** and ***events*** and associate ***aliases*** and\n***metadata*** to a shipment.\n\nEach shipment has one of the following statuses:\n* ***pending***: The shipment has not yet started.\n* ***ongoing***: The shipment has started and it has one segment ongoing.\n* ***completed***: The shipment has ended and all of its segments are completed.\n* ***cancelled***: The shipment has ended and it has one or more cancelled segments.\n\nHERE Tracking progresses the shipment automatically if each segment has been assigned a\n`trackingId` and the origin and destination locations contain a `geofenceId`. Each segment is\nstarted upon exiting the origin location of the segment and completed upon entering the\ndestination location of the segment. If the origin and the destination of a segment share the\nsame location (that is, dwelling in a single location), the segment will automatically be\nstarted after the previous segment was completed. To automatically start a segment which\nfollows a dwelling segment, both the dwelling and following segment has to have the same\n`trackingId` assigned to them. If a segment does not have a device assigned, the user must\nstart and complete the segment manually.\n\nA new shipment should be instantiated for each separate logistical journey.\n\nShipments that are still ongoing after two weeks are automatically cancelled.\nThis time limit can be altered via `registry/v2/features` endpoint by changing\n`data.shipments.ongoingRetentionPeriod` configuration option.\n\nShipments older than six months are automatically removed.\n\nAutomatic shipment startup can be constrained to trigger only at time of shipment's `providedEtd`\nby defining an auto-start limit window via configuration options of\n`data.shipments.autoStartLimitBefore` and `data.shipments.autoStartLimitAfter` through\n`registry/v2/features` endpoint.\n\nWith the auto-start limit window configured, pending shipments that have `providedEtd` set that\nare not started within the limit window are automatically cancelled.\n","name":"Shipments"},{"description":"The Traces service allows users querying device traces based on time ranges.\n\nA device trace is a device-ingested telemetry along with the ingestion timestamp\nand the device current position.\n\n> **NOTE**:\n> Devices should not communicate directly with this service, but should instead send telemetry to\n> the ingestion endpoint. Each data ingestion results in an update to the `reported` device shadow\n> and a new device trace creation.\n","name":"Traces"},{"description":"The Users service provides HERE Tracking user authentication and authorization.\n","name":"Users"}],"paths":{"/v2/health":{"get":{"summary":"Gets service health","security":[],"responses":{"200":{"description":"OK\n\nThe service is performing as expected\n","content":{"application/json":{"schema":{"type":"object","properties":{"message":{"type":"string","description":"Health status"}},"example":{"message":"healthy"}}}}},"500":{"description":"Service unavailable\n\nThe service is not performing as expected\n"}},"tags":["Ingestion"]}},"/v2/version":{"get":{"summary":"Gets service version","security":[],"responses":{"200":{"description":"Success\n","content":{"application/json":{"schema":{"description":"OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"}}}},"500":{"description":"Service unavailable\n\nThe service is not performing as expected\n"}},"tags":["Ingestion"]}},"/v2/timestamp":{"get":{"summary":"Gets the current timestamp","tags":["Ingestion"],"description":"Returns the current server time in seconds since the UNIX epoch.\nThe server time is used to check the validity of the OAuth 1.0 header of a device data ingestion request.\nDevices must synchronise with the server time to avoid a clock skew.\n\n> Note that in the data ingestion request the timestamp is specified in milliseconds.\n","parameters":[{"in":"header","name":"X-Request-Id","schema":{"type":"string","format":"uuid"},"description":"ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n","required":false}],"responses":{"200":{"description":"OK\n\nThe server timestamp was successfully returned\n","content":{"application/json":{"schema":{"type":"object","properties":{"timestamp":{"type":"integer","description":"Seconds elapsed since 1 January 1970 00:00:00 UTC.","minimum":2,"maximum":4102448400}}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Bad request","code":400,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The request object is in an incorrect format or has values that are invalid or out of range.","details":{"hereErrorCode":400306}}}},"description":"Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n"},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Unauthorized","code":401,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The provided credentials are not valid.","details":{"hereErrorCode":401306}}}},"description":"Unauthorized\n\nThe request did not provide correct authentication details\n"},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Forbidden","code":403,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The account does not have the correct privileges.","details":{"hereErrorCode":403306}}}},"description":"Forbidden\n\nThe account does not have the correct privileges\n"},"429":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Too Many Requests","code":429,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"Too Many Requests"}}},"description":"Too Many Requests\n\nUser has sent too many requests in a given amount of time.\n"}}}},"/v2/token":{"post":{"summary":"Requests a token for a registered device","security":[{"signedRequest":[]}],"description":"Authenticates a device to HERE Tracking and requests a device access token.\n\nA device must provide a valid device access token when it sends telemetry to HERE Tracking.\nTokens can be obtained upon a successful device authentication.\n\nThe device token requests must be signed. The signature method uses the OAuth 1.0 standard.\nFor more information on this standard, see the [OAuth Core 1.0](https://oauth.net/core/1.0/) specification.\n\nTokens can be requested only by claimed devices.\nA claimed device license, that is ```deviceId``` and ```deviceSecret``` credential pair, is used for creating a signed token request.\n\n> See the Authentication section for details on how to generate a signed token request.\n> A new signature must be created for each device access token request.\n> Signatures can only be used once.\n","parameters":[{"in":"header","name":"X-Request-Id","schema":{"type":"string","format":"uuid"},"description":"ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n","required":false},{"name":"authorization","description":"Signed OAuth 1.0 header","in":"header","required":true,"example":"OAuth oauth_consumer_key='{deviceId}',oauth_signature_method='HMAC_SHA256',oauth_timestamp='{nowS}',oauth_nonce='{nonce}',oauth_signature='{signature}'","schema":{"type":"string"}}],"tags":["Ingestion"],"responses":{"200":{"description":"Successful","content":{"application/json":{"schema":{"type":"object","properties":{"accessToken":{"type":"string"},"expiresIn":{"type":"integer"}},"example":{"accessToken":"h1.ySDEpBjW2fXM0Nk1IyBohA.6YOv1MfQUd1K7MCg9elZrrVTT5fKfqYECYUrD7Y77d-p9KqIZrVfjpIrkMqVC9MmfUILOm7xk7VuhCH59o0oLJCl6M8Q8cGHTKVrPcpqiEzUQKs7pSZXxVbIui0O5caUgJ3GHrS1X4aZQuB1KSsngvWMcIz0M0a4g4x8bICUHNRbISbQOWNTc7CcxRIJegIlj24dUawrhtnuQh50JUUY2pHYpSh_t8R0AVkm8JO-WEtWW3SZiLa30IR0gz2121vlRjdNolnJYsuJzHoaEKEkrMj9ffybtcBVWo9dkY1qmDQ-DRg_loVenJK45kjHJijkQ902r_vhH8jtoXTrZ1RBFHuZtwLW8xXBw70BCWPu4OYGgthjaq61mpE8iP1s7MG7gbAiW_S249aaoWMUxQN6djw8cNoTP6YPM-ivSieRMxwPl56mhRQ5GRjQa8AYkuOvoCFg-LCMIxTYhrDZM4HFWQ.duHFPjvWUQbdArCL5CU7bTowK5fD07ro83r6CRWjuB_1TK2VyO1lvfNFZIZePWLyTlN0y9uqD7Uro6t87h_a0zfpeU8_529KrB9vgpcBARF5LGBo8Rh7y2islYxCGJ2pAxHADtxkfiZ8TCoEatg0F3jkeggOl8YUFkeaI2g7WtnhZwrXBwW9QizQH3EM_Djnu66-kv_aM-uddpzZJJ7CmrJiwhucaEJeYRDSpuzzZWT6_NwBg6_xLjyseCv5AGs8EmsuStCFP0Ey7UDIqo9V2RA9uDP64Q0mvEw3EUTHmJGHF_8E2s4iIpjKJCvUGsGYAy8XrjeW10EBAMkfrn6cwA","expiresIn":86399}}}}},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Bad request","code":400,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The request object is in an incorrect format or has values that are invalid or out of range.","details":{"hereErrorCode":400306}}}},"description":"Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n"},"401":{"headers":{},"description":"*Timestamp wrong*\n\nWhen the request timestamp is skewed by more than 10 second from the\nserver time, the `x-here-timestamp` header with the current server\ntimestamp is added to the response.\n\n*Incorrect Signature*\n\nIf the OAuth signature is incorrect, the response code will be 401,\nand *no* `x-here-timestamp` header will be added.\n","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"message":{"type":"string","description":"Descriptive text that explains the error"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"],"example":[{"error":"Unauthorized","code":401,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee","message":"Invalid Authorization, the request lacks valid authentication credentials for the target resource.","details":{"hereErrorCode":401306}}]}}}},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Forbidden","code":403,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The account does not have the correct privileges.","details":{"hereErrorCode":403306}}}},"description":"Forbidden\n\nThe account does not have the correct privileges\n"},"404":{"description":"Invalid license","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"message":{"type":"string","description":"Descriptive text that explains the error"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"],"example":[{"error":"Unauthorized","code":401,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee","message":"Invalid Authorization, the request lacks valid authentication credentials for the target resource.","details":{"hereErrorCode":401306}}]},"examples":{"response":{"value":{"code":404,"error":"No license found for the given deviceId.","id":"e69ce7d3-82f2-43cd-95b4-4402f98c9a61"}}}}}},"412":{"description":"Unclaimed Device\n\nIf the device ID is valid but the device has not yet been claimed by an owner, an error response will be returned.\n","content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"message":{"type":"string","description":"Descriptive text that explains the error"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"],"example":[{"error":"Unauthorized","code":401,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee","message":"Invalid Authorization, the request lacks valid authentication credentials for the target resource.","details":{"hereErrorCode":401306}}]},"examples":{"response":{"value":{"code":412,"error":"Device has not been claimed.","id":"e69ce7d3-82f2-43cd-95b4-4402f98c9a61"}}}}}},"429":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Too Many Requests","code":429,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"Too Many Requests"}}},"description":"Too Many Requests\n\nUser has sent too many requests in a given amount of time.\n"}}}},"/v2/":{"post":{"summary":"Ingests data and receives a shadow","description":"Devices can use this end point to ingest data into HERE Tracking,\nin the same way as via the `/v3` endpoint.\n\nA device uses its access token obtained via the the `/v2/token` endpoint\nto send telemetry – GPS position, sensor readings, WLAN or Bluetooth scans - to HERE Tracking.\n\nBy default the request is synchronous and the response will be\nthe device `desired` shadow. If the request is set\nto be asynchronous, the response will be empty.\n\nThe device position gets resolved based on the `position` and `scan` objects\nprovided in the request body (see the objects definitions for details).\nIf only `position` is provided, it will be used as the device position.\nIf only `scan` is provided, the position will be resolved asynchronously\nvia the HERE Positioning API after returning a response.\nIf both are provided, `scan` is resolved to a position via the HERE Positioning API,\nand the better of the two positions (provided vs. resolved) will be selected.\nIf neither `position` nor `scan` is provided, or if the HERE Positioning API is not able to\nresolve the position, the device position will be left empty.\n\nThe `reported` shadow will be updated with the device latest position information,\nsensor readings and settings ingested by the device.\nThe reported shadow may also contain additional properties generated by HERE\nTracking based on the device-ingested telemetry.\nSuch properties are stored in the `system.computed` property of the shadow.\nThe device shadow can be queried via the `shadows/v2/{trackingId}` endpoint.\n\nThe data ingested by the device will be available as a device trace via the `traces/v2/{trackingId}` endpoint.\n","security":[{"DeviceToken":[]}],"parameters":[{"in":"header","name":"X-Request-Id","schema":{"type":"string","format":"uuid"},"description":"ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n","required":false},{"name":"authorization","in":"header","required":true,"example":"Bearer h1.yxPIksZ0ViLq77f1Nh-9cg.NVgGBZVlCU8G7kjV_...","schema":{"type":"string"}},{"name":"async","in":"query","description":"If set to `true`, ingests the device data and responds immediately with an empty response body.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"description":"A device telemetry data.\n\nThe timestamp specifies the time in milliseconds at which the device telemetry measurements were taken.\nThis must be within 10 seconds of the timestamp returned by the `/v2/timestamp` endpoint.\n\nExample of a GSM telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"gsm\": [{\n            \"mcc\": 262,\n            \"mnc\": 1,\n            \"lac\": 5126,\n            \"cid\": 16504,\n            \"nmr\": [\n                { \"bsic\": 6, \"bcch\": 82 },\n                { \"bsic\": 7, \"bcch\": 85 },\n                { \"bsic\": 12, \"bcch\": 93 },\n                { \"bsic\": 13, \"bcch\": 88 },\n                { \"bsic\": 19, \"bcch\": 88 }\n            ]\n        }]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n\nExample of a WLAN telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"wlan\": [\n            { \"mac\": \"1c:1d:86:07:01:0f\", \"powrx\": -45 },\n            { \"mac\": \"e4:f4:c6:d9:85:59\", \"powrx\": -39 },\n            { \"mac\": \"1c:1d:86:07:01:0d\", \"powrx\": -43 },\n            { \"mac\": \"1c:1d:86:07:01:0b\", \"powrx\": -44 },\n            { \"mac\": \"1c:1d:86:07:01:04\", \"powrx\": -58 },\n            { \"mac\": \"1c:1d:86:07:01:03\", \"powrx\": -59 }\n        ]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n","content":{"application/json":{"schema":{"type":"array","items":{"type":"object","properties":{"timestamp":{"description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nSpecifies the time the device telemetry measurements were taken.\n","type":"integer","minimum":2,"maximum":4102448400000},"payload":{"type":"object","description":"A free format JSON object.\nThe maximum size is 1000B.\n"},"system":{"type":"object","properties":{"phoneNumber":{"type":"string","pattern":"^\\+[1-9]\\d{1,14}$","description":"The phone number of the device's SIM card in the international E.164 format. All the country codes should be prefixed a with \"+\" instead of \"00\".\n","example":"+491234567890"},"imsi":{"type":"string","pattern":"^[0-9]{1,15}$","description":"The IMSI of the device's SIM card.\n","example":"123456789012345"},"iccid":{"type":"string","minLength":18,"maxLength":22,"description":"SIM card integrated circuit card identifier (ICCID)"},"client":{"description":"Information about the client device.\n","type":"object","properties":{"manufacturer":{"description":"Manufacturer of the device (hardware)","type":"string","minLength":2,"maxLength":50},"model":{"description":"Model of the device (hardware)","type":"string","minLength":1,"maxLength":50},"firmware":{"description":"Device firmware version information","type":"string","minLength":1,"maxLength":150},"name":{"description":"Name of the client software accessing the HERE API","type":"string","minLength":3,"maxLength":50},"version":{"description":"Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.","type":"string","minLength":3,"maxLength":60},"platform":{"description":"Software platform information of the device, for example operating system name and version.","type":"string","minLength":3,"maxLength":50},"modules":{"description":"Software information of all updateable chips.","type":"array","maxItems":10,"items":{"description":"Software information of an updateable chip.","type":"object","properties":{"manufacturer":{"type":"string","description":"Manufacturer name","minLength":2,"maxLength":50},"model":{"type":"string","description":"Model or chip name","minLength":1,"maxLength":50},"firmwareVersion":{"type":"string","description":"Installed firmware version","minLength":3,"maxLength":60}}}},"diskquota":{"description":"Available disk quota in kilobytes.","type":"number","minimum":0},"diagnosticscode":{"description":"Device diagnostics code.","type":"number"},"homenetwork":{"description":"Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both subscriptions.","type":"array","maxItems":2,"items":{"description":"Network information. Either MCC + MNC or SID + NID attribute pair is required.","type":"object","properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"sid":{"description":"System Id, SID","type":"integer","minimum":1,"maximum":32767},"nid":{"description":"Network Id, NID","type":"integer","minimum":0,"maximum":65535}}}},"hasAttachSensor":{"type":"boolean","description":"True if a device has a sensor to detect if the device is attached to or detached from an object."},"hasNoBattery":{"type":"boolean","description":"False if a device has a battery."},"hasHumiditySensor":{"type":"boolean","description":"True if a device has a sensor to measure humidity."},"hasPressureSensor":{"type":"boolean","description":"True if a device has a sensor to measure pressure."},"hasTamperSensor":{"type":"boolean","description":"True if a device has a sensor to detect if device is disassembled."},"hasTemperatureSensor":{"type":"boolean","description":"True if a device has a sensor to measure temperature."},"hasAccelerometerSensor":{"type":"boolean","description":"True if a device has a sensor to measure acceleration."},"accelerometerSensorRange":{"description":"Specifies the range of measurable acceleration, representation\nunit g (9.8 m/s^2). If more than one accelerometer is available,\neach element in the list will represent individual accelerometer.\nEach value represents a single \"+/-\" range.\nFor example, value 2 means that sensor is capable to measure\nacceleration within the range of [-2 g, +2 g].\n","type":"array","maxItems":5,"items":{"type":"integer","minimum":-1000,"maximum":1000}}},"example":{"manufacturer":"Samsung","model":"SM-G930F","firmware":"heroltexx...","name":"HERE Tracker","version":"1.6.1","platform":"Android","diskquota":256,"diagnosticscode":0,"homenetwork":[],"hasAttachSensor":true,"hasNoBattery":false,"hasHumiditySensor":true,"hasPressureSensor":true,"hasTamperSensor":true,"hasTemperatureSensor":true,"hasAccelerometerSensor":true,"accelerometerSensorRange":[2]}},"stateVersion":{"description":"The version of the state of a device. This should be incremented only by HERE Tracking.\n","type":"integer","minimum":0},"reportedSensorData":{"description":"The last known device sensor data reported by the device.\n","type":"object","properties":{"accelerationG":{"type":"number","description":"A g-force value of acceleration.","minimum":-100,"maximum":100},"deviceIsAttached":{"type":"boolean","description":"True if device is attached to an object."},"deviceIsStationary":{"type":"boolean","description":"True if device hasn't detected movement."},"batteryIsCharging":{"type":"boolean","description":"True if device battery is charging."},"batteryLevel":{"type":"integer","description":"A value of percentage battery level.","minimum":0,"maximum":100},"pressureHpa":{"type":"number","description":"A value of pressure in hectopascal.","minimum":300,"maximum":1500},"relativeHumidity":{"type":"number","description":"A value of relative humidity in percent.","minimum":0,"maximum":100},"deviceIsTampered":{"type":"boolean","description":"True if device is tampered."},"temperatureC":{"type":"number","description":"A value of temperature in celcius.","minimum":-70,"maximum":100},"tiltDegree":{"type":"number","description":"A value of tilt in degrees."}}},"mode":{"description":"Tracker mode status of the device.\nWhen a tracker is in normal mode, it can send telemetry and, for\nexample, use its GNSS receiver if it has one.\nA tracker switches into flight mode once it detects that it's in an\nairplane, and leaves that mode once the airplane lands.\nTransport mode has to be triggered by the user, and it's used,\nfor example, during shipping from continent to another.\nSleep mode is used when a tracker is stored in a warehouse, and\nit's triggered by entering or leaving some defined geofence.\nPower save mode can be enabled with `system.powerSave.sendMs`\nproperty in the desired shadow and when enabled the device enters\npower save mode when the device is not moving.\n","type":"string","enum":["unknown","normal","flight","transport","sleep","powerSave"]}},"description":"Contains device-reported sensor data and device configuration settings.\n`stateVersion` property contains the version of the last\nknown `desired` state seen by the device.\n"},"position":{"type":"object","description":"The device location","properties":{"accuracy":{"description":"Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"alt":{"description":"Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.","type":"number"},"altaccuracy":{"description":"Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"confidence":{"description":"Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).","type":"integer","minimum":50,"maximum":95},"heading":{"description":"GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.","type":"integer","minimum":0,"maximum":359},"floor":{"description":"The building where the measurements were taken","type":"object","required":["id","name","level"],"properties":{"level":{"description":"The floor in the building in integer format","type":"number","minimum":-999,"maximum":999},"id":{"description":"The building id","type":"string","minimum":1,"maximum":100},"name":{"description":"The building name","type":"string","minimum":1,"maximum":255}}},"lat":{"description":"Latitude in WGS-84 format, decimal representation ranging from -90 to 90.","type":"number","minimum":-90,"maximum":90},"lng":{"description":"Longitude in WGS-84 format, decimal representation ranging from -180 to 180.","type":"number","minimum":-180,"maximum":180},"satellitecount":{"description":"Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)","type":"integer","minimum":1,"maximum":50},"speed":{"description":"GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.","type":"integer","minimum":0},"type":{"description":"Position type, 'gnss' (satellite based), 'cell' or 'wlan' (network based)","type":"string"},"wlancount":{"description":"The total number of observed WLAN APs in the scan used for producing the position. ('wlan' position type only)","type":"integer","minimum":1,"maximum":254},"timestamp":{"description":"Timestamp of the position","type":"integer","minimum":2,"maximum":4102448400000}},"required":["lat","lng","accuracy"]},"scan":{"type":"object","description":"Radio measurements used for positioning or radio map contribution.\n","properties":{"bt":{"description":"Bluetooth access points","type":"array","maxItems":128,"items":{"description":"Bluetooth measurement. In addition to rss, one of mac, eddystoneId, or iBeaconId is required.","type":"object","required":["rss"],"properties":{"timestamp":{"description":"Time of the measurement (UTC)","type":"string","format":"date-time"},"rss":{"description":"Received signal strength (dBm) at the terminal","type":"integer","minimum":-128,"maximum":0},"mac":{"description":"The MAC address of the Bluetooth access point. MAC-48 address with colon (:) or hyphen (-) separators, upper or lower case hex digits. For privacy reasons positioning based on a single Bluetooth AP is not possible. There must be at least one other matching WLAN or Bluetooth access point. Either MAC, EddystoneId, or iBeaconId is required.","type":"string","pattern":"^(([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2})|(([a-fA-F0-9]{2}-){5}[a-fA-F0-9]{2})$"},"eddystoneId":{"description":"Full Identifier as Base64 string. A combination of 10-byte Namespace component and a 6-byte Instance component","type":"string","minLength":24,"maxLength":24},"iBeaconId":{"description":"Full Identifier as Base64 string. A combination of 16-byte UUID + 2-byte major + 2-byte minor","type":"string","minLength":28,"maxLength":28}}}},"country":{"description":"Indicates in which country the WLAN APs are located (in case cell data is not present in radio_observations)","type":"object","required":["mcc"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999}}},"gsm":{"description":"GSM cells (GERAN)","type":"array","maxItems":16,"items":{"description":"GSM measurement","type":"object","required":["mcc","mnc","lac","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"Cell Identifier, 16 bits. Mcc+mnc+lac+cid uniquely identifies the GSM cell.","type":"integer","minimum":0,"maximum":65535},"ta":{"description":"Timing advance (Optional). Expressed in the units of GSM bits equaling to 48/13 μs ~ 1107 meters.","type":"integer","minimum":0,"maximum":63},"rxlevel":{"description":"Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-110,"maximum":-25},"bsic":{"description":"Base Station Identity Code (for instance, color code) (Optional, you must specify a value for this item when you specify a value for bcch).","type":"integer","minimum":0,"maximum":63},"bcch":{"description":"Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel) (Optional, you must specify a value for this item when you specify a value for bsic).","type":"integer","minimum":0,"maximum":1023},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"Network measurements (Optional)","type":"array","maxItems":16,"items":{"description":"GSM Network measurement","type":"object","required":["bsic","bcch"],"properties":{"bsic":{"description":"Base Station Identity Code (for instance, color code)","type":"integer","minimum":0,"maximum":63},"bcch":{"description":"Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel)","type":"integer","minimum":0,"maximum":1023},"rxlevel":{"description":"Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-110,"maximum":-25},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"Cell Identifier (Optional)","type":"integer","minimum":0,"maximum":65535}}}}}}},"wcdma":{"description":"WCDMA cells (UTRA-FDD, 3G UMTS)","type":"array","maxItems":16,"items":{"description":"WCDMA measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"UTRAN Cell Identifier, 28 bits (12 bits RNC and 16 bits Cell id). Mcc+mnc+cid uniquely identifies the WCDMA cell, lac is optional.","type":"integer","minimum":0,"maximum":268435455},"uarfcndl":{"description":"Downlink frequency of a UTRA-FDD Serving Cell (Optional, you must specify a value for this item when you specify a value for psc).","type":"integer","minimum":0,"maximum":16383},"psc":{"description":"Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel) (Optional, you must specify a value for this item when you specify a value for uarfcndl).","type":"integer","minimum":0,"maximum":511},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional).","type":"integer","minimum":46,"maximum":158},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"Network measurements (Optional). Maximum of 8 uarfcndl times maximum of 32 psc.","type":"array","maxItems":256,"items":{"description":"WCDMA Network measurement","type":"object","required":["uarfcndl","psc"],"properties":{"uarfcndl":{"description":"Downlink frequency of a UTRA-FDD Serving Cell","type":"integer","minimum":0,"maximum":16383},"psc":{"description":"Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel)","type":"integer","minimum":0,"maximum":511},"cid":{"description":"UTRAN Cell Identifier (uc-id) (Optional)","type":"integer","minimum":0,"maximum":268435455},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional).","type":"integer","minimum":46,"maximum":158}}}}}}},"tdscdma":{"description":"TD-SCDMA cell (UTRA-TDD, 3G UMTS TDD)","type":"array","maxItems":16,"items":{"description":"TD-SCDMA measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"UTRAN Cell Identifier, 28 bits (12 bits RNC and 16 bits Cell id). Mcc+mnc+cid uniquely identifies the TDSCDMA cell, lac is optional.","type":"integer","minimum":0,"maximum":268435455},"ta":{"description":"Timing advance (Optional). Round-Trip distance presented in the units of 4*c/7.68e6 ~156 meters. That is, the scaling factor is 4 times the chip length at chip rate of 7.68 Mchips/s. Note that at chip rates 1.28 Mchips/s and 3.84 Mchips/s you need to scale according to chip length of 7.68 Mchips/s, that is, multiply by 6 or 2 if needed.","type":"integer","minimum":0,"maximum":1530},"uarfcn":{"description":"Carrier frequency of a UTRA-TDD Serving Cell (Optional, you must specify a value for this item when you specify a value for cellparams).","type":"integer","minimum":0,"maximum":16383},"cellparams":{"description":"Cell Parameters ID (CDMA Spreading Code ID) (Optional, you must specify a value for this item when you specify a value for uarfcn).","type":"integer","minimum":0,"maximum":127},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional, you must specify a value for this item when you specify a value for pathloss). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional, you must specify a value for this item when you specify a value for rscp).","type":"integer","minimum":46,"maximum":158},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"type":"array","description":"Network measurements (Optional). Maximum of 8 uarfcndl times maximum of 32 psc.","maxItems":256,"items":{"description":"TD-SCDMA Network measurement","type":"object","required":["uarfcn","cellparams"],"properties":{"uarfcn":{"description":"Carrier frequency of a UTRA-TDD Serving Cell","type":"integer","minimum":0,"maximum":16383},"cellparams":{"description":"Cell Parameters ID (CDMA Spreading Code ID)","type":"integer","minimum":0,"maximum":127},"cid":{"description":"Cell Identifier (uc-id) (Optional)","type":"integer","minimum":0,"maximum":268435455},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional, you must specify a value for this item when you specify a value for pathloss). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional, you must specify a value for this item when you specify a value for rscp).","type":"integer","minimum":46,"maximum":158}}}}}}},"lte":{"description":"LTE cells (E-UTRA, 4G)","type":"array","maxItems":16,"items":{"description":"LTE measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"tac":{"description":"Tracking Area Code (Optional)","type":"integer","minimum":0,"maximum":65535},"cid":{"description":"E-UTRA Cell Identifier, 28 bits (20 bits eNodeB and 8 bits Cell id). Mcc+mnc+cid uniquely identifies the LTE cell, tac is optional.","type":"integer","minimum":0,"maximum":268435455},"ta":{"description":"Timing Advance (Optional). Expressed in the units of 16*Ts (16 Basic time units) = 16/(15000*2048) seconds ~ 156meters. For reference see TS 36.213 and 36.211.","type":"integer","minimum":0,"maximum":1282},"rsrp":{"description":"Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"rsrq":{"description":"Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.","type":"number","minimum":-34,"maximum":3},"pci":{"description":"Physical Cell Identity (Optional, you must specify a value for this item when you specify a value for earfcn)","type":"integer","minimum":0,"maximum":503},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel (Optional, you must specify a value for this item when you specify a value for pci)","type":"integer","minimum":0,"maximum":262143},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"Network measurements (Optional)","type":"array","maxItems":16,"items":{"description":"LTE Network measurement","type":"object","required":["pci","earfcn"],"properties":{"pci":{"description":"Physical Cell Identity","type":"integer","minimum":0,"maximum":503},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel","type":"integer","minimum":0,"maximum":262143},"cid":{"description":"E-UTRA Cell Identifier (Optional)","type":"integer","minimum":0,"maximum":268435455},"rsrp":{"description":"Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"rsrq":{"description":"Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.","type":"number","minimum":-34,"maximum":3}}}}}}},"lteCatM":{"description":"LTE Cat-M cells","type":"array","maxItems":16,"items":{"description":"LTE Cat-M measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"cid":{"description":"E-UTRA Cell Identifier, 28 bits (20 bits eNodeB and 8 bits Cell id). Mcc+mnc+cid uniquely identifies the LTE cell, tac is optional.","type":"integer","minimum":0,"maximum":268435455},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel (Optional, you must specify a value for this item when you specify a value for pci)","type":"integer","minimum":0,"maximum":262143},"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"nmr":{"description":"Network measurements (Optional)","type":"array","maxItems":32,"items":{"description":"NB-IoT network measurement","type":"object","required":["pci","earfcn"],"properties":{"cid":{"description":"E-UTRA Cell Identifier (Optional)","type":"integer","minimum":0,"maximum":268435455},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel","type":"integer","minimum":0,"maximum":262143},"pci":{"description":"Physical Cell Identity","type":"integer","minimum":0,"maximum":503},"rsrp":{"description":"Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"rsrq":{"description":"Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.","type":"number","minimum":-34,"maximum":3}}}},"pci":{"description":"Physical Cell Identity (Optional, you must specify a value for this item when you specify a value for earfcn)","type":"integer","minimum":0,"maximum":503},"rsrp":{"description":"Reference Signal Received Power = RSRP (dBm) (Optional, you must specify a value for this item when you specify a value for rsrq). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"rsrq":{"description":"Reference Signal Received Quality = RSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 3dB should be mapped to 3dB.","type":"number","minimum":-34,"maximum":3},"ta":{"description":"Timing Advance (Optional). Expressed in the units of 16*Ts (16 Basic time units) = 16/(15000*2048) seconds ~ 156meters. For reference see TS 36.213 and 36.211.","type":"integer","minimum":0,"maximum":1282},"tac":{"description":"Tracking Area Code (Optional)","type":"integer","minimum":0,"maximum":65535},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"}}}},"nbIot":{"description":"NB-IoT cells","type":"array","maxItems":16,"items":{"description":"NB-IoT measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"cid":{"description":"E-UTRA Cell Identifier, 28 bits (20 bits eNodeB and 8 bits Cell id). Mcc+mnc+cid uniquely identifies the LTE cell, tac is optional.","type":"integer","minimum":0,"maximum":268435455},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel (Optional, you must specify a value for this item when you specify a value for pci)","type":"integer","minimum":0,"maximum":262143},"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"nmr":{"description":"NB-IoT Network measurements (Optional)","type":"array","maxItems":32,"items":{"description":"LTE Cat-M network measurement","type":"object","required":["pci","earfcn"],"properties":{"cid":{"description":"E-UTRA Cell Identifier (Optional)","type":"integer","minimum":0,"maximum":268435455},"earfcn":{"description":"Evolved Absolute Radio Frequency Channel","type":"integer","minimum":0,"maximum":262143},"pci":{"description":"Physical Cell Identity","type":"integer","minimum":0,"maximum":503},"nrsrp":{"description":"Narrowband Reference Signal Received Power = NRSRP (dBm) (Optional). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"nrsrq":{"description":"Narrowband Reference Signal Received Quality = NRSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 2.5dB should be mapped to 2.5.","type":"number","minimum":-34,"maximum":2.5}}}},"pci":{"description":"Physical Cell Identity (Optional, you must specify a value for this item when you specify a value for earfcn)","type":"integer","minimum":0,"maximum":503},"nrsrp":{"description":"Narrowband Reference Signal Received Power = NRSRP (dBm) (Optional). Power less than -156dBm should be mapped to -156. Power greater than -44dBm should be mapped to -44.","type":"integer","minimum":-156,"maximum":-44},"nrsrq":{"description":"Narrowband Reference Signal Received Quality = NRSRQ (dB) (Optional). Values less than -34dB should be mapped to -34, and values greater than 2.5dB should be mapped to 2.5.","type":"number","minimum":-34,"maximum":2.5},"ta":{"description":"Timing Advance (Optional). Expressed in the units of 16*Ts (16 Basic time units) = 16/(15000*2048) seconds ~ 156meters. For reference see TS 36.213 and 36.211.","type":"integer","minimum":0,"maximum":1282},"tac":{"description":"Tracking Area Code (Optional)","type":"integer","minimum":0,"maximum":65535},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"}}}},"cdma":{"description":"CDMA cells","type":"array","maxItems":16,"items":{"description":"CDMA measurement","type":"object","required":["sid","nid","bsid"],"properties":{"sid":{"description":"System Id, SID","type":"integer","minimum":1,"maximum":32767},"nid":{"description":"Network Id, NID","type":"integer","minimum":0,"maximum":65535},"rz":{"description":"Registration zone (Optional)","type":"integer","minimum":0,"maximum":4095},"bsid":{"description":"Base Station ID, BID","type":"integer","minimum":0,"maximum":65535},"pnoffset":{"description":"Pseudonoise offset (Optional, you must specify a value for this item when you specify a value for channel)","type":"integer","minimum":0,"maximum":511},"channel":{"description":"CDMA channel frequency (Optional, you must specify a value for this item when you specify a value for pnoffset)","type":"integer","minimum":0,"maximum":2047},"pilotpower":{"description":"Pilot Power (dBm) (Optional). If Pilot Power is not available directly, it needs to be calculated from Total Power in the band and Pilot Strength with respect to the Total Power. Pilot power less than -142dBm should be mapped to -142. Pilot power greater than -49dBm should be mapped to -49.","type":"integer","minimum":-142,"maximum":-49},"baselat":{"description":"Base station latitude (Optional)","type":"number","minimum":-90,"maximum":90},"baselng":{"description":"Base station longitude (Optional)","type":"number","minimum":-180,"maximum":180},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"CDMA Network measurements (Optional)","type":"array","maxItems":32,"items":{"description":"CDMA Network measurement","type":"object","required":["pnoffset","channel"],"properties":{"pnoffset":{"description":"Pseudonoise offset","type":"integer","minimum":0,"maximum":511},"channel":{"description":"CDMA channel frequency","type":"integer","minimum":0,"maximum":2047},"frequency":{"description":"Deprecated. Use 'channel' instead.","type":"integer","minimum":0,"maximum":2047},"bsid":{"description":"Base Station ID (Optional)","type":"integer","minimum":0,"maximum":65535},"pilotpower":{"description":"Pilot Power (dBm) (Optional). If Pilot Power is not available directly, it needs to be calculated from Total Power in the band and Pilot Strength with respect to the Total Power. Pilot power less than -142dBm should be mapped to -142. Pilot power greater than -49dBm should be mapped to -49.","type":"integer","minimum":-142,"maximum":-49}}}}}}},"wlan":{"description":"WLAN access points","type":"array","maxItems":128,"items":{"description":"WLAN measurement","type":"object","required":["mac"],"properties":{"mac":{"description":"The MAC address of the WLAN access point. MAC-48 address with colon (:) or hyphen (-) separators, upper or lower case hex digits. Note that if the SSID contains postfix '_nomap', the AP should not be used for positioning. For privacy reasons positioning based on a single WLAN AP is not possible; there has to be at least one other matching wlan or cell.","type":"string","pattern":"^(([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2})|(([a-fA-F0-9]{2}-){5}[a-fA-F0-9]{2})$"},"powrx":{"description":"Received signal level (dBm) at the terminal (Optional)","type":"integer","minimum":-128,"maximum":0},"band":{"description":"Frequency range (GHz). Allowed values are 2.4, 3.65, and 5. (Possible future values include 4.9, 5.9, 60, and 900.)","type":"number","enum":[2.4,3.65,5]},"timestamp":{"description":"Time of the wlan measurement (UTC) (Optional)","type":"string","format":"date-time"}}}},"gps":{"description":"Optionally supply this to improve HERE Tracking's positioning service by\ncontributing the scan data along with a GPS position.\n","type":"object","properties":{"accuracy":{"description":"Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"alt":{"description":"Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.","type":"number"},"altaccuracy":{"description":"Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"heading":{"description":"GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.","type":"integer","minimum":0,"maximum":359},"lat":{"description":"Latitude in WGS-84 format, decimal representation ranging from -90 to 90.","type":"number","minimum":-90,"maximum":90},"lng":{"description":"Longitude in WGS-84 format, decimal representation ranging from -180 to 180.","type":"number","minimum":-180,"maximum":180},"satellitecount":{"description":"Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)","type":"integer","minimum":1,"maximum":50},"speed":{"description":"GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.","type":"integer","minimum":0},"timestamp":{"type":"integer","description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC.","minimum":2,"maximum":4102448400000}},"required":["lat","lng","accuracy"]}}}},"required":["timestamp"]}},"example":[{"scan":{"gsm":[{"mcc":262,"mnc":1,"lac":5126,"cid":16504,"nmr":[{"bsic":6,"bcch":82},{"bsic":7,"bcch":85},{"bsic":12,"bcch":93},{"bsic":13,"bcch":88},{"bsic":19,"bcch":88}]}]},"timestamp":1515169948976}]}}},"tags":["Ingestion"],"responses":{"200":{"description":"Successful\n\nThe device data was ingested and processed successfully and the `desired` shadow\nwas returned.\n\nThis response is returned if the `async` query parameter was not set to `true`.\n","content":{"application/json":{"schema":{"description":"The desired shadow of the device.\n","type":"object","properties":{"payload":{"type":"object","description":"A free format JSON object.\nThe maximum size is 1000B.\n"},"system":{"type":"object","description":"Contains device configuration settings.\n","properties":{"powerSave":{"description":"Power save mode parameters.","type":"object","properties":{"sendMs":{"description":"The rate at which to send sample results in milliseconds in power save mode. A missing or zero value means power save mode is disabled. If present must be bigger than the value of `system.rate.sendMs`.","type":"number","minimum":0}}},"rate":{"description":"This can be used to specify the rates at which the device performs certain tasks.","type":"object","properties":{"sampleMs":{"description":"The rate at which to sample signals in milliseconds. Must be smaller than the value of `system.rate.sendMs`.","type":"number","minimum":0},"sendMs":{"description":"The rate at which to send sample results in milliseconds","type":"number","minimum":0},"distanceM":{"description":"Send an update if the device has moved farther than the specified distance in meters","type":"number","minimum":0}}},"syncGeofences":{"description":"A boolean value that sets efficient geofencing on or off","type":"boolean"},"detectOutliers":{"description":"A boolean value that sets outlier detection on or off","type":"boolean"},"disableTracking":{"type":"object","description":"Tracking can be disabled and enabled by defining disableTracking object.\nIn order to disable tracking, one must at least provide the begin time of the disabling\nperiod and define either position or sensor properties one wants to disable. One can also\ndisable both position and sensors at the same time. By default tracking is enabled.\n","properties":{"periods":{"description":"Define begin and end of the disabling period. All trace points with timestamp that falls between begin and end times will be disabled according to the settings defined in the position and sensors properties.\n","type":"array","minItems":0,"maxItems":1,"title":"Array of periods","items":{"type":"object","properties":{"begin":{"type":"integer","description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC\n\nBegin time of the tracking disabling period.\n\nBegin must be smaller than end. Begin must be greater or equal to current time.\nBegin can be set without end. If there exists already end time which is earlier\nthan given new begin time, the existing end time will be deleted.\n","minimum":2,"maximum":4102448400000},"end":{"type":"integer","description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC\n\nEnd time of the tracking disabling period.\n\nEnd must be greater than begin. End must be greater or equal to current time.\nEnd can be set without begin if begin is already set.\n","minimum":2,"maximum":4102448400000}}}},"position":{"description":"Define position methods to be disabled","oneOf":[{"type":"string","title":"all positioning","enum":["all"],"description":"All positioning data the device sends will be removed before further processing. No geofence and location events will be generated\n"},{"type":"array","minItems":1,"title":"specified positioning methods","items":{"type":"string","enum":["bt","country","gsm","wcdma","tdscdma","lte","cdma","wlan","gps"],"description":"The items specified in the position array will be removed from the ingestion scan object before further processing. Position may be resolved by the remaining scan properties. Some geofence and location events may be generated.\n"}},{"type":"string","title":"re-enable","enum":[""],"description":"By setting the position property empty string, all positioning data will be re-enabled during the disabling period.\n"}]},"sensors":{"description":"Define sensors to be disabled","oneOf":[{"type":"string","enum":["all"],"title":"all sensors","description":"All sensor data the device sends will be removed before further processing. No sensor events will be generated.\n"},{"type":"array","minItems":1,"title":"specified sensors","items":{"type":"string","enum":["accelerationG","deviceIsAttached","deviceIsStationary","batteryIsCharging","batteryLevel","pressureHpa","relativeHumidity","deviceIsTampered","temperatureC","tiltDegree"],"description":"The items specified in the sensors array will be removed from the ingestion system.reportedSensorData object before further processing. Sensor events will not be generated for the disabled sensors.\n"}},{"type":"string","title":"re-enable","enum":[""],"description":"By setting the sensors property empty string, all sensors data will be re-enabled during the disabling period.\n"}]}}},"stateVersion":{"description":"The version of the state of a device. This should be incremented only by HERE Tracking.\n","type":"integer","minimum":0},"lastModifiedGeofenceTimestamp":{"description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nThe time of the last update to geofences that device is associated\nwith. This value is zero when device hasn't yet been associated with\nany geofence. This is set by HERE Tracking when any geofences\nassociated with the device is modified or removed. Also adding and\nremoving geofence associations update this value.\n","maximum":4102448400000,"minimum":0,"type":"integer"},"sensorAlarmConfig":{"description":"The device sensors alarm configuration.\n","type":"object","properties":{"alertTemperatureCMin":{"type":"number","description":"A lower threshold value for temperature in degrees Celsius."},"alertTemperatureCMax":{"type":"number","description":"An upper threshold value for temperature in degrees Celsius."},"alertRelativeHumidityMin":{"type":"number","description":"A lower threshold value for relative humidity percentage."},"alertRelativeHumidityMax":{"type":"number","description":"An upper threshold value for relative humidity percentage."},"alertAccelerationGMin":{"type":"number","description":"A lower threshold value for acceleration in g-forces."},"alertAccelerationGMax":{"type":"number","description":"An upper threshold value for acceleration in g-forces."},"alertTiltDegreeMin":{"type":"number","description":"A lower threshold value for tilt in degrees."},"alertTiltDegreeMax":{"type":"number","description":"An upper threshold value for tilt in degrees."},"alertPressureHpaMin":{"type":"number","description":"A lower threshold value for pressure in hectopascals."},"alertPressureHpaMax":{"type":"number","description":"An upper threshold value for pressure in hectopascals."},"alertBatteryLevelPMin":{"type":"number","description":"A lower threshold value for battery level percentage."},"alertBatteryLevelPMax":{"type":"number","description":"An upper threshold value for battery level percentage."},"isAttachAlertEnabled":{"type":"boolean","default":false,"description":"True if attach sensor alert in device is enabled."},"isTamperAlertEnabled":{"type":"boolean","default":false,"description":"True if tamper sensor alert in device is enabled."}}},"wlanConnectivityEnabled":{"description":"A boolean value that sets wlan connectivity on or off","type":"boolean"},"wlanConfigurations":{"description":"An array of objects that holds wlan configurations","type":"array","minItems":0,"maxItems":10,"items":{"type":"object","properties":{"securityMode":{"description":"Selected security mode","type":"string","enum":["none","wpa2psk"]},"ssid":{"description":"Name given to a WLAN that is used by the client to access a WLAN network. Please note that the SSID is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity.","type":"string","minLength":1,"maxLength":32},"password":{"description":"WLAN password. Please note that the password is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity. Password is required if security mode is other then 'none'.","type":"string","minLength":8,"maxLength":63},"ssidIsHidden":{"description":"Flag that informs if SSID is hidden","type":"boolean"}},"additionalProperties":false,"required":["securityMode","ssid"]}},"sensorLoggingEnabled":{"description":"Flag that sets sensor logging on or off","type":"boolean"},"sensorLoggingConfigurations":{"description":"An array of objects that holds sensor logging configurations","type":"array","minItems":0,"maxItems":5,"items":{"type":"object","properties":{"type":{"description":"Type of single sensor logging configuration","type":"string","enum":["acceleration","pressure","temperature","humidity","gnss"]},"samplingFrequency":{"description":"Sampling frequrency of single sensor loggin configuration (in milliseconds)","type":"number","minimum":1}},"additionalProperties":false,"required":["type"]}},"sensorLoggingTag":{"description":"Tag for the logged sensor data.","type":"string","minLength":1,"maxLength":50}},"required":["stateVersion","lastModifiedGeofenceTimestamp"]},"timestamp":{"description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nThe time of the last update to the desired shadow.\n","maximum":4102448400000,"minimum":2,"type":"integer"}}}}}},"204":{"description":"Successful (no content).\n\nThe device data was ingested successfully and the response is empty.\nThis response is returned if the `async` query parameter was set to `true`.\n"},"400":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Bad request","code":400,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The request object is in an incorrect format or has values that are invalid or out of range.","details":{"hereErrorCode":400306}}}},"description":"Bad request\n\nThe request object is in an incorrect format or has values that are invalid or out of range.\n\nIf available, further error details are provided in the response body.\n"},"401":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Unauthorized","code":401,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The provided credentials are not valid.","details":{"hereErrorCode":401306}}}},"description":"Unauthorized\n\nThe request did not provide correct authentication details\n"},"403":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Forbidden","code":403,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The account does not have the correct privileges.","details":{"hereErrorCode":403306}}}},"description":"Forbidden\n\nThe account does not have the correct privileges\n"},"404":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Not Found","code":404,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The specified resource was not found.","details":{"hereErrorCode":404306}}}},"description":"Not Found\n\nThe specified resource was not found\n"},"413":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Payload Too Large","code":413,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"The request size exceeds the maximum size limit for payloads.","details":{"hereErrorCode":413306}}}},"description":"Payload Too Large\n\nThe request size exceeds the maximum size limit for payloads.\n"},"429":{"content":{"application/json":{"schema":{"type":"object","properties":{"error":{"type":"string","description":"An HTTP error description"},"code":{"type":"integer","description":"An HTTP status code"},"message":{"type":"string","description":"Descriptive text that explains the error"},"id":{"type":"string","format":"uuid","description":"An error ID that allows you to trace the error details"},"details":{"description":"An optional object containing more information about the error"}},"required":["error","code","id"]},"example":{"error":"Too Many Requests","code":429,"id":"5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2","message":"Too Many Requests"}}},"description":"Too Many Requests\n\nUser has sent too many requests in a given amount of time.\n"}}}},"/v3/":{"post":{"summary":"Ingests data for a device and receives a shadow","description":"Devices can use this end point to ingest data into HERE Tracking.\n\nA device uses its access token obtained via the the `/v2/token` endpoint\nto send telemetry – GPS position, sensor readings, WLAN or Bluetooth scans - to HERE Tracking.\n\nAlso device owners use this end point to ingest data on behalf of a device.\n\nThe device can be either a real or a virtual device.\nA real device is identified by a `trackingId` assigned to it when the device was claimed.\nA virtual device is identified by an external device ID and the owner's project `appId`.\n\nIn case the ingestion is done by a device owner, the owner should first authenticate himself with\nHERE Tracking and obtain a user access token via the `/users/v2/login` endpoint.\nThe user access token will then be used in this API call.\n\nBy default the request is synchronous and the response will be\nthe device `desired` shadow. If the request is set\nto be asynchronous, the response will be empty.\n\nThe device position gets resolved based on the `position` and `scan` objects\nprovided in the request body (see the objects definitions for details).\nIf only `position` is provided, it will be used as the device position.\nIf only `scan` is provided, the position will be resolved asynchronously\nvia the HERE Positioning API after returning a response.\nIf both are provided, `scan` is resolved to a position via the HERE Positioning API,\nand the better of the two positions (provided vs. resolved) will be selected.\nIf neither `position` nor `scan` is provided, or if the HERE Positioning API is not able to\nresolve the position, the device position will be left empty.\n\nThe `reported` shadow will be updated with the device latest position information,\nsensor readings and settings ingested by the device.\nThe reported shadow may also contain additional properties generated by HERE\nTracking based on the device-ingested telemetry.\nSuch properties are stored in the `system.computed` property of the shadow.\nThe device shadow can be queried via the `shadows/v2/{trackingId}` endpoint.\n\nThe data ingested by the device will be available as a device trace via the `traces/v2/{trackingId}` endpoint.\n","security":[{"UserToken":[]},{"ClientToken":[]},{"DeviceToken":[]}],"parameters":[{"in":"header","name":"X-Request-Id","schema":{"type":"string","format":"uuid"},"description":"ID used for correlating requests within HERE Tracking. Used for logging and error reporting.\n\nMust be a valid UUIDv4.\n","required":false},{"name":"authorization","in":"header","required":true,"example":"Bearer h1.yxPIksZ0ViLq77f1Nh-9cg.NVgGBZVlCU8G7kjV_...","schema":{"type":"string"}},{"name":"async","in":"query","description":"If set to `true`, ingests the device data and responds immediately with an empty response body.","required":false,"schema":{"type":"boolean","default":false}}],"requestBody":{"description":"A device telemetry data.\n\nThe timestamp specifies the time in milliseconds at which the device telemetry measurements were taken.\nThis must be within 10 seconds of the timestamp returned by the `/v2/timestamp` endpoint.\n\nExample of a GSM telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"gsm\": [{\n            \"mcc\": 262,\n            \"mnc\": 1,\n            \"lac\": 5126,\n            \"cid\": 16504,\n            \"nmr\": [\n                { \"bsic\": 6, \"bcch\": 82 },\n                { \"bsic\": 7, \"bcch\": 85 },\n                { \"bsic\": 12, \"bcch\": 93 },\n                { \"bsic\": 13, \"bcch\": 88 },\n                { \"bsic\": 19, \"bcch\": 88 }\n            ]\n        }]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n\nExample of a WLAN telemetry\n---\n\n```\n[{\n    \"scan\": {\n        \"wlan\": [\n            { \"mac\": \"1c:1d:86:07:01:0f\", \"powrx\": -45 },\n            { \"mac\": \"e4:f4:c6:d9:85:59\", \"powrx\": -39 },\n            { \"mac\": \"1c:1d:86:07:01:0d\", \"powrx\": -43 },\n            { \"mac\": \"1c:1d:86:07:01:0b\", \"powrx\": -44 },\n            { \"mac\": \"1c:1d:86:07:01:04\", \"powrx\": -58 },\n            { \"mac\": \"1c:1d:86:07:01:03\", \"powrx\": -59 }\n        ]\n    },\n    \"payload\": {\n        \"sensor\": \"data\"\n    },\n    \"timestamp\": 1515169948976\n}]\n```\n","content":{"application/json":{"schema":{"type":"object","required":["data"],"properties":{"appId":{"description":"The user's project appId. Used together with an external ID to identify the virtual device.","type":"string"},"id":{"description":"Tracking ID or application specific external ID, needed only if ingesting on behalf of another device.","type":"string","minLength":1,"maxLength":50},"data":{"type":"array","items":{"type":"object","properties":{"timestamp":{"description":"Milliseconds elapsed since 1 January 1970 00:00:00 UTC.\n\nSpecifies the time the device telemetry measurements were taken.\n","type":"integer","minimum":2,"maximum":4102448400000},"payload":{"type":"object","description":"A free format JSON object.\nThe maximum size is 1000B.\n"},"system":{"type":"object","properties":{"phoneNumber":{"type":"string","pattern":"^\\+[1-9]\\d{1,14}$","description":"The phone number of the device's SIM card in the international E.164 format. All the country codes should be prefixed a with \"+\" instead of \"00\".\n","example":"+491234567890"},"imsi":{"type":"string","pattern":"^[0-9]{1,15}$","description":"The IMSI of the device's SIM card.\n","example":"123456789012345"},"iccid":{"type":"string","minLength":18,"maxLength":22,"description":"SIM card integrated circuit card identifier (ICCID)"},"client":{"description":"Information about the client device.\n","type":"object","properties":{"manufacturer":{"description":"Manufacturer of the device (hardware)","type":"string","minLength":2,"maxLength":50},"model":{"description":"Model of the device (hardware)","type":"string","minLength":1,"maxLength":50},"firmware":{"description":"Device firmware version information","type":"string","minLength":1,"maxLength":150},"name":{"description":"Name of the client software accessing the HERE API","type":"string","minLength":3,"maxLength":50},"version":{"description":"Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.","type":"string","minLength":3,"maxLength":60},"platform":{"description":"Software platform information of the device, for example operating system name and version.","type":"string","minLength":3,"maxLength":50},"modules":{"description":"Software information of all updateable chips.","type":"array","maxItems":10,"items":{"description":"Software information of an updateable chip.","type":"object","properties":{"manufacturer":{"type":"string","description":"Manufacturer name","minLength":2,"maxLength":50},"model":{"type":"string","description":"Model or chip name","minLength":1,"maxLength":50},"firmwareVersion":{"type":"string","description":"Installed firmware version","minLength":3,"maxLength":60}}}},"diskquota":{"description":"Available disk quota in kilobytes.","type":"number","minimum":0},"diagnosticscode":{"description":"Device diagnostics code.","type":"number"},"homenetwork":{"description":"Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both subscriptions.","type":"array","maxItems":2,"items":{"description":"Network information. Either MCC + MNC or SID + NID attribute pair is required.","type":"object","properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"sid":{"description":"System Id, SID","type":"integer","minimum":1,"maximum":32767},"nid":{"description":"Network Id, NID","type":"integer","minimum":0,"maximum":65535}}}},"hasAttachSensor":{"type":"boolean","description":"True if a device has a sensor to detect if the device is attached to or detached from an object."},"hasNoBattery":{"type":"boolean","description":"False if a device has a battery."},"hasHumiditySensor":{"type":"boolean","description":"True if a device has a sensor to measure humidity."},"hasPressureSensor":{"type":"boolean","description":"True if a device has a sensor to measure pressure."},"hasTamperSensor":{"type":"boolean","description":"True if a device has a sensor to detect if device is disassembled."},"hasTemperatureSensor":{"type":"boolean","description":"True if a device has a sensor to measure temperature."},"hasAccelerometerSensor":{"type":"boolean","description":"True if a device has a sensor to measure acceleration."},"accelerometerSensorRange":{"description":"Specifies the range of measurable acceleration, representation\nunit g (9.8 m/s^2). If more than one accelerometer is available,\neach element in the list will represent individual accelerometer.\nEach value represents a single \"+/-\" range.\nFor example, value 2 means that sensor is capable to measure\nacceleration within the range of [-2 g, +2 g].\n","type":"array","maxItems":5,"items":{"type":"integer","minimum":-1000,"maximum":1000}}},"example":{"manufacturer":"Samsung","model":"SM-G930F","firmware":"heroltexx...","name":"HERE Tracker","version":"1.6.1","platform":"Android","diskquota":256,"diagnosticscode":0,"homenetwork":[],"hasAttachSensor":true,"hasNoBattery":false,"hasHumiditySensor":true,"hasPressureSensor":true,"hasTamperSensor":true,"hasTemperatureSensor":true,"hasAccelerometerSensor":true,"accelerometerSensorRange":[2]}},"stateVersion":{"description":"The version of the state of a device. This should be incremented only by HERE Tracking.\n","type":"integer","minimum":0},"reportedSensorData":{"description":"The last known device sensor data reported by the device.\n","type":"object","properties":{"accelerationG":{"type":"number","description":"A g-force value of acceleration.","minimum":-100,"maximum":100},"deviceIsAttached":{"type":"boolean","description":"True if device is attached to an object."},"deviceIsStationary":{"type":"boolean","description":"True if device hasn't detected movement."},"batteryIsCharging":{"type":"boolean","description":"True if device battery is charging."},"batteryLevel":{"type":"integer","description":"A value of percentage battery level.","minimum":0,"maximum":100},"pressureHpa":{"type":"number","description":"A value of pressure in hectopascal.","minimum":300,"maximum":1500},"relativeHumidity":{"type":"number","description":"A value of relative humidity in percent.","minimum":0,"maximum":100},"deviceIsTampered":{"type":"boolean","description":"True if device is tampered."},"temperatureC":{"type":"number","description":"A value of temperature in celcius.","minimum":-70,"maximum":100},"tiltDegree":{"type":"number","description":"A value of tilt in degrees."}}},"mode":{"description":"Tracker mode status of the device.\nWhen a tracker is in normal mode, it can send telemetry and, for\nexample, use its GNSS receiver if it has one.\nA tracker switches into flight mode once it detects that it's in an\nairplane, and leaves that mode once the airplane lands.\nTransport mode has to be triggered by the user, and it's used,\nfor example, during shipping from continent to another.\nSleep mode is used when a tracker is stored in a warehouse, and\nit's triggered by entering or leaving some defined geofence.\nPower save mode can be enabled with `system.powerSave.sendMs`\nproperty in the desired shadow and when enabled the device enters\npower save mode when the device is not moving.\n","type":"string","enum":["unknown","normal","flight","transport","sleep","powerSave"]}},"description":"Contains device-reported sensor data and device configuration settings.\n`stateVersion` property contains the version of the last\nknown `desired` state seen by the device.\n"},"position":{"type":"object","description":"The device location","properties":{"accuracy":{"description":"Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"alt":{"description":"Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.","type":"number"},"altaccuracy":{"description":"Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).","type":"number","minimum":0},"confidence":{"description":"Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).","type":"integer","minimum":50,"maximum":95},"heading":{"description":"GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.","type":"integer","minimum":0,"maximum":359},"floor":{"description":"The building where the measurements were taken","type":"object","required":["id","name","level"],"properties":{"level":{"description":"The floor in the building in integer format","type":"number","minimum":-999,"maximum":999},"id":{"description":"The building id","type":"string","minimum":1,"maximum":100},"name":{"description":"The building name","type":"string","minimum":1,"maximum":255}}},"lat":{"description":"Latitude in WGS-84 format, decimal representation ranging from -90 to 90.","type":"number","minimum":-90,"maximum":90},"lng":{"description":"Longitude in WGS-84 format, decimal representation ranging from -180 to 180.","type":"number","minimum":-180,"maximum":180},"satellitecount":{"description":"Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)","type":"integer","minimum":1,"maximum":50},"speed":{"description":"GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.","type":"integer","minimum":0},"type":{"description":"Position type, 'gnss' (satellite based), 'cell' or 'wlan' (network based)","type":"string"},"wlancount":{"description":"The total number of observed WLAN APs in the scan used for producing the position. ('wlan' position type only)","type":"integer","minimum":1,"maximum":254},"timestamp":{"description":"Timestamp of the position","type":"integer","minimum":2,"maximum":4102448400000}},"required":["lat","lng","accuracy"]},"scan":{"type":"object","description":"Radio measurements used for positioning or radio map contribution.\n","properties":{"bt":{"description":"Bluetooth access points","type":"array","maxItems":128,"items":{"description":"Bluetooth measurement. In addition to rss, one of mac, eddystoneId, or iBeaconId is required.","type":"object","required":["rss"],"properties":{"timestamp":{"description":"Time of the measurement (UTC)","type":"string","format":"date-time"},"rss":{"description":"Received signal strength (dBm) at the terminal","type":"integer","minimum":-128,"maximum":0},"mac":{"description":"The MAC address of the Bluetooth access point. MAC-48 address with colon (:) or hyphen (-) separators, upper or lower case hex digits. For privacy reasons positioning based on a single Bluetooth AP is not possible. There must be at least one other matching WLAN or Bluetooth access point. Either MAC, EddystoneId, or iBeaconId is required.","type":"string","pattern":"^(([a-fA-F0-9]{2}:){5}[a-fA-F0-9]{2})|(([a-fA-F0-9]{2}-){5}[a-fA-F0-9]{2})$"},"eddystoneId":{"description":"Full Identifier as Base64 string. A combination of 10-byte Namespace component and a 6-byte Instance component","type":"string","minLength":24,"maxLength":24},"iBeaconId":{"description":"Full Identifier as Base64 string. A combination of 16-byte UUID + 2-byte major + 2-byte minor","type":"string","minLength":28,"maxLength":28}}}},"country":{"description":"Indicates in which country the WLAN APs are located (in case cell data is not present in radio_observations)","type":"object","required":["mcc"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999}}},"gsm":{"description":"GSM cells (GERAN)","type":"array","maxItems":16,"items":{"description":"GSM measurement","type":"object","required":["mcc","mnc","lac","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"Cell Identifier, 16 bits. Mcc+mnc+lac+cid uniquely identifies the GSM cell.","type":"integer","minimum":0,"maximum":65535},"ta":{"description":"Timing advance (Optional). Expressed in the units of GSM bits equaling to 48/13 μs ~ 1107 meters.","type":"integer","minimum":0,"maximum":63},"rxlevel":{"description":"Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-110,"maximum":-25},"bsic":{"description":"Base Station Identity Code (for instance, color code) (Optional, you must specify a value for this item when you specify a value for bcch).","type":"integer","minimum":0,"maximum":63},"bcch":{"description":"Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel) (Optional, you must specify a value for this item when you specify a value for bsic).","type":"integer","minimum":0,"maximum":1023},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"Network measurements (Optional)","type":"array","maxItems":16,"items":{"description":"GSM Network measurement","type":"object","required":["bsic","bcch"],"properties":{"bsic":{"description":"Base Station Identity Code (for instance, color code)","type":"integer","minimum":0,"maximum":63},"bcch":{"description":"Broadcast Control Channel (Synonymous to ARFCN = Absolute Radio Frequency Channel)","type":"integer","minimum":0,"maximum":1023},"rxlevel":{"description":"Received Signal power (dBm) (Optional). Power less than -110dBm should be mapped to -110. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-110,"maximum":-25},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"Cell Identifier (Optional)","type":"integer","minimum":0,"maximum":65535}}}}}}},"wcdma":{"description":"WCDMA cells (UTRA-FDD, 3G UMTS)","type":"array","maxItems":16,"items":{"description":"WCDMA measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"UTRAN Cell Identifier, 28 bits (12 bits RNC and 16 bits Cell id). Mcc+mnc+cid uniquely identifies the WCDMA cell, lac is optional.","type":"integer","minimum":0,"maximum":268435455},"uarfcndl":{"description":"Downlink frequency of a UTRA-FDD Serving Cell (Optional, you must specify a value for this item when you specify a value for psc).","type":"integer","minimum":0,"maximum":16383},"psc":{"description":"Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel) (Optional, you must specify a value for this item when you specify a value for uarfcndl).","type":"integer","minimum":0,"maximum":511},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional).","type":"integer","minimum":46,"maximum":158},"timestamp":{"description":"Time of the cell measurement (UTC) (Optional)","type":"string","format":"date-time"},"nmr":{"description":"Network measurements (Optional). Maximum of 8 uarfcndl times maximum of 32 psc.","type":"array","maxItems":256,"items":{"description":"WCDMA Network measurement","type":"object","required":["uarfcndl","psc"],"properties":{"uarfcndl":{"description":"Downlink frequency of a UTRA-FDD Serving Cell","type":"integer","minimum":0,"maximum":16383},"psc":{"description":"Primary Scrambling Code (Primary CPICH, Primary Control Pilot Channel)","type":"integer","minimum":0,"maximum":511},"cid":{"description":"UTRAN Cell Identifier (uc-id) (Optional)","type":"integer","minimum":0,"maximum":268435455},"rscp":{"description":"Received Signal Code Power = RSCP (dBm) (Optional). Power less than -120dBm should be mapped to -120. Power greater than -25dBm should be mapped to -25.","type":"integer","minimum":-120,"maximum":-25},"pathloss":{"description":"UTRAN path loss (dB) (Optional).","type":"integer","minimum":46,"maximum":158}}}}}}},"tdscdma":{"description":"TD-SCDMA cell (UTRA-TDD, 3G UMTS TDD)","type":"array","maxItems":16,"items":{"description":"TD-SCDMA measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"description":"Mobile Country Code","type":"integer","minimum":200,"maximum":999},"mnc":{"description":"Mobile Network Code","type":"integer","minimum":0,"maximum":999},"lac":{"description":"Location Area Code (Optional)","type":"integer","minimum":1,"maximum":65535},"cid":{"description":"UTR
[...]
