openapi: 3.2.0
info:
  version: 2.6.11
  title: HERE Tracking Sensors API
  description: 'HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.


    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.'
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- description: The Sensors service creates and manages sensor rules.
  name: Sensors
paths:
  /sensors/v3/health:
    get:
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Sensors
      operationId: getSensorsV3Health
      x-operation-id-source: derived
  /sensors/v3/version:
    get:
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Sensors
      operationId: getSensorsV3Version
      x-operation-id-source: derived
  /sensors/v3:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: projectId
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: 'Project ID.

          Any HERE Tracking user must be a member of a Tracking project.

          The project ID can be implicitly resolved if the user calling the API is a member of a single project.

          If the user is a member of multiple projects, the `projectId` query parameter needs to be specified explicitly.

          '
      in: query
      required: false
    post:
      summary: Creates a sensor rule
      description: 'Creates a sensor rule of the specified rule type.

        After the sensor rule has been created, it needs to be associated to a device to get activated.


        For a sensor rule of the battery, humidity, pressure and temperature type, a `range` parameter needs

        to be specified, defining both upper and lower thresholds for the sensor readings.

        When the device ingests data, the reported sensor reading is compared to the defined range

        and in case in or out of range transition has taken place, an event gets triggered.


        For a sensor rule of the acceleration type, a `threshold` parameter needs

        to be specified, defining the acceleration threshold value.

        Every time the device reports its accelerometer sensor reading being above the threshold,

        an event gets triggered.


        For a sensor rule of the attach and tamper types, no additional parameters

        need to be specified.

        The attach sensor detects whether the device is attached to some object (for example to an

        asset).

        The tamper sensor detects whether the device cover is open or closed. When the cover is open,

        the device is considered to be tampered with.

        Every time the device reports getting attached, detached, tampered with or left with the

        cover closed (that is, not tampered with), an event gets triggered.


        When a sensor rule has been successfully created, the response body will contain the created rule ID.'
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Battery
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - battery
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum battery sensor alarm threshold value. Must be less than end.
                        minimum: 0
                        maximum: 100
                      end:
                        type: number
                        description: A maximum battery sensor alarm threshold value. Must be greater than begin.
                        minimum: 0
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Humidity
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - humidity
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum humidity sensor alarm threshold value. Must be less than end.
                        minimum: 0
                        maximum: 100
                      end:
                        type: number
                        description: A maximum humidity sensor alarm threshold value. Must be greater than begin.
                        minimum: 0
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Pressure
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - pressure
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum pressure sensor alarm threshold value. Must be less than end.
                        minimum: 300
                        maximum: 1500
                      end:
                        type: number
                        description: A maximum pressure sensor alarm threshold value. Must be greater than begin.
                        minimum: 300
                        maximum: 1500
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Temperature
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - temperature
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum temperature sensor alarm threshold value. Must be less than end.
                        minimum: -70
                        maximum: 100
                      end:
                        type: number
                        description: A maximum temperature sensor alarm threshold value. Must be greater than begin.
                        minimum: -70
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Boolean
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - attach
                    - tamper
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                additionalProperties: false
              - title: Acceleration
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - acceleration
                  threshold:
                    type: object
                    properties:
                      value:
                        type: number
                        description: An acceleration sensor alarm threshold value.
                        minimum: 2
                        maximum: 100
                    required:
                    - value
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - threshold
                additionalProperties: false
      tags:
      - Sensors
      responses:
        '201':
          description: 'Created


            The sensor rule was successfully created.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Set to `created` if the sensor rule creation was successful.
                  id:
                    type: string
                    format: uuid
                    description: 'Must be a valid UUIDv4.

                      '
                required:
                - id
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
      operationId: postSensorsV3
      x-operation-id-source: derived
    get:
      summary: Gets all sensor rules
      description: Gets all sensor rules definitions.
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 100
          default: 100
        in: query
        required: false
      tags:
      - Sensors
      responses:
        '200':
          description: 'Response body contains an array of sensor rule objects, `count` indicates the number of returned sensor rules,

            and `pageToken` is the next page token if available.


            If no sensor rules are found, an object with an empty data array is returned.

            '
          content:
            application/json:
              example:
                data:
                - id: f4c26630-5d26-4cd1-a57e-g7834e72cb99
                  type: temperature
                  range:
                    begin: -20
                    end: 30
                - id: j7c24430-5f26-4kd1-c58e-g7126e72ab33
                  type: pressure
                  range:
                    begin: 30
                    end: 80
                pageToken: 024ggjjea253d79fc
                count: 2
              schema:
                type: object
                description: 'Response body contains an array of sensor rule objects, `count` indicates the number of returned sensor rules,

                  and `pageToken` is the next page token if available.


                  If no sensor rules are found, an object with an empty data array is returned.

                  '
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        description: Response body contains a single sensor rule object
                        type: object
                        properties:
                          id:
                            type: string
                            format: uuid
                            description: 'Must be a valid UUIDv4.

                              '
                          type:
                            type: string
                            description: The sensor type.
                            enum:
                            - attach
                            - battery
                            - humidity
                            - pressure
                            - tamper
                            - temperature
                            - acceleration
                          range:
                            type: object
                            properties:
                              begin:
                                type: number
                                description: The lower threshold value.
                              end:
                                type: number
                                description: The upper threshold value.
                            required:
                            - begin
                            - end
                          threshold:
                            type: object
                            properties:
                              value:
                                type: number
                                description: Threshold value
                            required:
                            - value
                          name:
                            type: string
                          description:
                            type: string
                        required:
                        - id
                        - type
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
      operationId: getSensorsV3
      x-operation-id-source: derived
    delete:
      summary: Deletes all sensor rules
      description: 'Deletes all sensor rules of a project.


        Note that one needs to supply an HTTP header `x-confirm` with the value `true` to force the deletion.

        If the header is not provided, the request will fail.'
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Sensors
      parameters:
      - schema:
          type: string
          enum:
          - 'true'
        in: header
        name: x-confirm
        required: true
        description: 'A safety measure that prevents one from accidentally deleting data.


          To confirm that all entries should be deleted, set the value to `true`.

          '
      responses:
        '204':
          description: 'Successful (no content)


            All sensor rules were successfully deleted.

            '
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
      operationId: deleteSensorsV3
      x-operation-id-source: derived
  /sensors/v3/{sensorRuleId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: sensorRuleId
      description: ID of the sensor rule
      required: true
    get:
      summary: Gets a single sensor rule
      description: Gets details of a single sensor rule identified by the `sensorRuleId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Sensors
      responses:
        '200':
          description: 'Response body contains a single sensor rule object.

            '
          content:
            application/json:
              example:
                id: f4c26630-5d26-4cd1-a57e-g7834e72cb99
                type: temperature
                range:
                  begin: -20
                  end: 30
              schema:
                description: Response body contains a single sensor rule object
                type: object
                properties:
                  id:
                    type: string
                    format: uuid
                    description: 'Must be a valid UUIDv4.

                      '
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - attach
                    - battery
                    - humidity
                    - pressure
                    - tamper
                    - temperature
                    - acceleration
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: The lower threshold value.
                      end:
                        type: number
                        description: The upper threshold value.
                    required:
                    - begin
                    - end
                  threshold:
                    type: object
                    properties:
                      value:
                        type: number
                        description: Threshold value
                    required:
                    - value
                  name:
                    type: string
                  description:
                    type: string
                required:
                - id
                - type
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                message: The sensor rule ID was not found.
                details:
                  hereErrorCode: 404306
          description: The sensor rule ID was not found
      operationId: getSensorsV3BySensorRuleId
      x-operation-id-source: derived
    put:
      summary: Updates a single sensor rule
      description: 'Updates the sensor rule `sensorRuleId` name, description and range or threshold.

        The sensor rule type cannot be updated.

        If some of the these properties are not provided in the request body, their values

        will be set to null.

        If the sensor rule has been updated successfully, the response will contain the updated rule details.'
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              oneOf:
              - title: Battery
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - battery
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum battery sensor alarm threshold value. Must be less than end.
                        minimum: 0
                        maximum: 100
                      end:
                        type: number
                        description: A maximum battery sensor alarm threshold value. Must be greater than begin.
                        minimum: 0
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Humidity
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - humidity
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum humidity sensor alarm threshold value. Must be less than end.
                        minimum: 0
                        maximum: 100
                      end:
                        type: number
                        description: A maximum humidity sensor alarm threshold value. Must be greater than begin.
                        minimum: 0
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Pressure
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - pressure
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum pressure sensor alarm threshold value. Must be less than end.
                        minimum: 300
                        maximum: 1500
                      end:
                        type: number
                        description: A maximum pressure sensor alarm threshold value. Must be greater than begin.
                        minimum: 300
                        maximum: 1500
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Temperature
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - temperature
                  range:
                    type: object
                    properties:
                      begin:
                        type: number
                        description: A minimum temperature sensor alarm threshold value. Must be less than end.
                        minimum: -70
                        maximum: 100
                      end:
                        type: number
                        description: A maximum temperature sensor alarm threshold value. Must be greater than begin.
                        minimum: -70
                        maximum: 100
                    required:
                    - begin
                    - end
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - range
                additionalProperties: false
              - title: Boolean
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - attach
                    - tamper
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                additionalProperties: false
              - title: Acceleration
                type: object
                properties:
                  type:
                    type: string
                    description: The sensor type.
                    enum:
                    - acceleration
                  threshold:
                    type: object
                    properties:
                      value:
                        type: number
                        description: An acceleration sensor alarm threshold value.
                        minimum: 2
                        maximum: 100
                    required:
                    - value
                    additionalProperties: false
                  name:
                    type: string
                    maxLength: 50
                    description: Sensor rule name
                  description:
                    type: string
                    maxLength: 1000
                    description: Sensor rule description
                required:
                - type
                - threshold
                additionalProperties: false
      tags:
      - Sensors
      responses:
        '200':
          description: 'Successful


            The sensor rule was updated.

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    message:
                      type: string
                      description: The message text is "updated" if the sensor rule update was successful.
                - description: Response body contains a single sensor rule object
                  type: object
                  properties:
                    id:
                      type: string
                      format: uuid
                      description: 'Must be a valid UUIDv4.

                        '
                    type:
                      type: string
                      description: The sensor type.
                      enum:
                      - attach
                      - battery
                      - humidity
                      - pressure
                      - tamper
                      - temperature
                      - acceleration
                    range:
                      type: object
                      properties:
                        begin:
                          type: number
                          description: The lower threshold value.
                        end:
                          type: number
                          description: The upper threshold value.
                      required:
                      - begin
                      - end
                    threshold:
                      type: object
                      properties:
                        value:
                          type: number
                          description: Threshold value
                      required:
                      - value
                    name:
                      type: string
                    description:
                      type: string
                  required:
                  - id
                  - type
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                message: The sensor rule ID was not found.
                details:
                  hereErrorCode: 404306
          description: The sensor rule ID was not found
      operationId: putSensorsV3BySensorRuleId
      x-operation-id-source: derived
    delete:
      summary: Deletes a sensor rule
      description: Deletes a sensor rule identified by the `sensorRuleId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Sensors
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee
                message: The sensor rule ID was not found.
                details:
                  hereErrorCode: 404306
          description: The sensor rule ID was not found
        '409':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Conflict
                code: 409
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource already exists.
                details:
                  hereErrorCode: 404306
          description: 'Conflict


            The specified resource already exists

            '
      operationId: deleteSensorsV3BySensorRuleId
      x-operation-id-source: derived
components:
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'A key generated specifically to authenticate API requests.


        For more information on how to get an API key, see the

        [Identity & Access Management Developer Guide](https://www.here.com/docs/bundle/identity-and-access-management-developer-guide/page/README.html).

        '
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\n\nUsers are authenticated using an OAuth 1.0 bearer token obtained using the `/users/v2/login` endpoint.\n\nDevices are authenticated using an OAuth 1.0 bearer token obtained using the `/v2/token` endpoint.\n\n**Make a request using the bearer token for authentication**\n\nMake a request with an `Authorization` header containing the obtained bearer token.\n\nExample:\n\n```\n    Authorization: Bearer h1.yxPIksZ0ViLq77f1Nh-9cg.NVgGBZVlCU8G7kjV_...\n```\n\n> **Note:** For the available authentication options, see the [Identity & Access Management Guide](https://www.here.com/docs/bundle/identity-and-access-management-developer-guide/page/README.html).\n"
    UserToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "This token is obtained using user's realm, username and password and then further scoped to a specific project.\n\nFirst obtain access token from [/users/v2/login endpoint](#tag/Users/paths/~1users~1v2~1login/post).\nThen use [/users/v2/tokenExchange endpoint](#tag/Users/paths/~1users~1v2~1tokenExchange/post) to convert\nyour user access token into a project-scoped user access token.\n\nOnce done, make a request with an `Authorization` header containing the scoped access token.\n\nExample:\n\n```\n    Authorization: Bearer h1.xikjhDyJsE17VLhPXiu.fm3WsNOunstXH78RvU8_...\n```\n"
    ClientToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: "This token is obtained using application's OAuth 2.0 credentials (key + secret) and then scoped to a specific project.\n\nFollow [instructions here](https://www.here.com/docs/bundle/identity-and-access-management-developer-guide/page/topics/plat-token.html)\nto create your application credentials and obtain the token using OLP CLI. With an exception\nthat when getting the token you need to provide also project's HRN value:\n\n```\n    olp api token get --scope {PROJECT_HRN}\n```\n\nOnce done, make a request with an `Authorization` header containing the scoped access token.\n\nExample:\n\n```\n    Authorization: Bearer h1.PGEVzQmaoW5pyBYUlWu.SQoSCF7qpToEFMHgSlJ_...\n```\n"
    DeviceToken:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'This access token is obtained from [/v2/token endpoint](#tag/Ingestion/paths/~1v2~1token/post) using a signed request.


        > **Note:** Only a small subset of our endpoints support this token type and is only useful for hardware devices.

        > You probably won''t need this.

        '
    signedRequest:
      type: http
      scheme: oauth
      description: "HERE Tracking requires that you sign your requests for tokens. The signature method uses the OAuth 1.0 standard. For more information on this standard, see the [OAuth Core 1.0](https://oauth.net/core/1.0/) specification.\n\n> **Note:** You must create a new signature for each token request to HERE Tracking. Signatures can only be used once.\n\n**Create the Signature Base String**\n\nThe first step in creating a signature is to create the signature base string. This string contains the parameters to use when generating the signature.\n\n*1. To begin, make sure you have the information listed in the following table.*\n\n| Parameter                | Description                              |\n| ------------------------ | -----------------------------------------|\n| oauth\\_consumer\\_key     | The device ID for which you want to generate a token. |\n| oauth\\_signature\\_method | Always use \"HMAC-SHA256\".                 |\n| oauth\\_timestamp         | The number of seconds since the Unix epoch at the point the request is generated. This must be within 10 seconds of the timestamp returned by the `/v2/timestamp` endpoint. |\n| oauth\\_nonce             | A unique string for this signature. The string cannot have been used in a previous signature. Each token generation request to HERE Tracking must have a unique signature, and the value in this parameter is what is used to ensure the signature is unique. |\n| oauth\\_version           | Always use \"1.0\".                         |\n\n*2. Combine these values into a single string by following these steps:*\n\n   1. URL encode every key and value.\n   2. Sort the list of key-value pairs alphabetically by key.\n   3. Concatenate each key/value pair, separating each with an ampersand character (\"&\").\n\nThe result is a parameter string that looks like this (line breaks are added for legibility):\n\n   ```\n   oauth_consumer_key=47164fb0-b7b3-49e8-891b-650270b82cf2\n   &oauth_nonce=LIIpk4\n   &oauth_signature_method=HMAC-SHA256\n   &oauth_timestamp=1513634609\n   &oauth_version=1.0\n   ```\n\n*3. Combine the HTTP method, base URL, and parameter string into a single string called the \"base string\". This will be the string from which the signature is generated. The base string is in this format:*\n\n   ```\n   POST&https://tracking.api.here.com/v2/token&<URL encoded parameter string>\n   ```\n\n   The base string consists of:\n\n   1. The HTTP method in caps (POST) followed by an ampersand (\"&\")\n   2. The URL of the HERE Tracking token endpoint followed by an ampersand (\"&\")\n   3. The URL-encoded parameter string.\n\n   For example (line breaks are added for legibility):\n\n   ```\n   POST\n    &https%3A%2F%2Ftracking.api.here.com%2Fv2%2Ftoken\n    &oauth_consumer_key%3D47164fb0-b7b3-49e8-891b-650270b82cf2%26\n    oauth_nonce%3DLIIpk4%26oauth_signature_method%3DHMAC-SHA256%26\n    oauth_timestamp%3D1513634609%26oauth_version%3D1.0\n   ```\n\n   > **Note:** The URL-encoded base string should contain exactly two ampersands (\"&\").\n\n**Create the signature**\n\nThe signing key used to sign the base string is the `deviceSecret` followed by an ampersand (\"&\").\n\nCreate the signature by passing the signature base string and the signing key to the `HMAC-SHA256` hashing algorithm and converting the result to a `base64` string. Then, use the signature to request a token.\n\n**Request the token**\n\nMake a `POST` request to this endpoint with an `Authorization` header constructed from the above parameters and the generated signature.\n\nExample:\n\n```\n    Authorization: OAuth oauth_consumer_key=\"47164fb0-b7b3-49e8-891b-650270b82cf2\",\n        oauth_signature_method=\"HMAC-SHA256\",\n        oauth_timestamp=\"1513634609\",\n        oauth_nonce=\"LIIpk4\",\n        oauth_version=\"1.0\",\n        oauth_signature=\"pQ9EJX14L736B%2Br7uZl4yQlO6Xw%3D\"\n```\n"
externalDocs:
  description: The Developer guide and Release notes are available here.
  url: https://www.here.com/docs/bundle/tracking-api-developer-guide
