openapi: 3.2.0
info:
  title: Geocoding and Search API v7 Lookup API
  version: '7.155'
  description: This document describes the Geocoding and Search API.
security:
- Bearer: []
- ApiKey: []
tags:
- name: Lookup
paths:
  /lookup:
    servers:
    - url: https://lookup.search.hereapi.com/v1
    get:
      summary: Lookup By ID
      description: This endpoint looks up a known place using the HERE ID included in the request.
      parameters:
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/addressNamesVariantLookupRevgeocode'
      - $ref: '#/components/parameters/langAutosuggestBrowseDiscoverGeocodeLookupRevgeocode'
      - $ref: '#/components/parameters/politicalView'
      - $ref: '#/components/parameters/showLookup'
      - $ref: '#/components/parameters/showMapReferencesGeocodeLookupRevgeocode'
      - $ref: '#/components/parameters/showNavAttributes'
      - $ref: '#/components/parameters/showRelatedLookup'
      - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          description: The search results.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LookupResponse'
        '400':
          description: 'Client error: request failed validation.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '404':
          description: Requested id could not be found.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '405':
          description: 'Client error: http method not supported.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '429':
          description: 'Client error: Rate limit exceeded.'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
        '503':
          description: Temporary server error.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ErrorResponse'
      tags:
      - Lookup
      operationId: getLookup
      x-operation-id-source: derived
components:
  schemas:
    Segment:
      type: object
      properties:
        ref:
          type: string
          description: 'The segment reference follows the format `{segmentId}(#{offset})?`,

            representing its relative position from the result location to a segment.'
        side:
          type: string
          description: "The side of the link the attribute is applicable to\n\n- for `resultType=houseNumber` and `resultType=place`: side of the entity to the link\n- for `resultType=street`:\n  - on endpoints *Geocode* and *Lookup*: side of the entity to the link, it is always \"both\"\n  - on endpoints *Reverse Geocode* and *Multi-Reverse Geocode*: relative side from input to the link\n"
    EvNameId:
      type: object
      properties:
        name:
          type: string
          description: Any string value
        id:
          type: string
          description: Unique ID
    RatingMediaCollection:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Rating'
          description: 'An array containing the ratings objects of the current place result.

            If the place has no ratings, the parent element `ratings` is not present.'
    ExtendedAccessPoint:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          type: number
          format: double
          description: 'Latitude of the access position. For example: `"52.19404"`'
        lng:
          type: number
          format: double
          description: 'Longitude of the access position. For example: `"8.80135"`'
        primary:
          type: boolean
          description: 'Only applies to response items of type `"place"`. Set to true for the primary access position when the place

            result has more than one `access` position.

            Only the first element in the access array can have a primary field set to `true`.

            '
        type:
          type: string
          enum:
          - delivery
          - emergency
          - entrance
          - loading
          - other
          - parking
          - taxi
          description: "Only applies to response items of type `\"place\"`\n\nDescription of supported values:\n\n- `delivery`: A designated access position for receiving goods and services, typically used by delivery personnel.\n- `emergency`: A position specifically designated for emergency access or services,\n  such as ambulance or fire vehicle entry points.\n- `entrance`: A designated access position for larger or complex places, such as shopping malls or sports centers,\n  where multiple entrances are located around the perimeter. Each entrance provides a specific\n  point of entry for visitors.\n- `loading`: An access position to a designated area for the loading and unloading of goods, typically used by delivery and service vehicles.\n- `other`: An access type that does not fit into predefined categories, used for unique or less common situations.\n- `parking`: An access position to a designated private area for vehicle parking, associated with the place.\n- `taxi`: A position specifically designated for taxi/ride-share pick-up and drop-off services."
        label:
          type: string
          description: 'Only applies to response items of type `"place"`. The value is a short textual description of the access point. Example: "North Entrance"'
    ExtendedAttribute:
      type: object
      properties:
        evStation:
          allOf:
          - $ref: '#/components/schemas/EvChargingAttributes'
          description: 'EV charging pool information.

            This element and its children are only rendered when `show=ev` is provided.'
        evAvailability:
          allOf:
          - $ref: '#/components/schemas/EvAvailabilityAttributes'
          description: 'EV charging pool detailed availability

            Detailed information about the pool stations, EVSE and connectors.

            This element and its children are only rendered when `show=ev` is provided.'
        fuelStation:
          allOf:
          - $ref: '#/components/schemas/FuelStationAttributes'
          description: '**BETA, RESTRICTED**


            An object contain a listing of additional attributes specific to

            place results for businesses that sell fuel for vehicles:

            `700-7600-0000`, `700-7600-0116`, `700-7600-0444`, `700-7900-0132`


            See the related [Appendix](https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics-places/places-category-system-full.html#700-business-and-services)

            for details about those place category IDs.

            '
        truckAmenities:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TruckAmenityGeneric'
            - $ref: '#/components/schemas/TruckAmenityShowers'
          description: '**BETA, RESTRICTED**


            This field contains a listing of acceptable key-value pairs for amenities at places useful for truck drivers.'
    StreetInfo:
      type: object
      properties:
        baseName:
          type: string
          description: Base name part of the street name.
        streetType:
          type: string
          description: Street type part of the street name.
        streetTypePrecedes:
          type: boolean
          description: Defines if the street type is before or after the base name.
        streetTypeAttached:
          type: boolean
          description: Defines if the street type is attached or unattached to the base name.
        prefix:
          type: string
          description: A prefix is a directional identifier that precedes, but is not included in, the base name of a road.
        suffix:
          type: string
          description: A suffix is a directional identifier that follows, but is not included in, the base name of a road.
        direction:
          type: string
          description: Indicates the official directional identifiers assigned to highways, typically either "North/South" or "East/West"
        language:
          type: string
          description: BCP 47 compliant language code
    CategoryRef:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: 'Identifier number for an associated category. For example: `"600-6600-0082"`'
    Contact:
      type: object
      required:
      - value
      properties:
        label:
          type: string
          description: Optional label for the contact string, such as "Customer Service" or "Pharmacy Fax".
        value:
          type: string
          description: Contact information, as specified by the contact type.
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/CategoryRef'
          description: The list of place categories this contact refers to.
    EditorialMediaCollection:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Editorial'
          description: 'An array containing the editorial objects of the current place result.

            If the place has no editorials, the parent element `editorials` is not present.'
    PostalCodeDetails_JapanPost:
      type: object
      required:
      - postalCode
      properties:
        postalCode:
          type: string
          description: '**ALPHA**


            7-digit business postal code in `XXX-XXXX` format (separated by dash)'
        postalEntity:
          type: string
          enum:
          - Japan Post
          description: '**ALPHA**


            The postal entity. This could be a governmental authority, a regulatory authority, or a designated postal operator.


            Description of supported values:


            - **ALPHA** `Japan Post`: Field indicating the data source (fixed as `Japan Post` for Japan)'
        postalCodeType:
          type: string
          enum:
          - ZIP
          description: '**ALPHA**


            The postal code type.


            Description of supported values:


            - **ALPHA** `ZIP`: Field describing the postal code type (fixed as `ZIP` for Japan)'
        businessName:
          type: string
          description: '**ALPHA**


            Detailed information specifies company name, building name, floor number, etc. mapped to the corresponding business postal code'
    EvChargingAttributes:
      type: object
      properties:
        connectors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EvConnector'
          description: List of EV pool groups of connectors. Each group is defined by a common charging connector type and max power level. The numberOfConnectors field contains the number of connectors in the group.
        totalNumberOfConnectors:
          type: integer
          format: int32
          description: Total number of charging connectors in the EV charging pool
        access:
          type: string
          enum:
          - private
          - public
          - restricted
          description: Information about accessibility
        eMobilityServiceProviders:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EMobilityServiceProvider'
          description: 'The list of eMSP (e-Mobility Service Provider) for which the EV station operator has EV roaming agreements.

            Each element contains both the name and the partner ID of the eMSP.'
        paymentMethods:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EvPaymentSupport'
          description: List of payment methods supported at the EV station
    SupplierReference:
      type: object
      required:
      - supplier
      - id
      properties:
        supplier:
          allOf:
          - $ref: '#/components/schemas/ReferenceSupplier'
          description: Information about the supplier of this reference.
        id:
          type: string
          description: Identifier of the place as provided by the supplier.
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/CategoryRef'
          description: The list of place category identifiers this supplier reference relates to.
    EvAvailabilityAttributes:
      type: object
      properties:
        stations:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EvAvailabilityStation'
          description: List of EV stations at the place (Currently only one is expected)
    PostalCodeDetails_Usps_Zip:
      type: object
      required:
      - postalCode
      properties:
        postalCode:
          type: string
          description: The postal code.
        postalEntity:
          type: string
          enum:
          - USPS
          description: 'The postal entity. This could be a governmental authority, a regulatory authority, or a designated postal operator.


            Description of supported values:


            - `USPS`: The USPS postal code system.'
        postalCodeType:
          type: string
          enum:
          - ZIP
          description: 'The postal code type. Currently supported values: `ZIP` and `ZIP+4`


            Description of supported values:


            - `ZIP`: A 5-digit code that identifies a specific geographic delivery area. ZIP codes can represent an area within a state, or a single building or company that has a very high mail volume.'
        zipClassificationCode:
          type: string
          enum:
          - M
          - P
          - U
          description: 'The ZIP Classification Code.


            Description of supported values:


            - `M`: Military ZIP code.

            - `P`: ZIP code having only Post Office boxes.

            - `U`: Unique ZIP code: A ZIP assigned to a company, agency, or entity with sufficient mail volume, based on average daily volume of letter-size pieces.'
    Category:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: 'Identifier number for an associated category. For example: `"600-6600-0082"`'
        name:
          type: string
          description: Name of the place category in the result item language.
        primary:
          type: boolean
          description: Whether or not it is a primary category. This field is visible only when the value is `true`.
    AccessRestrictionAttributes:
      type: object
      properties:
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/CategoryRef'
          description: The list of place categories, this set of access restrictions refers to.
        restricted:
          type: boolean
          description: 'When set to `true`, the place response item has a known access restriction.

            When the place has no known access restriction, the `accessRestrictions` element is omitted, so `restricted` value is never set to `false`.'
    AdminIdSection:
      type: object
      required:
      - hmcId
      properties:
        hmcId:
          type: string
          description: Admin ID in HERE Map Content
        partitionId:
          type: string
          description: '**ALPHA**


            Unique identifier that references a specific subset of geo-location related layers

            (e.g., address, location, street, or place) in the HERE Map Content'
    RelatedResultAddress:
      type: object
      properties:
        label:
          type: string
          description: 'Assembled address value built out of the address components according to the regional postal rules.

            These are the same rules for all endpoints. It may not include all the input terms.'
        countryCode:
          type: string
          description: 'A three-letter country code. For example: "DEU"'
        countryName:
          type: string
          description: 'The localised country name. For example: "Deutschland"'
        stateCode:
          type: string
          description: 'A state code or state name abbreviation – country specific. For example, in the United States it is the two letter state abbreviation: "CA" for California.'
        state:
          type: string
          description: 'The state division of a country. For example: "North Rhine-Westphalia"'
        countyCode:
          type: string
          description: 'A county code or county name abbreviation – country specific. For example, for Italy it is the province abbreviation: "RM" for Rome.'
        county:
          type: string
          description: A division of a state; typically, a secondary-level administrative division of a country or equivalent.
        city:
          type: string
          description: 'The name of the primary locality of the place. For example: "Bad Oyenhausen"'
        district:
          type: string
          description: 'A division of city; typically an administrative unit within a larger city or a customary name of a city''s neighborhood. For example: "Bad Oyenhausen"'
        subdistrict:
          type: string
          description: 'A subdivision of a district. For example: "Minden-Lübbecke"'
        street:
          type: string
          description: 'Name of street. For example: "Schulstrasse"'
        streets:
          type: array
          items:
            type: string
          description: 'Names of streets in case of intersection result. For example: ["Friedrichstraße","Unter den Linden"]'
        block:
          type: string
          description: Name of block.
        subblock:
          type: string
          description: Name of sub-block.
        postalCode:
          type: string
          description: 'An alphanumeric string included in a postal address to facilitate mail sorting, such as post code, postcode, or ZIP code. For example: "32547"'
        houseNumber:
          type: string
          description: 'House number. For example: "4"'
        building:
          type: string
          description: Name of building.
        unit:
          type: string
          description: 'defining a Micro Point Address. Combines unit name (suite, flat, etc.), level name (floor) and

            building unit name for a Micro Point Address'
    Phoneme:
      type: object
      required:
      - value
      properties:
        value:
          type: string
          description: The actual phonetic transcription in the NT-SAMPA format.
        language:
          type: string
          description: The [BCP 47](https://en.wikipedia.org/wiki/IETF_language_tag) language code.
        preferred:
          type: boolean
          description: Whether or not it is the preferred phoneme.
    NavigationAttributes:
      type: object
      properties:
        speedLimits:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/SpeedLimit'
          description: 'Speed limit for the navigable road following the direction of traffic on the street. If traffic is allowed in both directions

            two value sets will be returned. If the request contained a bearing parameter, then the first entry will match the returned

            direction.'
        functionalClass:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/FunctionalClass'
          description: 'The value represents one of the five levels:'
        access:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Access'
          description: 'The following boolean values are available for access attributes:'
        physical:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Physical'
          description: 'The following boolean values are available for physical attributes:'
    Media:
      type: object
      properties:
        images:
          allOf:
          - $ref: '#/components/schemas/ImageMediaCollection'
          description: 'This object enables access to images linked to the place result and is returned when the query

            specifies either `show=tripadvisor` or `show=tripadvisorImageVariants` as a parameter.'
        editorials:
          allOf:
          - $ref: '#/components/schemas/EditorialMediaCollection'
          description: 'An object containing editorial content that describes the place result.

            Returned when the query includes the parameter `show=tripadvisor`.'
        ratings:
          allOf:
          - $ref: '#/components/schemas/RatingMediaCollection'
          description: 'An object that provides 3rd party supplier ratings about the place result.

            Currently only Tripadvisor (TM) ratings are provided.

            This object is returned when the query includes the parameter `show=tripadvisor`.'
    MapView:
      type: object
      required:
      - west
      - south
      - east
      - north
      properties:
        west:
          type: number
          format: double
          description: 'Longitude of the western-side of the box. For example: "8.80068"'
        south:
          type: number
          format: double
          description: 'Latitude of the southern-side of the box. For example: "52.19333"'
        east:
          type: number
          format: double
          description: 'Longitude of the eastern-side of the box. For example: "8.8167"'
        north:
          type: number
          format: double
          description: 'Latitude of the northern-side of the box. For example: "52.19555"'
    TripadvisorImage:
      type: object
      required:
      - href
      - supplier
      properties:
        href:
          type: string
          description: 'The URL points to the default image provided by Tripadvisor (TM). These default images are typically sized for the *medium* format used by Tripadvisor.

            In rare cases, the image may be larger than expected. To ensure consistent rendering across all scenarios, we recommend enforcing maximum dimensions when displaying the image.'
        supplier:
          allOf:
          - $ref: '#/components/schemas/TripadvisorMediaSupplier'
          description: Information about the supplier of this image.
        variants:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariants'
          description: 'An object containing key-value pairs, where each key represents a specific image size

            (e.g., `thumbnail`, `small`, `medium`, `large`, `original`) and the corresponding value is

            an object containing the URL of that image variant.

            This object is returned when the query includes the parameter `show=tripadvisorImageVariants`.

            '
    FuelStationAttributes:
      type: object
      properties:
        fuelTypes:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/CarFuel'
            - $ref: '#/components/schemas/TruckFuel'
          description: '**BETA, RESTRICTED**


            List of fuel types available or not available at this place'
        payAtThePump:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that payment can be made at fuel pumps via credit card or other method at this place

            - `false` indicates that payment can not be made at fuel pumps via credit card or other method at this place

            '
        highVolumePumps:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that high volume pumps for commercial vehicles are available at this place

            - `false` indicates that high volume pumps for commercial vehicles are not available at this place

            '
    EvAvailabilityEvse:
      type: object
      properties:
        id:
          type: string
          description: HERE ID of the EVSE
        cpoId:
          type: string
          description: "The unique ID of an EVSE in the system of the CPO.\n This ID is unique in the system of the CPO but not necessarily globally unique.\n The format will differ between different CPOs. This ID is always provided."
        cpoEvseEMI3Id:
          type: string
          description: 'Identifier in eMI3 format of the EVSE within the Charge Point Operator (CPO) platform.

            This ID is not always present. Example of ID format: "`DE*ICT*E0001897`". '
        state:
          type: string
          enum:
          - AVAILABLE
          - OCCUPIED
          - OFFLINE
          - OTHER
          - OUT_OF_SERVICE
          - RESERVED
          - UNAVAILABLE
          description: 'EVSE status


            Description of supported values:


            - `AVAILABLE`: The EVSE is able to start a new charging session.

            - `OCCUPIED`: The EVSE is in use

            - `OFFLINE`: No status information available. (Also used when offline)

            - `OTHER`: No status information available. (Also used when offline)

            - `OUT_OF_SERVICE`: The EVSE is currently out of order.

            - `RESERVED`: The EVSE has been reserved for a particular EV driver and is unavailable for other drivers

            - `UNAVAILABLE`: The EVSE is not available because of a physical barrier, for example a car'
        last_updated:
          type: string
          description: 'Last update of the dynamic connector availability information reflected in the connectorStatus elements,

            in ISO 8601 format. If the time is UTC, a Z is added.

            An example of this kind of timestamp value is "`2013-12-31T12:00:00.000Z`". If the time is not UTC ,

            then the offset is added as a ±[hh][mm] value (for example, "`2014-01-14T10:00:00.000+0100`").'
        connectors:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EvAvailabilityConnector'
          description: List of connectors of this EVSE.
    TruckAmenityGeneric:
      type: object
      required:
      - type
      - available
      properties:
        type:
          type: string
          enum:
          - carWash
          - chemicalToiletDisposal
          - convenienceStore
          - highCanopy
          - idleReduction
          - nightParkingOnly
          - paidParking
          - parking
          - powerSupply
          - reservableParking
          - secureParking
          - truckScales
          - truckService
          - truckStop
          - truckWash
          - wifi
          description: '**BETA, RESTRICTED**


            The kind of amenity


            Description of supported values:


            - **BETA, RESTRICTED** `carWash`: car washing and/or detailing services

            - **BETA, RESTRICTED** `chemicalToiletDisposal`: a waste disposal station, for use in emptying and cleaning chemical toilets

            - **BETA, RESTRICTED** `convenienceStore`: a convenience store can be found at the location

            - **BETA, RESTRICTED** `highCanopy`: High canopy at fueling station/truck stop. This references the canopy height over the pumps being at a height for most trucks to enter.

            - **BETA, RESTRICTED** `idleReduction`: idle reduction system onsite

            - **BETA, RESTRICTED** `nightParkingOnly`: parking is restricted to night hours only

            - **BETA, RESTRICTED** `paidParking`: A fee is required to use the truck parking space.

            - **BETA, RESTRICTED** `parking`: truck parking onsite or nearby

            - **BETA, RESTRICTED** `powerSupply`: power supply, for use in maintaining the temperature of refrigerated trucks

            - **BETA, RESTRICTED** `reservableParking`: The truck parking space requires advance booking for a defined time interval.

            - **BETA, RESTRICTED** `secureParking`: secure parking location

            - **BETA, RESTRICTED** `truckScales`: truck scales onsite or nearby

            - **BETA, RESTRICTED** `truckService`: truck service onsite or nearby

            - **BETA, RESTRICTED** `truckStop`: a truck stop

            - **BETA, RESTRICTED** `truckWash`: truck wash onsite or nearby

            - **BETA, RESTRICTED** `wifi`: Wi-Fi access'
        available:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that this amenity is available at this place

            - `false` indicates that this amenity is not available at this place

            '
    EvAvailabilityStation:
      type: object
      properties:
        id:
          type: string
          description: HERE ID of the station
        cpoId:
          type: string
          description: The unique ID of the location in the system of the CPO.
        evses:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/EvAvailabilityEvse'
          description: List of EVSE (electric vehicle supply equipment) in the EV station
    TripadvisorMediaSupplier:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          enum:
          - tripadvisor
          description: An identifier for the supplier.
    FuelAdditive:
      type: object
      required:
      - type
      - available
      properties:
        type:
          type: string
          enum:
          - aus32
          description: '**BETA, RESTRICTED**


            Indicates the type or brand of Diesel Emission Fluid (DEF) available.'
        available:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that Diesel Emission Fluid (DEF) is available at this place

            - `false` indicates that Diesel Emission Fluid (DEF) is not available at this place

            '
        inCans:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that Diesel Emission Fluid (DEF) is available in cans.

            - `false` indicates that Diesel Emission Fluid (DEF) is not available in cans.

            '
        atThePump:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that Diesel Emission Fluid (DEF) is available at the pump.

            - `false` indicates that Diesel Emission Fluid (DEF) is not available at the pump.

            '
        price:
          allOf:
          - $ref: '#/components/schemas/FuelPrice'
          description: '**BETA, RESTRICTED**


            Information about the price of the related additive type'
    FuelPrice:
      type: object
      properties:
        amount:
          type: number
          format: double
          description: '**BETA, RESTRICTED**


            Real-time price value for a volume of 1 unit'
        currency:
          type: string
          description: '**BETA, RESTRICTED**


            Currency in which the amount is expressed'
        unit:
          type: string
          description: '**BETA, RESTRICTED**


            Unit of measurement for the fuel quantity:

            - `l` litres

            - `gal` gallons

            - `bbl` barrels

            - `kg` kilogram

            - `m3` cubic meters

            '
    SpeedLimit:
      type: object
      required:
      - maxSpeed
      - speedUnit
      properties:
        maxSpeed:
          type: integer
          format: int32
          description: Used in combination with speed limit unit to indicate allowable speed limit at a location, for unlimited speed, the value is "999"
        direction:
          type: string
          enum:
          - E
          - N
          - NE
          - NW
          - S
          - SE
          - SW
          - W
          description: Rendered in compass value, which is N, S, E, W, NE, SE, NW, SW
        speedUnit:
          type: string
          enum:
          - kph
          - mph
          description: Country defined speed unit
        source:
          type: string
          enum:
          - derived
          - posted
          description: 'A generalised identification of the source of `Speed Limit` information.


            Description of supported values:


            - `derived`: Based on administrative regulations, for example: highway exit/entry ramps that do not have posted speed limits.

            - `posted`: Based on a posted speed limit sign, speed limit information painted on the road, or data obtained from official sources.'
    BasicAccessPoint:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          type: number
          format: double
          description: 'Latitude of the address. For example: `"52.19404"`'
        lng:
          type: number
          format: double
          description: 'Longitude of the address. For example: `"8.80135"`'
    Access:
      type: object
      properties:
        automobiles:
          type: boolean
          description: 'Applicable to automobiles.


            - `true`: The road allows automobiles.

            - `false`: The road doesn''t allow automobiles.

            '
        bicycles:
          type: boolean
          description: 'Applicable to bicycles.


            - `true`: The road allows bicycles.

            - `false`: The road doesn''t allow bicycles.

            '
        buses:
          type: boolean
          description: 'Applicable to buses.


            - `true`: The road allows buses.

            - `false`: The road doesn''t allow buses.

            '
        carpools:
          type: boolean
          description: 'Applicable to carpools.


            - `true`: The road allows carpooling.

            - `false`: The road doesn''t allow carpooling.

            '
        deliveries:
          type: boolean
          description: 'Applicable to deliveries.


            - `true`: The road allows deliveries.

            - `false`: The road doesn''t allow deliveries.

            '
        emergencyVehicles:
          type: boolean
          description: 'Applicable to emergency vehicles.


            - `true`: The road allows emergency vehicles.

            - `false`: The road doesn''t allow emergency vehicles.

            '
        motorcycles:
          type: boolean
          description: 'Applicable to motorcycles.


            - `true`: The road allows motorcycles.

            - `false`: The road doesn''t allow motorcycles.

            '
        pedestrians:
          type: boolean
          description: 'Applicable to pedestrians.


            - `true`: The road allows pedestrians.

            - `false`: The road doesn''t allow pedestrians.

            '
        taxis:
          type: boolean
          description: 'Applicable to taxis.


            - `true`: The road allows taxis.

            - `false`: The road doesn''t allow taxis.

            '
        throughTraffic:
          type: boolean
          description: 'Applicable to through traffic.


            - `true`: The road allows through traffic.

            - `false`: The road doesn''t allow through traffic.

            '
        trucks:
          type: boolean
          description: 'Applicable to trucks.


            - `true`: The road allows trucks.

            - `false`: The road doesn''t allow trucks.

            '
    TimeZoneInfo:
      type: object
      required:
      - name
      - utcOffset
      properties:
        name:
          type: string
          description: 'The name of the time zone as defined in the [tz database](https://en.wikipedia.org/wiki/Tz_database). For example: "Europe/Berlin"'
        utcOffset:
          type: string
          description: The UTC offset for this time zone at request time. For example "+02:00"
    EvAvailabilityConnector:
      type: object
      properties:
        id:
          type: string
          description: HERE ID of the connector.
        cpoId:
          type: string
          description: CPO ID of the connector.
        typeId:
          type: string
          description: 'Connector type ID. For more information on the current connector types,

            see [resource-type-connector-types.html](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html)'
        maxPowerLevel:
          type: number
          format: double
          description: Maximum charge power of connector in kilowatts.
    EvPaymentSupport:
      type: object
      required:
      - id
      - accepted
      properties:
        id:
          type: string
          enum:
          - authByCarPlugAndCharge
          - creditCard
          - debitCard
          - onlineApplePay
          - onlineGooglePay
          - onlinePaypal
          - operatorApp
          description: 'payment method identifier.


            Description of supported values:


            - `authByCarPlugAndCharge`: indicates whether this EV station supports Plug&Charge.ISO 15118 Plug&Charge enables drivers to plug in and charge up instantly using automatic EV-to-charging station authentication technology.

            - `creditCard`: indicates if this EV station accepts credit card payment or not.

            - `debitCard`: indicates if this EV station accepts debit card payment or not.

            - `onlineApplePay`: indicates whether this EV station accepts Apple Pay (TM) authentication and payment method.

            - `onlineGooglePay`:  indicates whether this EV station accepts Google Pay (TM) authentication and payment method.

            - `onlinePaypal`: indicates whether this EV station accepts PayPal (TM) authentication and payment method.

            - `operatorApp`: indicates whether this EV station support authentication and payment through an app from the Charging Point Operator.'
        accepted:
          type: boolean
          description: set to `true` if the related payment method is accepted at the EV station
    ContactInformation:
      type: object
      properties:
        phone:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
        mobile:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
        tollFree:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
        fax:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
        www:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
        email:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Contact'
    LookupResponse:
      type: object
      required:
      - title
      - id
      - address
      properties:
        title:
          type: string
          description: The localized display name of this result item.
        id:
          type: string
          description: The unique identifier for the result item. This ID can be used for a Look Up by ID search as well.
        closedPermanently:
          type: string
          enum:
          - maybe
          - 'yes'
          description: '**ALPHA**



            * `maybe`: The place has diminished confidence in the source data and is likely to be closed.

            * `yes`: The place is actually closed.

            '
        politicalView:
          type: string
          description: ISO3 country code of the item political view (default for international). This response element is populated when the politicalView parameter is set in the query
        resultType:
          type: string
          enum:
          - addressBlock
          - administrativeArea
          - houseNumber
          - intersection
          - locality
          - place
          - postalCodePoint
          - street
          description: '

            Type of the result item.


            Note: `addressBlock` result item is either a block or subblock.


            `resultType` values can get added to the list without further notice.

            '
        houseNumberType:
          type: string
          enum:
          - MPA
          - PA
          - interpolated
          description: "Indicates the address type which affects the precision of the address and the coordinate accuracy.\n\nDescription of supported values:\n\n- **RESTRICTED** `MPA`: A Micro Point Address represents a secondary address for a Point\n  Address; for example, building, floor (level) and suite (unit).\n  Micro Point Addresses can be used to enhance Point Address with\n  greater address detail and higher coordinate accuracy. This result\n  type is only returned by Lookup, Geocode, Autocomplete or (Multi) Reverse Geocode endpoints when\n  `with=MPA` parameter is provided.\n- `PA`: A Point Address represents an individual address as a point object.\n  Point Addresses are coming from trusted sources. There is a\n  high certainty that the address exists at that position. A\n  Point Address result contains two types of coordinates. One is the\n  access point (or navigation coordinates), which is the point to\n  start or end a drive. The other point is the position or display\n  point. This point varies per source and country. The point can be\n  the rooftop point, a point close to the building entry, or a point\n  close to the building, driveway or parking lot that belongs to the\n  building.\n- `interpolated`: An interpolated address. These are approximate positions as a\n  result of a linear interpolation based on address ranges. Address\n  ranges, especially in the USA, are typical per block. For\n  interpolated addresses, we cannot say with confidence that the\n  address exists in reality. But the interpolation provides a good\n  location approximation that brings people in most use cases close\n  to the target location. The access point of an interpolated address\n  result is calculated based on the address range and the road\n  geometry. The position (display) point is pre-configured offset\n  from the street geometry. Compared to Point Addresses, interpolated\n  addresses are less accurate."
        addressUsage:
          allOf:
          - $ref: '#/components/schemas/AddressUsage'
          description: '**ALPHA, RESTRICTED**'
        addressBlockType:
          type: string
          enum:
          - block
          - subblock
          description: '

            Type of the address block result if the `resultType` field is set to `addressBlock`.


            `addressBlockType` values can get added to the list without further notice.

            '
        localityType:
          type: string
          enum:
          - city
          - district
          - postalCode
          - subdistrict
          description: '

            Type of the locality result if the `resultType` field is set to `locality`.


            `localityType` values can get added to the list without further notice.

            '
        administrativeAreaType:
          type: string
          enum:
          - country
          - county
          - state
          description: '

            Type of the administrative area result if the `resultType` field is set to `administrativeArea`.


            `administrativeAreaType` values can get added to the list without further notice.

            '
        houseNumberFallback:
          type: boolean
          description: If true, indicates that the requested house number was corrected to match the nearest known house number. This field is visible only when the value is true.
        estimatedPointAddress:
          type: boolean
          description: 'If true, indicates that the coordinates of `position` and `access` points of the Point Address are

            estimated.

            This field is visible only for result items with resultType `houseNumber` and houseNumberType `PA` and

            only when the value is `true`'
        address:
          allOf:
          - $ref: '#/components/schemas/Address'
          description: Postal address of the result item.
        postalCodeDetails:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/PostalCodeDetails_JapanPost'
            - $ref: '#/components/schemas/PostalCodeDetails_Usps_Zip'
            - $ref: '#/components/schemas/PostalCodeDetails_Usps_ZipPlus4'
          description: 'Additional information for `postalCodePoint` results (only rendered if `show=postalCodeDetails` is

            provided and only in the countries which are using ZIP codes - USA, PRI, VIR, GUM, MNP, ASM and JPN)'
        position:
          allOf:
          - $ref: '#/components/schemas/DisplayResponseCoordinate'
          description: The coordinates (latitude, longitude) of a pin on a map corresponding to the searched place.
        access:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ExtendedAccessPoint'
          description: 'Coordinates of the response item on a HERE map navigable link (for example, for driving or walking).


            When a response item is of type `"place"`, it can contain more than one access object.

            Each access object contains a position (`lat`, `lng`), with potentially a type (field `type`),

            a textual label (field `label`) and a `primary` boolean field set to true for the main access to the place.


            The first object in the `access` array is the primary access to the place.


            Response items of other types than `"place"` have a maximum of one access position.

            '
        driveThrough:
          type: boolean
          description: 'Set to `true` if the related business allows customers to purchase products

            (or use the service provided by the business) without leaving their cars.'
        mapView:
          allOf:
          - $ref: '#/components/schemas/MapView'
          description: The bounding box enclosing the geometric shape (area or line) that an individual result covers. `place` typed results have no `mapView`.
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Category'
          description: The list of categories assigned to this place.
        chains:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Chain'
          description: The list of chains assigned to this place.
        references:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/SupplierReference'
          description: The list of supplier references available for this place.
        foodTypes:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Category'
          description: The list of food types assigned to this place.
        contacts:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/ContactInformation'
          description: Contact information like phone, email, WWW.
        openingHours:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/OpeningHours'
          description: 'A list of hours during which the place is open for business.

            This field is optional: When it is not present, it means that we are lacking data about the place opening hours.

            Days without opening hours have to be considered as closed.'
        timeZone:
          allOf:
          - $ref: '#/components/schemas/TimeZoneInfo'
          description: Provides time zone information for this place. (rendered only if `show=tz` is provided.)
        media:
          allOf:
          - $ref: '#/components/schemas/Media'
          description: '**BETA, RESTRICTED**


            A set of rich media types aggregated from multiple sources. When the current place has no ratings, description or images, this element is not present.'
        extended:
          allOf:
          - $ref: '#/components/schemas/ExtendedAttribute'
          description: Extended attributes section to contain detailed information for specific result types.
        phonemes:
          allOf:
          - $ref: '#/components/schemas/PhonemesSection'
          description: Phonemes for address and place names. (rendered only if `show=phonemes` is provided.)
        streetInfo:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/StreetInfo'
          description: Street Details (only rendered if `show=streetInfo` is provided.)
        countryInfo:
          allOf:
          - $ref: '#/components/schemas/CountryInfo'
          description: Country Details (only rendered if `show=countryInfo` is provided.)
        mapReferences:
          allOf:
          - $ref: '#/components/schemas/MapReferenceSection'
          description: Return the map references of the location objects.
        related:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/RelatedAddress'
          description: List of related objects
        navigationAttributes:
          allOf:
          - $ref: '#/components/schemas/NavigationAttributes'
          description: 'Return requested additional attributes for segments in a road network if `showNavAttributes` parameter

            is specified with valid value and relevant data is available. The value is a comma-separated list

            of the sections to be enabled.'
        accessRestrictions:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/AccessRestrictionAttributes'
          description: 'A list of access restrictions related to a `place` result item.


            A place response item has a restricted access when the place is not publicly accessible without a specific authorization, membership or customer relationship.

            Examples: the place is for customers or visitors only.


            This field is optional: When it is not present, it means that the place response item has no known access restriction.'
          example:
          - categories:
            - id: 800-8500-0177
            restricted: true
    PointAddressSection:
      type: object
      required:
      - hmcId
      properties:
        hmcId:
          type: string
          description: The point address ID in HERE Map Content
        partitionId:
          type: string
          description: '**ALPHA**


            Unique identifier that references a specific subset of geo-location related layers

            (e.g., address, location, street, or place) in the HERE Map Content'
    CarFuel:
      type: object
      required:
      - type
      - available
      properties:
        type:
          type: string
          enum:
          - biodiesel
          - cng
          - diesel
          - diesel_with_additives
          - e10
          - e20
          - e85
          - ethanol
          - ethanol_with_additives
          - gasohol_95
          - gasoline
          - hvo
          - hydrogen
          - lng
          - lpg
          - midgrade
          - octane_100
          - octane_87
          - octane_89
          - octane_90
          - octane_91
          - octane_92
          - octane_93
          - octane_95
          - octane_98
          - premium
          - premium_with_additives
          - regular
          - regular_with_additives
          description: '**BETA, RESTRICTED**


            The type of car fuel


            Description of supported values:


            - **BETA, RESTRICTED** `biodiesel`: bio-diesel

            - **BETA, RESTRICTED** `cng`: compressed natural gas (CNG)

            - **BETA, RESTRICTED** `diesel`: diesel

            - **BETA, RESTRICTED** `diesel_with_additives`: diesel with additives

            - **BETA, RESTRICTED** `e10`: E10 (10% ethanol)

            - **BETA, RESTRICTED** `e20`: E20 (20% ethanol)

            - **BETA, RESTRICTED** `e85`: E85 (minimum 70% ethanol blended gasoline)

            - **BETA, RESTRICTED** `ethanol`: ethanol fuel (when specific type is not known, such as E10, E85)

            - **BETA, RESTRICTED** `ethanol_with_additives`: ethanol with additives

            - **BETA, RESTRICTED** `gasohol_95`: E10 (10% Ethanol) with octane 95

            - **BETA, RESTRICTED** `gasoline`: gasoline

            - **BETA, RESTRICTED** `hvo`: hydrotreated vegetable oil fuel

            - **BETA, RESTRICTED** `hydrogen`: hydrogen

            - **BETA, RESTRICTED** `lng`: liquefied natural gas (LNG)

            - **BETA, RESTRICTED** `lpg`: liquefied petroleum gas (LPG)

            - **BETA, RESTRICTED** `midgrade`: midgrade octane rating

            - **BETA, RESTRICTED** `octane_100`: fuel that consists of 100% octane

            - **BETA, RESTRICTED** `octane_87`: fuel that consists of an octane / gasoline blend with 87% octane / 13% gasoline

            - **BETA, RESTRICTED** `octane_89`: fuel that consists of an octane / gasoline blend with 89% octane / 11% gasoline

            - **BETA, RESTRICTED** `octane_90`: fuel that consists of an octane / gasoline blend with 90% octane / 10% gasoline

            - **BETA, RESTRICTED** `octane_91`: fuel that consists of an octane / gasoline blend with 91% octane / 9% gasoline

            - **BETA, RESTRICTED** `octane_92`: fuel that consists of an octane / gasoline blend with 92% octane / 8% gasoline

            - **BETA, RESTRICTED** `octane_93`: fuel that consists of octane / gasoline blend with 93% octane / 7% gasoline

            - **BETA, RESTRICTED** `octane_95`: fuel that consists of an octane / gasoline blend with 95% octane / 5% gasoline

            - **BETA, RESTRICTED** `octane_98`:  fuel that consists of an octane / gasoline blend with 98% octane / 2% gasoline

            - **BETA, RESTRICTED** `premium`: premium octane rating

            - **BETA, RESTRICTED** `premium_with_additives`: premium octane rating with additives

            - **BETA, RESTRICTED** `regular`: regular octane rating

            - **BETA, RESTRICTED** `regular_with_additives`: regular octane rating with additives'
        available:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that this type of car fuel is available at this place

            - `false` indicates that this type of car fuel is not available at this place

            '
        stockAvailable:
          type: boolean
          description: '**BETA, RESTRICTED**


            If set to true, indicates that the fuel type is available for refuelling at the time indicated by `lastUpdateTimestamp`.

            Stock availability is currently only provided for the fuel types `hydrogen` and `truck_hydrogen`.'
        additives:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/FuelAdditive'
          description: '**BETA, RESTRICTED**


            A list of additional compound fluids sold at the location, related to the specific fuel type'
        pressures:
          type: array
          items:
            type: integer
            format: int32
          description: '**BETA, RESTRICTED**


            Indicates the pressure values in bar for hydrogen fuel at the location'
        price:
          allOf:
          - $ref: '#/components/schemas/FuelPrice'
          description: '**BETA, RESTRICTED**


            Information about the price of the related fuel'
        lastUpdateTimestamp:
          type: string
          description: '**BETA, RESTRICTED**


            Information about when the fuel price and stock availability information was last updated, in ISO 8601 format.

            If the time is UTC, a Z is added. An example of this kind of timestamp value is 2013-12-31T12:00:00.000Z.

            If the time is not UTC , then the offset is added as a ±[hh][mm] value (for example, 2014-01-14T10:00:00.000+0100).'
    EvChargingPoint:
      type: object
      properties:
        numberOfConnectors:
          type: integer
          format: int32
          description: Number of physical connectors in the connectors group
        voltsRange:
          type: string
          description: Voltage provided by the connectors group
          example: 100-120V AC
        phases:
          type: integer
          format: int32
          description: Number of phases provided by the connectors group
        ampsRange:
          type: string
          description: Amperage provided by the connectors group
          example: 12A-80A
        numberOfAvailable:
          type: integer
          format: int32
          description: Number of available physical connectors in the connectors group (i.e not being used to charge a vehicle, out of service, etc)
        numberOfInUse:
          type: integer
          format: int32
          description: Number of occupied physical connectors in the connectors group.
        numberOfOutOfService:
          type: integer
          format: int32
          description: Number of physical connectors that are out of service at the charge point.
        numberOfReserved:
          type: integer
          format: int32
          description: Number of physical connectors that are reserved at the charge point.
        lastUpdateTimestamp:
          type: string
          description: "\nInformation about when the `numberOfAvailable` and `numberOfInUse` fields were last updated, in ISO 8601 format.\nIf the time is UTC, a Z is added. \nIf the time is not UTC , then the offset is added as a ±[hh][mm] value.\n"
          example: '2013-12-31T12:00:00.000Z'
    AddressUsage:
      type: object
      required:
      - usageType
      properties:
        usageType:
          type: string
          enum:
          - nonResidential
          - residential
          description: A flag specifying whether the address is residential. (only rendered if `show=addressUsage` is provided.)
    TruckFuel:
      type: object
      required:
      - type
      - available
      properties:
        type:
          type: string
          enum:
          - truck_cng
          - truck_diesel
          - truck_hydrogen
          - truck_lng
          description: '**BETA, RESTRICTED**


            The type of truck fuel


            Description of supported values:


            - **BETA, RESTRICTED** `truck_cng`: compressed natural gas (CNG) fuel for truck

            - **BETA, RESTRICTED** `truck_diesel`: diesel fuel for truck

            - **BETA, RESTRICTED** `truck_hydrogen`: hydrogen fuel for truck

            - **BETA, RESTRICTED** `truck_lng`: liquefied natural gas (LNG) fuel for truck'
        available:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that this type of truck fuel is available at this place

            - `false` indicates that this type of truck fuel is not available at this place

            '
        stockAvailable:
          type: boolean
          description: '**BETA, RESTRICTED**


            If set to true, indicates that the fuel type is available for refuelling at the time indicated by `lastUpdateTimestamp`.

            Stock availability is currently only provided for the fuel types `hydrogen` and `truck_hydrogen`.'
        maximumTruckClass:
          type: string
          enum:
          - heavy
          - medium
          description: '**BETA, RESTRICTED**


            The truck classes


            Description of supported values:


            - **BETA, RESTRICTED** `heavy`: Medium and Heavy trucks are allowed to fuel in the gas station

            - **BETA, RESTRICTED** `medium`: Only medium size truck is allowed to fuel in the gas station'
        price:
          allOf:
          - $ref: '#/components/schemas/FuelPrice'
          description: '**BETA, RESTRICTED**


            Information about the price of the related fuel'
        largeNozzle:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true`: indicates that this Place has Truck diesel pumps with large nozzles

            - `false`: indicates that this Place does not have Truck diesel pumps with large nozzles

            '
        lastUpdateTimestamp:
          type: string
          description: '**BETA, RESTRICTED**


            Information about when the fuel price and stock availability information was last updated, in ISO 8601 format.

            If the time is UTC, a Z is added. An example of this kind of timestamp value is 2013-12-31T12:00:00.000Z.

            If the time is not UTC , then the offset is added as a ±[hh][mm] value (for example, 2014-01-14T10:00:00.000+0100).'
    OpeningHours:
      type: object
      required:
      - text
      - structured
      properties:
        categories:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/CategoryRef'
          description: The list of place categories, this set of opening hours refers to.
        text:
          type: array
          items:
            type: string
        isOpen:
          type: boolean
        structured:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/StructuredOpeningHours'
          description: List of iCalender-based structured representations of opening hours
    StructuredOpeningHours:
      type: object
      required:
      - start
      - duration
      - recurrence
      properties:
        start:
          type: string
          description: 'String with a modified [iCalendar DATE-TIME](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.5) value.

            The date part is omitted, values starts with the time section maker "T". Example: T132000'
        duration:
          type: string
          description: 'String with an [iCalendar DURATION](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.6) value.

            A closed day has the value PT00:00M'
        recurrence:
          type: string
          description: "String with a [RECUR](https://datatracker.ietf.org/doc/html/rfc5545#section-3.3.10) rule. Note that,\n in contrast to the RFC, the assignment operator is a colon `:` and not an equal sign `=`."
    PhonemesSection:
      type: object
      properties:
        placeName:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the name of the place.
        countryName:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the county name.
        state:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the state name.
        county:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the county name.
        city:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the city name.
        district:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the district name.
        subdistrict:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the subdistrict name.
        street:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the street name.
        block:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the block.
        subblock:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Phoneme'
          description: Phonemes for the sub-block.
    FunctionalClass:
      type: object
      required:
      - value
      properties:
        value:
          type: string
          enum:
          - '1'
          - '2'
          - '3'
          - '4'
          - '5'
          description: '


            Description of supported values:


            - `1`: allowing for high volume, maximum speed traffic movement

            - `2`: allowing for high volume, high speed traffic movement

            - `3`: providing a high volume of traffic movement

            - `4`: providing for a high volume of traffic movement at moderate speeds between neighbourhoods

            - `5`: roads whose volume and traffic movement are below the level of any functional class'
    PostalCodeDetails_Usps_ZipPlus4:
      type: object
      required:
      - postalCode
      properties:
        postalCode:
          type: string
          description: The postal code.
        postalEntity:
          type: string
          enum:
          - USPS
          description: 'The postal entity. This could be a governmental authority, a regulatory authority, or a designated postal operator.


            Description of supported values:


            - `USPS`: The USPS postal code system.'
        postalCodeType:
          type: string
          enum:
          - ZIP+4
          description: 'The postal code type. Currently supported values: `ZIP` and `ZIP+4`


            Description of supported values:


            - `ZIP+4`: Nine-digit code that identifies a small geographic delivery area that is serviceable by a single carrier; appears in the last line of the address on a mail piece.'
        recordTypeCode:
          type: string
          enum:
          - F
          - G
          - H
          - P
          - R
          - S
          description: 'The USPS ZIP+4 Record Type Code.


            Description of supported values:


            - `F`: Firm

            - `G`: General delivery

            - `H`: High-rise

            - `P`: PO Box

            - `R`: Rural route/contract

            - `S`: Street'
    EvConnector:
      type: object
      properties:
        supplierName:
          type: string
          description: The EV charge point operator
        connectorType:
          allOf:
          - $ref: '#/components/schemas/EvNameId'
          description: 'Id and name element pair representing the connector type in the EV pool group.

            For more information on the current connector types, see the [connectorTypes](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-type-connector-types.html) values in the HERE EV Charge Points API.'
        fixedCable:
          type: boolean
          description: Boolean indicating if a cable is provided for the connector group.If true, then there is a cable for the connector group at the station.
        maxPowerLevel:
          type: number
          format: double
          description: Maximum charge power (in kilowatt) of connectors in connectors group.
        chargingPoint:
          allOf:
          - $ref: '#/components/schemas/EvChargingPoint'
          description: Connectors group additional charging information
    TruckAmenityShowers:
      type: object
      required:
      - type
      - available
      properties:
        type:
          type: string
          enum:
          - showers
          description: '**BETA, RESTRICTED**


            The kind of amenity


            Description of supported values:


            - **BETA, RESTRICTED** `showers`: showers onsite'
        available:
          type: boolean
          description: '**BETA, RESTRICTED**


            When set to:

            - `true` indicates that this amenity is available at this place

            - `false` indicates that this amenity is not available at this place

            '
        numberOfShowers:
          type: integer
          format: int32
          description: '**BETA, RESTRICTED**


            Indicates the number of showers existing at the location.'
    CmVersionSection:
      type: object
      required:
      - region
      - dvn
      properties:
        region:
          type: string
          description: Region ID
        dvn:
          type: string
          description: "Map version details (DVN) containing the base line for the map schema and an identifier for the weekly or quarterly update.\n\n- Format: YYQ<weekly/quaterly update>\n  - Example: 23150 (map schema: Q1/2023, weekly update 50)\n"
    CountryInfo:
      type: object
      properties:
        alpha2:
          type: string
          description: '[ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code'
        alpha3:
          type: string
          description: '[ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country code'
    EMobilityServiceProvider:
      type: object
      required:
      - name
      - partnerId
      properties:
        name:
          type: string
          description: The name of the e-Mobility Service Provider. The eMSP name may change but the respective partner ID will remain stable.
        partnerId:
          type: string
          description: 'The unique and stable ID for the e-Mobility Service Provider provided by HERE platform.

            The partner ID can be used to display EV stations supported by eMSP for which drivers have a subscription.

            The list of eMSP partner IDs can be retrieved using the EV Charge Points API

            [`roaming`](https://www.here.com/docs/bundle/ev-charge-points-api-developer-guide/page/topics/resource-roamings.html) resource.'
    Physical:
      type: object
      properties:
        boatFerry:
          type: boolean
          description: 'The segment represents a generalised route of a boat ferry for passengers or vehicles over water,

            including routes to pedestrian only islands, tourist areas, commuter ferry routes open to only pedestrians, etc.


            - `true`: The road is a boat ferry.

            - `false`: The road isn''t a boat ferry.'
        bridge:
          type: boolean
          description: 'Identifies a structure that allows a road, railway, or walkway to pass over another road,

            railway, waterway, or valley serving map display and route guidance functionalities.


            - `true`: The road is a bridge.

            - `false`: The road isn''t a bridge.'
        deliveryRoad:
          type: boolean
          description: 'Indication of a delivery road.


            - `true`: The physical characteristic of the road is that it functions as a delivery road.

            - `false`: The physical characteristic of the road is that it doesn''t function as a delivery road.'
        movableBridge:
          type: boolean
          description: 'Movable Bridge indicates a bridge that moves to allow passage (usually) for boats or barges.


            - `true`: The road is a movable bridge.

            - `false`: The road isn''t a movable bridge.

            '
        multiplyDigitized:
          type: boolean
          description: 'Multiply Digitised identifies separately digitised roads, i.e., roads that are digitised with one line per

            direction of traffic instead of one line per road.


            - `true`: The physical characteristic of the road is that it functions as multiplyDigitized.

            - `false`: The physical characteristic of the road is that it doesn''t function as multiplyDigitized.'
        paved:
          type: boolean
          description: 'Indicates whether the navigable segment is paved.


            - `true`: The physical characteristic of the road is paved.

            - `false`: The physical characteristic of the road isn''t paved.'
        private:
          type: boolean
          description: 'Private identifies roads that are not maintained by an organisation responsible for maintenance of

            public roads.


            - `true`: The road is private..

            - `false`: The road isn''t private.'
        railFerry:
          type: boolean
          description: 'The segment represents a generalised route of a ferry for passengers or vehicles via rail.


            - `true`: The road is a rail flerry.

            - `false`: The road isn''t a rail flerry.

            '
        tunnel:
          type: boolean
          description: 'Identifies an enclosed (on all sides) passageway through or under an obstruction.


            - `true`: The road is a tunnel.

            - `false`: The road isn''t a tunnel.

            '
    RelatedAddress:
      type: object
      required:
      - relationship
      - id
      properties:
        relationship:
          type: string
          enum:
          - MPA
          - intersection
          - nearbyAddress
          - parentPA
          description: "\n\nDescription of supported values:\n\n- **RESTRICTED** `MPA`: Micro Point Addresses related to a result items with\n  `resultType` = `houseNumber` and `houseNumberType` = `PA`;\n  for example, buildings, floors (levels) or suites (units)\n  associated to this address. This type of relationship is\n  only returned by the Lookup endpoint and the Geocode endpoint\n  when the `showRelated=MPA` parameter is provided.\n- `intersection`: The Intersections nearest to the address. This type of relationship is\n  only returned by Reverse Geocode, Geocode or Multi-Reverse Geocode\n  endpoints when `showRelated=intersections` parameter is provided.\n- `nearbyAddress`: Nearby address on the same street of main result. This type of\n  relationship is only returned by Reverse Geocode endpoint or\n  Multi-Reverse Geocode endpoint when `showRelated=nearbyAddress`\n  parameter is provided.\n- **RESTRICTED** `parentPA`: The Point Address to which the Micro Point Address\n  belongs; for example the house number to which this\n  suite is associated. This type of relationship is only\n  returned by the Lookup, the Geocode and the (Multi) Reverse Geocode endpoints when\n  the `showRelated=parentPA` parameter is provided."
        title:
          type: string
          description: The localized display name of this related entity.
        id:
          type: string
          description: The ID of the related entity.
        resultType:
          type: string
          enum:
          - addressBlock
          - administrativeArea
          - houseNumber
          - intersection
          - locality
          - place
          - postalCodePoint
          - street
          description: The resultType of the related entity.
        houseNumberType:
          type: string
          enum:
          - MPA
          - PA
          - interpolated
          description: "The houseNumberType of the related entity.\n\nDescription of supported values:\n\n- **RESTRICTED** `MPA`: A Micro Point Address represents a secondary address for a Point\n  Address; for example, building, floor (level) and suite (unit).\n  Micro Point Addresses can be used to enhance Point Address with\n  greater address detail and higher coordinate accuracy. This result\n  type is only returned by Lookup, Geocode, Autocomplete or (Multi) Reverse Geocode endpoints when\n  `with=MPA` parameter is provided.\n- `PA`: A Point Address represents an individual address as a point object.\n  Point Addresses are coming from trusted sources. There is a\n  high certainty that the address exists at that position. A\n  Point Address result contains two types of coordinates. One is the\n  access point (or navigation coordinates), which is the point to\n  start or end a drive. The other point is the position or display\n  point. This point varies per source and country. The point can be\n  the rooftop point, a point close to the building entry, or a point\n  close to the building, driveway or parking lot that belongs to the\n  building.\n- `interpolated`: An interpolated address. These are approximate positions as a\n  result of a linear interpolation based on address ranges. Address\n  ranges, especially in the USA, are typical per block. For\n  interpolated addresses, we cannot say with confidence that the\n  address exists in reality. But the interpolation provides a good\n  location approximation that brings people in most use cases close\n  to the target location. The access point of an interpolated address\n  result is calculated based on the address range and the road\n  geometry. The position (display) point is pre-configured offset\n  from the street geometry. Compared to Point Addresses, interpolated\n  addresses are less accurate."
        address:
          allOf:
          - $ref: '#/components/schemas/RelatedResultAddress'
          description: The address of the related entity. The fields are only rendered, if they differ from the main result item.
        position:
          allOf:
          - $ref: '#/components/schemas/DisplayResponseCoordinate'
          description: The coordinates (latitude, longitude) of a pin on a map corresponding to the searched place.
        access:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/BasicAccessPoint'
          description: Coordinates of the response item on a HERE map navigable link (for example, for driving or walking).
        distance:
          type: integer
          format: int64
          description: 'The distance "as the crow flies" from the search center to this related address'' position in meters.

            It is only returned by Reverse Geocode endpoint or Multi-Reverse Geocode endpoint.'
        routeDistance:
          type: integer
          format: int64
          description: 'The distance from routing position of the nearby address to the street result, the distance is

            calculated based on the underlying road geometry. It is only returned by Reverse Geocode endpoint or

            Multi-Reverse Geocode endpoint.'
        bearing:
          type: integer
          format: int32
          description: 'Bearing (measured clockwise from true north) from the projected coordinate on the street to the

            display position of the related location. True clockwise degree, 0 is north. It is only returned by

            Reverse Geocode endpoint or Multi-Reverse Geocode endpoint.'
        mapView:
          allOf:
          - $ref: '#/components/schemas/MapView'
          description: "The bounding box enclosing the geometric shape (area or line) that the related address covers. It is\n only returned by Reverse Geocode endpoint or Multi-Reverse Geocode endpoint."
        mapReferences:
          allOf:
          - $ref: '#/components/schemas/MapReferenceSection'
          description: 'Return the map references of the location objects. It is only returned by Reverse Geocode endpoint

            or Multi-Reverse Geocode endpoint.'
    ImageMediaCollection:
      type: object
      required:
      - items
      properties:
        items:
          type: array
          items:
            oneOf:
            - $ref: '#/components/schemas/TripadvisorImage'
          description: 'An array containing the image objects of the current place result.

            If the place has no image, the parent element `images` is not present.'
    TripadvisorImageVariant:
      type: object
      required:
      - href
      properties:
        href:
          type: string
          description: The URL to the actual image
    Address:
      type: object
      properties:
        label:
          type: string
          description: 'Assembled address value built out of the address components according to the regional postal rules.

            These are the same rules for all endpoints. It may not include all the input terms. For example:

            "Schulstraße 4, 32547 Bad Oeynhausen, Germany"'
        countryCode:
          type: string
          description: 'A three-letter country code. For example: "DEU"'
        countryName:
          type: string
          description: 'The localised country name. For example: "Deutschland"'
        stateCode:
          type: string
          description: 'A state code or state name abbreviation – country specific. For example, in the United States it is the two letter state abbreviation: "CA" for California.'
        state:
          type: string
          description: 'The state division of a country. For example: "North Rhine-Westphalia"'
        countyCode:
          type: string
          description: 'A county code or county name abbreviation – country specific. For example, for Italy it is the province abbreviation: "RM" for Rome.'
        county:
          type: string
          description: A division of a state; typically, a secondary-level administrative division of a country or equivalent.
        city:
          type: string
          description: 'The name of the primary locality of the place. For example: "Bad Oyenhausen"'
        district:
          type: string
          description: 'A division of city; typically an administrative unit within a larger city or a customary name of a city''s neighborhood. For example: "Bad Oyenhausen"'
        subdistrict:
          type: string
          description: 'A subdivision of a district. For example: "Minden-Lübbecke"'
        street:
          type: string
          description: 'Name of street. For example: "Schulstrasse"'
        streets:
          type: array
          items:
            type: string
          description: 'Names of streets in case of intersection result. For example: ["Friedrichstraße","Unter den Linden"]'
        block:
          type: string
          description: Name of block.
        subblock:
          type: string
          description: Name of sub-block.
        postalCode:
          type: string
          description: 'An alphanumeric string included in a postal address to facilitate mail sorting, such as post code, postcode, or ZIP code. For example: "32547"'
        houseNumber:
          type: string
          description: 'House number. For example: "4"'
        building:
          type: string
          description: Name of building.
        unit:
          type: string
          description: Secondary unit information. It may include building, floor (level), and suite (unit) details. This field is returned by Geocode, Autocomplete, (Multi) Reverse Geocode and Lookup endpoints only.
    Chain:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          description: 'Identifier number for an associated chain. For example: `"1396"`'
        name:
          type: string
          description: '

            Name of the chain in the result item language. If the script is not available, fallback to latin.

            For example: `"STARBUCKS"` is returned for the Greek language, while `"ستاربكس"` is returned for the arabic language.

            '
    ErrorResponse:
      type: object
      required:
      - status
      - title
      - correlationId
      - requestId
      properties:
        status:
          type: integer
          format: int32
          description: The HTTP status code
        title:
          type: string
          description: Human-readable error description
        code:
          type: string
          description: Error code
        cause:
          type: string
          description: Human-readable explanation for the error
        action:
          type: string
          description: Human-readable action for the user
        correlationId:
          type: string
          description: Auto-generated ID univocally identifying this request
        requestId:
          type: string
          description: Request identifier provided by the user
    MapReferenceSection:
      type: object
      properties:
        links:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/LinkInfoSection'
          description: An identifier for link and the side of link the attribute is applicable to
        pointAddress:
          allOf:
          - $ref: '#/components/schemas/PointAddressSection'
          description: The section containing the point address reference
        microPointAddress:
          allOf:
          - $ref: '#/components/schemas/MicroPointAddressSection'
          description: '**RESTRICTED**


            The section containing the micro point address reference. This type of reference is only returned by Lookup endpoint or Geocode endpoint when showMapReference=''microPointAddress'' parameter is provided.'
        segments:
          type: array
          items:
            allOf:
            - $ref: '#/components/schemas/Segment'
          description: The section containing the segment references
        country:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: country ID in HERE Map Content
        state:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: state ID in HERE Map Content
        county:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: county ID in HERE Map Content
        city:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: city ID in HERE Map Content
        district:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: district ID in HERE Map Content
        subdistrict:
          allOf:
          - $ref: '#/components/schemas/AdminIdSection'
          description: subdistrict ID in HERE Map Content
        cmVersion:
          allOf:
          - $ref: '#/components/schemas/CmVersionSection'
          description: cmVerison info in HERE Map Content
    ReferenceSupplier:
      type: object
      required:
      - id
      properties:
        id:
          type: string
          enum:
          - booking.com
          - core
          - hereParking
          - nsr
          - parkopedia
          - ryd
          - tollCollect
          - tripadvisor
          - truckParkingClub
          - venues
          - vinfast
          - yelp
          description: An identifier for the supplier.
    Rating:
      type: object
      required:
      - count
      - average
      - supplier
      properties:
        count:
          type: integer
          format: int32
          description: The current count of user reviews in the supplier database.
        average:
          type: number
          format: double
          description: The current average of user ratings in the supplier database.
        href:
          type: string
          description: An optional deep link to a 3rd party source providing the ratings information.
        supplier:
          allOf:
          - $ref: '#/components/schemas/TripadvisorMediaSupplier'
          description: Information about the supplier of this rating.
    DisplayResponseCoordinate:
      type: object
      required:
      - lat
      - lng
      properties:
        lat:
          type: number
          format: double
          description: 'Latitude of the address. For example: `"52.19404"`'
        lng:
          type: number
          format: double
          description: 'Longitude of the address. For example: `"8.80135"`'
    Editorial:
      type: object
      required:
      - description
      - language
      - supplier
      properties:
        description:
          type: string
          description: The editorial content.
        language:
          type: string
          description: A language code indicating what language the editorial is in, if known.
        href:
          type: string
          description: An optional deep link to a 3rd party source providing the editorials.
        supplier:
          allOf:
          - $ref: '#/components/schemas/TripadvisorMediaSupplier'
          description: Information about the supplier of this editorial.
    TripadvisorImageVariants:
      type: object
      properties:
        thumbnail:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariant'
          description: 'An object that provides access to Tripadvisor (TM) image variant of *thumbnail* size.


            The object''s `href` value contains a URL linking to a 50x50px image that has been cropped, resized, and optimized by Tripadvisor.

            '
        small:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariant'
          description: 'An object that provides access to Tripadvisor (TM) image variant of *small* size.


            The object''s `href` value contains a URL linking to a 150x150px image that has been cropped, resized, and optimized by Tripadvisor.

            '
        medium:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariant'
          description: 'An object that provides access to Tripadvisor (TM) image variant of *medium* size.


            The object''s `href` value contains a URL pointing to an image with a maximum dimension of

            250px (either height or width, depending on the photo''s orientation), with the other dimension scaled

            proportionally to preserve the aspect ratio.


            The `href` value matches that of the grandparent object.

            '
        large:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariant'
          description: 'An object that provides access to Tripadvisor (TM) image variant of *large* size.


            The object''s `href` `value contains a URL pointing to an image with a maximum dimension of

            550px (either height or width, depending on the photo''s orientation), with the other dimension scaled proportionally to preserve the aspect ratio

            '
        original:
          allOf:
          - $ref: '#/components/schemas/TripadvisorImageVariant'
          description: 'An object that provides access to Tripadvisor (TM) image variant in its *original* size.


            The object’s `href` value contains a URL pointing to the photo in its original resolution and aspect ratio.

            '
    MicroPointAddressSection:
      type: object
      required:
      - hmcId
      properties:
        hmcId:
          type: string
          description: The micro point address ID in HERE Map Content
        partitionId:
          type: string
          description: '**ALPHA**


            Unique identifier that references a specific subset of geo-location related layers

            (e.g., address, location, street, or place) in the HERE Map Content'
    LinkInfoSection:
      type: object
      required:
      - cmId
      - side
      properties:
        cmId:
          type: string
          description: link ID in HERE core map
        side:
          type: string
          description: "The side of the link the attribute is applicable to\n\n- for `resultType=houseNumber` and `resultType=place`: side of the entity to the link\n- for `resultType=street`:\n  - on endpoints *Geocode* and *Lookup*: side of the entity to the link, it is always \"both\"\n  - on endpoints *Reverse Geocode* and *Multi-Reverse Geocode*: relative side from input to the link\n"
  parameters:
    addressNamesVariantLookupRevgeocode:
      name: addressNamesVariant
      description: The deep‑object parameter enables the API to return different variants of the component names in the GS7 results.
      in: query
      explode: true
      style: deepObject
      required: false
      schema:
        type: object
        properties:
          city:
            type: string
            enum:
            - administrative
            description: 'Example:


              `addressNamesVariant[city]=administrative`



              Description of supported values:


              - `administrative`: Returns the administrative name for the selected component in the address result. This option is currently supported **only in the USA**.'
    id:
      name: id
      description: Location ID, is the ID of a result item. For example, a Discover request
      in: query
      required: true
      schema:
        type: string
        example: here:pds:place:276u33db-8097f3194e4b411081b761ea9a366776
    showNavAttributes:
      name: showNavAttributes
      description: "Return requested additional attributes for segments in a road network if `showNavAttributes` parameter is specified with valid value and relevant data is available.\n\nThe value is a comma-separated list of the sections to be enabled.\n\nDescription of supported values:\n\n- `access`: Return the vehicle types allowed on a road or lane.\n- `functionalClass`: Return the functional class which is used to classify roads depending on the speed, importance and connectivity of the road.\n- `physical`: Return the values to describe special physical characteristics of a road.\n- `speedLimits`: Include speed limit and travel direction of the road in the results where available in content and when requested by the client application.\n\n  Note on `speedLimits`:\n  - The feature is not supported in Japan.\n  - This feature is subject to premium pricing. For details, contact your HERE customer representative."
      in: query
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - access
          - functionalClass
          - physical
          - speedLimits
    showLookup:
      name: show
      description: "Select additional fields to be rendered in the response.\nPlease note that some of the fields involve additional webservice calls and can increase the overall response time.\n\nThe value is a comma-separated list of the sections to be enabled.\nFor some sections there is a long and a short ID.\n\nDescription of supported values:\n\n- `countryInfo`: For each result item renders additional block with the country info, such as\n  [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) and\n  [ISO 3166-1 alpha-3](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-3) country code.\n- `eMobilityServiceProviders`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n  the list of e-Mobility Service Providers (eMSP) in `extended.evStation` field.\n- `ev`: Returns for each place of category EV station (`700-7600-0322`, `700-7600-0323`, `700-7600-0324`)\n\n  * connector groups details in `extended.evStation` field and\n  * detailed connectors availability in `extended.evAvailability` field.\n\n  Please note that the use of this option may impact latency.\n- `phonemes`: Renders phonemes for address and place names into the results.\n- `postalCodeDetails`: For each result item of types `postalCodePoint` renders block with additional information about this postal code,\n  such as postal code type: ZIP or ZIP+4; ZIP classification code: PO BOX, Unique or military; record type code for ZIP+4 codes.\n  This feature is currently available only in the countries which are using ZIP codes - USA, PRI, VIR, GUM, MNP and ASM.\n- `referenceCategories`: Renders the different place category identifiers associated with the reference information.\n  Example: category identifier `600-6600-0082` (Garden Center) for the Yelp (TM)\n  reference identifier `-w_eNjJYsHVkt2UHRc3PDQ`\n- `streetInfo`: For each result item renders additional block with the street name decomposed into its parts like the base name, the street type, etc.\n- `tz`: Renders result items with additional time zone information.\n- **BETA, RESTRICTED** `fuel`: Fetches fuel station related information if available and puts them in the `extended.fuelStation` field.\n- **BETA, RESTRICTED** `fuelPrices`: Fetches fuel prices related information if available and puts them in the\n  `extended.fuelStation` field.\n\n  This option can only be used in combination with `fuel` or `truck`.\n  Can also be used with both `fuel` and `truck` altogether.\n- **BETA, RESTRICTED** `tripadvisor`: If available, adds images, ratings, and editorials from Tripadvisor (TM) in the `media` field of `place` results.\n- **BETA, RESTRICTED** `tripadvisorImageVariants`: If available, adds the different image variants from Tripadvisor (TM) in the `media`\n  field of `place` results. An image variants are details of the same image in various sizes\n  (`thumbnail`, `small`, `large`, …)\n- **BETA, RESTRICTED** `truck`: Fetches truck station related information if available and puts the amenities in the `extended.truckAmenities` field.\n- **ALPHA, RESTRICTED** `addressUsage`: For each result item with `types=houseNumber` and `houseNumberType=pointAddress`, returns a flag indicating whether the address is residential."
      in: query
      explode: false
      required: false
      schema:
        type: array
        items:
          type: string
          enum:
          - addressUsage
          - countryInfo
          - eMobilityServiceProviders
          - ev
          - fuel
          - fuelPrices
          - phonemes
          - postalCodeDetails
          - referenceCategories
          - streetInfo
          - tripadvisor
          - tripadvisorImageVariants
          - truck
          - tz
    politicalView:
      name: politicalView
      description: 'Toggle the political view.


        This parameter accepts a single ISO 3166-1 alpha-3 country code in all uppercase.


        If a valid 3-letter country code is provided for which GS7 does not have a dedicated political view, it will fallback to the default view.


        The following political views are currently supported:


        - `ARG`: Argentina''s view on the Southern Patagonian Ice Field and Tierra Del Fuego, including the Falkland Islands, South Georgia, and South Sandwich Islands

        - `EGY`: Egypt''s view on Bir Tawil

        - `IND`: India''s view on Gilgit-Baltistan

        - `KEN`: Kenya''s view on the Ilemi Triangle

        - `MAR`: Morocco''s view on Western Sahara

        - `PAK`: Pakistan''s view on Jammu and Kashmir and the Junagadh Area

        - `RUS`: Russia''s view on Crimea

        - `SDN`: Sudan''s view on the Halaib Triangle

        - `SRB`: Serbia''s view on Kosovo, Vukovar, and Sarengrad Islands

        - `SUR`: Suriname''s view on the Courantyne Headwaters and Lawa Headwaters

[...]
