openapi: 3.2.0
info:
  title: HERE EV Charge Points API v3 Charging Location Lookup API
  description: Use this API to get detailed information about charging locations.
  version: 3.20.1
servers:
- url: https://evcp.hereapi.com/v3
  description: Production environment URL
security:
- Bearer: []
- ApiKey: []
tags:
- name: Charging Location Lookup
  description: Endpoints to query charging location data
paths:
  /locations/{id}:
    get:
      summary: Fetch a single location
      description: Allows fetching a single location given its ID. The set of returned location properties can be controlled via the `fields` parameter.
      operationId: HERE EV Charge Points API v3 getLocation
      tags:
      - Charging Location Lookup
      parameters:
      - $ref: '#/components/parameters/xRequestId'
      - $ref: '#/components/parameters/id'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/days'
      - $ref: '#/components/parameters/tariff'
      responses:
        '200':
          description: EV charge point data
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingLocation'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '404':
          $ref: '#/components/responses/NotFoundResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'
        default:
          $ref: '#/components/responses/GenericErrorResponse'
  /locations:
    get:
      summary: Fetch multiple locations
      description: Returns data for the specified location identifiers in the `items` property of the response. If no data is found for a location identifier, it appears in the `missing` property.
      operationId: HERE EV Charge Points API v3 getLocations
      tags:
      - Charging Location Lookup
      parameters:
      - $ref: '#/components/parameters/xRequestId'
      - $ref: '#/components/parameters/idList'
      - $ref: '#/components/parameters/fields'
      - $ref: '#/components/parameters/days'
      - $ref: '#/components/parameters/tariff'
      - $ref: '#/components/parameters/connectorTypes'
      responses:
        '200':
          description: EV charge point data
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/ChargingLocations'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedErrorResponse'
        '403':
          $ref: '#/components/responses/ForbiddenErrorResponse'
        '500':
          $ref: '#/components/responses/InternalErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'
        default:
          $ref: '#/components/responses/GenericErrorResponse'
components:
  parameters:
    days:
      name: days
      in: query
      description: 'Data is retrieved starting from the current day, based on the local time zone of

        the location. Currently applies to data from the following fields: `predictions`.


        If no parameter is provided, the default value is 2, which returns data for the

        current day and the following day.


        If a parameter is provided, the system attempts to return data for the specified

        number of days, starting from today.


        The actual number of days returned may be fewer than requested, depending on data

        availability.

        '
      required: false
      example: 1
      schema:
        type: integer
        minimum: 1
        maximum: 7
        default: 2
    fields:
      name: fields
      description: "The `fields` parameter allows requesting additional fields in addition\nto the minimal set of fields to control the amount of data returned. \nThe minimal set of fields is defined as follows:\n  * `id`\n  * `location`\n  * `name`\n  * `operator`\n  * `suboperator`\n  * `restrictions`\n  * `supportedVehicles`\n\nAdditional fields can be requested according to the following table. The fields\ncan be freely combined in the query. However some fields have dependencies to\nother fields as listed in the table. If a field is not present in the data, it\nwill be left out of the response.\n\n<table>\n  <tr>\n    <td><b>Fields-query</b></td>\n    <td><b>Returned fields</b></td>\n  </tr>\n  <tr>\n    <td>address</td>\n    <td>'address' in full details</td>\n  </tr>\n  <tr>\n    <td>evses</td>\n    <td>'evses' in full details, including 'connectors', 'maxPower', 'standard', 'status' etc</td>\n  </tr>\n  <tr>\n    <td><b>RESTRICTED</b> truckRestrictions</td>\n    <td>'truckRestrictions', 'vehicleLimitations', 'isPullThrough', 'evse.vehicleTypes', 'evse.vehicleLimitations', 'evse.noClearanceHeight'</td>\n  </tr>\n  <tr>\n    <td>locationInfo</td>\n    <td>'accessPoints', 'parkingType', 'supportPhoneNumber', 'timeZone', 'isPullThrough', 'openingHours', 'energyMix', 'cpoLocationId', 'reservationRequired'</td>\n  </tr>\n  <tr>\n    <td>emsps</td>\n    <td>'eMobilityServiceProviders'</td>\n  </tr>\n  <tr>\n    <td>connectorGroups</td>\n    <td>'connectorGroups', a summary of connectors grouped by max power and type. If also evses-field is requested, the groups include references to EVSEs and connectors.</td>\n  </tr>\n  <tr>\n    <td><b>RESTRICTED</b> predictions</td>\n    <td>'predictions' in charging location level. If also 'connectorGroups'-field is requested, gives predictions also in 'connectorGroups'.</td>\n  </tr>\n  <tr>\n    <td><b>ALPHA RESTRICTED</b> reliability</td>\n    <td>'reliability' indicators for 'evses' and 'connectorGroups'. Ignored if requested without 'evses' or 'connectorGroups' fields.</td>\n  </tr>\n  <tr>\n    <td>tariffs</td>\n    <td>'tariffs' for 'connectors' / 'connectorGroups'. Ignored if requested without 'evses' or 'connectorGroups' fields.</td>\n  </tr>\n  <tr>\n    <td>nearby</td>\n    <td><b>ALPHA</b> 'nearbyPlaces', 'facilityTypes', 'hasMoreNearbyPlaces'</td>\n  </tr>\n</table>\n"
      in: query
      style: form
      explode: false
      example:
      - evses
      - address
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - address
          - evses
          - truckRestrictions
          - locationInfo
          - emsps
          - connectorGroups
          - predictions
          - reliability
          - tariffs
          - nearby
    connectorTypes:
      name: connectorTypes
      in: query
      description: 'Filter charging locations to only contain EVSEs and connector groups matching the

        requested connector types.


        This can reduce response size by returning only relevant data. Locations that

        don''t contain EVSEs matching the requested connector types aren''t included in

        the response.


        Provide a comma-separated list of connector type identifiers, as defined in the

        ConnectorType schema. If you don''t specify this parameter, the response includes

        all connector types and no filtering is applied.


        Connector types represent physical standards for EV charging connectors, such as

        IEC_62196_T2 and CHADEMO.


        For a complete list of supported values, see the ConnectorType schema.

        '
      example:
      - IEC_62196_T2
      - IEC_62196_T2_COMBO
      - CHADEMO
      explode: false
      required: false
      schema:
        type: array
        minItems: 1
        maxItems: 5
        uniqueItems: true
        items:
          $ref: '#/components/schemas/ConnectorType'
    idList:
      name: ids
      in: query
      description: 'A comma separated list of unique charging location identifiers.


        Only the last component of a colon-separated identifier (the "content id")

        is used to index the data. The other components are optional.


        For requests containing more than 50 identifiers, provide only the

        content ids (the last component) rather than full HRNs to reduce URL

        length and improve compatibility.

        '
      example:
      - 246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3
      - 276u33d811u8y-aGVyZS1ldjplY29tb3ZlbWVudDozMTMwMTI5MTU
      required: true
      explode: false
      schema:
        type: array
        minItems: 1
        maxItems: 100
        items:
          $ref: '#/components/schemas/IdParameter'
    id:
      name: id
      in: path
      description: Identifier of the charging location, obtained for example from the Geocoding and Search API, or from the HERE Map Content Electric Vehicle Charging Location data. Only the last component of a colon-separated identifier is used to index the data. The other components are optional.
      example: here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3
      required: true
      schema:
        $ref: '#/components/schemas/IdParameter'
    tariff:
      name: tariff
      description: "Search option to choose the eMSP or CPO whose tariff the client wants\nto see in the response. This parameter is effective only if the `fields` is\nconfigured to return tariffs.\n\nSupported values:\n- no `tariff` parameter: return ad-hoc tariffs only\n- `all`: return all available tariffs (CPO + eMSP + Ad-hoc)\n- `adhoc`: return ad-hoc tariffs only\n- `cpo`: return all CPO tariffs\n- `emsp`: return all eMSP tariffs\n- `partner:<partnerId>`: return all tariffs for the specified partner\n- `partner:<partnerId>;name=<tariffName>[,<tariffName>...]`: return the\n  specified tariff names for the partner\n- `<partnerId>`: return all tariffs for the specified partner + Ad-hoc\n  tariffs\n- `<partnerId>,<tariffName>[,<tariffName>...]`: return the specified\n  tariff names for the partner + Ad-hoc tariffs\n\nThe `tariff` query parameter can be included multiple times to request\nmultiple filters. Group keywords such as `cpo` and `emsp` must be sent as\nseparate parameter values and cannot be combined with a `partnerId` in the\nsame `tariff` entry. The legacy format\n`<partnerId>[,<tariffName>...]` remains supported for backward\ncompatibility and continues to include Ad-hoc tariffs. New integrations\nare recommended to use\n`partner:<partnerId>[;name=<tariffName>[,<tariffName>...]]`.\n\nThe input is expected to be based on the response from the `CountryMetadata`\nendpoint, including only eMSPs / CPOs that are relevant for the client. \n\nSome eMSPs provide several tariffs (subscriptions / charge cards). The end user\nis expected to subscribe to only a few of them, and is hence expected to be\ninterested in only the related tariffs. The available tariffs are listed in the\n`CountryMetadata` response. If tariff name is not set or the name does not match\nwith the tariffs of the provider, all available tariffs for that provider for the\ncharging location are returned.\n\nAs tariff names may occasionally change, the client is encouraged to monitor\nthe list by regularly fetching the latest list of tariff names per eMSP or CPO\nfrom the `CountryMetadata` endpoint. \n\nIf the returned tariffs for multiple locations do not contain a requested tariff\nby the name, the client is recommended to try searching without any names.\nIf still no tariffs were returned, the reason may be that there are no tariffs\navailable for the locations, or that the partner has no roaming agreement for the\nlocations.\n\nIf the search by partnerId succeeds, the used tariff name may be outdated and the\nclient need to update the list from the `CountryMetadata` endpoint.\n\nThis search cannot be used to filter out locations not covered by the specified\neMSPs / CPOs.\n"
      in: query
      style: form
      explode: true
      schema:
        type: array
        maxItems: 50
        items:
          description: 'The keyword `all` to request all tariffs (ad-hoc and subscription,

            including both eMSP and CPO tariffs), the keyword `adhoc` to request

            ad-hoc tariffs, the keyword `cpo` to request all CPO tariffs, the

            keyword `emsp` to request all eMSP tariffs, a legacy string

            consisting of eMSP or CPO `partnerId` and optionally a list of tariff

            names, one or more, separated by a comma `,`, or the preferred

            explicit format `partner:<partnerId>` optionally followed by

            `;name=<tariffName>[,<tariffName>...]`. Not provided or empty value

            defaults to `adhoc`.


            The query parameter must be repeated if multiple filters are requested. Group keywords

            such as `cpo` and `emsp` must be sent as separate parameter values and cannot be combined

            with a `partnerId` in the same `tariff` entry. In the `partner:` format, any values listed

            after `;name=` are interpreted as tariff names, even if a name matches a keyword such as

            `emsp` or `cpo`. In the legacy `<partnerId>,<tariffName>...` format, any values after the

            `partnerId` are likewise interpreted as tariff names, and legacy

            partnerId forms continue to include Ad-hoc tariffs for backward

            compatibility. For tariff parameters repeating the same partnerId,

            only the last instance is applied.

            '
          type: string
          maxLength: 256
          minLength: 1
          pattern: ^^(all|adhoc|cpo|emsp|partner:.{36}(;name=.*)?|.{36}(,.*)*)$
      example:
      - adhoc
      - all
      - cpo
      - emsp
      - partner:1f90fdf0-cca5-11ed-be23-42010aa40002
      - partner:1f90fdf0-cca5-11ed-be23-42010aa40002;name=Basic,Advanced
      - partner:1f098f1e-cca5-11ed-b774-42010aa40002;name=Roaming Plus
      - 1f90fdf0-cca5-11ed-be23-42010aa40002
      - 1f90fdf0-cca5-11ed-be23-42010aa40002,Basic,Advanced
      - 1f098f1e-cca5-11ed-b774-42010aa40002,Roaming Plus
    xRequestId:
      name: X-Request-ID
      in: header
      description: User-provided token that can be used to trace a request or a group of requests sent to the service
      schema:
        type: string
  schemas:
    ConnectorReference:
      description: 'Reference to connector(s).


        Connectors can only be referenced via the owning EVSEs, as connector ids

        are unique only within EVSE.

        Status information, an important use case for connector groups, is also

        carried in EVSEs.

        '
      type: object
      properties:
        evseUid:
          description: Uid of the EVSE owning the connector(s).
          type: string
        connectorIds:
          description: Id(s) of the connector(s). In some cases an EVSE can have 2 identical connectors.
          type: array
          items:
            type: string
          uniqueItems: true
          minItems: 1
      required:
      - evseUid
      - connectorIds
    ConnectorGroup:
      description: 'Group of charging connectors having the same connector type (standard) and max

        power.


        The other characteristics, such as max voltage, can vary between the

        connectors in the group.

        '
      type: object
      properties:
        standard:
          description: "The standard (type) of the connectors belonging to this group.\n\nExtensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n"
          allOf:
          - $ref: '#/components/schemas/ConnectorType'
        maxPower:
          description: 'Maximum power that can be delivered by the connectors, in watts (W).

            Connectors without max power are not grouped.

            '
          type: integer
          minimum: 1
        connectors:
          description: 'Set of EVSE + connector(s) pairs that belong to the group.


            Enables to access EVSE statuses and more detailed connector characteristics.

            Is present only when EVSEs are requested from the API.

            '
          type: array
          items:
            $ref: '#/components/schemas/ConnectorReference'
          uniqueItems: true
        connectorCount:
          description: 'Number of connectors in the group.


            If an EVSE has multiple identical connectors they are counted as one

            as only one is accessible at a time.

            '
          type: integer
          minimum: 1
        availableConnectorCount:
          description: 'Number of connectors available for use at the time of query.

            The field is not present if the availability is not known.

            '
          type: integer
          minimum: 0
        predictions:
          description: '**RESTRICTED** Availability related predictions data. For example the predicted

            availability of a free EVSE within the group and the wait time for a free EVSE

            if none are free.


            Only present if the `predictions` field is requested and there are predictions

            data available for the connector group.

            '
          type: array
          items:
            $ref: '#/components/schemas/Prediction'
          uniqueItems: true
        tariffIndexes:
          description: 'Tariffs for the connector group, represented by indexes to the charging station''s tariffs-list.

            '
          type: array
          items:
            type: integer
        reliability:
          x-maturity: alpha
          description: '**ALPHA** **RESTRICTED** Reliability information for the connector group.


            Only present if the `reliability` field is requested and there is reliability

            data available for the connector group.

            '
          allOf:
          - $ref: '#/components/schemas/Reliability'
      required:
      - standard
      - maxPower
      - connectorCount
      example:
        standard: IEC_62196_T2_COMBO
        maxPower: 200000
        connectorCount: 2
        availableConnectorCount: 1
        connectors:
        - evseUid: 36bd2f61-6c60-423c-832a-609d6104e04b
          connectorIds:
          - '1'
        - evseUid: 36bd2f61-6c60-423c-832a-609d6104e04c
          connectorIds:
          - '1'
        reliability:
          chargingSessions:
            lastSuccessful: '2024-05-31T13:41:49.270Z'
            successfulCount: 38
    Id:
      description: Charging location identifier with prefix components. The prefix here:evcp is fixed, followed by the feature type and the content ID. Globally unique.
      example: here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3
      type: string
      pattern: here:evcp:[^:]+:.*
    EvseParkingConditions:
      x-maturity: alpha
      description: "Extensible enum: `disabled` `customers` `taxis` `...`  \n\n* `disabled`: The parking space is designed to be accessible by drivers with\ndisabilities. It may be also reserved for drivers with disabilities.\n* `customers`: The parking space is reserved for customers of a hotel,\nrestaurant, store etc. Note: this is set only if the whole location is not set\nas `customersOnly` in `accessRestrictions`.\n* `taxis`: The parking space is reserved for taxis.\n\nAs it is possible that new types are supported in the future, unknown types\nshould be ignored.\n"
      x-extensible-enum:
      - disabled
      - customers
      - taxis
      type: string
    Address:
      type: object
      description: Address of the EV charging location.
      properties:
        label:
          type: string
          description: The full address in a single string.
          example: Invalidenstrasse 116, 10115 Berlin, Germany
        street:
          type: string
          description: The name of the street.
          example: Invalidenstraße
        houseNumber:
          type: string
          description: House number.
          example: '116'
        state:
          type: string
          description: A division of a country; typically, a first-level administrative division of a country or equivalent.
          example: Berlin
        county:
          type: string
          description: A division of a state; typically, a secondary-level administrative division of a country or equivalent.
          example: Berlin
        city:
          type: string
          description: The primary locality of the address.
          example: Berlin
        district:
          type: string
          description: A division of city; typically an administrative unit within a larger city or a customary name of a city's neighborhood.
          example: Mitte
        subdistrict:
          type: string
          description: A subdivision of a district.
          example: Romantikkiez
        block:
          type: string
          description: Name or number of block. Used only in some countries.
          example: '3'
        subblock:
          type: string
          description: Name or number of sub-block. Used only in some countries.
          example: '1'
        countryCode:
          type: string
          description: A three-letter country code according to ISO 3166-1 alpha 3.
          example: DEU
        postalCode:
          type: string
          description: An alphanumeric string included in a postal address to facilitate mail sorting, such as postal code, postcode, or ZIP code.
          example: '10115'
        languageCode:
          type: string
          description: ISO 639-1 two-letter language code for the address fields.
          example: de
    IdParameter:
      description: Charging location identifier with optional prefix components separated by colon. Only the last component is relevant for data retrieval.
      example: here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3
      type: string
      pattern: (([^:]*:)*)(.*)
    EvsePaymentSupport:
      description: "Extensible enum: `chipCard` `contactlessCard` `creditCard` `debitCard` `pedTerminal` `rfidReader` `authByCarPlugAndCharge` `authByCarAutocharge` `onlineApplePay` `onlinePaypal` `onlineCreditCard` `onlineGooglePay` `onlineBankPayment` `terminalQrCode` `terminalSms` `operatorApp` `mobilePayment` `...`  \n\n* `chipCard`: EVSE has a payment terminal that supports chip cards.\n* `contactlessCard`: EVSE has a payment terminal that supports contactless\n  cards.\n* `creditCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a credit card.\n* `debitCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a debit card.\n* `pedTerminal`: EVSE has a payment terminal with a pin-code entry device.\n* `rfidReader`: Charging at this EVSE can be authorized with an RFID\n  token.\n* `authByCarPlugAndCharge`: ISO 15118 Plug&Charge enables drivers to plug\n  in and charge up instantly using automatic EV-to-charging station\n  authentication technology.\n* `authByCarAutocharge`: Autocharge enables drivers to plug in and charge\n  up instantly using automatic EV-to-charging station authentication\n  technology.\n* `onlineApplePay`: Authenticate & pay with Apple Pay.\n* `onlinePaypal`: Authenticate & pay with PayPal.\n* `onlineCreditCard`: Authenticate & pay with credit card online.\n* `onlineGooglePay`: Authenticate & pay with Google Pay.\n* `onlineBankPayment`: Authenticate & pay with online bank payment.\n* `terminalQrCode`: Initiate authentication & payment with QR code on the\n  terminal.\n* `terminalSms`: Authenticate & pay with SMS on the terminal.\n* `operatorApp`: Authenticate & pay with charge point operator application\n  on mobile phone.\n* `mobilePayment`: Used with `operatorApp`, all `online-` items,\n  `terminalSms`, `terminalQrCode` and `contactlessCard`. Whenever one\n  or more of those payment types is specified, `mobilePayment` is also\n  be specified.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n"
      x-extensible-enum:
      - chipCard
      - contactlessCard
      - creditCard
      - debitCard
      - pedTerminal
      - rfidReader
      - authByCarPlugAndCharge
      - authByCarAutocharge
      - onlineApplePay
      - onlinePaypal
      - onlineCreditCard
      - onlineGooglePay
      - onlineBankPayment
      - terminalQrCode
      - terminalSms
      - operatorApp
      - mobilePayment
      type: string
    EnvironmentalImpactCategory:
      description: '* `nuclearWaste`: Produced nuclear waste in grams per kilowatt-hour.

        * `carbonDioxide`: Exhausted carbon dioxide in grams per kilowatt-hour.

        '
      enum:
      - nuclearWaste
      - carbonDioxide
      type: string
    PriceComponent:
      description: 'Price component, presenting a price for a single dimension.

        The dimensions are explained below.

        '
      type: object
      properties:
        dimension:
          description: "The dimension or type of the price component.\n* `time` - time-based rate, defined in hours.\n* `energy` - energy-based rate, defined in kWh.\n* `flat` - single fee charged once per charging session.\n* `parkingTime` - time-based rate when not charging but parked at the charger,\n  defined in hours.\n\nAny non-present dimension can be assumed to have `price` = 0.00.\n\nFree of charge tariff is expressed as `dimension` = `flat` and `price` = 0.00.\n"
          type: string
          enum:
          - time
          - energy
          - flat
          - parkingTime
        price:
          description: 'The price per unit, excluding VAT. The units are defined by the `dimension`.

            '
          type: number
          example: 0.25
        vat:
          description: 'The VAT percentage of the price component. If not present, no VAT is applicable.

            '
          type: number
          example: 24
        step:
          description: 'Dimension quantity used as a unit of billing. Present for all other dimensions

            except `flat`.

            The customer is charged `price` for each full or partial `step` of the

            `dimension` consumed.

            For `energy`, the step size unit is 1 Wh, for `time` and `parking-time` it is

            1 second.

            For example, if `step` is 300 for `time`, then time is billed in 5 minute

            steps, rounded upwards. Similarly, if step is 100 for `energy`, then energy

            is billed in 100 Wh = 0.1 kWh steps.

            '
          type: number
      required:
      - dimension
      - price
      example:
        dimension: energy
        price: 0.45
        vat: 24
        step: 100
    BusinessDetails:
      description: Name and optionally other details about operator, suboperator, or e-Mobility service provider.
      type: object
      properties:
        name:
          description: Name of the company.
          type: string
        website:
          description: Link to the company's website, if available.
          type: string
        partnerId:
          description: A unique ID for the company. It can be used to assure correct mapping when the name changes.
          type: string
        eMobilityIds:
          description: e-Mobility ids for the company; there are often more than one, especially if the company operates in multiple countries, but not all companies have any.
          type: array
          items:
            $ref: '#/components/schemas/EMobilityId'
          uniqueItems: true
        logo:
          description: Image link to the company's logo, if available.
          allOf:
          - $ref: '#/components/schemas/Image'
      required:
      - name
      - partnerId
      example:
        name: ChargePoint
        partnerId: 1f90fdf0-cca5-11ed-be23-42010aa40002
        eMobilityIds:
        - DE-EV1
    EvAccessRestrictionReason:
      description: "Extensible enum: `customersOnly` `brandOnly` `carSharingOnly` `taxisOnly` `other` `...`  \n\n* `customersOnly`: Charging for customers of a hotel, restaurant, store\netc\n* `brandOnly`: Vehicle brand-restriction, for example Tesla, BMW\n* `carSharingOnly`: Charging for car sharing\n* `taxisOnly`: Charging for taxis\n* `other`: Charging is restricted due to other reasons\n\nAs it is possible that new restriction reasons are supported\nin the future, unknown reasons should be ignored.\n"
      x-extensible-enum:
      - customersOnly
      - brandOnly
      - carSharingOnly
      - taxisOnly
      - other
      type: string
    TariffElement:
      description: 'Tariff element. One element can have more than one components, one per component

        dimension. For example, a tariff element can consist of components for flat price

        and energy price.

        '
      type: object
      properties:
        components:
          description: 'List of price components that describe the tariff. Each of the components

            should have a different dimension.

            '
          type: array
          items:
            $ref: '#/components/schemas/PriceComponent'
          uniqueItems: true
          minItems: 1
          maxItems: 4
        condition:
          description: 'Condition that the charging session needs to meet to apply the tariff element.

            An element without any condition is typically present for charging sessions

            that do not meet any of the conditions.


            For example, a tariff element with a lower price can be valid only during

            nighttime, while a generic tariff element without conditions applies for

            daytime charging sessions.


            In the data the elements are in the order of precedence, i.e. the first element

            whose condition matches the charging session should be used per dimension.

            '
          type: object
          properties:
            date:
              description: 'Date range when the tariff element is valid.

                This is typically used to indicate seasonal tariffs or to announce

                an update to the tariff in advance.

                It may also be used to indicate spot prices, together with time period.

                '
              type: object
              properties:
                from:
                  description: 'First date when the element is valid.


                    If absent the element becomes valid as soon as other conditions allow.

                    '
                  type: string
                  format: date
                to:
                  description: 'First date when the element is no longer valid, exclusive and later

                    than `from`.


                    If absent the element is valid until some other element takes over.

                    '
                  type: string
                  format: date
            days:
              description: 'Day(s) of the week when the tariff element is valid. An example would be to specify lower prices for weekends.

                '
              type: array
              maxItems: 7
              uniqueItems: true
              items:
                $ref: '#/components/schemas/DayOfWeek'
            duration:
              description: 'Duration of the charging session when the tariff element is valid, in

                seconds.


                Often only either one of the values is present, indicating the minimum or

                maximum duration.

                '
              type: object
              properties:
                min:
                  description: 'Minimum duration of the charging session that the element applies for,

                    inclusive. Often used to indicate additional or higher cost for

                    long-lasting charging sessions.


                    If absent the element becomes valid as soon as other conditions allow.

                    '
                  type: integer
                  minimum: 0
                max:
                  description: 'Maximum duration of the charging session that the element applies for,

                    exclusive.


                    If absent the element is valid until the end of the charging session

                    or until some other element takes over.

                    '
                  type: integer
                  minimum: 0
            time:
              description: 'Time period when the tariff element is valid, in local time.

                The time period wraps around to the next day, when end time of the period

                (`to`) is smaller than the beginning (`from`).

                '
              allOf:
              - $ref: '#/components/schemas/TimePeriodType'
            overstayBatteryLevel:
              description: 'Minimum battery level when the tariff element is valid, in percentages.

                This can be used to set additional fees for charging a full or nearly full battery.

                '
              type: integer
              minimum: 0
              maximum: 100
          example:
            time:
              from: '22:00:00'
              to: 06:00:00
            duration:
              min: 3600
            days:
            - sa
            - su
      required:
      - components
      example:
        components:
        - dimension: energy
          price: 0.45
          vat: 24
          step: 1
        - dimension: time
          price: 2.5
          vat: 24
          step: 300
        condition:
          time:
            from: 07:00:00
            to: '18:00:00'
    ErrorResponse:
      description: Response in case of error, common definition for most error responses.
      type: object
      properties:
        title:
          type: string
          description: Human-readable error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: Error code.
          example: E629000
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    EvTruckAccessCategory:
      description: 'Access categories for trucks and light commercial vehicles that the EV

        charging location is designed to serve.


        While the classifications used as basis for the categories are solely based

        on vehicle mass, in EV charging context they can be interpreted to give an

        idea of the dimensional class too, as well as possible other restrictions set

        by the operator. If there are true dimensional or weight limits at the EV

        charging location, they are specified separately in `vehicleLimitations`.


        The classification is available only to a subset of EV charging locations,

        depending on the information available from the operators. Hence, at least

        vehicles belonging to the `light` category can be charged also in many EV

        charging locations not having explicit signaling for the `light` category.


        Furthermore, although the classification is based on mass/weight ranges in

        growing order, an upper class does not automatically mean that also all lower

        class vehicles are welcome to charge. For example, a location marked only

        with category `heavy` is reserved for long-haul trucks only.


        In EU the categorization used as basis can be found in:

        https://wiki.unece.org/download/attachments/27459612/VIAQ-02-06%20-%20Vehicle%20Categories.pdf?api=v2.

        For US market, the categories are specified in

        https://afdc.energy.gov/data/10380


        * `light`: Light commercial vehicles, for example vans.

        This category is used only when `supportedVehicles` includes `car`.

        The vehicles in this category require a bit more space for parking while charging

        than passenger cars, but many EV charging locations for passenger cars can also

        be used to charge vehicles of this size.

        In EU this refers to vehicles from category N1, having a maximum mass not

        exceeding 4.25 tonnes.

        In USA this refers to classes 1 and 2, with somewhat different weight limits.


        * `medium`: Medium-size trucks often used in short-haul transportation, known as

        delivery or box trucks. Corresponds to `semiTractor` in `EvVehicleTypes`.

        Also, `rigid` in `EvVehicleTypes` is mapped by default to `medium`, unless

        parking space dimensions or weight limit indicate support for `heavy` category.

        This category is used only when `supportedVehicles` includes `truck`.

        Trucks like these require clearly more space at the charger than passenger cars.

        In EU this refers to vehicles from category N2, having a maximum mass exceeding

        3.5 tonnes but not exceeding 12 tonnes. In USA this refers to classes 3 to 6.


        * `heavy`: Large-size / heavy-duty trucks, typically used in long-haul

        transportation.

        Corresponds to `truckWithTrailer` or `rigid` in `EvVehicleTypes`.

        This category is used only when `supportedVehicles` includes `truck`.

        Trucks of this category require significantly more space at the charger than

        passenger cars.

        EV charging locations are typically located near highways or industrial areas.

        Sometimes a location may be prioritized for long-haul trucks only, although

        technically smaller ones could charge there too.

        In EU this refers to vehicles from category N3, having a maximum mass exceeding

        12 tonnes. In USA this refers to classes 7 and 8.

        '
      enum:
      - light
      - medium
      - heavy
      type: string
    OpeningHoursType:
      description: 'Opening hours for the location, provided either as 24/7 flag or weekly operating

        schedule, optionally supplemented with a list of exceptional opening and closing times.

        '
      type: object
      properties:
        open24x7:
          description: 'Boolean value indicating if the charging location is open 24

            hours a day, 7 days per week. If true, the regularSchedule and

            exceptions fields should be empty. Absence can be interpreted

            as false and the schedule should then be provided.

            '
          type: boolean
          example: true
        chargingWhenClosed:
          description: 'Indicates if it is allowed to leave vehicles in the charging location to

            continue charging outside opening hours. Only present if the location

            has some closing hours defined, either regular or exceptional.

            '
          type: boolean
        regularSchedule:
          type: array
          items:
            $ref: '#/components/schemas/OpeningHoursDetailsType'
        exceptions:
          type: array
          items:
            $ref: '#/components/schemas/AnnualOpeningHoursDetailType'
    Tariff:
      description: 'Tariff or price plan from the charge point operator or eMSP.

        A tariff is composed of one or more elements, each having at least one component.

        It is client''s responsibility to pick the elements whose conditions match the state

        of the charging session.

        '
      type: object
      properties:
        name:
          description: 'Name of the tariff.

            The name is not mandatory for ad-hoc tariffs, but may exist.

            '
          type: string
        type:
          description: 'Type of the tariff. The type can be one of the following:

            * `adhoc` - Ad-hoc tariff (pay as you go), no subscription required.

            * `emsp` - Tariff provided by an eMSP.

            * `cpo` - Tariff provided by a CPO.


            If not present, `adhoc` tariff is assumed.

            '
          type: string
          enum:
          - adhoc
          - emsp
          - cpo
          example: adhoc
        partner:
          description: 'Name of the partner providing the tariff, either the charge point

            operator or eMSP.

            '
          type: string
        partnerId:
          description: 'A unique ID representing the partner. The same id is used also in other parts

            of the API and other related HERE APIs.

            '
          type: string
        currency:
          description: 'The currency in which the prices are given. The currency code is

            based on the ISO 4217 standard.

            '
          type: string
          example: EUR
        elements:
          description: 'Elements composing the tariff. Each element can have multiple components,

            at most one per dimension.


            When multiple elements are present, the associated condition enables the

            client to select the element(s) that match the state of the charging

            session.


            Price components of different dimensions from more than one element

            may be needed at the same time. For example, one element for energy and

            another one for time dimension. Often the time dimension has a condition on

            charging duration while energy dimension may have a condition on the time of

            the day. Hence they are present in different elements and must be selected

            separately.


            The precedence is defined by the order of the elements in the data, the first

            element having the highest precedence. The first matching element per

            dimension should be used. An element without any condition is typically

            present for charging sessions that do not meet any of the conditions.


            Please note that tariff elements or conditions requiring access to vehicle

            APIs are not present in this API. The provided elements can only be used to

            derive a price estimate, which in most cases is reasonably close to the final

            price.

            '
          type: array
          items:
            $ref: '#/components/schemas/TariffElement'
          uniqueItems: true
          minItems: 1
      required:
      - partner
      - partnerId
      - currency
      - elements
      example:
        type: adhoc
        partner: Apcoa Parking Danmark A/S
        partnerId: 4888af6c-9a42-11ee-8af8-42010aa40050
        currency: DKK
        elements:
        - components:
          - dimension: energy
            price: 3.75
            vat: 25
          - dimension: time
            price: 5.25
            vat: 25
            step: 300
    Reliability:
      x-maturity: alpha
      description: '**ALPHA** **RESTRICTED** Reliability indicators.

        Note: The properties `operational` and `statusReliability` are only

        present for EVSEs in the first phase. They may be present for

        connector groups in future phases.

        '
      type: object
      properties:
        operational:
          description: 'Operational reliability indicator reflecting the EVSE''s

            operational state.


            Values:

            * `1` (red): EVSE has significant reliability issues

            * `2` (yellow): EVSE may have reliability issues

            * `3` (green): EVSE is operating reliably

            '
          type: integer
          minimum: 1
          maximum: 3
          example: 3
        statusReliability:
          description: "Extensible enum: `reliable` `unreliable` `outdated` `...`  \nStatus delivery reliability indicator reflecting the freshness\nand consistency of status data.\n\n* `reliable`: Status data is current and consistent\n* `unreliable`: Status data has anomalies\n* `outdated`: Status data delivery is clearly delayed\n\nAs it is possible that new indicator values are supported in the future,\nunknown values should be ignored.\n"
          type: string
          x-extensible-enum:
          - reliable
          - unreliable
          - outdated
          example: reliable
        chargingSessions:
          description: 'Reliability related information about charging sessions.


            Charging session is considered successful when it has (for example) a valid duration.

            '
          type: object
          properties:
            lastSuccessful:
              description: 'Timestamp when the last successful charging session was completed.

                '
              type: string
              format: date-time
              example: '2024-05-31T13:41:49.270Z'
            successfulCount:
              description: 'Total number of successful charging sessions during the last 28 days.

                '
              type: integer
              example: 38
    Prediction:
      description: '**RESTRICTED** Availability prediction data.

        '
      type: object
      properties:
        date:
          description: 'The date the predictions are for. Format YYYY-MM-DD.


            Note: Both the date and the time periods for predictions data are

            using the time zone of the charging location for which the predictions

            are made.

            '
          type: string
          format: date
          example: '2023-12-24'
        confidence:
          description: 'Confidence describes the prediction accuracy over the recent history.


            0.0 is the lowest confidence, which means predictions point totally

            into the opposite direction, for example availabilityProbability is

            1.0 when availability was 0.0.


            1.0 is the highest possible confidence, which means the predictions

            have exactly matched the usage.


            If it has not been possible to measure and calculate the confidence,

            the value is also 0.

            '
          type: number
        periodsPerDay:
          description: 'The amount of periods in a day the predictions are provided for in

            the availabilityProbabilities and predictedWaitTimes arrays.


            For example, if the periodsPerDay is 96, one period length is 15

            minutes. If the periodsPerDay is 24, one period length is 60 minutes

            i.e. 1 hour.

            '
          type: integer
          minimum: 24
          maximum: 1440
        availabilityProbabilities:
          description: 'Availability probability prediction - probability for at least one

            charger to be available for each period of the day starting from

            midnight 00:00 in local time of the charging location for which

            the predictions are made.


            The amount of items in the array is equal to the number in the

            periodsPerDay field.


            For example, if the periodsPerDay is 24, the predicted availability

            probability for 2AM/02:00 - 3AM/03:00 is available at the index:

            availabilityProbabilities[2].

            '
          type: array
          items:
            type: number
            minimum: 0
            maximum: 1
          minItems: 24
          maxItems: 1440
        predictedWaitTimes:
          description: 'Predicted wait time to a charger in minutes - predicted wait time

            for a charger to be available for each period of the day starting

            from midnight 00:00 in local time of the charging location for which

            the predictions are made.


            The amount of items in the array is equal to the number in the

            periodsPerDay field.


            For example, if the periodsPerDay is 96, the predicted wait time for

            2AM/02:00 - 2:15AM/02:15 is available at the index:

            predictedWaitTime[8].

            '
          type: array
          items:
            type: integer
            minimum: 0
          minItems: 24
          maxItems: 1440
        predictedOccupancies:
          description: 'Predicted overall occupancy of the chargers - predicted occupancy

            for each period of the day starting from midnight 00:00 in local time of the

            charging location for which the predictions are made. This value represents

            the fraction of chargers expected to be occupied. 0.0 means no chargers are

            occupied, 1.0 means all chargers are occupied, values in between represent

            partial occupancy. This can be used e.g. to easily represent the busyness during

            the day.


            The amount of items in the array is equal to the number in the

            periodsPerDay field.


            For example, if the periodsPerDay is 96, the predicted occupancy for

            2AM/04:00 - 2:15AM/04:15 is available at the index:

            predictedOccupancies[16].

            '
          type: array
          items:
            type: number
            minimum: 0
            maximum: 1
          minItems: 24
          maxItems: 1440
      required:
      - date
      - confidence
      - periodsPerDay
      - availabilityProbabilities
      - predictedWaitTimes
    Evse:
      type: object
      properties:
        uid:
          description: 'Uniquely identifies the EVSE within the CPOs platform (and

            suboperator platforms).

            For example a database ID or the actual "EVSE ID". This field can

            never be changed, modified or renamed.

            This is the ''technical'' identification of the EVSE, not to be

            used as ''human readable'' identification, use the field `id` for

            that.

            '
          type: string
        evseId:
          description: 'Compliant with the EVSE ID from "eMI3 standard version V1.0".

            '
          type: string
        connectors:
          description: List of available connectors on the EVSE. An operational EVSE should have at least one connector.
          type: array
          items:
            $ref: '#/components/schemas/EvConnector'
          uniqueItems: true
        status:
          description: "Indicates the current short-term status of the EVSE at the\ntime given in the `modified` property.\n\nThere are no separate statuses available for individual connectors. A\nsingle EVSE can only be used by a single car, so some statuses apply to\nother connectors as well. So, if one connector is in use, the whole EVSE has status\n`charging`, and other connectors cannot be used at the same time, hence they\nshould be considered in-use as well. If an EVSE can allow multiple connectors\nto be used at the same time, it is basically multiple EVSEs merged into\na single physical box or device.\n\n* `available`: The EVSE/connector is able to start a new charging session.\n* `blocked`: The EVSE/connector is not accessible because of a physical\n  barrier, for example a car.\n* `charging`: The EVSE/connector is in use.\n* `inoperative`: The EVSE/connector is temporarily not available for use,\n  but not broken or defect.\n* `outOfOrder`: The EVSE/connector is currently out of order.\n* `reserved`: The EVSE/connector is reserved for a particular EV driver\n  and is unavailable for other drivers.\n* `unknown`: No status information available or the EVSE/connector is\n  offline.\n* `operational`: The EVSE/connector was operational when checked the last time,\n  but the actual latest status is not available at the moment.\n"
          allOf:
          - $ref: '#/components/schemas/EvseStatus'
        capabilities:
          description: "List of administrative functionalities that the EVSE is capable of.\n\nExtensible enum: `chargingProfile` `chargingPreferences` `remoteStartStop` `reservable` `tokenGroup` `unlock` `...`  \n\n* `chargingProfile`: The EVSE supports charging profiles.\n* `chargingPreferences`: The EVSE supports charging preferences.\n* `remoteStartStop`: The EVSE can remotely be started/stopped.\n* `reservable`: The EVSE can be reserved.\n* `tokenGroup`: This EVSE supports token groups, two or more tokens work\n  as one, so that a session can be started with one token and stopped with\n  another (handy when a card and key-fob are given to the EV-driver).\n* `unlock`: Connectors have mechanical lock that can be requested by the\n  eMSP to be unlocked.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n"
          type: array
          items:
            $ref: '#/components/schemas/EvseCapability'
          uniqueItems: true
        floorLevel:
          description: 'Level on which the EVSE is located (in garage buildings) in

            the locally displayed numbering scheme.

            Irrelevant for other parking types (hence optional).

            '
          type: string
        physicalReference:
          description: A number or string printed on the outside of the EVSE for visual identification.
          type: string
        id:
          description: The globally unique identifier of the EVSE.
          type: string
        location:
          description: A point representation of the EVSE's location.
          allOf:
          - $ref: '#/components/schemas/Location'
        paymentSupports:
          description: "List of payment support functionalities on EVSE for ad-hoc customers\n(without pre-registration).\n\nExtensible enum: `chipCard` `contactlessCard` `creditCard` `debitCard` `pedTerminal` `rfidReader` `authByCarPlugAndCharge` `authByCarAutocharge` `onlineApplePay` `onlinePaypal` `onlineCreditCard` `onlineGooglePay` `onlineBankPayment` `terminalQrCode` `terminalSms` `operatorApp` `mobilePayment` `...`  \n\n* `chipCard`: EVSE has a payment terminal that supports chip cards.\n* `contactlessCard`: EVSE has a payment terminal that supports contactless\n  cards.\n* `creditCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a credit card.\n* `debitCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a debit card.\n* `pedTerminal`: EVSE has a payment terminal with a pin-code entry device.\n* `rfidReader`: Charging at this EVSE can be authorized with an RFID\n  token.\n* `authByCarPlugAndCharge`: ISO 15118 Plug&Charge enables drivers to plug\n  in and charge up instantly using automatic EV-to-charging station\n  authentication technology.\n* `authByCarAutocharge`: Autocharge enables drivers to plug in and charge\n  up instantly using automatic EV-to-charging station authentication\n  technology.\n* `onlineApplePay`: Authenticate & pay with Apple Pay.\n* `onlinePaypal`: Authenticate & pay with PayPal.\n* `onlineCreditCard`: Authenticate & pay with credit card online.\n* `onlineGooglePay`: Authenticate & pay with Google Pay.\n* `onlineBankPayment`: Authenticate & pay with online bank payment.\n* `terminalQrCode`: Initiate authentication & payment with QR code on the\n  terminal.\n* `terminalSms`: Authenticate & pay with SMS on the terminal.\n* `operatorApp`: Authenticate & pay with charge point operator application\n  on mobile phone.\n* `mobilePayment`: Used with `operatorApp`, all `online-` items,\n  `terminalSms`, `terminalQrCode` and `contactlessCard`. Whenever one\n  or more of those payment types is specified, `mobilePayment` is also\n  be specified.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n"
          type: array
          items:
            $ref: '#/components/schemas/EvsePaymentSupport'
          uniqueItems: true
        modified:
          description: Timestamp when the status of this EVSE was last updated.
          type: string
          format: date-time
        reliability:
          x-maturity: alpha
          description: '**ALPHA** **RESTRICTED** Reliability indicators for the EVSE.


            Only present if the `reliability` field is requested and there is reliability

            data available for the EVSE.

            '
          allOf:
          - $ref: '#/components/schemas/Reliability'
        parking:
          x-maturity: alpha
          description: '**ALPHA** Parking conditions and capabilities for this EVSE.

            '
          allOf:
          - $ref: '#/components/schemas/EvseParking'
      required:
      - uid
      - status
      - modified
      - connectors
    EvseCapability:
      description: "Extensible enum: `chargingProfile` `chargingPreferences` `remoteStartStop` `reservable` `tokenGroup` `unlock` `...`  \n\n* `chargingProfile`: The EVSE supports charging profiles.\n* `chargingPreferences`: The EVSE supports charging preferences.\n* `remoteStartStop`: The EVSE can remotely be started/stopped.\n* `reservable`: The EVSE can be reserved.\n* `tokenGroup`: This EVSE supports token groups, two or more tokens work\n  as one, so that a session can be started with one token and stopped with\n  another (handy when a card and key-fob are given to the EV-driver).\n* `unlock`: Connectors have mechanical lock that can be requested by the\n  eMSP to be unlocked.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n"
      x-extensible-enum:
      - chargingProfile
      - chargingPreferences
      - remoteStartStop
      - reservable
      - tokenGroup
      - unlock
      type: string
    NotFoundResponse:
      type: object
      properties:
        title:
          type: string
          description: Human-readable error description
          example: No content found with provided ID
        status:
          type: integer
          description: HTTP status code
          example: 404
        code:
          type: string
          description: Error code.
          example: E629000
        cause:
          type: string
          description: Human-readable explanation for the error
          example: No location exists with the given identifier
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    GenericErrorResponse:
      description: Generic error response
      type: object
      properties:
        error:
          type: string
          description: Human-readable error
        error_description:
          type: string
          description: Human-readable error description
        status:
          type: integer
          description: HTTP status code
          example: 403
      required:
      - error
    EnergyMix:
      description: 'This type is used to specify the energy mix and environmental impact of

        the supplied energy at a location or in a tariff.

        '
      type: object
      properties:
        isGreenEnergy:
          description: True if 100% from regenerative sources. (CO2 and nuclear waste is zero.)
          type: boolean
        energySources:
          description: 'Key-value pairs (enum + percentage) of energy sources of this

            location’s tariff.

            The sum of the percentages over the collection should be 100%.

            '
          type: array
          items:
            $ref: '#/components/schemas/EnergySource'
          uniqueItems: true
        supplier:
          description: Name of the energy supplier, delivering the energy for this location or tariff, if available.
          type: string
        energyProduct:
          description: Name of the energy suppliers product or tariff plan used at this location, if available.
          type: string
        environmentalImpacts:
          description: Key-value pairs (enum + g/kWh) of nuclear waste and CO2 exhaust of this location's tariff.
          type: array
          items:
            $ref: '#/components/schemas/EnvironmentalImpact'
          uniqueItems: true
      required:
      - isGreenEnergy
    EvParkingType:
      description: "Extensible enum: `alongMotorway` `parkingGarage` `parkingLot` `onDriveway` `onStreet` `undergroundGarage` `...`  \n\n* `alongMotorway`: A parking facility/rest area along a motorway, freeway,\ninterstate, highway etc.\n* `parkingGarage`: Multi-story car park, mainly above ground.\n* `parkingLot`: A cleared area that is intended for parking vehicles, for example\nat super markets or bars.\n* `onDriveway`: The driveway of a house or building.\n* `onStreet`: A public parking space along a street.\n* `undergroundGarage`: Multi-story car park, mainly underground.\n\nAs it is possible that new types are supported in the future,\nunknown types should be ignored.\n"
      x-extensible-enum:
      - alongMotorway
      - parkingGarage
      - parkingLot
      - onDriveway
      - onStreet
      - undergroundGarage
      type: string
    EvConnector:
      description: 'A connector is the socket or cable and plug available for the EV to use.


        A single EVSE may provide multiple connectors but only one of them can

        be in use at the same time.


        A connector always belongs to an EVSE object.

        '
      type: object
      properties:
        id:
          description: 'Identifier of the connector within the EVSE. Two connectors may have

            the same id as long as they do not belong to the same EVSE object.

            '
          type: string
        standard:
          description: "The standard (type) of the installed connector.\n\nExtensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n"
          allOf:
          - $ref: '#/components/schemas/ConnectorType'
        format:
          description: "The format of the connector, whether it is a socket or a cable.\n\n* `socket`: The connector is a socket; the EV user needs to bring a\n  fitting plug.\n* `cable`: The connector is an attached cable; the EV car needs to have a\n  fitting inlet.\n"
          allOf:
          - $ref: '#/components/schemas/ConnectorFormat'
        powerType:
          description: 'Type of electrical power used by the connector.


            * `ac1Phase`: Alternating current, single phase.

            * `ac2Phase`: Alternating current, two phases, only two of the three

            available phases connected.

            * `ac2PhaseSplit`: Alternating current, two phases using split phase

            system.

            * `ac3Phase`: Alternating current, three phases.

            * `dc`: Direct current.

            '
          allOf:
          - $ref: '#/components/schemas/PowerType'
        maxVoltage:
          description: 'Maximum voltage of the connector (line to neutral for 3-phase AC),

            in volt [V].


            For example: DC Chargers might vary the voltage during charging when

            battery is almost full.

            '
          type: integer
          minimum: 1
        maxCurrent:
          description: Maximum current of the connector, in amperes [A].
          type: integer
          minimum: 1
        maxPower:
          description: 'Maximum power that can be delivered by this connector, in watts (W).

            When the maximum electric power is lower than the calculated value

            from voltage and amperage, this value should be set.

            '
          type: integer
          minimum: 1
        termsAndConditionsUrl:
          description: URL to the operator’s terms and conditions, if available.
          type: string
        tariffIndexes:
          description: 'Tariffs for the connector, presented by indexes to the charging station''s tariffs-list.

            '
          type: array
          items:
            type: integer
      required:
      - id
      - standard
      - format
      - powerType
      - maxVoltage
      - maxCurrent
    ChargingLocations:
      type: object
      description: Response when querying multiple charging locations. The `items` array contains the locations which were found, the `missingItems` array contains the identifiers of the locations which were not found.
      properties:
        items:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/ChargingLocation'
        missingItems:
          type: array
          maxItems: 100
          items:
            $ref: '#/components/schemas/IdParameter'
    EvTruckAmenity:
      description: "Extensible enum: `truckParking` `truckWash` `truckRepair` `truckDealership` `secureTruckParking` `foodDelivery` `toilet` `washingMachine` `shower` `eateryRestaurant` `vendingMachine` `driverLounge` `outdoorGym` `powerSupply` `atm` `accessControlledArea` `licensePlateRecognition` `perimeterFence` `pedestrianTurnstiles` `cameraSurveillance` `guard` `floodLighting` `entryGate` `exitGate` `...`  \n\n* `truckParking`: There is a truck parking at the location.\n* `truckWash`: There is a truck wash service available at the location.\n* `truckRepair`: There is a truck repair service available at the location.\n* `truckDealership`: There is a truck dealership available at the location.\n* `secureTruckParking`: The location provides secure truck parking.\n* `foodDelivery`: There is a food delivery available to the location.\n* `toilet`: There is a toilet available at the location.\n* `washingMachine`: There is a washing/laundry machine available at the location.\n* `shower`: There is a shower available at the location for drivers.\n* `eateryRestaurant`: There is a restaurant or eatery available at the location.\n* `vendingMachine`: There is a vending machine available at the location.\n* `driverLounge`: There is a driver lounge available at the location.\n* `outdoorGym`: There is an outdoor gym available at the location.\n* `powerSupply`: There is a power supply available at the location, for example for truck's refrigerator.\n* `atm`: There is an ATM available at the location.\n* `accessControlledArea`: Access to the EV charging location / parking area is controlled.\n* `licensePlateRecognition`: There is a license plate recognition at the gate when entering the EV charging location / parking area.\n* `perimeterFence`: There is a perimeter fence surrounding the location.\n* `pedestrianTurnstiles`: There are turnstiles for pedestrians to access the location.\n* `cameraSurveillance`: There is a camera surveillance at the location.\n* `guard`: The location is guarded.\n* `floodLighting`: The location has flood lighting.\n* `entryGate`: There is an entry gate to access the location.\n* `exitGate`: There is an exit gate.\n\nAs it is possible that new amenities are supported in the future, unknown\namenities should be ignored.\n"
      x-extensible-enum:
      - truckParking
      - truckWash
      - truckRepair
      - truckDealership
      - secureTruckParking
      - foodDelivery
      - toilet
      - washingMachine
      - shower
      - eateryRestaurant
      - vendingMachine
      - driverLounge
      - outdoorGym
      - powerSupply
      - atm
      - accessControlledArea
      - licensePlateRecognition
      - perimeterFence
      - pedestrianTurnstiles
      - cameraSurveillance
      - guard
      - floodLighting
      - entryGate
      - exitGate
      type: string
    ConnectorFormat:
      description: "* `socket`: The connector is a socket; the EV user needs to bring a\n  fitting plug.\n* `cable`: The connector is an attached cable; the EV car needs to have a\n  fitting inlet.\n"
      enum:
      - socket
      - cable
      type: string
    EMobilityId:
      description: 'E-Mobility identifiers for CPO and eMSP. It is the part one of so called

        ema_id, issued by IDRO.


        Consists of ISO-3166 alpha-2 country code of the entity, and 3-character

        code for the CPO or eMSP (following the ISO-15118 standard), separated

        with a dash ''-''.


        See for example

        https://benelux-idro.eu/sites/default/files/2021-06/IDACS%20-%20ID%20Format%20and%20syntax.pdf

        '
      type: string
      pattern: ^[A-Z]{2}[-]{1}[A-Z0-9]{3}$
      example: DE-EV1
    VehicleLimitations:
      description: '**RESTRICTED** Size-related limitations for vehicles entering the `ChargingLocation` or charging at an EVSE.

        '
      type: object
      properties:
        weight:
          description: 'Maximum weight for the vehicles, in kilograms.


            It specifies the maximum weight the location or EVSE is designed

            for, and can correspond either to the maximum gross weight

            or the actual weight of the vehicle, if that is known.


            While the `truckAccess` specifies the category the EV

            charging location is designed for and by that way includes an

            illustrative weight limit, the `weight` can be used to

            specify a more detailed restriction within the category,

            when there is a reason to limit the weight of the vehicles

            entering the location.


            For example, `medium` category covers vehicles up to 12

            tonnes, but if the location is designed for vehicles only

            up to 10 tonnes, the category is expected to include

            `medium` and the `weight` is expected to be set as 10000.

            '
          type: number
        height:
          description: 'Maximum vehicle height, in centimeters, also known as clearance height.


            There is for example a gate or a canopy that limits the height of vehicles.


            When used in the `ChargingLocation`, it represents the highest limit of the

            EVSEs.


            Absence means there is no known restriction.

            '
          type: number
        width:
          description: 'Maximum vehicle width, in centimeters.


            This is expected to correspond to the width of the parking space

            associated with a single EVSE.


            When used in the `ChargingLocation`, it represents the widest limit of the

            EVSEs.


            Absence means the restriction is not known.

            '
          type: number
        length:
          description: 'Maximum vehicle length, in centimeters.


            A longer vehicle may block other EVSEs or the by-passing traffic.


            When used in the `ChargingLocation`, it represents the longest limit of the

            EVSEs.


            Absence means the restriction is not known.

            '
          type: number
        permittedTrailers:
          description: 'Indication if entrance with trailers / semi-trailer is permitted at the EV

            Charging Location. This field is currently not used with EVSEs, but trailer

            support is indicated via `EvVehicleTypes`.


            The dimensional limits (height, width, length), if present, are

            expected to cover trailers too, but some operators may indicate

            trailer support additionally or solely via this dedicated attribute.

            The exact number of trailers is typically not relevant for

            EV charging, hence the most common value would be `1`. Access

            with trailers can be prohibited by specifying value `0`.


            If dimensional limits are not available, default trailer sizes can

            be assumed based on the truck access category, i.e., `light` trucks

            tow smaller trailers than `heavy` trucks.


            Absence means the trailer support is not specified separately but is

            either not known or can be derived from dimensional limits, if

            available.


            For example, if max length is 25 meters, and `permittedTrailers` is

            absent, (semi-)trailer trucks up to 25 meters long can enter.

            '
          type: number
    PowerType:
      description: '* `ac1Phase`: Alternating current, single phase.

        * `ac2Phase`: Alternating current, two phases, only two of the three

        available phases connected.

        * `ac2PhaseSplit`: Alternating current, two phases using split phase

        system.

        * `ac3Phase`: Alternating current, three phases.

        * `dc`: Direct current.

        '
      enum:
      - ac1Phase
      - ac2Phase
      - ac2PhaseSplit
      - ac3Phase
      - dc
      type: string
    TruckRestrictions:
      description: '**RESTRICTED** Access restrictions for trucks and light commercial vehicles.

        '
      type: object
      properties:
        truckAccess:
          description: 'Access categories for trucks and light commercial vehicles that the EV

            charging location is designed to serve.


            While the classifications used as basis for the categories are solely based

            on vehicle mass, in EV charging context they can be interpreted to give an

            idea of the dimensional class too, as well as possible other restrictions set

            by the operator. If there are true dimensional or weight limits at the EV

            charging location, they are specified separately in `vehicleLimitations`.


            The classification is available only to a subset of EV charging locations,

            depending on the information available from the operators. Hence, at least

            vehicles belonging to the `light` category can be charged also in many EV

            charging locations not having explicit signaling for the `light` category.


            Furthermore, although the classification is based on mass/weight ranges in

            growing order, an upper class does not automatically mean that also all lower

            class vehicles are welcome to charge. For example, a location marked only

            with category `heavy` is reserved for long-haul trucks only.


            In EU the categorization used as basis can be found in:

            https://wiki.unece.org/download/attachments/27459612/VIAQ-02-06%20-%20Vehicle%20Categories.pdf?api=v2.

            For US market, the categories are specified in

            https://afdc.energy.gov/data/10380


            * `light`: Light commercial vehicles, for example vans.

            This category is used only when `supportedVehicles` includes `car`.

            The vehicles in this category require a bit more space for parking while charging

            than passenger cars, but many EV charging locations for passenger cars can also

            be used to charge vehicles of this size.

            In EU this refers to vehicles from category N1, having a maximum mass not

            exceeding 4.25 tonnes.

            In USA this refers to classes 1 and 2, with somewhat different weight limits.


            * `medium`: Medium-size trucks often used in short-haul transportation, known as

            delivery or box trucks. Corresponds to `semiTractor` in `EvVehicleTypes`.

            Also, `rigid` in `EvVehicleTypes` is mapped by default to `medium`, unless

            parking space dimensions or weight limit indicate support for `heavy` category.

            This category is used only when `supportedVehicles` includes `truck`.

            Trucks like these require clearly more space at the charger than passenger cars.

            In EU this refers to vehicles from category N2, having a maximum mass exceeding

            3.5 tonnes but not exceeding 12 tonnes. In USA this refers to classes 3 to 6.


            * `heavy`: Large-size / heavy-duty trucks, typically used in long-haul

            transportation.

            Corresponds to `truckWithTrailer` or `rigid` in `EvVehicleTypes`.

            This category is used only when `supportedVehicles` includes `truck`.

            Trucks of this category require significantly more space at the charger than

            passenger cars.

            EV charging locations are typically located near highways or industrial areas.

            Sometimes a location may be prioritized for long-haul trucks only, although

            technically smaller ones could charge there too.

            In EU this refers to vehicles from category N3, having a maximum mass exceeding

            12 tonnes. In USA this refers to classes 7 and 8.

            '
          type: array
          items:
            $ref: '#/components/schemas/EvTruckAccessCategory'
          uniqueItems: true
          minItems: 1
          maxItems: 3
        hazardousGoodsRestricted:
          description: 'Indication if vehicles carrying hazardous / dangerous goods (ADR) can enter

            the EV Charging Location.


            * True: the access is restricted. The client should assume the restriction

            covers all ADR classes.

            * False: there are no restrictions.

            * Absent: the information is not known.

            '
          type: boolean
        noClearanceHeight:
          description: 'Indication if EVSEs have explicit presence or absence of clearance height

            limit.


            This is a more explicit indication for absence of height restriction than the

            absence of the `height` field.


            * True: there is at least one EVSE in the location with no clearance

            height restriction.

            * False: all the EVSEs in the location have restricted clearance height,

            or the information is not known for some EVSEs.

            * Absent: the information is not known for any of the EVSEs.

            '
          type: boolean
        trailerParking:
          description: 'Indication if there is a dedicated parking area for trailers at the EV

            Charging Location.


            * True: there is a dedicated parking area for trailers.

            * False: there is no dedicated parking area for trailers.

            * Absent: the availability is not known.

            '
          type: boolean
        overnightParking:
          description: 'Indication if overnight parking is allowed at the EV Charging Location.


            * True: overnight parking is allowed.

            * False: overnight parking is not allowed.

            * Absent: the availability is not known.

            '
          type: boolean
        amenities:
          description: "List of truck-related amenities available at the `ChargingLocation`.\n\nExtensible enum: `truckParking` `truckWash` `truckRepair` `truckDealership` `secureTruckParking` `foodDelivery` `toilet` `washingMachine` `shower` `eateryRestaurant` `vendingMachine` `driverLounge` `outdoorGym` `powerSupply` `atm` `accessControlledArea` `licensePlateRecognition` `perimeterFence` `pedestrianTurnstiles` `cameraSurveillance` `guard` `floodLighting` `entryGate` `exitGate` `...`  \n\n* `truckParking`: There is a truck parking at the location.\n* `truckWash`: There is a truck wash service available at the location.\n* `truckRepair`: There is a truck repair service available at the location.\n* `truckDealership`: There is a truck dealership available at the location.\n* `secureTruckParking`: The location provides secure truck parking.\n* `foodDelivery`: There is a food delivery available to the location.\n* `toilet`: There is a toilet available at the location.\n* `washingMachine`: There is a washing/laundry machine available at the location.\n* `shower`: There is a shower available at the location for drivers.\n* `eateryRestaurant`: There is a restaurant or eatery available at the location.\n* `vendingMachine`: There is a vending machine available at the location.\n* `driverLounge`: There is a driver lounge available at the location.\n* `outdoorGym`: There is an outdoor gym available at the location.\n* `powerSupply`: There is a power supply available at the location, for example for truck's refrigerator.\n* `atm`: There is an ATM available at the location.\n* `accessControlledArea`: Access to the EV charging location / parking area is controlled.\n* `licensePlateRecognition`: There is a license plate recognition at the gate when entering the EV charging location / parking area.\n* `perimeterFence`: There is a perimeter fence surrounding the location.\n* `pedestrianTurnstiles`: There are turnstiles for pedestrians to access the location.\n* `cameraSurveillance`: There is a camera surveillance at the location.\n* `guard`: The location is guarded.\n* `floodLighting`: The location has flood lighting.\n* `entryGate`: There is an entry gate to access the location.\n* `exitGate`: There is an exit gate.\n\nAs it is possible that new amenities are supported in the future, unknown\namenities should be ignored.\n"
          type: array
          items:
            $ref: '#/components/schemas/EvTruckAmenity'
          uniqueItems: true
      example:
        truckAccess:
        - medium
        - heavy
        hazardousGoodsRestricted: true
        trailerParking: false
        overnightParking: true
        amenities:
        - driverLounge
        - shower
    EvVehicleCategory:
      description: "Extensible enum: `car` `twoWheeler` `truck` `...`  \n\n* `car`: The charging location is suitable for regular passenger cars, and\noptionally also for light commercial vehicles, such as vans, pickups and the\nlike, if signaled by `truckAccess` property.\nThis is the default category, used when there is no explicit information about\nsupport for other vehicle types.\n\n* `twoWheeler`: The charging location is suitable for motor bikes,\ne-scooters, and the like.\n\n* `truck`: The charging location is suitable for heavy vehicle charging,\nincluding, for example, rigid trucks and semi-trailer trucks, requiring more\nphysical space for parking and maneuvering than passenger cars.\n\nAs it is possible that new categories are supported in the future,\nunknown categories should be ignored.\n"
      x-extensible-enum:
      - car
      - twoWheeler
      - truck
      type: string
    EvVehicleTypes:
      description: "Extensible enum: `van` `semiTractor` `rigid` `truckWithTrailer` `...`  \n\nList of vehicle types that can park at the EVSE. The list is not always\nexhaustive, but smaller vehicles are expected to be able to use the EVSE as well.\nFor example, if the list includes only `truckWithTrailer`, then `rigid` and\n`semiTractor` vehicles also fit in the parking space and can charge.\nCurrently the list includes only `van` and a few truck types, but in the future\nit may include other vehicle types as well.\n\n* `van`: Light commercial vehicles, for example vans, pickups and the like.\n* `semiTractor`: Semi-trailer trucks, also known as tractor-trailers\n* `rigid`: Rigid trucks, also known as box trucks or delivery trucks.\n* `truckWithTrailer`: Rigid or semi-tractor trucks with trailer.\n"
      x-extensible-enum:
      - van
      - semiTractor
      - rigid
      - truckWithTrailer
      type: string
    EnergySource:
      description: Key-value pair (enum + percentage) of energy source.
      type: object
      properties:
        source:
          description: 'The type of energy source.


            * `nuclear`: Nuclear power sources.

            * `generalFossil`: All kinds of fossil power sources.

            * `coal`: Fossil power from coal.

            * `gas`: Fossil power from gas.

            * `generalGreen`: All kinds of regenerative power sources.

            * `solar`: Regenerative power from sunlight.

            * `wind`: Regenerative power from wind.

            * `water`: Regenerative power from water.

            '
          allOf:
          - $ref: '#/components/schemas/EnergySourceCategory'
        percentage:
          description: Percentage of this source (0-100) in the mix, possibly a non-integer value such as 32.3.
          type: number
          maximum: 100
      required:
      - source
      - percentage
    Image:
      description: Contains image link and attributes.
      type: object
      properties:
        url:
          description: URL from where the image data can be fetched.
          type: string
        thumbnailUrl:
          description: URL from where a thumbnail of the image can be fetched, if there is a thumbnail available from our provider.
          type: string
      required:
      - url
    EnergySourceCategory:
      description: '* `nuclear`: Nuclear power sources.

        * `generalFossil`: All kinds of fossil power sources.

        * `coal`: Fossil power from coal.

        * `gas`: Fossil power from gas.

        * `generalGreen`: All kinds of regenerative power sources.

        * `solar`: Regenerative power from sunlight.

        * `wind`: Regenerative power from wind.

        * `water`: Regenerative power from water.

        '
      enum:
      - nuclear
      - generalFossil
      - coal
      - gas
      - generalGreen
      - solar
      - wind
      - water
      type: string
    NearbyPlace:
      x-maturity: alpha
      description: '**ALPHA** A HERE Place near to the charging location, providing conveniences for the driver and/or passengers while the vehicle is charging.

        '
      type: object
      properties:
        placeId:
          description: 'Globally unique identifier of the HERE Place, enabling the client to fetch

            more information about the Place using the Lookup endpoint of the HERE

            Geocoding and Search API.

            '
          type: string
        categories:
          description: 'The subset of the place''s categories that are considered relevant as

            conveniences for drivers during EV charging. The set can include for example

            rest areas, cafes, and fast food restaurants. The set may be used for example

            to show icons associated with the EV charging location in a user interface.

            The categories are represented by ids defined in https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics-places/places-category-system-full.html

            '
          type: array
          items:
            type: string
          minItems: 1
        distance:
          description: 'Approximate distance from the charging location to the place, in meters.

            '
          type: number
          format: integer
        walkingDistance:
          description: 'Walking distance from the EV charging location to the nearby place,

            in meters, calculated along pedestrian-accessible paths. Unlike the

            `distance` field, which represents straight-line (Haversine)

            distance, this value accounts for physical barriers such as

            multi-lane roads, rivers, and restricted areas.


            A value of 0 means the EV charger and the place are typically within

            the same facility.


            If this field is not present, pedestrian path was not verified.

            '
          type: integer
          minimum: 0
      required:
      - placeId
      - categories
      example:
        placeId: 528u17bv-e77e5c27819d5cff9fad6b4616f71f6d
        categories:
        - 600-6000-0061
        - 100-1100-0010
        distance: 41
        walkingDistance: 125
    EvseParking:
      x-maturity: alpha
      description: '**ALPHA** Parking conditions and capabilities for an EVSE.


        This is used to specify parking conditions and capabilities for the EVSE,

        which may be different from the general parking conditions of the location.

        '
      type: object
      properties:
        conditions:
          description: "List of parking conditions for this EVSE.\n\nExtensible enum: `disabled` `customers` `taxis` `...`  \n\n* `disabled`: The parking space is designed to be accessible by drivers with\ndisabilities. It may be also reserved for drivers with disabilities.\n* `customers`: The parking space is reserved for customers of a hotel,\nrestaurant, store etc. Note: this is set only if the whole location is not set\nas `customersOnly` in `accessRestrictions`.\n* `taxis`: The parking space is reserved for taxis.\n\nAs it is possible that new types are supported in the future, unknown types\nshould be ignored.\n"
          type: array
          items:
            $ref: '#/components/schemas/EvseParkingConditions'
          uniqueItems: true
        vehicleTypes:
          description: "**RESTRICTED**\nList of vehicle types that are known to be allowed to park and charge at this\nEVSE. If the `supportedVehicles` field includes `car` or `twoWheeler`, they\ncan park and use the EVSE as well without explicit listing here.\n\nExtensible enum: `van` `semiTractor` `rigid` `truckWithTrailer` `...`  \n\nList of vehicle types that can park at the EVSE. The list is not always\nexhaustive, but smaller vehicles are expected to be able to use the EVSE as well.\nFor example, if the list includes only `truckWithTrailer`, then `rigid` and\n`semiTractor` vehicles also fit in the parking space and can charge.\nCurrently the list includes only `van` and a few truck types, but in the future\nit may include other vehicle types as well.\n\n* `van`: Light commercial vehicles, for example vans, pickups and the like.\n* `semiTractor`: Semi-trailer trucks, also known as tractor-trailers\n* `rigid`: Rigid trucks, also known as box trucks or delivery trucks.\n* `truckWithTrailer`: Rigid or semi-tractor trucks with trailer.\n"
          type: array
          items:
            $ref: '#/components/schemas/EvVehicleTypes'
          uniqueItems: true
        vehicleLimitations:
          $ref: '#/components/schemas/VehicleLimitations'
        noClearanceHeight:
          description: 'Explicitly indicates absence or presence of a clearance height limit for the

            EVSE.


            Since the absence of the `height` field in `vehicleLimitations` can be

            interpreted as either no restriction or unknown restriction, this is an

            explicit indication whether a clearance height restriction is present.


            * True: there is no clearance height restriction for the EVSE.

            * False: there is a clearance height restriction for the EVSE.

            * Absent: the clearance height restriction is unknown.

            '
          type: boolean
        evsePosition:
          description: 'The position of the EVSE in relation to the parking space, when known.


            * `left`: The EVSE is located on the left side of the parking space.

            * `right`: The EVSE is located on the right side of the parking space.

            * `center`: The EVSE is at the center of the impassable narrow end of a

            parking space.

            '
          enum:
          - left
          - right
          - center
          type: string
        parkingDirection:
          description: "The direction in which the vehicle should be parked at this EVSE.\n\n* `parallel`: Parking happens parallel to the roadway on which vehicles\n  approach the EVSE.\n* `perpendicular`: Parking happens perpendicular to the roadway on which\n  vehicles approach the EVSE.\n* `angle`: Parking happens at an angle to the roadway on which vehicles\n  approach the EVSE.\n* `pullThrough`: A vehicle can stop, charge, and proceed without reversing\n  out of a parking bay.\n"
          enum:
          - parallel
          - perpendicular
          - angle
          - pullThrough
          type: string
        reservationRequired:
          description: 'Whether a reservation is required for parking at this EVSE. This is separate

            from the `reservable` capability, which indicates whether the EVSE can be

            reserved at all, but does not indicate whether it is required to be reserved.

            '
          type: boolean
      example:
        conditions:
        - customers
        vehicleTypes:
        - van
        - semiTractor
        vehicleLimitations:
          height: 3.5
          width: 2.5
          length: 12
        noClearanceHeight: false
        evsePosition: left
[...]
