openapi: 3.2.0
info:
  title: Here Routing API
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  termsOfService: https://legal.here.com/en-gb/terms
  version: '1.0'
  description: 'Operations tagged Routing across 2 of this provider''s published API definitions: here-public-transit-v8-openapi.yml, here-routing-v8-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://transit.hereapi.com/v8
  description: All Public Transit services, namely Routing, Next Departures, and Station Search.
- url: https://router.hereapi.com/v8
  description: Production server for the HERE Routing Service
security:
- Bearer: []
- ApiKey: []
tags:
- name: Routing
paths:
  /routes:
    get:
      operationId: Public Transit API v8 getRoutes
      summary: Routes
      servers:
      - url: https://transit.router.hereapi.com/v8
        description: Public Transit Routing service only.
      - url: https://transit.hereapi.com/v8
        description: All Public Transit services, namely Routing, Next Departures, and Station Search.
      tags:
      - Routing
      description: 'Lists public transit routes.

        The service supports several use cases as follows:


        * define routes based on arrival or departure times.

        * filter specific transit modes, such as rail and metro only.

        * plan routes hours or days in advance.

        * set a maximum distance for the walk to the nearest transit stop/station or the speed of the walk.

        * define how many changes or transfers the journey may include.

        * request turn-by-turn navigation.

        * request route polyline in order to view the route over a map.'
      parameters:
      - $ref: '#/components/parameters/origin'
      - $ref: '#/components/parameters/destination'
      - $ref: '#/components/parameters/lang'
      - $ref: '#/components/parameters/units'
      - $ref: '#/components/parameters/departureTime'
      - $ref: '#/components/parameters/arrivalTime'
      - $ref: '#/components/parameters/alternatives'
      - $ref: '#/components/parameters/changes'
      - $ref: '#/components/parameters/transitModes'
      - $ref: '#/components/parameters/pedestrianSpeed'
      - $ref: '#/components/parameters/pedestrianMaxDistance'
      - $ref: '#/components/parameters/accessibility'
      - $ref: '#/components/parameters/transitReturn'
      - $ref: '#/components/parameters/xRequestId'
      responses:
        '200':
          description: API response in case of success
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransitRouteResponse'
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
        '400':
          $ref: '#/components/responses/400ErrorResponseWithRequestID'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/403ErrorResponseWithRequestID'
        '500':
          $ref: '#/components/responses/500ErrorResponseWithRequestID'
        '502':
          $ref: '#/components/responses/502ErrorResponseWithRequestID'
        '503':
          $ref: '#/components/responses/503ErrorResponseWithRequestID'
        '504':
          $ref: '#/components/responses/504ErrorResponseWithRequestID'
    parameters:
    - $ref: '#/components/parameters/transportMode'
    - $ref: '#/components/parameters/origin_2'
    - $ref: '#/components/parameters/destination_2'
    - $ref: '#/components/parameters/via'
    - $ref: '#/components/parameters/departureTimeWithAny'
    - $ref: '#/components/parameters/arrivalTime'
    - $ref: '#/components/parameters/routingMode'
    - $ref: '#/components/parameters/alternatives_2'
    - $ref: '#/components/parameters/avoid'
    - $ref: '#/components/parameters/allow'
    - $ref: '#/components/parameters/exclude'
    - $ref: '#/components/parameters/units_2'
    - $ref: '#/components/parameters/lang_2'
    - $ref: '#/components/parameters/return'
    - $ref: '#/components/parameters/spans'
    - $ref: '#/components/parameters/truck'
    - $ref: '#/components/parameters/vehicle'
    - $ref: '#/components/parameters/consumptionModel'
    - $ref: '#/components/parameters/ev'
    - $ref: '#/components/parameters/fuel'
    - $ref: '#/components/parameters/driver'
    - $ref: '#/components/parameters/pedestrianSpeed_2'
    - $ref: '#/components/parameters/scooter'
    - $ref: '#/components/parameters/currency'
    - $ref: '#/components/parameters/customizations'
    - $ref: '#/components/parameters/taxi'
    - $ref: '#/components/parameters/tolls'
    - $ref: '#/components/parameters/maxSpeedOnSegment'
    - $ref: '#/components/parameters/traffic'
    - $ref: '#/components/parameters/networkRestrictedTruck'
    - $ref: '#/components/parameters/billingTag'
    - $ref: '#/components/parameters/xRequestId'
    post:
      operationId: Routing API v8 calculateRoutesPost
      summary: Calculate routes via POST
      tags:
      - Routing
      description: 'Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...


        At the moment, only selected parameters are permitted in the POST body,

        particularly those that may be restricted in the query string due to request size limitations.

        See the request body section below for details. All other parameters must be provided in the query string.

        If a parameter is provided in both the query string and the POST body, their values are merged.


        Post body size limit is 10MiB.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CalculateRoutesPostParameters'
            examples:
              avoid:
                $ref: '#/components/examples/calculateRoutesPostAvoidExample'
              exclude:
                $ref: '#/components/examples/calculateRoutesPostExcludeExample'
              ev:
                $ref: '#/components/examples/calculateRoutesPostEvExample'
              maxSpeedOnSegment:
                $ref: '#/components/examples/calculateRoutesPostMaxSpeedOnSegmentExample'
              networkRestrictedTruck:
                $ref: '#/components/examples/calculateRoutesPostNetworkRestrictedTruckExample'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
    servers:
    - url: https://transit.hereapi.com/v8
      description: All Public Transit services, namely Routing, Next Departures, and Station Search.
  /routes/{routeHandle}:
    parameters:
    - $ref: '#/components/parameters/routeHandle'
    - $ref: '#/components/parameters/transportMode'
    - $ref: '#/components/parameters/routeHandleOrigin'
    - $ref: '#/components/parameters/departureTimeWithAny'
    - $ref: '#/components/parameters/avoid'
    - $ref: '#/components/parameters/allow'
    - $ref: '#/components/parameters/exclude'
    - $ref: '#/components/parameters/units_2'
    - $ref: '#/components/parameters/lang_2'
    - $ref: '#/components/parameters/return'
    - $ref: '#/components/parameters/spans'
    - $ref: '#/components/parameters/truck'
    - $ref: '#/components/parameters/vehicle'
    - $ref: '#/components/parameters/consumptionModel'
    - $ref: '#/components/parameters/evRouteHandle'
    - $ref: '#/components/parameters/fuel'
    - $ref: '#/components/parameters/pedestrianSpeed_2'
    - $ref: '#/components/parameters/scooter'
    - $ref: '#/components/parameters/currency'
    - $ref: '#/components/parameters/rerouting'
    - $ref: '#/components/parameters/taxi'
    - $ref: '#/components/parameters/tolls'
    - $ref: '#/components/parameters/maxSpeedOnSegment'
    - $ref: '#/components/parameters/traffic'
    - $ref: '#/components/parameters/networkRestrictedTruck'
    - $ref: '#/components/parameters/billingTag'
    - $ref: '#/components/parameters/xRequestId'
    get:
      operationId: Routing API v8 getRoutesByHandle
      summary: Get route by handle via GET
      tags:
      - Routing
      description: 'Decodes and returns a route from a previously calculated route handle.


        **Disclaimer: A route handle is not suitable for persistent route storage! It can be

        invalidated at any time.**


        A route handle encodes a previously calculated route. A route can be decoded from a handle

        as long as the service uses the same map data and encoding that were used when retrieving the handle.


        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic

        information or other data along the route. However, a user should be prepared to recalculate

        the route when decoding the handle fails.


        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,

        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.


        The `origin` parameter can be provided to update the start of the previously calculated

        route.


        The `transportMode` parameter does not have to match the transport mode previously used for

        route calculation. However, when using a different transport mode, the request may fail,

        e.g. when the route has road segments forbidden for the provided transport mode.


        Please refer to the Developer Guide for more information and examples.'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
    post:
      operationId: Routing API v8 getRoutesByHandlePost
      summary: Get route by handle via POST
      tags:
      - Routing
      description: 'Decodes and returns a route from a previously calculated route handle.


        **Disclaimer: A route handle is not suitable for persistent route storage! It can be

        invalidated at any time.**


        A route handle encodes a previously calculated route. A route can be decoded from a handle

        as long as the service uses the same map data and encoding that were used when retrieving the handle.


        Thus it is suitable for caching routes compactly. It can be used to retrieve updated traffic

        information or other data along the route. However, a user should be prepared to recalculate

        the route when decoding the handle fails.


        All parameters of the `/routes` endpoint are supported, except for `destination`, `via`,

        `alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.


        The `origin` parameter can be provided to update the start of the previously calculated

        route.


        The `transportMode` parameter does not have to match the transport mode previously used for

        route calculation. However, when using a different transport mode, the request may fail,

        e.g. when the route has road segments forbidden for the provided transport mode.


        Only selected parameters are permitted in the POST body. See the request body section below for details.

        If a parameter is provided in both the query string and the POST body, their values are merged.


        Post body size limit is 10MiB.


        Please refer to the Developer Guide for more information and examples.'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/GetRoutesByHandlePostParameters'
            examples:
              avoid:
                $ref: '#/components/examples/calculateRoutesPostAvoidExample'
              exclude:
                $ref: '#/components/examples/calculateRoutesPostExcludeExample'
              maxSpeedOnSegment:
                $ref: '#/components/examples/calculateRoutesPostMaxSpeedOnSegmentExample'
              networkRestrictedTruck:
                $ref: '#/components/examples/calculateRoutesPostNetworkRestrictedTruckExample'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
    servers:
    - url: https://router.hereapi.com/v8
      description: Production server for the HERE Routing Service
  /import:
    post:
      operationId: Routing API v8 importRoute
      summary: Calculate a route from a sequence of trace points
      tags:
      - Routing
      description: 'Creates a route from a sequence of trace points.


        Post body size limit is 10MiB.


        For best results, use 1Hz GPS data or any points that have a spacing of a few meters between them.

        For traces with less frequent points, the Route Import service will attempt to create an approximate reconstruction.

        In some situations, when consecutive points are too far apart (more than about 30 kilometers of on-road distance), they could be considered unreachable and one of them could fail to be matched.'
      parameters:
      - $ref: '#/components/parameters/transportMode'
      - $ref: '#/components/parameters/departureTimeWithAny'
      - $ref: '#/components/parameters/avoid'
      - $ref: '#/components/parameters/allow'
      - $ref: '#/components/parameters/exclude'
      - $ref: '#/components/parameters/units_2'
      - $ref: '#/components/parameters/lang_2'
      - $ref: '#/components/parameters/return'
      - $ref: '#/components/parameters/spans'
      - $ref: '#/components/parameters/truck'
      - $ref: '#/components/parameters/vehicle'
      - $ref: '#/components/parameters/consumptionModel'
      - $ref: '#/components/parameters/evRouteImport'
      - $ref: '#/components/parameters/fuel'
      - $ref: '#/components/parameters/scooter'
      - $ref: '#/components/parameters/taxi'
      - $ref: '#/components/parameters/billingTag'
      - $ref: '#/components/parameters/xRequestId'
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MatchTrace'
      responses:
        '200':
          $ref: '#/components/responses/RoutesResponseOk'
        '400':
          $ref: '#/components/responses/InvalidRoutesRequestResponse'
        '401':
          $ref: '#/components/responses/401ErrorResponseWithRequestID'
        '403':
          $ref: '#/components/responses/Routing403ErrorResponse'
        '429':
          $ref: '#/components/responses/Routing429ErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorRoutesResponse'
    servers:
    - url: https://router.hereapi.com/v8
      description: Production server for the HERE Routing Service
components:
  parameters:
    pedestrianMaxDistance:
      name: pedestrian[maxDistance]
      description: Maximum allowed walking distance in meters (e.g. when looking for nearest stations).
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 6000
        default: 2000
    transitModes:
      name: modes
      description: "Transit mode filter used to determine which modes of transit to include in the response.\nBy default, all supported transit modes are permitted.\n\nSupported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`\n`bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`\n`flight`\n\nThis parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.\nMixing of inclusive and exclusive transit modes is not allowed.\n\nexamples:\n  * `subway,bus`. Returns only subways and busses.\n  * `-subway,-bus`. Returns all modes except subways and busses.\n"
      in: query
      schema:
        $ref: '#/components/schemas/TransitModesFilter'
      style: form
      explode: false
    departureTime:
      name: departureTime
      description: 'Specifies the time of departure as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).

        The requested time is converted to the local time at origin. When the optional timezone offset is

        not specified, time is assumed to be local. If neither `departureTime` or `arrivalTime` are specified, current time at departure location will be used.

        All `Time` values in the response are returned in the timezone of each location.

        '
      in: query
      allowReserved: true
      required: false
      schema:
        $ref: '#/components/schemas/Time'
    changes:
      name: changes
      description: 'Maximum number of changes or transfers allowed in a route. Unlimited number of changes is permitted when not set.

        '
      in: query
      schema:
        type: integer
        minimum: 0
        maximum: 6
    transitReturn:
      name: return
      description: "Defines which section attributes are included.\n\n * `intermediate` - List of intermediate stops within a section of the route. If\n   enabled, the response includes `intermediateStops` attribute. Each intermediate stop includes\n   stop/station names, WGS-84 geocoordinates, and the departure times at the stops.\n * `fares` - List of fares/tickets to cover a section of the route.\n\n   **NOTE**: Fares information support will be available soon.\n * `polyline` - Polyline for the route in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md)\n   Encoding.\n * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n * `travelSummary` - Include summary for the travel portion of the section.\n * `incidents` - Include a list of all incidents applicable to each section.\n * `bookingLinks` - Include a list of links to book a ride for a section of the route.\n * `nextDepartures` - Return the next departures for the transit section.\n * `sourceFeedMapping` - Include a list of source feed data that matches the data of the section.\n * `serviceTimes` - Include service times for the transit section.\n    \n    **NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.\n"
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - intermediate
          - fares
          - polyline
          - actions
          - travelSummary
          - incidents
          - bookingLinks
          - nextDepartures
          - sourceFeedMapping
          - serviceTimes
      style: form
      explode: false
    destination:
      name: destination
      description: "Trip destination WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize the\n  name of the destination place and will affect the generated actions descriptions.\n\n"
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/LocationString'
    units:
      name: units
      description: 'Units of measurement used, for example, in guidance instructions. The default is `metric`.


        If `imperial` units are requested and the requested language is `en-US`, then

        United States customary units (miles and feet) will be used.

        If `imperial` units are requested and a language other than `en-US` is requested then

        imperial (miles and yards) units will be used.

        '
      in: query
      schema:
        $ref: '#/components/schemas/Units'
    arrivalTime:
      name: arrivalTime
      description: 'Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).

        The requested time is converted to the local time at destination. When the optional timezone offset is

        not specified, time is assumed to be local.

        All `Time` values in the response are returned in the timezone of each location.


        Note : The following features do not support the arrivalTime parameter:

        * EV Routing

        * Route Handle

        * Route Import

        '
      in: query
      allowReserved: true
      required: false
      schema:
        $ref: '#/components/schemas/Time'
    origin:
      name: origin
      description: "Trip origin WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize\n  the name of the origin place and will affect the generated actions descriptions.\n\n"
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/LocationString'
    alternatives:
      name: alternatives
      description: 'Number of alternative routes to return aside from the optimal route. By default, `alternatives=0` is assumed and only one optimal route is returned. In cases where also a pedestrian route is available it will be also returned. This may lead to two routes being returned in total (one transit route and one pedestrian route) even though only one is expected when `alternatives=0` is given.

        '
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 5
        default: 0
    pedestrianSpeed:
      name: pedestrian[speed]
      description: 'Walking speed in meters per second. Influences the duration of walking segments from origin to a station, from a station to destination and in-between the stations (e.g. if transfer is needed).

        '
      in: query
      schema:
        $ref: '#/components/schemas/PedestrianSpeed'
    xRequestId:
      name: X-Request-ID
      in: header
      description: User-provided token that can be used to trace a request or a group of requests sent to the service.
      schema:
        type: string
    lang:
      name: lang
      description: 'Specifies the list of preferred languages of the response.

        The first supported language from the list will be used for the response.

        The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).

        '
      in: query
      schema:
        type: array
        items:
          type: string
        default:
        - en-US
      style: form
      explode: false
      example:
      - zh-tw
      - en-gb
      - en-us
    accessibility:
      name: accessibility
      description: "Defines accessibility requirements for routes.\n\n * `wheelchair` - Select only wheelchair accessible vehicles and stations.\n"
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          type: string
          enum:
          - wheelchair
      style: form
      explode: false
    rerouting:
      name: rerouting
      description: 'Rerouting parameters allow to request a new route calculation based on the route handle.


        All attributes are optional.

        '
      in: query
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Rerouting'
    vehicle:
      name: vehicle
      description: 'Vehicle-specific parameters.

        '
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Vehicle'
    allow:
      name: allow
      description: Explicitly allow features that require users to opt in.
      in: query
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Allow'
    billingTag:
      name: billingTag
      in: query
      description: 'A list of up to six billing tags, separated by the `+` sign.


        This parameter provides a way to track your platform usage.

        For details, refer to the Cost Management Developer Guide section on [Billing Tags](https://docs.here.com/usage/docs/tutorial-billing-tags)

        '
      schema:
        type: string
        pattern: ^(?![_-])[A-Za-z0-9_-]{4,16}(?<![_-])(\+(?![_-])[A-Za-z0-9_-]{4,16}(?<![_-])){0,5}$
        example: ABCD+EFGH
    taxi:
      name: taxi
      description: "Taxi-specific parameters.\n  * `allowDriveThroughTaxiRoads`: Specifies if a vehicle is allowed to drive through\n    taxi-only roads and lanes. Even if this option is set to `false`, the vehicle is still\n    allowed on taxi-only roads at the start of the route and at the destination.\n"
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Taxi'
    departureTimeWithAny:
      name: departureTime
      description: 'Specifies the time of departure as defined by either `date-time` or `full-date` `T`

        `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).


        The requested time is converted to local time at origin. When the optional timezone offset

        is not specified, time is assumed to be local. The special value `any` can be used to

        indicate that time should not be taken into account during routing. If neither

        `departureTime` or `arrivalTime` are specified, current time at departure place will be

        used. All time values in the response are returned in the timezone of each location.


        **Note**: Only long-term traffic incidents will be used if `departureTime=any` and

        `traffic[mode]=default` or no `traffic[mode]` are specified.

        '
      in: query
      allowReserved: true
      required: false
      schema:
        $ref: '#/components/schemas/TimeWithAny'
    driver:
      name: driver
      description: 'Driver parameters to be used for calculating routes with automatically added

        rest stops.

        '
      in: query
      allowReserved: true
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Driver'
    routeHandleOrigin:
      name: origin
      description: "A location defining the origin of the trip. The origin has to be located along the\npreviously calculated route.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter in `Calculate routes via GET`.\n\nThis parameter supports the same options as the `origin` parameter in `Calculate routes via GET`,\nwith the following exceptions:\n\n## Notes\n\n* `minCourseDistance`: While this parameter can be provided for compatibility reasons,\n  it will not affect the result of a getRoutesByHandle request.\n"
      in: query
      allowReserved: true
      required: false
      schema:
        $ref: '#/components/schemas/Waypoint'
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20
          summary: Setting course/radius an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        displayLocation:
          value: 52.52697,13.42500;displayLocation=52.51885,13.46237
          summary: This coordinate is the location of the POI as shown by the pin on a map.
    destination_2:
      name: destination
      description: "A location defining the destination of the trip.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter.\n\n`destination` supports the same options as the `origin` parameter, with the following exceptions:\n\n## Additional waypoint options:\n\n* `stopDuration`: desired duration for the stop, in seconds. The section arriving at this\n  via waypoint will have a `wait` post action reflecting the stopping time. The\n  subsequent section will start at the arrival time of the former section + stop\n  duration.\n"
      in: query
      allowReserved: true
      required: true
      schema:
        $ref: '#/components/schemas/Waypoint'
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
        displayLocation:
          value: 52.52697,13.42500;displayLocation=52.51885,13.46237
          summary: This coordinate is the location of the POI as shown by the pin on a map.
    units_2:
      name: units
      description: 'Units of measurement used in guidance instructions. The default is `metric`.

        '
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/Units'
    via:
      name: via
      description: "A location defining a via waypoint.\n\nA via waypoint is a location between origin and destination. There are two types of via waypoints:\n* `passThrough=false` (default) : The route will stop at the via waypoint, creating a new route section.\n* `passThrough=true` : The route will pass through the via waypoint.\n\nMultiple waypoints can be specified by using multiple via parameters like\n`via=...&via=...`, in which case the route will traverse these waypoints sequentially in\nthe order specified in the request.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter.\n`via` supports the same options as the `origin` parameter, with the following exceptions:\n\n## Additional waypoint options:\n* `stopDuration`: desired duration for the stop, in seconds. Must be less than 50000.\n* `passThrough`: boolean. Default value is `false`.\n   Setting to `true` asks the router to avoid the following during route calculation:\n  + Introducing a stop at the waypoint.\n  + Splitting the route into sections.\n  + Changing the direction of travel.\n\n  The following scenarios are not supported for `passThrough` parameter:\n  + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.\n\n* `charging`: Structured string denoting a user-planned charging stop.\n\n  Format: `charging=(power=<value>;current=<value>;voltage=<value>;supplyType=<value>;minDuration=<value>;maxDuration=<value>)`.\n\n  The properties `power`, `current`, `voltage` and `supplyType` denote the characteristics of the chosen compatible connector at the station. These are all required.\n  `minDuration` and `maxDuration` set the time bounds for the charging time. At least one of them is required. For most use cases we recommend to provide at least `minDuration`.\n  The following are the specifications for the properties:\n  + `power`:        value in kW, type: number. Rated power of the connector.\n  + `voltage`:      value in V, type: number. Rated voltage of the connector.\n  + `current`:      value in A, type: number. Rated current of the connector.\n  + `supplyType`:   one of {\"acSingle\", \"acThree\", \"dc\"} for 1-phase AC, 3-phase AC and DC respectively, type: string.\n  + `minDuration`:  value in seconds, type: int. Minimum time the user expects to charge at the station, including `chargingSetupDuration`. This value takes precedence over the global `maxChargingDuration`.\n  + `maxDuration`:  value in seconds, type: int. Maximum time the user plans to charge at the station, including `chargingSetupDuration`. This value takes precedence over the global `maxChargingDuration`.\n\n  For a user-planned charging stop, the following properties of the `ev` parameter are also required (see documentation for the `ev` parameter):\n  * `initialCharge`\n  * `maxCharge`\n  * `chargingCurve`\n\n  *Notes*:\n    * This option is not supported for pass-through waypoints.\n    * If `makeReachable=true` and `minDuration` is not provided (or if `minDuration=0`), route calculation may suggest not to charge on this station, for example,\n      if a better station is available in the vicinity.\n    * If `stopDuration` is provided then the total time at the stop is the higher of (`stopDuration`, `chargingSetupDuration` + `chargingDuration`).\n    * If charging for `minDuration` would charge above `maxCharge`, the time spent charging is capped by `maxCharge`.\n    * If `stopDuration` or `minDuration` exceed `chargingSetupDuration` + `chargingDuration`, the `waiting` post action duration is set to the remaining time.\n    * If `makeReachable=true` is not set, the target charge is `maxChargeAfterChargingStation`, unless the charging time would be outside of the specified duration range.\n      In such case, the nearest valid value is used.\n    * In getRoutesByHandle requests, the target charge from the original route response is used, unless the charging time would be outside of the specified duration range.\n      In such case, the nearest valid value is used.\n\n* `currentWeightChange`: Changes the value of `vehicle[currentWeight]` by this value. Enables the support of scenarios where the vehicle takes additional cargo or unloads its cargo along the route. Changes to the configuration of the vehicle, such as adding a trailer, aren't supported.\nRelative value in kilograms, beginning with either `+` or `-`. Available range: from -40000 to +40000 (inclusive).\n\n   If this parameter is specified on any of the via waypoints or the request has the `vehicle[currentWeight]` set, the response contains the `currentWeight` value used for each section.\n\n   When this parameter is provided, both `vehicle[currentWeight]` and `vehicle[grossWeight]` must also be provided.\n\n   If the `currentWeight` value falls below 0 due to `currentWeightChange`, the system returns a critical violation notice, but a route is still calculated. The system returns notices only for negative values. Very low positive values are likely invalid, but don't trigger notices since they are greater than 0.\n\n   The `currentWeightChange` value is stored in the `RouteHandle` at each waypoint and can't be changed in `RouteHandle` calculation requests.\n\n* `auxiliaryEnergyConsumption`: value in kWh, type: number. Auxiliary energy consumption during normal stop. This is to specify the expected energy consumption from the vehicle's battery by powered equipment, like a tail-lift used to load/unload goods, during the stop.\n  **Notes:**\n  * Cannot be used with `passThrough=true`\n  * Cannot be used at user-added charging stations.\n"
      in: query
      allowReserved: true
      style: form
      explode: true
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/Waypoint'
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        duration:
          value: 51.611571,11.351608!stopDuration=600
          summary: Addition a stopDuration for an intermediate stop
        pass-through:
          value: 51.611571,11.351608!passThrough=true
          summary: Setting pass-through parameter to avoid possibly making a u-turn for a stop
        displayLocation:
          value: 52.52697,13.42500;displayLocation=52.51885,13.46237
          summary: This coordinate is the location of the POI as shown by the pin on a map.
        currentWeightChange:
          value: 52.531052,13.384872!currentWeightChange=+500
          summary: Adding a weight of 500 kg to the vehicle for the remainder of the route.
        charging:
          value: 51.611571,11.351608!charging=(power=100;current=250;voltage=400;supplyType=dc;minDuration=1200)
          summary: Waypoint with a 100 kW charging station; charging at this station for at least 20 minutes.
    maxSpeedOnSegment:
      name: maxSpeedOnSegment
      description: 'Specify new base speed for segment by value. Affects route selection and the ETA. Cannot increase base speed on segment.

        '
      in: query
      allowReserved: true
      style: form
      required: false
      schema:
        $ref: '#/components/schemas/MaxSpeedOnSegment'
      examples:
        speed:
          summary: Setting new base speed on segment
          value:
            speed: here:cm:segment:76771992#*;speed=42
    scooter:
      name: scooter
      description: "Scooter-specific parameters.\n  * `allowHighway`: Specifies whether the scooter is allowed on highways or not. This parameter is optional.\n    If not provided, the default is to avoid highways.\n    There is a similar parameter avoid[features]=controlledAccessHighway to disallow highway usage.\n    avoid[features] takes precedence, so if that parameter is also used, scooters are not allowed\n    to use highways even if `allowHighway` is set to `true`.\n    The following values are possible:\n      * `true`: The scooter is allowed to use highways.\n      * `false`: The scooter is not allowed to use highways.\n"
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Scooter'
    spans:
      name: spans
      in: query
      required: false
      description: 'Defines which map content attributes are included in the response spans. For example, `attributes,length` will enable the fields `attributes` and `length` in the route response.

        For more information about the `countryCode` field, see the [ISO standard](https://www.iso.org/obp/ui/#search).


        This parameter also requires that the `polyline` option is set within the `return` parameter.


        **NOTE:** Attribute speedLimit is deprecated, use maxSpeed instead. Attribute segmentId is deprecated, use segmentRef instead.

        '
      style: form
      explode: false
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/Spans'
    transportMode:
      name: transportMode
      description: 'Mode of transport to be used for the calculation of the route.


        Note:

        `bicycle`, `bus`, `privateBus` and `networkRestrictedTruck` modes are currently provided as Beta, with limited functionality.

        Please refer to the Developer Guide for more details.


        `networkRestrictedTruck` transport mode requires the use of the `networkRestrictedTruck[permittedNetworks]` parameter.


        Additionally, `networkRestrictedTruck` transport mode cannot use any of the following parameters that are otherwise allowed for trucks:

        - `avoid[features]` with any of `tollRoad`, `controlledAccessHighway`, `carShuttleTrain`, `difficultTurns`

        - `avoid[truckRoadTypes]`

        - `vehicle[occupancy]`

        - `vehicle[engineType]`

        - `vehicle[kpraLength]`

        - `vehicle[category]`

        - any `ev[*]` parameters

        - any `fuel[*]` parameters

        '
      in: query
      required: true
      schema:
        $ref: '#/components/schemas/RouterMode'
    return:
      name: return
      description: "Defines which attributes are included in the response as part of data representation of a\n`Route` or `Section`.\n\n* `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.\n   Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified), using the WGS84 coordinate system.\n* `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n* `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.\n* `summary` - Include summary for the section.\n* `travelSummary` - Include summary for the travel portion of the section.\n* `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.\n* `mlDuration` - (Deprecated) No longer returns a value. The parameter is still accepted for backwards compatibility.\n* `typicalDuration` - Include route duration under typical traffic conditions.\n* `elevation` - Include WGS84 elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.\n* `routeHandle` - Encode calculated route and return a handle which can be used with\n  `routes/{routeHandle}` to decode the route at a later point in time.\n* `passthrough` - Include information on passthrough via waypoints in the section.\n* `incidents` - Include a list of all incidents applicable to each section.\n   Returned incidents may be referenced by `incidents` and/or `intersectionIncidents` span parameters.\n   Incidents are localized to the requested language.\n* `routingZones` - Include information about routing zones each section goes through.\n* `truckRoadTypes` - Include information about road types each section goes through.\n* `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing\n  parameters such as vehicle dimensions in the query,\n  e.g `transportMode`, `vehicle[hovOccupancy]`, vehicle[height]. Check the Developer Guide for tutorials on the topic.\n  If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.\n\n  **Note**:\n    - Toll requests support `car` dimensions such as atypical car height and weight, trailers, axle count and vehicle fuel type. However extreme parameter combinations may result in tolls being returned for a different vehicle type (for example, a car with 6 axles will most likely result in truck tolls).\n    Therefore the request will return the most \"typical\" toll cost for the parameters provided.\n    - Tolls are not available in route import service. See [this tutorial](https://docs.here.com/routing/docs/routing-v8-tolls-routeimport) for information on how to request tolls when using route import.\n* `routeLabels` - Include a list of the most important names and route numbers on this route that differentiate it from other alternatives\n* `potentialTimeDependentViolations` - Include info notices for potential time-dependent violations in the sections that match the current vehicle profile, but are not violating the restricted times for the calculated route.\n* `noThroughRestrictions` - Include information about the parts of the route that are not allowed to be driven through, i.e. route can only start, end, or have an intermediate `via` waypoint here.\n\nThe following restrictions apply when specifying the `return` parameter:\n\n* If `actions` is requested, then `polyline` must also be requested as well.\n* If `instructions` is requested, then `actions` must also be requested as well.\n* If `turnByTurnActions` is requested, then `polyline` must also be requested as well.\n* If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well\n"
      in: query
      schema:
        type: array
        uniqueItems: true
        items:
          $ref: '#/components/schemas/Return'
      style: form
      explode: false
    fuel:
      name: fuel
      description: "**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**\n\nFuel parameters to be used for calculating consumption and related CO2 emission.\n\nThe following attributes are required for calculating consumption:\n  * `type`\n  * `freeFlowSpeedTable`\n\n**Notes**:\n* Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.\n* Fuel parameters are not supported in combination with pedestrian and bicycle `transportMode`.\n"
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Fuel'
    routeHandle:
      name: routeHandle
      in: path
      description: 'Route handle returned from a previous route calculation.


        See `return` parameter of `/routes` endpoint for more information.

        '
      required: true
      schema:
        type: string
    tolls:
      name: tolls
      description: 'Defines properties which control toll calculation and reporting in the response.

        '
      in: query
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Tolls'
    evRouteImport:
      name: ev
      description: 'EV properties to be used for calculating consumption.


        There are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.


        Required `empirical` model properties:

        * `freeFlowSpeedTable`


        Required `physical` model properties:

        * `driveEfficiency`

        * `recuperationEfficiency`


        When using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):

        * `rollingResistanceCoefficient`

        * `airDragCoefficient`

        * `currentWeight`

        * `frontalArea` or combination of `width` and `height`


        The following `ev` properties are additionally required in order to calculate State-of-Charge along the route:

        * `initialCharge`

        * `maxCharge`


        Route reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,

        * `minChargeAtDestination`

        * `minChargeAtFirstChargingStation`

        * `minChargeAtChargingStation`


        The following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)

        * `chargingCurve`


        **Notes**:

        * Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.

        * EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.


        **Note**: Route import does not support adding charging stations, therefore the following related parameters are ignored:

        * chargingCurve

        * maxChargingVoltage

        * maxChargingCurrent

        * maxChargeAfterChargingStation

        * minChargeAtChargingStation

        * minChargeAtFirstChargingStation

        * chargingSetupDuration

        * connectorTypes

        '
      in: query
      allowReserved: true
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/EVConsumption'
    networkRestrictedTruck:
      name: networkRestrictedTruck
      description: '**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**


        Parameters specific to the `networkRestrictedTruck` transport mode.

        '
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/NetworkRestrictedTruck'
    traffic:
      name: traffic
      description: Traffic specific parameters.
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Traffic'
    exclude:
      name: exclude
      description: 'Defines properties which will be strictly excluded from route calculation.


        Note - Exclude options guarantees exclusion, but doesn''t guarantee

        finding a route.

        '
      in: query
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Exclude'
      examples:
        country:
          summary: Exclude the country of Switzerland from the route calculation
          value:
            countries: CHE
        countries:
          summary: Exclude both the country of Switzerland and the country of Austria from the route calculation
          value:
            countries: CHE,AUT
        state:
          summary: Exclude DC state of USA from the route calculation
          value:
            states: USA:DC
        states:
          summary: Exclude both states DC and TX of USA from the route calculation
          value:
            states: USA:DC,TX
        states_multicountry:
          summary: Exclude both states DC, TX of USA and AL state of Canada from the route calculation
          value:
            states: USA:DC,TX|CAN:AL
        area:
          summary: Exclude a specific geographical bounding box
          value:
            areas: bbox:13.082,52.416,13.628,52.626
        areas:
          summary: Exclude multiple geographical bounding boxes using `|` as element separator
          value:
            areas: bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511
    truck:
      name: truck
      description: 'Truck-specific parameters.


        **NOTE:** The attribute `truck` is deprecated and should be replaced with `vehicle`.

        '
      deprecated: true
      in: query
      required: false
      style: deepObject
      explode: true
      schema:
        $ref: '#/components/schemas/Truck'
    origin_2:
      name: origin
      description: "A location defining the origin of the trip.\n\n## Format\n\nFormat: `Place[WaypointOptions]`\n\n* Place: `{lat},{lng}[PlaceOptions]`\n* PlaceOptions: `;option1=<value1>;option2=<value2>...`\n* WaypointOptions: `!option1=<value1>!option2=<value2>...`\n\nA waypoint consists of:\n\n* Exactly one place\n* Optional settings for the place\n* Optional settings for the waypoint itself\n\n## Supported place options\n\n* `course`: int, degrees clock-wise from north. Indicating desired direction at the place.\n  E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`\n* `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be\n  used. E.g. if the location is to the left of the street, the router will prefer using\n  that side in case the street has dividers. E.g.\n  `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`\n  side of the street should be preferred. This option is required, if `matchSideOfStreet`\n  is set to `always`.\n  Option cannot be combined with `radius`, `radiusPenalty` or `snapRadius`.\n* `displayLocation`: `{lat},{lng}`. Indicates the location on the map where this POI is to be displayed. This attribute is passed through to the `displayLocation` attribute in the corresponding `Place` object in the output.\n* `uTurnPermission`: enum `[allow, avoid]`. Specifies the U-Turn Permission mode at the stop-over waypoint. If unspecified, the permission will be determined by the global setting, avoid[features]=uTurns. This feature is not supported for pass-through waypoints and U-Turns are generally avoided in that case.\n  + `allow` : Allow making a U-Turn at this stop-over waypoint\n  + `avoid` : Avoid making a U-Turn at this stop-over waypoint\n* `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by\n  `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as\n  well.\n  + `always` : Always prefer the given side of street.\n  + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case\n    the street has dividers. This is the default behavior.\n* `nameHint`: string. Causes the router to look for the place with the most similar name.\n  The typical examples include: `North` being used to differentiate between\n  interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly\n  select a residental street.\n\n  Empty string values are ignored.\n* `radius`: int, meters. Asks the router to consider all places within the given radius as\n  potential candidates for route calculation. This can be either because it is not\n  important which place is used, or because it is unknown. Radiuses wider than 200 meters are\n  not supported.\n  Option cannot be combined with `snapRadius`.\n* `radiusPenalty`: int, percentage 0-10000. Penalty as percentage: Used in conjunction with the `radius`\n  parameter. Router will match the waypoint within the specified radius and apply a penalty to candidates\n  based on their air distance to the waypoint. This penalty is proportional to the given percentage,\n  where 100 is just the cost of the air distance, and 200 is twice the cost of the air distance. The penalty\n  must be chosen so that, when multiplied by the radius, the result is less than or equal to 7200.\n  Regardless, only values up to and including 10000 will be accepted. This means that a maximum penalty\n  of 3600% is allowed for a radius of 200m, 7200% for 100m and 10000% for 72m and less.\n  Higher values will result in an error response. `radiusPenalty` cannot be combined with `snapRadius`.\n  **Alpha**: This parameter is in development. It may not be stable and is subject to change.\n* `snapRadius`: int, meters. Instructs the router to match the waypoint, within the specified radius,\n  to the most \"significant\" road. In contrast to the regular `radius` parameter, `snapRadius` sorts potential\n  candidates in order of \"significance\". For example, a highway is more significant on a zoomed-out map than\n  a national road, a national road is more significant than a city road, etc. Hence, `snapRadius` cannot be\n  combined with `radius` or `radiusPenalty` parameters. The typical use case for `snapRadius` is when selecting a waypoint on a\n  zoomed-out view of a map on a drag-and-drop interface. The expectation on such UIs is that only roads that\n  are visible at that zoom level are considered for matching and a large snapRadius would enable that.\n* `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.\n  For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.\n  Values greater than 2000 meters will be capped at 2000 meters.\n* `segmentIdHint`: string. Causes the router to try and match to the specified segment.\n  Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint\n  This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.\n* `onRoadThreshold`: int, meters. allows specifying a distance within which\n  the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.\n  Within this threshold, the attributes of the segments do not impact the matching.\n  Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.\n\n## Notes\n\n* `origin` currently does not support any WaypointOptions. They are available for `via` and `destination` waypoints.\n* Non-structural reserved characters in options' values need to be properly percent-encoded.\n  Please refer to the Developer Guide for more details.\n"
      in: query
      allowReserved: true
      required: true
      schema:
        $ref: '#/components/schemas/Waypoint'
      examples:
        coordinate:
          value: 51.611571,11.351608
          summary: A simple WGS84 coordinate
        side:
          value: 52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always
          summary: Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street
        course:
          value: 51.611571,11.351608;course=170;radius=20;minCourseDistance=500
          summary: Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle
        name:
          value: 52.510319,13.285616;nameHint=Kaiserdamm
          summary: Setting nameHint to avoid matching to the wrong location
        displayLocation:
          value: 52.52697,13.42500;displayLocation=52.51885,13.46237
          summary: This coordinate is the location of the POI as shown by the pin on a map.
    alternatives_2:
      name: alternatives
      description: Number of alternative routes to return aside from the optimal route.
      in: query
      required: false
      schema:
        type: integer
        minimum: 0
        maximum: 6
        default: 0
    pedestrianSpeed_2:
      name: pedestrian[speed]
      description: 'Walking speed in meters per second. Influences the duration of walking segments along the route.

        '
      in: query
      schema:
        $ref: '#/components/schemas/PedestrianSpeed'
    evRouteHandle:
      name: ev
      description: 'EV properties to be used for calculating consumption.


        There are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.


        Required `empirical` model properties:

        * `freeFlowSpeedTable`


        Required `physical` model properties:

        * `driveEfficiency`

        * `recuperationEfficiency`


        When using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):

        * `rollingResistanceCoefficient`

        * `airDragCoefficient`

        * `currentWeight`

        * `frontalArea` or combination of `width` and `height`


        The following `ev` properties are additionally required in order to calculate State-of-Charge along the route:

        * `initialCharge`

        * `maxCharge`


        Route reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,

        * `minChargeAtDestination`

        * `minChargeAtFirstChargingStation`

        * `minChargeAtChargingStation`


        The following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)

        * `chargingCurve`


        **Notes**:

        * Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.

        * EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.

        '
      in: query
      allowReserved: true
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/EVRouteHandle'
    ev:
      name: ev
      description: 'EV properties to be used for calculating consumption.


        There are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.


        Required `empirical` model properties:

        * `freeFlowSpeedTable`


        Required `physical` model properties:

        * `driveEfficiency`

        * `recuperationEfficiency`


        When using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):

        * `rollingResistanceCoefficient`

        * `airDragCoefficient`

        * `currentWeight`

        * `frontalArea` or combination of `width` and `height`


        The following `ev` properties are additionally required in order to calculate State-of-Charge along the route:

        * `initialCharge`

        * `maxCharge`


        Route reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,

        * `minChargeAtDestination`

        * `minChargeAtFirstChargingStation`

        * `minChargeAtChargingStation`


        The following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)

        * `chargingCurve`


        **Notes**:

        * Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.

        * EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.


        The following properties are additionally required for the router to automatically enhance the route with charging stops

        * `makeReachable` set to `true`

        * `chargingCurve`

        * `connectorTypes`

        * `maxChargeAfterChargingStation`

        '
      in: query
      allowReserved: true
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/EV'
      examples:
        physicalModelExample:
          summary: Typical physical model values.
          value:
            driveEfficiency: 0.8
            recuperationEfficiency: 0.7
    avoid:
      name: avoid
      description: 'Avoid roads that violate certain features of road network or that go through

        user-specified areas, segments, or zones.


        Note that if the origin, destination, or any via is in an avoided area or on an avoided

        feature, a route is produced that violates the avoid restriction. In such a case, the

        route is trying to minimize the violation of the avoid restrictions and can therefore

        include large deviations from a route that is calculated without these avoid

        restrictions.


        It is also possible that the produced route violates the avoid restriction in between

        waypoints, if no other route is possible or too hard to find. One such example is

        requesting a route to an island that is only reachable with ferries while specifying

        `avoid[features]=ferry`.


        When using avoid features, it''s not guaranteed to get alternatives. Further, they can even

        cause the route calculation to fail, if no route is possible or too hard to find.

        '
      in: query
      allowReserved: true
      required: false
      explode: true
      style: deepObject
      schema:
        $ref: '#/components/schemas/Avoid'
      examples:
        features:
          summary: Avoid specific features like `tunnel' or `ferry`
          value:
            features: tunnel,ferry
        area:
          summary: Avoid a specific geographical bounding box
          value:
            areas: bbox:13.082,52.416,13.628,52.626
        areas:
          summary: Avoid multiple geographical bounding boxes using `|` as element separator
          value:
            areas: bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511
        complete:
          summary: Avoid both features and geographical bounding boxes
          value:
            features: tollRoad,tunnel&avoid[areas]=bbox:13.082,52.416,13.628,52.626
        segment:
          summary: Avoid a segment using its identifier
          value:
            segments: here:cm:segment:207551710
        segmentsWithDirection:
          summary: Avoid two segments using their identifiers, also specifying the direction
          value:
            segments: here:cm:segment:207551710#+,here:cm:segment:76771992#*
        zones:
          summary: Avoid multiple environmental zones using identifiers
          value:
            zoneIdentifiers: here:cm:envzone:2,here:cm:envzone:3
        zoneCategory:
          summary: Avoid all environmental zones
          value:
            zoneCategories: environmental
        zoneCategoryWithException:
          summary: Avoid all environmental zones except a specific one
          value:
            zoneCategories: environmental;exceptZoneIds=here:cm:envzone:2
        truckRoadTypes:
          summary: Avoid the specified truck road types
          value:
            truckRoadTypes: BK1,BK2,BK3,BK4
        tollTransponders:
          summary: Avoid all toll transponders
          value:
            tollTransponders: all
    currency:
      name: currency
      in: query
      description: 'Currency code compliant to ISO 4217.

        Costs for the calculated route will be returned using this currency.


        If not provided, the router will specify it.

        On a best-effort basis, the router will try to specify the costs in the local currency.

        '
      required: false
      schema:
        type: string
    lang_2:
      name: lang
      description: 'Specifies the list of preferred languages of the response.

        The first supported language from the list will be used for for the response if available.

        The next languages are used as fallbacks if the first one is not available.

        Additionally, some more fallback logic is applied if no language is available, like generalizing the requested language code.

        The value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).

        A list of supported languages for the routing service, as well as more information on the language fallback logic, can be found in the [Developer Guide](https://docs.here.com/routing/docs/routing-v8-supported-languages).


        Note: If the first language in the list is not supported exactly, an info notification will be generated with code `mainLanguageNotFound`.

        '
      in: query
      schema:
        type: array
        items:
          type: string
        default:
        - en-US
      style: form
      explode: false
      example: zh-tw,en-gb,en-us
    customizations:
      name: customizations
      description: 'Specifies a list of customizations to be used. The data provided by these customizations either

        replaces or augments the standard HERE map data. The provided credentials must authorize access

        to all of the customizations specified.


        **Alpha**: This API is in development. It may not be stable and is subject to change.

        '
      in: query
      allowReserved: true
      required: false
      schema:
        type: array
        items:
          $ref: '#/components/schemas/CustomizationHRN'
    routingMode:
      name: routingMode
      description: "Specifies which optimization is applied during the calculation.\n\n* `fast`: Route calculation from start to destination optimized by travel time. In many\n  cases, the route returned by `fast` mode may not be the route with the fastest\n  possible travel time. For example, the routing service may favor a route that remains on\n  a highway, even if a faster travel time can be achieved by taking a detour or shortcut\n  through an inconvenient side road.\n* `short`: Route calculation from start to destination disregarding any speed information.\n  In this mode, the distance of the route is minimized, while keeping the route sensible.\n  This includes, for example, penalizing turns. Because of that, the resulting route will\n  not necessarily be the one with minimal distance.\n\nNotes:\n* The following Transport modes only support `fast` routingMode\n  - `bicycle`\n  - `bus`\n  - `pedestrian`\n  - `privateBus`\n  - `scooter`\n  - `taxi`\n  - `networkRestrictedTruck`\n"
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/RoutingMode'
    consumptionModel:
      name: consumptionModel
      description: 'Specifies which of the EV consumption models is being used. See the `ev` parameter for details on the models.


        * `empirical`

        * `physical`

        '
      in: query
      required: false
      schema:
        $ref: '#/components/schemas/ConsumptionModel'
  schemas:
    PedestrianNotice:
      type: object
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: Violated avoid tunnel
        code:
          type: string
          description: "Extensible enum: `simplePolyline` `pedestrianOptionViolated` `violatedAvoidTunnel` `violatedAvoidDirtRoad` `violatedBlockedRoad` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places | info |\n| pedestrianOptionViolated | This section violates the parameter `pedestrian[speed]` or `pedestrian[maxDistance]` | critical |\n| violatedAvoidTunnel | Route did not manage to avoid user preference | critical |\n| violatedAvoidDirtRoad | Route did not manage to avoid user preference | critical |\n| violatedBlockedRoad | Route uses roads that are blocked due to `avoid[areas]` or `avoid[segments]`. | critical |\n"
          example: violatedAvoidTunnel
          x-extensible-enum:
          - simplePolyline
          - pedestrianOptionViolated
          - violatedAvoidTunnel
          - violatedAvoidDirtRoad
          - violatedBlockedRoad
        severity:
          $ref: '#/components/schemas/NoticeSeverity'
      required:
      - code
    DockingStationPlace:
      description: A place represents a docking station for rented vehicles.
      allOf:
      - $ref: '#/components/schemas/BaseRoutablePlace'
    PedestrianDeparture:
      description: Departure of pedestrian
      properties:
        time:
          description: Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.
          allOf:
          - $ref: '#/components/schemas/Time'
        place:
          $ref: '#/components/schemas/PedestrianPlace'
      required:
      - place
    Notice:
      type: object
      description: A notice contains important notifications.
      properties:
        title:
          type: string
          description: Human-readable notice description.
          example: No route found
        code:
          type: string
          description: Notice code.
          example: noRouteFound
        severity:
          $ref: '#/components/schemas/NoticeSeverity'
      required:
      - code
    TransitDeparture:
      description: Transit departure
      properties:
        time:
          description: Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.
          allOf:
          - $ref: '#/components/schemas/Time'
        place:
          description: Departure/arrival location
          allOf:
          - $ref: '#/components/schemas/StationPlace'
        delay:
          description: The accumulated delay in seconds from the scheduled time of the event.
          allOf:
          - $ref: '#/components/schemas/DepartureDelay'
        status:
          $ref: '#/components/schemas/DepartureStatus'
      required:
      - place
    TransitIncidentEffect:
      description: "Extensible enum: `cancelledService` `reducedService` `additionalService` `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open list of possible incident effects.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - cancelledService
      - reducedService
      - additionalService
      - modifiedService
      - delays
      - detour
      - stopMoved
      - other
    ExitAction:
      description: 'An action to leave a highway or roundabout.


        * `exit`: exit maneuver, such as "Take the left exit to"

        * `roundaboutExit`: roundabout exit maneuver, such as "Take the third exit of the roundabout onto"

        '
      type: object
      properties:
        action:
          description: 'The type of the action.


            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.

            '
          type: string
        duration:
          description: Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Duration'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        offset:
          description: Offset of a coordinate in the section's polyline.
          type: integer
          example: 0
        length:
          description: Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Distance'
        direction:
          description: 'Note that the direction of a turn has a special meaning for "roundaboutEnter": It indicates the direction in which one drives around the roundabout (left for left-hand-side driving countries, right for right-hand-side ones).

            '
          allOf:
          - $ref: '#/components/schemas/TurnActionDirection'
        severity:
          $ref: '#/components/schemas/TurnActionSeverity'
        exit:
          description: Which exit to take next.
          type: integer
          minimum: 1
          maximum: 12
          default: 1
      required:
      - action
      - duration
    TransitIncidentType:
      description: "Extensible enum: `technicalProblem` `strike` `demonstration` `accident` `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency` `other` `...`  \nAn open list of possible incident causes / types.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n"
      type: string
      x-extensible-enum:
      - technicalProblem
      - strike
      - demonstration
      - accident
      - holiday
      - weather
      - maintenance
      - construction
      - policeActivity
      - medicalEmergency
      - other
    PedestrianAction:
      description: Action attached to a pedestrian section.
      oneOf:
      - $ref: '#/components/schemas/DepartAction'
      - $ref: '#/components/schemas/ArriveAction'
      - $ref: '#/components/schemas/ContinueAction'
      - $ref: '#/components/schemas/ExitAction'
      - $ref: '#/components/schemas/SimpleTurnAction'
      - $ref: '#/components/schemas/KeepAction'
      discriminator:
        propertyName: action
        mapping:
          depart: '#/components/schemas/DepartAction'
          arrive: '#/components/schemas/ArriveAction'
          continue: '#/components/schemas/ContinueAction'
          exit: '#/components/schemas/ExitAction'
          turn: '#/components/schemas/SimpleTurnAction'
          keep: '#/components/schemas/KeepAction'
    PedestrianSpan:
      description: 'Span attached to a `Section` describing pedestrian content.

        '
      properties:
        offset:
          description: 'Offset of a coordinate in the section''s polyline.

            '
          type: integer
          format: int32
          minimum: 0
        length:
          description: 'Length of the span.

            '
          allOf:
          - $ref: '#/components/schemas/Distance'
        duration:
          description: Duration of the span.
          allOf:
          - $ref: '#/components/schemas/Duration'
        walkAttributes:
          type: array
          description: 'Accessibility and walk-related attribute flags.


            * `indoor`: This part of the route is inside a venue.


            It is possible that new attributes may be supported in the future. When encountering unknown attributes, e.g., in the software parser, it is recommended to ignore them.

            '
          items:
            $ref: '#/components/schemas/WalkAttributes'
          example:
          - indoor
    DeboardAction:
      description: An action to disembark a ferry.
      type: object
      properties:
        action:
          description: 'The type of the action.


            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.

            '
          type: string
          enum:
          - deboard
        duration:
          description: Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Duration'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
      required:
      - action
      - duration
    DepartAction:
      description: 'A departure maneuver to be performed at or during a specific portion of a section.

        '
      type: object
      properties:
        action:
          description: 'The type of the action.


            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.

            '
          type: string
          enum:
          - depart
        duration:
          description: Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Duration'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        offset:
          description: Offset of a coordinate in the section's polyline.
          type: integer
          example: 0
        length:
          description: Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Distance'
      required:
      - action
      - duration
    Units:
      description: Units of measurement used, for example, in guidance instructions. The default is `metric`.
      type: string
      enum:
      - metric
      - imperial
    StationPlace:
      description: A station
      properties:
        name:
          description: Location name
          type: string
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          description: 'Place type. Each place type can have extra attributes.


            **NOTE:** The list of possible place types could be extended in the future.

            The client application is expected to handle such a case gracefully.

            '
          type: string
        location:
          description: 'The position of this location


            This position was used in route calculation. It may be different to the original position provided in the request.

            '
          allOf:
          - $ref: '#/components/schemas/Location'
        waypoint:
          description: If present, this place corresponds to the waypoint in the request with the same index.
          type: integer
        id:
          description: 'Identifier of this station.


            **NOTE**: The given ID is only valid within the context of the response it is in.

            '
          type: string
          example: '110543003'
        platform:
          description: Platform name or number for the departure.
          type: string
          example: '1'
        code:
          description: Short text or a number that identifies the place for riders.
          type: string
          example: '74370'
        wheelchairAccessible:
          description: 'Information about accessibility for people with a disability and who use a wheelchair.


            * `unknown` - Accessibility information is not available.

            * `yes` - There exists some accessible path from outside the station to the specific stop/platform.

            * `limited` - Accessibility is limited or assistance is required.

            * `no` - There exists no accessible path from outside the station to the specific stop/platform.

            '
          allOf:
          - $ref: '#/components/schemas/WheelchairAccessibility'
      required:
      - type
      - location
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    ChargingConnectorType:
      description: "Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo` `tesla` `saeJ3400` `gbtDc` `unknown` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:  Type 1 Combo connector, commonly called \"CCS1\"\n* `iec62196Type2Combo`:  Type 2 Combo connector, commonly called \"CCS2\"\n* `chademo`: CHAdeMO connector\n* `tesla`: North American Charging Standard (NACS) connector. This connector type is deprecated. Return value used instead of `saeJ3400` when the user specifies the deprecated value `tesla` in `ev[connectorTypes]`\n* `saeJ3400`: North American Charging System (NACS) connector\n* `gbtDc`: GB/T Guobiao GB/T 20234.3 DC connector\n* `unknown`: Connector type is not known, e.g., if station is provided by user in request\n"
      type: string
      x-extensible-enum:
      - iec62196Type1Combo
      - iec62196Type2Combo
      - chademo
      - tesla
      - saeJ3400
      - gbtDc
      - unknown
    TransitModesFilterItem:
      oneOf:
      - $ref: '#/components/schemas/TransitMode'
      - $ref: '#/components/schemas/TransitModeExcluded'
    SourceFeedMapping:
      description: 'Mapping of the internal data returned in the respone to the data from the source feed.

        A `type` will only be returned if the source feed data has a match.

        Each `type` might be returned more than once in the response as the source feed may have multiple matches.


        Currently possible values for `type` are:


        * `agencyId`: ID of the agency that provides the data which is defined in the source feed.

        * `routeId`: ID of the route that is provided in source feed.

        * `tripId`: ID of the trip that is provided in source feed.

        * `feedVersion`: Version of the feed that is defined in source feed.

        '
      type: object
      properties:
        type:
          type: string
          description: "Extensible enum: `agencyId` `routeId` `tripId` `feedVersion` `...`  \nType of source feed data.\n"
          x-extensible-enum:
          - agencyId
          - routeId
          - tripId
          - feedVersion
          example: tripId
        sourceValue:
          type: string
          description: Source value for the data defined in the `type`.
          example: 1234-567
    Location:
      description: Location on the Earth
      properties:
        lat:
          description: Location of a point on the Earth north or south of the equator in decimal degrees.
          type: number
          format: double
          example: 52.531677
        lng:
          description: Location of a place on the Earth east or west of the prime meridian in decimal degrees.
          type: number
          format: double
          example: 13.381777
      example:
        lat: 52.531677
        lng: 13.381777
      required:
      - lat
      - lng
    Polyline:
      type: string
      description: Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) format. Coordinates are in the WGS84 coordinate system, including `Elevation` (if present).
      example: A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e
    KeepAction:
      description: 'Keep maneuver, such as "Take the middle fork onto"

        '
      type: object
      properties:
        action:
          description: 'The type of the action.


            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.

            '
          type: string
          enum:
          - keep
        duration:
          description: Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Duration'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
        offset:
          description: Offset of a coordinate in the section's polyline.
          type: integer
          example: 0
        length:
          description: Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Distance'
        direction:
          description: 'Note that the direction of a turn has a special meaning for "roundaboutEnter": It indicates the direction in which one drives around the roundabout (left for left-hand-side driving countries, right for right-hand-side ones).

            '
          allOf:
          - $ref: '#/components/schemas/TurnActionDirection'
        severity:
          $ref: '#/components/schemas/TurnActionSeverity'
      required:
      - action
      - duration
    DepartureDelay:
      description: The accumulated delay in seconds from the scheduled time of the event.
      type: integer
    TravelSummary:
      description: Total value of key attributes for a route section.
      properties:
        duration:
          $ref: '#/components/schemas/Duration'
        length:
          $ref: '#/components/schemas/Distance'
      required:
      - duration
      - length
    BoardAction:
      description: An action to board a ferry.
      type: object
      properties:
        action:
          description: 'The type of the action.


            **NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.

            '
          type: string
          enum:
          - board
        duration:
          description: Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.
          allOf:
          - $ref: '#/components/schemas/Duration'
        instruction:
          description: Description of the action (e.g. Turn left onto Minna St.).
          type: string
      required:
      - action
      - duration
    TimeRestrictedPrice:
      type: object
      properties:
        type:
          description: "Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `restricted` - A single price value valid for a specific time or duration\n"
          type: string
        estimated:
          description: Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.
          type: boolean
          default: false
        currency:
          description: Local currency of the price compliant to ISO 4217
          type: string
        unit:
          description: "When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n"
          allOf:
          - $ref: '#/components/schemas/Duration'
        value:
          description: The price value
          type: number
        days:
          description: This price applies only for the selected days
          type: array
          items:
            $ref: '#/components/schemas/TimeRestrictedWeekdays'
          example:
          - sa
          - su
        minDuration:
          description: The price applies if the duration is more or equal to `minDuration`
          allOf:
          - $ref: '#/components/schemas/Duration'
          example: 1801
        maxDuration:
          description: The price applies if the duration is less or equal to `maxDuration`
          allOf:
          - $ref: '#/components/schemas/Duration'
          example: 3600
        fromTime:
          description: The price applies from this time of the day
          allOf:
          - $ref: '#/components/schemas/PartialTime'
        toTime:
          description: The price applies until this time of the day
          allOf:
          - $ref: '#/components/schemas/PartialTime'
      required:
      - type
      - currency
      - value
    AccessPointPlace:
      description: Access point to a venue/station
      properties:
        name:
          description: Location name
          type: string
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          description: 'Place type. Each place type can have extra attributes.


            **NOTE:** The list of possible place types could be extended in the future.

            The client application is expected to handle such a case gracefully.

            '
          type: string
        location:
          description: 'The position of this location


            This position was used in route calculation. It may be different to the original position provided in the request.

            '
          allOf:
          - $ref: '#/components/schemas/Location'
        waypoint:
          description: If present, this place corresponds to the waypoint in the request with the same index.
          type: integer
        wheelchairAccessible:
          description: 'Information about accessibility for people with a disability and who use a wheelchair.


            * `unknown` - Accessibility information is not available.

            * `yes` - Access point is wheelchair accessible.

            * `limited` - Accessibility is limited or assistance is required.

            * `no` - No accessible path from the access point to platforms.

            '
          allOf:
          - $ref: '#/components/schemas/WheelchairAccessibility'
      required:
      - type
      - location
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    TransitRouteSection:
      description: A transit or pedestrian section of the route.
      oneOf:
      - $ref: '#/components/schemas/TransitSection'
      - $ref: '#/components/schemas/PedestrianSection'
      discriminator:
        propertyName: type
        mapping:
          pedestrian: '#/components/schemas/PedestrianSection'
          transit: '#/components/schemas/TransitSection'
    WalkAttributes:
      description: "Extensible enum: `indoor` `...`  \nWalkAttributes are applied to a span of a route section and describe walk-related attribute\nflags.\n\n* `indoor`: This part of the route is located inside a venue.\n"
      type: string
      x-extensible-enum:
      - indoor
    TransitMode:
      title: Modes
      description: "Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail` `flight` `...`  \nTransit mode of transport in the route response\n"
      example: intercityTrain
      type: string
      x-extensible-enum:
      - highSpeedTrain
      - intercityTrain
      - interRegionalTrain
      - regionalTrain
      - cityTrain
      - bus
      - ferry
      - subway
      - lightRail
      - privateBus
      - inclined
      - aerial
      - busRapid
      - monorail
      - flight
    TransitRoute:
      description: A basic transit routing response. It may include transit and walk sections.
      properties:
        id:
          description: Unique identifier of the route
          type: string
          example: R0
        notices:
          description: "Contains a list of issues related to this route.\n\nFollows a list of possible notice codes:\n\n* `excessiveWaitingTime`: Commuter has to wait at a station much longer than usual.\n* `changeOptionViolated`: This route contains more changes than specified by the `changes` parameter.\n* `nonviableRoute`: Based on the real-time situation, one or more changes on the route\n  are not possible. This can happen if real-time re-routing is not available on this area.\n"
          type: array
          items:
            $ref: '#/components/schemas/Notice'
        sections:
          type: array
          items:
            $ref: '#/components/schemas/TransitRouteSection'
          description: A list of transit and pedestrian sections of the route.
      required:
      - id
      - sections
    DepartureStatus:
      description: "Extensible enum: `scheduled` `cancelled` `additional` `replaced` `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule but was removed.\n* `additional`: An extra trip that was added in addition to a running schedule, for example, to respond to sudden passenger load.\n* `replaced`: A trip that was in the schedule but is removed and replaced with `additional` trip, for example, to replace a broken vehicle or handle detour.\n"
      type: string
      x-extensible-enum:
      - scheduled
      - cancelled
      - additional
      - replaced
      default: scheduled
    NoticeSeverity:
      description: 'Describes the impact a notice has on the resource to which the notice is attached.

        * critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.

        * info - The notice is for informative purposes, but does not affect usability of the route.

        '
      type: string
      enum:
      - critical
      - info
    Distance:
      type: integer
      minimum: 0
      description: Distance in meters.
      example: 189
    ChargingStationBrand:
      type: object
      description: Information regarding the charging station brand
      properties:
        name:
          description: Charging station brand name
          type: string
        hrn:
          description: 'Charging station brand unique ID.

            If specified in `ev[preferredBrands]` parameter

            then it would apply preference to adding stations of the given brand.


            **NOTE:** As of now it is generated as a brand name hash.

            '
          type: string
    ChargingSupplyType:
      description: "Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n* `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current supply\n"
      type: string
      x-extensible-enum:
      - acSingle
      - acThree
      - dc
    PedestrianPostAction:
      oneOf:
      - $ref: '#/components/schemas/OffsetAction'
      discriminator:
        propertyName: action
        mapping:
          wait: '#/components/schemas/OffsetAction'
    FarePrice:
      description: Price of a fare
      discriminator:
        propertyName: type
        mapping:
          value: '#/components/schemas/SinglePrice'
          range: '#/components/schemas/RangePrice'
      oneOf:
      - $ref: '#/components/schemas/SinglePrice'
      - $ref: '#/components/schemas/RangePrice'
    ParkingLotPlace:
      description: A parking lot
      properties:
        name:
          description: Location name
          type: string
          example: S Potsdamer Platz Bhf/Voßstr.
        type:
          description: 'Place type. Each place type can have extra attributes.


            **NOTE:** The list of possible place types could be extended in the future.

            The client application is expected to handle such a case gracefully.

            '
          type: string
        location:
          description: 'The position of this location


            This position was used in route calculation. It may be different to the original position provided in the request.

            '
          allOf:
          - $ref: '#/components/schemas/Location'
        waypoint:
          description: If present, this place corresponds to the waypoint in the request with the same index.
          type: integer
        id:
          description: Identifier of this parking lot
          type: string
        attributes:
          type: array
          description: Attributes of a parking lot.
          items:
            $ref: '#/components/schemas/ParkingLotPlaceType'
        rates:
          description: 'List of possible parking rates for this facility. Different rates can apply depending on the day, time of the day or parking duration.

            '
          type: array
          items:
            $ref: '#/components/schemas/TimeRestrictedPrice'
      required:
      - type
      - location
      example:
        type: place
        location:
          lat: 52.531677
          lng: 13.381777
    TransitModesFilter:
      description: 'Transit type filter used to determine which types of transit to include in the response. By default, all supported transit types are permitted. Mixing of inclusive and exclusive transit types is not allowed.

        '
      type: array
      uniqueItems: true
      items:
        $ref: '#/components/schemas/TransitModesFilterItem'
    Place:
      description: A place represents a generic location relevant for the route.
      allOf:
      - $ref: '#/components/schemas/BaseRoutablePlace'
    TurnActionSeverity:
      description: 'Tightness of the turn. Optional in the `turn` action, unused by other actions.


        * `light`: indicates making a light turn

        * `quite`: indicates making a regular turn

        * `heavy`: indicates making a heavy turn

        '
[...]
