openapi: 3.2.0
info:
  title: Here Tiles API
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
  x-refined-note:
  - x-document-meta-data differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged Tiles across 2 of this provider''s published API definitions: here-raster-tile-v3-openapi.yml, here-traffic-vector-tile-v2-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://maps.hereapi.com/v3
  description: Production
- url: https://traffic.vector.hereapi.com/v2
  description: Production
tags:
- name: Tiles
  description: Endpoints to request tiles
paths:
  /{resource}/{projection}/{zoom}/{column}/{row}/{format}:
    get:
      description: Retrieve the rendered map tile in requested format. It is possible to select among different parameters to modify the output, like a different style, languages, label size, and so on.
      summary: Retrieve the rendered map tile in requested format
      operationId: getTile
      tags:
      - Tiles
      parameters:
      - $ref: '#/components/parameters/ResourceParam'
      - $ref: '#/components/parameters/ProjectionParam'
      - $ref: '#/components/parameters/ZoomParam'
      - $ref: '#/components/parameters/ColumnParam'
      - $ref: '#/components/parameters/RowParam'
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/MapVersionParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/Language2Param'
      - $ref: '#/components/parameters/PviewParam'
      - $ref: '#/components/parameters/StyleParam'
      - $ref: '#/components/parameters/PpiParam'
      - $ref: '#/components/parameters/IfNoneMatchParam'
      - $ref: '#/components/parameters/RenderFeaturesParam'
      - $ref: '#/components/parameters/SizeParam'
      - $ref: '#/components/parameters/ScaleParam'
      - $ref: '#/components/parameters/StartTimeParam'
      - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          description: OK - Requested resource is returned
          headers:
            ETag:
              $ref: '#/components/headers/ETag'
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
          content:
            image/png:
              schema:
                type: string
                format: binary
            image/png8:
              schema:
                type: string
                format: binary
            image/jpg:
              schema:
                type: string
                format: binary
        '304':
          description: The resource cached in the client (identified by the If-None-Match header) has not changed.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        '503':
          $ref: '#/components/responses/ServiceUnavailableErrorResponse'
        '504':
          $ref: '#/components/responses/GatewayTimeoutErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://maps.hereapi.com/v3
      description: Production
  /traffictiles/{layer}/{projection}/{z}/{x}/{y}/{format}:
    get:
      summary: Retrieves the protocol buffer encoded binary tile
      description: Retrieves the protocol buffer encoded binary tile with the traffic data.
      operationId: Traffic Vector Tile API v2 getTile
      tags:
      - Tiles
      parameters:
      - $ref: '#/components/parameters/layer'
      - $ref: '#/components/parameters/projection'
      - $ref: '#/components/parameters/z'
      - $ref: '#/components/parameters/x'
      - $ref: '#/components/parameters/y'
      - $ref: '#/components/parameters/format'
      - $ref: '#/components/parameters/features'
      - $ref: '#/components/parameters/incidentType'
      - $ref: '#/components/parameters/X-Request-ID'
      responses:
        '200':
          $ref: '#/components/responses/TileResponseOk'
        '204':
          $ref: '#/components/responses/TileResponseNoTrafficData'
        '304':
          $ref: '#/components/responses/TileResponseNotModified'
        '400':
          $ref: '#/components/responses/TileResponseInvalidRequest'
        '401':
          $ref: '#/components/responses/TileResponseUnauthorized'
        '403':
          $ref: '#/components/responses/TileResponseForbidden'
        '404':
          $ref: '#/components/responses/TileResponseNotFound'
        '500':
          $ref: '#/components/responses/TileResponseServerError'
        '503':
          $ref: '#/components/responses/TileResponseServiceUnavailable'
      security:
      - bearerTokenAuth: []
        ApiKey: []
    servers:
    - url: https://traffic.vector.hereapi.com/v2
      description: Production
components:
  schemas:
    ProjectionSchema:
      type: string
      example: mc
      description: The projection used when rendering tiles
    GenericError:
      description: generic error
      type: object
    ForbiddenErrorSchema:
      type: object
      description: Custom error response schema returned by authentication
      properties:
        error:
          type: string
          pattern: ^Forbidden$
        error_description:
          type: string
    MapVersionSchema:
      description: The current encoded map version. Lasts for 24 hours. After that period, this value should be refreshed.
      type: string
      pattern: ^([a-z]{2,3}[0-9]+)+$
      example: in123jp45
    ErrorResponseSchema:
      description: Response in case of error
      properties:
        title:
          type: string
          description: User-friendly error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: Error code.
          example: E622002
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    LanguageSchema:
      type: string
      pattern: ^[a-z]{2}(-[a-zA-Z]{1,4})?$
      example: en
      description: 'Indicates that the map on this layer supports the returned language language.

        The values follow ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.

        '
    NotFoundErrorResponseSchema:
      description: Not Found | Indicates that the requested resource was not found.
      properties:
        title:
          type: string
          description: User-friendly error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 404
        code:
          type: string
          description: Error code.
          example: E622000
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    UnauthorizedErrorSchema:
      type: object
      description: Custom error response schema returned by authentication
      properties:
        error:
          type: string
          pattern: ^Unauthorized$
        error_description:
          type: string
    ErrorResponseDetailsSchema:
      description: Detailed information about the error
      properties:
        message:
          type: string
          description: Error message
          example: output parameter matches none of the supported values
    FormatSchema:
      type: string
      description: Supported image format
      example: png
    BadRequestErrorResponseSchema:
      description: Bad Request | Indicates an invalid parameter value in the request, for example `zoom` out of range.
      properties:
        title:
          type: string
          description: User-friendly error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: Error code. Possible error codes E622002,E622003,E622004,E622005,E622006,E622007,E622008,E622009,E622010
          example: E622002
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        parameter:
          type: string
          description: Name of the parameter in case of a bad request due to an invalid path or query parameter; otherwise, an empty string.
          example: overlay
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
      - parameter
    ResourceSchema:
      type: string
      description: Name of a tile resource
      example: base
    PoliticalViewSchema:
      type: string
      example: IN
      description: 'Indicates a certain geopolitical view of the map.

        The values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.

        '
      pattern: ^[A-Z]{2,3}$
    StyleSchema:
      type: string
      example: explore.day
    InternalServerErrorResponseSchema:
      description: Internal Error | Indicates a server malfunction and an unexpected error.
      properties:
        title:
          type: string
          description: User-friendly error description
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 500
        code:
          type: string
          description: Error code. Possible error codes E622050,E622051,E622052,E622053,E622054
          example: E622050
        cause:
          type: string
          description: Human-readable explanation for the error
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that can be taken to correct the error
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    ForbiddenResponse:
      description: Indicates the user is forbidden from performing the request.
      type: object
      required:
      - error
      - error_description
      properties:
        error:
          description: The reason why the request is forbidden.
          type: string
        error_description:
          description: A detailed description as to why the request is forbidden.
          type: string
    ZParameter:
      description: 'Represents the zoom level.

        '
      maximum: 17
      minimum: 1
      type: integer
    ProjectionParameter:
      description: Type of projection used to represent the globe.
      type: string
      enum:
      - mc
      example: mc
    ErrorResponse:
      description: Indicates an invalid parameter value in the request, for example `zoom` out of range.
      type: object
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
      properties:
        code:
          description: The error code.
          type: string
        status:
          description: Service specific error code.
          type: integer
        cause:
          description: Root cause of the error.
          type: string
          example: 'Invalid layer value: test'
        correlationId:
          description: X-Correlation-ID is auto-generated by the front-end service.
          type: string
        title:
          description: Title of the error.
          type: string
        action:
          description: The action performed by the user.
          type: string
    XParameter:
      description: 'The `x` coordinate in the Mercator projection. Top left is `(0,0)`.


        Values within range `0` to `(2^z)-1`

        '
      minimum: 0
      type: integer
    TileResponse:
      description: Protobuf representing OMV vector tile data.
      type: string
      format: binary
    FormatParameter:
      description: The format of the vector data to be returned.
      type: string
      enum:
      - omv
    UnauthorizedResponse:
      type: object
      properties:
        error:
          type: string
          example: Unauthorized
        error_description:
          type: string
          example: ApiKey invalid. ApiKey not found.
    FeaturesParameter:
      type: string
      enum:
      - premium
    YParameter:
      description: 'The `y` coordinate in the Mercator projection. Top left is `(0,0)`.


        Values within range `0` to `(2^z)-1`

        '
      minimum: 0
      type: integer
    LayerParameter:
      description: '* traffic: Both flow and incident traffic events will be provided in generated response.

        * flow: Only traffic flow information will be provided in response.

        * incident: Only traffic incident information will be provided in response.

        '
      type: string
      enum:
      - traffic
      - flow
      - incident
    XRequestId:
      description: A uuid provided by the user for tracing requests.
      type: string
    IncidentType:
      description: 'Represents the type of incident that has occurred. The enumerations are derived from

        Tilezen''s Incident Kind values. See: https://docs.in.here.com/static/89411/908736/html/topics/layers.html#traffic-incidents

        '
      type: array
      example:
      - accident
      - road_hazard
      items:
        type: string
        enum:
        - accident
        - congestion
        - construction
        - disabled_vehicle
        - lane_restriction
        - mass_transit
        - planned_event
        - road_hazard
        - road_closure
        - weather
        - other
  headers:
    X-Correlation-ID:
      description: 'Auto-generated ID, which uniquely identifies the request, available in the response. When contacting the support with an inquiry regarding a specific request, provide the value of this header; This will help troubleshooting the issue.

        '
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    ETag:
      description: Entity tag. Version of the provided tile.
      schema:
        type: string
    Access-Control-Allow-Origin:
      description: Pre-flight header indicating whether the response can be shared with requesting code from the given origin
      schema:
        type: string
      example: '*'
    X-Correlation-ID_2:
      description: 'Auto-generated ID, which uniquely identifies the request, available in the response. When contacting the support with an inquiry regarding a specific request, provide the value of this header. This will help troubleshooting the issue.

        '
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    X-Request-ID:
      description: User-provided token that can be used to trace a request or a group of requests sent to the service.
      schema:
        type: string
      example: REQ-8230d7ad-3f1c-4191-a8dd-f3c42026da89
    Access-Control-Allow-Methods:
      description: Pre-flight header indicating the types of methods that can be used in the actual request
      schema:
        type: string
        example: GET, OPTIONS
    Access-Control-Allow-Headers:
      description: Pre-flight header indicating the types of headers that can be used in the actual request
      schema:
        type: string
        example: Authorization, Origin, Referer, User-Agent, If-None-Match
  responses:
    BadRequestErrorResponse:
      description: API response in case of errors due to bad request.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/BadRequestErrorResponseSchema'
    ErrorResponse:
      description: API response in case of errors.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponseSchema'
    NotFoundErrorResponse:
      description: API response indicates that the resource was not found.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/NotFoundErrorResponseSchema'
    GatewayTimeoutErrorResponse:
      description: API response indicates indicates that the server, while acting as a gateway or proxy, did not get a response in time from the upstream server that it needed in order to complete the request. Try later for the same resource and the request might succeed.
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GenericError'
    ForbiddenError:
      description: Access token does not authorize access.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ForbiddenErrorSchema'
    UnauthorizedError:
      description: Access token is missing or invalid.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/UnauthorizedErrorSchema'
    InternalServerErrorResponse:
      description: API response indicates a server malfunction and an unexpected error.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/InternalServerErrorResponseSchema'
    ServiceUnavailableErrorResponse:
      description: API response indicates indicates that the service is temporarily unavailable due to system overload or maintenance. Try later for the same resource and the request might succeed.
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/GenericError'
    TileResponseInvalidRequest:
      description: 'Indicates a request has been received not according to the API specification.

        '
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ErrorResponse'
      headers:
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseOk:
      description: OK - Tile successfully retrieved.
      content:
        application/x-protobuf:
          schema:
            $ref: '#/components/schemas/TileResponse'
      headers:
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseNotModified:
      description: Indicates success. Returned when the tile in the server matches the `ETag` value provided in the request.
      headers:
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseServiceUnavailable:
      description: 'Indicates that the service is temporarily unavailable due to system overload or

        maintenance. You might try later for the same resource and the request might succeed.

        '
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseUnauthorized:
      description: Access token is missing or invalid.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/UnauthorizedResponse'
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseNotFound:
      description: Indicates that the resource was not found.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseForbidden:
      description: Indicates authentication failure.
      content:
        application/json:
          schema:
            $ref: '#/components/schemas/ForbiddenResponse'
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseNoTrafficData:
      description: 'Tile data is not available (at all or for requested tile version) or no features in

        requested tile.

        '
      headers:
        Access-Control-Allow-Headers:
          $ref: '#/components/headers/Access-Control-Allow-Headers'
        Access-Control-Allow-Methods:
          $ref: '#/components/headers/Access-Control-Allow-Methods'
        Access-Control-Allow-Origin:
          $ref: '#/components/headers/Access-Control-Allow-Origin'
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    TileResponseServerError:
      description: Indicates a server malfunction and an unexpected error.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID_2'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
  parameters:
    ProjectionParam:
      name: projection
      in: path
      example: mc
      required: true
      description: "Specifies the tile projection. Supported values are listed in 'info' resource.\n  * mc - Mercator Projection\n"
      schema:
        $ref: '#/components/schemas/ProjectionSchema'
    MapVersionParam:
      in: query
      name: mv
      required: false
      description: Specifies the map version to be used. The map version can be retrieved by querying /info.
      deprecated: true
      schema:
        $ref: '#/components/schemas/MapVersionSchema'
    Language2Param:
      in: query
      name: lang2
      required: false
      description: 'This parameter can be used to provide a second language for use in dual labeling,

        it follows the same behavior as the parameter ''lang''.

        '
      example: en
      schema:
        $ref: '#/components/schemas/LanguageSchema'
    PpiParam:
      in: query
      name: ppi
      required: false
      description: "Specifies the relative size of labels and icons. Valid values are:\n  - 100 – small\n  - 200 – medium\n  - 400 – large\nFor more information, see [Specify the label and icon size](https://docs.here.com/map-rendering/docs/example-ppi).\n"
      example: 100
      schema:
        type: integer
        enum:
        - 100
        - 200
        - 400
        default: 100
    FormatParam:
      in: path
      name: format
      required: true
      description: 'Returned image format. Supported values are listed in ''info'' resource.

        '
      example: png
      schema:
        $ref: '#/components/schemas/FormatSchema'
    ZoomParam:
      in: path
      name: zoom
      required: true
      description: 'Zoom level of the map image. Minimum and maximum zoom level is specified in the ''info'' resource.

        '
      example: 13
      schema:
        type: integer
    IfNoneMatchParam:
      in: header
      name: If-None-Match
      required: false
      example: '12345'
      description: 'Specifies an optional entity tag of the resource cached in the client.

        See `304` response of getTile operation for more details.

        '
      schema:
        type: string
    RenderFeaturesParam:
      in: query
      name: features
      required: false
      description: "If present, allows to query tiles by specific features.\nThe features are independent, and the result of the example is that the tile is rendered with `feature_a` feature in `mode_a` mode AND `feature_b` feature in `mode_b` mode.\nThe possible values for features and modes are also listed in the `features` resource.\n* **congestion_zones** - Display of congestion zones. The available modes include:\n  * `all`\n  * `disabled`\n* **environmental_zones** - Display of environmental zones. The available modes include:\n  * `all`\n  * `disabled`\n* **pois** - Display of points of interest. The available modes include:\n  * `all`\n  * `disabled`\n* **vehicle_restrictions** - Display of road signs specific to trucks or other special vehicles. The available modes include:\n  * `active_and_inactive` - Show all restrictions (both active and inactive)\n  * `permanent_only` - Show only permanent restrictions\n  * `active_and_inactive_differentiated` - Show all restrictions differentiated by active/inactive status, using the vehicle_restrictions parameter for time-based filtering.\n  * `active_only` - Show only active restrictions, using the vehicle_restrictions parameter for time-based filtering.\n  * `disabled` - Do not display vehicle restrictions\n* **public_transit** - Display of public transit system. The available modes include:\n  * `asia_selected_systems`\n  * `all_systems`\n  * `disabled`\n* **truck_preferred_roads** - Display of truck preferred roads. The available modes include:\n  * `all`\n  * `disabled`\n"
      schema:
        type: string
        pattern: ^([a-zA-Z0-9\-_]+:[a-zA-Z0-9\-_]+)(,([a-zA-Z0-9\-_]+:[a-zA-Z0-9\-_]+))*$
        example: congestion_zones:all,environmental_zones:disabled
    StartTimeParam:
      in: query
      name: startTime
      required: false
      description: 'Start time for vehicle restrictions time window.

        Must only be used with the vehicle_restrictions feature using modes "active_and_inactive_differentiated" or "active_only".

        Format: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T08:00)

        '
      schema:
        type: string
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$
        example: 2025-12-03T08:00
    ScaleParam:
      in: query
      name: scale
      required: false
      description: Controls the scaling of the rendered tiles for high-resolution displays. A value of 2 doubles the size of the rendered tiles for sharper images.
      example: 2
      schema:
        type: integer
        enum:
        - 1
        - 2
        default: 1
    PviewParam:
      in: query
      name: pview
      required: false
      description: 'Use this parameter to render the map with boundaries based on international or local country views.

        In general, the international view should be used unless the map is being used within one of those countries

        for which a local view is available.

        If the parameter is specified and the view is supported, boundaries of the selected country view are being shown.

        Not specifying the parameter results in a default view of boundaries.


        The values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.


        Note: You should check the /politicalViews path for further information about how to get the most up to date list of geopolitical views available from the service.

        Note: If this parameter is missing, the international view is returned.

        '
      example: IN
      schema:
        $ref: '#/components/schemas/PoliticalViewSchema'
    ColumnParam:
      in: path
      name: column
      required: true
      description: 'col – can be any number between 0 and number of columns - 1, both inclusive.


        The number of tiles per column is a function of the zoom: number of columns = 2^zoom.


        [0,0] (col,row) corresponds to top left of a typical western map.

        '
      example: 4400
      schema:
        type: integer
        minimum: 0
        maximum: 1048576
    SizeParam:
      in: query
      name: size
      required: false
      description: 'Image size in pixels. Supported values are listed in ''info'' resource.

        '
      example: 512
      schema:
        type: integer
        default: 256
    EndTimeParam:
      in: query
      name: endTime
      required: false
      description: 'End time for vehicle restrictions time window.

        Must only be used with the vehicle_restrictions feature using modes "active_and_inactive_differentiated" or "active_only".

        Format: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T18:00)

        '
      schema:
        type: string
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$
        example: 2025-12-03T18:00
    LanguageParam:
      in: query
      name: lang
      required: false
      description: "The BCP47 language code (https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlimited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\nIt is used for requesting a map tile rendered in a specific language.\nSupported values are listed in 'languages' resource.\n\nDefault behavior when no parameter is given is:\n  - Each country will be shown in the default language of the country.\n  - The following labels will be shown in the default language: continent, ocean, sea, bay.\n"
      example: en
      schema:
        $ref: '#/components/schemas/LanguageSchema'
    ResourceParam:
      name: resource
      in: path
      required: true
      description: 'Specifies the type of tile. Supported values are listed in ''info'' resource.

        '
      example: base
      schema:
        $ref: '#/components/schemas/ResourceSchema'
    RowParam:
      in: path
      name: row
      required: true
      description: 'row –  can be any number between 0 and number of rows - 1, both inclusive.


        The number of tiles per row is a function of the zoom: number of rows = 2^zoom.


        [0,0] (col,row) corresponds to top left of a typical western map.

        '
      example: 2686
      schema:
        type: integer
        minimum: 0
        maximum: 1048576
    StyleParam:
      in: query
      name: style
      required: false
      description: 'If present, selects the style to use to render the tile. The possible values are listed in ''info'' resource.

        Note: When not provided, the default style is "explore.day".

        '
      example: explore.day
      schema:
        $ref: '#/components/schemas/StyleSchema'
    layer:
      name: layer
      in: path
      description: 'Specifies which kind of traffic information should be used for response generation.

        '
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/LayerParameter'
    z:
      name: z
      in: path
      description: "Specifies the tile Zoom level. Accepted values range from 1-17.\n  * minimum - 1\n  * maximum - 17\n"
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/ZParameter'
      example: 11
    x:
      name: x
      in: path
      description: "Specifies the X coordinate index. This parameter is dependent upon the tile Zoom level.\n  * minimum - 0\n  * maximum - 2^z-1 (depends on the Zoom level)\n"
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/XParameter'
      example: 1100
    features:
      name: features
      in: query
      description: 'Specifies the type of traffic features to use.

        If the parameter is not provided standard traffic features are used.

        '
      required: false
      style: form
      explode: true
      schema:
        $ref: '#/components/schemas/FeaturesParameter'
    projection:
      name: projection
      in: path
      description: 'Specifies the tile projection.

        '
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/ProjectionParameter'
    y:
      name: y
      in: path
      description: "Specifies the Y coordinate index. This parameter is dependent upon the tile Zoom level.\n  * minimum - 0\n  * maximum - 2^z-1 (depends on the Zoom level)\n"
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/YParameter'
      example: 671
    X-Request-ID:
      name: X-Request-ID
      in: header
      description: The uuid string user can provide for tracing purpose.
      required: false
      schema:
        $ref: '#/components/schemas/XRequestId'
    incidentType:
      name: incidentType
      description: 'Comma-separated list of the incident type(s) to be returned on the incident layer.

        '
      in: query
      style: form
      explode: false
      required: false
      schema:
        $ref: '#/components/schemas/IncidentType'
    format:
      name: format
      in: path
      description: "Specifies the tile format.\n  * omv - Optimized Map for Visualization (follows Map Vector Tile open specification)\n"
      required: true
      style: simple
      explode: false
      schema:
        $ref: '#/components/schemas/FormatParameter'
      example: omv
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'A key generated specifically to authenticate API requests. For more information on how to get an API key, see the API key used to authorize requests. For more information, see [Identity & Access Management - API keys](https://docs.here.com/identity-and-access-management/docs/plat-using-apikeys).

        '
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.

        For more information on how to get a bearer token, see the

        [Identity & Access Management - OAuth tokens](https://docs.here.com/identity-and-access-management/docs/how-to-authorize-with-oauth-20).

        '
    bearerTokenAuth:
      type: http
      scheme: bearer
      bearerFormat: JWT
x-refined-from:
- here-raster-tile-v3-openapi.yml
- here-traffic-vector-tile-v2-openapi.yml
