openapi: 3.2.0
info:
  title: Here Metadata API
  x-refined-note:
  - x-olp-service differs across the merged source definitions and was not carried
  version: '1.0'
  description: 'Operations tagged metadata across 4 of this provider''s published API definitions: here-data-metadata-v1-openapi.yml, here-map-image-v3-openapi.yml, here-raster-tile-v3-openapi.yml, here-tracking-v2-openapi.json. Each path carries the servers of the definition it was published in.'
servers:
- url: https://use.apilookup.for.a.base.url/
- url: https://image.maps.hereapi.com/mia/v3
  description: Production
- url: https://maps.hereapi.com/v3
  description: Production
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- name: Metadata
  description: Get information about catalogs, layers, and partitions
paths:
  /layerVersions:
    get:
      tags:
      - Metadata
      summary: Gets layer versions for catalog version
      description: Returns information about layer versions for the catalog version. It will return an error if the catalog does not have any versions or if the version passed in the query parameter does not exist. If a layer does not have any data for the requested version it is excluded from the response.
      operationId: Metadata API v1 getLayersVersion
      parameters:
      - name: version
        in: query
        description: Catalog version
        required: true
        schema:
          type: integer
          format: int64
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alphanumeric ASCII characters [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LayerVersions'
        '400':
          description: Required parameters are missing
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/changes:
    get:
      tags:
      - Metadata
      summary: Gets changes for the version range
      description: Gets the latest partition metadata in a version range for a versioned layer or a time range for a volatile layer. For versioned layers the range is expressed as a start and end version and returns only the latest changes for the partitions which were added and removed inbetween the specified start and end versions. If a partition was created and deleted between the versions specified in the `startVersion` and `endVersion` parameters, the partition is included in the response with an empty `dataHandle` value. For example, if you request versions `0` to `10`, and a partition was created in version `3` and then deleted in version `7`, it is included in the response with an empty `dataHandle` value.
      operationId: Metadata API v1 getChanges
      parameters:
      - name: layerId
        in: path
        description: Unique layer ID. Content of this parameter must refer to a valid layer ID.
        required: true
        schema:
          type: string
      - name: startVersion
        in: query
        description: Available/Required for versioned layers only; the beginning of the range of versions to get (exclusive). By convention -1 indicates the initial version before the first publication. After the first publication, the catalog version is 0.
        schema:
          type: integer
          format: int64
      - name: endVersion
        in: query
        description: Available/Required for versioned layers only; the end of the range of versions to get (inclusive). This must be a valid catalog version greater than the startVersion.
        schema:
          type: integer
          format: int64
      - name: sinceTime
        in: query
        description: Available/Required for volatile layers only; will return partitions whose data has been modified since this time, in milliseconds since epoch, inclusive.
        schema:
          type: integer
          format: int64
      - name: part
        in: query
        description: Available/Required for versioned layers only; indicates which part of the layer shall be queried.
        required: false
        schema:
          type: string
        x-example: 7a320ce9e4d04d749c7a19810f99a3a1
      - $ref: '#/components/parameters/Context'
      - name: additionalFields
        in: query
        description: Additional fields - `dataSize`, `checksum`, `compressedDataSize`, `crc`.
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalFieldsEnum'
      - name: Range
        in: header
        description: 'Use this parameter to resume download of a large response for versioned layers when there is a connection issue between the client and server. Specify a single byte range offset like this: `Range: bytes=10-`. This parameter is compliant with [RFC 7233](https://tools.ietf.org/html/rfc7233), but note that this parameter only supports a single byte range. The `range` parameter can also be specified as a query parameter, i.e. `range=bytes=10-`. For volatile layers use the pagination links returned in the response body.'
        schema:
          type: string
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Last-Modified:
              description: The date and time at which the resource was last modified
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partitions'
        '206':
          description: Partial response in case the server provides and accepts range query parameter or Content-Range header
          headers:
            Last-Modified:
              description: The date and time at which the resource was last modified
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partitions'
        '400':
          description: Required parameters are missing
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog or layer does not exist
          content: {}
        '416':
          description: Range Not Satisfiable, invalid range query parameter or Content-Range header
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '503':
          description: Service Unavailable
          headers:
            Retry-After:
              description: Retry after the specified number of seconds
              schema:
                type: integer
                format: int64
          content: {}
      x-olp-access-type: resource
      x-fullurl-type: nextUrl
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/changes/parts:
    get:
      tags:
      - Metadata
      summary: Get partIds for parallel queries of changes for the version range
      description: Returns a list of Part Ids which represent the parts that can be used to limit the scope of queries of changes for the version range. This allows to run parallel queries with multiple parts. The user has to provide the desired number of parts and the service will return a list of Part Ids. Please note in some cases the requested number of parts will make them too small and in this case the service might return lesser amount of the parts than requested.
      operationId: Metadata API v1 getChangesParts
      parameters:
      - name: layerId
        in: path
        description: Unique layer ID. Content of this parameter must refer to a valid layer ID.
        required: true
        schema:
          type: string
      - name: numRequestedParts
        in: query
        description: Indicates requested number of parts.
        required: true
        schema:
          type: integer
        allowEmptyValue: false
        x-example: 12
      responses:
        '200':
          description: OK - Operation executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartsResponse'
        '400':
          description: Bad Request - The request is invalid. Verify number of requested parts and retry.
        '401':
          description: Unauthorized - The credentials provided do not authorize the user to perform this operation.
        '403':
          description: Forbidden - The user is not authorized to perform the query on the resource specified.
        '404':
          description: Not Found - A layer with the given name does not exist.
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/partitions:
    get:
      tags:
      - Metadata
      summary: Gets partitions
      description: Gets the metadata for all partitions in a specific layer.
      operationId: Metadata API v1 getPartitions
      parameters:
      - name: layerId
        in: path
        description: Unique layer ID. Content of this parameter must refer to a valid layer ID.
        required: true
        schema:
          type: string
      - name: version
        in: query
        description: If metadata is being gotten from a versioned layer, specify the version of the target layer. This parameter is required for versioned layers. If metadata is being gotten from another layer type, do not specify this parameter.
        schema:
          type: integer
          format: int64
      - name: part
        in: query
        description: Available/Required for versioned layers only; indicates which part of the layer shall be queried.
        required: false
        schema:
          type: string
        x-example: 7a320ce9e4d04d749c7a19810f99a3a1
      - $ref: '#/components/parameters/Context'
      - name: additionalFields
        in: query
        description: Additional fields - `dataSize`, `checksum`, `compressedDataSize`, `crc`.
        style: form
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/AdditionalFieldsEnum'
      - name: Range
        in: header
        description: 'Use this parameter to resume download of a large response for versioned layers when there is a connection issue between the client and server. Specify a single byte range offset like this: `Range: bytes=10-`. This parameter is compliant with [RFC 7233](https://tools.ietf.org/html/rfc7233), but note that this parameter only supports a single byte range. The `range` parameter can also be specified as a query parameter, i.e. `range=bytes=10-`. For volatile layers use the pagination links returned in the response body.'
        schema:
          type: string
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            Last-Modified:
              description: The date and time at which the resource was last modified
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partitions'
        '206':
          description: Partial response in case the server provides and accepts range query parameter or Content-Range header
          headers:
            Last-Modified:
              description: The date and time at which the resource was last modified
              schema:
                type: string
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Partitions'
        '400':
          description: Required parameters are missing
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog or layer does not exist
          content: {}
        '416':
          description: Range Not Satisfiable, invalid range query parameter or Content-Range header
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '503':
          description: Service Unavailable
          headers:
            Retry-After:
              description: Retry after the specified number of seconds
              schema:
                type: integer
                format: int64
          content: {}
      x-olp-access-type: resource
      x-fullurl-type: nextUrl
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /layers/{layerId}/partitions/parts:
    get:
      tags:
      - Metadata
      summary: Get partIds for parallel queries of the metadata for all partitions in a…
      description: Returns a list of Part Ids which represent the parts that can be used to limit the scope of queries of the metadata for all partitions in a specific layer. This allows to run parallel queries with multiple parts. The user has to provide the desired number of parts and the service will return a list of Part Ids. Please note in some cases the requested number of parts will make them too small and in this case the service might return lesser amount of the parts than requested.
      operationId: Metadata API v1 getPartitionsParts
      parameters:
      - name: layerId
        in: path
        description: Unique layer ID. Content of this parameter must refer to a valid layer ID.
        required: true
        schema:
          type: string
      - name: numRequestedParts
        in: query
        description: Indicates requested number of parts.
        required: true
        schema:
          type: integer
        allowEmptyValue: false
        x-example: 12
      responses:
        '200':
          description: OK - Operation executed successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PartsResponse'
        '400':
          description: Bad Request - The request is invalid. Verify number of requested parts and retry.
        '401':
          description: Unauthorized - The credentials provided do not authorize the user to perform this operation.
        '403':
          description: Forbidden - The user is not authorized to perform the query on the resource specified.
        '404':
          description: Not Found - A layer with the given name does not exist.
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /versions:
    get:
      tags:
      - Metadata
      summary: Gets catalog versions
      description: 'Returns information about specific catalog version(s). If the catalog doesn''t contain any versions 404 will be returned. Maximum number of versions to be returned per call is 1000 versions. If requested range is bigger than 1000 versions 400 Bad Request will be returned.

        Expected either pair ''startVersion'' and ''endVersion'', or ''version'' query parameter, otherwise 400 Bad Request will be returned.'
      operationId: Metadata API v1 listVersions
      parameters:
      - name: startVersion
        in: query
        description: The beginning of the range of versions to get (exclusive). By convention -1 indicates the initial version before the first publication. After the first publication, the catalog version is 0.
        schema:
          type: integer
          format: int64
      - name: endVersion
        in: query
        description: The end of the range of versions to get (inclusive). This must be a valid catalog version greater than the startVersion. The maximum value for this parameter is returned from the `/versions/latest` endpoint. If this version does not exist, 400 Bad Request is returned
        schema:
          type: integer
          format: int64
      - name: version
        in: query
        description: The array of catalogs versions to fetch. If provided version if out of range of the catalog existing versions, 400 Bad Request is returned.
        schema:
          type: array
          items:
            type: integer
            format: int64
            description: The version to get. This must be a valid catalog version.
          minItems: 1
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      - $ref: '#/components/parameters/Context'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionInfos'
        '400':
          description: Bad Request - indicates that request failed fast validation e.g. syntax, some logical errors or required parameters are missing
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist or the catalog doesn't contain any versions
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '503':
          description: Service Unavailable
          headers:
            Retry-After:
              description: Retry after the specified number of seconds
              schema:
                type: integer
                format: int64
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /versions/compatibles:
    post:
      tags:
      - Metadata
      summary: Gets a list of available catalog versions that respect the given dependencies
      description: Given a list of HRNs and versions provided by the user, returns a list of versions of this catalog for which the listed HRN are either present in the direct or indirect dependencies with the same version, or are not present. Depending on 'strict' flag versions that don't depend on any of the provided catalog HRNs, can also be considered compatible. The compatible versions are returned in reverse order, from the newest to the oldest. When there is no compatible version the service returns an empty list. When the catalog has no version a 404 is returned.
      operationId: Metadata API v1 compatibleVersions
      parameters:
      - in: query
        name: limit
        schema:
          type: integer
          default: 1
        description: The numbers of items to return per page
      - in: query
        name: strict
        schema:
          type: boolean
          default: false
        description: if 'strict=true' versions to be considered compatible should depend on at least one of the provided catalog HRNs.
      requestBody:
        description: The catalog dependencies we want to search for
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Dependencies'
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionsResponse'
        '400':
          description: Bad Request - indicates that request failed fast validation e.g. syntax, some logical errors or required parameters are missing
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist or the catalog doesn't contain any versions
          content: {}
        '500':
          description: Internal Server Error
          content: {}
        '503':
          description: Service Unavailable
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /versions/latest:
    get:
      tags:
      - Metadata
      summary: Gets the latest available catalog version
      description: Returns information about the latest version for the given catalog. If the catalog doesn't contain any versions a 404 will be returned.
      operationId: Metadata API v1 latestVersion
      parameters:
      - name: startVersion
        in: query
        description: The catalog version returned from a prior request to `/versions/latest`. The version from each request should be saved so that it can be used in the `startVersion` parameter of subsequent requests. If there is no version from a prior request, set the parameter to -1.
        required: true
        schema:
          type: integer
          format: int64
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        '400':
          description: Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist or the catalog doesn't contain any versions.
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /versions/minimum:
    get:
      tags:
      - Metadata
      summary: Gets the earliest available catalog version
      description: Returns minimum version for the given catalog. If the catalog doesn't contain any versions 404 will be returned.
      operationId: Metadata API v1 minimumVersion
      parameters:
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      responses:
        '200':
          description: OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/VersionResponse'
        '400':
          description: Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist or the catalog doesn't contain any versions.
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    post:
      tags:
      - Metadata
      summary: Sets the earliest available catalog version
      description: Sets minimum version for the given catalog. All prior versions will be deleted. If the catalog doesn't contain any versions, a 404 will be returned.
      operationId: Metadata API v1 setMinimumVersion
      parameters:
      - name: billingTag
        in: query
        description: Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.
        schema:
          type: string
      requestBody:
        description: A version object that contains new minimum version.
        required: true
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/MinimumVersionInfo'
      responses:
        '204':
          description: Minimum version was set successfully.
          content: {}
        '400':
          description: Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.
          content: {}
        '401':
          description: Unauthorized
          content: {}
        '403':
          description: Forbidden
          content: {}
        '404':
          description: Catalog does not exist or the catalog doesn't contain any versions.
          content: {}
      x-olp-access-type: resource
      security:
      - Bearer: []
    servers:
    - url: https://use.apilookup.for.a.base.url/
  /info:
    get:
      description: Provides details on acceptable values for API parameters, such as PPI (Pixels Per Inch), styles, and other relevant parameters.
      summary: Returns a list of accepted values for specific API parameters
      operationId: getInfo
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/XRequestIDParam'
      responses:
        '200':
          description: OK - Information about accepted values of specific API parameters returned.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            Cache-Control:
              $ref: '#/components/headers/Cache-Control'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/InfoSchema'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://image.maps.hereapi.com/mia/v3
      description: Production
  /politicalViews:
    get:
      description: Provides a catalog of available geopolitical views. These values enable the request of an image featuring a specific country view. For more information on geopolitical views, see Explore geopolitical views.
      summary: Returns geopolitical views
      operationId: getPoliticalViews
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/XRequestIDParam'
      responses:
        '200':
          description: OK - List of geopolitical views
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/PoliticalViewsSchema'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://image.maps.hereapi.com/mia/v3
      description: Production
  /features:
    get:
      description: Returns the list of available features per style. You can use these values to request an image with particular features specified as query parameters. Use only the features that are available for a particular style. For more information, see Customize map features.
      summary: Returns features per style
      operationId: getFeatures
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/XRequestIDParam'
      responses:
        '200':
          description: OK - List of style mappings to it's features.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/FeaturesSchema'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://image.maps.hereapi.com/mia/v3
      description: Production
  /languages:
    get:
      description: Returns the list of available map languages per resource. You can use these values to request an image with labels in a particular language. The values follow ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code. For more information, see Personalize the map language.
      summary: Returns the available map languages
      operationId: getLanguages
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/XRequestIDParam'
      responses:
        '200':
          description: OK - List of languages per resource.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/LanguagesSchema'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://image.maps.hereapi.com/mia/v3
      description: Production
  /copyright:
    get:
      description: Retrieves both the copyright information and the coordinates of the bounding box to which the text applies. If your products and/or services use map data that is made accessible using this service, you shall provide end-users of your products and/or services with notice, in a reasonably conspicuous manner. For more information, see Include the copyright notice.
      summary: Returns copyright information
      operationId: getCopyright
      tags:
      - Metadata
      parameters:
      - $ref: '#/components/parameters/XRequestIDParam'
      responses:
        '200':
          description: OK - Information about the copyright.
          headers:
            X-Correlation-ID:
              $ref: '#/components/headers/X-Correlation-ID'
            X-Request-ID:
              $ref: '#/components/headers/X-Request-ID'
            Content-Encoding:
              description: Indicates that this API supports gzip-encoded responses to reduce payload size. The highest available compression level is used for optimal data transfer efficiency.
              schema:
                type: string
                example: gzip
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CopyrightsSchema'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://image.maps.hereapi.com/mia/v3
      description: Production
  /metadata/v2/health:
    get:
      deprecated: true
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Metadata
      operationId: getMetadataV2Health
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/version:
    get:
      deprecated: true
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Metadata
      operationId: getMetadataV2Version
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/devices/{trackingId}:
    parameters:
    - name: trackingId
      in: path
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
      required: true
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    get:
      deprecated: true
      summary: Gets metadata of a device or a shipment
      description: Gets metadata of a device or a shipment identified by the `trackingId` or the `shipmentId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully retrieved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                  data:
                    type: object
                    description: 'Metadata JSON object

                      '
                    example:
                      priority: high
                required:
                - id
                - data
                additionalProperties: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getMetadataV2DevicesByTrackingId
      x-operation-id-source: derived
    put:
      deprecated: true
      summary: Creates or updates metadata of a device or a shipment
      description: 'Updates the metadata object of the device or a shipment identified by the `trackingId` or the `shipmentId`.

        The metadata specified in the request body is merged with the existing metadata object

        (or gets created if no metadata object exists);

        new keys are added, and the values of the existing keys are updated with the new data.

        Adding ''null'' value for a key deletes it from the metadata object.

        Successful response body contains the updated metadata object.'
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              priority: high
        description: Metadata object associated with the resource. Max size 1k.
        required: true
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully updated.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    type: string
                    minLength: 1
                    maxLength: 50
                    description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                  data:
                    type: object
                    description: 'Metadata JSON object

                      '
                    example:
                      priority: high
                required:
                - id
                - data
                additionalProperties: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: putMetadataV2DevicesByTrackingId
      x-operation-id-source: derived
    delete:
      deprecated: true
      summary: Deletes all metadata of a device or a shipment
      description: Deletes all the metadata of the device or a shipment identified by the `trackingId` or the `shipmentId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Metadata
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: deleteMetadataV2DevicesByTrackingId
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/devices/batch:
    parameters:
    - name: pageToken
      description: A token from the previously returned response to retrieve the specified page.
      schema:
        type: string
      in: query
      required: false
    - name: count
      description: The number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
      in: query
      required: false
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    post:
      deprecated: true
      summary: Gets a batch of metadata of multiple devices or shipments
      description: Gets a batch of metadata of multiple devices or shipments. The device or shipment IDs are specified in the request body.
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                type: string
                minLength: 1
                maxLength: 50
                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
              example:
              - HERE-d0c29690-5d26-4cf1-a37e-b7816e72cb99
              - SHP-ff92eda0-3114-4640-b7e6-4ba641ae1124
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully retrieved.

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            type: string
                            minLength: 1
                            maxLength: 50
                            description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                          data:
                            type: object
                            description: 'Metadata JSON object

                              '
                            example:
                              priority: high
                        required:
                        - id
                        - data
                        additionalProperties: false
                  required:
                  - data
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: postMetadataV2DevicesBatch
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/geofences/{geofenceId}:
    parameters:
    - description: Geofence ID
      in: path
      schema:
        type: string
        format: uuid
      name: geofenceId
      required: true
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    get:
      deprecated: true
      summary: Gets metadata of a geofence
      description: Gets metadata of the geofence identified by the `geofenceId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully retrieved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Geofence ID
                    type: string
                    format: uuid
                  data:
                    type: object
                    description: 'Metadata JSON object

                      '
                    example:
                      priority: high
                required:
                - id
                - data
                additionalProperties: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getMetadataV2GeofencesByGeofenceId
      x-operation-id-source: derived
    put:
      deprecated: true
      summary: Creates or updates metadata of a geofence
      description: 'Updates the metadata object of the geofence identified by the `geofenceId`.

        The metadata specified in the request body is merged with the existing metadata object

        (or gets created if no metadata object exists);

        new keys are added, and the values of the existing keys are updated with the new data.

        Adding ''null'' value for a key deletes it from the metadata object.

        Successful response body contains the updated metadata object.'
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: object
            example:
              priority: high
        description: Metadata object associated with the resource. Max size 1k.
        required: true
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully updated.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Geofence ID
                    type: string
                    format: uuid
                  data:
                    type: object
                    description: 'Metadata JSON object

                      '
                    example:
                      priority: high
                required:
                - id
                - data
                additionalProperties: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: putMetadataV2GeofencesByGeofenceId
      x-operation-id-source: derived
    delete:
      deprecated: true
      summary: Deletes all metadata of a geofence
      description: Deletes all the metadata of the geofence identified by the `geofenceId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Metadata
      responses:
        '204':
          description: Successful (no content)
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: deleteMetadataV2GeofencesByGeofenceId
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/geofences/batch:
    parameters:
    - name: pageToken
      description: A token from the previously returned response to retrieve the specified page.
      schema:
        type: string
      in: query
      required: false
    - name: count
      description: The number of items to return per page.
      schema:
        type: integer
        minimum: 1
        maximum: 100
        default: 100
      in: query
      required: false
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    post:
      deprecated: true
      summary: Gets a batch of metadata of multiple geofences
      description: Gets a batch of metadata of multiple geofences. The geofences IDs are specified in the request body.
      security:
      - UserToken: []
      - ClientToken: []
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                description: Geofence ID
                type: string
                format: uuid
              example:
              - d0c29690-5d26-4cf1-a37e-b7816e72cb99
              - ff92eda0-3114-4640-b7e6-4ba641ae1124
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully retrieved.

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 100
                      default: 100
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        type: object
                        properties:
                          id:
                            description: Geofence ID
                            type: string
                            format: uuid
                          data:
                            type: object
                            description: 'Metadata JSON object

                              '
                            example:
                              priority: high
                        required:
                        - id
                        - data
                        additionalProperties: false
                  required:
                  - data
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: postMetadataV2GeofencesBatch
      x-operation-id-source: derived
    servers:
    - url: https://tracking.hereapi.com/
    - url: https://tracking.api.here.com/
  /metadata/v2/sensorRules/{sensorRuleId}:
    parameters:
    - in: path
      schema:
        type: string
        format: uuid
        description: 'Must be a valid UUIDv4.

          '
      name: sensorRuleId
      description: Sensor rule ID
      required: true
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    get:
      deprecated: true
      summary: Gets metadata of a sensor rule
      description: Gets metadata of the sensor rule identified by the `sensorRuleId`.
      security:
      - UserToken: []
      - ClientToken: []
      tags:
      - Metadata
      responses:
        '200':
          description: 'Successful


            The metadata was successfully retrieved.

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: Sensor rule ID
                    type: string
                    format: uuid
                  data:
                    type: object
                    description: 'Metadata JSON object

                      '
                    example:
                      priority: high
                required:
                - id
                - data
                additionalProperties: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
[...]
