openapi: 3.2.0
info:
  version: 2.6.11
  title: HERE Tracking Events API
  description: 'HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.


    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.'
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- description: 'The Events service manages device and shipment events.


    An event is created every time an associated rule or geofence is triggered by a device ingestion.


    A geofence event is created every time a device enters or exits an associated geofence.

    A sensor event is created when sensor data reported by a device triggers a sensor rule.

    A rule event (such as dwelling, detention, utilization, stock and online rule) is created when

    a device behaviour triggers a rule.'
  name: Events
paths:
  /events/v3/health:
    get:
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Events
      operationId: getEventsV3Health
      x-operation-id-source: derived
  /events/v3/version:
    get:
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Events
      operationId: getEventsV3Version
      x-operation-id-source: derived
  /events/v3:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: projectId
      schema:
        type: string
        minLength: 1
        maxLength: 50
        description: 'Project ID.

          Any HERE Tracking user must be a member of a Tracking project.

          The project ID can be implicitly resolved if the user calling the API is a member of a single project.

          If the user is a member of multiple projects, the `projectId` query parameter needs to be specified explicitly.

          '
      in: query
      required: false
    get:
      summary: Gets event history
      description: 'Gets all events for all devices and shipments of the project. The results are listed in descending order

        based on the timestamp.


        An event is uniquely identified by `trackingId`-`ruleId`-`timestamp` key,

        with an exception of dwelling and stock rule events.

        Dwelling events also need `geofenceId` to be specified,

        whereas for stock events `trackingId` is not applicable.


        A time range can be defined with `before` and `after` timestamps. The response will contain

        an array of events that were recorded within the range.

        The default value for `before` parameter is the current time, and for the `after` parameter

        it is one day in the past from the current time.

        The `after` parameter value is not allowed to be earlier than two weeks in the past from the

        `before` timestamp, otherwise an error is returned.


        If the request is supplied with `eventSource` query parameter, the response will contain

        events generated by the defined source only.


        If the request is supplied with `eventType` query parameter, the response will contain

        events of the specified type only.


        If the request is supplied with `ruleId` query parameter, the response will only contain events

        for the specified rule ID.


        If the request is supplied with `initialState` query parameter, the response will contain

        events having the specified initial state.


        All the aforementioned query parameters can be combined together.'
      tags:
      - Events
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: before
        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.

          The accepted range is from 1 to the current time.

          '
        in: query
        required: false
        schema:
          type: number
          minimum: 1
      - name: after
        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.

          The accepted range is from 0 to the current time.

          '
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: eventSource
        in: query
        required: false
        schema:
          oneOf:
          - description: 'The event source rule type.

              '
            type: string
            enum:
            - acceleration
            - attach
            - battery
            - detention
            - dwelling
            - geofence
            - humidity
            - online
            - pressure
            - shipmentEtaChange
            - shipmentSchedule
            - stock
            - tamper
            - temperature
            - utilization
          - type: array
            items:
              description: 'The event source rule type.

                '
              type: string
              enum:
              - acceleration
              - attach
              - battery
              - detention
              - dwelling
              - geofence
              - humidity
              - online
              - pressure
              - shipmentEtaChange
              - shipmentSchedule
              - stock
              - tamper
              - temperature
              - utilization
      - name: eventType
        in: query
        required: false
        schema:
          oneOf:
          - description: 'Type of the event.


              An event is created every time an associated rule or geofence is triggered by a device ingestion.

              The event type depends on the data the device sends.


              Sensors that report numerical data (such as battery, humidity, pressure and temperature sensors),

              generate an event when the reported sensor reading of the device goes in or out of range, which is configured in the rule.

              This produces events of BELOW_RANGE, IN_RANGE and ABOVE_RANGE types.


              Sensors that report boolean data (such as attach and tamper sensors), generate events when the device

              transitions from one state to another, either from `false` to `true` or vice versa.

              This produces events of FALSE_TO_TRUE and TRUE_TO_FALSE types.

              The same event types are also generated by the online rule when the device state changes from `offline`

              (when the device has stopped ingesting data) to `online` (when the device data ingestion has resumed)

              or vice versa.


              The acceleration sensor generates events whenever the reported sensor reading

              crosses the acceleration threshold (for example, when the device was dropped).

              This produces events of the type EVENT.

              Such events are stateless.


              Events of INSIDE_GEOFENCE and OUTSIDE_GEOFENCE types are generated when the device enters or exits

              a geofence associated with the device.


              Events of DWELLING_STARTED type are generated when the device has

              stayed inside an associated geofence for longer than the threshold duration.

              DWELLING_ENDED type events are generated when dwelling of the device has ended.


              Events of DETENTION_STARTED type are generated when the device has been

              stationary for longer than the threshold duration, regardless whether the device is inside

              or outside of any geofence.

              DETENTION_ENDED type events will be generated when the device starts moving again.


              Events of UNUTILIZED type are generated when the device has been stationary for longer than the

              threshold duration.

              UTILIZED type events are generated when the device starts moving again after having been stationary.


              Events of OVERSTOCK, NORMAL_VOLUME and UNDERSTOCK types are generated when the number of assets

              inside a geofence crosses the `minVolume` and `maxVolume` thresholds of an associated stock rule.


              Event of SHIPMENT_ESTIMATE_CHANGED is generated when the estimated departure (ETD) or arrival (ETA) times

              deviate from the original estimates more than the defined threshold.


              Events of SHIPMENT_EARLY, SHIPMENT_ON_TIME and SHIPMENT_DELAYED types are generated when a shipment

              is too early, on time or delayed.

              '
            type: string
            enum:
            - BELOW_RANGE
            - IN_RANGE
            - ABOVE_RANGE
            - FALSE_TO_TRUE
            - TRUE_TO_FALSE
            - EVENT
            - INSIDE_GEOFENCE
            - OUTSIDE_GEOFENCE
            - OVERSTOCK
            - NORMAL_VOLUME
            - UNDERSTOCK
            - DWELLING_STARTED
            - DWELLING_ENDED
            - DETENTION_STARTED
            - DETENTION_ENDED
            - UTILIZED
            - UNUTILIZED
            - SHIPMENT_EARLY
            - SHIPMENT_ON_TIME
            - SHIPMENT_DELAYED
            - SHIPMENT_ESTIMATE_CHANGED
          - type: array
            items:
              description: 'Type of the event.


                An event is created every time an associated rule or geofence is triggered by a device ingestion.

                The event type depends on the data the device sends.


                Sensors that report numerical data (such as battery, humidity, pressure and temperature sensors),

                generate an event when the reported sensor reading of the device goes in or out of range, which is configured in the rule.

                This produces events of BELOW_RANGE, IN_RANGE and ABOVE_RANGE types.


                Sensors that report boolean data (such as attach and tamper sensors), generate events when the device

                transitions from one state to another, either from `false` to `true` or vice versa.

                This produces events of FALSE_TO_TRUE and TRUE_TO_FALSE types.

                The same event types are also generated by the online rule when the device state changes from `offline`

                (when the device has stopped ingesting data) to `online` (when the device data ingestion has resumed)

                or vice versa.


                The acceleration sensor generates events whenever the reported sensor reading

                crosses the acceleration threshold (for example, when the device was dropped).

                This produces events of the type EVENT.

                Such events are stateless.


                Events of INSIDE_GEOFENCE and OUTSIDE_GEOFENCE types are generated when the device enters or exits

                a geofence associated with the device.


                Events of DWELLING_STARTED type are generated when the device has

                stayed inside an associated geofence for longer than the threshold duration.

                DWELLING_ENDED type events are generated when dwelling of the device has ended.


                Events of DETENTION_STARTED type are generated when the device has been

                stationary for longer than the threshold duration, regardless whether the device is inside

                or outside of any geofence.

                DETENTION_ENDED type events will be generated when the device starts moving again.


                Events of UNUTILIZED type are generated when the device has been stationary for longer than the

                threshold duration.

                UTILIZED type events are generated when the device starts moving again after having been stationary.


                Events of OVERSTOCK, NORMAL_VOLUME and UNDERSTOCK types are generated when the number of assets

                inside a geofence crosses the `minVolume` and `maxVolume` thresholds of an associated stock rule.


                Event of SHIPMENT_ESTIMATE_CHANGED is generated when the estimated departure (ETD) or arrival (ETA) times

                deviate from the original estimates more than the defined threshold.


                Events of SHIPMENT_EARLY, SHIPMENT_ON_TIME and SHIPMENT_DELAYED types are generated when a shipment

                is too early, on time or delayed.

                '
              type: string
              enum:
              - BELOW_RANGE
              - IN_RANGE
              - ABOVE_RANGE
              - FALSE_TO_TRUE
              - TRUE_TO_FALSE
              - EVENT
              - INSIDE_GEOFENCE
              - OUTSIDE_GEOFENCE
              - OVERSTOCK
              - NORMAL_VOLUME
              - UNDERSTOCK
              - DWELLING_STARTED
              - DWELLING_ENDED
              - DETENTION_STARTED
              - DETENTION_ENDED
              - UTILIZED
              - UNUTILIZED
              - SHIPMENT_EARLY
              - SHIPMENT_ON_TIME
              - SHIPMENT_DELAYED
              - SHIPMENT_ESTIMATE_CHANGED
      - name: ruleId
        in: query
        required: false
        schema:
          oneOf:
          - type: string
            format: uuid
            description: 'ID of the rule or geofence. Must be a valid UUIDv4.

              '
          - type: array
            items:
              type: string
              format: uuid
              description: 'ID of the rule or geofence. Must be a valid UUIDv4.

                '
      - name: initialState
        in: query
        required: false
        schema:
          description: 'Events with the `initialState` property set as `true` are generated when the rule is

            evaluated for the first time. It indicates the fact that this is the initial evaluation

            state, which would serve as a starting point for the subsequent rule evaluations.

            The rest of the rule events would represent a transition of a device or a shipment or

            a geofence from one state to another and their `initialState` property will be set to `false`.

            '
          type: boolean
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 1000
        in: query
        required: false
      - name: appId
        description: Application identifier. Used together with an external ID to identify a virtual device.
        schema:
          type: string
          minLength: 8
        in: query
        required: false
      responses:
        '200':
          description: 'Successful


            The events were successfully retrieved.

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 1000
                      default: 1000
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        oneOf:
                        - title: Boolean event
                          description: 'Events generated by online rule or by sensors that report boolean data (attach, tamper).

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source rule type.

                                  '
                                type: string
                                enum:
                                - attach
                                - tamper
                                - online
                              eventType:
                                type: string
                                enum:
                                - FALSE_TO_TRUE
                                - TRUE_TO_FALSE
                            required:
                            - eventSource
                            - eventType
                        - title: Range event
                          description: 'Events generated by sensor that report numerical data (battery, humidity,

                            pressure and temperature).

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source rule type.

                                  '
                                type: string
                                enum:
                                - battery
                                - humidity
                                - pressure
                                - temperature
                              eventType:
                                type: string
                                enum:
                                - BELOW_RANGE
                                - IN_RANGE
                                - ABOVE_RANGE
                            required:
                            - eventSource
                            - eventType
                        - title: Generic event
                          description: 'Events generated by sensor that report numerical data but only when a specific

                            event occurs (eg. the device was dropped)

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: acceleration rule

                                  '
                                type: string
                                enum:
                                - acceleration
                              eventType:
                                type: string
                                enum:
                                - EVENT
                            required:
                            - eventSource
                            - eventType
                        - title: Geofence event
                          description: 'Events generated by device crossing the geofence border.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: geofence rule

                                  '
                                type: string
                                enum:
                                - geofence
                              eventType:
                                type: string
                                enum:
                                - INSIDE_GEOFENCE
                                - OUTSIDE_GEOFENCE
                              version:
                                description: Geofence version
                                type: integer
                            required:
                            - eventSource
                            - eventType
                        - title: Stock event
                          description: 'Events generated by the number of assets inside a geofence over a maximum stock volume,

                            or between a minimum stock volume and a maximum stock volume, or under a minimum stock volume.

                            '
                          allOf:
                          - properties:
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              eventSource:
                                description: 'The event source: stock rule

                                  '
                                type: string
                                enum:
                                - stock
                              eventType:
                                description: 'The "OVERSTOCK" type - Events are triggered when the number of assets

                                  is over a maximum stock volume.


                                  The "UNDERSTOCK" type - Events are triggered when the number of assets

                                  is under a minimum stock volume.


                                  The "NORMAL_VOLUME" type - Events are triggered when the number of assets

                                  is between the minimum stock volume and the maximum stock volume.

                                  '
                                type: string
                                enum:
                                - OVERSTOCK
                                - NORMAL_VOLUME
                                - UNDERSTOCK
                            required:
                            - timestamp
                            - ruleId
                            - eventSource
                            - eventType
                          - type: object
                            properties:
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - initialState
                        - title: Dwelling event
                          description: 'Events generated by a device that has dwelled inside a geofence for longer than specified

                            threshold duration

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                type: string
                                description: 'The event source: dwelling rule

                                  '
                                enum:
                                - dwelling
                              eventType:
                                type: string
                                enum:
                                - DWELLING_STARTED
                                - DWELLING_ENDED
                              geofenceId:
                                description: 'An ID of a geofence that triggered the dwelling event

                                  '
                                type: string
                                format: uuid
                            required:
                            - eventSource
                            - eventType
                            - geofenceId
                        - title: Detention event
                          description: 'Events generated when a device has been stationary for longer than the specified

                            threshold duration.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: detention rule

                                  '
                                type: string
                                enum:
                                - detention
                              eventType:
                                type: string
                                enum:
                                - DETENTION_STARTED
                                - DETENTION_ENDED
                            required:
                            - eventSource
                            - eventType
                        - title: Utilization event
                          description: 'The UTILIZED event is generated when a device starts moving,

                            and the UNUTILIZED event is generated when the device has been stationary

                            for longer than the specified threshold duration.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: utilization rule

                                  '
                                type: string
                                enum:
                                - utilization
                              eventType:
                                type: string
                                enum:
                                - UTILIZED
                                - UNUTILIZED
                            required:
                            - eventSource
                            - eventType
                        - title: Shipment ETA change event
                          description: 'Events generated by a shipment whose calculated ETD or ETA has changed

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - type: object
                            properties:
                              eventSource:
                                type: string
                                enum:
                                - shipmentEtaChange
                              eventType:
                                type: string
                                enum:
                                - SHIPMENT_ESTIMATE_CHANGED
                              extOrderId:
                                description: Unique identifier for identifying the shipment in external systems
                                type: string
                                maxLength: 50
                              extSegmentId:
                                description: Unique identifier for identifying the segment in external systems
                                type: string
                                maxLength: 50
                              segmentId:
                                description: 'An ID of the segment where the ETD/ETA change was detected

                                  '
                                type: string
                                pattern: ^SEG-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                              segmentStatus:
                                description: Status of the segment.
                                type: string
                                enum:
                                - pending
                                - ongoing
                                - completed
                                - cancelled
                              segmentOrigin:
                                description: Segment origin location
                                type: object
                                properties:
                                  id:
                                    description: Location ID
                                    type: string
                                    pattern: ^LOC-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                                  extId:
                                    description: External location ID in external cloud
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                                required:
                                - id
                              segmentDestination:
                                description: Segment destination location
                                type: object
                                properties:
                                  id:
                                    description: Location ID
                                    type: string
                                    pattern: ^LOC-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                                  extId:
                                    description: External location ID in external cloud
                                    type: string
                                    minLength: 1
                                    maxLength: 100
                                required:
                                - id
                              shipmentEtd:
                                description: Estimated time of departure of the shipment
                                type: string
                                format: date-time
                              shipmentEta:
                                description: Estimated time of arrival of the shipment
                                type: string
                                format: date-time
                              etaType:
                                description: 'Type of the ETA value: static ETA values are calculated for pending

                                  state shipments, dynamic ETA values for ongoing state shipments.

                                  '
                                type: string
                                enum:
                                - dynamic
                                - static
                              etaModelVersion:
                                description: 'ML model version used for ETA calculation. Present only when ML model is used.

                                  '
                                type: string
                                maxLength: 50
                                example: 2.3.1
                              segmentEtaChanges:
                                type: array
                                items:
                                  type: object
                                  properties:
                                    extSegmentId:
                                      description: Unique identifier for identifying the segment in external systems
                                      type: string
                                      maxLength: 50
                                    segmentId:
                                      description: Segment ID
                                      type: string
                                      pattern: ^SEG-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                                    segmentOrigin:
                                      description: Segment origin location
                                      type: object
                                      properties:
                                        id:
                                          description: Location ID
                                          type: string
                                          pattern: ^LOC-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                                        extId:
                                          description: External location ID in external cloud
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                      required:
                                      - id
                                    segmentDestination:
                                      description: Segment destination location
                                      type: object
                                      properties:
                                        id:
                                          description: Location ID
                                          type: string
                                          pattern: ^LOC-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                                        extId:
                                          description: External location ID in external cloud
                                          type: string
                                          minLength: 1
                                          maxLength: 100
                                      required:
                                      - id
                                    segmentEtd:
                                      description: Estimated time of departure of the segment
                                      type: string
                                      format: date-time
                                    segmentEta:
                                      description: Estimated time of arrival of the segment
                                      type: string
                                      format: date-time
                                    etaModelVersion:
                                      description: 'ML model version used for ETA calculation. Present only when ML model is used.

                                        '
                                      type: string
                                      maxLength: 50
                                      example: 2.3.1
                                  required:
                                  - segmentId
                            required:
                            - eventSource
                            - eventType
                            - segmentId
                            - segmentStatus
                        - title: Shipment schedule event
                          description: 'Events generated by a shipment that is ahead or delayed from its preplanned schedule

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - type: object
                            properties:
                              eventSource:
                                type: string
                                enum:
                                - shipmentSchedule
                              eventType:
                                type: string
                                enum:
                                - SHIPMENT_EARLY
                                - SHIPMENT_ON_TIME
                                - SHIPMENT_DELAYED
                              extOrderId:
                                description: Unique identifier for identifying the shipment in external systems
                                type: string
                                maxLength: 50
                              extSegmentId:
                                description: Unique identifier for identifying the segment in external systems
                                type: string
                                maxLength: 50
                              segmentId:
                                description: Segment ID
                                type: string
                                pattern: ^SEG-[0-9a-f]{8}-[0-9a-f]{4}-4[0-9a-f]{3}-[89ab][0-9a-f]{3}-[0-9a-f]{12}$
                              segmentStatus:
                                description: Status of the segment.
                                type: string
                                enum:
                                - pending
                                - ongoing
                                - completed
                                - cancelled
                            required:
                            - eventSource
                            - eventType
                            - segmentId
                            - segmentStatus
              example:
                count: 1
                pageToken: 2lkjfdaoiekllldko=sdflkjdfasdi34
                data:
                - trackingId: HERE-6da0f871-b4eb-4800-90e6-4bae86a788d6
                  eventSource: attach
                  timestamp: 1499258057036
                  eventType: TRUE_TO_FALSE
                  ruleId: e2f651ee-f196-4fa3-bf88-894dc131dea3
                  initialState: false
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Not Found
                code: 404
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource was not found.
                details:
                  hereErrorCode: 404306
          description: 'Not Found


            The specified resource was not found

            '
      operationId: getEventsV3
      x-operation-id-source: derived
  /events/v3/{trackingId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    get:
      summary: Gets event history for a device or a shipment
      description: 'Gets all events for a device or a shipment.

        A device is identified by the `trackingId`.

        For shipments, `shipmentId` can be used as a `trackingId`.


        The results are listed in descending order based on the timestamp.


        An event is uniquely identified by `trackingId`-`ruleId`-`timestamp` key,

        with an exception of dwelling and stock rule events.

        Dwelling events also need `geofenceId` to be specified,

        whereas for stock events `trackingId` is not applicable.


        A single event can be fetched using `ruleId`, `before` and `after` query parameters.


        A time range can be defined with `before` and `after` timestamps. The response will contain

        an array of events that were recorded within the range.

        The default value for `before` parameter is the current time, and for the `after` parameter

        it is one day in the past from the current time.

        The `after` parameter value is not allowed to be earlier than two weeks in the past from the

        `before` timestamp, otherwise an error is returned.


        If the request is supplied with `eventSource` query parameter, the response will contain

        events generated by the defined source only.


        If the request is supplied with `eventType` query parameter, the response will contain

        events of the specified type only.


        If the request is supplied with `ruleId` query parameter, the response will only contain events

        for the specified rule ID.


        If the request is supplied with `initialState` query parameter, the response will contain

        events having the specified initial state.


        All the aforementioned query parameters can be combined together.'
      tags:
      - Events
      security:
      - UserToken: []
      - ClientToken: []
      parameters:
      - name: trackingId
        in: path
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
        required: true
      - name: before
        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.

          The accepted range is from 1 to the current time.

          '
        in: query
        required: false
        schema:
          type: number
          minimum: 1
      - name: after
        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.

          The accepted range is from 0 to the current time.

          '
        in: query
        required: false
        schema:
          type: number
          minimum: 0
      - name: eventSource
        in: query
        required: false
        schema:
          oneOf:
          - description: 'The event source rule type.

              '
            type: string
            enum:
            - acceleration
            - attach
            - battery
            - detention
            - dwelling
            - geofence
            - humidity
            - online
            - pressure
            - shipmentEtaChange
            - shipmentSchedule
            - stock
            - tamper
            - temperature
            - utilization
          - type: array
            items:
              description: 'The event source rule type.

                '
              type: string
              enum:
              - acceleration
              - attach
              - battery
              - detention
              - dwelling
              - geofence
              - humidity
              - online
              - pressure
              - shipmentEtaChange
              - shipmentSchedule
              - stock
              - tamper
              - temperature
              - utilization
      - name: eventType
        in: query
        required: false
        schema:
          oneOf:
          - description: 'Type of the event.


              An event is created every time an associated rule or geofence is triggered by a device ingestion.

              The event type depends on the data the device sends.


              Sensors that report numerical data (such as battery, humidity, pressure and temperature sensors),

              generate an event when the reported sensor reading of the device goes in or out of range, which is configured in the rule.

              This produces events of BELOW_RANGE, IN_RANGE and ABOVE_RANGE types.


              Sensors that report boolean data (such as attach and tamper sensors), generate events when the device

              transitions from one state to another, either from `false` to `true` or vice versa.

              This produces events of FALSE_TO_TRUE and TRUE_TO_FALSE types.

              The same event types are also generated by the online rule when the device state changes from `offline`

              (when the device has stopped ingesting data) to `online` (when the device data ingestion has resumed)

              or vice versa.


              The acceleration sensor generates events whenever the reported sensor reading

              crosses the acceleration threshold (for example, when the device was dropped).

              This produces events of the type EVENT.

              Such events are stateless.


              Events of INSIDE_GEOFENCE and OUTSIDE_GEOFENCE types are generated when the device enters or exits

              a geofence associated with the device.


              Events of DWELLING_STARTED type are generated when the device has

              stayed inside an associated geofence for longer than the threshold duration.

              DWELLING_ENDED type events are generated when dwelling of the device has ended.


              Events of DETENTION_STARTED type are generated when the device has been

              stationary for longer than the threshold duration, regardless whether the device is inside

              or outside of any geofence.

              DETENTION_ENDED type events will be generated when the device starts moving again.


              Events of UNUTILIZED type are generated when the device has been stationary for longer than the

              threshold duration.

              UTILIZED type events are generated when the device starts moving again after having been stationary.


              Events of OVERSTOCK, NORMAL_VOLUME and UNDERSTOCK types are generated when the number of assets

              inside a geofence crosses the `minVolume` and `maxVolume` thresholds of an associated stock rule.


              Event of SHIPMENT_ESTIMATE_CHANGED is generated when the estimated departure (ETD) or arrival (ETA) times

              deviate from the original estimates more than the defined threshold.


              Events of SHIPMENT_EARLY, SHIPMENT_ON_TIME and SHIPMENT_DELAYED types are generated when a shipment

              is too early, on time or delayed.

              '
            type: string
            enum:
            - BELOW_RANGE
            - IN_RANGE
            - ABOVE_RANGE
            - FALSE_TO_TRUE
            - TRUE_TO_FALSE
            - EVENT
            - INSIDE_GEOFENCE
            - OUTSIDE_GEOFENCE
            - OVERSTOCK
            - NORMAL_VOLUME
            - UNDERSTOCK
            - DWELLING_STARTED
            - DWELLING_ENDED
            - DETENTION_STARTED
            - DETENTION_ENDED
            - UTILIZED
            - UNUTILIZED
            - SHIPMENT_EARLY
            - SHIPMENT_ON_TIME
            - SHIPMENT_DELAYED
            - SHIPMENT_ESTIMATE_CHANGED
          - type: array
            items:
              description: 'Type of the event.


                An event is created every time an associated rule or geofence is triggered by a device ingestion.

                The event type depends on the data the device sends.


                Sensors that report numerical data (such as battery, humidity, pressure and temperature sensors),

                generate an event when the reported sensor reading of the device goes in or out of range, which is configured in the rule.

                This produces events of BELOW_RANGE, IN_RANGE and ABOVE_RANGE types.


                Sensors that report boolean data (such as attach and tamper sensors), generate events when the device

                transitions from one state to another, either from `false` to `true` or vice versa.

                This produces events of FALSE_TO_TRUE and TRUE_TO_FALSE types.

                The same event types are also generated by the online rule when the device state changes from `offline`

                (when the device has stopped ingesting data) to `online` (when the device data ingestion has resumed)

                or vice versa.


                The acceleration sensor generates events whenever the reported sensor reading

                crosses the acceleration threshold (for example, when the device was dropped).

                This produces events of the type EVENT.

                Such events are stateless.


                Events of INSIDE_GEOFENCE and OUTSIDE_GEOFENCE types are generated when the device enters or exits

                a geofence associated with the device.


                Events of DWELLING_STARTED type are generated when the device has

                stayed inside an associated geofence for longer than the threshold duration.

                DWELLING_ENDED type events are generated when dwelling of the device has ended.


                Events of DETENTION_STARTED type are generated when the device has been

                stationary for longer than the threshold duration, regardless whether the device is inside

                or outside of any geofence.

                DETENTION_ENDED type events will be generated when the device starts moving again.


                Events of UNUTILIZED type are generated when the device has been stationary for longer than the

                threshold duration.

                UTILIZED type events are generated when the device starts moving again after having been stationary.


                Events of OVERSTOCK, NORMAL_VOLUME and UNDERSTOCK types are generated when the number of assets

                inside a geofence crosses the `minVolume` and `maxVolume` thresholds of an associated stock rule.


                Event of SHIPMENT_ESTIMATE_CHANGED is generated when the estimated departure (ETD) or arrival (ETA) times

                deviate from the original estimates more than the defined threshold.


                Events of SHIPMENT_EARLY, SHIPMENT_ON_TIME and SHIPMENT_DELAYED types are generated when a shipment

                is too early, on time or delayed.

                '
              type: string
              enum:
              - BELOW_RANGE
              - IN_RANGE
              - ABOVE_RANGE
              - FALSE_TO_TRUE
              - TRUE_TO_FALSE
              - EVENT
              - INSIDE_GEOFENCE
              - OUTSIDE_GEOFENCE
              - OVERSTOCK
              - NORMAL_VOLUME
              - UNDERSTOCK
              - DWELLING_STARTED
              - DWELLING_ENDED
              - DETENTION_STARTED
              - DETENTION_ENDED
              - UTILIZED
              - UNUTILIZED
              - SHIPMENT_EARLY
              - SHIPMENT_ON_TIME
              - SHIPMENT_DELAYED
              - SHIPMENT_ESTIMATE_CHANGED
      - name: ruleId
        in: query
        required: false
        schema:
          oneOf:
          - type: string
            format: uuid
            description: 'ID of the rule or geofence. Must be a valid UUIDv4.

              '
          - type: array
            items:
              type: string
              format: uuid
              description: 'ID of the rule or geofence. Must be a valid UUIDv4.

                '
      - name: initialState
        in: query
        required: false
        schema:
          description: 'Events with the `initialState` property set as `true` are generated when the rule is

            evaluated for the first time. It indicates the fact that this is the initial evaluation

            state, which would serve as a starting point for the subsequent rule evaluations.

            The rest of the rule events would represent a transition of a device or a shipment or

            a geofence from one state to another and their `initialState` property will be set to `false`.

            '
          type: boolean
      - name: pageToken
        description: A token from the previously returned response to retrieve the specified page.
        schema:
          type: string
        in: query
        required: false
      - name: count
        description: The number of items to return per page.
        schema:
          type: integer
          minimum: 1
          maximum: 1000
          default: 1000
        in: query
        required: false
      - name: appId
        description: Application identifier. Used together with an external ID to identify a virtual device.
        schema:
          type: string
          minLength: 8
        in: query
        required: false
      responses:
        '200':
          description: 'Successful


            The events were successfully retrieved.

            '
          content:
            application/json:
              schema:
                allOf:
                - type: object
                  properties:
                    pageToken:
                      type: string
                      description: A token that can be used to retrieve the next page of the response.
                    count:
                      type: integer
                      minimum: 0
                      maximum: 1000
                      default: 1000
                      description: The number of items in the response.
                - type: object
                  properties:
                    data:
                      type: array
                      items:
                        oneOf:
                        - title: Boolean event
                          description: 'Events generated by online rule or by sensors that report boolean data (attach, tamper).

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source rule type.

                                  '
                                type: string
                                enum:
                                - attach
                                - tamper
                                - online
                              eventType:
                                type: string
                                enum:
                                - FALSE_TO_TRUE
                                - TRUE_TO_FALSE
                            required:
                            - eventSource
                            - eventType
                        - title: Range event
                          description: 'Events generated by sensor that report numerical data (battery, humidity,

                            pressure and temperature).

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source rule type.

                                  '
                                type: string
                                enum:
                                - battery
                                - humidity
                                - pressure
                                - temperature
                              eventType:
                                type: string
                                enum:
                                - BELOW_RANGE
                                - IN_RANGE
                                - ABOVE_RANGE
                            required:
                            - eventSource
                            - eventType
                        - title: Generic event
                          description: 'Events generated by sensor that report numerical data but only when a specific

                            event occurs (eg. the device was dropped)

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: acceleration rule

                                  '
                                type: string
                                enum:
                                - acceleration
                              eventType:
                                type: string
                                enum:
                                - EVENT
                            required:
                            - eventSource
                            - eventType
                        - title: Geofence event
                          description: 'Events generated by device crossing the geofence border.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: geofence rule

                                  '
                                type: string
                                enum:
                                - geofence
                              eventType:
                                type: string
                                enum:
                                - INSIDE_GEOFENCE
                                - OUTSIDE_GEOFENCE
                              version:
                                description: Geofence version
                                type: integer
                            required:
                            - eventSource
                            - eventType
                        - title: Stock event
                          description: 'Events generated by the number of assets inside a geofence over a maximum stock volume,

                            or between a minimum stock volume and a maximum stock volume, or under a minimum stock volume.

                            '
                          allOf:
                          - properties:
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              eventSource:
                                description: 'The event source: stock rule

                                  '
                                type: string
                                enum:
                                - stock
                              eventType:
                                description: 'The "OVERSTOCK" type - Events are triggered when the number of assets

                                  is over a maximum stock volume.


                                  The "UNDERSTOCK" type - Events are triggered when the number of assets

                                  is under a minimum stock volume.


                                  The "NORMAL_VOLUME" type - Events are triggered when the number of assets

                                  is between the minimum stock volume and the maximum stock volume.

                                  '
                                type: string
                                enum:
                                - OVERSTOCK
                                - NORMAL_VOLUME
                                - UNDERSTOCK
                            required:
                            - timestamp
                            - ruleId
                            - eventSource
                            - eventType
                          - type: object
                            properties:
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - initialState
                        - title: Dwelling event
                          description: 'Events generated by a device that has dwelled inside a geofence for longer than specified

                            threshold duration

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                type: string
                                description: 'The event source: dwelling rule

                                  '
                                enum:
                                - dwelling
                              eventType:
                                type: string
                                enum:
                                - DWELLING_STARTED
                                - DWELLING_ENDED
                              geofenceId:
                                description: 'An ID of a geofence that triggered the dwelling event

                                  '
                                type: string
                                format: uuid
                            required:
                            - eventSource
                            - eventType
                            - geofenceId
                        - title: Detention event
                          description: 'Events generated when a device has been stationary for longer than the specified

                            threshold duration.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: detention rule

                                  '
                                type: string
                                enum:
                                - detention
                              eventType:
                                type: string
                                enum:
                                - DETENTION_STARTED
                                - DETENTION_ENDED
                            required:
                            - eventSource
                            - eventType
                        - title: Utilization event
                          description: 'The UTILIZED event is generated when a device starts moving,

                            and the UNUTILIZED event is generated when the device has been stationary

                            for longer than the specified threshold duration.

                            '
                          allOf:
                          - properties:
                              trackingId:
                                type: string
                                minLength: 1
                                maxLength: 50
                                description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
                              timestamp:
                                type: integer
                                description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                minimum: 2
                                maximum: 4102448400000
                              ruleId:
                                type: string
                                format: uuid
                                description: 'Must be a valid UUIDv4.

                                  '
                              initialState:
                                description: 'Events with the `initialState` property set as `true` are generated when the rule is

                                  evaluated for the first time. It indicates the fact that this is the initial evaluation

                                  state, which would serve as a starting point for the subsequent rule evaluations.

                                  The rest of the rule events would represent a transition of a device or a shipment or

                                  a geofence from one state to another and their `initialState` property will be set to `false`.

                                  '
                                type: boolean
                            required:
                            - trackingId
                            - timestamp
                            - ruleId
                            - initialState
                          - properties:
                              eventSource:
                                description: 'The event source: utilization rule

                                  '
                                type: string
                                enum:
                                - utilization
                              eventType:
                                type: string
                                enum:
                                - UTILIZED
                                - UNUTILIZED
                            required:
[...]
