openapi: 3.2.0
info:
  title: HERE Map Image API v3 Images API
  description: Map Image API is a REST API that enables rendering personalized static map images, with access to a variety of styles and the ability to overlay custom data.
  version: 3.0.4
  termsOfService: https://legal.here.com/en-gb/terms/here-platform
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://image.maps.hereapi.com/mia/v3
  description: Production
security:
- Bearer: []
- ApiKey: []
tags:
- name: Images
  description: Endpoints to request images
paths:
  /{resource}/{projection}/{view}/{size}/{format}:
    get:
      description: Retrieve a section of the map by specifying its dimensions (width and height). Additionally, you can optionally choose from various parameters to modify the output.
      summary: Retrieve a map image in the requested format
      operationId: getImage
      tags:
      - Images
      parameters:
      - $ref: '#/components/parameters/ResourceParam'
      - $ref: '#/components/parameters/ProjectionParam'
      - $ref: '#/components/parameters/SizeParam'
      - $ref: '#/components/parameters/ViewParam'
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/StyleParam'
      - $ref: '#/components/parameters/PpiParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/Language2Param'
      - $ref: '#/components/parameters/PviewParam'
      - $ref: '#/components/parameters/MapVersionParam'
      - $ref: '#/components/parameters/RenderFeaturesParam'
      - $ref: '#/components/parameters/CopyrightParam'
      - $ref: '#/components/parameters/CropLabelsParam'
      - $ref: '#/components/parameters/ScaleBarParam'
      - $ref: '#/components/parameters/GeojsonParam'
      - $ref: '#/components/parameters/OverlayParam'
      - $ref: '#/components/parameters/ScaleParam'
      - $ref: '#/components/parameters/IfNoneMatchParam'
      - $ref: '#/components/parameters/XRequestIDParam'
      - $ref: '#/components/parameters/StartTimeParam'
      - $ref: '#/components/parameters/EndTimeParam'
      responses:
        '200':
          $ref: '#/components/responses/ImageResponse'
        '304':
          $ref: '#/components/responses/ImageNotModifiedResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
    post:
      description: Retrieve a map image, supplying geometry (overlay or GeoJSON) in the request body instead of query parameters. All other parameters behave identically to the GET operation.
      summary: Retrieve a map image with body-supplied geometry
      operationId: postImage
      tags:
      - Images
      parameters:
      - $ref: '#/components/parameters/ResourceParam'
      - $ref: '#/components/parameters/ProjectionParam'
      - $ref: '#/components/parameters/SizeParam'
      - $ref: '#/components/parameters/ViewParam'
      - $ref: '#/components/parameters/FormatParam'
      - $ref: '#/components/parameters/StyleParam'
      - $ref: '#/components/parameters/PpiParam'
      - $ref: '#/components/parameters/LanguageParam'
      - $ref: '#/components/parameters/Language2Param'
      - $ref: '#/components/parameters/PviewParam'
      - $ref: '#/components/parameters/MapVersionParam'
      - $ref: '#/components/parameters/RenderFeaturesParam'
      - $ref: '#/components/parameters/CopyrightParam'
      - $ref: '#/components/parameters/CropLabelsParam'
      - $ref: '#/components/parameters/ScaleBarParam'
      - $ref: '#/components/parameters/ScaleParam'
      - $ref: '#/components/parameters/IfNoneMatchParam'
      - $ref: '#/components/parameters/XRequestIDParam'
      - $ref: '#/components/parameters/StartTimeParam'
      - $ref: '#/components/parameters/EndTimeParam'
      requestBody:
        required: true
        content:
          text/plain:
            schema:
              type: string
              description: 'Compact overlay geometry, one entry per line.

                Each line uses the same format as a single `overlay` query parameter value.

                Multiple geometry types are expressed as multiple lines.

                '
          application/geo+json:
            schema:
              type: object
              description: 'A GeoJSON object (Feature, FeatureCollection, or Geometry).

                '
            example:
              type: FeatureCollection
              features:
              - type: Feature
                properties: {}
                geometry:
                  type: LineString
                  coordinates:
                  - - 2.1734
                    - 41.3851
                  - - 2.3522
                    - 48.8566
                  - - 4.9041
                    - 52.3676
                  - - 13.405
                    - 52.52
                  - - 12.5683
                    - 55.6761
      responses:
        '200':
          $ref: '#/components/responses/ImageResponse'
        '304':
          $ref: '#/components/responses/ImageNotModifiedResponse'
        '400':
          $ref: '#/components/responses/BadRequestErrorResponse'
        '401':
          $ref: '#/components/responses/UnauthorizedError'
        '403':
          $ref: '#/components/responses/ForbiddenError'
        '404':
          $ref: '#/components/responses/NotFoundErrorResponse'
        '413':
          description: Request body exceeds the maximum allowed size.
        '500':
          $ref: '#/components/responses/InternalServerErrorResponse'
        default:
          $ref: '#/components/responses/ErrorResponse'
components:
  schemas:
    ProjectionSchema:
      type: string
      example: mc
      description: The map projection type used when rendering images.
    SizeSchema:
      type: string
      pattern: ^([1-9][0-9]*)x([1-9][0-9]*)$
      example: 2048x4096
    ForbiddenErrorSchema:
      type: object
      description: Custom error response schema returned as a result of authentication.
      properties:
        error:
          type: string
          pattern: ^Forbidden$
        error_description:
          type: string
    MapVersionSchema:
      description: The current encoded map version which is valid for 24 hours. After that period, this value must be refreshed.
      type: string
      pattern: ^([a-z]{2,3}[0-9]+)+
      example: in123jp45
    GeojsonSchema:
      type: string
    OverlaySchema:
      type: array
      items:
        type: string
    ErrorResponseSchema:
      type: object
      description: Response in case of error.
      properties:
        title:
          type: string
          description: User-friendly error description.
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code.
          example: 400
        code:
          type: string
          description: Error code.
          example: E622002
        cause:
          type: string
          description: Human-readable explanation for the error.
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that you can take to correct the error.
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request.
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    LanguageSchema:
      type: string
      pattern: ^[a-z]{2}(-[a-zA-Z]{1,4})?$
      example: en
      description: 'Indicates that the map supports the returned language.

        The values follow the BCP47 language code limited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.

        '
    NotFoundErrorResponseSchema:
      type: object
      description: Not Found | Indicates that the resource was not found.
      properties:
        title:
          type: string
          description: User-friendly error description.
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code.
          example: 404
        code:
          type: string
          description: Error code.
          example: E622000
        cause:
          type: string
          description: Human-readable explanation for the error.
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that you can take to correct the error.
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request.
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
    ViewSchema:
      type: string
    UnauthorizedErrorSchema:
      type: object
      description: Custom error response schema returned as a result of authentication.
      properties:
        error:
          type: string
          pattern: ^Unauthorized$
        error_description:
          type: string
    ErrorResponseDetailsSchema:
      type: object
      description: Detailed information about the error.
      properties:
        message:
          type: string
          description: Error message
          example: output parameter matches none of the supported values
    FormatSchema:
      type: string
      description: Supported image format types.
      example: png
    BadRequestErrorResponseSchema:
      type: object
      description: Bad Request | Indicates an invalid parameter value in the request, for example, the `zoom` value that is out of range.
      properties:
        title:
          type: string
          description: User-friendly error description.
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code
          example: 400
        code:
          type: string
          description: Error code. Possible error codes include E622002,E622003,E622004,E622005,E622006,E622007,E622008,E622009, and E622010.
          example: E622002
        cause:
          type: string
          description: Human-readable explanation for the error.
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that you can take to correct the error.
          example: Request a valid id
        correlationId:
          type: string
          description: An automatically generated unique ID that identifies the request.
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        parameter:
          type: string
          description: Name of the parameter in case of a bad request due to an invalid path or query parameter; otherwise, an empty string.
          example: overlay
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
      - parameter
    ResourceSchema:
      type: string
      example: mapview
      description: Name of the underlying resource type for the map image.
    ScaleBarSchema:
      type: string
      enum:
      - km
      - mi
      - kmMi
      - miKm
      example: mi
    PoliticalViewSchema:
      type: string
      example: IN
      description: 'Indicates a certain geopolitical view applied to the map.

        The values follow the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code schema.

        '
      pattern: ^[A-Z]{2}$
    StyleSchema:
      type: string
      example: explore.day
    InternalServerErrorResponseSchema:
      type: object
      description: Internal Error | Indicates a server malfunction and an unexpected error.
      properties:
        title:
          type: string
          description: User-friendly error description.
          example: Input data failed validation
        status:
          type: integer
          description: HTTP status code.
          example: 500
        code:
          type: string
          description: Error code. Possible error codes include E622050,E622051,E622052,E622053, and E622054.
          example: E622050
        cause:
          type: string
          description: Human-readable explanation for the error.
          example: The input data in question does not comply with validation rules
        action:
          type: string
          description: Human-readable description of the action that you can take to correct the error.
          example: Request a valid id
        correlationId:
          type: string
          description: Auto-generated id that uniquely identifies the request.
          example: 4199533b-6290-41db-8d79-edf4f4019a74
        details:
          type: array
          items:
            $ref: '#/components/schemas/ErrorResponseDetailsSchema'
      required:
      - title
      - status
      - code
      - cause
      - action
      - correlationId
  headers:
    X-Correlation-ID:
      description: 'The auto-generated ID that uniquely identifies the request and is accessible within the response.  When reaching out to support with an inquiry about a particular request, please include the value of this header. Doing so will assist in troubleshooting the issue.

        '
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    X-Request-ID:
      description: 'User-provided token that you can use to trace a request or a group of requests sent to the service.

        '
      schema:
        type: string
      example: 4199533b-6290-41db-8d79-edf4f4019a74
    ETag:
      description: Entity tag that represents a specific version of the requested image.
      schema:
        type: string
  responses:
    BadRequestErrorResponse:
      description: API response that indicates an error due to a bad request.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/BadRequestErrorResponseSchema'
    ErrorResponse:
      description: API response in case of an error.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ErrorResponseSchema'
    NotFoundErrorResponse:
      description: API response that indicates that the requested resource was not found.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/NotFoundErrorResponseSchema'
    ForbiddenError:
      description: API response that indicates that the access token does not authorize access.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/ForbiddenErrorSchema'
    ImageNotModifiedResponse:
      description: The resource cached in the client (identified by the If-None-Match header) has not changed.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
    ImageResponse:
      description: OK - Requested resource is returned
      headers:
        ETag:
          $ref: '#/components/headers/ETag'
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        image/png:
          schema:
            type: string
            format: binary
        image/png8:
          schema:
            type: string
            format: binary
        image/jpg:
          schema:
            type: string
            format: binary
    UnauthorizedError:
      description: API response that indicates that the access token is missing or invalid.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/UnauthorizedErrorSchema'
    InternalServerErrorResponse:
      description: API response that indicates a server malfunction or an unexpected error.
      headers:
        X-Correlation-ID:
          $ref: '#/components/headers/X-Correlation-ID'
        X-Request-ID:
          $ref: '#/components/headers/X-Request-ID'
      content:
        application/json:
          schema:
            allOf:
            - $ref: '#/components/schemas/InternalServerErrorResponseSchema'
  parameters:
    XRequestIDParam:
      in: header
      name: X-Request-ID
      required: false
      example: '12345'
      description: 'The ID given by the caller to match in the response.

        '
      schema:
        type: string
    ProjectionParam:
      name: projection
      in: path
      example: mc
      required: true
      description: "Specifies the projection type for the image. The /info endpoint response lists the available values.\n  * mc - Mercator Projection\n"
      schema:
        $ref: '#/components/schemas/ProjectionSchema'
    MapVersionParam:
      in: query
      name: mv
      required: false
      description: Specifies the map version to use. You can obtain the map version by querying the /info endpoint.
      schema:
        $ref: '#/components/schemas/MapVersionSchema'
    PpiParam:
      in: query
      name: ppi
      required: false
      description: "Specifies the relative size of labels and icons. The valid values are:\n  - 100 – small\n  - 200 – medium\n  - 400 – large\n  \nFor more information, see [Modify label and icon size](https://docs.here.com/map-rendering/docs/label-icon-size).\n"
      example: 100
      schema:
        type: integer
        enum:
        - 100
        - 200
        - 400
        default: 100
    Language2Param:
      in: query
      name: lang2
      required: false
      description: 'Use this parameter to provide the second language for use in dual labeling.

        The ''lang2'' parameter follows the same behavior as the ''lang'' parameter.

        '
      example: en
      schema:
        $ref: '#/components/schemas/LanguageSchema'
    FormatParam:
      in: path
      name: format
      required: true
      description: 'The format of the returned image. The /info endpoint response lists the available values. For more information, see [Optimize image dimensions and file type](https://docs.here.com/map-rendering/docs/image-properties).

        '
      example: png
      schema:
        $ref: '#/components/schemas/FormatSchema'
    IfNoneMatchParam:
      in: header
      name: If-None-Match
      required: false
      example: '12345'
      description: 'Specifies an optional entity tag of the resource cached in the client.

        See the `304` response of the `getTile` operation for more details.

        '
      schema:
        type: string
    RenderFeaturesParam:
      in: query
      name: features
      required: false
      description: "Use this parameter to query images with additional features, for example, dislaying vehicle restrictions.\nThe features are independent, that is, an image is rendered with `feature_a` feature in `mode_a` mode AND `feature_b` feature in `mode_b` mode, and so on.\nThe available features include:\n* **congestion_zones** - Display of congestion zones. The available modes include:\n  * `all`\n  * `disabled`\n* **environmental_zones** - Display of environmental zones. The available modes include:\n  * `all`\n  * `disabled`\n* **pois** - Display of points of interest. The available modes include:\n  * `all`\n  * `disabled`\n* **vehicle_restrictions** - Display of road signs specific to trucks or other special vehicles. The available modes include:\n  * `active_and_inactive` - Show all restrictions (both active and inactive)\n  * `permanent_only` - Show only permanent restrictions (beta)\n  * `active_and_inactive_differentiated` - Show all restrictions differentiated by active/inactive status, using startTime and endTime parameters for time-based filtering.\n  * `active_only` - Show only active restrictions, using startTime and endTime parameters for time-based filtering.\n  * `disabled` - Do not display vehicle restrictions\n* **public_transit** - Display of public transit system. The available modes include:\n  * `asia_selected_systems`\n  * `all_systems`\n  * `disabled`\n* **truck_preferred_roads** - Display of truck preferred roads. The available modes include:\n  * `all`\n  * `disabled`\n\nThe `/features` endpoint response lists the available features and their corresponding modes.\nFor more information, see [Customize map features](https://docs.here.com/map-rendering/docs/additional-map-features).\n"
      schema:
        type: string
        pattern: ^([a-zA-Z0-9\-_]+:[a-zA-Z0-9\-_]+)(,([a-zA-Z0-9\-_]+:[a-zA-Z0-9\-_]+))*$
        example: congestion_zones:all,environmental_zones:disabled
    StartTimeParam:
      in: query
      name: startTime
      required: false
      description: 'Start time for vehicle restrictions time window.

        Must only be used with the vehicle_restrictions feature using modes "active_and_inactive_differentiated" or "active_only".

        Format: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T08:00)

        '
      schema:
        type: string
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$
        example: 2025-12-03T08:00
    ScaleParam:
      in: query
      name: scale
      required: false
      description: Controls the scaling of the rendered images for high-resolution displays. A value of 2 doubles the size of the rendered tiles for sharper images.
      example: 2
      schema:
        type: integer
        enum:
        - 1
        - 2
        default: 1
    PviewParam:
      in: query
      name: pview
      required: false
      description: 'Use this parameter to render the map with boundaries based on various international or geopolitical views.

        In general, use the international view unless a political view is available for a specific country and your use case requires showcasing international boundaries that reflect a specific geopolitical standpoint.

        If the parameter is specified and the view is supported, the image will display boundaries corresponding to the specified geopolitical view. For more information, see [Explore geopolitical views](https://docs.here.com/map-rendering/docs/political-views).


        The values follow the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.


        Note: Consult the /politicalViews endpoint for further information about how to get the current list of geopolitical views available from the service.

        Note: If this parameter is missing, the API applies the international view to the image.

        '
      example: IN
      schema:
        $ref: '#/components/schemas/PoliticalViewSchema'
    CopyrightParam:
      in: query
      name: copyright
      required: false
      description: 'Determines whether to show the copyright information pertaining to the map image. The copyright display is enabled by default, you can only set the value of this parameter to ''false''.

        For more information, see [Include the copyright notice](https://docs.here.com/map-rendering/docs/copyright-notice).

        '
      schema:
        type: string
    SizeParam:
      in: path
      name: size
      required: true
      description: 'Defines the dimensions of the returned map image.


        Format: `width "x" height`


        The /info endpoint response returns the acceptable range of `width` and `height` values.

        '
      example: 256x512
      schema:
        $ref: '#/components/schemas/SizeSchema'
    EndTimeParam:
      in: query
      name: endTime
      required: false
      description: 'End time for vehicle restrictions time window.

        Must only be used with the vehicle_restrictions feature using modes "active_and_inactive_differentiated" or "active_only".

        Format: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T18:00)

        '
      schema:
        type: string
        pattern: ^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$
        example: 2025-12-03T18:00
    GeojsonParam:
      in: query
      name: geojson
      required: false
      description: 'Adds a [GeoJson](https://geojson.org/) overlay containing additional data to display on top of a map, in the form of points (circles, markers, labels), lines, and polygons.

        The following types of top-level GeoJSON objects are supported: Feature, FeatureCollection, Geometry.

        The following GeoJSON geometry types are supported: Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon, and GeometryCollection, with the exception of nested GeometryCollection is not supported because this type is not recommended by the open standard. For more information, see [GeometryCollection](https://tools.ietf.org/html/rfc7946#section-3.1.8).

        For an alternative, but equivalent, way to specify the custom content see the `overlay` parameter.

        For more information on how to use GeoJSON objects with the API, see the [GeoJSON format](https://docs.here.com/map-rendering/docs/geojson-overlay) article in the Developer Guide.

        '
      example: '%7B%22type%22%3A%22FeatureCollection%22%2C%22features%22%3A%5B%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22coordinates%22%3A%5B13.366266%2C52.523882%5D%2C%22type%22%3A%22Point%22%7D%7D%5D%7D'
      schema:
        $ref: '#/components/schemas/GeojsonSchema'
    LanguageParam:
      in: query
      name: lang
      required: false
      description: "The [BCP47 language code](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlimited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\nUse this parameter for requesting a map image rendered in a specific language.\nThe /languages endpoint response lists the available values. For more information, see [Personalize the map language](https://docs.here.com/map-rendering/docs/languages).\n\nThe default behavior when no parameter is specified:\n  - The image displays labels in the default language of the corresponding country.\n  - The following labels are displayed in the default language: continent, ocean, sea, bay.\n"
      example: en
      schema:
        $ref: '#/components/schemas/LanguageSchema'
    ResourceParam:
      name: resource
      in: path
      required: true
      description: 'Specifies the image type. The /info endpoint response lists the available values. For more information, see [Choose the map resource type](https://docs.here.com/map-rendering/docs/resources).

        '
      example: base
      schema:
        $ref: '#/components/schemas/ResourceSchema'
    ViewParam:
      in: path
      name: view
      required: true
      description: "This parameter specifies the view position and extent of the area visible in the image. For more information, see [Adjust map position](https://docs.here.com/map-rendering/docs/map-positioning).\n\nFormat: `(Center|BoundingBox|Bounds|Overlay)`\n\n* `Center = \"center:\" latitude \",\" longitude \";\" ((\"zoom=\" zoom) | (\"radius=\" radiusInMeters))`\n* `BoundingBox = \"bbox:\" westLongitude \",\" southLatitude \",\" eastLongitude \",\" northLatitude [\";padding=\" paddingInPixels ]`\n* `Bounds = \"bounds:\" latitude \",\" longitude \",\" { \",\" latitude \",\" longitude } [\";padding=\" paddingInPixels ]` \n* `Overlay = \"overlay\" [\":\" ((\"zoom=\" maximumZoom) | (\"radius=\" minimumRadiusInMeters)) [\";padding=\" paddingInPixels] | \":padding=\" paddingInPixels]]`\n\n Whereas:\n * Center: the view is centered at the geo coordinates defined by the `latitude` and `longitude` values. The visible area is controlled either by `zoom` or `radiusInMeters`.\n * BoundingBox: `westLongitude`, `southLatitude`, `eastLongitude`, `northLatitude` define a bounding box. The view is positioned so that the entire area inside the bounding box is visible in the image. Note that the latitude and longitude values do not follow the same order (latitude is first) as compared with other API parameters which use latitude and longitude.\n * Bounds: the view is positioned so that all the geo coordinates specified by `latitude`, `longitude` pairs are inside the view.\n * Overlay: the view is positioned so that all objects specified in the `overlay` and `geojson` parameters are visible. You must include at least one `overlay` or `geojson` parameter in the query.\n* `radiusInMeters` defines the minimum visible distance in all directions around the camera center or bounding box of an overlay, in meters.\n* `zoom` defines scale of the map based on concept of zoom level. The /info endpoint response lists the minimum and maximum zoom values.\n* `paddingInPixels` specifies additional space to apply around each overlay feature so that no feature is cut or obscured by the image edges. The available value ranges from `0` pixels (default) to one-fourth of the lower image dimension value. For example, if the image dimensions are `800x600`, then the maximum padding value is `600/4`, which equals `150` pixels.\n"
      examples:
        example1:
          value: center:52.523882,13.366266;zoom=12
          summary: Example with center and zoom
        example2:
          value: center:52.523882,13.366266;radius=2000
          summary: Example with center and radius
        example3:
          value: bbox:13.383019,52.530572,13.38662,52.53086;padding=30
          summary: Example with bbox and padding
        example4:
          value: bounds:52.530572,13.383019,52.53086,13.38662,52.531749,13.383370;padding=20
          summary: Example with bounds and padding
        example5:
          value: overlay:padding=10
          summary: Example with overlay and padding
        example6:
          value: overlay
          summary: Example with overlay
      schema:
        $ref: '#/components/schemas/ViewSchema'
    CropLabelsParam:
      in: query
      name: cropLabels
      required: false
      description: 'Determines whether to display labels that would be cropped by the edges of the generated image. The API displays cropped labels by default, you can only set the value of this parameter to ''false''.

        When you set this parameter to ''false'', the labels that would get cropped are removed from the image. For more information, see [Conceal cut-off labels](https://docs.here.com/map-rendering/docs/label-truncation).

        '
      schema:
        type: boolean
        enum:
        - false
    OverlayParam:
      in: query
      name: overlay
      required: false
      description: "Add a custom overlay containing additional information on top of the map in the form points (circles, markers, labels), lines, and polygons. \n\nThis parameter provides a way to encode GeoJSON geometries by using a compact format optimized to reduce request size. For more information, see [Compact overlay encoding](https://docs.here.com/map-rendering/docs/custom-overlay).\n\nFormat: `geometryType \":\" geometry [\";\" properties] { \"|\" geometry [\";\" properties] } [\"|\" globalProperties]`\n\n* `geometryType = \"point\" | \"multiPoint\" | \"line\" | \"multiLine\" | \"polygon\" | \"multiPolygon\"`\n* `geometry = point | multiPoint | line | multiLine | polygon | multiPolygon`\n* `point = latitude \",\" longitude`\n* `multiPoint = line`\n* `line = (point { \",\" point }) | flexiblePolyline`\n* `multiLine = line {\";\" line}`\n* `polygon = multiLine`\n* `multiPolygon = polygon { \";;\" polygon }`\n* `globalProperties = properties`\n* `properties = propertyName \"=\" propertyValue { \";\" propertyName \"=\" propertyValue }`\n\nOnly a single geometry type is supported within an `overlay` parameter instance. To specify multiple different geometry types, add multiple instances of the `overlay` parameter.\n\nThe geometry is defined by a list of geo coordinates. The number of coordinate pairs that are required for the `ovelay` parameter depends on the geometry type that parameter represents. \n[Flexible polyline](https://github.com/heremaps/flexible-polyline) provides the alternative and more compact way of representing the multiPoint and line geometries.\n\nThe geometry is followed by the properties. Properties comprise of name = value pairs, separated by \";\". The list of valid properties depends on the geometry type and is used to control its appearance. \n\nYou can specify multiple features of a single geometry type in an `overlay` parameter value. The features are separated by the \"|\" character. If the last feature contains no geometry it is interpreted as globalProperties. The global properties are applied to all features. For more information, see [Shared style properties](https://docs.here.com/map-rendering/docs/custom-overlay#shared-style-properties).\n"
      style: form
      explode: true
      example:
      - point:52.523882,13.366267;color=%23FF0000;size=small
      - multiPoint:52.523883,13.366267,52.520409,13.367164
      - point:52.523883,13.366267;style=circle
      - multiPoint:52.523883,13.366267,52.520409,13.367164;style=circle
      - line:52.523883,13.366267,52.520409,13.367164;color=%23FF0000;width=4
      - multiLine:52.523883,13.366267,52.520409,13.367164;52.522064,13.362986,52.522566,13.369899;color=%23FF0000;width=4
      - polygon:52.523706,13.359598,52.522141,13.354542,52.520630,13.357341,52.521701,13.360907,52.523706,13.359598;52.522034,13.357842,52.521647,13.357177,52.521568,13.358089,52.522034,13.357842;color=%23FF0000
      - multiPolygon:52.523706,13.359598,52.522141,13.354542,52.520630,13.357341,52.521701,13.360907,52.523706,13.359598;52.522034,13.357842,52.521647,13.357177,52.521568,13.358089,52.522034,13.357842;;52.526190,13.361306,52.524800,13.362416,52.523816,13.361591,52.524337,13.364985,52.526190,13.361306;52.524935,13.362955,52.524376,13.362479,52.524163,13.363272,52.524646,13.364002,52.524935,13.362955;color=%23FF0000
      - point:52.523882,13.366267;label=Dummy \nLabel
      schema:
        $ref: '#/components/schemas/OverlaySchema'
    StyleParam:
      in: query
      name: style
      required: false
      description: 'If present, selects the style to use to render the image. The /info endpoint response lists the available values. For more information, see [Define the map styles](https://docs.here.com/map-rendering/docs/styles).

        When you do not provide this parameter in a query, the default style is "explore.day".

        '
      example: lite.day
      schema:
        $ref: '#/components/schemas/StyleSchema'
    ScaleBarParam:
      in: query
      name: scaleBar
      required: false
      description: 'Determines whether to show a scale bar in kilometers (km) and/or miles (mi). For more information, see [Add a scale bar overlay](https://docs.here.com/map-rendering/docs/scalebar).

        '
      example: mi
      schema:
        $ref: '#/components/schemas/ScaleBarSchema'
  securitySchemes:
    ApiKey:
      type: apiKey
      in: query
      name: apiKey
      description: 'A key generated specifically to authenticate API requests. For more information on how to get an API key, see the  [Identity & Access Management Guide - API Keys](https://docs.here.com/identity-and-access-management/docs/plat-using-apikeys).

        '
    Bearer:
      type: http
      scheme: bearer
      bearerFormat: JWT
      description: 'A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.

        For more information on how to get a bearer token, see the

        [Identity & Access Management Guide - OAuth tokens](https://docs.here.com/identity-and-access-management/docs/how-to-authorize-with-oauth-20).

        '
externalDocs:
  description: The Developer guide, Release notes, and Migration guide are available here.
  url: https://docs.here.com/map-rendering/docs/introduction-map-image-api
