openapi: 3.2.0
info:
  title: Lookup Service v1 Platform API
  description: 'The API Lookup Service is a platform service with following goals:

    - Redirect users to REST APIs related to a resource identified by an HRN

    - Given an HRN, provide parameters to be used in REST APIs calls.

    - Discovery of other platform APIs.'
  version: 1.0.4
  x-olp-service:
    name: lookup
    version: v1
servers:
- url: https://api-lookup.data.api.platform.here.com/lookup/v1
security:
- Bearer: []
tags:
- name: Platform
  description: Lookup of platform-wide, general APIs
paths:
  /platform/apis:
    get:
      tags:
      - Platform
      summary: Return the list of the platform APIs
      description: Return the list of the platform APIs. This response is valid for the time specified by 'Cache-Control' header.
      operationId: API Lookup Service v1 platformAPIList
      responses:
        '200':
          description: The list of APIs of the platform
          headers:
            Cache-Control:
              description: Standard HTTP header defining validity of the response as per [RFC 7234](https://tools.ietf.org/html/rfc7234#section-5.2).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API'
        '404':
          description: Error looking up the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Resource not Found
                description: Requested resource not found
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal Server Error
                description: There was an internal server error.
      x-olp-access-type: authenticated
  /platform/apis/{api}/{version}:
    get:
      tags:
      - Platform
      summary: Return details of a single platform API
      description: Return details of a single platform API. This response is valid for the time specified by 'Cache-Control' header.
      operationId: API Lookup Service v1 platformAPI
      parameters:
      - name: api
        in: path
        description: The identifier of the API
        required: true
        schema:
          pattern: ^[a-z0-9\-_]+$
          type: string
      - name: version
        in: path
        description: The version of the API
        required: true
        schema:
          pattern: ^v[0-9]+(\.[0-9]+)?$
          type: string
      responses:
        '200':
          description: Details of the requested API
          headers:
            Cache-Control:
              description: Standard HTTP header defining validity of the response as per [RFC 7234](https://tools.ietf.org/html/rfc7234#section-5.2).
              schema:
                type: string
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/API'
        '404':
          description: Error looking up the API
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 404
                message: Resource not Found
                description: Requested resource not found
        '500':
          description: Unexpected server error
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Error'
              example:
                code: 500
                message: Internal Server Error
                description: There was an internal server error.
      x-olp-access-type: authenticated
components:
  schemas:
    Error:
      required:
      - code
      - message
      type: object
      properties:
        code:
          type: integer
          description: Repetition of the HTTP error code
          format: int32
        message:
          type: string
          description: Short description of the error
        description:
          type: string
          description: Complete description of the error
    API:
      required:
      - api
      - baseURL
      - version
      type: object
      properties:
        api:
          pattern: ^[a-z0-9\-_]+$
          type: string
          description: The name of the API.
          example: config
        version:
          pattern: ^v[0-9]+(\.[0-9]+)?$
          type: string
          description: The version of the API.
          example: v1
        baseURL:
          type: string
          description: 'The base URL to use when constructing HTTP calls to the API. Concatenate the base URL with the API path shown in the API specification. For example, for the ''config'' API''s catalog list endpoint, you would construct the URL as follows: ''https://config.data.api.platform.here.com/config/v1'' + ''/catalogs'' where the first part of the URL is the base URL and the second part is the API path.'
          format: url
          example: https://config.data.api.platform.here.com/config/v1
  securitySchemes:
    Bearer:
      type: apiKey
      description: 'A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.


        For more information on how to get a bearer token, see the [Identity & Access Management Guide](https://developer.here.com/documentation/identity-access-management/dev_guide/index.html).

        '
      name: Authorization
      in: header
externalDocs:
  description: The developer guide is available here.
  url: https://www.here.com/docs/category/api-lookup
