openapi: 3.2.0
info:
  version: 2.6.11
  title: HERE Tracking Shadows API
  description: 'HERE Tracking is a cloud product designed to address location tracking problems for a wide range of Location IoT industry verticals.


    HERE Tracking also includes end-user mobile and web applications that can be used to demonstrate the product.'
  license:
    name: HERE Documentation License
    url: https://legal.here.com/en-gb/terms/documentation-license
servers:
- url: https://tracking.hereapi.com/
- url: https://tracking.api.here.com/
tags:
- description: 'The Shadows service provides an effective way to manage configurations

    for devices that are only intermittently online.'
  name: Shadows
paths:
  /shadows/v2/health:
    get:
      summary: Gets service health
      security: []
      responses:
        '200':
          description: 'OK


            The service is performing as expected

            '
          content:
            application/json:
              schema:
                type: object
                properties:
                  message:
                    type: string
                    description: Health status
                example:
                  message: healthy
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Shadows
      operationId: getShadowsV2Health
      x-operation-id-source: derived
  /shadows/v2/version:
    get:
      summary: Gets service version
      security: []
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: "OK\nService returns its current version number\nschema:\n    type: object\n    properties:\n        \"service-name\":\n            type: string\n            description: Version of service\n    example:\n        servicename: \"1.0.0\"\n"
        '500':
          description: 'Service unavailable


            The service is not performing as expected

            '
      tags:
      - Shadows
      operationId: getShadowsV2Version
      x-operation-id-source: derived
  /shadows/v2/{trackingId}:
    parameters:
    - in: header
      name: X-Request-Id
      schema:
        type: string
        format: uuid
      description: 'ID used for correlating requests within HERE Tracking. Used for logging and error reporting.


        Must be a valid UUIDv4.

        '
      required: false
    - name: appId
      description: Application identifier. Used together with an external ID to identify a virtual device.
      schema:
        type: string
        minLength: 8
      in: query
      required: false
    put:
      summary: Updates a device shadow
      description: 'Updates the `trackingId` device desired shadow.


        The device shadow consists of `reported` and `desired` shadows.

        Only the `desired` shadow can be updated via this endpoint.

        The `reported` shadow is updated automatically when the device sends telemetry to the ingestion endpoint.'
      security:
      - UserToken: []
      - ClientToken: []
      - DeviceToken: []
      parameters:
      - name: content-length
        in: header
        required: true
        description: 'The size of the shadow in bytes. The size is validated against the

          maximum limit of 1000 bytes.

          '
        schema:
          type: number
          minimum: 0
          maximum: 1000
      - name: trackingId
        in: path
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user.
        required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                desired:
                  description: 'The desired shadow of the device.

                    '
                  type: object
                  properties:
                    payload:
                      type: object
                      description: 'A free format JSON object.

                        The maximum size is 1000B.

                        '
                    system:
                      description: 'Contains values for the device configuration. HERE Tracking uses these values

                        for various application flows.

                        '
                      type: object
                      properties:
                        powerSave:
                          description: Power save mode parameters.
                          type: object
                          properties:
                            sendMs:
                              description: The rate at which to send sample results in milliseconds in power save mode. A missing or zero value means power save mode is disabled. If present must be bigger than the value of `system.rate.sendMs`.
                              type: number
                              minimum: 0
                        rate:
                          description: This can be used to specify the rates at which the device performs certain tasks.
                          type: object
                          properties:
                            sampleMs:
                              description: The rate at which to sample signals in milliseconds. Must be smaller than the value of `system.rate.sendMs`.
                              type: number
                              minimum: 0
                            sendMs:
                              description: The rate at which to send sample results in milliseconds
                              type: number
                              minimum: 0
                            distanceM:
                              description: Send an update if the device has moved farther than the specified distance in meters
                              type: number
                              minimum: 0
                        syncGeofences:
                          description: A boolean value that sets efficient geofencing on or off
                          type: boolean
                        detectOutliers:
                          description: A boolean value that sets outlier detection on or off
                          type: boolean
                        disableTracking:
                          type: object
                          description: 'Tracking can be disabled and enabled by defining disableTracking object.

                            In order to disable tracking, one must at least provide the begin time of the disabling

                            period and define either position or sensor properties one wants to disable. One can also

                            disable both position and sensors at the same time. By default tracking is enabled.

                            '
                          properties:
                            periods:
                              description: 'Define begin and end of the disabling period. All trace points with timestamp that falls between begin and end times will be disabled according to the settings defined in the position and sensors properties.

                                '
                              type: array
                              minItems: 0
                              maxItems: 1
                              title: Array of periods
                              items:
                                type: object
                                properties:
                                  begin:
                                    type: integer
                                    description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                      Begin time of the tracking disabling period.


                                      Begin must be smaller than end. Begin must be greater or equal to current time.

                                      Begin can be set without end. If there exists already end time which is earlier

                                      than given new begin time, the existing end time will be deleted.

                                      '
                                    minimum: 2
                                    maximum: 4102448400000
                                  end:
                                    type: integer
                                    description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                      End time of the tracking disabling period.


                                      End must be greater than begin. End must be greater or equal to current time.

                                      End can be set without begin if begin is already set.

                                      '
                                    minimum: 2
                                    maximum: 4102448400000
                            position:
                              description: Define position methods to be disabled
                              oneOf:
                              - type: string
                                title: all positioning
                                enum:
                                - all
                                description: 'All positioning data the device sends will be removed before further processing. No geofence and location events will be generated

                                  '
                              - type: array
                                minItems: 1
                                title: specified positioning methods
                                items:
                                  type: string
                                  enum:
                                  - bt
                                  - country
                                  - gsm
                                  - wcdma
                                  - tdscdma
                                  - lte
                                  - cdma
                                  - wlan
                                  - gps
                                  description: 'The items specified in the position array will be removed from the ingestion scan object before further processing. Position may be resolved by the remaining scan properties. Some geofence and location events may be generated.

                                    '
                              - type: string
                                title: re-enable
                                enum:
                                - ''
                                description: 'By setting the position property empty string, all positioning data will be re-enabled during the disabling period.

                                  '
                            sensors:
                              description: Define sensors to be disabled
                              oneOf:
                              - type: string
                                enum:
                                - all
                                title: all sensors
                                description: 'All sensor data the device sends will be removed before further processing. No sensor events will be generated.

                                  '
                              - type: array
                                minItems: 1
                                title: specified sensors
                                items:
                                  type: string
                                  enum:
                                  - accelerationG
                                  - deviceIsAttached
                                  - deviceIsStationary
                                  - batteryIsCharging
                                  - batteryLevel
                                  - pressureHpa
                                  - relativeHumidity
                                  - deviceIsTampered
                                  - temperatureC
                                  - tiltDegree
                                  description: 'The items specified in the sensors array will be removed from the ingestion system.reportedSensorData object before further processing. Sensor events will not be generated for the disabled sensors.

                                    '
                              - type: string
                                title: re-enable
                                enum:
                                - ''
                                description: 'By setting the sensors property empty string, all sensors data will be re-enabled during the disabling period.

                                  '
                        wlanConnectivityEnabled:
                          description: A boolean value that sets wlan connectivity on or off
                          type: boolean
                        wlanConfigurations:
                          description: An array of objects that holds wlan configurations
                          type: array
                          minItems: 0
                          maxItems: 10
                          items:
                            type: object
                            properties:
                              securityMode:
                                description: Selected security mode
                                type: string
                                enum:
                                - none
                                - wpa2psk
                              ssid:
                                description: Name given to a WLAN that is used by the client to access a WLAN network. Please note that the SSID is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity.
                                type: string
                                minLength: 1
                                maxLength: 32
                              password:
                                description: WLAN password. Please note that the password is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity. Password is required if security mode is other then 'none'.
                                type: string
                                minLength: 8
                                maxLength: 63
                              ssidIsHidden:
                                description: Flag that informs if SSID is hidden
                                type: boolean
                            additionalProperties: false
                            required:
                            - securityMode
                            - ssid
                        sensorLoggingEnabled:
                          description: Flag that sets sensor logging on or off
                          type: boolean
                        sensorLoggingConfigurations:
                          description: An array of objects that holds sensor logging configurations
                          type: array
                          minItems: 0
                          maxItems: 5
                          items:
                            type: object
                            properties:
                              type:
                                description: Type of single sensor logging configuration
                                type: string
                                enum:
                                - acceleration
                                - pressure
                                - temperature
                                - humidity
                                - gnss
                              samplingFrequency:
                                description: Sampling frequrency of single sensor loggin configuration (in milliseconds)
                                type: number
                                minimum: 1
                            additionalProperties: false
                            required:
                            - type
                        sensorLoggingTag:
                          description: Tag for the logged sensor data.
                          type: string
                          minLength: 1
                          maxLength: 50
                      additionalProperties: false
                  additionalProperties: false
              required:
              - desired
              additionalProperties: false
      tags:
      - Shadows
      responses:
        '200':
          description: 'Success

            '
          content:
            application/json:
              schema:
                description: 'The data that Shadows persists for each device.

                  '
                type: object
                properties:
                  desired:
                    description: 'The desired shadow of the device.

                      '
                    type: object
                    properties:
                      payload:
                        type: object
                        description: 'A free format JSON object.

                          The maximum size is 1000B.

                          '
                      system:
                        type: object
                        description: 'Contains device configuration settings.

                          '
                        properties:
                          powerSave:
                            description: Power save mode parameters.
                            type: object
                            properties:
                              sendMs:
                                description: The rate at which to send sample results in milliseconds in power save mode. A missing or zero value means power save mode is disabled. If present must be bigger than the value of `system.rate.sendMs`.
                                type: number
                                minimum: 0
                          rate:
                            description: This can be used to specify the rates at which the device performs certain tasks.
                            type: object
                            properties:
                              sampleMs:
                                description: The rate at which to sample signals in milliseconds. Must be smaller than the value of `system.rate.sendMs`.
                                type: number
                                minimum: 0
                              sendMs:
                                description: The rate at which to send sample results in milliseconds
                                type: number
                                minimum: 0
                              distanceM:
                                description: Send an update if the device has moved farther than the specified distance in meters
                                type: number
                                minimum: 0
                          syncGeofences:
                            description: A boolean value that sets efficient geofencing on or off
                            type: boolean
                          detectOutliers:
                            description: A boolean value that sets outlier detection on or off
                            type: boolean
                          disableTracking:
                            type: object
                            description: 'Tracking can be disabled and enabled by defining disableTracking object.

                              In order to disable tracking, one must at least provide the begin time of the disabling

                              period and define either position or sensor properties one wants to disable. One can also

                              disable both position and sensors at the same time. By default tracking is enabled.

                              '
                            properties:
                              periods:
                                description: 'Define begin and end of the disabling period. All trace points with timestamp that falls between begin and end times will be disabled according to the settings defined in the position and sensors properties.

                                  '
                                type: array
                                minItems: 0
                                maxItems: 1
                                title: Array of periods
                                items:
                                  type: object
                                  properties:
                                    begin:
                                      type: integer
                                      description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                        Begin time of the tracking disabling period.


                                        Begin must be smaller than end. Begin must be greater or equal to current time.

                                        Begin can be set without end. If there exists already end time which is earlier

                                        than given new begin time, the existing end time will be deleted.

                                        '
                                      minimum: 2
                                      maximum: 4102448400000
                                    end:
                                      type: integer
                                      description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                        End time of the tracking disabling period.


                                        End must be greater than begin. End must be greater or equal to current time.

                                        End can be set without begin if begin is already set.

                                        '
                                      minimum: 2
                                      maximum: 4102448400000
                              position:
                                description: Define position methods to be disabled
                                oneOf:
                                - type: string
                                  title: all positioning
                                  enum:
                                  - all
                                  description: 'All positioning data the device sends will be removed before further processing. No geofence and location events will be generated

                                    '
                                - type: array
                                  minItems: 1
                                  title: specified positioning methods
                                  items:
                                    type: string
                                    enum:
                                    - bt
                                    - country
                                    - gsm
                                    - wcdma
                                    - tdscdma
                                    - lte
                                    - cdma
                                    - wlan
                                    - gps
                                    description: 'The items specified in the position array will be removed from the ingestion scan object before further processing. Position may be resolved by the remaining scan properties. Some geofence and location events may be generated.

                                      '
                                - type: string
                                  title: re-enable
                                  enum:
                                  - ''
                                  description: 'By setting the position property empty string, all positioning data will be re-enabled during the disabling period.

                                    '
                              sensors:
                                description: Define sensors to be disabled
                                oneOf:
                                - type: string
                                  enum:
                                  - all
                                  title: all sensors
                                  description: 'All sensor data the device sends will be removed before further processing. No sensor events will be generated.

                                    '
                                - type: array
                                  minItems: 1
                                  title: specified sensors
                                  items:
                                    type: string
                                    enum:
                                    - accelerationG
                                    - deviceIsAttached
                                    - deviceIsStationary
                                    - batteryIsCharging
                                    - batteryLevel
                                    - pressureHpa
                                    - relativeHumidity
                                    - deviceIsTampered
                                    - temperatureC
                                    - tiltDegree
                                    description: 'The items specified in the sensors array will be removed from the ingestion system.reportedSensorData object before further processing. Sensor events will not be generated for the disabled sensors.

                                      '
                                - type: string
                                  title: re-enable
                                  enum:
                                  - ''
                                  description: 'By setting the sensors property empty string, all sensors data will be re-enabled during the disabling period.

                                    '
                          stateVersion:
                            description: 'The version of the state of a device. This should be incremented only by HERE Tracking.

                              '
                            type: integer
                            minimum: 0
                          lastModifiedGeofenceTimestamp:
                            description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                              The time of the last update to geofences that device is associated

                              with. This value is zero when device hasn''t yet been associated with

                              any geofence. This is set by HERE Tracking when any geofences

                              associated with the device is modified or removed. Also adding and

                              removing geofence associations update this value.

                              '
                            maximum: 4102448400000
                            minimum: 0
                            type: integer
                          sensorAlarmConfig:
                            description: 'The device sensors alarm configuration.

                              '
                            type: object
                            properties:
                              alertTemperatureCMin:
                                type: number
                                description: A lower threshold value for temperature in degrees Celsius.
                              alertTemperatureCMax:
                                type: number
                                description: An upper threshold value for temperature in degrees Celsius.
                              alertRelativeHumidityMin:
                                type: number
                                description: A lower threshold value for relative humidity percentage.
                              alertRelativeHumidityMax:
                                type: number
                                description: An upper threshold value for relative humidity percentage.
                              alertAccelerationGMin:
                                type: number
                                description: A lower threshold value for acceleration in g-forces.
                              alertAccelerationGMax:
                                type: number
                                description: An upper threshold value for acceleration in g-forces.
                              alertTiltDegreeMin:
                                type: number
                                description: A lower threshold value for tilt in degrees.
                              alertTiltDegreeMax:
                                type: number
                                description: An upper threshold value for tilt in degrees.
                              alertPressureHpaMin:
                                type: number
                                description: A lower threshold value for pressure in hectopascals.
                              alertPressureHpaMax:
                                type: number
                                description: An upper threshold value for pressure in hectopascals.
                              alertBatteryLevelPMin:
                                type: number
                                description: A lower threshold value for battery level percentage.
                              alertBatteryLevelPMax:
                                type: number
                                description: An upper threshold value for battery level percentage.
                              isAttachAlertEnabled:
                                type: boolean
                                default: false
                                description: True if attach sensor alert in device is enabled.
                              isTamperAlertEnabled:
                                type: boolean
                                default: false
                                description: True if tamper sensor alert in device is enabled.
                          wlanConnectivityEnabled:
                            description: A boolean value that sets wlan connectivity on or off
                            type: boolean
                          wlanConfigurations:
                            description: An array of objects that holds wlan configurations
                            type: array
                            minItems: 0
                            maxItems: 10
                            items:
                              type: object
                              properties:
                                securityMode:
                                  description: Selected security mode
                                  type: string
                                  enum:
                                  - none
                                  - wpa2psk
                                ssid:
                                  description: Name given to a WLAN that is used by the client to access a WLAN network. Please note that the SSID is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity.
                                  type: string
                                  minLength: 1
                                  maxLength: 32
                                password:
                                  description: WLAN password. Please note that the password is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity. Password is required if security mode is other then 'none'.
                                  type: string
                                  minLength: 8
                                  maxLength: 63
                                ssidIsHidden:
                                  description: Flag that informs if SSID is hidden
                                  type: boolean
                              additionalProperties: false
                              required:
                              - securityMode
                              - ssid
                          sensorLoggingEnabled:
                            description: Flag that sets sensor logging on or off
                            type: boolean
                          sensorLoggingConfigurations:
                            description: An array of objects that holds sensor logging configurations
                            type: array
                            minItems: 0
                            maxItems: 5
                            items:
                              type: object
                              properties:
                                type:
                                  description: Type of single sensor logging configuration
                                  type: string
                                  enum:
                                  - acceleration
                                  - pressure
                                  - temperature
                                  - humidity
                                  - gnss
                                samplingFrequency:
                                  description: Sampling frequrency of single sensor loggin configuration (in milliseconds)
                                  type: number
                                  minimum: 1
                              additionalProperties: false
                              required:
                              - type
                          sensorLoggingTag:
                            description: Tag for the logged sensor data.
                            type: string
                            minLength: 1
                            maxLength: 50
                        required:
                        - stateVersion
                        - lastModifiedGeofenceTimestamp
                      timestamp:
                        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                          The time of the last update to the desired shadow.

                          '
                        maximum: 4102448400000
                        minimum: 2
                        type: integer
                  reported:
                    description: 'The `reported` shadow contains the most recent position, sensor readings and settings that the

                      device has sent. The reported shadow may also contain additional properties generated by HERE

                      Tracking based on the device-ingested telemetry.

                      Such properties are stored in `system.computed` property of the shadow.


                      In case the most recent telemetry did not contain all the possible

                      fields, the last known information will remain in the shadow. This means that one can

                      see, for example, the last reported temperature or tracker firmware information in the reported shadow,

                      even if the device did not send that information in the latest telemetry.

                      '
                    type: object
                    properties:
                      payload:
                        type: object
                        description: 'A free format JSON object.

                          The maximum size is 1000B.

                          '
                      position:
                        type: object
                        description: The device location
                        properties:
                          accuracy:
                            description: Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).
                            type: number
                            minimum: 0
                          alt:
                            description: Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.
                            type: number
                          altaccuracy:
                            description: Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).
                            type: number
                            minimum: 0
                          confidence:
                            description: Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).
                            type: integer
                            minimum: 50
                            maximum: 95
                          heading:
                            description: GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.
                            type: integer
                            minimum: 0
                            maximum: 359
                          floor:
                            description: The building where the measurements were taken
                            type: object
                            required:
                            - id
                            - name
                            - level
                            properties:
                              level:
                                description: The floor in the building in integer format
                                type: number
                                minimum: -999
                                maximum: 999
                              id:
                                description: The building id
                                type: string
                                minimum: 1
                                maximum: 100
                              name:
                                description: The building name
                                type: string
                                minimum: 1
                                maximum: 255
                          lat:
                            description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                            type: number
                            minimum: -90
                            maximum: 90
                          lng:
                            description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                            type: number
                            minimum: -180
                            maximum: 180
                          satellitecount:
                            description: Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)
                            type: integer
                            minimum: 1
                            maximum: 50
                          speed:
                            description: GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.
                            type: integer
                            minimum: 0
                          type:
                            description: Position type, 'gnss' (satellite based), 'cell' or 'wlan' (network based)
                            type: string
                          wlancount:
                            description: The total number of observed WLAN APs in the scan used for producing the position. ('wlan' position type only)
                            type: integer
                            minimum: 1
                            maximum: 254
                          timestamp:
                            description: Timestamp of the position
                            type: integer
                            minimum: 2
                            maximum: 4102448400000
                        required:
                        - lat
                        - lng
                        - accuracy
                      system:
                        allOf:
                        - type: object
                          properties:
                            phoneNumber:
                              type: string
                              pattern: ^\+[1-9]\d{1,14}$
                              description: 'The phone number of the device''s SIM card in the international E.164 format. All the country codes should be prefixed a with "+" instead of "00".

                                '
                              example: '+491234567890'
                            imsi:
                              type: string
                              pattern: ^[0-9]{1,15}$
                              description: 'The IMSI of the device''s SIM card.

                                '
                              example: '123456789012345'
                            iccid:
                              type: string
                              minLength: 18
                              maxLength: 22
                              description: SIM card integrated circuit card identifier (ICCID)
                            client:
                              description: 'Information about the client device.

                                '
                              type: object
                              properties:
                                manufacturer:
                                  description: Manufacturer of the device (hardware)
                                  type: string
                                  minLength: 2
                                  maxLength: 50
                                model:
                                  description: Model of the device (hardware)
                                  type: string
                                  minLength: 1
                                  maxLength: 50
                                firmware:
                                  description: Device firmware version information
                                  type: string
                                  minLength: 1
                                  maxLength: 150
                                name:
                                  description: Name of the client software accessing the HERE API
                                  type: string
                                  minLength: 3
                                  maxLength: 50
                                version:
                                  description: Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.
                                  type: string
                                  minLength: 3
                                  maxLength: 60
                                platform:
                                  description: Software platform information of the device, for example operating system name and version.
                                  type: string
                                  minLength: 3
                                  maxLength: 50
                                modules:
                                  description: Software information of all updateable chips.
                                  type: array
                                  maxItems: 10
                                  items:
                                    description: Software information of an updateable chip.
                                    type: object
                                    properties:
                                      manufacturer:
                                        type: string
                                        description: Manufacturer name
                                        minLength: 2
                                        maxLength: 50
                                      model:
                                        type: string
                                        description: Model or chip name
                                        minLength: 1
                                        maxLength: 50
                                      firmwareVersion:
                                        type: string
                                        description: Installed firmware version
                                        minLength: 3
                                        maxLength: 60
                                diskquota:
                                  description: Available disk quota in kilobytes.
                                  type: number
                                  minimum: 0
                                diagnosticscode:
                                  description: Device diagnostics code.
                                  type: number
                                homenetwork:
                                  description: Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both subscriptions.
                                  type: array
                                  maxItems: 2
                                  items:
                                    description: Network information. Either MCC + MNC or SID + NID attribute pair is required.
                                    type: object
                                    properties:
                                      mcc:
                                        description: Mobile Country Code
                                        type: integer
                                        minimum: 200
                                        maximum: 999
                                      mnc:
                                        description: Mobile Network Code
                                        type: integer
                                        minimum: 0
                                        maximum: 999
                                      sid:
                                        description: System Id, SID
                                        type: integer
                                        minimum: 1
                                        maximum: 32767
                                      nid:
                                        description: Network Id, NID
                                        type: integer
                                        minimum: 0
                                        maximum: 65535
                                hasAttachSensor:
                                  type: boolean
                                  description: True if a device has a sensor to detect if the device is attached to or detached from an object.
                                hasNoBattery:
                                  type: boolean
                                  description: False if a device has a battery.
                                hasHumiditySensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure humidity.
                                hasPressureSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure pressure.
                                hasTamperSensor:
                                  type: boolean
                                  description: True if a device has a sensor to detect if device is disassembled.
                                hasTemperatureSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure temperature.
                                hasAccelerometerSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure acceleration.
                                accelerometerSensorRange:
                                  description: 'Specifies the range of measurable acceleration, representation

                                    unit g (9.8 m/s^2). If more than one accelerometer is available,

                                    each element in the list will represent individual accelerometer.

                                    Each value represents a single "+/-" range.

                                    For example, value 2 means that sensor is capable to measure

                                    acceleration within the range of [-2 g, +2 g].

                                    '
                                  type: array
                                  maxItems: 5
                                  items:
                                    type: integer
                                    minimum: -1000
                                    maximum: 1000
                              example:
                                manufacturer: Samsung
                                model: SM-G930F
                                firmware: heroltexx...
                                name: HERE Tracker
                                version: 1.6.1
                                platform: Android
                                diskquota: 256
                                diagnosticscode: 0
                                homenetwork: []
                                hasAttachSensor: true
                                hasNoBattery: false
                                hasHumiditySensor: true
                                hasPressureSensor: true
                                hasTamperSensor: true
                                hasTemperatureSensor: true
                                hasAccelerometerSensor: true
                                accelerometerSensorRange:
                                - 2
                            stateVersion:
                              description: 'The version of the state of a device. This should be incremented only by HERE Tracking.

                                '
                              type: integer
                              minimum: 0
                            reportedSensorData:
                              description: 'The last known device sensor data reported by the device.

                                '
                              type: object
                              properties:
                                accelerationG:
                                  type: number
                                  description: A g-force value of acceleration.
                                  minimum: -100
                                  maximum: 100
                                deviceIsAttached:
                                  type: boolean
                                  description: True if device is attached to an object.
                                deviceIsStationary:
                                  type: boolean
                                  description: True if device hasn't detected movement.
                                batteryIsCharging:
                                  type: boolean
                                  description: True if device battery is charging.
                                batteryLevel:
                                  type: integer
                                  description: A value of percentage battery level.
                                  minimum: 0
                                  maximum: 100
                                pressureHpa:
                                  type: number
                                  description: A value of pressure in hectopascal.
                                  minimum: 300
                                  maximum: 1500
                                relativeHumidity:
                                  type: number
                                  description: A value of relative humidity in percent.
                                  minimum: 0
                                  maximum: 100
                                deviceIsTampered:
                                  type: boolean
                                  description: True if device is tampered.
                                temperatureC:
                                  type: number
                                  description: A value of temperature in celcius.
                                  minimum: -70
                                  maximum: 100
                                tiltDegree:
                                  type: number
                                  description: A value of tilt in degrees.
                            mode:
                              description: 'Tracker mode status of the device.

                                When a tracker is in normal mode, it can send telemetry and, for

                                example, use its GNSS receiver if it has one.

                                A tracker switches into flight mode once it detects that it''s in an

                                airplane, and leaves that mode once the airplane lands.

                                Transport mode has to be triggered by the user, and it''s used,

                                for example, during shipping from continent to another.

                                Sleep mode is used when a tracker is stored in a warehouse, and

                                it''s triggered by entering or leaving some defined geofence.

                                Power save mode can be enabled with `system.powerSave.sendMs`

                                property in the desired shadow and when enabled the device enters

                                power save mode when the device is not moving.

                                '
                              type: string
                              enum:
                              - unknown
                              - normal
                              - flight
                              - transport
                              - sleep
                              - powerSave
                          description: 'Contains device-reported sensor data and device configuration settings.

                            `stateVersion` property contains the version of the last

                            known `desired` state seen by the device.

                            '
                        - type: object
                          properties:
                            computed:
                              description: Values computed by HERE Tracking based on other data available.
                              properties:
                                online:
                                  description: Online status of the device. Computed based on the device's reporting rate. If the device has not reported within the time frame of the reporting rate plus five minutes, the device is considered to be offline. If the reporting rate is not specified for the device, a default of 15 minutes is used.
                                  type: boolean
                                moving:
                                  description: 'Asset is considered moving if the positions of two consecutive trace points differ more

                                    than the combined positioning accuracy + 100 meters.

                                    '
                                  type: boolean
                                lastMovedTimestamp:
                                  description: 'Timestamp referring to the trace point when the asset was last detected moving.

                                    Asset is considered moving if the positions of two consecutive trace points differ more

                                    than the combined positioning accuracy + 100 meters.

                                    '
                                  type: integer
                                outlier:
                                  description: 'Indicates that HERE Tracking detected position to be a possible outlier.

                                    '
                                  type: object
                                  properties:
                                    reason:
                                      description: Reason why position was considered to be an outlier.
                                      type: string
                                    correctedPosition:
                                      description: HERE Tracking estimate of more correct position.
                                      type: object
                                      properties:
                                        accuracy:
                                          description: Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).
                                          type: number
                                          minimum: 0
                                        lat:
                                          description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                                          type: number
                                          minimum: -90
                                          maximum: 90
                                        lng:
                                          description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                                          type: number
                                          minimum: -180
                                          maximum: 180
                                        timestamp:
                                          type: integer
                                          description: Milliseconds elapsed since 1 January 1970 00:00:00 UTC.
                                          minimum: 2
                                          maximum: 4102448400000
                                      required:
                                      - accuracy
                                      - lat
                                      - lng
                                  required:
                                  - reason
                      timestamp:
                        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                          The timestamp of the newest telemetry sent by the device. Note that this is not necessarily

                          the timestamp of all the reported values in the reported shadow since the shadow retains

                          values from previous ingestions if the latest telemetry did not conatain them.

                          '
                        maximum: 4102448400000
                        minimum: 2
                        type: integer
              example:
                desired:
                  payload:
                    color: red
                  system:
                    stateVersion: 2
                    rate:
                      sendMs: 300000
                      sampleMs: 300000
                      distanceM: 0
                    lastModifiedGeofenceTimestamp: 0
                  timestamp: 1461065261010
        '400':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Bad request
                code: 400
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request object is in an incorrect format or has values that are invalid or out of range.
                details:
                  hereErrorCode: 400306
          description: 'Bad request


            The request object is in an incorrect format or has values that are invalid or out of range.


            If available, further error details are provided in the response body.

            '
        '401':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Unauthorized
                code: 401
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The provided credentials are not valid.
                details:
                  hereErrorCode: 401306
          description: 'Unauthorized


            The request did not provide correct authentication details

            '
        '403':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Forbidden
                code: 403
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The account does not have the correct privileges.
                details:
                  hereErrorCode: 403306
          description: 'Forbidden


            The account does not have the correct privileges

            '
        '404':
          description: Not found. Shadow doesn't exist.
        '409':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Conflict
                code: 409
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The specified resource already exists.
                details:
                  hereErrorCode: 404306
          description: 'Conflict


            The specified resource already exists

            '
        '413':
          content:
            application/json:
              schema:
                type: object
                properties:
                  error:
                    type: string
                    description: An HTTP error description
                  code:
                    type: integer
                    description: An HTTP status code
                  message:
                    type: string
                    description: Descriptive text that explains the error
                  id:
                    type: string
                    format: uuid
                    description: An error ID that allows you to trace the error details
                  details:
                    description: An optional object containing more information about the error
                required:
                - error
                - code
                - id
              example:
                error: Payload Too Large
                code: 413
                id: 5771b3d4-95ae-4959-ac63-fbaa3d5d06ee-lds2
                message: The request size exceeds the maximum size limit for payloads.
                details:
                  hereErrorCode: 413306
          description: 'Payload Too Large


            The request size exceeds the maximum size limit for payloads.

            '
      operationId: putShadowsV2ByTrackingId
      x-operation-id-source: derived
    get:
      summary: Gets a device shadow
      description: 'Gets the `trackingId` device shadow that contains both `reported` and `desired` shadows.


        If a `shipmentId` is used instead of a `trackingId`, it will return a

        shadow of the device that was most recently active for the shipment. If the shipment

        is still pending or it has been cancelled or completed, an empty shadow will be returned.'
      security:
      - UserToken: []
      - ClientToken: []
      - DeviceToken: []
      parameters:
      - name: trackingId
        in: path
        schema:
          type: string
          minLength: 1
          maxLength: 50
          description: This is a unique ID associated with the device data in HERE Tracking. The `trackingId` gets assigned to a device when the device is claimed by a user. Alternatively, a valid `shipmentId` may be used.
        required: true
      tags:
      - Shadows
      responses:
        '200':
          description: 'Successful


            The device shadow was successfully retrieved.

            '
          content:
            application/json:
              schema:
                description: 'The data that Shadows persists for each device.

                  '
                type: object
                properties:
                  desired:
                    description: 'The desired shadow of the device.

                      '
                    type: object
                    properties:
                      payload:
                        type: object
                        description: 'A free format JSON object.

                          The maximum size is 1000B.

                          '
                      system:
                        type: object
                        description: 'Contains device configuration settings.

                          '
                        properties:
                          powerSave:
                            description: Power save mode parameters.
                            type: object
                            properties:
                              sendMs:
                                description: The rate at which to send sample results in milliseconds in power save mode. A missing or zero value means power save mode is disabled. If present must be bigger than the value of `system.rate.sendMs`.
                                type: number
                                minimum: 0
                          rate:
                            description: This can be used to specify the rates at which the device performs certain tasks.
                            type: object
                            properties:
                              sampleMs:
                                description: The rate at which to sample signals in milliseconds. Must be smaller than the value of `system.rate.sendMs`.
                                type: number
                                minimum: 0
                              sendMs:
                                description: The rate at which to send sample results in milliseconds
                                type: number
                                minimum: 0
                              distanceM:
                                description: Send an update if the device has moved farther than the specified distance in meters
                                type: number
                                minimum: 0
                          syncGeofences:
                            description: A boolean value that sets efficient geofencing on or off
                            type: boolean
                          detectOutliers:
                            description: A boolean value that sets outlier detection on or off
                            type: boolean
                          disableTracking:
                            type: object
                            description: 'Tracking can be disabled and enabled by defining disableTracking object.

                              In order to disable tracking, one must at least provide the begin time of the disabling

                              period and define either position or sensor properties one wants to disable. One can also

                              disable both position and sensors at the same time. By default tracking is enabled.

                              '
                            properties:
                              periods:
                                description: 'Define begin and end of the disabling period. All trace points with timestamp that falls between begin and end times will be disabled according to the settings defined in the position and sensors properties.

                                  '
                                type: array
                                minItems: 0
                                maxItems: 1
                                title: Array of periods
                                items:
                                  type: object
                                  properties:
                                    begin:
                                      type: integer
                                      description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                        Begin time of the tracking disabling period.


                                        Begin must be smaller than end. Begin must be greater or equal to current time.

                                        Begin can be set without end. If there exists already end time which is earlier

                                        than given new begin time, the existing end time will be deleted.

                                        '
                                      minimum: 2
                                      maximum: 4102448400000
                                    end:
                                      type: integer
                                      description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC


                                        End time of the tracking disabling period.


                                        End must be greater than begin. End must be greater or equal to current time.

                                        End can be set without begin if begin is already set.

                                        '
                                      minimum: 2
                                      maximum: 4102448400000
                              position:
                                description: Define position methods to be disabled
                                oneOf:
                                - type: string
                                  title: all positioning
                                  enum:
                                  - all
                                  description: 'All positioning data the device sends will be removed before further processing. No geofence and location events will be generated

                                    '
                                - type: array
                                  minItems: 1
                                  title: specified positioning methods
                                  items:
                                    type: string
                                    enum:
                                    - bt
                                    - country
                                    - gsm
                                    - wcdma
                                    - tdscdma
                                    - lte
                                    - cdma
                                    - wlan
                                    - gps
                                    description: 'The items specified in the position array will be removed from the ingestion scan object before further processing. Position may be resolved by the remaining scan properties. Some geofence and location events may be generated.

                                      '
                                - type: string
                                  title: re-enable
                                  enum:
                                  - ''
                                  description: 'By setting the position property empty string, all positioning data will be re-enabled during the disabling period.

                                    '
                              sensors:
                                description: Define sensors to be disabled
                                oneOf:
                                - type: string
                                  enum:
                                  - all
                                  title: all sensors
                                  description: 'All sensor data the device sends will be removed before further processing. No sensor events will be generated.

                                    '
                                - type: array
                                  minItems: 1
                                  title: specified sensors
                                  items:
                                    type: string
                                    enum:
                                    - accelerationG
                                    - deviceIsAttached
                                    - deviceIsStationary
                                    - batteryIsCharging
                                    - batteryLevel
                                    - pressureHpa
                                    - relativeHumidity
                                    - deviceIsTampered
                                    - temperatureC
                                    - tiltDegree
                                    description: 'The items specified in the sensors array will be removed from the ingestion system.reportedSensorData object before further processing. Sensor events will not be generated for the disabled sensors.

                                      '
                                - type: string
                                  title: re-enable
                                  enum:
                                  - ''
                                  description: 'By setting the sensors property empty string, all sensors data will be re-enabled during the disabling period.

                                    '
                          stateVersion:
                            description: 'The version of the state of a device. This should be incremented only by HERE Tracking.

                              '
                            type: integer
                            minimum: 0
                          lastModifiedGeofenceTimestamp:
                            description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                              The time of the last update to geofences that device is associated

                              with. This value is zero when device hasn''t yet been associated with

                              any geofence. This is set by HERE Tracking when any geofences

                              associated with the device is modified or removed. Also adding and

                              removing geofence associations update this value.

                              '
                            maximum: 4102448400000
                            minimum: 0
                            type: integer
                          sensorAlarmConfig:
                            description: 'The device sensors alarm configuration.

                              '
                            type: object
                            properties:
                              alertTemperatureCMin:
                                type: number
                                description: A lower threshold value for temperature in degrees Celsius.
                              alertTemperatureCMax:
                                type: number
                                description: An upper threshold value for temperature in degrees Celsius.
                              alertRelativeHumidityMin:
                                type: number
                                description: A lower threshold value for relative humidity percentage.
                              alertRelativeHumidityMax:
                                type: number
                                description: An upper threshold value for relative humidity percentage.
                              alertAccelerationGMin:
                                type: number
                                description: A lower threshold value for acceleration in g-forces.
                              alertAccelerationGMax:
                                type: number
                                description: An upper threshold value for acceleration in g-forces.
                              alertTiltDegreeMin:
                                type: number
                                description: A lower threshold value for tilt in degrees.
                              alertTiltDegreeMax:
                                type: number
                                description: An upper threshold value for tilt in degrees.
                              alertPressureHpaMin:
                                type: number
                                description: A lower threshold value for pressure in hectopascals.
                              alertPressureHpaMax:
                                type: number
                                description: An upper threshold value for pressure in hectopascals.
                              alertBatteryLevelPMin:
                                type: number
                                description: A lower threshold value for battery level percentage.
                              alertBatteryLevelPMax:
                                type: number
                                description: An upper threshold value for battery level percentage.
                              isAttachAlertEnabled:
                                type: boolean
                                default: false
                                description: True if attach sensor alert in device is enabled.
                              isTamperAlertEnabled:
                                type: boolean
                                default: false
                                description: True if tamper sensor alert in device is enabled.
                          wlanConnectivityEnabled:
                            description: A boolean value that sets wlan connectivity on or off
                            type: boolean
                          wlanConfigurations:
                            description: An array of objects that holds wlan configurations
                            type: array
                            minItems: 0
                            maxItems: 10
                            items:
                              type: object
                              properties:
                                securityMode:
                                  description: Selected security mode
                                  type: string
                                  enum:
                                  - none
                                  - wpa2psk
                                ssid:
                                  description: Name given to a WLAN that is used by the client to access a WLAN network. Please note that the SSID is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity.
                                  type: string
                                  minLength: 1
                                  maxLength: 32
                                password:
                                  description: WLAN password. Please note that the password is stored to the device unencrypted. Do not use secure private networks, such as Intranet, for tracker WLAN connectivity. Password is required if security mode is other then 'none'.
                                  type: string
                                  minLength: 8
                                  maxLength: 63
                                ssidIsHidden:
                                  description: Flag that informs if SSID is hidden
                                  type: boolean
                              additionalProperties: false
                              required:
                              - securityMode
                              - ssid
                          sensorLoggingEnabled:
                            description: Flag that sets sensor logging on or off
                            type: boolean
                          sensorLoggingConfigurations:
                            description: An array of objects that holds sensor logging configurations
                            type: array
                            minItems: 0
                            maxItems: 5
                            items:
                              type: object
                              properties:
                                type:
                                  description: Type of single sensor logging configuration
                                  type: string
                                  enum:
                                  - acceleration
                                  - pressure
                                  - temperature
                                  - humidity
                                  - gnss
                                samplingFrequency:
                                  description: Sampling frequrency of single sensor loggin configuration (in milliseconds)
                                  type: number
                                  minimum: 1
                              additionalProperties: false
                              required:
                              - type
                          sensorLoggingTag:
                            description: Tag for the logged sensor data.
                            type: string
                            minLength: 1
                            maxLength: 50
                        required:
                        - stateVersion
                        - lastModifiedGeofenceTimestamp
                      timestamp:
                        description: 'Milliseconds elapsed since 1 January 1970 00:00:00 UTC.


                          The time of the last update to the desired shadow.

                          '
                        maximum: 4102448400000
                        minimum: 2
                        type: integer
                  reported:
                    description: 'The `reported` shadow contains the most recent position, sensor readings and settings that the

                      device has sent. The reported shadow may also contain additional properties generated by HERE

                      Tracking based on the device-ingested telemetry.

                      Such properties are stored in `system.computed` property of the shadow.


                      In case the most recent telemetry did not contain all the possible

                      fields, the last known information will remain in the shadow. This means that one can

                      see, for example, the last reported temperature or tracker firmware information in the reported shadow,

                      even if the device did not send that information in the latest telemetry.

                      '
                    type: object
                    properties:
                      payload:
                        type: object
                        description: 'A free format JSON object.

                          The maximum size is 1000B.

                          '
                      position:
                        type: object
                        description: The device location
                        properties:
                          accuracy:
                            description: Uncertainty circle radius in meters (degree of confidence according to the 'confidence' parameter).
                            type: number
                            minimum: 0
                          alt:
                            description: Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive.
                            type: number
                          altaccuracy:
                            description: Uncertainty of the altitude estimate in meters (degree of confidence according to the 'confidence' parameter).
                            type: number
                            minimum: 0
                          confidence:
                            description: Confidence level in percent for the accuracy/uncertainty. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the position; the higher the number, the greater the confidence level).
                            type: integer
                            minimum: 50
                            maximum: 95
                          heading:
                            description: GPS/GNSS heading in degrees, clockwise from true north. You must specify a value for this item when you specify a value for speed.
                            type: integer
                            minimum: 0
                            maximum: 359
                          floor:
                            description: The building where the measurements were taken
                            type: object
                            required:
                            - id
                            - name
                            - level
                            properties:
                              level:
                                description: The floor in the building in integer format
                                type: number
                                minimum: -999
                                maximum: 999
                              id:
                                description: The building id
                                type: string
                                minimum: 1
                                maximum: 100
                              name:
                                description: The building name
                                type: string
                                minimum: 1
                                maximum: 255
                          lat:
                            description: Latitude in WGS-84 format, decimal representation ranging from -90 to 90.
                            type: number
                            minimum: -90
                            maximum: 90
                          lng:
                            description: Longitude in WGS-84 format, decimal representation ranging from -180 to 180.
                            type: number
                            minimum: -180
                            maximum: 180
                          satellitecount:
                            description: Number of GPS/GNSS satellites used for the calculation of the position fix. ('gnss' position type only)
                            type: integer
                            minimum: 1
                            maximum: 50
                          speed:
                            description: GPS/GNSS speed of the device (m/s). One must specify a value for this item when one specifies a value for heading.
                            type: integer
                            minimum: 0
                          type:
                            description: Position type, 'gnss' (satellite based), 'cell' or 'wlan' (network based)
                            type: string
                          wlancount:
                            description: The total number of observed WLAN APs in the scan used for producing the position. ('wlan' position type only)
                            type: integer
                            minimum: 1
                            maximum: 254
                          timestamp:
                            description: Timestamp of the position
                            type: integer
                            minimum: 2
                            maximum: 4102448400000
                        required:
                        - lat
                        - lng
                        - accuracy
                      system:
                        allOf:
                        - type: object
                          properties:
                            phoneNumber:
                              type: string
                              pattern: ^\+[1-9]\d{1,14}$
                              description: 'The phone number of the device''s SIM card in the international E.164 format. All the country codes should be prefixed a with "+" instead of "00".

                                '
                              example: '+491234567890'
                            imsi:
                              type: string
                              pattern: ^[0-9]{1,15}$
                              description: 'The IMSI of the device''s SIM card.

                                '
                              example: '123456789012345'
                            iccid:
                              type: string
                              minLength: 18
                              maxLength: 22
                              description: SIM card integrated circuit card identifier (ICCID)
                            client:
                              description: 'Information about the client device.

                                '
                              type: object
                              properties:
                                manufacturer:
                                  description: Manufacturer of the device (hardware)
                                  type: string
                                  minLength: 2
                                  maxLength: 50
                                model:
                                  description: Model of the device (hardware)
                                  type: string
                                  minLength: 1
                                  maxLength: 50
                                firmware:
                                  description: Device firmware version information
                                  type: string
                                  minLength: 1
                                  maxLength: 150
                                name:
                                  description: Name of the client software accessing the HERE API
                                  type: string
                                  minLength: 3
                                  maxLength: 50
                                version:
                                  description: Version of the client software in format X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Increase the version/build number for each release of the client.
                                  type: string
                                  minLength: 3
                                  maxLength: 60
                                platform:
                                  description: Software platform information of the device, for example operating system name and version.
                                  type: string
                                  minLength: 3
                                  maxLength: 50
                                modules:
                                  description: Software information of all updateable chips.
                                  type: array
                                  maxItems: 10
                                  items:
                                    description: Software information of an updateable chip.
                                    type: object
                                    properties:
                                      manufacturer:
                                        type: string
                                        description: Manufacturer name
                                        minLength: 2
                                        maxLength: 50
                                      model:
                                        type: string
                                        description: Model or chip name
                                        minLength: 1
                                        maxLength: 50
                                      firmwareVersion:
                                        type: string
                                        description: Installed firmware version
                                        minLength: 3
                                        maxLength: 60
                                diskquota:
                                  description: Available disk quota in kilobytes.
                                  type: number
                                  minimum: 0
                                diagnosticscode:
                                  description: Device diagnostics code.
                                  type: number
                                homenetwork:
                                  description: Information about subscriber home network - 3GPP MCC+MNC or 3GPP2 SID+NID. Dual-SIM devices can provide information on both subscriptions.
                                  type: array
                                  maxItems: 2
                                  items:
                                    description: Network information. Either MCC + MNC or SID + NID attribute pair is required.
                                    type: object
                                    properties:
                                      mcc:
                                        description: Mobile Country Code
                                        type: integer
                                        minimum: 200
                                        maximum: 999
                                      mnc:
                                        description: Mobile Network Code
                                        type: integer
                                        minimum: 0
                                        maximum: 999
                                      sid:
                                        description: System Id, SID
                                        type: integer
                                        minimum: 1
                                        maximum: 32767
                                      nid:
                                        description: Network Id, NID
                                        type: integer
                                        minimum: 0
                                        maximum: 65535
                                hasAttachSensor:
                                  type: boolean
                                  description: True if a device has a sensor to detect if the device is attached to or detached from an object.
                                hasNoBattery:
                                  type: boolean
                                  description: False if a device has a battery.
                                hasHumiditySensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure humidity.
                                hasPressureSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure pressure.
                                hasTamperSensor:
                                  type: boolean
                                  description: True if a device has a sensor to detect if device is disassembled.
                                hasTemperatureSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure temperature.
                                hasAccelerometerSensor:
                                  type: boolean
                                  description: True if a device has a sensor to measure acceleration.
                                accelerometerSensorRange:
                                  description: 'Specifies the range of measurable acceleration, representation

[...]
