openapi: 3.2.0
info:
  title: Here Weather Report API
  version: '1.0'
  description: 'Operations tagged Weather Report across 2 of this provider''s published API definitions: here-destination-weather-v1-openapi.yml, here-destination-weather-v3-openapi.yml. Each path carries the servers of the definition it was published in.'
servers:
- url: https://weather.cc.api.here.com
  description: Production environment URL.
- url: https://weather.hereapi.com/v3
  description: Production environment URL
tags:
- name: Weather Report
  description: Destination weather report.
paths:
  /weather/1.0/report:
    get:
      tags:
      - Weather Report
      summary: Weather report
      description: Retrieves weather reports, weather forecasts, severe weather alerts.
      operationId: Weather API v1 weatherReport
      parameters:
      - $ref: '#/components/parameters/X-Request-Id'
      - name: app_id
        in: query
        description: Client application Id (for authentication)).
        schema:
          type: string
      - name: app_code
        in: query
        description: Client application Code (for authentication)).
        schema:
          type: string
      - name: product
        in: query
        description: A parameter identifying the type of report to obtain.
        required: true
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WeatherProduct'
      - name: name
        in: query
        description: Name of a city. If there is more than one match for the name, then the most populous location is in the response. Country, state and street name can be added to this parameter. Latitude and longitude, name or zipcode must be present.
        schema:
          type: string
      - name: zipCode
        in: query
        description: ZIP code of the location. This parameter is supported only for locations in the United States of America. Latitude and longitude, name or zipcode must be present.
        schema:
          type: string
      - name: latitude
        in: query
        description: Geographical coordinates in WGS-84-compliant format, specifying the area covered by the weather report. Latitude and longitude, name or zipcode must be present.
        schema:
          type: number
          format: double
      - name: longitude
        in: query
        description: Geographical coordinates in WGS-84-compliant format, specifying the area covered by the weather report. Latitude and longitude, name or zipcode must be present.
        schema:
          type: number
          format: double
      - name: metric
        in: query
        description: Boolean, defines whether metric or imperial units are used in the response. If set to false, the response contains imperial units (feet, inch, Fahrenheit, miles). The default is `true`.
        required: false
        schema:
          type: boolean
          default: true
      - name: oneobservation
        in: query
        description: Boolean, if set to true, the response only includes the closest location. Only available when the product parameter is set to observation. The default is `false`.
        required: false
        schema:
          type: boolean
          default: false
      - name: hourlydate
        in: query
        description: Date for which hourly forecasts are to be retrieved. The format is YYYY-MM-DD or YYYY-MM-DDThh:mm:ss.
        required: false
        schema:
          type: string
          format: date-time
      - name: language
        in: query
        description: "Defines the language used in the descriptions in the response. For example, the response for a query with language=de has descriptions in German. The default is `en-US`.\nList of supported languages:\n\n|Language|Code|\n|---|---|\n|afrikaans|af-ZA|\n|albanian|sq|\n|amharic|am-ET|\n|arabic|ar|\n|armenian|hy|\n|assamese|as-IN|\n|azerbaijani|az-AZ|\n|basque|eu|\n|belarusian|be|\n|bengali-bd|bn-BD|\n|bengali|bn|\n|bosnian|bs-BA|\n|bulgarian|bg-BG|\n|catalan|ca|\n|chinese_prc|zh-CN|\n|chinese_hk|zh-HK|\n|chinese_tw|zh-TW|\n|croatian|hr-HR|\n|czech|cs-CZ|\n|danish|da-DK|\n|dutch|nl-NL|\n|english|en|\n|english_us|en-US|\n|estonian|et-EE|\n|finnish|fi-FI|\n|french_ca|fr-CA|\n|french|fr|\n|galician|gl|\n|georgian|ka-GE|\n|german|de|\n|greek|el-GR|\n|gujarati|gu-IN|\n|hausa|ha|\n|hebrew|he-IL|\n|hindi|hi-IN|\n|hungarian|hu-HU|\n|icelandic|is-IS|\n|igbo|ig-NG|\n|indonesian|id-ID|\n|italian|it|\n|japanese|ja-JP|\n|kannada|kn-IN|\n|kashmiri|ks-IN|\n|kazakh|kk-KZ|\n|khmer|km-KH|\n|kirghiz|ky-KG|\n|korean|ko-KR|\n|lao|lo-LA|\n|latvian|lv-LV|\n|lingala|ln|\n|lithuanian|lt-LT|\n|macedonian|mk-MK|\n|malagasy|mg-MG|\n|malay|ms-MY|\n|malayalam|ml-IN|\n|marathi|mr-IN|\n|mongolian|mn-MN|\n|norwegian|no-NO|\n|oriya|or-IN|\n|persian-af|fa-AF|\n|farsi|fa|\n|polish|pl-PL|\n|portuguese_br|pt-BR|\n|portuguese|pt-PT|\n|punjabi|pa|\n|pushto|ps|\n|romanian|ro-RO|\n|russian|ru-RU|\n|serbian|sr-YU|\n|sesotho|st|\n|sinhala|si-LK|\n|slovak|sk-SK|\n|slovene|sl-SI|\n|spanish|es-ES|\n|spanish_am|es-US|\n|swahili|sw|\n|swedish|sv|\n|tagalog|tl-PH|\n|tamil|ta|\n|telugu|\"te-IN\t\"|\n|thai|th-TH|\n|tajik|tg-TJ|\n|turkish|tr-TR|\n|turkmen|tk|\n|turkmen_latin|tk|\n|ukrainian|uk-UA|\n|urdu|ur|\n|uzbek|uz-UZ|\n|vietnamese|vi-VN|\n|xhosa|xh|\n|yoruba|yo|\n|zulu|zu|\n"
        required: false
        schema:
          type: string
          default: en-US
      - name: politicalView
        in: query
        description: Specify the political view. Available territories will be seen through the point of view of this country. If this parameter is not specified the neutral international view is made available, where territories may have unresolved claims. This parameter accepts single ISO 3166-1 alpha-3 country code. The country codes are to be provided in all uppercase. Currently the only supported political view is `CHN`. Any political view that is unsupported, falls back to the default view. For example, politicalView=USA or politicalView=FRA does not impact a response in any way.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherReport'
            application/xml:
              schema:
                $ref: '#/components/schemas/WeatherReport'
        '400':
          $ref: '#/components/responses/Error400ReportResponse'
        '401':
          $ref: '#/components/responses/Error401Response'
        '403':
          $ref: '#/components/responses/Error403Response'
        '429':
          $ref: '#/components/responses/Error429Response'
        '500':
          $ref: '#/components/responses/Error500Response'
        '502':
          $ref: '#/components/responses/Error502Response'
        '503':
          $ref: '#/components/responses/Error503Response'
        '504':
          $ref: '#/components/responses/Error504Response'
      security:
      - Bearer: []
    servers:
    - url: https://weather.cc.api.here.com
      description: Production environment URL.
  /report:
    get:
      tags:
      - Weather Report
      summary: Weather report
      description: Retrieves weather reports, weather forecasts, severe weather alerts.
      operationId: Weather API v3 weatherReport
      parameters:
      - $ref: '#/components/parameters/X-Request-Id'
      - name: products
        in: query
        description: A parameter identifying the type of report to obtain. Comma separated values.
        required: true
        explode: false
        schema:
          type: array
          items:
            $ref: '#/components/schemas/WeatherProduct_2'
      - name: q
        in: query
        description: 'Enter a free-text query.

          Examples:

          "125, Berliner, berlin",

          "Beacon, Boston"'
        required: false
        schema:
          type: string
      - name: zipCode
        in: query
        description: ZIP code of the location. This parameter is supported only for locations in the United States of America. Latitude and longitude, name, or zipcode must be present.
        required: false
        schema:
          type: string
      - name: location
        in: query
        description: 'Geographical location in WGS-84-compliant format.

          Specifying the area covered by the weather report.

          Format: `{lat},{lng}`

          '
        required: false
        schema:
          $ref: '#/components/schemas/LocationString'
      - name: units
        description: Units of measurement used. The default is `metric`.
        in: query
        schema:
          type: string
          default: metric
          enum:
          - metric
          - imperial
      - name: oneObservation
        in: query
        description: Boolean, if set to true, the response only includes the closest location. Only available when the product parameter is set to observation. The default is `false`.
        required: false
        schema:
          type: boolean
          default: false
      - name: hourlyDate
        in: query
        description: Date for which hourly forecasts are to be retrieved. The format is YYYY-MM-DD or YYYY-MM-DDThh:mm:ss.
        required: false
        schema:
          $ref: '#/components/schemas/DateOrTime'
      - name: lang
        in: query
        description: Defines the language used in the descriptions in the response. For example, the response for a query with lang=de-DE has descriptions in German. The default is `en-US`.
        required: false
        schema:
          type: string
          default: en-US
      - name: politicalView
        in: query
        description: Specify the political view. Available territories are seen through the point of view of this country. If this parameter is not specified, the neutral international view is made available, where territories may have unresolved claims. This parameter accepts single ISO 3166-1 alpha-3 country code. The country codes are to be provided in all uppercase. Currently the only supported political view is `CHN`. Any political view that is unsupported falls back to the default view. For example, politicalView=USA or politicalView=FRA does not impact a response in any way.
        required: false
        schema:
          type: string
      responses:
        '200':
          description: OK
          headers:
            X-Correlation-Id:
              $ref: '#/components/headers/X-Correlation-Id'
            X-Request-Id:
              $ref: '#/components/headers/X-Request-Id'
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/WeatherReport_2'
              examples:
                observation:
                  $ref: '#/components/examples/WeatherReportObservationExample'
                forecastDailyDetailed:
                  $ref: '#/components/examples/WeatherReportForecastExample'
                forecastDailySimple:
                  $ref: '#/components/examples/WeatherReportForecastSimpleExample'
                forecastHourly:
                  $ref: '#/components/examples/WeatherReportForecastHourlyExample'
                forecastAstronomy:
                  $ref: '#/components/examples/WeatherReportForecastAstronomyExample'
                forecastedAlerts:
                  $ref: '#/components/examples/WeatherReportForecastedAlerstExample'
                nwsAlerts:
                  $ref: '#/components/examples/WeatherReportNWSAlerstExample'
        '400':
          $ref: '#/components/responses/Error400ReportResponse_2'
        '401':
          $ref: '#/components/responses/Error401Response'
        '403':
          $ref: '#/components/responses/Error403Response'
        '429':
          $ref: '#/components/responses/Error429Response_2'
        '500':
          $ref: '#/components/responses/Error500Response_2'
        '502':
          $ref: '#/components/responses/Error502Response_2'
        '503':
          $ref: '#/components/responses/Error503Response_2'
        '504':
          $ref: '#/components/responses/Error504Response_2'
      security:
      - Bearer: []
      - ApiKey: []
    servers:
    - url: https://weather.hereapi.com/v3
      description: Production environment URL
components:
  examples:
    InternalServerErrorExample:
      value:
        Type: Internal Server Error
        Message:
        - Service is not available
    504errorResponseExample:
      value:
        Type: Gateway timeout
        Message:
        - Did not receive a timely response from an upstream server
    502errorResponseExample:
      value:
        Type: Bad Gateway
        Message:
        - Failure of communication with external system.
    InternalServerErrorExample_2:
      value:
        status: 500
        title: Internal Server Error
        cause: There was some issue processing the request.
        action: Please retry after some time.
        code: E611101
        correlationId: dfe3b1a5-214f-49a9-b8a0-d78bd623bac0
    504errorResponseExample_2:
      value:
        title: Gateway timeout
        status: 504
        code: E611101
        cause: Gateway Timeout
        action: Did not receive a timely response from an upstream server
        correlationId: dfe3b1a5-214f-49a9-b8a0-d78bd623bac0
    WeatherReportForecastSimpleExample:
      value:
        places:
        - dailyForecasts:
          - place:
              address:
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
              distance: 1.4
            forecasts:
            - daylight: day
              description: Sprinkles late. Increasing cloudiness. Cool.
              skyInfo: 26
              skyDesc: Increasing cloudiness
              temperatureDesc: Cool
              comfort: '10.68'
              highTemperature: '13.20'
              lowTemperature: '10.00'
              humidity: '67'
              dewPoint: 6.89
              precipitationProbability: 47
              precipitationDesc: Sprinkles late
              rainFall: 0.02
              snowFall: 0
              airDesc: ''
              windSpeed: 26.23
              windDirection: 70
              windDesc: East
              windDescShort: E
              beaufortScale: 4
              beaufortDesc: Moderate breeze
              uvIndex: 0
              uvDesc: Minimal
              barometerPressure: 1024.82
              iconName: sprinkles
              iconId: 18
              iconLink: https://weather.hereapi.comm/static/weather/icon/27.png
              weekday: mo
              time: '2020-10-12T00:00:00.000-04:00'
            - daylight: day
              description: Rain. Low clouds. Cool.
              skyInfo: 19
              skyDesc: Low clouds
              temperatureDesc: Cool
              comfort: '15.93'
              highTemperature: '16.50'
              lowTemperature: '12.80'
              humidity: '91'
              dewPoint: 14.5
              precipitationProbability: 99
              precipitationDesc: Rain
              rainFall: 1.93
              snowFall: 0.26
              airInfo: 32
              airDesc: Damp
              windSpeed: 18.26
              windDirection: 96
              windDesc: East
              windDescShort: E
              beaufortScale: 4
              beaufortDesc: Moderate breeze
              uvIndex: 0
              uvDesc: Minimal
              barometerPressure: 1011.64
              iconName: rain
              iconId: 19
              iconLink: https://weather.hereapi.com/static/weather/icon/27.png
              weekday: tu
              time: '2020-10-13T00:00:00.000-04:00'
    WeatherReportObservationExample:
      value:
        places:
        - observations:
          - place:
              address:
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
              distance: 1.4
            daylight: night
            description: Passing clouds. Mild.
            skyInfo: 7
            skyDesc: Passing clouds
            temperature: 24.39
            temperatureDesc: Mild
            comfort: '24.31'
            highTemperature: '31.4'
            lowTemperature: '24.6'
            humidity: '91'
            dewPoint: 22.78
            precipitation1H: 1
            precipitation3H: 2
            precipitation6H: 4
            precipitation12H: 5
            precipitation24H: 11
            precipitationProbability: 22
            precipitationDesc: Strong thunderstorms
            rainFall: 11
            snowFall: 0
            airInfo: 7
            airDesc: Refreshing Cool
            windSpeed: 14.83
            windDirection: 200
            windDesc: Northwest
            windDescShort: NW
            barometerPressure: 1006.1
            barometerTrend: Falling
            visibility: 150
            snowCover: 0
            iconId: 23
            iconName: severeTstorms
            iconLink: https://weather.hereapi.com/static/weather/icon/6.png
            ageMinutes: 33
            activeAlerts: 13
            time: '2020-10-12T01:54:00.000-04:00'
    WeatherReportForecastExample:
      value:
        places:
        - extendedDailyForecasts:
          - place:
              address:
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
              distance: 1.4
            forecasts:
            - daylight: night
              daySegment: night
              description: Clear. Cool.
              skyInfo: 2
              skyDesc: Clear
              temperature: 10
              temperatureDesc: Cool
              comfort: '7.43'
              humidity: '62'
              dewPoint: 3
              precipitationProbability: 1
              precipitationDesc: ''
              rainFall: 0
              snowFall: 0
              airInfo: 7
              airDesc: ''
              windSpeed: 19.44
              windDirection: 56
              windDesc: Northeast
              windDescShort: NE
              beaufortScale: 4
              beaufortDesc: Moderate breeze
              visibility: 11.69
              iconName: nightClear
              iconId: 13
              iconLink: https://weather.hereapi.com/static/weather/icon/16.png
              weekday: su
              time: '2020-10-12T00:00:00.000-04:00'
            - daylight: day
              daySegment: morning
              description: High level clouds. Cool.
              skyInfo: 12
              skyDesc: High level clouds
              temperature: 10.1
              temperatureDesc: Cool
              comfort: '7.26'
              humidity: '66'
              dewPoint: 3.9
              precipitationProbability: 3
              precipitationDesc: ''
              windSpeed: 22.68
              windDirection: 62
              windDesc: Northeast
              windDescShort: NE
              beaufortScale: 4
              beaufortDesc: Moderate breeze
              visibility: 12.31
              iconName: highClouds
              iconId: 5
              iconLink: https://weather.hereapi.com/static/weather/icon/4.png
              weekday: mo
              time: '2020-10-12T06:00:00.000-04:00'
    WeatherReportNWSAlerstExample:
      value:
        places:
        - nwsAlerts:
            warnings:
            - zones:
              - value: ANZ231
                country: US
                countryName: United States
                state: IL
                stateName: Illinois
                name: Cape Cod Bay
                location:
                  lat: 41.88063
                  lng: -70.32472
            - type: 11
              description: Small Craft Advisory
              severity: 70
              message: SMALL CRAFT ADVISORY NOW IN EFFECT FROM 2 PM THIS AFTERNOON TO 8 PM EDT TUESDAY...
              name: Saint Johns Mission
              validFromTimeLocal: '2020-10-12T07:32:00.000Z'
              validUntilTimeLocal: '2020-10-14T00:00:00.000Z'
            watches:
            - provinces:
              - value: AZC013
                country: US
                countryName: United States
                province: 'ON'
                provinceName: Ontario
                name: Maricopa
                location:
                  lat: 52.531677
                  lng: 13.381777
            - type: 5
              description: Flash Flood Warning
              severity: 3
              message: FLASH FLOOD WARNING REMAINS IN EFFECT UNTIL 1115 PM MST THIS EVENING FOR MARICOPA COUNTY
              name: Saint Johns Mission
              validFromTimeLocal: '2020-10-11T03:35:00.000-04:00'
              validUntilTimeLocal: '2020-10-12T20:00:00.000-04:00'
    BadRequestExample:
      value:
        status: 400
        title: Invalid Request
        cause: All weather product names in 'products' parameter must be valid.
        action: Please provide valid poduct in the request.
        code: E611119
        correlationId: dfe3b1a5-214f-49a9-b8a0-d78bd623bac0
    WeatherReportForecastHourlyExample:
      value:
        places:
        - hourlyForecasts:
          - place:
              address:
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
              distance: 1.4
            forecasts:
            - daylight: night
              description: Mostly cloudy. Cool.
              skyInfo: 16
              skyDesc: Mostly cloudy
              temperature: 10.3
              temperatureDesc: Cool
              comfort: '7.84'
              humidity: '63'
              dewPoint: 3.4
              precipitationProbability: 1
              precipitationDesc: ''
              rainFall: 0
              snowFall: 1
              airInfo: 5
              airDesc: ''
              windSpeed: 19.08
              windDirection: 63
              windDesc: Northeast
              windDescShort: NE
              visibility: 11.4
              iconName: nightMostlyCloudy
              iconId: 17
              iconLink: https://weather.hereapi.com/static/weather/icon/24.png
              weekday: mo
              time: '2020-10-12T05:00:00.000-04:00'
            - daylight: day
              description: Partly sunny. Cool.
              skyInfo: 14
              skyDesc: Partly sunny
              temperature: 10.1
              temperatureDesc: Cool
              comfort: '7.59'
              humidity: '64'
              dewPoint: 3.5
              precipitationProbability: 2
              precipitationDesc: ''
              windSpeed: 19.08
              windDirection: 62
              windDesc: Northeast
              windDescShort: NE
              visibility: 12.36
              iconName: mostlyCloudy
              icon: 6
              iconLink: https://weather.hereapi.com/static/weather/icon/17.png
              weekday: mo
              time: '2020-10-12T06:00:00.000-04:00'
    WeatherReportForecastedAlerstExample:
      value:
        places:
        - alerts:
          - place:
              address:
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
              distance: 1.4
            timeSegments:
            - segment: morning
              weekday: th
            type: 1
            description: Strong Thunderstorms Anticipated - Strong thunderstorms anticipated during the next 24 hours
    WeatherReportForecastAstronomyExample:
      value:
        places:
        - astronomyForecasts:
          - place:
              address:
                countryCode: USA
                countryName: United States
                state: Massachusetts
                city: Boston
              location:
                lat: 42.35843
                lng: -71.05977
            forecasts:
            - sunRise: 06:44:00
              sunSet: '18:37:00'
              moonRise: 09:40:00
              moonSet: '20:07:00'
              moonPhase: 0.049
              moonPhaseDescription: Waxing crescent
              iconName: cw_waxing_crescent
              time: '2022-09-28T00:00:00.000-05:00'
            - sunRise: 06:45:00
              sunSet: '18:36:00'
              moonRise: '10:53:00'
              moonSet: '20:38:00'
              moonPhase: 0.107
              moonPhaseDescription: Waxing crescent
              iconName: cw_waxing_crescent
              time: '2022-09-29T00:00:00.000-05:00'
    502errorResponseExample_2:
      value:
        title: Bad Gateway
        status: 502
        code: E611201
        cause: Bad Gateway
        action: Failure of communication with external system.
        correlationId: dfe3b1a5-214f-49a9-b8a0-d78bd623bac0
  schemas:
    AuthError:
      description: Error object reported in case of authentication or authorization errors.
      type: object
      properties:
        error:
          type: string
          description: Error message.
        error_description:
          type: string
          description: Detailed information about the error.
      example:
        Type: Unauthorized
        Message: ApiKey invalid. ApiKey not found.
    NWSAlertsType:
      type: object
      properties:
        warning:
          type: array
          items:
            $ref: '#/components/schemas/NWSAlertItems'
          description: 'Warning issued for location.


            These alerts require immediate notification and are extremely time sensitive. Severe weather warnings are sorted by county ID and should generally only be sent to locations within that particular county. Customer may wish to include warnings from counties within a certain distance threshold such as 25 or 50 kilometers.

            '
        watch:
          type: array
          items:
            $ref: '#/components/schemas/NWSAlertItems'
          description: 'Watch issued for location.


            Includes watches, advisories, special weather statements, and marine warnings.


            These alerts cover an extended time frame from several minutes to several hours; immediate activation is not always necessary for these alerts although it is highly recommended. Severe Weather Watches are listed by zone and should be sent to all locations within a reasonable distance of the respective zone.

            '
    AlertZoneCountyType:
      type: object
      properties:
        value:
          type: string
          example: AZC013
          description: 'Location code (zone code, county code, province code).

            The shape file information for zones, counties and provinces can be found here in National Weather Service GIS - AWIPS Shapefile Database (http://www.nws.noaa.gov/geodata/).

            '
          xml:
            attribute: true
        country:
          type: string
          example: US
          description: 2-letters ISO country code.
          xml:
            attribute: true
        countryName:
          type: string
          example: United States
          description: Full country name.
          xml:
            attribute: true
        state:
          type: string
          example: IL
          description: 2-letters US-state abbreviation.
          xml:
            attribute: true
        stateName:
          type: string
          example: Illinois
          description: Full US-state name.
          xml:
            attribute: true
        name:
          type: string
          example: Maricopa
          description: Location name.
          xml:
            attribute: true
        latitude:
          type: number
          format: double
          example: 41.85003
          description: Latitude of location polygon centroid in degrees in WGS 84 format.
          xml:
            attribute: true
        longitude:
          type: number
          format: double
          example: -87.65005
          description: Longitude of location polygon centroid in degrees in WGS 84 format.
          xml:
            attribute: true
    NWSAlertItems:
      type: object
      oneOf:
      - $ref: '#/components/schemas/CountyType'
      - $ref: '#/components/schemas/ZoneType'
      - $ref: '#/components/schemas/ProvinceType'
      - properties:
          type:
            type: integer
            format: int32
            example: 5
            description: 'Type of alert.


              |ID|Description|

              |---|---|

              |0|Aviation Weather Warning.|

              |1|Civil Emergency Message [1].|

              |2|Coastal Flood Warning, Watch, or Statement.|

              |3|Flash Flood Watch.|

              |4|Flash Flood Statement.|

              |5|Flash Flood Warning [1].|

              |6|Flood Statement.|

              |7|Flood Warning [1].|

              |8|Urban and Small Stream Flood Advisory [1].|

              |9|Hurricane Local Statement [1].|

              |10|Lakeshore Warning or Statement [1].|

              |11|Marine Weather Statement.|

              |12|Non Precipitation Warning, Watch, or Statement.|

              |13|Public Severe Weather Alert [1].|

              |14|Red Flag Warning.|

              |15|River Ice Statement.|

              |16|River Recreation Statement.|

              |17|River Statement.|

              |18|Snow Avalanche Bulletin.|

              |19|Preliminary Notice of Watch Cancellation - Aviation Message.|

              |20|Special Dispersion Statement.|

              |21|Severe Local Storm Watch or Watch Cancellation.|

              |22|SPC Watch Point Information Message.|

              |23|Severe Local Storm Watch and Areal Outline.|

              |24|Marine Subtropical Storm Advisory.|

              |25|Special Marine Warning [1].|

              |26|Storm Strike Probability Bulletin from the TPC.|

              |27|Special Weather Statement [2].|

              |28|Severe Thunderstorm Warning [1].|

              |29|Severe Weather Statement.|

              |30|Tropical Cyclone Advisory.|

              |31|Tropical Cyclone Advisory for Marine and Aviation Interests.|

              |32|Public Tropical Cyclone Advisory.|

              |33|Tropical Cyclone Update.|

              |34|Tornado Warning [1].|

              |35|Tsunami Watch or Warning [1].|

              |36|Volcanic Activity Advisory.|

              |37|Winter Weather Warning, Watch, or Advisory [1].|

              |38|Air Stagnation Advisory.|


              [1] Watch and Warning Types are highly recommended for immediate activation.


              [2] Watch and Warning description can be more detailed for this type, such as ''Frost advisory in effect''.

              '
          description:
            type: string
            example: Flash Flood Warning
            description: 'Short description of alert.

              '
          severity:
            type: integer
            format: int32
            example: 3
            description: 'The severity of alerts from 1-100 with 1 being the most severe.

              '
          message:
            type: string
            example: FLASH FLOOD WARNING REMAINS IN EFFECT UNTIL 1115 PM MST THIS EVENING FOR MARICOPA COUNTY
            description: 'The warning or watch text is a long string of words describing the warning or watch in detail.

              '
          name:
            type: string
            example: Saint Johns Mission
            description: 'Location name.

              '
          validFromTimeLocal:
            type: string
            format: date-time
            example: '2020-10-11T03:35:00.000-04:00'
            description: 'Date and time at the location the alert was issued by National Weather Service. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which the date and time is terminated by a Z.

              '
          validUntilTimeLocal:
            type: string
            format: date-time
            example: '2020-10-12T20:00:00.000-04:00'
            description: 'Alert expiration date and time at the location. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which the date and time is terminated by a Z.

              '
    LocationMetadata:
      type: object
      properties:
        country:
          type: string
          example: United States
          xml:
            attribute: true
        state:
          type: string
          example: Illinois
          xml:
            attribute: true
        city:
          type: string
          example: Chicago
          xml:
            attribute: true
        latitude:
          type: number
          format: double
          example: 41.85003
          xml:
            attribute: true
        longitude:
          type: number
          format: double
          example: -87.65005
          xml:
            attribute: true
        distance:
          type: number
          format: double
          example: 11.4
          xml:
            attribute: true
        elevation:
          type: number
          format: double
          example: 125
          xml:
            attribute: true
        dayOfWeek:
          type: integer
          format: int32
          example: 5
          xml:
            attribute: true
        weekday:
          type: string
          example: Thursday
          xml:
            attribute: true
        utcTime:
          type: string
          format: date-time
          example: '2020-08-28 00:00:00-05:00'
          xml:
            attribute: true
        timezone:
          type: integer
          format: int32
          example: -6
          xml:
            attribute: true
        localTime:
          type: string
          example: 117806091
          xml:
            attribute: true
        localTimeFormat:
          type: string
          example: HHMMddyyyy
          xml:
            attribute: true
    AlertItem:
      allOf:
      - $ref: '#/components/schemas/LocationMetadata'
      - type: object
        properties:
          timeSegment:
            type: object
            properties:
              segment:
                type: string
                example: M
              day_of_Week:
                type: string
                example: 5
          type:
            type: integer
            format: int32
            example: 1
          description:
            type: string
            example: Strong Thunderstorms Anticipated - Strong thunderstorms anticipated during the next 24 hours
    AlertProvinceType:
      type: object
      properties:
        value:
          type: string
          example: AZC013
          description: 'Location code (zone code, county code, province code).

            The shape file information for zones, counties and provinces can be found here in National Weather Service GIS - AWIPS Shapefile Database (http://www.nws.noaa.gov/geodata/).

            '
          xml:
            attribute: true
        country:
          type: string
          example: US
          description: 2-letters ISO country code.
          xml:
            attribute: true
        countryName:
          type: string
          example: United States
          description: Full country name.
          xml:
            attribute: true
        province:
          type: string
          example: true
          description: 2-letters province code. Canada only.
          xml:
            attribute: true
        provinceName:
          type: string
          example: Ontario
          description: Full province name. Canada only.
          xml:
            attribute: true
        name:
          type: string
          example: Maricopa
          description: Location name.
          xml:
            attribute: true
        latitude:
          type: number
          format: double
          example: 41.85003
          description: Latitude of location polygon centroid in degrees in WGS 84 format.
          xml:
            attribute: true
        longitude:
          type: number
          format: double
          example: -87.65005
          description: Longitude of location polygon centroid in degrees in WGS 84 format.
          xml:
            attribute: true
    WeatherReport:
      description: Weather report.
      type: object
      properties:
        observations:
          properties:
            location:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/LocationMetadata'
                - type: object
                properties:
                  observation:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeatherItem'
          description: Actual weather conditions.
        forecasts:
          properties:
            forecastLocation:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/LocationMetadata'
                - type: object
                properties:
                  forecast:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeatherItem'
          description: 'Weather seven days detailed forecasts,

            morning, afternoon, evening and night weather forecasts for the next seven days.

            '
        dailyForecasts:
          properties:
            forecastLocation:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/LocationMetadata'
                - type: object
                properties:
                  forecast:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeatherItem'
          description: Daily weather forecasts for the next seven days.
        hourlyForecasts:
          properties:
            forecastLocation:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/LocationMetadata'
                - type: object
                properties:
                  forecast:
                    type: array
                    items:
                      $ref: '#/components/schemas/WeatherItem'
          description: Hourly weather forecasts for the next seven days.
        alerts:
          properties:
            forecastLocation:
              type: array
              items:
                allOf:
                - $ref: '#/components/schemas/LocationMetadata'
                - type: object
                properties:
                  alerts:
                    type: array
                    items:
                      $ref: '#/components/schemas/AlertItem'
          description: Forecasted weather alerts for the next 24 hours.
        nwsAlerts:
          allOf:
          - $ref: '#/components/schemas/NWSAlertsType'
          description: All active watches and warnings for the US and Canada issued by National Weather Service.
        feedCreation:
          type: string
          format: date-time
          example: '2020-08-28T11:23:53.104Z'
        metric:
          type: boolean
          example: true
    ProvinceType:
      type: object
      properties:
        province:
          type: array
          items:
            $ref: '#/components/schemas/AlertProvinceType'
    Error:
      type: object
      properties:
        Type:
          type: string
          example: Invalid Request
        Message:
          type: array
          items:
            type: string
            example: Request parameter 'product' does not conform with expected data type. Please check the documentation.
    WeatherItem:
      allOf:
      - $ref: '#/components/schemas/LocationMetadata'
      - type: object
        properties:
          daylight:
            type: string
            enum:
            - D
            - N
            example: D
            description: Part of the day (D=day or N=night).
          daySegment:
            type: string
            enum:
            - Morning
            - Afternoon
            - Evening
            - Night
            example: Morning
            description: Day segment
          description:
            type: string
            example: Passing clouds. Mild.
            description: Human-readable weather description.
          skyInfo:
            type: integer
            format: int32
            example: 7
            description: "Sky descriptor value.\nIf the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.\n\nThe available values are as follows: \n\n    1 - Sunny\n    2 - Clear\n    3 - Mostly Sunny\n    4 - Mostly Clear\n    5 - Hazy Sunshine\n    6 - Haze\n    7 - Passing Clouds.\n    8 - More Sun than Clouds\n    9 - Scattered Clouds\n    10 - Partly Cloudy.\n    11 - A Mixture of Sun and Clouds\n    12 - High Level Clouds\n    13 - More Clouds than Sun\n    14 - Partly Sunny\n    15 - Broken Clouds\n    16 - Mostly Cloudy\n    17 - Cloudy\n    18 - Overcast\n    19 - Low Clouds\n    20 - Light Fog\n    21 - Fog\n    22 - Dense Fog\n    23 - Ice Fog\n    24 - Sandstorm\n    25 - Duststorm\n    26 - Increasing Cloudiness\n    27 - Decreasing Cloudiness\n    28 - Clearing Skies\n    29 - Breaks of Sun Later\n    30 - Early Fog Followed by Sunny Skies\n    31 - Afternoon Clouds\n    32 - Morning Clouds\n    33 - Smoke\n    34 - Low Level Haze\n"
          skyDescription:
            type: string
            example: Passing clouds
            description: 'Description of sky conditions.

              See the text descriptions associated with the skyInfo element above.

              '
          temperature:
            type: number
            format: double
            example: 24.39
            description: 'Temperature in Celsius/Fahrenheit.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value depends on the units parameter value. The default is Celsius.

              '
          temperatureDesc:
            type: string
            example: Mild
            description: "Temperature description.\n\nThe available values are as follows:\n\n    Extremely Cold\n    Frigid\n    Cold\n    Chilly\n    Nippy\n    Cool\n    Refreshing Cool\n    Mild\n    Pleasantly Warm\n    Warm\n    Hot\n    Extremely Hot\n    Breezy\n    Windy\n    Gusty\n    Blustery\n    Very Windy\n    Extremely Windy\n    High Winds\n    Beautiful\n    Very Nice\n    Nice\n    Dreary\n    Smoggy\n    Low Level Pollution\n    Blowing Snow\n    Blowing Spray\n    Dry\n    Comfortable\n    Crisp\n    Raw\n    Damp\n    Humid\n    Muggy\n    Sultry\n    Steamy\n"
          comfort:
            type: string
            example: 24.31
            description: 'Comfort level in degrees. This value indicates what the temperature feels like, depending on a variety of environmental factors such as wind speed and humidity.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

              '
          highTemperature:
            type: string
            example: 31.4
            description: 'The Highest temperature for the day in Celsius/Fahrenheit.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value. The default is Celsius.

              '
          lowTemperature:
            type: string
            example: 24.6
            description: 'The lowest temperature for the day in Celsius/Fahrenheit.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value. The default is Celsius.

              '
          humidity:
            type: string
            example: 91
            description: 'Humidity as a percentage (%)


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

              '
          dewPoint:
            type: number
            format: double
            example: 22.78
            description: 'Dew point in Celsius/Fahrenheit.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value. The default is Celsius.

              '
          precipitation1H:
            type: number
            format: double
            example: 1
            description: 'Precipitation over 1 hour in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          precipitation3H:
            type: number
            format: double
            example: 2
            description: 'Precipitation over 3 hour in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          precipitation6H:
            type: number
            format: double
            example: 4
            description: 'Precipitation over 6 hour in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          precipitation12H:
            type: number
            format: double
            example: 5
            description: 'Precipitation over 12 hour in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          precipitation24H:
            type: number
            format: double
            example: 11
            description: 'Precipitation over 24 hour in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          precipitationProbability:
            type: integer
            format: int32
            example: 22
            description: 'Precipitation probability percentage (%).


              If the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

              '
          precipitationDesc:
            type: string
            example: Strong thunderstorms
            description: "Precipitation description.\n\nThe possible values are:\n\n    Drizzle\n    Sprinkles\n    Scattered Showers\n    A Few Showers\n    Light Showers\n    Passing Showers\n    Light Rain\n    Rain Showers\n    Rain\n    Numerous Showers\n    Showery\n    Heavy Rain\n    Lots of Rain\n    Tons of Rain\n    Flash Floods\n    Widely Scattered TStorms\n    Isolated TStorms\n    A Few TStorms\n    Thundershowers\n    Thunderstorms\n    Strong Thunderstorms\n    Severe Thunderstorms\n    Hail\n    Tornado\n    Tropical Storm\n    Hurricane\n    Light Freezing Rain\n    Light Mixture of Precip\n    Sleet\n    Icy Mix\n    Freezing Rain\n    Mixture of Precip\n    Heavy Mixture of Precip\n    Snow Changing to Rain\n    Snow Changing to an Icy Mix\n    An Icy Mix Changing to Snow\n    An Icy Mix Changing to Rain\n    Rain Changing to Snow\n    Rain Changing to an Icy Mix\n    Scattered Flurries\n    Snow Flurries\n    Light Snow Showers\n    Snow Showers\n    Light Snow\n    Snow\n    Moderate Snow\n    Heavy Snow\n    Snowstorm\n    Blizzard\n    Sprinkles Early\n    Showers Early\n    Light Rain Early\n    Rain Early\n    Heavy Rain Early\n    TStorms Early\n    Flurries Early\n    Snow Showers Early\n    Light Snow Early\n    Snow Early\n    Heavy Snow Early\n    Light Icy Mix Early\n    Icy Mix Early\n    Sprinkles Late\n    Showers Late\n    Light Rain Late\n    Rain Late\n    Heavy Rain Late\n    Isolated TStorms Late\n    Scattered TStorms Late\n    TStorms Late\n    Flurries Late\n    Snow Showers Late\n    Light Snow Late\n    Snow Late\n    Heavy Snow Late\n    Light Icy Mix Late\n    Icy Mix Late\n"
          rainFall:
            type: number
            format: double
            example: 11
            description: 'Amount of rain in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          snowFall:
            type: number
            format: double
            example: 0
            description: 'Amount of snow in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the metric parameter value.

              '
          airInfo:
            type: integer
            format: int32
            example: 7
            description: "Air description value.\n\nIf the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.\n\nThe possible values are as follows:\n\n    1 - Extremely Cold\n    2 - Frigid\n    3 - Cold\n    4 - Chilly\n    5 - Nippy\n    6 - Cool\n    7 - Refreshing Cool\n    8 - Mild\n    9 - Pleasantly Warm\n    10 - Warm\n    11 - Hot\n    12 - Extremely Hot\n    13 - Breezy\n    14 - Windy\n    15 - Gusty\n    16 - Blustery\n    17 - Very Windy\n    18 - Extremely Windy\n    19 - High Winds\n    20 - Beautiful\n    21 - Very Nice\n    22 - Nice\n    23 - Dreary\n    24 - Smoggy\n    25 - Low Level Pollution\n    26 - Blowing Snow\n    27 - Blowing Spray\n    28 - Dry\n    29 - Comfortable\n    30 - Crisp\n    31 - Raw\n    32 - Damp\n    33 - Humid\n    34 - Muggy\n    35 - Sultry\n    36 - Steamy\n"
          airDescription:
            type: string
            example: Refreshing Cool
            description: 'Air description.


              See the text descriptions associated with the airInfo element above.

              '
          windSpeed:
            type: number
            format: double
            example: 14.83
            description: 'Wind speed in km/h or mph.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          windDirection:
            type: number
            format: double
            example: 200
            description: 'Wind direction in degrees.


              If the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

              '
          windDesc:
            type: string
            example: Northwest
            description: 'Human readable description of the direction of the wind.

              '
          windDescShort:
            type: string
            example: NW
            description: 'Abbreviation of the direction of the wind.

              '
          beaufortScale:
            type: integer
            format: int32
            example: 0
            description: "Wind speed on the Beaufort scale.\n\nIf the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.\n\nThe possible values are:\n\n    0 - Calm\n    1 - Light Air\n    2 - Light Breeze\n    3 - Gentle Breeze\n    4 - Moderate Breeze\n    5 - Fresh Breeze\n    6 - Strong Breeze\n    7 - Near Gale\n    8 - Gale\n    9 - Severe Gale\n    10 - Storm\n    11 - Violent Storm\n    12 - Hurricane\n"
          beaufortDescription:
            type: string
            example: Calm
            description: 'Beaufort scale conditions description.


              See the text descriptions associated with the beaufortScale element above.

              '
          uvIndex:
            type: integer
            format: int32
            example: 3
            description: "UV Index value.\n\nIf the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.\n\nThe possible values are:\n\n    0 - Minimal\n    3 - Low\n    5 - Moderate\n    7 - High\n    10 - Extreme\n"
          uvDesc:
            type: string
            example: Low
            description: 'UV conditions description.


              See the text descriptions associated with the uvIndex element above.

              '
          barometerPressure:
            type: number
            format: double
            example: 1006.1
            description: 'Barometric pressure in mbar/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

              '
          barometerTrend:
            type: string
            example: Falling
            description: 'Description of the trend in the barometric pressure.

              '
          visibility:
            type: number
            format: double
            example: 150
            description: 'Visibility in km/mi.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          snowCover:
            type: number
            format: double
            example: 0
            description: 'Amount of snow on the ground in cm/in.


              If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


              The value used depends on the units parameter value.

              '
          icon:
            type: integer
            format: int32
            example: 23
            description: 'Icon number.


              DEPRECATED: We recommend that you use the values in the iconName element.

              '
          iconName:
            type: string
            example: severe_tstorms
            description: "Icon name.\n\nThe possible values are:\n\n    sunny\n    clear\n    mostly_sunny\n    mostly_clear\n    passing_clounds\n    more_sun_than_clouds\n    scattered_clouds\n    partly_cloudy\n    a_mixture_of_sun_and_clouds\n    increasing_cloudiness\n    breaks_of_sun_late\n    afternoon_clouds\n    morning_clouds\n    partly_sunny\n    high_level_clouds\n    decreasing_cloudiness\n    clearing_skies\n    high_clouds\n    rain_early\n    heavy_rain_early\n    strong_thunderstorms\n    severe_thunderstorms\n    thundershowers\n    thunderstorms\n    tstorms_early\n    isolated_tstorms_late\n    scattered_tstorms_late\n    tstorms_late\n    tstorms\n    ice_fog\n    more_clouds_than_sun\n    broken_clouds\n    scattered_showers\n    a_few_showers\n    light_showers\n    passing_showers\n    rain_showers\n    showers\n    widely_scattered_tstorms\n    isolated_tstorms\n    a_few_tstorms\n    scattered_tstorms\n    hazy_sunshine\n    haze\n    smoke\n    low_level_haze\n    early_fog_followed_by_sunny_skies\n    early_fog\n    light_fog\n    fog\n    dense_fog\n    night_haze\n    night_smoke\n    night_low_level_haze\n    night_widely_scattered_tstorms\n    night_isolated_tstorms\n    night_a_few_tstorms\n    night_scattered_tstorms\n    night_tstorms\n    night_clear\n    mostly_cloudy\n    cloudy\n    overcast\n    low_clouds\n    hail\n    sleet\n    light_mixture_of_precip\n    icy_mix\n    mixture_of_precip\n    heavy_mixture_of_precip\n    snow_changing_to_rain\n    snow_changing_to_an_icy_mix\n    an_icy_mix_changing_to_snow\n    an_icy_mix_changing_to_rain\n    rain_changing_to_snow\n    rain_changing_to_an_icy_mix\n    light_icy_mix_early\n    icy_mix_early\n    light_icy_mix_late\n    icy_mix_late\n    snow_rain_mix\n    scattered_flurries\n    snow_flurries\n    light_snow_showers\n    snow_showers\n    light_snow\n    flurries_early\n    snow_showers_early\n    light_snow_early\n    flurries_late\n    snow_showers_late\n    light_snow_late\n    night_decreasing_cloudiness\n    night_clearing_skies\n    night_high_level_clouds\n    night_high_clouds\n    night_scattered_showers\n    night_a_few_showers\n    night_light_showers\n    night_passing_showers\n    night_rain_showers\n    night_sprinkles\n    night_showers\n    night_mostly_clear\n    night_passing_clouds\n    night_scattered_clouds\n    night_partly_cloudy\n    increasing_cloudiness\n    night_afternoon_clouds\n    night_morning_clouds\n    night_broken_clouds\n    night_mostly_cloudy\n    light_freezing_rain\n    freezing_rain\n    heavy_rain\n    lots_of_rain\n    tons_of_rain\n    heavy_rain_early\n    heavy_rain_late\n    flash_floods\n    flood\n    drizzle\n    sprinkles\n    light_rain\n    sprinkles_early\n    light_rain_early\n    sprinkles_late\n    light_rain_late\n    rain\n    numerous_showers\n    showery\n    showers_early\n    rain_early\n    showers_late\n    rain_late\n    snow\n    moderate_snow\n    snow_early\n    snow_late\n    heavy_snow\n    heavy_snow_early\n    heavy_snow_late\n    tornado\n    tropical_storm\n    hurricane\n    sandstorm\n    duststorm\n    snowstorm\n    blizzard\n    cw_no_report_icon\n"
          iconLink:
            type: string
            example: https://weather.cc.api.here.com/static/weather/icon/6.png
            description: 'Link to icon resource file.

              Note that an individual icon may be used for more than one of the iconName values given above and image file name may be different from icon field value.

              '
          ageMinutes:
            type: integer
            format: int32
            example: 33
            description: 'Data age in minutes.

              '
          activeAlerts:
            type: integer
            format: int32
            example: 0
            description: 'Number of active weather alerts.

              '
    CountyType:
      type: object
      properties:
        county:
          type: array
          items:
            $ref: '#/components/schemas/AlertZoneCountyType'
    ZoneType:
      type: object
      properties:
        zone:
          type: array
          items:
            $ref: '#/components/schemas/AlertZoneCountyType'
    WeatherProduct:
      type: string
      enum:
      - observation
      - forecast_7days
      - forecast_7days_imple
      - forecast_hourly
      - alerts
      - nws_alerts
    AstronomyItem:
      type: object
      properties:
        sunRise:
          type: string
          format: partialTime
          example: 06:37:00
          description: Time when the sun rises.
        sunSet:
          type: string
          format: partialTime
          example: '18:48:00'
          description: Time when the sun sets.
        moonRise:
          type: string
          format: partialTime
          example: 02:57:00
          description: Time when the mmoon rises.
        moonSet:
          type: string
          format: partialTime
          example: '17:47:00'
          description: Time when the moon sets.
        moonPhase:
          type: number
          format: double
          minimum: -1
          maximum: 1
          example: -0.15
          description: 'The moon phase expressed as floating point number between -1 and 1.


            The following logic should be used for displaying moonphase information:


            |Moon phase value|Description|

            |---|---|

            |-0.1 <= moonphase <= 0.1|New moon.|

            |0.1 < moonphase < 0.4|Waxing crescent.|

            |0.4 <= moonphase <= 0.6|First Quarter.|

            |0.6 < moonphase < 0.9|Waxing gibbous.|

            |0.9 <= moonphase or moonphase <= -0.9|Full moon.|

            |-0.9 < moonphase < -0.6|Waning gibbous.|

            |-0.6 <= moonphase <= -0.4|Last Quarter.|

            |-0.4 < moonphase < -0.1|Waning crescent.|

            '
        moonPhaseDescription:
          type: string
          example: Waning crescent
          description: Description of the phase of the moon.
        moonIconName:
          type: string
          example: cw_waning_crescent
          description: Name of the icon for moon phase from the reporting service.
        time:
          type: string
          format: date-time
          example: '2020-08-28T00:00:00.000-05:00'
          description: 'Date and time the forecast was issued. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which the date and time is terminated by a Z.


            Note: If daylight saving time is in effect for a specified location, times will be adjusted for daylight savings time.

            '
    Address:
      type: object
      properties:
        label:
          type: string
          description: Requested address.
          example: Schulstrasse 4, 32547 Bad Oeynhausen, Germany
        countryCode:
          type: string
          description: A three-letter country code.
          example: DEU
        countryName:
          type: string
          description: The localised country name.
          example: Deutschland
        state:
          type: string
          description: A code/abbreviation for the state division of a country.
          example: North Rhine-Westphalia
        county:
          type: string
          description: A division of a state; typically, a secondary-level administrative division of a country or equivalent.
          example: Mitte
        city:
          type: string
          description: The name of the primary locality of the place.
          example: Bad Oyenhausen
        district:
          type: string
          description: A division of city; typically an administrative unit within a larger city or a customary name of a city's neighborhood.
          example: Bad Oyenhausen
        subdistrict:
          type: string
          description: A subdivision of a district.
          example: Minden-Lubbecke
        street:
          type: string
          description: Name of street.
          example: Schulstrasse
        postalCode:
          type: string
          description: An alphanumeric string included in a postal address to facilitate mail sorting, such as post code, postcode, or ZIP code.
          example: '32547'
        houseNumber:
          type: string
          description: House number.
          example: '4'
    NWSAlertsType_2:
      type: object
      properties:
        warnings:
          type: array
          items:
            $ref: '#/components/schemas/NWSAlertItems_2'
          description: 'Warnings issued for location.


            These alerts require immediate notification and are extremely time sensitive. Severe weather warnings are sorted by county id and should generally only be sent to locations within that particular county. Customer may wish to include warnings from counties within a certain distance threshold, such as 25 or 50 kilometers.

            '
        watches:
          type: array
          items:
            $ref: '#/components/schemas/NWSAlertItems_2'
          description: 'Watches issued for location.


            Includes watches, advisories, special weather statements, and marine warnings.


            These alerts cover an extended time frame from several minutes to several hours; immediate activation is not always necessary for these alerts, although it is highly recommended. Severe Weather Watches are listed by zone and should be sent to all locations within a reasonable distance of the respective zone.

            '
    ErrorResponse:
      type: object
      properties:
        status:
          type: integer
          format: int32
          description: The HTTP status code.
        title:
          type: string
          description: Human-readable error description.
        code:
          type: string
          description: Error code
        cause:
          type: string
          description: Human-readable explanation for the error.
        action:
          type: string
          description: Human-readable action for the user.
        correlationId:
          type: string
          description: Auto-generated ID univocally identifying this request.
      required:
      - status
      - title
      - code
      - cause
      - action
      - correlationId
    AlertZoneCountyType_2:
      type: object
      properties:
        value:
          type: string
          example: AZC013
          description: 'Location code (zone code, county code, province code).

            The shape file information for zones, counties and provinces can be found here in National Weather Service GIS - AWIPS Shapefile Database (http://www.nws.noaa.gov/geodata/).

            '
        country:
          type: string
          example: US
          description: 2-letters ISO country code.
        countryName:
          type: string
          example: United States
          description: Full country name.
        state:
          type: string
          example: IL
          description: 2-letters US-state abbreviation.
        stateName:
          type: string
          example: Illinois
          description: Full US-state name.
        name:
          type: string
          example: Maricopa
          description: Location name.
        location:
          $ref: '#/components/schemas/Location'
    NWSAlertItems_2:
      type: object
      properties:
        counties:
          type: array
          items:
            $ref: '#/components/schemas/AlertZoneCountyType_2'
        zones:
          type: array
          items:
            $ref: '#/components/schemas/AlertZoneCountyType_2'
        provinces:
          type: array
          items:
            $ref: '#/components/schemas/AlertProvinceType_2'
        type:
          type: integer
          format: int32
          example: 5
          description: 'Type of alert.


            |ID|Description|

            |---|---|

            |0|Aviation Weather Warning.|

            |1|Civil Emergency Message [1].|

            |2|Coastal Flood Warning, Watch, or Statement.|

            |3|Flash Flood Watch.|

            |4|Flash Flood Statement.|

            |5|Flash Flood Warning [1].|

            |6|Flood Statement.|

            |7|Flood Warning [1].|

            |8|Urban and Small Stream Flood Advisory [1].|

            |9|Hurricane Local Statement [1].|

            |10|Lakeshore Warning or Statement [1].|

            |11|Marine Weather Statement.|

            |12|Non Precipitation Warning, Watch, or Statement.|

            |13|Public Severe Weather Alert [1].|

            |14|Red Flag Warning.|

            |15|River Ice Statement.|

            |16|River Recreation Statement.|

            |17|River Statement.|

            |18|Snow Avalanche Bulletin.|

            |19|Preliminary Notice of Watch Cancellation - Aviation Message.|

            |20|Special Dispersion Statement.|

            |21|Severe Local Storm Watch or Watch Cancellation.|

            |22|SPC Watch Point Information Message.|

            |23|Severe Local Storm Watch and Areal Outline.|

            |24|Marine Subtropical Storm Advisory.|

            |25|Special Marine Warning [1].|

            |26|Storm Strike Probability Bulletin from the TPC.|

            |27|Special Weather Statement [2].|

            |28|Severe Thunderstorm Warning [1].|

            |29|Severe Weather Statement.|

            |30|Tropical Cyclone Advisory.|

            |31|Tropical Cyclone Advisory for Marine and Aviation Interests.|

            |32|Public Tropical Cyclone Advisory.|

            |33|Tropical Cyclone Update.|

            |34|Tornado Warning [1].|

            |35|Tsunami Watch or Warning [1].|

            |36|Volcanic Activity Advisory.|

            |37|Winter Weather Warning, Watch, or Advisory [1].|

            |38|Air Stagnation Advisory.|


            [1] Watch and Warning Types highly recommended for immediate activation.


            [2] Watch and Warning description can be more detailed for this type, such as ''Frost advisory in effect''.

            '
        description:
          type: string
          example: Flash Flood Warning
          description: 'Short description of alert.

            '
        severity:
          type: integer
          format: int32
          example: 3
          description: 'The severity of alerts from 1-100 with 1 being the most severe.

            '
        message:
          type: string
          example: FLASH FLOOD WARNING REMAINS IN EFFECT UNTIL 1115 PM MST THIS EVENING FOR MARICOPA COUNTY
          description: 'The warning or watch text is a long string of words describing the warning or watch in detail.

            '
        name:
          type: string
          example: Saint Johns Mission
          description: 'Location name.

            '
        validFromTimeLocal:
          type: string
          format: date-time
          example: '2020-10-11T03:35:00.000-04:00'
          description: 'Date and time at the location the alert was issued by National Weather Service. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which case the date and time is terminated by a Z.

            '
        validUntilTimeLocal:
          type: string
          format: date-time
          example: '2020-10-12T20:00:00.000-04:00'
          description: 'Alert expiration date and time at the location. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which case the date and time is terminated by a Z.

            '
    DateOrTime:
      oneOf:
      - type: string
        format: date-time
      - type: string
        format: date
    ForecastWeatherItem:
      type: object
      properties:
        place:
          $ref: '#/components/schemas/PlaceMetadata'
        forecasts:
          type: array
          items:
            $ref: '#/components/schemas/WeatherItem_2'
    AlertItem_2:
      type: object
      properties:
        place:
          $ref: '#/components/schemas/PlaceMetadata'
        timeSegments:
          type: array
          items:
            type: object
            properties:
              segment:
                type: string
                enum:
                - morning
                - afternoon
                - evening
                - night
                description: Day segment.
              weekday:
                $ref: '#/components/schemas/WeekDayType'
        type:
          type: integer
          format: int32
          example: 1
          description: 'Type of alert.


            |ID| Description|

            |---|---|

            |1|Strong Thunderstorms Anticipated - Strong thunderstorms anticipated during the next 24 hours.|

            |2|Severe Thunderstorms Anticipated - Severe thunderstorms anticipated during the next 24 hours (supersedes the strong thunderstorm alert).|

            |3|Tornadoes Possible - Conditions are favorable for the formation of tornadoes (supersedes the severe thunderstorm alert).|

            |4|Heavy Rain Anticipated - More than 1 inch of rain in the next 24 hours (and less than 2 inches).|

            |5|Floods Anticipated - More than 2 inches of rain in the next 24 hours.|

            |6|Flash Floods Anticipated - More than 1 inch of rain in any 6 hour time period (supersedes Flood Alert and Heavy Rain Alert).|

            |7|High Winds Anticipated - Winds greater than 35 mph.|

            |8|Heavy Snow Anticipated - More than 6 inches of snow in a 12-hour period (anytime during the next 24 hours).|

            |9|Blizzard Conditions Anticipated - More than 6 inches of snow anticipated with winds greater than 35 mph.|

            |10|Blowing Snow Anticipated - High winds anticipated with fresh snow on the ground (superseded by Blizzard Alert).|

            |11|Freezing Rain Anticipated - Light freezing rain and/or sleet anticipated.|

            |12|Ice Storm Anticipated - Heavy freezing rain anticipated along with hazardous driving conditions.|

            |13|Snow Advisory - More than 1 inch of snow anticipated during the next 24 hours (and less than 6 inches).|

            |14|Winter Weather Advisory - A mixture of winter-like conditions anticipated.

            |15|Heat Advisory - Comfort indices exceeding 110F.|

            |16|Excessive Heat Alert - comfort indices above 115F with dew points above 80F (supersedes heat advisory).|

            |17|Wind Chill Alert - Issued when the wind chill is 20 below zero or lower with a minimum of a 10 mph wind|

            |18|Frost Advisory - Freezing temperatures and light winds (only issued during the Spring and Fall for low latitude/ low elevation locations).|

            |19|Freeze Advisory - A hard freeze anticipated (only issued during the Spring and Fall for low latitude/ low elevation locations).|

            |20|Fog Anticipated - Visibility expected to drop below 1/4 mile|

            |21|Dense Fog Anticipated - Visibility expected to drop below 1/8 mile (superSedes Fog Alert).|

            |22|Smog Anticipated - Low visibilities and warm temperatures|

            |30|Tropical Cyclone Conditions Anticipated - Winds greater than 40 mph with temperatures above 80F and heavy rain.|

            |31|Hurricane Conditions Anticipated - Winds greater than 75 mph with temperatures above 80F and heavy rain.|

            |32|Small Craft Advisory Anticipated - Winds greater than 25 mph anticipated.|

            |33|Gale Warning Anticipated - Winds greater than 35 mph anticipated.|

            |34|Winds greater than 35 mph anticipated - Winds greater than 50 mph anticipated.|

            |35|Heavy Surf Advisory - Waves over 15 feet high.|

            '
        description:
          type: string
          example: Strong Thunderstorms Anticipated - Strong thunderstorms anticipated during the next 24 hours
          description: Description of the alert.
    AlertProvinceType_2:
      type: object
      properties:
        value:
          type: string
          example: AZC013
          description: 'Location code (zone code, county code, province code).

            The shape file information for zones, counties and provinces can be found here in National Weather Service GIS - AWIPS Shapefile Database (http://www.nws.noaa.gov/geodata/).

            '
        country:
          type: string
          example: US
          description: 2-letters ISO country code.
        countryName:
          type: string
          example: United States
          description: Full country name.
        province:
          type: string
          example: true
          description: 2-letters province code. Canada only.
        provinceName:
          type: string
          example: Ontario
          description: Full province name. Canada only.
        name:
          type: string
          example: Maricopa
        location:
          $ref: '#/components/schemas/Location'
    WeatherReport_2:
      description: Weather report
      type: object
      properties:
        places:
          type: array
          items:
            type: object
            properties:
              observations:
                type: array
                items:
                  $ref: '#/components/schemas/ObservationWeatherItem'
                description: Actual weather conditions.
              extendedDailyForecasts:
                type: array
                items:
                  $ref: '#/components/schemas/ForecastWeatherItem'
                description: 'Weather seven days detailed forecasts.

                  morning, afternoon, evening and night weather forecasts for the next seven days.

                  '
              dailyForecasts:
                type: array
                items:
                  $ref: '#/components/schemas/ForecastWeatherItem'
                description: Daily weather forecasts for the next seven days.
              hourlyForecasts:
                type: array
                items:
                  $ref: '#/components/schemas/ForecastWeatherItem'
                description: Hourly weather forecasts for the next seven days.
              astronomyForecasts:
                type: array
                items:
                  $ref: '#/components/schemas/AstronomyForecastItem'
                description: 'Astronomy forecasts.


                  Information on when the sun and moon rise and set, and on the phase of the moon for the next seven days.

                  '
              alerts:
                type: array
                items:
                  $ref: '#/components/schemas/AlertItem_2'
                description: Forecasted weather alerts for the next 24 hours.
              nwsAlerts:
                allOf:
                - $ref: '#/components/schemas/NWSAlertsType_2'
                description: All active watches and warnings for the US and Canada issued by National Weather Service.
    ObservationWeatherItem:
      type: object
      allOf:
      - type: object
      - properties:
          place:
            $ref: '#/components/schemas/PlaceMetadata'
      - $ref: '#/components/schemas/WeatherItem_2'
    AstronomyForecastItem:
      type: object
      properties:
        place:
          $ref: '#/components/schemas/PlaceMetadata'
        forecasts:
          type: array
          items:
            $ref: '#/components/schemas/AstronomyItem'
    LocationString:
      type: string
      example: 52.5251,13.3694
    Location:
      type: object
      description: Location on the Earth.
      properties:
        lat:
          description: Location of a point on Earth north or south of the equator in decimal degrees.
          type: number
          format: double
          example: 52.531677
        lng:
          description: Location of a place on Earth, east or west of the prime meridian. in decimal degrees.
          type: number
          format: double
          example: 13.381777
        elv:
          description: The elevation of a point above mean sea level in meters.
          type: number
          example: 512.5
      example:
        lat: 52.531677
        lng: 13.381777
      required:
      - lat
      - lng
    PlaceMetadata:
      type: object
      properties:
        id:
          type: string
        address:
          $ref: '#/components/schemas/Address'
        location:
          $ref: '#/components/schemas/Location'
        distance:
          type: number
          format: double
          example: 11.4
    WeatherItem_2:
      type: object
      properties:
        daylight:
          type: string
          enum:
          - day
          - night
          example: day
          description: Part of the day (D=day or N=night).
        daySegment:
          type: string
          enum:
          - morning
          - afternoon
          - evening
          - night
          example: morning
          description: Day segment
        description:
          type: string
          example: Passing clouds. Mild.
          description: Human-readable weather description
        skyInfo:
          type: integer
          format: int32
          example: 7
          description: "Sky descriptor value.\nIf the element is in the response and it contains a value, there is an Integer in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.\n\nThe available values are as follows: \n\n    1 - Sunny\n    2 - Clear\n    3 - Mostly Sunny\n    4 - Mostly Clear\n    5 - Hazy Sunshine\n    6 - Haze\n    7 - Passing Clouds\n    8 - More Sun than Clouds\n    9 - Scattered Clouds\n    10 - Partly Cloudy\n    11 - A Mixture of Sun and Clouds\n    12 - High Level Clouds\n    13 - More Clouds than Sun\n    14 - Partly Sunny\n    15 - Broken Clouds\n    16 - Mostly Cloudy\n    17 - Cloudy\n    18 - Overcast\n    19 - Low Clouds\n    20 - Light Fog\n    21 - Fog\n    22 - Dense Fog\n    23 - Ice Fog\n    24 - Sandstorm\n    25 - Duststorm\n    26 - Increasing Cloudiness\n    27 - Decreasing Cloudiness\n    28 - Clearing Skies\n    29 - Breaks of Sun Later\n    30 - Early Fog Followed by Sunny Skies\n    31 - Afternoon Clouds\n    32 - Morning Clouds\n    33 - Smoke\n    34 - Low Level Haze\n"
        skyDesc:
          type: string
          example: Passing clouds
          description: 'Description of sky conditions.

            See the text descriptions associated with the skyInfo element above.

            '
        temperature:
          type: number
          format: double
          example: 24.39
          description: 'Temperature in Celsius/Fahrenheit.


            The value depends on the units parameter value. The default is Celsius.

            '
        temperatureDesc:
          type: string
          example: Mild
          description: "Temperature description.\n\nThe available values are as follows:\n\n    Extremely Cold\n    Frigid\n    Cold\n    Chilly\n    Nippy\n    Cool\n    Refreshing Cool\n    Mild\n    Pleasantly Warm\n    Warm\n    Hot\n    Extremely Hot\n    Breezy\n    Windy\n    Gusty\n    Blustery\n    Very Windy\n    Extremely Windy\n    High Winds\n    Beautiful\n    Very Nice\n    Nice\n    Dreary\n    Smoggy\n    Low Level Pollution\n    Blowing Snow\n    Blowing Spray\n    Dry\n    Comfortable\n    Crisp\n    Raw\n    Damp\n    Humid\n    Muggy\n    Sultry\n    Steamy\n"
        comfort:
          type: string
          example: '24.31'
          description: 'Comfort level in degrees. This value indicates what the temperature feels like, depending on a variety of environmental factors such as wind speed and humidity.


            If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

            '
        highTemperature:
          type: string
          example: '31.40'
          description: 'The Highest temperature for the day in Celsius/Fahrenheit.


            If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


            The value used depends on the units parameter value. The default is Celsius.

            '
        lowTemperature:
          type: string
          example: '24.6'
          description: 'The lowest temperature for the day in Celsius/Fahrenheit.


            If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.


            The value used depends on the units parameter value. The default is Celsius.

            '
        humidity:
          type: string
          example: '91'
          description: 'Humidity as a percentage (%)


            If the element is in the response and it contains a value, there is a Double in the String. If the element is in the response and it does not contain a value, there is an asterisk (*) in the String.

            '
        dewPoint:
          type: number
          format: double
          example: 22.78
          description: 'Dew point in Celsius/Fahrenheit.


            The value used depends on the units parameter value. The default is Celsius.

            '
        precipitation1H:
          type: number
          format: double
          example: 1
          description: 'Precipitation over 1 hour in cm/in.


            The value used depends on the units parameter value.

            '
        precipitation3H:
          type: number
          format: double
          example: 2
          description: 'Precipitation over 3 hour in cm/in.


            The value used depends on the units parameter value.

            '
        precipitation6H:
          type: number
          format: double
          example: 4
          description: 'Precipitation over 6 hour in cm/in.


            The value used depends on the units parameter value.

            '
        precipitation12H:
          type: number
          format: double
          example: 5
          description: 'Precipitation over 12 hour in cm/in.


            The value used depends on the units parameter value.

            '
        precipitation24H:
          type: number
          format: double
          example: 11
          description: 'Precipitation over 24 hour in cm/in.


            The value used depends on the units parameter value.

            '
        precipitationProbability:
          type: integer
          format: int32
          example: 22
          description: 'Precipitation probability percentage (%).

            '
        precipitationDesc:
          type: string
          example: Strong thunderstorms
          description: "Precipitation description.\n\nThe possible values are:\n\n    Drizzle\n    Sprinkles\n    Scattered Showers\n    A Few Showers\n    Light Showers\n    Passing Showers\n    Light Rain\n    Rain Showers\n    Rain\n    Numerous Showers\n    Showery\n    Heavy Rain\n    Lots of Rain\n    Tons of Rain\n    Flash Floods\n    Widely Scattered TStorms\n    Isolated TStorms\n    A Few TStorms\n    Thundershowers\n    Thunderstorms\n    Strong Thunderstorms\n    Severe Thunderstorms\n    Hail\n    Tornado\n    Tropical Storm\n    Hurricane\n    Light Freezing Rain\n    Light Mixture of Precip\n    Sleet\n    Icy Mix\n    Freezing Rain\n    Mixture of Precip\n    Heavy Mixture of Precip\n    Snow Changing to Rain\n    Snow Changing to an Icy Mix\n    An Icy Mix Changing to Snow\n    An Icy Mix Changing to Rain\n    Rain Changing to Snow\n    Rain Changing to an Icy Mix\n    Scattered Flurries\n    Snow Flurries\n    Light Snow Showers\n    Snow Showers\n    Light Snow\n    Snow\n    Moderate Snow\n    Heavy Snow\n    Snowstorm\n    Blizzard\n    Sprinkles Early\n    Showers Early\n    Light Rain Early\n    Rain Early\n    Heavy Rain Early\n    TStorms Early\n    Flurries Early\n    Snow Showers Early\n    Light Snow Early\n    Snow Early\n    Heavy Snow Early\n    Light Icy Mix Early\n    Icy Mix Early\n    Sprinkles Late\n    Showers Late\n    Light Rain Late\n    Rain Late\n    Heavy Rain Late\n    Isolated TStorms Late\n    Scattered TStorms Late\n    TStorms Late\n    Flurries Late\n    Snow Showers Late\n    Light Snow Late\n    Snow Late\n    Heavy Snow Late\n    Light Icy Mix Late\n    Icy Mix Late\n"
        rainFall:
          type: number
          format: double
          example: 11
          description: 'Amount of rain in cm/in.


            The value used depends on the units parameter value.

            '
        snowFall:
          type: number
          format: double
          example: 0
          description: 'Amount of snow in cm/in.


            The value used depends on the metric parameter value.

            '
        airInfo:
          type: integer
          format: int32
          example: 7
          description: "Air description value\n\nThe possible values are as follows:\n\n    1 - Extremely Cold\n    2 - Frigid\n    3 - Cold\n    4 - Chilly\n    5 - Nippy\n    6 - Cool\n    7 - Refreshing Cool\n    8 - Mild\n    9 - Pleasantly Warm\n    10 - Warm\n    11 - Hot\n    12 - Extremely Hot\n    13 - Breezy\n    14 - Windy\n    15 - Gusty\n    16 - Blustery\n    17 - Very Windy\n    18 - Extremely Windy\n    19 - High Winds\n    20 - Beautiful\n    21 - Very Nice\n    22 - Nice\n    23 - Dreary\n    24 - Smoggy\n    25 - Low Level Pollution\n    26 - Blowing Snow\n    27 - Blowing Spray\n    28 - Dry\n    29 - Comfortable\n    30 - Crisp\n    31 - Raw\n    32 - Damp\n    33 - Humid\n    34 - Muggy\n    35 - Sultry\n    36 - Steamy\n"
        airDesc:
          type: string
          example: Refreshing Cool
          description: 'Air description.


            See the text descriptions associated with the airInfo element above.

            '
        windSpeed:
          type: number
          format: double
          example: 14.83
          description: 'Wind speed in km/h or mph.


            The value used depends on the units parameter value.

            '
        windDirection:
          type: number
          format: double
          example: 200
          description: 'Wind direction in degrees.

            '
        windDesc:
          type: string
          example: Northwest
          description: 'Human readable description of the direction of the wind.

            '
        windDescShort:
          type: string
          example: NW
          description: 'Abbreviation of the direction the wind is coming from.

            '
        beaufortScale:
          type: integer
          format: int32
          example: 0
          description: "Wind speed on the Beaufort scale.\n\nThe possible values are:\n\n    0 - Calm\n    1 - Light Air\n    2 - Light Breeze\n    3 - Gentle Breeze\n    4 - Moderate Breeze\n    5 - Fresh Breeze\n    6 - Strong Breeze\n    7 - Near Gale\n    8 - Gale\n    9 - Severe Gale\n    10 - Storm\n    11 - Violent Storm\n    12 - Hurricane\n"
        beaufortDesc:
          type: string
          example: Calm
          description: 'Beaufort scale conditions description.


            See the text descriptions associated with the beaufortScale element above.

            '
        uvIndex:
          type: integer
          format: int32
          example: 3
          description: "UV Index value.\n\nThe possible values are:\n\n    0 - Minimal\n    3 - Low\n    5 - Moderate\n    7 - High\n    10 - Extreme\n"
        uvDesc:
          type: string
          example: Low
          description: 'UV conditions description.


            See the text descriptions associated with the uvIndex element above.

            '
        barometerPressure:
          type: number
          format: double
          example: 1006.1
          description: 'Barometric pressure in mbar/in. Value is corrected to the mean sea-level pressure (MSLP)

            '
        barometerTrend:
          type: string
          example: Falling
          description: 'Description of the trend in the barometric pressure.

            '
        visibility:
          type: number
          format: double
          example: 150
          description: 'Visibility in km/mi.


            The value used depends on the units parameter value.

            '
        snowCover:
          type: number
          format: double
          example: 0
          description: 'Amount of snow on the ground in cm/in.


            The value used depends on the units parameter value.

            '
        iconId:
          type: integer
          format: int32
          example: 3
          description: "Icon number.\n\nThe possible values are in range 1 to 36 and depends on weather conditions and day segment. One number can represent multiple weather conditions.\n\nValue 36 means wether station does not report any information about weather conditions like sky description, cloudiness, precipitation etc. so is unknown which icon best describes weather conditions.\nLink to blank image is in `iconLink` field in this case.\n\n    1 - Sunny\n    2 - Mostly Sunny\n    3 - Haze\n    4 - Partly Cloudy\n    5 - High Clouds\n    6 - Mostly Cloudy\n    7 - Cloudy\n    8 - Light Fog\n    9 - Dense Fog\n    10 - Ice Fog\n    11 - Sand Storm\n    12 - Early Fog\n    13 - Night Clear\n    14 - Night Mostly Clear\n    15 - Night Partly Cloudy\n    16 - Night High Clouds\n    17 - Night Mostly Cloudy\n    18 - Sprinkles\n    19 - Rain\n    20 - Heavy Rain\n    21 - Scattered Thunderstorms\n    22 - Thunderstorms\n    23 - Severe Thunderstorms\n    24 - Hail\n    25 - Tornado\n    26 - Hurricane\n    27 - Sleet\n    28 - Snow and Rain Mix\n    29 - Light Snow\n    30 - Snow\n    31 - Heavy Snow\n    32 - Flood\n    33 - Showers\n    34 - Night Sprinkles\n    35 - Night Thunderstorms\n    36 - No Report\n"
        iconName:
          type: string
          example: severeTstorms
          description: "Icon name.\n\nThe possible values are:\n\n    sunny\n    clear\n    mostlySunny\n    mostlyClear\n    passingClounds\n    moreSunThanClouds\n    scatteredClouds\n    partlyCloudy\n    aMixtureOfSunAndClouds\n    increasingCloudiness\n    breaksOfSunLate\n    afternoonClouds\n    morningClouds\n    partlySunny\n    highLevelClouds\n    decreasingCloudiness\n    clearingSkies\n    highClouds\n    rainEarly\n    heavyRainEarly\n    strongThunderstorms\n    severeThunderstorms\n    thundershowers\n    thunderstorms\n    tstormsEarly\n    isolatedTstormsLate\n    scatteredTstormsLate\n    tstormsLate\n    tstorms\n    iceFog\n    moreCloudsThanSun\n    brokenClouds\n    scatteredShowers\n    aFewShowers\n    lightShowers\n    passingShowers\n    rainShowers\n    showers\n    widelyScatteredTstorms\n    isolatedTstorms\n    aFewTstorms\n    scatteredTstorms\n    hazySunshine\n    haze\n    smoke\n    lowLevelHaze\n    earlyFogFollowedBySunnySkies\n    earlyFog\n    lightFog\n    fog\n    denseFog\n    nightHaze\n    nightSmoke\n    nightLowLevelHaze\n    nightWidelyScatteredTstorms\n    nightIsolatedTstorms\n    nightFewTstorms\n    nightScatteredTstorms\n    nightTstorms\n    nightClear\n    mostlyCloudy\n    cloudy\n    overcast\n    lowClouds\n    hail\n    sleet\n    lightMixtureOfPrecip\n    icyMix\n    mixtureOfPrecip\n    heavyMixtureOfPrecip\n    snowChangingToRain\n    snowChangingToAnIcyMix\n    anIcyMixChangingToSnow\n    anIcyMixChangingToRain\n    rainChangingToSnow\n    rainCangingToAnIcyMix\n    lightIcyMixEarly\n    icyMixEarly\n    lightIcyMixLate\n    icyMixLate\n    snowRainMix\n    scatteredFlurries\n    snowFlurries\n    lightSnowShowers\n    snowShowers\n    lightSnow\n    flurriesEarly\n    snowShowersEarly\n    lightSnowEarly\n    flurriesLate\n    snowShowersLate\n    lightSnowLate\n    nightDecreasingCloudiness\n    nightClearingSkies\n    nightHighLevelClouds\n    nightHighClouds\n    nightScatteredShowers\n    nightAFewShowers\n    nightLightShowers\n    nightPassingShowers\n    nightRainShowers\n    nightSprinkles\n    nightShowers\n    nightMostlyClear\n    nightPassingClouds\n    nightScatteredClouds\n    nightPartlyCloudy\n    increasingCloudiness\n    nightAfternoonClouds\n    nightMorningClouds\n    nightBrokenClouds\n    nightMostlyCloudy\n    lightFreezingRain\n    freezingRain\n    heavyRain\n    lotsOfRain\n    tonsOfRain\n    heavyRainEarly\n    heavyRainLate\n    flashFloods\n    flood\n    drizzle\n    sprinkles\n    lightRain\n    sprinklesEarly\n    lightRainEarly\n    sprinklesLate\n    lightRainLate\n    rain\n    numerousShowers\n    showery\n    showersEarly\n    rainEarly\n    showersLate\n    rainLate\n    snow\n    moderateSnow\n    snowEarly\n    snowLate\n    heavySnow\n    heavySnowEarly\n    heavySnowLate\n    tornado\n    tropicalStorm\n    hurricane\n    sandStorm\n    dustStorm\n    snowStorm\n    blizzard\n    noReportIcon\n"
        iconLink:
          type: string
          example: https://weather.hereapi.com/static/weather/icon/6.png
          description: 'Link to icon resource file.


            An individual icon may be used for more than one of the iconName values given above and image file name may be different from icon field value.

            '
        ageMinutes:
          type: integer
          format: int32
          example: 33
          description: 'Data age in minutes.

            '
        activeAlerts:
          type: integer
          format: int32
          example: 0
          description: 'Number of active weather alerts.

            '
        weekday:
          $ref: '#/components/schemas/WeekDayType'
        time:
          type: string
          format: date-time
          example: '2020-08-28T00:00:00.000-05:00'
          description: 'Date and time the forecast was issued. The format is either YYYY-MM-DDThh:mm:ss.SSS + the timezone offset, unless the forecast is for a location in the UTC zone, in which the date and time is terminated by a Z.


            Note: If daylight saving time is in effect for a specified location, times are adjusted for daylight saving time.

            '
    WeekDayType:
      type: string
      example: th
      description: 'Day of week

        '
      enum:
      - mo
      - tu
      - we
      - th
      - fr
      - sa
      - su
[...]
