# x-archived-from: here-data-metadata-v1-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"Metadata API v1","description":"The `metadata` service provides a way to get information (metadata) about layers and partitions stored in a catalog. This service exposes the metadata for all the partitions or all the changed partitions. For a catalog with versioned layers, the metadata can be retrieved for a particular version or version range of the catalog. The following operations can be performed for a catalog with versioned layers:\n- List versions of the catalog\n- Get latest and minimum version of the catalog\n- Get metadata of the specific layers\n\nFor a volatile layer, the metadata can be fetched for all or a subset of partitions of the layer.","contact":{},"version":"1.2.0","x-olp-service":{"name":"metadata","version":"v1"}},"externalDocs":{"description":"The developer guide and related API references are available here.","url":"https://www.here.com/docs/category/data-api"},"servers":[{"url":"https://use.apilookup.for.a.base.url/"}],"security":[{"Bearer":[]}],"tags":[{"name":"metadata","description":"Get information about catalogs, layers, and partitions"}],"paths":{"/layerVersions":{"get":{"tags":["metadata"],"summary":"Gets layer versions for catalog version","description":"Returns information about layer versions for the catalog version. It will return an error if the catalog does not have any versions or if the version passed in the query parameter does not exist. If a layer does not have any data for the requested version it is excluded from the response.","operationId":"Metadata API v1 getLayersVersion","parameters":[{"name":"version","in":"query","description":"Catalog version","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alphanumeric ASCII characters [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/LayerVersions"}}}},"400":{"description":"Required parameters are missing","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist","content":{}}},"x-olp-access-type":"resource"}},"/layers/{layerId}/changes":{"get":{"tags":["metadata"],"summary":"Gets changes for the version range.","description":"Gets the latest partition metadata in a version range for a versioned layer or a time range for a volatile layer. For versioned layers the range is expressed as a start and end version and returns only the latest changes for the partitions which were added and removed inbetween the specified start and end versions. If a partition was created and deleted between the versions specified in the `startVersion` and `endVersion` parameters, the partition is included in the response with an empty `dataHandle` value. For example, if you request versions `0` to `10`, and a partition was created in version `3` and then deleted in version `7`, it is included in the response with an empty `dataHandle` value.","operationId":"Metadata API v1 getChanges","parameters":[{"name":"layerId","in":"path","description":"Unique layer ID. Content of this parameter must refer to a valid layer ID.","required":true,"schema":{"type":"string"}},{"name":"startVersion","in":"query","description":"Available/Required for versioned layers only; the beginning of the range of versions to get (exclusive). By convention -1 indicates the initial version before the first publication. After the first publication, the catalog version is 0.","schema":{"type":"integer","format":"int64"}},{"name":"endVersion","in":"query","description":"Available/Required for versioned layers only; the end of the range of versions to get (inclusive). This must be a valid catalog version greater than the startVersion.","schema":{"type":"integer","format":"int64"}},{"name":"sinceTime","in":"query","description":"Available/Required for volatile layers only; will return partitions whose data has been modified since this time, in milliseconds since epoch, inclusive.","schema":{"type":"integer","format":"int64"}},{"name":"part","in":"query","description":"Available/Required for versioned layers only; indicates which part of the layer shall be queried.","required":false,"schema":{"type":"string"},"x-example":"7a320ce9e4d04d749c7a19810f99a3a1"},{"$ref":"#/components/parameters/Context"},{"name":"additionalFields","in":"query","description":"Additional fields - `dataSize`, `checksum`, `compressedDataSize`, `crc`.","style":"form","explode":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdditionalFieldsEnum"}}},{"name":"Range","in":"header","description":"Use this parameter to resume download of a large response for versioned layers when there is a connection issue between the client and server. Specify a single byte range offset like this: `Range: bytes=10-`. This parameter is compliant with [RFC 7233](https://tools.ietf.org/html/rfc7233), but note that this parameter only supports a single byte range. The `range` parameter can also be specified as a query parameter, i.e. `range=bytes=10-`. For volatile layers use the pagination links returned in the response body.","schema":{"type":"string"}},{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","headers":{"Last-Modified":{"description":"The date and time at which the resource was last modified","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Partitions"}}}},"206":{"description":"Partial response in case the server provides and accepts range query parameter or Content-Range header","headers":{"Last-Modified":{"description":"The date and time at which the resource was last modified","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Partitions"}}}},"400":{"description":"Required parameters are missing","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog or layer does not exist","content":{}},"416":{"description":"Range Not Satisfiable, invalid range query parameter or Content-Range header","content":{}},"500":{"description":"Internal Server Error","content":{}},"503":{"description":"Service Unavailable","headers":{"Retry-After":{"description":"Retry after the specified number of seconds","schema":{"type":"integer","format":"int64"}}},"content":{}}},"x-olp-access-type":"resource","x-fullurl-type":"nextUrl"}},"/layers/{layerId}/changes/parts":{"get":{"tags":["metadata"],"summary":"Get partIds for parallel queries of changes for the version range.","description":"Returns a list of Part Ids which represent the parts that can be used to limit the scope of queries of changes for the version range. This allows to run parallel queries with multiple parts. The user has to provide the desired number of parts and the service will return a list of Part Ids. Please note in some cases the requested number of parts will make them too small and in this case the service might return lesser amount of the parts than requested.","operationId":"Metadata API v1 getChangesParts","parameters":[{"name":"layerId","in":"path","description":"Unique layer ID. Content of this parameter must refer to a valid layer ID.","required":true,"schema":{"type":"string"}},{"name":"numRequestedParts","in":"query","description":"Indicates requested number of parts.","required":true,"schema":{"type":"integer"},"allowEmptyValue":false,"x-example":12}],"responses":{"200":{"description":"OK - Operation executed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsResponse"}}}},"400":{"description":"Bad Request - The request is invalid. Verify number of requested parts and retry."},"401":{"description":"Unauthorized - The credentials provided do not authorize the user to perform this operation."},"403":{"description":"Forbidden - The user is not authorized to perform the query on the resource specified."},"404":{"description":"Not Found - A layer with the given name does not exist."}},"x-olp-access-type":"resource"}},"/layers/{layerId}/partitions":{"get":{"tags":["metadata"],"summary":"Gets partitions","description":"Gets the metadata for all partitions in a specific layer.","operationId":"Metadata API v1 getPartitions","parameters":[{"name":"layerId","in":"path","description":"Unique layer ID. Content of this parameter must refer to a valid layer ID.","required":true,"schema":{"type":"string"}},{"name":"version","in":"query","description":"If metadata is being gotten from a versioned layer, specify the version of the target layer. This parameter is required for versioned layers. If metadata is being gotten from another layer type, do not specify this parameter.","schema":{"type":"integer","format":"int64"}},{"name":"part","in":"query","description":"Available/Required for versioned layers only; indicates which part of the layer shall be queried.","required":false,"schema":{"type":"string"},"x-example":"7a320ce9e4d04d749c7a19810f99a3a1"},{"$ref":"#/components/parameters/Context"},{"name":"additionalFields","in":"query","description":"Additional fields - `dataSize`, `checksum`, `compressedDataSize`, `crc`.","style":"form","explode":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/AdditionalFieldsEnum"}}},{"name":"Range","in":"header","description":"Use this parameter to resume download of a large response for versioned layers when there is a connection issue between the client and server. Specify a single byte range offset like this: `Range: bytes=10-`. This parameter is compliant with [RFC 7233](https://tools.ietf.org/html/rfc7233), but note that this parameter only supports a single byte range. The `range` parameter can also be specified as a query parameter, i.e. `range=bytes=10-`. For volatile layers use the pagination links returned in the response body.","schema":{"type":"string"}},{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","headers":{"Last-Modified":{"description":"The date and time at which the resource was last modified","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Partitions"}}}},"206":{"description":"Partial response in case the server provides and accepts range query parameter or Content-Range header","headers":{"Last-Modified":{"description":"The date and time at which the resource was last modified","schema":{"type":"string"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Partitions"}}}},"400":{"description":"Required parameters are missing","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog or layer does not exist","content":{}},"416":{"description":"Range Not Satisfiable, invalid range query parameter or Content-Range header","content":{}},"500":{"description":"Internal Server Error","content":{}},"503":{"description":"Service Unavailable","headers":{"Retry-After":{"description":"Retry after the specified number of seconds","schema":{"type":"integer","format":"int64"}}},"content":{}}},"x-olp-access-type":"resource","x-fullurl-type":"nextUrl"}},"/layers/{layerId}/partitions/parts":{"get":{"tags":["metadata"],"summary":"Get partIds for parallel queries of the metadata for all partitions in a specific layer.","description":"Returns a list of Part Ids which represent the parts that can be used to limit the scope of queries of the metadata for all partitions in a specific layer. This allows to run parallel queries with multiple parts. The user has to provide the desired number of parts and the service will return a list of Part Ids. Please note in some cases the requested number of parts will make them too small and in this case the service might return lesser amount of the parts than requested.","operationId":"Metadata API v1 getPartitionsParts","parameters":[{"name":"layerId","in":"path","description":"Unique layer ID. Content of this parameter must refer to a valid layer ID.","required":true,"schema":{"type":"string"}},{"name":"numRequestedParts","in":"query","description":"Indicates requested number of parts.","required":true,"schema":{"type":"integer"},"allowEmptyValue":false,"x-example":12}],"responses":{"200":{"description":"OK - Operation executed successfully","content":{"application/json":{"schema":{"$ref":"#/components/schemas/PartsResponse"}}}},"400":{"description":"Bad Request - The request is invalid. Verify number of requested parts and retry."},"401":{"description":"Unauthorized - The credentials provided do not authorize the user to perform this operation."},"403":{"description":"Forbidden - The user is not authorized to perform the query on the resource specified."},"404":{"description":"Not Found - A layer with the given name does not exist."}},"x-olp-access-type":"resource"}},"/versions":{"get":{"tags":["metadata"],"summary":"Gets catalog versions","description":"Returns information about specific catalog version(s). If the catalog doesn't contain any versions 404 will be returned. Maximum number of versions to be returned per call is 1000 versions. If requested range is bigger than 1000 versions 400 Bad Request will be returned.\nExpected either pair 'startVersion' and 'endVersion', or 'version' query parameter, otherwise 400 Bad Request will be returned.","operationId":"Metadata API v1 listVersions","parameters":[{"name":"startVersion","in":"query","description":"The beginning of the range of versions to get (exclusive). By convention -1 indicates the initial version before the first publication. After the first publication, the catalog version is 0.","schema":{"type":"integer","format":"int64"}},{"name":"endVersion","in":"query","description":"The end of the range of versions to get (inclusive). This must be a valid catalog version greater than the startVersion. The maximum value for this parameter is returned from the `/versions/latest` endpoint. If this version does not exist, 400 Bad Request is returned","schema":{"type":"integer","format":"int64"}},{"name":"version","in":"query","description":"The array of catalogs versions to fetch. If provided version if out of range of the catalog existing versions, 400 Bad Request is returned.","schema":{"type":"array","items":{"type":"integer","format":"int64","description":"The version to get. This must be a valid catalog version."},"minItems":1}},{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}},{"$ref":"#/components/parameters/Context"}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionInfos"}}}},"400":{"description":"Bad Request - indicates that request failed fast validation e.g. syntax, some logical errors or required parameters are missing","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist or the catalog doesn't contain any versions","content":{}},"500":{"description":"Internal Server Error","content":{}},"503":{"description":"Service Unavailable","headers":{"Retry-After":{"description":"Retry after the specified number of seconds","schema":{"type":"integer","format":"int64"}}},"content":{}}},"x-olp-access-type":"resource"}},"/versions/compatibles":{"post":{"tags":["metadata"],"summary":"Gets a list of available catalog versions that respect the given dependencies","description":"Given a list of HRNs and versions provided by the user, returns a list of versions of this catalog for which the listed HRN are either present in the direct or indirect dependencies with the same version, or are not present. Depending on 'strict' flag versions that don't depend on any of the provided catalog HRNs, can also be considered compatible. The compatible versions are returned in reverse order, from the newest to the oldest. When there is no compatible version the service returns an empty list. When the catalog has no version a 404 is returned.","operationId":"Metadata API v1 compatibleVersions","parameters":[{"in":"query","name":"limit","schema":{"type":"integer","default":1},"description":"The numbers of items to return per page"},{"in":"query","name":"strict","schema":{"type":"boolean","default":false},"description":"if 'strict=true' versions to be considered compatible should depend on at least one of the provided catalog HRNs."}],"requestBody":{"description":"The catalog dependencies we want to search for","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Dependencies"}}}},"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionsResponse"}}}},"400":{"description":"Bad Request - indicates that request failed fast validation e.g. syntax, some logical errors or required parameters are missing","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist or the catalog doesn't contain any versions","content":{}},"500":{"description":"Internal Server Error","content":{}},"503":{"description":"Service Unavailable","content":{}}},"x-olp-access-type":"resource"}},"/versions/latest":{"get":{"tags":["metadata"],"summary":"Gets the latest available catalog version","description":"Returns information about the latest version for the given catalog. If the catalog doesn't contain any versions a 404 will be returned.","operationId":"Metadata API v1 latestVersion","parameters":[{"name":"startVersion","in":"query","description":"The catalog version returned from a prior request to `/versions/latest`. The version from each request should be saved so that it can be used in the `startVersion` parameter of subsequent requests. If there is no version from a prior request, set the parameter to -1.","required":true,"schema":{"type":"integer","format":"int64"}},{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"400":{"description":"Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist or the catalog doesn't contain any versions.","content":{}}},"x-olp-access-type":"resource"}},"/versions/minimum":{"get":{"tags":["metadata"],"summary":"Gets the earliest available catalog version","description":"Returns minimum version for the given catalog. If the catalog doesn't contain any versions 404 will be returned.","operationId":"Metadata API v1 minimumVersion","parameters":[{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"responses":{"200":{"description":"OK","content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"400":{"description":"Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist or the catalog doesn't contain any versions.","content":{}}},"x-olp-access-type":"resource"},"post":{"tags":["metadata"],"summary":"Sets the earliest available catalog version","description":"Sets minimum version for the given catalog. All prior versions will be deleted. If the catalog doesn't contain any versions, a 404 will be returned.","operationId":"Metadata API v1 setMinimumVersion","parameters":[{"name":"billingTag","in":"query","description":"Billing Tag is an optional free-form tag which is used for grouping billing records together. If supplied, it must be between 4 - 16 characters, contain only alpha/numeric ASCII characters  [A-Za-z0-9]. Grouping billing records by billing tag will be available in future releases.","schema":{"type":"string"}}],"requestBody":{"description":"A version object that contains new minimum version.","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MinimumVersionInfo"}}}},"responses":{"204":{"description":"Minimum version was set successfully.","content":{}},"400":{"description":"Bad Request - indicates that the request failed the validation, e.g. syntax check is failing, logical errors exist or required parameters are missing.","content":{}},"401":{"description":"Unauthorized","content":{}},"403":{"description":"Forbidden","content":{}},"404":{"description":"Catalog does not exist or the catalog doesn't contain any versions.","content":{}}},"x-olp-access-type":"resource"}}},"components":{"schemas":{"LayerVersion":{"required":["layer","timestamp","version"],"type":"object","properties":{"layer":{"type":"string","description":"Layer ID","example":"my-layer"},"version":{"type":"integer","description":"Version of the layer when it was last updated","format":"int64","example":0},"timestamp":{"type":"integer","description":"Each time a layer version increments, this updates `timestamp` for this layer version *and* `timestamp` for the related catalog version, which increments as well. The `timestamp` is in milliseconds since UNIX Epoch time.","format":"int64","example":1516397474657}},"description":"Describes catalog layer version."},"LayerVersions":{"required":["layerVersions","version"],"type":"object","properties":{"layerVersions":{"type":"array","description":"List of layer versions","items":{"$ref":"#/components/schemas/LayerVersion"}},"version":{"type":"integer","description":"Catalog version","format":"int64","example":1}},"description":"Describes the list of the layer versions for a given catalog version."},"Partition":{"required":["partition","version"],"type":"object","properties":{"layer":{"type":"string","description":"Id of the layer this partition belongs to.","example":"test-layer"},"checksum":{"type":"string","description":"The checksum field is optional. The response includes the checksum only if `checksum` is specified in the `additionalFields` query parameter, and if a checksum was specified in the partition metadata when it was published. The algorithm used to calculate the checksum is user-specific. Algorithms that can be used are, for example, MD5 or SHA1. The algorithm is defined in the layer configuration. And if it is not defined in the catalog configuration, consumers cannot make any assumptions on the algorithm that was used to calculate the checksum. The checksum of the data content can be used if data comparison needs to be working for this catalog. The maximum length of the checksum field is 128 characters. In the case of the compressed data, the checksum is calculated for the uncompressed data.","example":"291f66029c232400e3403cd6e9cfd36e"},"compressedDataSize":{"type":"integer","description":"Optional value for the size of the compressed partition data in bytes. The response only includes the compressed data size if `compressedDataSize` is specified in the `additionalFields` query parameter, and if compression is enabled, and if `compressedDataSize` was specified in the partition metadata when it was published.","format":"int64","example":1024},"dataHandle":{"type":"string","description":"The data handle is used when retrieving the data that relates to this partition. The data handle identifies a specific blob so that the blob's contents can be requested with the Blob API. When requesting data from the Blob API, the catalog ID, layer ID and the dataHandle must be specified. An empty data handle indicates the removal of this partition.","example":"1b2ca68f-d4a0-4379-8120-cd025640510c"},"dataSize":{"type":"integer","description":"Optional value for the size of the partition data in bytes. The response only includes the data size if `dataSize` specified in the `additionalFields` query parameter, and if `dataSize` was specified in the partition metadata when it was published.","format":"int64","example":1024},"crc":{"type":"string","description":"Optional value for the CRC of the partition data in bytes. The response only includes the data size if `crc` is specified in the `additionalFields` query parameter, and if `crc` was specified in the partition metadata when it was published.","example":"c3f276d7"},"partition":{"type":"string","pattern":"[a-zA-Z0-9_\\-\\.:]","description":"The partition key. This is a unique key for a partition within a layer. If the layer's partitioning scheme is set to `heretile`, the partition key is equivalent to the tile key. The partition key cannot be empty. The maximum length of the partition key is 500 characters.","example":"314010583"},"version":{"type":"integer","description":"For active versioned partitions, the version of the catalog when this partition was last changed. For volatile partitions this will always be -1","format":"int64","example":1}},"description":"Describes the partition object which is unique within a layer."},"AdditionalFieldsEnum":{"type":"string","enum":["dataSize","checksum","compressedDataSize","crc"]},"Partitions":{"required":["partitions"],"type":"object","properties":{"partitions":{"type":"array","items":{"$ref":"#/components/schemas/Partition"}},"next":{"type":"string","description":"If the number of results exceeds the limit, then this uri will be present and will provide the path to the next batch of results.","format":"uri","example":"/uri/to/next/page"}},"description":"Describes a list of partitions for a given layer and layer version."},"CatalogVersion":{"type":"object","required":["hrn","version"],"properties":{"hrn":{"type":"string","example":"hrn:here:data:::my-catalog","description":"The HERE Resource Name (HRN) of a catalog."},"version":{"type":"integer","format":"int64","example":24,"description":"The version of the catalog metadata."}}},"Dependencies":{"type":"object","properties":{"dependencies":{"type":"array","description":"A list of catalog versions.","items":{"$ref":"#/components/schemas/CatalogVersion"}}}},"VersionsResponse":{"type":"object","properties":{"versions":{"type":"array","description":"A list of catalog versions.","items":{"type":"object","properties":{"version":{"type":"integer","format":"int64","example":42},"sharedDependencies":{"type":"array","description":"A list of the catalog.","items":{"$ref":"#/components/schemas/CatalogVersion"}}}}},"next":{"type":"string","description":"If the number of results exceeds the provided limit then this uri will be present and will provide the path to the next batch of results.","format":"uri","example":"/uri/to/next/page"}}},"VersionDependency":{"required":["direct","hrn","version"],"type":"object","properties":{"direct":{"type":"boolean","description":"Indicates the type of data dependency. If this value is set to false, this dependency is an indirect dependency. This means that data from this catalog was not directly used by a data processing pipeline to update the current version of the catalog. Instead, the data was only used by upstream pipeline(s) to generate the input data.","example":false},"hrn":{"type":"string","description":"The HERE Resource Name (HRN) of the catalog that the batch commit depends on.","example":"hrn:here:data:::my-catalog"},"version":{"type":"integer","description":"The version of the catalog metadata that the batch commit depends on.","format":"int64","example":23}},"description":"Describes the properties of the version dependencies."},"VersionInfo":{"required":["dependencies","timestamp","version"],"type":"object","properties":{"dependencies":{"type":"array","description":"A list of the catalog dependencies.","items":{"$ref":"#/components/schemas/VersionDependency"}},"partitionCounts":{"type":"object","additionalProperties":{"type":"integer","format":"int64"},"description":"A map of the layers in the catalog and their partition counts. The map is expressed in key value pairs."},"timestamp":{"type":"integer","description":"A `timestamp` that indicates when the version was created. The `timestamp` is in milliseconds since UNIX Epoch time.","format":"int64","example":1516397474657},"version":{"type":"integer","description":"The version of the catalog metadata. It is incremented every time a catalog metadata is changed e.g. by publishing new partitions to durable layers.","format":"int64","example":1},"hasKnownIssues":{"type":"boolean","description":"Indicates whether this catalog version has known issues. A value of true usually means that HERE had to delete selected partitions for this catalog version in incidental mode due to legal or other reasons. If you want to avoid using catalog versions with known issues, use this flag in your application logic. A common SDK use case is clearing the local cache based on this information."}},"description":"Describes properties for the catalog version."},"VersionInfos":{"required":["versions"],"type":"object","properties":{"versions":{"type":"array","items":{"$ref":"#/components/schemas/VersionInfo"}}},"description":"Describes the list of version information for a catalog."},"VersionResponse":{"required":["version"],"type":"object","properties":{"version":{"type":"integer","description":"The version of the catalog metadata. It is incremented every time a catalog metadata is changed e.g. by publishing new partitions to durable layers.","format":"int64"}},"description":"The version of the catalog."},"MinimumVersionInfo":{"required":["version"],"type":"object","properties":{"version":{"type":"integer","description":"The minimum version of the catalog metadata to update.","format":"int64"}},"description":"The minumum version of the catalog."},"PartsResponse":{"type":"object","properties":{"parts":{"type":"array","example":["eyJwYXJ0SW5kZXgiOjEsIm1heFBhcnRzIjo1LCJzY29wZSI6InBwIn0","eyJwYXJ0SW5kZXgiOjMsIm1heFBhcnRzIjo1LCJzY29wZSI6InBwIn0"],"items":{"type":"string"}}},"title":"PartsResponse"}},"parameters":{"Context":{"name":"context","in":"query","description":"The context where the operation will be performed on a composite layers. Only available for versioned layers.\n\nAvailable context are:\n|Context|Description|\n|-------|-----------|\n|default|The default value if none is given. For composite layers the operation is executed for both layers current and the layer it extends. For normal layers this is the only valid context.|\n|extension|The operation will be executed only in the extension and no operation will be performed in the extended layer.|\n|super| The operation will be executed only in the layer being extended (super layer).|\n","schema":{"type":"string","enum":["default","extension","super"],"default":"default"}}},"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\n\nFor more information on how to get a bearer token, see the [Identity & Access Management Guide](https://www.here.com/docs/bundle/identity-and-access-management-developer-guide/page/README.html).\n"}}}}