# x-archived-from: here-traffic-vector-tile-v2-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"version":"2.3.0","title":"Traffic Vector Tile API v2","description":"The HERE Traffic Vector Tile API provides real-time traffic flow and incident information.\nThis is the traffic layer of the HERE Vector Tile service.\n\nThe service supports [CORS](https://en.wikipedia.org/wiki/Cross-origin_resource_sharing).\n","termsOfService":"https://developer.here.com/terms-conditions","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"},"x-document-meta-data":{"copyright":"Copyright 2020 HERE Europe B.V."}},"externalDocs":{"description":"The developer guide and release notes are available here.","url":"https://www.here.com/docs/category/traffic-vector-tile-api"},"servers":[{"url":"https://traffic.vector.hereapi.com/v2","description":"Production"}],"security":[{"bearerTokenAuth":[],"ApiKey":[]}],"tags":[{"name":"Tiles","description":"Endpoints to request tiles"},{"name":"API Information","description":"Endpoints to request status of the API"}],"paths":{"/traffictiles/{layer}/{projection}/{z}/{x}/{y}/{format}":{"get":{"summary":"Retrieves the protocol buffer encoded binary tile.","description":"Retrieves the protocol buffer encoded binary tile with the traffic data.","operationId":"Traffic Vector Tile API v2 getTile","tags":["Tiles"],"parameters":[{"$ref":"#/components/parameters/layer"},{"$ref":"#/components/parameters/projection"},{"$ref":"#/components/parameters/z"},{"$ref":"#/components/parameters/x"},{"$ref":"#/components/parameters/y"},{"$ref":"#/components/parameters/format"},{"$ref":"#/components/parameters/features"},{"$ref":"#/components/parameters/incidentType"},{"$ref":"#/components/parameters/X-Request-ID"}],"responses":{"200":{"$ref":"#/components/responses/TileResponseOk"},"204":{"$ref":"#/components/responses/TileResponseNoTrafficData"},"304":{"$ref":"#/components/responses/TileResponseNotModified"},"400":{"$ref":"#/components/responses/TileResponseInvalidRequest"},"401":{"$ref":"#/components/responses/TileResponseUnauthorized"},"403":{"$ref":"#/components/responses/TileResponseForbidden"},"404":{"$ref":"#/components/responses/TileResponseNotFound"},"500":{"$ref":"#/components/responses/TileResponseServerError"},"503":{"$ref":"#/components/responses/TileResponseServiceUnavailable"}}}},"/health":{"get":{"operationId":"Traffic Vector Tile API v2 getHealth","summary":"Health status of the service","description":"Returns the health of the service","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/X-Request-ID"}],"responses":{"200":{"description":"Health response in case of success.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOk"}}}},"default":{"description":"Health response in case of failure.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFail"}}}}}}},"/openapi":{"get":{"operationId":"Traffic Vector Tile API v2 getOpenAPI","summary":"OpenAPI 3.0 definition.","description":"Returns the OpenAPI 3.0 definition of this API.","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/X-Request-ID"}],"responses":{"200":{"description":"OK - OpenAPI file returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"type":"object"}}}},"default":{"$ref":"#/components/responses/TileResponseServerError"}}}},"/version":{"get":{"operationId":"Traffic Vector Tile API v2 getVersion","summary":"API version information","description":"Returns version information of the API Specification.","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/X-Request-ID"}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"401":{"$ref":"#/components/responses/TileResponseUnauthorized"},"403":{"$ref":"#/components/responses/TileResponseForbidden"},"default":{"$ref":"#/components/responses/TileResponseServerError"}}}}},"components":{"parameters":{"incidentType":{"name":"incidentType","description":"Comma-separated list of the incident type(s) to be returned on the incident layer.\n","in":"query","style":"form","explode":false,"required":false,"schema":{"$ref":"#/components/schemas/IncidentType"}},"layer":{"name":"layer","in":"path","description":"Specifies which kind of traffic information should be used for response generation.\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/LayerParameter"}},"projection":{"name":"projection","in":"path","description":"Specifies the tile projection.\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ProjectionParameter"}},"z":{"name":"z","in":"path","description":"Specifies the tile Zoom level. Accepted values range from 1-17.\n  * minimum - 1\n  * maximum - 17\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/ZParameter"},"example":11},"x":{"name":"x","in":"path","description":"Specifies the X coordinate index. This parameter is dependent upon the tile Zoom level.\n  * minimum - 0\n  * maximum - 2^z-1 (depends on the Zoom level)\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/XParameter"},"example":1100},"y":{"name":"y","in":"path","description":"Specifies the Y coordinate index. This parameter is dependent upon the tile Zoom level.\n  * minimum - 0\n  * maximum - 2^z-1 (depends on the Zoom level)\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/YParameter"},"example":671},"format":{"name":"format","in":"path","description":"Specifies the tile format.\n  * omv - Optimized Map for Visualization (follows Map Vector Tile open specification)\n","required":true,"style":"simple","explode":false,"schema":{"$ref":"#/components/schemas/FormatParameter"},"example":"omv"},"features":{"name":"features","in":"query","description":"Specifies the type of traffic features to use.\nIf the parameter is not provided standard traffic features are used.\n","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/FeaturesParameter"}},"X-Request-ID":{"name":"X-Request-ID","in":"header","description":"The uuid string user can provide for tracing purpose.","required":false,"schema":{"$ref":"#/components/schemas/XRequestId"}}},"responses":{"TileResponseForbidden":{"description":"Indicates authentication failure.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ForbiddenResponse"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseInvalidRequest":{"description":"Indicates a request has been received not according to the API specification.\n","content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"}}},"headers":{"Access-Control-Allow-Headers":{"$ref":"#/components/headers/Access-Control-Allow-Headers"},"Access-Control-Allow-Methods":{"$ref":"#/components/headers/Access-Control-Allow-Methods"},"Access-Control-Allow-Origin":{"$ref":"#/components/headers/Access-Control-Allow-Origin"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseNotFound":{"description":"Indicates that the resource was not found.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseNotModified":{"description":"Indicates success. Returned when the tile in the server matches the `ETag` value provided in the request.","headers":{"Access-Control-Allow-Headers":{"$ref":"#/components/headers/Access-Control-Allow-Headers"},"Access-Control-Allow-Methods":{"$ref":"#/components/headers/Access-Control-Allow-Methods"},"Access-Control-Allow-Origin":{"$ref":"#/components/headers/Access-Control-Allow-Origin"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseNoTrafficData":{"description":"Tile data is not available (at all or for requested tile version) or no features in\nrequested tile.\n","headers":{"Access-Control-Allow-Headers":{"$ref":"#/components/headers/Access-Control-Allow-Headers"},"Access-Control-Allow-Methods":{"$ref":"#/components/headers/Access-Control-Allow-Methods"},"Access-Control-Allow-Origin":{"$ref":"#/components/headers/Access-Control-Allow-Origin"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseOk":{"description":"OK - Tile successfully retrieved.","content":{"application/x-protobuf":{"schema":{"$ref":"#/components/schemas/TileResponse"}}},"headers":{"Access-Control-Allow-Headers":{"$ref":"#/components/headers/Access-Control-Allow-Headers"},"Access-Control-Allow-Methods":{"$ref":"#/components/headers/Access-Control-Allow-Methods"},"Access-Control-Allow-Origin":{"$ref":"#/components/headers/Access-Control-Allow-Origin"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseServerError":{"description":"Indicates a server malfunction and an unexpected error.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseServiceUnavailable":{"description":"Indicates that the service is temporarily unavailable due to system overload or\nmaintenance. You might try later for the same resource and the request might succeed.\n","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponseUnauthorized":{"description":"Access token is missing or invalid.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/UnauthorizedResponse"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}}},"schemas":{"ErrorResponse":{"description":"Indicates an invalid parameter value in the request, for example `zoom` out of range.","type":"object","required":["title","status","code","cause","action","correlationId"],"properties":{"code":{"description":"The error code.","type":"string"},"status":{"description":"Service specific error code.","type":"integer"},"cause":{"description":"Root cause of the error.","type":"string","example":"Invalid layer value: test"},"correlationId":{"description":"X-Correlation-ID is auto-generated by the front-end service.","type":"string"},"title":{"description":"Title of the error.","type":"string"},"action":{"description":"The action performed by the user.","type":"string"}}},"ForbiddenResponse":{"description":"Indicates the user is forbidden from performing the request.","type":"object","required":["error","error_description"],"properties":{"error":{"description":"The reason why the request is forbidden.","type":"string"},"error_description":{"description":"A detailed description as to why the request is forbidden.","type":"string"}}},"FeaturesParameter":{"type":"string","enum":["premium"]},"FormatParameter":{"description":"The format of the vector data to be returned.","type":"string","enum":["omv"]},"HealthResponseFail":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}}},"HealthResponseOk":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n","type":"string","enum":["ok"]}}},"IncidentType":{"description":"Represents the type of incident that has occurred. The enumerations are derived from\nTilezen's Incident Kind values. See: https://docs.in.here.com/static/89411/908736/html/topics/layers.html#traffic-incidents\n","type":"array","example":["accident","road_hazard"],"items":{"type":"string","enum":["accident","congestion","construction","disabled_vehicle","lane_restriction","mass_transit","planned_event","road_hazard","road_closure","weather","other"]}},"LayerParameter":{"description":"* traffic: Both flow and incident traffic events will be provided in generated response.\n* flow: Only traffic flow information will be provided in response.\n* incident: Only traffic incident information will be provided in response.\n","type":"string","enum":["traffic","flow","incident"]},"ProjectionParameter":{"description":"Type of projection used to represent the globe.","type":"string","enum":["mc"],"example":"mc"},"TileResponse":{"description":"Protobuf representing OMV vector tile data.","type":"string","format":"binary"},"UnauthorizedResponse":{"type":"object","properties":{"error":{"type":"string","example":"Unauthorized"},"error_description":{"type":"string","example":"ApiKey invalid. ApiKey not found."}}},"XParameter":{"description":"The `x` coordinate in the Mercator projection. Top left is `(0,0)`.\n\nValues within range `0` to `(2^z)-1`\n","minimum":0,"type":"integer"},"YParameter":{"description":"The `y` coordinate in the Mercator projection. Top left is `(0,0)`.\n\nValues within range `0` to `(2^z)-1`\n","minimum":0,"type":"integer"},"ZParameter":{"description":"Represents the zoom level.\n","maximum":17,"minimum":1,"type":"integer"},"VersionResponse":{"type":"object","description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","pattern":"^[0-9]+\\.[0-9]+(\\.[0-9]+)?$"},"serviceVersion":{"type":"string","description":"The current version of the service.","pattern":"^[0-9]+\\.[0-9]+(\\.[0-9]+)?$"},"dataVersions":{"type":"array","description":"List of data sources and their versions used by the service.","items":{"type":"object","properties":{"name":{"type":"string","description":"The name or HRN (HERE Resource Name) of the data source.","example":"hrn:here:data::olp-here:rib-2"},"version":{"type":"string","description":"The version of the data source.","example":"8063"}},"required":["name","version"]}}},"required":["apiVersion"]},"XRequestId":{"description":"A uuid provided by the user for tracing requests.","type":"string"}},"securitySchemes":{"bearerTokenAuth":{"type":"http","scheme":"bearer","bearerFormat":"JWT"},"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests.\nFor more information on how to get an API key, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.\n"}},"headers":{"Access-Control-Allow-Headers":{"description":"Pre-flight header indicating the types of headers that can be used in the actual request","schema":{"type":"string","example":"Authorization, Origin, Referer, User-Agent, If-None-Match"}},"Access-Control-Allow-Methods":{"description":"Pre-flight header indicating the types of methods that can be used in the actual request","schema":{"type":"string","example":"GET, OPTIONS"}},"Access-Control-Allow-Origin":{"description":"Pre-flight header indicating whether the response can be shared with requesting code from the given origin","schema":{"type":"string"},"example":"*"},"X-Correlation-ID":{"description":"Auto-generated ID, which uniquely identifies the request, available in the response. When contacting the support with an inquiry regarding a specific request, provide the value of this header. This will help troubleshooting the issue.\n","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-ID":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"},"example":"REQ-8230d7ad-3f1c-4191-a8dd-f3c42026da89"}}}}