# x-archived-from: here-interactive-map-v1-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"Interactive Map API v1","description":"Interactive Map API v1 is a REST API for simple access to geo data.","contact":{},"version":"1.22.2","x-olp-service":{"name":"interactive","version":"v1"}},"externalDocs":{"description":"The developer guide and related API references are available here.","url":"https://www.here.com/docs/category/data-api"},"servers":[{"url":"https://use.apilookup.for.a.base.url/"}],"security":[{"Bearer":[]}],"tags":[{"name":"Read Features","description":"Read only endpoints for features."},{"name":"Write Features","description":"Write endpoints for features."},{"name":"Manage Tags","description":"Read and write endpoints for tags."}],"paths":{"/layers/{layerId}/features":{"get":{"tags":["Read Features"],"summary":"Get features by ID","description":"Returns all the features found for the provided list of IDs. The response is always a FeatureCollection, even if there are no features with the provided IDs.","operationId":"Interactive Map API v1 getFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Ids"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/Author"}],"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"},"put":{"tags":["Write Features"],"summary":"Create or replace multiple features","description":"Create or replace the provided features.","operationId":"Interactive Map API v1 putFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/VersionRef"}],"requestBody":{"$ref":"#/components/requestBodies/FeatureCollectionRequest"},"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionModificationResponse"},"204":{"$ref":"#/components/responses/EmptyResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"409":{"$ref":"#/components/responses/ErrorResponse409"},"413":{"$ref":"#/components/responses/ErrorResponse413"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"},"post":{"tags":["Write Features"],"summary":"Modify features in the layer","description":"Create or patch features.","operationId":"Interactive Map API v1 postFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/VersionRef"}],"requestBody":{"$ref":"#/components/requestBodies/FeatureCollectionOrFeatureModificationListRequest"},"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionModificationResponse"},"204":{"$ref":"#/components/responses/EmptyResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"409":{"$ref":"#/components/responses/ErrorResponse409"},"413":{"$ref":"#/components/responses/ErrorResponse413"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"},"delete":{"tags":["Write Features"],"summary":"Delete multiple features","description":"Delete the features with the provided ids.","operationId":"Interactive Map API v1 deleteFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Ids"},{"$ref":"#/components/parameters/VersionRef"},{"name":"eraseContent","in":"query","description":"false - [default]\n\ntrue  - erase, wipe all content","required":false,"schema":{"type":"boolean","default":false}}],"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionModificationResponse"},"204":{"$ref":"#/components/responses/EmptyResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}},"x-olp-access-type":"resource"}},"/layers/{layerId}/features/{featureId}":{"get":{"tags":["Read Features"],"summary":"Get a feature by ID","description":"Retrieves the feature with the provided identifier.","operationId":"Interactive Map API v1 getFeature","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/FeatureId"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/Author"}],"responses":{"200":{"$ref":"#/components/responses/FeatureResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"},"put":{"tags":["Write Features"],"summary":"Create or replace a feature","description":"Creates or replaces a feature in the layer.","operationId":"Interactive Map API v1 putFeature","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/FeatureId"},{"$ref":"#/components/parameters/VersionRef"}],"requestBody":{"$ref":"#/components/requestBodies/FeatureRequest"},"responses":{"200":{"$ref":"#/components/responses/FeatureResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"409":{"$ref":"#/components/responses/ErrorResponse409"},"413":{"$ref":"#/components/responses/ErrorResponse413"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"},"patch":{"tags":["Write Features"],"summary":"Patch a feature","description":"Patches an existing feature.","operationId":"Interactive Map API v1 patchFeature","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/FeatureId"},{"$ref":"#/components/parameters/VersionRef"}],"requestBody":{"$ref":"#/components/requestBodies/FeatureRequest"},"responses":{"200":{"$ref":"#/components/responses/FeatureResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"409":{"$ref":"#/components/responses/ErrorResponse409"},"413":{"$ref":"#/components/responses/ErrorResponse413"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"},"delete":{"tags":["Write Features"],"summary":"Deletes a feature from the layer","description":"Deletes an existing feature.","operationId":"Interactive Map API v1 deleteFeature","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/FeatureId"},{"$ref":"#/components/parameters/VersionRef"}],"responses":{"204":{"$ref":"#/components/responses/EmptyResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}},"x-olp-access-type":"resource"}},"/layers/{layerId}/statistics":{"get":{"tags":["Read Features"],"summary":"Get statistics","description":"Returns statistical information about this layer.","operationId":"Interactive Map API v1 getStatistics","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/SkipCache"}],"responses":{"200":{"$ref":"#/components/responses/StatisticsResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/bbox":{"get":{"tags":["Read Features"],"summary":"Get features by bounding box","description":"Return the features which are inside a bounding box stipulated by bbox parameter.","operationId":"Interactive Map API v1 getFeaturesByBBox","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Clip"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/PropertiesQuery"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Clustering"},{"$ref":"#/components/parameters/ClusteringParams"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/BBox"},{"$ref":"#/components/parameters/VersionRef"}],"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/tile/{tileType}/{tileId}":{"get":{"tags":["Read Features"],"summary":"Get features in tile","description":"List the features selected by tile type and tile id.","operationId":"Interactive Map API v1 getFeaturesByTile","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/TileType"},{"$ref":"#/components/parameters/TileId"},{"$ref":"#/components/parameters/Clip"},{"$ref":"#/components/parameters/PropertiesQuery"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Clustering"},{"$ref":"#/components/parameters/ClusteringParams"},{"$ref":"#/components/parameters/Margin"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Mode"},{"$ref":"#/components/parameters/VizSampling"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/VersionRef"}],"responses":{"200":{"$ref":"#/components/responses/TileResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/spatial":{"get":{"tags":["Read Features"],"summary":"Get features with radius search","description":"List the features which are inside the specified radius.\nThe origin radius point is calculated based either on latitude & longitude or by\nspecifying a features geometry. As third option it is possible to use a H3 index\nas input geometry.\n","operationId":"Interactive Map API v1 getFeaturesBySpatial","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Latitude"},{"$ref":"#/components/parameters/Longitude"},{"$ref":"#/components/parameters/RefLayerId"},{"$ref":"#/components/parameters/RefFeatureId"},{"$ref":"#/components/parameters/H3Index"},{"$ref":"#/components/parameters/Radius"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Clip"},{"$ref":"#/components/parameters/PropertiesQuery"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/RefCatalogHrn"}],"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"},"post":{"tags":["Read Features"],"summary":"Get features which intersects the provided geometry.","description":"List the features which are inside the specified radius.\nThe origin point is calculated based on the geometry provided as payload.\n","operationId":"Interactive Map API v1 getFeaturesBySpatialPost","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Radius"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Clip"},{"$ref":"#/components/parameters/PropertiesQuery"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/VersionRef"}],"requestBody":{"$ref":"#/components/requestBodies/GeometryRequest"},"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/search":{"get":{"tags":["Read Features"],"summary":"Search for features","description":"Searches for features in the layer. The results are unordered and the request does not allow continuation of the search, which is the main difference when compared to the _iterate_ request.","operationId":"Interactive Map API v1 searchFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/PropertiesQuery"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/Author"}],"responses":{"200":{"$ref":"#/components/responses/FeatureCollectionResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/iterate":{"get":{"tags":["Read Features"],"summary":"Iterate features in the layer","description":"Iterates all of the features in the layer. The features in the response are ordered so that no feature is returned twice. If there are more features which could be loaded, the response FeatureCollection contains the root attribute _nextPageToken_. The value of this attribute can be passed as a query parameter for the following request in order to continue the iteration from the marked position.","operationId":"Interactive Map API v1 iterateFeatures","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/PropertiesSelection"},{"$ref":"#/components/parameters/SkipCache"},{"$ref":"#/components/parameters/Force2D"},{"$ref":"#/components/parameters/Version"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/PageToken"}],"responses":{"200":{"$ref":"#/components/responses/IterateResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"security":[{"ApiKey":[]},{"Bearer":[]}],"x-olp-access-type":"resource"}},"/layers/{layerId}/changesets":{"get":{"tags":["Manage Changesets"],"summary":"Get Changesets","description":"Retrieves a subset of existing Changesets from the space's history.\nThe subset can be defined by providing a version ref that references a version range\ne.g., \"5..6\" or \"0..HEAD\"\n\n\nThe version range can be specified using the `versionRef` query-parameter as follows:\n`<start>..<end>`\n\nWhere `<start>` is the start of the range (exclusive) and `<end>` is the end of the range\n(inclusive). (`5..10` points to the versions in the interval `]5, 10]`)\n\n\nEach successful write transaction to the space is stored as one single Changeset,\nwhich can contain modifications applied to one or more features.\n\n\nThe response payload may be split in multiple pages. The next page token is written in the\nproperty 'nextPageToken', which then can be used to retrieve the next page using the\n'pageToken' parameter on the next call.\n","operationId":"Interactive Map API v1 getChangesets","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/VersionRef"},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Limit"},{"$ref":"#/components/parameters/Author"},{"$ref":"#/components/parameters/StartTime"},{"$ref":"#/components/parameters/EndTime"}],"responses":{"200":{"$ref":"#/components/responses/ChangesetCollectionResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"},"delete":{"tags":["Manage Changesets"],"summary":"Delete Changesets","description":"Deletes one or more changesets where the version number can be specified by the query parameter 'version', where the value must be an integer, bigger than 0 and the comparator should be one of the below list:\n  - <\n  - =lt=\n\n\nExample: To remove changesets older than version number 10, a DELETE /layers/{layerId}/changesets?version=lt=10 could be executed.\n\nThe service will begin the process to remove the versions from version 9 until the version 0. During the deletion process, newer versions can be created and won't be affected.","operationId":"Interactive Map API v1 deleteChangesets","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/VersionLowerThan"}],"responses":{"204":{"$ref":"#/components/responses/EmptyResponse"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}},"x-olp-access-type":"resource"}},"/layers/{layerId}/changesets/{version}":{"get":{"tags":["Manage Changesets"],"summary":"Get Changeset","description":"Retrieves one Changeset from the layer by version.\nEach successful write transaction to the layer is stored as one single Changeset, which can contain modifications applied to one or more features.\nThe response payload may be split in multiple pages, next page is written in the property 'nextPageToken', which then, can be retrieved by using the 'pageToken' parameter.","operationId":"Interactive Map API v1 getChangeset","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/VersionPath"},{"$ref":"#/components/parameters/PageToken"},{"$ref":"#/components/parameters/Limit"}],"responses":{"200":{"$ref":"#/components/responses/ChangesetResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"513":{"$ref":"#/components/responses/ErrorResponse513"}},"x-olp-access-type":"resource"}},"/layers/{layerId}/tags":{"get":{"tags":["Manage Tags"],"summary":"List tags","description":"List tags available in the layer.\nList can include system tags when includeSystemTags parameter is set to true.","operationId":"Interactive Map API v1 listTags","parameters":[{"$ref":"#/components/parameters/LayerId"}],"responses":{"200":{"$ref":"#/components/responses/TagsResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"}}},"post":{"tags":["Manage Tags"],"summary":"Create a tag","description":"Create a tag, which points to a version of the layer.\nIf a version is not provided when creating the tag, then the current HEAD version will be referenced.","operationId":"Interactive Map API v1 createTag","parameters":[{"$ref":"#/components/parameters/LayerId"}],"requestBody":{"$ref":"#/components/requestBodies/TagRequest"},"responses":{"200":{"$ref":"#/components/responses/TagResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"},"409":{"$ref":"#/components/responses/ErrorResponse409"}}}},"/layers/{layerId}/tags/{tagId}":{"patch":{"tags":["Manage Tags"],"summary":"Update a tag","description":"Update the version of a tag.","operationId":"Interactive Map API v1 updateTag","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/TagId"}],"requestBody":{"$ref":"#/components/requestBodies/TagRequest"},"responses":{"200":{"$ref":"#/components/responses/TagResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}}},"get":{"tags":["Manage Tags"],"summary":"Get a tag","description":"Retrieves a tag.","operationId":"Interactive Map API v1 getTag","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/TagId"}],"responses":{"200":{"$ref":"#/components/responses/TagResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}}},"delete":{"tags":["Manage Tags"],"summary":"Delete a tag","description":"Deletes a tag.","operationId":"Interactive Map API v1 deleteTag","parameters":[{"$ref":"#/components/parameters/LayerId"},{"$ref":"#/components/parameters/TagId"}],"responses":{"200":{"$ref":"#/components/responses/TagResponse"},"400":{"$ref":"#/components/responses/ErrorResponse400"},"401":{"$ref":"#/components/responses/ErrorResponse401"},"403":{"$ref":"#/components/responses/ErrorResponse403"},"404":{"$ref":"#/components/responses/ErrorResponse404"}}}}},"components":{"securitySchemes":{"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\n\nFor more information on how to get a bearer token, see the [Identity & Access Management Guide](https://developer.here.com/documentation/identity-access-management/dev_guide/index.html).\n"},"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information on how to get an API key, see the [Identity & Access Management Guide](https://developer.here.com/documentation/identity-access-management/dev_guide/index.html).\n"}},"parameters":{"Author":{"name":"author","in":"query","description":"Filter the results per author.","required":false,"schema":{"type":"string"}},"Clip":{"name":"clip","in":"query","description":"If set to _true_ the features' geometries are clipped to the geometry of the tile, bounding box or input geometry. Default is _false_.","required":false,"schema":{"type":"boolean"}},"Clustering":{"name":"clustering","in":"query","description":"The clustering algorithm to apply to the data within the result. Providing this query parameter, the data is returned in a clustered way. This means the data is not necessarily returned in its original shape or with its original properties.\nDepending on the chosen clustering algorithm, there could be different mandatory and/or optional parameters to specify the behavior of the algorithm.\nPossible values are:\n\n  * \"hexbin\"\n\n    The hexbin algorithm divides the world in hexagonal \"bins\" on a specified resolution.\n    Each hexagon has an address being described by the H3 addressing scheme.\n    For more information on this topic see: https://eng.uber.com/h3/\n\n  * \"quadbin\"\n\n    The quadbin algorithm takes the geometry input from the request (for example, quadkey / bbox..)\n    and count the features in it. This clustering mode works also for very large layers and\n    can be used for getting an overview where data is present in a given layer. Furthermore,\n    a property filter on one property is applicable.","required":false,"schema":{"type":"string","enum":["hexbin","quadbin"]}},"ClusteringParams":{"name":"clusteringParams","in":"query","required":false,"description":"Some parameters for the chosen clustering algorithm.\n\nDepending on the chosen clustering algorithm, there could be different mandatory and/or\noptional parameters to specify the behavior of the algorithm.\n\n### Clustering-Parameter reference\n\nNOTE: The actual query parameters in the URL look like: `?clustering.aParameterName=aValue`\n\n**Clustering-type: \"hexbin\":**\n\nThere are several parameters needed by the H3 based hexbin algorithm.\nFor more information on this topic see: https://eng.uber.com/h3/\n\n| Parameter   | Type    | Mandatory | Meaning                                                               |\n|-------------|---------|-----------|-----------------------------------------------------------------------|\n| absoluteResolution  | Number  | NO        | integer, The H3 hexagon resolution [0,13]                      |\n| resolution  | Number  | NO        | deprecated, renamed to absoluteResolution                             |\n| relativeResolution | Number  | NO        | integer value [-2,2] to be added to current used resolution  |\n| property    | String  | NO        | A property of the original features for which to calculate statistics |\n| pointmode   | Boolean | NO        | retuns the centroid of hexagons as geojson feature                    |\n| singlecoord | Boolean | NO        | force to evaluate the first object coordinate only (default: false)   |\n| sampling    | String  | NO        | samplingratio of underlying dataset  |\n|             |         |           | string value [off (1/1), low (1/8), lowmed (1/32), med (1/128), medhigh (1/1024), high (1/4096)] (default: off) |\n\n**Clustering-type: \"quadbin\":**\n\nThere are several parameters needed by the quadbin algorithm. You can use one property filter in combination.\n\n| Parameter   | Type    | Mandatory | Meaning                                                               |\n|-------------|---------|-----------|-----------------------------------------------------------------------|\n| relativeResolution | Number  | NO        | integer, The quad resolution [0,4]                                             |\n| noBuffer    | Boolean | NO        | do not place a buffer around quad polygons, default: false            |\n| resolution  | Number  | NO        | deprecated, renamed to resolutionRelative             |\n| countmode   | String  | NO        | [real, estimated, mixed, bool]                                    |\n|             |         |           | real = real feature counts. Best accuracy, but slow.                  |\n|             |         |           |     Not recommended for big result sets                       |\n|             |         |           |                                                                       |\n|             |         |           | estimated = estimated feature counts. Low accuracy, but very fast      |\n|             |         |           |     Recommended for big result sets                           |\n|             |         |           |                                                                       |\n|             |         |           | mixed (default) = estimated feature counts combined with real ones.   |\n|             |         |           |     If the estimation is low a real count gets applied. Fits to the |\n|             |         |           |     most use cases                                        |\n|             |         |           |                                                                       |\n|             |         |           | bool = test if data exists in tile but does not count features  |\n|             |         |           |     The returned count property set to 1, for non empty tiles |\n","style":"form","explode":true,"allowReserved":true,"schema":{"type":"array","items":{"type":"string"},"example":{"clustering.resolution":3,"clustering.property":"a.nested.property"}}},"StartTime":{"name":"startTime","in":"query","description":"Filter changesets by creation time. Start time in milliseconds since the UNIX epoch (exclusive).\n","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},"EndTime":{"name":"endTime","in":"query","description":"Filter changesets by creation time. End time in milliseconds since the UNIX epoch (inclusive).\n","required":false,"schema":{"type":"integer","format":"int64","minimum":0}},"FeatureId":{"name":"featureId","in":"path","description":"The unique identifier of a feature in the layer.","required":true,"schema":{"type":"string"}},"Force2D":{"name":"force2D","in":"query","description":"If set to _true_ the features in the response have only X's and Y's as coordinates.","schema":{"type":"boolean"}},"Ids":{"name":"id","in":"query","description":"A comma separated list of unique feature identifiers. These are the acceptable formats for this field:\n  * id=value1,value2\n  * id=value1,id=value2\n\n\nnot required when eraseContent=true is used.","required":false,"schema":{"type":"array","items":{"type":"string"}}},"Latitude":{"name":"lat","in":"query","description":"The latitude in WGS'84 decimal degree (-90 to +90) of the center Point.","schema":{"type":"number","minimum":-90,"maximum":90}},"Limit":{"name":"limit","in":"query","description":"The maximum number of features in the response. Default is _30000_. Hard limit is _100000_.","schema":{"type":"integer"}},"Longitude":{"name":"lng","in":"query","description":"The longitude in WGS'84 decimal degree (-180 to +180) of the center Point.","schema":{"type":"number","minimum":-180,"maximum":180}},"Margin":{"name":"margin","in":"query","description":"Margin in pixels on the respective projected level around the tile. Default is 0.","schema":{"type":"integer","minimum":0}},"Mode":{"name":"mode","in":"query","description":"Optimize resultset and geometries for dispaly. mode = [raw|viz]\n\nNote: when using mode=viz, the value of \"limit\" parameter will be set to its max value (100000) if not specified otherwise.","required":false,"schema":{"type":"string","enum":["raw","viz"]}},"PageToken":{"name":"pageToken","in":"query","description":"The page token where the iteration will continue.","schema":{"type":"string"}},"PropertiesQuery":{"name":"params","in":"query","description":"Additional feature filters which compare the feature's property value with the one specified in the query, resulting in a subset of features.\n\nThe usage of multiple property names represents an AND operation. The usage of a comma (,) separating the properties values, represents an OR operation.\n\nProperties initiated with 'f.' are used to access values which are added by default in the stored feature. The possible values are: 'f.id', 'f.createdAt', 'f.updatedAt'.\n\nProperties initiated with 'p.' are used to access values in the stored feature which are under the 'properties' property. Use it as a shorthand accessor for 'properties' values.\n\nThe format should follow the specification below\n  * ?p.property_name_1=property_value_1&f.special_property_name_1=special_property_value_1\n\n\nFor example, the above query, the Features are filtered by 'property' AND 'special property' equals to their respective values.\n\nWhile in the following example\n  * ?p.property_name_1=value_1,value_2\n\n\nThe resulting Features list contains all elements having value_1 OR value_2.\n\nAdditionally, to the operators used in the examples above, the query can be written, with the same semantic, by using the long operators: \"=gte=\", \"=lte=\", \"=gt=\", \"=lt=\" and \"=cs=\". The following queries yield the same result:\n  * ?p.property_name_1>=10\n  * ?p.property_name_1=gte=10\n\n\nThe available operators are:\n  - \"=\" - equals\n  - \"!=\" - not equals\n  - \"=.null\" - is null\n  - \"!=.null\" - is not null\n  - \">=\" or \"=gte=\" - greater than or equals\n  - \"<=\" or \"=lte=\" - less than or equals\n  - \">\" or \"=gt=\" - greater than\n  - \"<\" or \"=lt=\" - less than\n  - \"@>\" or \"=cs=\" - Array contains\n","explode":true,"style":"form","allowReserved":true,"schema":{"type":"object","example":{"p.myProperty":"someValue","p.otherProperty":5},"additionalProperties":{"type":"string"}}},"PropertiesSelection":{"name":"selection","in":"query","description":"A list of properties to be returned in the features result list. Multiple attributes can be\nspecified by using comma(,).\n\nExample: ?selection=p.name,p.capacity,p.color,rootpropertyname\n  - !geometry : special value to omit geometries\n","explode":false,"schema":{"type":"array","items":{"type":"string"}}},"H3Index":{"name":"h3Index","in":"query","description":"H3 index","schema":{"type":"string"}},"Radius":{"name":"radius","in":"query","description":"Radius in meters which defines the diameter of the search request.","schema":{"type":"integer"}},"TagId":{"name":"tagId","in":"path","description":"The id of the tag.","required":true,"schema":{"type":"string"}},"RefFeatureId":{"name":"refFeatureId","in":"query","description":"The unique identifier of a feature in the referenced layer.\nThe feature's geometry is used as a reference in the spatial search.","schema":{"type":"string"}},"RequiredIds":{"name":"id","in":"query","description":"A comma separated list of unique feature identifiers. These are the acceptable formats for this field:\n  * id=value1,value2\n  * id=value1,id=value2","required":true,"schema":{"type":"array","items":{"type":"string"}}},"VersionLowerThan":{"name":"version","in":"query","description":"The query parameter used to specify the versions to be deleted. The value must be an integer, bigger than 1, and the comparator should be one of the below list:\n  - <\n  - =lt=","required":true,"schema":{"type":"string"}},"SkipCache":{"name":"skipCache","in":"query","description":"If set to _true_ the response is not returned from cache. Default is _false_.","schema":{"type":"boolean"}},"TileId":{"name":"tileId","in":"path","description":"The tile identifier can be provided as quadkey (__1__), Web Mercator level,x,y coordinates (__1_1_0__) or OSGEO Tile Map Service level,x,y (__1_1_0__).","required":true,"schema":{"type":"string"}},"TileType":{"name":"tileType","in":"path","description":"The type of tile identifier. \"quadkey\" - Virtual Earth, \"web\" - Web Mercator, \"tms\" - OSGEO Tile Map Service, \"here\" - Here Tile Schema.","required":true,"schema":{"type":"string","enum":["quadkey","web","tms","here"]}},"Version":{"name":"version","in":"query","description":"The query parameter used to specify the version of a feature or feature collection to be loaded.","required":false,"schema":{"type":"string"}},"VersionPath":{"name":"version","in":"path","description":"The version of a Changeset.","required":true,"schema":{"type":"string"}},"VersionRef":{"name":"versionRef","in":"query","description":"The query parameter used to specify the target version reference when reading or writing features.\nA reference describes a target tag or a version.\n\nDefault is: `HEAD`\n\n<br>\nDepending on the use-case it can be necessary to specify a range of versions rather than\nonly one version. In such a case the version part of the Ref would look like:\n`<start>..<end>`\n\nWhere `<start>` is the start of the range (exclusive) and `<end>` is the end of the range\n(inclusive).\n\nAnother way of specifying a version range is using the star-symbol: `*`\n\nUsing `*` refers to \"all available versions\" in the space or branch and is only\napplicable in the cases in which a version range may be provided.\n\n<br>\nSamples:\n  - `42` points to version 42\n  - `HEAD` points to the latest version\n  - `myTag` points to the version of the tag with ID \"myTag\"\n  - `0..HEAD` points to all available versions\n  - `*` also points to all versions (short form)\n  - `5..10` points to the versions in the interval `]5, 10]`\n","required":false,"schema":{"type":"string","default":"HEAD"}},"VizSampling":{"name":"vizSampling","in":"query","description":"Choose sampling strength in case of mode = viz.\nvizSampling = [low|med|high|off] - default: med.","required":false,"schema":{"type":"string","enum":["low","med","high","off"]}},"BBox":{"name":"bbox","in":"query","description":"A Bounding Box defined by west, south, east and north coordinates separated by comma.\nExample: bbox=13.082,52.416,13.628,52.626 - Bounding box of Berlin","required":false,"schema":{"type":"string"}},"RefCatalogHrn":{"name":"refCatalogHrn","in":"query","description":"Represents the catalog where the feature referenced by refFeatureId is present. Required if refFeatureId is used.","schema":{"type":"string"}},"LayerId":{"name":"layerId","in":"path","description":"The unique identifier of the layer.","required":true,"schema":{"type":"string"}},"RefLayerId":{"name":"refLayerId","in":"query","description":"The layer where the feature, referenced by refFeatureId, is stored.\nRequired if refFeatureId is used.","schema":{"type":"string"}}},"responses":{"ChangesetCollectionResponse":{"description":"A collection of Changesets which contains FeatureCollections grouped by operation.","content":{"application/vnd.here.changeset-collection":{"schema":{"$ref":"#/components/schemas/ChangesetCollection"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ChangesetResponse":{"description":"One Changeset which contains FeatureCollections grouped by operation.","content":{"application/vnd.here.changeset":{"schema":{"$ref":"#/components/schemas/Changeset"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"EmptyResponse":{"description":"An empty response as a result of a user-request with accepted MIME type application/x-empty.","content":{"application/x-empty":{"schema":{"type":"string"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse400":{"description":"Malformed or Bad Request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9","error":"Exception","errorMessage":"<Invalid request details>"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse401":{"description":"Unauthorized to perform the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}}},"ErrorResponse403":{"description":"Forbidden request. Insufficient rights to perform the request.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9","error":"Exception","errorMessage":"Insufficient rights + <Request specific access error details>"}}}},"ErrorResponse404":{"description":"Not found.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9","error":"Exception","errorMessage":"The requested resource does not exist."}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse409":{"description":"An error response which indicates a conflict.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9","error":"Exception","errorMessage":"The record exists."}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse412":{"description":"An error response which indicates a failed precondition.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse413":{"description":"Request entity too large.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","error":"Exception","errorMessage":"Request entity too large.","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse513":{"description":"Response payload too large.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"type":"ErrorResponse","streamId":"7480e28a-e273-11e8-9af8-7508bbe361d9","error":"Exception","errorMessage":"The response payload was too large. Please try to reduce the expected amount of data."}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"FeatureCollectionModificationResponse":{"description":"An array of features and their modifications response.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollectionModification"},"example":{"type":"FeatureCollection","etag":"b9be03f253c53c23","inserted":["BfiimUxHjj"],"updated":["cuiImUxOjj"],"features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","@ns:com:here:xyz":{"createdAt":1517504700726,"updatedAt":1517504700726},"amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"FeatureCollectionResponse":{"description":"An array of features response.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollection"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"FeatureResponse":{"description":"A feature response.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/Feature"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"IterateResponse":{"description":"A FeatureCollection with handle response.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollectionIterable"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TagResponse":{"description":"A tag response.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}},"TagsResponse":{"description":"A list of tags response.","content":{"application/json":{"schema":{"items":{"$ref":"#/components/schemas/Tag"},"type":"array"}}}},"StatisticsResponse":{"description":"Statistical information about a layer.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/Statistics"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"TileResponse":{"description":"A FeatureCollection in GeoJSON response format.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollection"}}},"headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}}},"requestBodies":{"FeatureCollectionOrFeatureModificationListRequest":{"description":"A FeatureCollection object or a FeatureModificationList object.","required":true,"content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollection"}},"application/vnd.here.feature-modification-list":{"schema":{"$ref":"#/components/schemas/FeatureModificationList"}}}},"FeatureCollectionRequest":{"description":"A feature collection request.","required":true,"content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/FeatureCollection"}}}},"FeatureRequest":{"description":"A feature request.","required":true,"content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/Feature"}}}},"GeometryRequest":{"description":"A geometry request.","content":{"application/geo+json":{"schema":{"$ref":"#/components/schemas/Geometry"}}}},"TagRequest":{"required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Tag"}}}}},"schemas":{"Changeset":{"type":"object","description":"A Changeset includes three FeatureCollection objects grouped by the operations inserted, updated, deleted.","properties":{"type":{"type":"string"},"author":{"type":"string","description":"The author who performed the changes."},"inserted":{"type":"array","description":"FeatureCollection of inserted features.","items":{"$ref":"#/components/schemas/FeatureCollection"}},"updated":{"type":"array","description":"FeatureCollection of updated features.","items":{"$ref":"#/components/schemas/FeatureCollection"}},"deleted":{"type":"array","description":"FeatureCollection of deleted features.","items":{"$ref":"#/components/schemas/FeatureCollection"}},"createdAt":{"description":"The UNIX Epoch time of when this object has been created (in milliseconds since 01.01.1970).","example":1234567890123,"format":"int64","readOnly":true,"type":"integer"}},"example":{"type":"Changeset","inserted":{"type":"FeatureCollection","features":[{"type":"Feature","id":"Q1369587","geometry":{"type":"Point","coordinates":[-62.696667,8.3125]},"properties":{"name":"Polideportivo Cachamay","sport":"association football","capacity":41600}}]},"updated":{"type":"FeatureCollection","features":[{"type":"Feature","id":"Q947065","geometry":{"type":"Point","coordinates":[-110.948889,32.228889]},"properties":{"name":"Arizona Stadium","sport":"American football","capacity":56037}}]},"deleted":{"type":"FeatureCollection","features":[{"type":"Feature","id":"Q1369587","geometry":{"type":"Point","coordinates":[-62.696667,8.3125]},"properties":{"name":"Murrayfield Stadium","sport":"rugby union","capacity":67144}}]}}},"ChangesetCollection":{"description":"A ChangesetCollection JSON object.","properties":{"type":{"type":"string"},"startVersion":{"type":"integer","description":"The version of the newest included Changeset."},"endVersion":{"type":"integer","description":"The version of the oldest included Changeset."},"versions":{"type":"object","description":"The map of Changesets where the key is the version of each Changeset.","additionalProperties":{"$ref":"#/components/schemas/Changeset"}},"nextPageToken":{"type":"string","description":"The handle of the next batch."}},"example":{"type":"ChangesetCollection","startVersion":1,"endVersion":2,"versions":{"1":{"type":"Changeset","inserted":{"type":"FeatureCollection","features":[{"type":"Feature","id":"Q1369587","geometry":{"type":"Point","coordinates":[-62.696667,8.3125]},"properties":{"name":"Polideportivo Cachamay","@ns:com:here:xyz":{"version":1},"sport":"association football","capacity":41600}}]},"updated":{"type":"FeatureCollection","features":[{"type":"Feature","id":"Q947065","geometry":{"type":"Point","coordinates":[-110.948889,32.228889]},"properties":{"name":"Arizona Stadium","@ns:com:here:xyz":{"version":1},"sport":"American football","capacity":56037}}]},"deleted":{"type":"FeatureCollection","features":[]}}},"nextPageToken":1000}},"Estimated":{"type":"boolean","description":"True if the value is only an estimation; false otherwise.","example":true},"Feature":{"allOf":[{"$ref":"#/components/schemas/GeoJSON"},{"type":"object","description":"A Feature object represents a spatially bounded thing.","properties":{"id":{"description":"The unique identifier of the feature.","type":"string"},"geometry":{"$ref":"#/components/schemas/Geometry"},"properties":{"type":"object","description":"The properties of the feature.","additionalProperties":true}},"example":{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}}]},"FeatureCollection":{"allOf":[{"$ref":"#/components/schemas/GeoJSON"},{"type":"object","description":"A FeatureCollection GeoJSON object.","required":["features"],"discriminator":{"propertyName":"type","mapping":{"FeatureCollectionIterable":"#/components/schemas/FeatureCollectionIterable","FeatureCollectionModification":"#/components/schemas/FeatureCollectionModification"}},"properties":{"features":{"type":"array","description":"Features included in the collection.","items":{"$ref":"#/components/schemas/Feature"}}},"example":{"type":"FeatureCollection","features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","@ns:com:here:xyz":{"createdAt":1517504700726,"updatedAt":1517504700726},"amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}]},"FeatureCollectionIterable":{"allOf":[{"$ref":"#/components/schemas/FeatureCollection"},{"type":"object","properties":{"handle":{"type":"string","description":"The handle of the next batch."},"nextPageToken":{"type":"string","description":"The token of the next batch."}},"example":{"type":"FeatureCollection","handle":1000,"nextPageToken":1000,"features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","@ns:com:here:xyz":{"createdAt":1517504700726,"updatedAt":1517504700726},"amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}]},"FeatureCollectionModification":{"allOf":[{"$ref":"#/components/schemas/FeatureCollection"},{"type":"object","properties":{"inserted":{"type":"array","description":"List of inserted feature IDs.","items":{"type":"string"}},"updated":{"type":"array","description":"List of updated features IDs.","items":{"type":"string"}},"deleted":{"type":"array","description":"List of deleted features IDs.","items":{"type":"string"}}},"example":{"type":"FeatureCollection","etag":"b9be03f253c53c23","inserted":["BfiimUxHjj"],"updated":["cuiImUxOjj"],"features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","@ns:com:here:xyz":{"createdAt":1517504700726,"updatedAt":1517504700726,"space":"0FzlE2wX"},"amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}]},"FeatureModification":{"type":"object","description":"A FeatureModification object containing GeoJSON FeatureCollections\n(see [RFC-7946](https://tools.ietf.org/html/rfc7946)) or (in case if deletions) a list of\nfeature IDs.\n","required":["type"],"properties":{"type":{"type":"string"},"featureData":{"$ref":"#/components/schemas/FeatureCollection"},"featureIds":{"type":"array","description":"A list of feature IDs (strings)","items":{"type":"string"}},"onFeatureNotExists":{"$ref":"#/components/schemas/OnFeatureNotExists"},"onFeatureExists":{"$ref":"#/components/schemas/OnFeatureExists"},"onMergeConflict":{"$ref":"#/components/schemas/OnMergeConflict"}},"example":{"type":"FeatureModification","featureData":{"type":"FeatureCollection","features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}},"FeatureModificationList":{"type":"object","description":"An object describing modifications of features. Contains feature data being provided as\nGeoJSON FeatureCollections (see [RFC-7946](https://tools.ietf.org/html/rfc7946))\nor (in case of deletions) a list of feature IDs.\n","externalDocs":{"url":"https://tools.ietf.org/html/rfc7946"},"required":["type"],"properties":{"type":{"type":"string"},"modifications":{"type":"array","description":"A list of FeatureModification objects","items":{"$ref":"#/components/schemas/FeatureModification"}}},"example":{"type":"FeatureModificationList","modifications":[{"type":"FeatureModification","featureData":{"type":"FeatureCollection","features":[{"type":"Feature","id":"BfiimUxHjj","geometry":{"type":"Point","coordinates":[-2.960847,53.430828]},"properties":{"name":"Anfield","amenity":"Football Stadium","capacity":54074,"description":"Home of the Liverpool Football Club."}}]}}]}},"GeoJSON":{"type":"object","description":"The base type for all possible GeoJSON objects.","required":["type"],"properties":{"type":{"type":"string"},"bbox":{"type":"array","description":"Describes the coordinate range of the GeoJSON object.","items":{"type":"number"}}},"discriminator":{"propertyName":"type","mapping":{"Feature":"#/components/schemas/Feature","FeatureCollection":"#/components/schemas/FeatureCollection","Geometry":"#/components/schemas/Geometry"}},"additionalProperties":true},"Geometry":{"allOf":[{"$ref":"#/components/schemas/GeoJSON"},{"type":"object","description":"A Geometry object represents points, curves, and surfaces in coordinate layer.","discriminator":{"propertyName":"type","mapping":{"MultiPoint":"#/components/schemas/MultiPoint","MultiLineString":"#/components/schemas/MultiLineString","LineString":"#/components/schemas/LineString","MultiPolygon":"#/components/schemas/MultiPolygon","Point":"#/components/schemas/Point","Polygon":"#/components/schemas/Polygon"}}}]},"LineString":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A LineString geometry.","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2},"minItems":2}}}]},"MultiLineString":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A MultiLineString geometry.","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2},"minItems":2}}}}]},"MultiPoint":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A MultiPoint geometry.","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2}}}}]},"MultiPolygon":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A MultiPolygon geometry.","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2},"minItems":4}}}}}]},"OnFeatureExists":{"type":"string","enum":["merge","patch","replace","delete","retain","error"],"default":"patch"},"OnFeatureNotExists":{"type":"string","enum":["retain","error","create"],"default":"create"},"OnMergeConflict":{"type":"string","enum":["error","retain","replace"],"default":"error"},"Point":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A Point geometry.","properties":{"coordinates":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2}}}]},"Polygon":{"allOf":[{"$ref":"#/components/schemas/Geometry"},{"type":"object","description":"A Polygon geometry.","properties":{"coordinates":{"type":"array","items":{"type":"array","items":{"type":"array","items":{"type":"number"},"maxItems":3,"minItems":2},"minItems":4}}}}]},"Tag":{"type":"object","description":"A tag which points to a version of the layer.","properties":{"id":{"type":"string","description":"The tag ID."},"version":{"type":"integer","format":"int64","description":"The referenced version."},"description":{"type":"string","description":"The description of the tag, must be less than 255 characters."},"author":{"type":"string","description":"The author of the tag."},"createdAt":{"type":"integer","format":"int64","description":"The timestamp of creation of the tag in millis."},"layerId":{"type":"string","description":"The layer ID for which the tag is registered."}}},"Statistics":{"type":"object","description":"The statistical information about the layer.","properties":{"count":{"type":"object","description":"The amount of features stored in the layer.","properties":{"value":{"type":"integer"},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"contentUpdatedAt":{"type":"object","description":"The time when the content in the layer was last updated.","properties":{"value":{"type":"integer"},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"dataSize":{"type":"object","description":"The amount of bytes that are allocated in the storage for this layer.","properties":{"value":{"type":"integer","format":"int64"},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"bbox":{"type":"object","description":"The most outer bounding box around all features being within the layer.","properties":{"value":{"type":"array","items":{"type":"number"}},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"geometryTypes":{"type":"object","description":"The types of geometries part of the layer.","properties":{"value":{"type":"array","items":{"type":"string"}},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"minVersion":{"type":"object","description":"The version number of the oldest available version of the features within the layer.","properties":{"value":{"type":"integer","format":"int64"},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"maxVersion":{"type":"object","description":"The version number of the newest available version of the features within the layer.","properties":{"value":{"type":"integer","format":"int64"},"estimated":{"$ref":"#/components/schemas/Estimated"}}},"properties":{"type":"object","description":"The properties of the features of the layer.","properties":{"value":{"type":"array","items":{"type":"object","properties":{"key":{"type":"string","description":"Property key of the feature.","example":"Route"},"count":{"type":"number","description":"Count of the features with the property.","example":1202},"searchable":{"type":"boolean","description":"Specifies if the property is searchable.","example":false}}}},"estimated":{"$ref":"#/components/schemas/Estimated"},"searchable":{"type":"string","description":"Specifies the scope of searchability of the properties. One of NONE, PARTIAL, ALL.","example":"PARTIAL"}}},"searchable":{"type":"string","description":"Specifies the scope of searchability of the properties. One of NONE, PARTIAL, ALL.","example":"PARTIAL"}},"example":{"type":"StatisticsResponse","count":{"value":29208,"estimated":true},"contentUpdatedAt":{"value":1692368695049,"estimated":true},"minVersion":{"value":0,"estimated":false},"maxVersion":{"value":27,"estimated":false},"dataSize":{"value":108364,"estimated":true},"bbox":{"value":[-10,-10,10,10],"estimated":true},"geometryTypes":{"value":["Point"],"estimated":true},"properties":{"value":[{"key":"Route","count":29208,"searchable":true},{"key":"Route Type","count":29208,"searchable":true}],"estimated":true,"searchable":"PARTIAL"},"etag":"072d3ec0f881b4e7"}},"Error":{"type":"object","description":"The response send when the request failed. This response may be send for certain HTTP error codes like 403 Forbidden or 502 Bad Gateway and should hold more details about the error reason.","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.","example":"Bad Request"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"headers":{"X-Correlation-ID":{"description":"Auto-generated ID, which uniquely identifies the request, available in the response. When contacting support with an inquiry regarding a specific request, provide the value of this header which will help troubleshooting the issue.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-ID":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"}}}}}