# x-archived-from: here-network-positioning-v2-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"HERE Network Positioning API v2","version":"2.9.0","description":"Positioning API accepts requests with radio network measurements and replies with corresponding location estimate. For more details and examples, see [Developer's Guide](https://www.here.com/docs/bundle/network-positioning-api-developer-guide-v2/page/README.html). Cellular measurements are given in terms defined in 3GPP and 3GGP2 specifications, see the corresponding documentation at http://www.3gpp.org.\n\nBreaking changes from v1:\n  - JSON fields\n    `altaccuracy`, `baselat`, `baselng`, `cellparams`, `pilotpower`, `pnoffset`, `powrx`, `rxlevel`,\n    have been deprecated and replaced with\n    `altAccuracy`, `baseLat`, `baseLng`, `cellParams`, `pilotPower`, `pnOffset`, `rss`, `rxLevel`\n    respectively.\n  - Dependent parameters combined as a subobject.\n    - CDMA, GSM, WCDMA, TD-SCDMA and LTE local identification parameters for serving cell moved under `localId` property.\n    - GSM neighbor global ID: `lac` and `cid` for neighbor cell moved under `globalIdentity` property.\n  - The type of altitude (`alt`) and vertical accuracy (`altAccuracy`) properties in the location response has been changed to `number`.\n","contact":{},"termsOfService":"https://legal.here.com/en-gb/terms/here-platform","license":{"name":"HERE Documentation License","url":"https://www.here.com/en-gb/terms/documentation-license","x-copyright":"Copyright (C) 2020-2024 HERE Europe B.V."},"x-olp-service":{"name":"positioning","version":"v2"},"x-comment":"This API definition uses custom keywords for specifying rules not defined in OAS 3.0.x. They convey machine-readable information on additional requirements on the request message and are used for request validation by Positioning servers.\nFollowing custom keywords are used:\n  - x-comment - text\n      For comments, to be only visible in the specification, not in documentation.\n  - x-anyRequired - array of property names\n      Requires at least one of listed properties in the object.\n  - x-dependencies - object mapping from dependent properties to their dependencies\n      Same as 'dependencies' keyword in JSON Schema\n\nAlso, custom formats are used:\n  - uuid - UUID, supported by Ajv library\n  - version - requires version in X.Y.Z or X.Y format,\n      where X is [0..255], Y is [0..255] and Z is [0..65535].\n"},"servers":[{"url":"https://positioning.hereapi.com/v2","description":"Production Server"}],"externalDocs":{"description":"The Developer guide, Changelog, and Migration guide are available here.","url":"https://www.here.com/docs/category/network-positioning-api-v2"},"security":[{"ApiKey":[]},{"Bearer":[]}],"paths":{"/locate":{"post":{"description":"Request WGS-84 compliant geographical coordinates for a location based on 2G/3G/4G cell and/or WLAN measurements.","summary":"Location query","operationId":"HERE Network Positioning API v2 postLocate","tags":["Location"],"parameters":[{"$ref":"#/components/parameters/BillingTag"},{"$ref":"#/components/parameters/Confidence"},{"$ref":"#/components/parameters/ContentEncoding"},{"$ref":"#/components/parameters/Fallback"},{"$ref":"#/components/parameters/Desired"},{"$ref":"#/components/parameters/RequestID"},{"$ref":"#/components/parameters/Required"}],"requestBody":{"description":"Request body containing cell and/or WLAN measurement data. Cellular measurements are given in terms defined in 3GPP and 3GGP2 specifications, see the corresponding documentation at http://www.3gpp.org.\n","required":true,"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Locate"}}}},"responses":{"200":{"$ref":"#/components/responses/SuccessLocate"},"400":{"description":"Bad request.\n\nThe request is malformed - the URL query parameters or the JSON POST body in the request is invalid.\nCheck the message in the response for additional troubleshooting information.\nThis response is also returned if the request contains only single WLAN measurement and no cellular measurements.\nIf position estimate with a single WLAN AP is expected, then the fallback `singleWifi` needs to be allowed.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Bad Request","status":400,"code":"E606400","cause":"Validation error in body","action":"Please correct the request and retry","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74","details":[{"title":"Violated rule: additionalProperties","message":"should NOT have additional properties","source":"body.gsm[0].nmr[3]"}]}}}},"401":{"$ref":"#/components/responses/Error401"},"403":{"$ref":"#/components/responses/Error403"},"404":{"description":"Position not found.\n\nThe values provided in the request cannot produce any content for the response.\nThe location of the WLANs and cells in the request is unknown or\nthe locations of the radio measurements are so widely scattered that the location\ncannot be determined. Make sure that the network measurements are correct and\nconsistent. Try allowing fallbacks `area` or `any` for cell positioning and\n`singleWifi` for WLAN positioning.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Position not found","status":404,"code":"E606404","cause":"Position cannot be found for given measurements","action":"Try with new measurements","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"405":{"$ref":"#/components/responses/Error405Post"},"413":{"$ref":"#/components/responses/Error413"},"414":{"$ref":"#/components/responses/Error414"},"415":{"$ref":"#/components/responses/Error415"},"429":{"$ref":"#/components/responses/Error429"},"500":{"$ref":"#/components/responses/Error500"},"503":{"$ref":"#/components/responses/Error503"},"default":{"$ref":"#/components/responses/ErrorDefault"}}}},"/health":{"get":{"summary":"Service health","description":"Tests basic health of the service","operationId":"HERE Network Positioning API v2 getHealth","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/RequestID"}],"responses":{"200":{"description":"Health status","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiHealthStatus"}}}}}}},"/version":{"get":{"summary":"API version","description":"Retrieves API Specification version information","operationId":"HERE Network Positioning API v2 getApiVersion","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/RequestID"}],"responses":{"200":{"description":"Version of API","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ApiVersion"}}}}}}},"/openapi":{"get":{"summary":"OpenAPI specification","description":"Retrieves OpenAPI specification of this API","operationId":"HERE Network Positioning API v2 getOpenApi","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/RequestID"},{"$ref":"#/components/parameters/AcceptOpenApi"},{"$ref":"#/components/parameters/AcceptEncoding"}],"responses":{"200":{"description":"API specification file is returned","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"},"Content-Encoding":{"$ref":"#/components/headers/ContentEncoding"}},"content":{"application/json":{"schema":{"type":"object","description":"This specification as JSON object"},"example":{"openapi":"3.0.2","info":{"title":"HERE Network Positioning API v2"},"paths":{}}},"application/x-yaml":{"schema":{"type":"string","description":"This specification in YAML format"},"example":"openapi: 3.0.2\ninfo:\n  title: HERE Network Positioning API v2\npaths: {}\n"},"text/x-yaml":{"schema":{"type":"string","description":"This specification in YAML format"},"example":"openapi: 3.0.2\ninfo:\n  title: HERE Network Positioning API v2\npaths: {}\n"}}},"default":{"$ref":"#/components/responses/ErrorDefault"}}}}},"components":{"headers":{"ContentEncoding":{"description":"Indicates that the data in the body has been compressed.","schema":{"type":"string"},"example":"gzip"},"CorrelationID":{"description":"Auto-generated ID, which uniquely identifies the request.\nWhen contacting support with an inquiry regarding a specific request,\nprovide the value of this header which will help troubleshooting the issue.\n**Note:** its value is currently in UUID format, but this may be changed\nin future and relying upon this specific format is deprecated!\n","schema":{"type":"string"}},"RequestID":{"description":"Value of X-Request-ID header parameter supplied in the request.","schema":{"type":"string"}},"RetryAfter":{"description":"Number of seconds to wait before making a new request.","schema":{"type":"integer"}}},"parameters":{"AcceptEncoding":{"name":"Accept-Encoding","in":"header","description":"Indicates preferred content encodings in the response. The server uses content negotiation (see RFC 9110) to select the best option and informs the choice in the `Content-Encoding` response header. Supported codings are: 'gzip', 'deflate', 'br'. For any other value, or if this header is missing, the response will be uncompressed.\n","schema":{"type":"string"},"required":false,"example":"gzip;q=0.9, br;q=1"},"AcceptOpenApi":{"name":"Accept","description":"Indicates preferred media types for the response. The server uses content negotiation (see RFC 9110) to select the best option and informs the choice in the `Content-Type` response header. Supported media types are `application/json`, `application/x-yaml` and `text/x-yaml`. If this header is missing or specifies any other media type, the response will be in JSON format.\n","in":"header","required":false,"schema":{"type":"string"},"example":"application/x-yaml;q=0.9, application/json;q=0.8"},"BillingTag":{"name":"billingTag","description":"A list of up to six billing tags, separated by the + sign. This parameter provides a way to track your platform usage. For details, refer to the Cost Management Developer Guide section on [Billing Tags](https://www.here.com/docs/bundle/cost-management-developer-guide/page/topics/tutorial-billing-tags.html).\n","in":"query","schema":{"type":"string","minLength":4,"maxLength":101},"example":"ABCD+EFGH"},"Confidence":{"name":"confidence","description":"Confidence level in percent for the accuracy/uncertainty in the location estimate response. If not specified, the default is 68 (this corresponds to a 68% probability that the true position is within the accuracy/uncertainty radius of the location estimate: the higher the number, the greater the confidence level).\n","in":"query","required":false,"schema":{"type":"integer","minimum":50,"maximum":99,"default":68}},"ContentEncoding":{"name":"Content-Encoding","in":"header","description":"Indicates that the data in the body has been compressed. Supported codings are: 'gzip', 'deflate', 'br'.\n","schema":{"type":"string"},"required":false},"Desired":{"name":"desired","description":"Comma-separated list of additional data fields that the service should include in the response if data is available. The query parameter supports the value `altitude`.\n","in":"query","schema":{"type":"array","items":{"type":"string","enum":["altitude"]}},"style":"form","explode":false,"required":false},"Fallback":{"name":"fallback","in":"query","description":"Acceptable fallback options for cell and WLAN positioning. Values `area` and `any` apply to cell based positioning only in case none of the models of the cells serving the target device are currently available. Value `singleWifi` applies to WLAN based positioning in case only one of the provided WLAN APs can be used for position calculation. Both exploded and comma-separated forms are accepted.\n\nBy default, cell based positioning returns only cell level location estimates. In LTE, LTE Cat-M, and 5G NR, use the `fallback=area` setting if you permit location estimate to be based on a combination of cells of a single tower, or more precisely, on an eNodeB or gNodeB area. Also use this setting if you allow location estimate to be based on an area of a group of cells defined by the network (LAC, RNC, TAC, NID, or RZ). If you use the `fallback=any` setting, the service can use all aforementioned cell fallback methods and additionally fallback to the MNC, SID, or MCC level. If both `area` and `any` are specified, then `area` is ignored.\n\nFor privacy reasons, the precise positioning based on a single WLAN AP is not possible. You can use the `fallback=singleWifi` setting to allow less accurate positioning based on a single WLAN AP. In that case, the center location of the position estimate will be deviated and the reported accuracy radius will be larger. If you choose to make use of this parameter, it is recommended to use it in all requests, not only those which contain just single WLAN AP measurement. This will help to avoid error responses with status 400 in cases when all APs except one have either multicast MAC address (which are excluded from positioning) or are otherwise unusable for position calculation.\n","schema":{"type":"array","items":{"type":"string","enum":["any","area","singleWifi"]}},"explode":true,"style":"form","required":false,"examples":{"comma-separated":{"description":"comma-separated list of fallback options","value":"area,singleWifi"},"exploded":{"description":"exploded list of fallback options","value":["area","singleWifi"]}}},"RequestID":{"name":"X-Request-ID","description":"User-provided token that can be used to trace a request or a group of requests sent to the service. Can be any string, but UUID is recommended. It will be echoed in the response.\n","in":"header","required":false,"schema":{"type":"string"}},"Required":{"name":"required","description":"Comma-separated list of additional data fields that the service should include in the response. If the data is not available, the response contains an error message. The query parameter supports the value `altitude`.\n","in":"query","schema":{"type":"array","items":{"type":"string","enum":["altitude"]}},"style":"form","explode":false,"required":false}},"responses":{"Error401":{"description":"Authentication failed.\n\nCredentials (such as apiKey or access token) are missing or invalid.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Unauthorized","error_description":"Token Validation Failure - invalid time in token"}}}},"Error403":{"description":"Access denied.\n\nProvided credentials do not authorize access.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Forbidden","error_description":"These credentials do not authorize access"}}}},"Error405Post":{"description":"Method not allowed.\n\nCheck the `Allow` header of the response for the allowed methods for this path.\n","headers":{"Allow":{"description":"Allowed methods for this path","schema":{"type":"string"},"example":"POST"},"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Not supported","status":405,"code":"E606405","cause":"The method GET is not supported","action":"Send request using method specified in Allow header","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"Error413":{"description":"Too large request.\n\nThe request body exceeds the maximum size limit.\nCheck the `cause` field of the response body for the maximum allowed size.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Payload Too Large","status":413,"code":"E606413","cause":"The request body exceeds the maximum size limit of 30KB","action":"Check the request correctness and/or remove some measurements to reduce request size","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"Error414":{"description":"Too long URI.\n\nThe URI (the path and query parameters) exceeds the limit.\nCheck the `cause` field of the response body for the maximum allowed length.\n","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"URI Too Long","status":414,"code":"E606414","cause":"URI exceeds the maximum length of 500B","action":"Fix the URI (remove extra parameters?)","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"Error415":{"description":"Invalid request content type. Check the `cause` field of the response body for the required content type.","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Unsupported Media Type","status":415,"code":"E606415","cause":"Content-Type should be application/json.","action":"Provide request body in application/json content type and/or correct Content-Type header","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"Error429":{"description":"Too many requests in a given amount of time (rate limiting).","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"},"Retry-After":{"$ref":"#/components/headers/RetryAfter"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Too Many Requests","error_description":"Rate limit for this service has been reached"}}}},"Error500":{"description":"An unexpected server error has occurred, try again later.","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Internal Server Error","status":500,"code":"E606500","cause":"Something unexpected happened.","action":"System administrators have been notified about the problem. Please try again later.","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"Error503":{"description":"Service is unavailable, try again later.","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"Service Unavailable","status":503,"code":"E606503","cause":"The service is currently unavailable","action":"Please try again later","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"ErrorDefault":{"description":"Other possible errors","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/Error"},"example":{"title":"HTTP Version Not Supported","status":505,"code":"E606505","cause":"This HTTP version is not supported","action":"Please use HTTP/1.1","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74"}}}},"SuccessLocate":{"description":"Request processed successfully and a WGS-84 compliant geocoordinate location estimate was included in the response.","headers":{"X-Request-ID":{"$ref":"#/components/headers/RequestID"},"X-Correlation-ID":{"$ref":"#/components/headers/CorrelationID"}},"content":{"application/json":{"schema":{"description":"Object wrapper for the response to a location request.","type":"object","required":["location"],"properties":{"location":{"$ref":"#/components/schemas/PositionLocate"}}}}}}},"schemas":{"ApiHealthStatus":{"type":"object","properties":{"status":{"description":"Health status of API","type":"string","example":"OK"}}},"ApiVersion":{"type":"object","required":["apiVersion"],"properties":{"apiVersion":{"description":"Version of API","type":"string","example":"2.0.3"},"serviceVersion":{"description":"Version of the Service","type":"string","example":"2.0.20"}}},"AuthError":{"description":"Error object reported in case of authentication or authorization errors.","type":"object","properties":{"error":{"type":"string","description":"Error message"},"error_description":{"type":"string","description":"Detailed information about the error"}},"example":{"error":"Unauthorized","error_description":"ApiKey invalid. ApiKey not found."}},"BaseLat":{"description":"Base station latitude","type":"number","minimum":-90,"maximum":90,"example":40.689249},"BaseLng":{"description":"Base station longitude","type":"number","minimum":-180,"maximum":180,"example":-74.0445},"Bcch":{"description":"Broadcast Control Channel (BCCH, synonymous to ARFCN = Absolute Radio Frequency Channel)","type":"integer","minimum":0,"maximum":1023,"example":82},"Bsic":{"description":"Base Station Identity Code (BSIC, for instance, color code)","type":"integer","minimum":0,"maximum":63,"example":6},"Bsid":{"description":"Base Station ID (CDMA BSID, BID)","type":"integer","minimum":0,"maximum":65535,"example":8584},"Cdma":{"description":"CDMA measurement","type":"object","required":["sid","nid","bsid"],"properties":{"sid":{"$ref":"#/components/schemas/Sid"},"nid":{"$ref":"#/components/schemas/Nid"},"bsid":{"$ref":"#/components/schemas/Bsid"},"rz":{"$ref":"#/components/schemas/RegistrationZone"},"localId":{"$ref":"#/components/schemas/CdmaLocalId"},"pilotPower":{"$ref":"#/components/schemas/PilotPower"},"baseLat":{"$ref":"#/components/schemas/BaseLat"},"baseLng":{"$ref":"#/components/schemas/BaseLng"},"nmr":{"$ref":"#/components/schemas/CdmaNmrArray"}},"additionalProperties":false,"example":{"sid":4162,"nid":10,"bsid":8583,"localId":{"channel":0,"pnOffset":247},"nmr":[{"channel":0,"pnOffset":357},{"channel":0,"pnOffset":366}]}},"CdmaLocalId":{"type":"object","required":["pnOffset","channel"],"description":"Local identification parameters of CDMA serving cell","properties":{"pnOffset":{"$ref":"#/components/schemas/PnOffset"},"channel":{"$ref":"#/components/schemas/Channel"}},"example":{"channel":0,"pnOffset":247},"additionalProperties":false},"CdmaNmr":{"description":"CDMA network measurement","type":"object","required":["pnOffset","channel"],"properties":{"pnOffset":{"$ref":"#/components/schemas/PnOffset"},"channel":{"$ref":"#/components/schemas/Channel"},"pilotPower":{"$ref":"#/components/schemas/PilotPower"},"bsid":{"$ref":"#/components/schemas/Bsid"}},"additionalProperties":false,"example":{"channel":0,"pnOffset":357}},"CdmaNmrArray":{"description":"CDMA network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/CdmaNmr"},"example":[{"channel":0,"pnOffset":357},{"channel":0,"pnOffset":366}]},"CellParams":{"description":"Cell Parameters ID (CDMA Spreading Code ID)","type":"integer","minimum":0,"maximum":127,"example":86},"Channel":{"description":"CDMA channel frequency","type":"integer","minimum":0,"maximum":2047,"example":1},"ClientInfo":{"description":"Information about the client","type":"object","required":["manufacturer","model","name","version"],"properties":{"manufacturer":{"description":"Manufacturer of the device (hardware)","type":"string","minLength":2,"maxLength":50,"example":"Lemon"},"model":{"description":"Model of the device (hardware)","type":"string","minLength":1,"maxLength":50,"example":"Flagship X1"},"firmware":{"deprecated":true,"description":"This field is deprecated and not used.","type":"string","minLength":1,"maxLength":150},"platform":{"description":"Software platform information of the device, for example operating system name.","type":"string","minLength":3,"maxLength":50,"example":"android"},"platformVersion":{"description":"Software platform version in the format X.Y or X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Note: if minor part of the version is not available, set it to 0.\n","allOf":[{"$ref":"#/components/schemas/Version"}]},"name":{"description":"Name of the client software accessing the HERE API","type":"string","minLength":3,"maxLength":50,"example":"FinderApp"},"version":{"description":"Version of the client software in format X.Y or X.Y.Z, where X [0..255] is a major, Y [0..255] is a minor, and Z [0..65535] is a build version number. Note: if minor part of the version is not available, set it to 0.\n","allOf":[{"$ref":"#/components/schemas/Version"}]}},"additionalProperties":false,"example":{"manufacturer":"Lemon","model":"Flagship X1","name":"FinderApp","version":"2.0.31"}},"Earfcn":{"description":"Evolved Absolute Radio Frequency Channel Number (E-ARFCN)","type":"integer","minimum":0,"maximum":262143,"example":6300},"Error":{"description":"Object wrapper for the error response to a request.","type":"object","required":["title","status","code","cause","action","correlationId"],"properties":{"title":{"description":"Localized error string","type":"string","example":"Input data failed validation"},"status":{"description":"Equals HTTP status code","type":"integer","example":400},"code":{"description":"Error code","type":"string","example":"E606101"},"cause":{"description":"Reason for the error","type":"string","example":"The input data in question does not meet validation rules"},"action":{"description":"Actionable instructions for the user","type":"string"},"correlationId":{"description":"Copy from X-Correlation-ID header for logging","type":"string","format":"uuid","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorDetail"}}},"example":{"title":"Input data failed validation","status":400,"code":"E606101","cause":"The input data in question does not meet validation rules","action":"Actionable instructions for the user","correlationId":"4199533b-6290-41db-8d79-edf4f4019a74","details":[{"title":"Invalid size value","source":"$.data.attributes[0].size","message":"Size must be between 3 and 64","messageTemplate":"validation.constraint.between","messagePlaceholders":{"field":"size","min":3,"max":64}}]}},"ErrorDetail":{"description":"Detail about an error","type":"object","properties":{"title":{"description":"Title for the detail","type":"string","example":"Invalid size value"},"source":{"description":"Source of the error, using JSONPath","type":"string","example":"$.data.attributes[0].size"},"message":{"description":"Localize message","type":"string","example":"Size must be between 3 and 64"},"messageTemplate":{"description":"Optional error template","type":"string","example":"validation.constraint.between"},"messagePlaceholders":{"description":"Optional placeholder for error details","type":"object","additionalProperties":{},"example":{"field":"size","min":3,"max":64}}}},"EutranCid":{"description":"E-UTRA Cell Identifier (UC-Id), 28 bits (20 bits eNodeB and 8 bits Cell ID). See 3GPP TS 36.331 (V18.2.0), Section 6.3.4 for details.\n","type":"integer","minimum":0,"maximum":268435455,"example":2898945},"Gsm":{"description":"GSM measurement","type":"object","required":["mcc","mnc","lac","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"lac":{"$ref":"#/components/schemas/Lac"},"cid":{"$ref":"#/components/schemas/GsmCid"},"localId":{"$ref":"#/components/schemas/GsmLocalId"},"ta":{"$ref":"#/components/schemas/GsmTimingAdvance"},"rxLevel":{"$ref":"#/components/schemas/RxLevel"},"nmr":{"$ref":"#/components/schemas/GsmNmrArray"}},"additionalProperties":false,"example":{"mcc":262,"mnc":1,"lac":5126,"cid":16504,"localId":{"bsic":5,"bcch":80},"nmr":[{"bsic":6,"bcch":82},{"bsic":7,"bcch":85},{"bsic":12,"bcch":93},{"bsic":13,"bcch":88},{"bsic":19,"bcch":88}]}},"GsmCid":{"description":"GSM Cell Identifier (GERAN CID). See 3GPP TS 23.003 (V18.6.0), Section 4.3.1 for details.","type":"integer","minimum":0,"maximum":65535,"example":16503},"GsmLocalId":{"type":"object","description":"Local identification parameters of GSM serving cell","required":["bsic","bcch"],"properties":{"bsic":{"$ref":"#/components/schemas/Bsic"},"bcch":{"$ref":"#/components/schemas/Bcch"}},"example":{"bsic":5,"bcch":80},"additionalProperties":false},"GsmNmr":{"description":"GSM network measurements.\n","type":"object","required":["bsic","bcch"],"properties":{"bsic":{"$ref":"#/components/schemas/Bsic"},"bcch":{"$ref":"#/components/schemas/Bcch"},"rxLevel":{"$ref":"#/components/schemas/RxLevel"},"globalIdentity":{"$ref":"#/components/schemas/GsmNmrGlobalId"}},"additionalProperties":false,"example":{"bsic":6,"bcch":82}},"GsmNmrArray":{"description":"GSM network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/GsmNmr"},"example":[{"bsic":6,"bcch":82}]},"GsmNmrGlobalId":{"description":"The `lac` and `cid` parameters of global ID for GSM neighbor measurement. They should be from the same PLMN (MCC+MNC) as the serving cell.\n","type":"object","required":["lac","cid"],"properties":{"lac":{"$ref":"#/components/schemas/Lac"},"cid":{"$ref":"#/components/schemas/GsmCid"}},"additionalProperties":false},"GsmTimingAdvance":{"description":"Timing advance (TA). Expressed in the units of GSM bits equaling to 48/13 μs ~ 1107 meters.","type":"integer","minimum":0,"maximum":63,"example":3},"Lac":{"description":"Location Area Code (LAC). Note, value 65534 is invalid.","type":"integer","minimum":1,"maximum":65535,"example":5126},"Latitude":{"description":"Latitude in WGS-84 format, decimal representation ranging from -90 to 90.","type":"number","minimum":-90,"maximum":90,"example":61.4706194},"Locate":{"type":"object","description":"Object wrapping the location data submitted in a request for a position. At least one of `gsm`, `wcdma`, `tdscdma`, `lte`, `lteCatM`, `nbIot`, `nr`, `cdma`, or `wlan` elements is required. Array elements should be unique within the request.\n","x-anyRequired":["gsm","wcdma","tdscdma","lte","lteCatM","nbIot","nr","cdma","wlan"],"properties":{"client":{"$ref":"#/components/schemas/ClientInfo"},"wlan":{"description":"WLAN access points. For privacy reasons positioning based on a single WLAN AP is not possible; there has to be at least one other matching WLAN AP or cell. Alternatively, you can allow fallbacks to less accurate single WLAN AP location estimates by using the setting `fallback=singleWifi`.\n","type":"array","minItems":1,"maxItems":256,"items":{"$ref":"#/components/schemas/WlanLocate"}},"gsm":{"description":"GSM cells (GERAN)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Gsm"}},"wcdma":{"description":"WCDMA cells (UTRA-FDD, 3G UMTS)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Wcdma"}},"tdscdma":{"description":"TD-SCDMA cells (UTRA-TDD, 3G UMTS TDD)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Tdscdma"}},"lte":{"description":"LTE cells (E-UTRA, 4G), optionally with NR neighbors (5G NSA)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Lte"}},"lteCatM":{"description":"LTE Cat-M cells","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/LteCatM"}},"nbIot":{"description":"NB-IoT cells","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/NbIot"}},"nr":{"description":"NR cells (5G)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Nr"}},"cdma":{"description":"CDMA cells (CDMA2000)","type":"array","minItems":1,"maxItems":16,"items":{"$ref":"#/components/schemas/Cdma"}}},"additionalProperties":false,"example":{"client":{"manufacturer":"Lemon","model":"Flagship X1","name":"FinderApp","version":"2.0.31"},"lte":[{"mcc":244,"mnc":5,"cid":145925,"rsrp":-52,"rsrq":-7}],"wlan":[{"mac":"74:26:AC:1F:47:9F","rss":-47},{"mac":"74:26:AC:4C:5F:3E","rss":-59},{"mac":"7C:21:0E:A9:58:03","rss":-55}]}},"Longitude":{"description":"Longitude in WGS-84 format, decimal representation ranging from -180 to 180.","type":"number","minimum":-180,"maximum":180,"example":23.72265816},"Lte":{"description":"LTE measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"cid":{"$ref":"#/components/schemas/EutranCid"},"tac":{"$ref":"#/components/schemas/Tac"},"localId":{"$ref":"#/components/schemas/LteLocalId"},"ta":{"$ref":"#/components/schemas/LteTimingAdvance"},"rsrp":{"$ref":"#/components/schemas/Rsrp"},"rsrq":{"$ref":"#/components/schemas/Rsrq"},"nrCapable":{"type":"boolean","default":false,"description":"Indicates whether or not this LTE cell supports NR (5G) (NSA).\n\nNote. This field is reserved for future use.\n"},"nmr":{"$ref":"#/components/schemas/LteNmrArray"},"nrNmr":{"description":"NR (5G) network measurements (e.g., 5G non-standalone (5G NSA) measurements)","allOf":[{"$ref":"#/components/schemas/NrNmrArray"}]}},"additionalProperties":false,"example":{"mcc":262,"mnc":2,"cid":2898945,"localId":{"earfcn":6300,"pci":123},"nmr":[{"earfcn":6300,"pci":237},{"earfcn":6300,"pci":442}]}},"LteCatM":{"description":"LTE Cat-M measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"cid":{"$ref":"#/components/schemas/EutranCid"},"tac":{"$ref":"#/components/schemas/Tac"},"localId":{"$ref":"#/components/schemas/LteCatMLocalId"},"ta":{"$ref":"#/components/schemas/LteTimingAdvance"},"rsrp":{"$ref":"#/components/schemas/Rsrp"},"rsrq":{"$ref":"#/components/schemas/Rsrq"},"nmr":{"$ref":"#/components/schemas/LteCatMNmrArray"}},"additionalProperties":false,"example":{"mcc":244,"mnc":5,"cid":1980678,"localId":{"earfcn":6400,"pci":42},"nmr":[{"earfcn":1825,"pci":363},{"earfcn":100,"pci":106}]}},"LteCatMLocalId":{"type":"object","required":["pci","earfcn"],"description":"Local identification parameters of LTE Cat-M serving cell","properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"}},"example":{"earfcn":6300,"pci":123},"additionalProperties":false},"LteCatMNmr":{"description":"LTE Cat-M network measurement","type":"object","required":["pci","earfcn"],"properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"},"cid":{"$ref":"#/components/schemas/EutranCid"},"rsrp":{"$ref":"#/components/schemas/Rsrp"},"rsrq":{"$ref":"#/components/schemas/Rsrq"}},"additionalProperties":false,"example":{"earfcn":6300,"pci":237,"rsrp":-95,"rsrq":-12}},"LteCatMNmrArray":{"description":"LTE Cat-M network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/LteCatMNmr"},"example":[{"earfcn":6300,"pci":237},{"earfcn":6300,"pci":442}]},"LteLocalId":{"type":"object","required":["pci","earfcn"],"description":"Local identification parameters of LTE serving cell","properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"}},"example":{"earfcn":6300,"pci":123},"additionalProperties":false},"LteNmr":{"description":"LTE network measurement","type":"object","required":["pci","earfcn"],"properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"},"cid":{"$ref":"#/components/schemas/EutranCid"},"rsrp":{"$ref":"#/components/schemas/Rsrp"},"rsrq":{"$ref":"#/components/schemas/Rsrq"}},"additionalProperties":false,"example":{"earfcn":6300,"pci":237,"rsrp":-95,"rsrq":-12}},"LteNmrArray":{"description":"LTE network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/LteNmr"},"example":[{"earfcn":6300,"pci":237},{"earfcn":6300,"pci":442}]},"LteTimingAdvance":{"description":"Timing Advance. Expressed in the units of `16 * Ts` (16 Basic time units) = `16 / (15000 * 2048)` seconds, which corresponds to ~ 156 meters. For reference see 3GPP TS 36.213 and 36.211.\n","type":"integer","minimum":0,"maximum":1282,"example":40},"Mcc":{"description":"Mobile Country Code (MCC).\nThe value may be either a string (recommended) or an integer (deprecated).\nNote: 0xx is for test networks, 1xx and 8xx are not used.\n","oneOf":[{"$ref":"#/components/schemas/MccString"},{"$ref":"#/components/schemas/MccInteger"}]},"MccInteger":{"deprecated":true,"description":"Mobile Country Code (MCC) as integer.\n**Note**: this format is deprecated, use string format instead.\n**Note**: 0xx is for test networks, 1xx and 8xx are not used.\n","type":"integer","minimum":200,"maximum":999,"example":262},"MccString":{"description":"Mobile Country Code (MCC).\n**Note**: '0xx' is for test networks, '1xx' and '8xx' are not used.\n","type":"string","minLength":3,"maxLength":3,"pattern":"^[0-9]{3}$","example":"262"},"Mnc":{"description":"Mobile Network Code (MNC).\nThe value may be either a string (recommended) or an integer (deprecated).\n","oneOf":[{"$ref":"#/components/schemas/MncString"},{"$ref":"#/components/schemas/MncInteger"}]},"MncInteger":{"description":"Mobile Network Code (MNC) as integer.\n**Note**: this format is deprecated, use string format instead.\n","deprecated":true,"type":"integer","minimum":0,"maximum":999,"example":2},"MncString":{"description":"Mobile Network Code (MNC)\n","type":"string","minLength":2,"maxLength":3,"pattern":"^[0-9]{2,3}$","example":"002"},"NbIot":{"description":"NB-IoT cell measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"cid":{"$ref":"#/components/schemas/EutranCid"},"tac":{"$ref":"#/components/schemas/Tac"},"localId":{"$ref":"#/components/schemas/NbIotLocalId"},"ta":{"$ref":"#/components/schemas/LteTimingAdvance"},"nrsrp":{"$ref":"#/components/schemas/Nrsrp"},"nrsrq":{"$ref":"#/components/schemas/Nrsrq"},"nmr":{"$ref":"#/components/schemas/NbIotNmrArray"}},"additionalProperties":false,"example":{"mcc":244,"mnc":5,"cid":1980678,"localId":{"earfcn":6400,"pci":42},"nmr":[{"earfcn":1825,"pci":363},{"earfcn":100,"pci":106}]}},"NbIotLocalId":{"type":"object","required":["pci","earfcn"],"description":"Local identification parameters for NB-IoT cell measurement","properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"}},"example":{"earfcn":6300,"pci":123},"additionalProperties":false},"NbIotNmr":{"description":"NB-IoT network measurement","type":"object","required":["pci","earfcn"],"properties":{"pci":{"$ref":"#/components/schemas/Pci"},"earfcn":{"$ref":"#/components/schemas/Earfcn"},"cid":{"$ref":"#/components/schemas/EutranCid"},"nrsrp":{"$ref":"#/components/schemas/Nrsrp"},"nrsrq":{"$ref":"#/components/schemas/Nrsrq"}},"additionalProperties":false,"example":{"earfcn":6300,"pci":237,"nrsrp":-95,"nrsrq":-12}},"NbIotNmrArray":{"description":"NB-IoT network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/NbIotNmr"},"example":[{"earfcn":6300,"pci":237},{"earfcn":6300,"pci":442}]},"Nci":{"description":"NR Cell Identifier (NCI). See 3GPP TS 38.331 (V18.2.0), Section 6.3.2 for details.","type":"integer","minimum":0,"maximum":68719476735,"example":14674662},"Nid":{"description":"Network ID (NID)","type":"integer","minimum":0,"maximum":65535,"example":10},"Nr":{"description":"NR (5G) standalone (NR SA) cell measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/MccString"},"mnc":{"$ref":"#/components/schemas/MncString"},"cid":{"$ref":"#/components/schemas/Nci"},"localId":{"$ref":"#/components/schemas/NrLocalId"},"tac":{"$ref":"#/components/schemas/NrTac"},"ss":{"$ref":"#/components/schemas/NrSyncSignal"},"nmr":{"$ref":"#/components/schemas/NrNmrArray"}},"additionalProperties":false,"example":{"mcc":"262","mnc":"02","cid":2898945,"localId":{"nrarfcn":126300,"pci":1001},"nmr":[{"nrarfcn":126300,"pci":937},{"nrarfcn":126300,"pci":1001}]}},"NrArfcn":{"description":"NR Absolute Radio Frequency Channel Number (NRARFCN)","type":"integer","minimum":0,"maximum":3279165,"example":6300},"NrLocalId":{"type":"object","required":["pci","nrarfcn"],"description":"Local identification parameters of NR serving cell","properties":{"pci":{"$ref":"#/components/schemas/NrPci"},"nrarfcn":{"$ref":"#/components/schemas/NrArfcn"}},"additionalProperties":false,"example":{"nrarfcn":126300,"pci":1001}},"NrNmr":{"description":"NR network measurement","type":"object","required":["pci","nrarfcn"],"properties":{"pci":{"$ref":"#/components/schemas/NrPci"},"nrarfcn":{"$ref":"#/components/schemas/NrArfcn"},"cid":{"$ref":"#/components/schemas/Nci"},"ss":{"$ref":"#/components/schemas/NrSyncSignal"}},"additionalProperties":false,"example":{"nrarfcn":1236300,"pci":1001}},"NrNmrArray":{"description":"NR network measurements","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/NrNmr"},"example":[{"nrarfcn":126300,"pci":937},{"nrarfcn":126300,"pci":1001}]},"NrPci":{"description":"NR Physical Cell Identity (NR PCI)","type":"integer","minimum":0,"maximum":1007,"example":237},"NrRsrp":{"description":"NR Reference Signal Received Power (SS-RSRP or CSI-RSRP) in dBm. For reference see 3GPP TS 38.215 and 3GPP TS 38.133, version 16.8.0, section 10.1.6. Value range is [-156, -31]. Values less than -156dBm should be clamped to -156. Values greater than -31dBm should be clamped to -31.\n","type":"integer","minimum":-156,"maximum":-31,"example":-100},"NrRsrq":{"description":"NR Reference Signal Received Quality (SS-RSRQ or CSI-RSRQ) in dB. For reference see 3GPP TS 38.133, version 16.8.0, section 10.1.11.1. Value range is [-43, 20], values with higher precision should be rounded. Values less than -43dB should be clamped to -43. Values greater than 20dB should be clamped to 20.\n","type":"integer","minimum":-43,"maximum":20,"example":-10},"NrSyncSignal":{"description":"Synchronization Signal measurement.\nMay include one or more of SS-RSRQ, SS-RSRP and SS-SINR reports.\n","type":"object","properties":{"rsrp":{"$ref":"#/components/schemas/NrRsrp"},"rsrq":{"$ref":"#/components/schemas/NrRsrq"}},"additionalProperties":false,"example":{"rsrp":-100,"rsrq":-10}},"NrTac":{"description":"NR Tracking Area Code (NR TAC)","type":"integer","minimum":0,"maximum":16777215,"example":1},"Nrsrp":{"description":"Narrowband Reference Signal Received Power (NRSRP) in dBm. For reference see 3GPP TS 36.214 version 14.2.0 Rel. 14, section 5.1.26. Value range is [-156, -44], for reference see 3GPP TS 36.133, Section 9.1.22.9. Values less than -156dBm should be clamped to -156. Values greater than -44dBm should be clamped to -44.\n","type":"integer","minimum":-156,"maximum":-44,"example":-100},"Nrsrq":{"description":"Narrowband Reference Signal Received Quality (NRSRQ) in dB. Value range is [-34, 2.5], for reference see 3GPP TS 36.133, Rel. 17, Section 9.1.22.14. Values less than -34dB should be clamped to -34. Values greater than 2.5dB should be clamped to 2.5.\n","type":"number","minimum":-34,"maximum":2.5,"example":-30},"Pathloss":{"description":"UTRAN pathloss (dBm)","type":"integer","minimum":46,"maximum":158,"example":80},"Pci":{"description":"Physical Cell Identity (PCI)","type":"integer","minimum":0,"maximum":503,"example":237},"PilotPower":{"description":"Pilot Power (dBm). If Pilot Power is not available directly, it needs to be calculated from Total Power in the band and Pilot Strength with respect to the Total Power. Values less than -142dBm should be clamped to -142. Values greater than -49dBm should be clamped to -49.\n","type":"integer","minimum":-142,"maximum":-49,"example":-99},"PnOffset":{"description":"Pseudonoise offset. This field and CDMA channel frequency together allow for the locally unique identification of the cell.\n","type":"integer","minimum":0,"maximum":511,"example":357},"PositionLocate":{"description":"Object containing information on a location where a measurement was taken.","type":"object","required":["lat","lng","accuracy"],"x-dependencies":{"alt":["altAccuracy"],"altAccuracy":["alt"]},"properties":{"lat":{"$ref":"#/components/schemas/Latitude"},"lng":{"$ref":"#/components/schemas/Longitude"},"accuracy":{"description":"Uncertainty circle radius in meters (degree of confidence according to the `confidence` parameter).","type":"number","minimum":1,"example":829},"alt":{"description":"Altitude in meters (referenced to the WGS-84 ellipsoid) negative or positive. Altitude information is included if requested with query parameter `desired=altitude` or `required=altitude`, if available.\n","type":"number","example":142},"altAccuracy":{"description":"Uncertainty of the altitude estimate in meters (degree of confidence according to the `confidence` parameter). Altitude information is included if requested with query parameter `desired=altitude` or `required=altitude`, if available. This field superceeds old `altaccuracy`.\n","type":"number","minimum":1,"example":20}},"example":{"lat":61.4469302,"lng":23.864577,"accuracy":24,"alt":177,"altAccuracy":36}},"Psc":{"description":"Primary Scrambling Code (PSC, Primary CPICH, Primary Control Pilot Channel).","type":"integer","minimum":0,"maximum":511,"example":149},"RegistrationZone":{"description":"CDMA Registration Zone (RZ)","type":"integer","minimum":0,"maximum":4095,"example":1234},"Rscp":{"description":"Received Signal Code Power (RSCP) in dBm. Values less than -120dBm should be clamped to -120. Values greater than -25dBm should be clamped to -25.\n","type":"integer","minimum":-120,"maximum":-25,"example":-50},"Rsrp":{"description":"Reference Signal Received Power (RSRP) in dBm. Values less than -156dBm should be clamped to -156. Values greater than -44dBm should be clamped to -44. For reference see 3GPP TS 36.133.\n","type":"integer","minimum":-156,"maximum":-44,"example":-95},"Rsrq":{"description":"Reference Signal Received Quality (RSRQ) in dB. Values less than -34dB should be clamped to -34. Values greater than +3dB should be clamped to +3. For reference see 3GPP TS 36.133. Note that TS 36.133 defines the upper limit as +2.5dB, however some devices represent this parameter using integer type, hence the wider range.\n","type":"number","minimum":-34,"maximum":3,"example":-12},"Rss":{"description":"Received signal level (dBm) at the terminal","type":"integer","minimum":-128,"maximum":0,"example":-76},"RxLevel":{"description":"Received Signal power (dBm). Values less than -110dBm should be clamped to -110. Values greater than -25dBm should be clamped to -25.\n","type":"integer","minimum":-110,"maximum":-25,"example":-77},"Sid":{"description":"System ID (SID)","type":"integer","minimum":1,"maximum":32767,"example":4162},"Tac":{"description":"Tracking Area Code (TAC)","type":"integer","minimum":0,"maximum":65535,"example":1},"Tdscdma":{"description":"TD-SCDMA measurement.","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"cid":{"$ref":"#/components/schemas/TdscdmaCid"},"lac":{"$ref":"#/components/schemas/Lac"},"localId":{"$ref":"#/components/schemas/TdscdmaLocalId"},"ta":{"$ref":"#/components/schemas/TdscdmaTimingAdvance"},"rscp":{"$ref":"#/components/schemas/Rscp"},"pathloss":{"$ref":"#/components/schemas/Pathloss"},"nmr":{"$ref":"#/components/schemas/TdscdmaNmrArray"}},"additionalProperties":false,"example":{"mcc":460,"mnc":0,"cid":18563770,"localId":{"uarfcn":10101,"cellParams":56},"nmr":[{"uarfcn":10100,"cellParams":86},{"uarfcn":10121,"cellParams":14}]}},"TdscdmaCid":{"description":"TD-SCDMA Cell Identifier (UTRAN CID, UC-Id), 28 bits (12 bits RNC and 16 bits Cell ID). See 3GPP TS 25.331 (V18.0.0), Section 10.3.2.2 for details.\n","type":"integer","minimum":0,"maximum":268435455,"example":14674663},"TdscdmaLocalId":{"type":"object","description":"Local identification parameters of TD-SCDMA serving cell","required":["uarfcn","cellParams"],"properties":{"uarfcn":{"$ref":"#/components/schemas/Uarfcn"},"cellParams":{"$ref":"#/components/schemas/CellParams"}},"example":{"uarfcn":10101,"cellParams":56},"additionalProperties":false},"TdscdmaNmr":{"description":"TD-SCDMA network measurement","type":"object","required":["uarfcn","cellParams"],"properties":{"uarfcn":{"$ref":"#/components/schemas/Uarfcn"},"cellParams":{"$ref":"#/components/schemas/CellParams"},"cid":{"$ref":"#/components/schemas/TdscdmaCid"},"rscp":{"$ref":"#/components/schemas/Rscp"},"pathloss":{"$ref":"#/components/schemas/Pathloss"}},"additionalProperties":false,"example":{"uarfcn":10100,"cellParams":86,"rscp":-50,"pathloss":80}},"TdscdmaNmrArray":{"type":"array","description":"TD-SCDMA network measurements. Maximum of 8 distinct uarfcn frequencies.","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/TdscdmaNmr"},"example":[{"uarfcn":10100,"cellParams":86},{"uarfcn":10121,"cellParams":14}]},"TdscdmaTimingAdvance":{"description":"Timing advance (TA). Round-Trip distance presented in the units of `4 * c / 7.68e6`, which corresponds to ~ 156 meters. That is, the scaling factor is 4 times the chip length at chip rate of 7.68 Mchips/s. Note that at chip rates 1.28 Mchips/s and 3.84 Mchips/s you need to scale according to chip length of 7.68 Mchips/s, that is, multiply by 6 or 2 if needed.\n","type":"integer","minimum":0,"maximum":1530,"example":20},"Uarfcn":{"description":"UTRAN Absolute Radio Frequency (U-ARFCN)","type":"integer","minimum":0,"maximum":16383,"example":10100},"Uarfcndl":{"description":"UTRAN Absolute Radio Frequency Downlink (UARFCN-DL)","type":"integer","minimum":0,"maximum":16383,"example":10786},"Version":{"type":"string","format":"version","pattern":"^[0-9]{1,3}\\.[0-9]{1,3}(\\.[0-9]{1,5})?$","minLength":3,"maxLength":13,"example":"2.0.31"},"Wcdma":{"description":"WCDMA measurement","type":"object","required":["mcc","mnc","cid"],"properties":{"mcc":{"$ref":"#/components/schemas/Mcc"},"mnc":{"$ref":"#/components/schemas/Mnc"},"cid":{"$ref":"#/components/schemas/WcdmaCid"},"lac":{"$ref":"#/components/schemas/Lac"},"localId":{"$ref":"#/components/schemas/WcdmaLocalId"},"rscp":{"$ref":"#/components/schemas/Rscp"},"pathloss":{"$ref":"#/components/schemas/Pathloss"},"nmr":{"$ref":"#/components/schemas/WcdmaNmrArray"}},"additionalProperties":false,"example":{"mcc":262,"mnc":7,"cid":14674663,"localId":{"uarfcndl":10780,"psc":140},"nmr":[{"uarfcndl":10786,"psc":149},{"uarfcndl":10762,"psc":211}]}},"WcdmaCid":{"description":"WCDMA Cell Identifier (UTRAN CID, UC-Id), 28 bits (12 bits RNC and 16 bits Cell ID). See 3GPP TS 25.331 (V18.0.0), Section 10.3.2.2 for details.\n","type":"integer","minimum":0,"maximum":268435455,"example":14674663},"WcdmaLocalId":{"type":"object","description":"Local identification parameters of WCDMA serving cell","required":["uarfcndl","psc"],"properties":{"uarfcndl":{"$ref":"#/components/schemas/Uarfcndl"},"psc":{"$ref":"#/components/schemas/Psc"}},"example":{"uarfcndl":10780,"psc":140},"additionalProperties":false},"WcdmaNmr":{"description":"WCDMA network measurement","type":"object","required":["uarfcndl","psc"],"properties":{"uarfcndl":{"$ref":"#/components/schemas/Uarfcndl"},"psc":{"$ref":"#/components/schemas/Psc"},"cid":{"$ref":"#/components/schemas/WcdmaCid"},"rscp":{"$ref":"#/components/schemas/Rscp"},"pathloss":{"$ref":"#/components/schemas/Pathloss"}},"additionalProperties":false,"example":{"uarfcndl":10786,"psc":149,"rscp":-50,"pathloss":80}},"WcdmaNmrArray":{"description":"WCDMA network measurements. Maximum of 8 distinct uarfcndl frequencies.","type":"array","minItems":1,"maxItems":32,"items":{"$ref":"#/components/schemas/WcdmaNmr"},"example":[{"uarfcndl":10786,"psc":149},{"uarfcndl":10762,"psc":211}]},"WlanLocate":{"description":"WLAN measurement","type":"object","required":["mac"],"properties":{"mac":{"description":"The MAC address of the WLAN access point. MAC-48 address with colon (:) or hyphen (-) separators, upper or lower case hex digits. Note that if the SSID contains postfix \"_nomap\", the AP should not be used for positioning.\n","type":"string","pattern":"^((([0-9a-fA-F]{2}:){5})|(([0-9a-fA-F]{2}-){5}))[0-9a-fA-F]{2}$","maxLength":17,"example":"A0-E4-53-20-66-AD"},"rss":{"$ref":"#/components/schemas/Rss"}},"additionalProperties":false,"example":{"mac":"8C-1A-BF-20-66-AD"}}},"securitySchemes":{"ApiKey":{"description":"A key generated specifically to authenticate API requests.\n\nFor more information on how to get an API key, see the [Identity & Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n","in":"query","name":"apiKey","type":"apiKey"},"Bearer":{"description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\n\nFor more information on how to get a bearer token, see the [Identity & Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n","type":"http","scheme":"bearer","bearerFormat":"JWT"}}},"tags":[{"name":"Location","description":"Obtain location information using radio measurements"},{"name":"API Information","description":"Additional API Information"}]}