# x-archived-from: here-map-image-v3-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"HERE Map Image API v3","description":"Map Image API is a REST API that enables rendering personalized static map images, with access to a variety of styles and the ability to overlay custom data.\n","version":"3.0.4","termsOfService":"https://legal.here.com/en-gb/terms/here-platform","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"servers":[{"url":"https://image.maps.hereapi.com/mia/v3","description":"Production"}],"externalDocs":{"description":"The Developer guide, Release notes, and Migration guide are available here.","url":"https://docs.here.com/map-rendering/docs/introduction-map-image-api"},"security":[{"Bearer":[]},{"ApiKey":[]}],"tags":[{"name":"Images","description":"Endpoints to request images"},{"name":"Metadata","description":"Endpoints to request API metadata"},{"name":"API Information","description":"Endpoints to request status of the API"}],"paths":{"/{resource}/{projection}/{view}/{size}/{format}":{"get":{"description":"Retrieve a section of the map by specifying its dimensions (width and height). Additionally, you can optionally choose from various parameters to modify the output.","summary":"Retrieve a map image in the requested format","operationId":"getImage","tags":["Images"],"parameters":[{"$ref":"#/components/parameters/ResourceParam"},{"$ref":"#/components/parameters/ProjectionParam"},{"$ref":"#/components/parameters/SizeParam"},{"$ref":"#/components/parameters/ViewParam"},{"$ref":"#/components/parameters/FormatParam"},{"$ref":"#/components/parameters/StyleParam"},{"$ref":"#/components/parameters/PpiParam"},{"$ref":"#/components/parameters/LanguageParam"},{"$ref":"#/components/parameters/Language2Param"},{"$ref":"#/components/parameters/PviewParam"},{"$ref":"#/components/parameters/MapVersionParam"},{"$ref":"#/components/parameters/RenderFeaturesParam"},{"$ref":"#/components/parameters/CopyrightParam"},{"$ref":"#/components/parameters/CropLabelsParam"},{"$ref":"#/components/parameters/ScaleBarParam"},{"$ref":"#/components/parameters/GeojsonParam"},{"$ref":"#/components/parameters/OverlayParam"},{"$ref":"#/components/parameters/ScaleParam"},{"$ref":"#/components/parameters/IfNoneMatchParam"},{"$ref":"#/components/parameters/XRequestIDParam"},{"$ref":"#/components/parameters/StartTimeParam"},{"$ref":"#/components/parameters/EndTimeParam"}],"responses":{"200":{"$ref":"#/components/responses/ImageResponse"},"304":{"$ref":"#/components/responses/ImageNotModifiedResponse"},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}},"post":{"description":"Retrieve a map image, supplying geometry (overlay or GeoJSON) in the request body instead of query parameters. All other parameters behave identically to the GET operation.","summary":"Retrieve a map image with body-supplied geometry","operationId":"postImage","tags":["Images"],"parameters":[{"$ref":"#/components/parameters/ResourceParam"},{"$ref":"#/components/parameters/ProjectionParam"},{"$ref":"#/components/parameters/SizeParam"},{"$ref":"#/components/parameters/ViewParam"},{"$ref":"#/components/parameters/FormatParam"},{"$ref":"#/components/parameters/StyleParam"},{"$ref":"#/components/parameters/PpiParam"},{"$ref":"#/components/parameters/LanguageParam"},{"$ref":"#/components/parameters/Language2Param"},{"$ref":"#/components/parameters/PviewParam"},{"$ref":"#/components/parameters/MapVersionParam"},{"$ref":"#/components/parameters/RenderFeaturesParam"},{"$ref":"#/components/parameters/CopyrightParam"},{"$ref":"#/components/parameters/CropLabelsParam"},{"$ref":"#/components/parameters/ScaleBarParam"},{"$ref":"#/components/parameters/ScaleParam"},{"$ref":"#/components/parameters/IfNoneMatchParam"},{"$ref":"#/components/parameters/XRequestIDParam"},{"$ref":"#/components/parameters/StartTimeParam"},{"$ref":"#/components/parameters/EndTimeParam"}],"requestBody":{"required":true,"content":{"text/plain":{"schema":{"type":"string","description":"Compact overlay geometry, one entry per line.\nEach line uses the same format as a single `overlay` query parameter value.\nMultiple geometry types are expressed as multiple lines.\n"}},"application/geo+json":{"schema":{"type":"object","description":"A GeoJSON object (Feature, FeatureCollection, or Geometry).\n"},"example":{"type":"FeatureCollection","features":[{"type":"Feature","properties":{},"geometry":{"type":"LineString","coordinates":[[2.1734,41.3851],[2.3522,48.8566],[4.9041,52.3676],[13.405,52.52],[12.5683,55.6761]]}}]}}}},"responses":{"200":{"$ref":"#/components/responses/ImageResponse"},"304":{"$ref":"#/components/responses/ImageNotModifiedResponse"},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"413":{"description":"Request body exceeds the maximum allowed size."},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/icons/{iconType}/{format}":{"get":{"description":"Retrieve customizable icons based on style, country, state, and road class","summary":"Retrieve an icon in the requested format","operationId":"getIcon","tags":["Icons"],"parameters":[{"$ref":"#/components/parameters/IconTypeParam"},{"$ref":"#/components/parameters/FormatParam"},{"$ref":"#/components/parameters/LabelParam"},{"$ref":"#/components/parameters/CountryCodeParam"},{"$ref":"#/components/parameters/StyleParam"},{"$ref":"#/components/parameters/StateCodeParam"},{"$ref":"#/components/parameters/WidthParam"},{"$ref":"#/components/parameters/HeightParam"},{"$ref":"#/components/parameters/RouteLevelParam"},{"$ref":"#/components/parameters/IfNoneMatchParam"},{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - Requested resource is returned","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"image/png":{"schema":{"type":"string","format":"binary"}},"image/svg":{"schema":{"type":"string","format":"binary"}}}},"304":{"description":"The resource cached in the client (identified by the If-None-Match header) has not changed.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/info":{"get":{"description":"Provides details on acceptable values for API parameters, such as PPI (Pixels Per Inch), styles, and other relevant parameters.","summary":"Returns a list of accepted values for specific API parameters","operationId":"getInfo","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - Information about accepted values of specific API parameters returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"},"Cache-Control":{"$ref":"#/components/headers/Cache-Control"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/InfoSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/politicalViews":{"get":{"description":"Provides a catalog of available geopolitical views. These values enable the request of an image featuring a specific country view. For more information on geopolitical views, see [Explore geopolitical views](https://docs.here.com/map-rendering/docs/political-views).","summary":"Returns geopolitical views","operationId":"getPoliticalViews","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - List of geopolitical views","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/PoliticalViewsSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/features":{"get":{"description":"Returns the list of available features per style. You can use these values to request an image with particular features specified as query parameters. Use only the features that are available for a particular style. For more information, see [Customize map features](https://docs.here.com/map-rendering/docs/additional-map-features).","summary":"Returns features per style","operationId":"getFeatures","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - List of style mappings to it's features.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FeaturesSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/languages":{"get":{"description":"Returns the list of available map languages per resource. You can use these values to request an image with labels in a particular language. The values follow ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code. For more information, see [Personalize the map language](https://docs.here.com/map-rendering/docs/languages).","summary":"Returns the available map languages","operationId":"getLanguages","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - List of languages per resource.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/LanguagesSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/copyright":{"get":{"description":"Retrieves both the copyright information and the coordinates of the bounding box to which the text applies. If your products and/or services use map data that is made accessible using this service, you shall provide end-users of your products and/or services with notice, in a reasonably conspicuous manner. For more information, see [Include the copyright notice](https://docs.here.com/map-rendering/docs/copyright-notice).","summary":"Returns copyright information","operationId":"getCopyright","tags":["Metadata"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"responses":{"200":{"description":"OK - Information about the copyright.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"},"Content-Encoding":{"description":"Indicates that this API supports gzip-encoded responses to reduce payload size. The highest available compression level is used for optimal data transfer efficiency.","schema":{"type":"string","example":"gzip"}}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CopyrightsSchema"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/openapi":{"get":{"summary":"Returns the OpenAPI 3.0 definition of this API (current file)","operationId":"getOpenAPI","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"security":[{}],"responses":{"200":{"description":"OK - OpenAPI file returned.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"type":"object"}}}},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}},"/health":{"get":{"summary":"Tests basic health of the service","description":"Checks the fundamental health status of the service. Useful for identifying and discarding connectivity issues.","operationId":"getHealth","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"security":[{}],"responses":{"200":{"description":"Health response in case of success.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOk"}}}},"default":{"description":"Health response in case of failure.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFail"}}}}}}},"/version":{"get":{"summary":"Retrieves the API Specification version","description":"Fetches details regarding the API Specification version. Offers purely informational insights into the API's last update.","operationId":"getVersion","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/XRequestIDParam"}],"security":[{}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedError"},"403":{"$ref":"#/components/responses/ForbiddenError"},"404":{"$ref":"#/components/responses/NotFoundErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorResponse"},"default":{"$ref":"#/components/responses/ErrorResponse"}}}}},"components":{"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information on how to get an API key, see the  [Identity & Access Management Guide - API Keys](https://docs.here.com/identity-and-access-management/docs/plat-using-apikeys).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the\n[Identity & Access Management Guide - OAuth tokens](https://docs.here.com/identity-and-access-management/docs/how-to-authorize-with-oauth-20).\n"}},"parameters":{"ResourceParam":{"name":"resource","in":"path","required":true,"description":"Specifies the image type. The /info endpoint response lists the available values. For more information, see [Choose the map resource type](https://docs.here.com/map-rendering/docs/resources).\n","example":"base","schema":{"$ref":"#/components/schemas/ResourceSchema"}},"ProjectionParam":{"name":"projection","in":"path","example":"mc","required":true,"description":"Specifies the projection type for the image. The /info endpoint response lists the available values.\n  * mc - Mercator Projection\n","schema":{"$ref":"#/components/schemas/ProjectionSchema"}},"SizeParam":{"in":"path","name":"size","required":true,"description":"Defines the dimensions of the returned map image.\n\nFormat: `width \"x\" height`\n\nThe /info endpoint response returns the acceptable range of `width` and `height` values.\n","example":"256x512","schema":{"$ref":"#/components/schemas/SizeSchema"}},"ViewParam":{"in":"path","name":"view","required":true,"description":"This parameter specifies the view position and extent of the area visible in the image. For more information, see [Adjust map position](https://docs.here.com/map-rendering/docs/map-positioning).\n\nFormat: `(Center|BoundingBox|Bounds|Overlay)`\n\n* `Center = \"center:\" latitude \",\" longitude \";\" ((\"zoom=\" zoom) | (\"radius=\" radiusInMeters))`\n* `BoundingBox = \"bbox:\" westLongitude \",\" southLatitude \",\" eastLongitude \",\" northLatitude [\";padding=\" paddingInPixels ]`\n* `Bounds = \"bounds:\" latitude \",\" longitude \",\" { \",\" latitude \",\" longitude } [\";padding=\" paddingInPixels ]` \n* `Overlay = \"overlay\" [\":\" ((\"zoom=\" maximumZoom) | (\"radius=\" minimumRadiusInMeters)) [\";padding=\" paddingInPixels] | \":padding=\" paddingInPixels]]`\n\n Whereas:\n * Center: the view is centered at the geo coordinates defined by the `latitude` and `longitude` values. The visible area is controlled either by `zoom` or `radiusInMeters`.\n * BoundingBox: `westLongitude`, `southLatitude`, `eastLongitude`, `northLatitude` define a bounding box. The view is positioned so that the entire area inside the bounding box is visible in the image. Note that the latitude and longitude values do not follow the same order (latitude is first) as compared with other API parameters which use latitude and longitude.\n * Bounds: the view is positioned so that all the geo coordinates specified by `latitude`, `longitude` pairs are inside the view.\n * Overlay: the view is positioned so that all objects specified in the `overlay` and `geojson` parameters are visible. You must include at least one `overlay` or `geojson` parameter in the query.\n* `radiusInMeters` defines the minimum visible distance in all directions around the camera center or bounding box of an overlay, in meters.\n* `zoom` defines scale of the map based on concept of zoom level. The /info endpoint response lists the minimum and maximum zoom values.\n* `paddingInPixels` specifies additional space to apply around each overlay feature so that no feature is cut or obscured by the image edges. The available value ranges from `0` pixels (default) to one-fourth of the lower image dimension value. For example, if the image dimensions are `800x600`, then the maximum padding value is `600/4`, which equals `150` pixels.\n","examples":{"example1":{"value":"center:52.523882,13.366266;zoom=12","summary":"Example with center and zoom"},"example2":{"value":"center:52.523882,13.366266;radius=2000","summary":"Example with center and radius"},"example3":{"value":"bbox:13.383019,52.530572,13.38662,52.53086;padding=30","summary":"Example with bbox and padding"},"example4":{"value":"bounds:52.530572,13.383019,52.53086,13.38662,52.531749,13.383370;padding=20","summary":"Example with bounds and padding"},"example5":{"value":"overlay:padding=10","summary":"Example with overlay and padding"},"example6":{"value":"overlay","summary":"Example with overlay"}},"schema":{"$ref":"#/components/schemas/ViewSchema"}},"FormatParam":{"in":"path","name":"format","required":true,"description":"The format of the returned image. The /info endpoint response lists the available values. For more information, see [Optimize image dimensions and file type](https://docs.here.com/map-rendering/docs/image-properties).\n","example":"png","schema":{"$ref":"#/components/schemas/FormatSchema"}},"StyleParam":{"in":"query","name":"style","required":false,"description":"If present, selects the style to use to render the image. The /info endpoint response lists the available values. For more information, see [Define the map styles](https://docs.here.com/map-rendering/docs/styles).\nWhen you do not provide this parameter in a query, the default style is \"explore.day\".\n","example":"lite.day","schema":{"$ref":"#/components/schemas/StyleSchema"}},"PpiParam":{"in":"query","name":"ppi","required":false,"description":"Specifies the relative size of labels and icons. The valid values are:\n  - 100 – small\n  - 200 – medium\n  - 400 – large\n  \nFor more information, see [Modify label and icon size](https://docs.here.com/map-rendering/docs/label-icon-size).\n","example":100,"schema":{"type":"integer","enum":[100,200,400],"default":100}},"LanguageParam":{"in":"query","name":"lang","required":false,"description":"The [BCP47 language code](https://www.rfc-editor.org/rfc/bcp/bcp47.txt)\nlimited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\nUse this parameter for requesting a map image rendered in a specific language.\nThe /languages endpoint response lists the available values. For more information, see [Personalize the map language](https://docs.here.com/map-rendering/docs/languages).\n\nThe default behavior when no parameter is specified:\n  - The image displays labels in the default language of the corresponding country.\n  - The following labels are displayed in the default language: continent, ocean, sea, bay.\n","example":"en","schema":{"$ref":"#/components/schemas/LanguageSchema"}},"Language2Param":{"in":"query","name":"lang2","required":false,"description":"Use this parameter to provide the second language for use in dual labeling.\nThe 'lang2' parameter follows the same behavior as the 'lang' parameter.\n","example":"en","schema":{"$ref":"#/components/schemas/LanguageSchema"}},"PviewParam":{"in":"query","name":"pview","required":false,"description":"Use this parameter to render the map with boundaries based on various international or geopolitical views.\nIn general, use the international view unless a political view is available for a specific country and your use case requires showcasing international boundaries that reflect a specific geopolitical standpoint.\nIf the parameter is specified and the view is supported, the image will display boundaries corresponding to the specified geopolitical view. For more information, see [Explore geopolitical views](https://docs.here.com/map-rendering/docs/political-views).\n\nThe values follow the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.\n\nNote: Consult the /politicalViews endpoint for further information about how to get the current list of geopolitical views available from the service.\nNote: If this parameter is missing, the API applies the international view to the image.\n","example":"IN","schema":{"$ref":"#/components/schemas/PoliticalViewSchema"}},"MapVersionParam":{"in":"query","name":"mv","required":false,"description":"Specifies the map version to use. You can obtain the map version by querying the /info endpoint.","schema":{"$ref":"#/components/schemas/MapVersionSchema"}},"RenderFeaturesParam":{"in":"query","name":"features","required":false,"description":"Use this parameter to query images with additional features, for example, dislaying vehicle restrictions.\nThe features are independent, that is, an image is rendered with `feature_a` feature in `mode_a` mode AND `feature_b` feature in `mode_b` mode, and so on.\nThe available features include:\n* **congestion_zones** - Display of congestion zones. The available modes include:\n  * `all`\n  * `disabled`\n* **environmental_zones** - Display of environmental zones. The available modes include:\n  * `all`\n  * `disabled`\n* **pois** - Display of points of interest. The available modes include:\n  * `all`\n  * `disabled`\n* **vehicle_restrictions** - Display of road signs specific to trucks or other special vehicles. The available modes include:\n  * `active_and_inactive` - Show all restrictions (both active and inactive)\n  * `permanent_only` - Show only permanent restrictions (beta)\n  * `active_and_inactive_differentiated` - Show all restrictions differentiated by active/inactive status, using startTime and endTime parameters for time-based filtering.\n  * `active_only` - Show only active restrictions, using startTime and endTime parameters for time-based filtering.\n  * `disabled` - Do not display vehicle restrictions\n* **public_transit** - Display of public transit system. The available modes include:\n  * `asia_selected_systems`\n  * `all_systems`\n  * `disabled`\n* **truck_preferred_roads** - Display of truck preferred roads. The available modes include:\n  * `all`\n  * `disabled`\n\nThe `/features` endpoint response lists the available features and their corresponding modes.\nFor more information, see [Customize map features](https://docs.here.com/map-rendering/docs/additional-map-features).\n","schema":{"type":"string","pattern":"^([a-zA-Z0-9\\-_]+:[a-zA-Z0-9\\-_]+)(,([a-zA-Z0-9\\-_]+:[a-zA-Z0-9\\-_]+))*$","example":"congestion_zones:all,environmental_zones:disabled"}},"CopyrightParam":{"in":"query","name":"copyright","required":false,"description":"Determines whether to show the copyright information pertaining to the map image. The copyright display is enabled by default, you can only set the value of this parameter to 'false'.\nFor more information, see [Include the copyright notice](https://docs.here.com/map-rendering/docs/copyright-notice).\n","schema":{"type":"string"}},"CropLabelsParam":{"in":"query","name":"cropLabels","required":false,"description":"Determines whether to display labels that would be cropped by the edges of the generated image. The API displays cropped labels by default, you can only set the value of this parameter to 'false'.\nWhen you set this parameter to 'false', the labels that would get cropped are removed from the image. For more information, see [Conceal cut-off labels](https://docs.here.com/map-rendering/docs/label-truncation).\n","schema":{"type":"boolean","enum":[false]}},"ScaleBarParam":{"in":"query","name":"scaleBar","required":false,"description":"Determines whether to show a scale bar in kilometers (km) and/or miles (mi). For more information, see [Add a scale bar overlay](https://docs.here.com/map-rendering/docs/scalebar).\n","example":"mi","schema":{"$ref":"#/components/schemas/ScaleBarSchema"}},"GeojsonParam":{"in":"query","name":"geojson","required":false,"description":"Adds a [GeoJson](https://geojson.org/) overlay containing additional data to display on top of a map, in the form of points (circles, markers, labels), lines, and polygons.\nThe following types of top-level GeoJSON objects are supported: Feature, FeatureCollection, Geometry.\nThe following GeoJSON geometry types are supported: Point, MultiPoint, LineString, MultiLineString, Polygon, MultiPolygon, and GeometryCollection, with the exception of nested GeometryCollection is not supported because this type is not recommended by the open standard. For more information, see [GeometryCollection](https://tools.ietf.org/html/rfc7946#section-3.1.8).\nFor an alternative, but equivalent, way to specify the custom content see the `overlay` parameter.\nFor more information on how to use GeoJSON objects with the API, see the [GeoJSON format](https://docs.here.com/map-rendering/docs/geojson-overlay) article in the Developer Guide.\n","example":"%7B%22type%22%3A%22FeatureCollection%22%2C%22features%22%3A%5B%7B%22type%22%3A%22Feature%22%2C%22properties%22%3A%7B%7D%2C%22geometry%22%3A%7B%22coordinates%22%3A%5B13.366266%2C52.523882%5D%2C%22type%22%3A%22Point%22%7D%7D%5D%7D","schema":{"$ref":"#/components/schemas/GeojsonSchema"}},"OverlayParam":{"in":"query","name":"overlay","required":false,"description":"Add a custom overlay containing additional information on top of the map in the form points (circles, markers, labels), lines, and polygons. \n\nThis parameter provides a way to encode GeoJSON geometries by using a compact format optimized to reduce request size. For more information, see [Compact overlay encoding](https://docs.here.com/map-rendering/docs/custom-overlay).\n\nFormat: `geometryType \":\" geometry [\";\" properties] { \"|\" geometry [\";\" properties] } [\"|\" globalProperties]`\n\n* `geometryType = \"point\" | \"multiPoint\" | \"line\" | \"multiLine\" | \"polygon\" | \"multiPolygon\"`\n* `geometry = point | multiPoint | line | multiLine | polygon | multiPolygon`\n* `point = latitude \",\" longitude`\n* `multiPoint = line`\n* `line = (point { \",\" point }) | flexiblePolyline`\n* `multiLine = line {\";\" line}`\n* `polygon = multiLine`\n* `multiPolygon = polygon { \";;\" polygon }`\n* `globalProperties = properties`\n* `properties = propertyName \"=\" propertyValue { \";\" propertyName \"=\" propertyValue }`\n\nOnly a single geometry type is supported within an `overlay` parameter instance. To specify multiple different geometry types, add multiple instances of the `overlay` parameter.\n\nThe geometry is defined by a list of geo coordinates. The number of coordinate pairs that are required for the `ovelay` parameter depends on the geometry type that parameter represents. \n[Flexible polyline](https://github.com/heremaps/flexible-polyline) provides the alternative and more compact way of representing the multiPoint and line geometries.\n\nThe geometry is followed by the properties. Properties comprise of name = value pairs, separated by \";\". The list of valid properties depends on the geometry type and is used to control its appearance. \n\nYou can specify multiple features of a single geometry type in an `overlay` parameter value. The features are separated by the \"|\" character. If the last feature contains no geometry it is interpreted as globalProperties. The global properties are applied to all features. For more information, see [Shared style properties](https://docs.here.com/map-rendering/docs/custom-overlay#shared-style-properties).\n","style":"form","explode":true,"example":["point:52.523882,13.366267;color=%23FF0000;size=small","multiPoint:52.523883,13.366267,52.520409,13.367164","point:52.523883,13.366267;style=circle","multiPoint:52.523883,13.366267,52.520409,13.367164;style=circle","line:52.523883,13.366267,52.520409,13.367164;color=%23FF0000;width=4","multiLine:52.523883,13.366267,52.520409,13.367164;52.522064,13.362986,52.522566,13.369899;color=%23FF0000;width=4","polygon:52.523706,13.359598,52.522141,13.354542,52.520630,13.357341,52.521701,13.360907,52.523706,13.359598;52.522034,13.357842,52.521647,13.357177,52.521568,13.358089,52.522034,13.357842;color=%23FF0000","multiPolygon:52.523706,13.359598,52.522141,13.354542,52.520630,13.357341,52.521701,13.360907,52.523706,13.359598;52.522034,13.357842,52.521647,13.357177,52.521568,13.358089,52.522034,13.357842;;52.526190,13.361306,52.524800,13.362416,52.523816,13.361591,52.524337,13.364985,52.526190,13.361306;52.524935,13.362955,52.524376,13.362479,52.524163,13.363272,52.524646,13.364002,52.524935,13.362955;color=%23FF0000","point:52.523882,13.366267;label=Dummy \\nLabel"],"schema":{"$ref":"#/components/schemas/OverlaySchema"}},"ScaleParam":{"in":"query","name":"scale","required":false,"description":"Controls the scaling of the rendered images for high-resolution displays. A value of 2 doubles the size of the rendered tiles for sharper images.","example":2,"schema":{"type":"integer","enum":[1,2],"default":1}},"StartTimeParam":{"in":"query","name":"startTime","required":false,"description":"Start time for vehicle restrictions time window.\nMust only be used with the vehicle_restrictions feature using modes \"active_and_inactive_differentiated\" or \"active_only\".\nFormat: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T08:00)\n","schema":{"type":"string","pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$","example":"2025-12-03T08:00"}},"EndTimeParam":{"in":"query","name":"endTime","required":false,"description":"End time for vehicle restrictions time window.\nMust only be used with the vehicle_restrictions feature using modes \"active_and_inactive_differentiated\" or \"active_only\".\nFormat: Local RFC 3339 datetime as YYYY-MM-DDTHH:mm without timezone (e.g., 2025-12-03T18:00)\n","schema":{"type":"string","pattern":"^[0-9]{4}-[0-9]{2}-[0-9]{2}T[0-9]{2}:[0-9]{2}$","example":"2025-12-03T18:00"}},"IfNoneMatchParam":{"in":"header","name":"If-None-Match","required":false,"example":"12345","description":"Specifies an optional entity tag of the resource cached in the client.\nSee the `304` response of the `getTile` operation for more details.\n","schema":{"type":"string"}},"XRequestIDParam":{"in":"header","name":"X-Request-ID","required":false,"example":"12345","description":"The ID given by the caller to match in the response.\n","schema":{"type":"string"}},"IconTypeParam":{"name":"iconType","in":"path","required":true,"description":"Specifies the icon type. The /info endpoint response lists the available values. For more information, see [Choose the map resource type](https://docs.here.com/map-rendering/docs/resources).\n","example":"roadShield","schema":{"$ref":"#/components/schemas/IconTypeSchema"}},"CountryCodeParam":{"name":"countryCode","in":"query","required":true,"description":"Specifies the country in ISO 3166-1 Alpha-3.\n","example":"USA","schema":{"type":"string"}},"StateCodeParam":{"name":"stateCode","in":"query","required":false,"description":"Specifies the state code in ISO 3166-2.\n","example":"AL","schema":{"type":"string"}},"LabelParam":{"name":"label","in":"query","required":true,"description":"Specifies the label for road shields. (string, UTF-8)\n","example":"A1","schema":{"type":"string","minLength":1,"maxLength":13}},"WidthParam":{"name":"width","in":"query","required":false,"description":"Specifies the image width (if only width is given then the height is determined based on aspect ratio).\n","example":256,"schema":{"type":"integer"}},"HeightParam":{"name":"height","in":"query","required":false,"description":"Specifies the image height (if only height is given then the width is determined based on aspect ratio).\n","example":256,"schema":{"type":"integer"}},"RouteLevelParam":{"name":"routeLevel","in":"query","required":false,"description":"Specifies the route by its priority. The values are from 1 to 6:\n1 - international or european road\n2 - national\n3 - primary road\n4 - secondary\n5 - minor road\n6 - avenue\n","example":1,"schema":{"type":"integer","minimum":1,"maximum":6,"default":1}}},"schemas":{"FeaturesSchema":{"type":"object","description":"Provides the information about supported features.","properties":{"features":{"$ref":"#/components/schemas/StylesFeaturesSchema"}}},"StylesFeaturesSchema":{"type":"object","description":"Features and their corresponding modes available for each style.","additionalProperties":{"$ref":"#/components/schemas/StyleFeaturesSchema"},"example":{"explore.day":[{"name":"environmental_zones","modes":["disabled","all"]},{"name":"congestion_zones","modes":["disabled","all"]},{"name":"pois","modes":["all","disabled"]},{"name":"vehicle_restrictions","modes":["disabled","active_and_inactive"]}],"explore.night":[{"name":"congestion_zones","modes":["disabled","all"]}]}},"StyleFeaturesSchema":{"type":"array","description":"Defines all features supported by a particular style.","items":{"$ref":"#/components/schemas/StyleFeatureSchema"}},"StyleFeatureSchema":{"type":"object","description":"Defines a single feature.","properties":{"name":{"type":"string","description":"Feature name.","example":"environmental_zones"},"modes":{"type":"array","description":"Applicable feature modes. The first entry is the default mode. The default mode is used if no other mode is specified in the image request.","items":{"type":"string"},"example":["disabled","all"]}}},"CopyrightResourcesSchema":{"type":"object","description":"The copyright style mappings for this particular resource.","additionalProperties":{"$ref":"#/components/schemas/CopyrightLayersSchema"},"example":{"base":{"styles":{"explore.satellite.day":["in","sat"]}},"background":{"styles":{"explore.satellite.day":["in","sat"]}}}},"CopyrightLayersSchema":{"type":"object","description":"The mapping that matches styles with copyright bounding box definitions.","properties":{"styles":{"$ref":"#/components/schemas/CopyrightStylesSchema"}},"example":{"styles":{"explore.satellite.day":["in","sat"]}}},"CopyrightStylesSchema":{"type":"object","additionalProperties":{"type":"array","items":{"type":"string","example":"in"}},"example":{"explore.satellite.day":["in","sat"]}},"CopyrightSchema":{"type":"object","properties":{"copyrightText":{"type":"string","example":"copyright IGN 2009 - BD TOPO","description":"Verbose copyright text of the label displayed upon mouse hover over the label or the info menu entry."},"boundingBoxes":{"type":"array","description":"A collection of areas that belong to this copyright.","items":{"type":"object","properties":{"west":{"type":"number","format":"float","example":-90},"south":{"type":"number","format":"float","example":-90},"east":{"type":"number","format":"float","example":90},"north":{"type":"number","format":"float","example":90}},"description":"The bounding boxes define areas where specific copyrights are applicable.\nA bounding box is defined by the `west` (longitude), `south` (latitude) and `east` (longitude), `north` (latitude) coordinates.\n"}},"label":{"type":"string","example":"IGN","description":"Copyright text to display after the copyright symbol on the map."},"maxLevel":{"type":"integer","example":20,"description":"Maximum zoom level for the specified copyright label."},"minLevel":{"type":"integer","example":11,"description":"Minimum zoom level for the specified copyright label."}}},"CopyrightsObjectSchema":{"type":"object","description":"The copyright objects.","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/CopyrightSchema"}},"example":{"base":[{"boundingBoxes":[{"east":90,"north":90,"south":-90,"west":-90}],"copyrightText":"copyright IGN 2009 - BD TOPO","label":"IGN","maxLevel":20,"minLevel":11}]}},"CopyrightsSchema":{"type":"object","description":"Copyright objects and a mapping of \"resource\" paths to a set of copyright objects associated with the resource.","properties":{"copyrights":{"$ref":"#/components/schemas/CopyrightsObjectSchema"},"resources":{"$ref":"#/components/schemas/CopyrightResourcesSchema"}},"example":{"copyrights":{"in":[{"boundingBoxes":[{"east":-89.0225,"north":17.8168,"south":16.5943,"west":-91.4256},{"east":-88.2215,"north":16.1868,"south":14.9642,"west":-89.0225}],"copyrightText":"Aprobado por el INSTITUTO GEOGRAFICO NACIONAL Resolucion del IGN No 186-2011","label":"IGN Guatemala","maxLevel":20,"minLevel":10}],"sat":[{"boundingBoxes":[{"east":-180,"north":90,"south":-90,"west":180}],"copyrightText":"Airbus","label":"Airbus","maxLevel":20,"minLevel":14}]},"resources":{"base":{"styles":{"explore.day":["in"],"explore.satellite.day":["in","sat"]}}}}},"ErrorResponseDetailsSchema":{"type":"object","description":"Detailed information about the error.","properties":{"message":{"type":"string","description":"Error message","example":"output parameter matches none of the supported values"}}},"ErrorResponseSchema":{"type":"object","description":"Response in case of error.","properties":{"title":{"type":"string","description":"User-friendly error description.","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code.","example":400},"code":{"type":"string","description":"Error code.","example":"E622002"},"cause":{"type":"string","description":"Human-readable explanation for the error.","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that you can take to correct the error.","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request.","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"BadRequestErrorResponseSchema":{"type":"object","description":"Bad Request | Indicates an invalid parameter value in the request, for example, the `zoom` value that is out of range.","properties":{"title":{"type":"string","description":"User-friendly error description.","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code. Possible error codes include E622002,E622003,E622004,E622005,E622006,E622007,E622008,E622009, and E622010.","example":"E622002"},"cause":{"type":"string","description":"Human-readable explanation for the error.","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that you can take to correct the error.","example":"Request a valid id"},"correlationId":{"type":"string","description":"An automatically generated unique ID that identifies the request.","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"parameter":{"type":"string","description":"Name of the parameter in case of a bad request due to an invalid path or query parameter; otherwise, an empty string.","example":"overlay"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId","parameter"]},"NotFoundErrorResponseSchema":{"type":"object","description":"Not Found | Indicates that the resource was not found.","properties":{"title":{"type":"string","description":"User-friendly error description.","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code.","example":404},"code":{"type":"string","description":"Error code.","example":"E622000"},"cause":{"type":"string","description":"Human-readable explanation for the error.","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that you can take to correct the error.","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request.","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"InternalServerErrorResponseSchema":{"type":"object","description":"Internal Error | Indicates a server malfunction and an unexpected error.","properties":{"title":{"type":"string","description":"User-friendly error description.","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code.","example":500},"code":{"type":"string","description":"Error code. Possible error codes include E622050,E622051,E622052,E622053, and E622054.","example":"E622050"},"cause":{"type":"string","description":"Human-readable explanation for the error.","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that you can take to correct the error.","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request.","example":"4199533b-6290-41db-8d79-edf4f4019a74"},"details":{"type":"array","items":{"$ref":"#/components/schemas/ErrorResponseDetailsSchema"}}},"required":["title","status","code","cause","action","correlationId"]},"ForbiddenErrorSchema":{"type":"object","description":"Custom error response schema returned as a result of authentication.","properties":{"error":{"type":"string","pattern":"^Forbidden$"},"error_description":{"type":"string"}}},"SizeSchema":{"type":"string","pattern":"^([1-9][0-9]*)x([1-9][0-9]*)$","example":"2048x4096"},"ViewSchema":{"type":"string"},"AllowedSizesSchema":{"type":"object","properties":{"min":{"type":"integer"},"max":{"type":"integer"}}},"SizesSchema":{"description":"List of supported image sizes.","type":"object","properties":{"width":{"$ref":"#/components/schemas/AllowedSizesSchema"},"height":{"$ref":"#/components/schemas/AllowedSizesSchema"}}},"ZoomLevelsSchema":{"type":"object","description":"The range of available zoom levels.","properties":{"max":{"type":"integer","description":"The maximum value for the zoom parameter.","example":20},"min":{"type":"integer","description":"The minimum value for the zoom parameter.","example":0}}},"FormatSchema":{"type":"string","description":"Supported image format types.","example":"png"},"FormatsSchema":{"description":"List of supported image formats.","type":"array","items":{"$ref":"#/components/schemas/FormatSchema"}},"StyleSchema":{"type":"string","example":"explore.day"},"StylesSchema":{"type":"array","description":"List of available styles.","items":{"$ref":"#/components/schemas/StyleSchema"}},"MapVersionSchema":{"description":"The current encoded map version which is valid for 24 hours. After that period, this value must be refreshed.","type":"string","pattern":"^([a-z]{2,3}[0-9]+)+","example":"in123jp45"},"ScaleBarSchema":{"type":"string","enum":["km","mi","kmMi","miKm"],"example":"mi"},"GeojsonSchema":{"type":"string"},"OverlaySchema":{"type":"array","items":{"type":"string"}},"HealthResponseFail":{"type":"object","description":"Returns the health status of the service.","properties":{"status":{"description":"The available service health status types:\n\n* `ok` - The service is operating normally.\n* `fail` - The service is currently unavailable.\n","type":"string","enum":["fail"]}}},"HealthResponseOk":{"type":"object","description":"Returns the health status of the service.","properties":{"status":{"description":"The available service health status types:\n\n* `ok` - The service is operating normally.\n* `fail` - The service is currently unavailable.\n","type":"string","enum":["ok"]}}},"InfoSchema":{"type":"object","properties":{"resources":{"$ref":"#/components/schemas/ResourcesSchema"},"projections":{"$ref":"#/components/schemas/ProjectionsSchema"},"imageFormats":{"$ref":"#/components/schemas/FormatsSchema"},"iconImageFormats":{"$ref":"#/components/schemas/FormatsSchema"},"iconTypes":{"$ref":"#/components/schemas/IconTypesSchema"},"styles":{"$ref":"#/components/schemas/StylesSchema"},"mapVersion":{"$ref":"#/components/schemas/MapVersionSchema"},"imageSizes":{"$ref":"#/components/schemas/SizesSchema"},"iconSizes":{"$ref":"#/components/schemas/SizesSchema"},"zoomLevels":{"$ref":"#/components/schemas/ZoomLevelsSchema"}}},"LanguageSchema":{"type":"string","pattern":"^[a-z]{2}(-[a-zA-Z]{1,4})?$","example":"en","description":"Indicates that the map supports the returned language.\nThe values follow the BCP47 language code limited to ISO 639-1 two-letter language code and, optionally, ISO 15924 four-letter script code.\n"},"LanguagesSchema":{"type":"object","description":"List of languages supported for a specific resource type.","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/LanguageSchema"}},"example":{"base":["en","es","ru"]}},"PoliticalViewSchema":{"type":"string","example":"IN","description":"Indicates a certain geopolitical view applied to the map.\nThe values follow the [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country code schema.\n","pattern":"^[A-Z]{2}$"},"PoliticalViewsSchema":{"type":"object","description":"Map resource to list of supported geopolitical views for that resource.\nThe values follow [ISO 3166-1 alpha-2](https://en.wikipedia.org/wiki/ISO_3166-1_alpha-2) country codes schema.\n","additionalProperties":{"type":"array","items":{"$ref":"#/components/schemas/PoliticalViewSchema"}},"example":{"base":["AR","CY","EG","IN"]}},"ResourceSchema":{"type":"string","example":"mapview","description":"Name of the underlying resource type for the map image."},"IconTypeSchema":{"type":"string","example":"roadShield","description":"Name of the underlying icon type for the icon image."},"IconTypesSchema":{"type":"array","items":{"$ref":"#/components/schemas/IconTypeSchema"}},"ResourcesSchema":{"description":"List of available resource types.","type":"array","items":{"$ref":"#/components/schemas/ResourceSchema"}},"ProjectionSchema":{"type":"string","example":"mc","description":"The map projection type used when rendering images."},"ProjectionsSchema":{"type":"array","description":"List of available map projection types.","items":{"$ref":"#/components/schemas/ProjectionSchema"}},"UnauthorizedErrorSchema":{"type":"object","description":"Custom error response schema returned as a result of authentication.","properties":{"error":{"type":"string","pattern":"^Unauthorized$"},"error_description":{"type":"string"}}},"DataVersion":{"type":"object","description":"Version of a specific data set.","properties":{"name":{"type":"string","description":"Identifies a data set, for example, a HRN, or a service-specific identifier."},"version":{"type":"string","description":"The current version of this data set."}},"required":["name","version"]},"VersionResponse":{"type":"object","description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","pattern":"^[0-9]+\\.[0-9]+(\\.[0-9]+)?$"},"serviceVersion":{"type":"string","description":"The current version of the service.","pattern":"^[0-9]+\\.[0-9]+\\.[0-9]+-[a-f0-9]{7}(-[a-z]*)?$"},"dataVersions":{"type":"array","items":{"$ref":"#/components/schemas/DataVersion"},"description":"Returns the versions of data sets that the service uses."}},"required":["apiVersion"]}},"headers":{"ETag":{"description":"Entity tag that represents a specific version of the requested image.","schema":{"type":"string"}},"X-Correlation-ID":{"description":"The auto-generated ID that uniquely identifies the request and is accessible within the response.  When reaching out to support with an inquiry about a particular request, please include the value of this header. Doing so will assist in troubleshooting the issue.\n","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-ID":{"description":"User-provided token that you can use to trace a request or a group of requests sent to the service.\n","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"Cache-Control":{"description":"Specifies how the response can be cached. For more information, see [Cache control](https://developer.mozilla.org/en-US/docs/Web/HTTP/Headers/Cache-Control).","schema":{"type":"string"},"example":"max-age=86400"}},"responses":{"ImageResponse":{"description":"OK - Requested resource is returned","headers":{"ETag":{"$ref":"#/components/headers/ETag"},"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"image/png":{"schema":{"type":"string","format":"binary"}},"image/png8":{"schema":{"type":"string","format":"binary"}},"image/jpg":{"schema":{"type":"string","format":"binary"}}}},"ImageNotModifiedResponse":{"description":"The resource cached in the client (identified by the If-None-Match header) has not changed.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}}},"ErrorResponse":{"description":"API response in case of an error.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponseSchema"}]}}}},"BadRequestErrorResponse":{"description":"API response that indicates an error due to a bad request.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/BadRequestErrorResponseSchema"}]}}}},"NotFoundErrorResponse":{"description":"API response that indicates that the requested resource was not found.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/NotFoundErrorResponseSchema"}]}}}},"InternalServerErrorResponse":{"description":"API response that indicates a server malfunction or an unexpected error.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/InternalServerErrorResponseSchema"}]}}}},"ForbiddenError":{"description":"API response that indicates that the access token does not authorize access.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ForbiddenErrorSchema"}]}}}},"UnauthorizedError":{"description":"API response that indicates that the access token is missing or invalid.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/UnauthorizedErrorSchema"}]}}}}}}}