# x-archived-from: here-traffic-v7-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"Traffic API v7","version":"7.5.0","description":"The HERE Traffic API is a REST API that provides traffic flow and incidents information.","termsOfService":"https://developer.here.com/terms-conditions","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"externalDocs":{"description":"The developer guide, migration guide and release notes are available here.","url":"https://www.here.com/docs/category/traffic-api-v7"},"security":[{"Bearer":[]},{"ApiKey":[]}],"servers":[{"url":"https://data.traffic.hereapi.com/v7"}],"paths":{"/flow":{"get":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getFlow","summary":"Real-Time Flow Information","description":"Get real-time traffic flow data for a geospatial area.\n","parameters":[{"$ref":"#/components/parameters/in"},{"$ref":"#/components/parameters/locationReferencing"},{"$ref":"#/components/parameters/minJamFactor"},{"$ref":"#/components/parameters/maxJamFactor"},{"$ref":"#/components/parameters/functionalClasses"},{"$ref":"#/components/parameters/advancedFeatures"},{"$ref":"#/components/parameters/XRequestIdParam"},{"$ref":"#/components/parameters/useRefReplacements"},{"$ref":"#/components/parameters/exactSegmentRefMatching"}],"responses":{"200":{"$ref":"#/components/responses/FlowResponseOk"},"400":{"$ref":"#/components/responses/FlowResponseInvalidRequest"},"401":{"$ref":"#/components/responses/FlowResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/FlowResponseNotAllowed"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/FlowResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}},"post":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getFlowWithBodyParams","summary":"Real-Time Flow Information","description":"Get real-time traffic flow data for a geospatial area with geospatial filter.\n","parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"requestBody":{"$ref":"#/components/requestBodies/geospatialFiltersBodyFlow"},"responses":{"200":{"$ref":"#/components/responses/FlowResponseOk"},"400":{"$ref":"#/components/responses/FlowResponseInvalidRequest"},"401":{"$ref":"#/components/responses/FlowResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/FlowResponseNotAllowed"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/FlowResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}}},"/incidents":{"get":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getIncidents","summary":"Real-Time Incident Information","description":"Get traffic incidents for a geospatial area.\n","parameters":[{"$ref":"#/components/parameters/in"},{"$ref":"#/components/parameters/locationReferencing"},{"$ref":"#/components/parameters/functionalClasses"},{"$ref":"#/components/parameters/criticality"},{"$ref":"#/components/parameters/type"},{"$ref":"#/components/parameters/earliestStartTime"},{"$ref":"#/components/parameters/latestEndTime"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/XRequestIdParam"},{"$ref":"#/components/parameters/useRefReplacements"},{"$ref":"#/components/parameters/exactSegmentRefMatching"}],"responses":{"200":{"$ref":"#/components/responses/IncidentsResponseOk"},"400":{"$ref":"#/components/responses/IncidentsResponseInvalidRequest"},"401":{"$ref":"#/components/responses/IncidentResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/IncidentsResponseNotAllowed"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/IncidentsResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}},"post":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getIncidentsWithBodyParams","summary":"Real-Time Incident Information","description":"Get traffic incidents for a geospatial area.\n","parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"requestBody":{"$ref":"#/components/requestBodies/geospatialFiltersBodyIncidents"},"responses":{"200":{"$ref":"#/components/responses/IncidentsResponseOk"},"400":{"$ref":"#/components/responses/IncidentsResponseInvalidRequest"},"401":{"$ref":"#/components/responses/IncidentResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/IncidentsResponseNotAllowed"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/IncidentsResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}}},"/incidents/{originalId}":{"get":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getIncidentsById","summary":"Real-Time Incident Information for the given id","description":"Get traffic incident for a given id. The id can be prefixed with a namespace.\nIf no namespace is specified, the default namespace is \"here:traffic:incident\".\n","parameters":[{"$ref":"#/components/parameters/originalId"},{"$ref":"#/components/parameters/locationReferencing"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/XRequestIdParam"},{"$ref":"#/components/parameters/useRefReplacements"}],"responses":{"200":{"$ref":"#/components/responses/IncidentItemResponseOk"},"400":{"$ref":"#/components/responses/IncidentItemResponseInvalidRequest"},"401":{"$ref":"#/components/responses/IncidentResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/IncidentsResponseNotAllowed"},"404":{"$ref":"#/components/responses/IncidentItemResponseNotFound"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/IncidentsResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}},"post":{"tags":["Real-Time Traffic"],"operationId":"Traffic API v7 getIncidentsByIdWithBodyParams","summary":"Real-Time Incident Information for the given id","description":"Get traffic incident for a given id. The id can be prefixed with a namespace.\nIf no namespace is specified, the default namespace is \"here:traffic:incident\".\n","parameters":[{"$ref":"#/components/parameters/originalId"},{"$ref":"#/components/parameters/XRequestIdParam"}],"requestBody":{"$ref":"#/components/requestBodies/geospatialFiltersBodyIncidentsId"},"responses":{"200":{"$ref":"#/components/responses/IncidentItemResponseOk"},"400":{"$ref":"#/components/responses/IncidentItemResponseInvalidRequest"},"401":{"$ref":"#/components/responses/IncidentResponseAuthenticationFailed"},"403":{"$ref":"#/components/responses/IncidentsResponseNotAllowed"},"404":{"$ref":"#/components/responses/IncidentItemResponseNotFound"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/IncidentsResponseInternalServerError"},"503":{"$ref":"#/components/responses/ResponseServiceUnavailableError"}}}},"/health":{"get":{"operationId":"Traffic API v7 getHealth","summary":"Health status of the service","tags":["API Information"],"description":"Returns the health of the service","parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/HealthResponseOk"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"default":{"$ref":"#/components/responses/HealthResponseFail"}}}},"/version":{"get":{"operationId":"Traffic API v7 getVersion","summary":"Full version of the API","tags":["API Information"],"description":"Returns the version of the service","parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/VersionResponseOk"},"414":{"$ref":"#/components/responses/RequestUriTooLong"},"500":{"$ref":"#/components/responses/ErrorResponseInternalServerError"},"502":{"$ref":"#/components/responses/ErrorResponseBadGateway"},"503":{"$ref":"#/components/responses/ErrorResponseServiceUnavailable"},"504":{"$ref":"#/components/responses/ErrorResponseGatewayTimeout"}}}},"/openapi":{"get":{"operationId":"Traffic API v7 getOpenAPI","summary":"Retrieves this API specification in OpenAPI 3 format","tags":["API Information"],"description":"Returns the OpenAPI specification of the Traffic API v7","parameters":[{"$ref":"#/components/parameters/XRequestIdParam"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/OpenApiResponseOk"},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"}}}}},"components":{"parameters":{"criticality":{"name":"criticality","description":"The severity of the incident that has occured, with the following possible values: low (least severe), minor, major, and critical (most severe).\nA list of criticality values separated by commas (`,`), to return results for.\n","in":"query","style":"form","explode":false,"schema":{"type":"array","items":{"type":"string","enum":["low","minor","major","critical"]},"uniqueItems":true},"examples":{"criticalOnly":{"value":["critical"],"summary":"Only critical incidents"},"criticalAndMajor":{"value":["critical","major"],"summary":"Critical and Major incidents"}}},"earliestStartTime":{"name":"earliestStartTime","description":"The earliest start time that is accepted for an incident to be included in the results.\n\nFormat is **RFC 3339**, section 5.6 as defined by `date-time`. Will always be UTC time.\n","schema":{"$ref":"#/components/schemas/Time"},"in":"query","style":"form","example":"2019-10-10T00:00:00.00Z"},"advancedFeatures":{"name":"advancedFeatures","description":"A list of advanced features separated by commas (`,`), to return results for.\n\n| Feature        | Description |\n|----------------|-------------|\n| `deepCoverage` | More complete flow coverage |\n| `lanes`        | Lane level traffic information about lanes designated for High Occupancy Vehicles or at highway forks/splits |\n\n**NOTE:** Advanced features are billed at a separate price point to normal requests. Please\ncontact HERE sales for further details.\n","in":"query","style":"form","explode":false,"required":false,"schema":{"type":"array","items":{"type":"string","enum":["deepCoverage","lanes"]},"uniqueItems":true},"examples":{"criticalOnly":{"value":["deepCoverage"],"summary":"Deep coverage"},"criticalAndMajor":{"value":["deepCoverage","lanes"],"summary":"Deep coverage and Lanes"}}},"functionalClasses":{"name":"functionalClasses","description":"A list of functional classes separated by commas (`,`), to return results for. The\nfunctional class is used to group roads depending on speed, importance, and\nconnectivity.\n\nFunctional classes are integers from `1` to `5` inclusive where functional class `1` are\nthe most important and functional class `5` are the least important. The table below\ndescribes the roads that fall into each class.\n\n| Functional Class | Description |\n|------------------|-------------|\n| 1                | These roads are meant for high volume, maximum speed traffic between and through major metropolitan areas. There are very few, if any, speed changes. Access to this road is usually controlled. |\n| 2                | These roads are used to channel traffic to Main Roads (functionalClass=1) for travel between and through cities in the shortest amount of time. There are very few, if any speed changes. |\n| 3                | These roads interconnect First Class Roads (2) and provide a high volume of traffic movement at a lower level of mobility than First Class Roads (2). |\n| 4                | These roads provide for a high volume of traffic movement at moderate speeds between neighborhoods. These roads connect with higher Functional Class roads to collect and distribute traffic between neighborhoods. |\n| 5                | These roads' volume and traffic movements are below the level of any other road. |\n","in":"query","style":"form","required":false,"schema":{"type":"array","items":{"type":"integer","enum":[1,2,3,4,5]},"default":[1,2,3,4,5]},"examples":{"all":{"value":[1,2,3,4,5],"summary":"All functional classes (default)"},"one":{"value":[1],"summary":"Only functional class 1"},"one_two_three":{"value":[1,2,3],"summary":"Functional classes 1 - 3"}}},"in":{"name":"in","description":"Return flow items within a geographical area.\nArea within which to return flow.\n\nA geographic area can be one of the following:\n\n * A circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format: `circle:{latitude},{longitude};r={radius}`\n\n   Type: `circle:{decimal},{decimal};r={integer}`\n\n   Example: `circle:13.1,-43.1;r=10000`\n\n * A bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n\n   Format: `bbox:{west longitude},{south latitude},{east longitude},{north latitude}`\n\n   Example: `bbox:13.08836,52.33812,13.761,52.6755`\n\n * A corridor, provided as a polyline in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline) encoding and a\n   radius/width (in meters). The radius is measured perpendicular to each segment of the\n   polyline on both sides, so a radius of 50 meters will cover an area 50 meters on either\n   side of the polyline and be 100 meters wide from one side to the other. The maximum \n   point number for a corridor is 300.\n\n   Format: `corridor:{polyline};r={radius}`\n\n   Example: `corridor:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e;r=50`\n\n * A list of topology segments, provided as series of segment references and optional refReplacements (rr). The maximum number of supported segment references is 100.\n   \n   Format: `segmentRef:{segment refs};rr={refReplacements}`\n\n   Example With refReplacements  : `segmentRef:$0:377894451:$1:192255763#+0..1,$0:377894451:$1:79189699#+0..1;rr=hrn:here:data::olp-here:rib-2:6074:,here:cm:segment`\n            \n   Example Without refReplacements : `segmentRef:hrn:here:data::olp-here:rib-2:6074::377894451:here:cm:segment:192255763#+0..1,hrn:here:data::olp-here:rib-2:6074::377894451:here:cm:segment:79189699#+0..1`\n","in":"query","style":"form","required":true,"schema":{"type":"string"},"examples":{"circle":{"value":"circle:13.1,-43.1;r=10000","summary":"A circular area"},"bbox":{"value":"bbox:13.08836,52.33812,13.761,52.6755","summary":"A bounding box"},"corridor":{"value":"corridor:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e;r=50","summary":"A corridor"},"segmentRef":{"value":"segmentRef:$0:377894451:$1:192255763#+0..1,$0:377894451:$1:79189699#+0..1,$0:377894451:$1:186625495#-0..1;rr=hrn:here:data::olp-here:rib-2:6074:,here:cm:segment","summary":"A list of topology segments"}}},"latestEndTime":{"name":"latestEndTime","description":"The latest end time that is accepted for an incident to be included in the results.\n\nFormat is **RFC 3339**, section 5.6 as defined by `date-time`. Will always be UTC time.\n","schema":{"$ref":"#/components/schemas/Time"},"in":"query","style":"form","example":"2019-10-20T00:00:00.00Z"},"locationReferencing":{"name":"locationReferencing","description":"The location referencing scheme (or schemes) to be used in the response. Multiple location\nreferencing schemes can be specified separated by commas (`,`).\n\n|Location Referencing | Description |\n|------------------|-------------|\n| `none`           | The response will not contain any location references such as tmc, olr, HMC topology segments or shape points. |\n| `olr`            | Open Location References is a TISA location referencing standard also called TPEGOpenLR. Please visit https://tisa.org/ for more details. TISA Specifications are also published by ISO https://www.iso.org/ Specifications: ISO/TS 21219-22:2017 |\n| `shape`          | Shape points. Defines a location by a series of geo-coordinates. |\n| `tmc`            | Traffic Message Channel (TMC) location referencing method uses tables of pre-coded locations. For details please refer ISO specifications ISO 14819-3:2013 and ISO 14819-2:2013. |\n| `segmentRef`     | Topology Segment references. Defines a location by a series of reference to the HMC Topology Segment. |\n","in":"query","style":"form","required":true,"explode":false,"schema":{"type":"array","items":{"type":"string","enum":["none","olr","shape","tmc","segmentRef"]},"minItems":1,"uniqueItems":true},"examples":{"olr":{"value":"olr","summary":"Only return locations as OLR"},"tmc_plus_olr":{"value":"tmc,olr","summary":"Return locations with both TMC and OLR"}}},"lang":{"name":"lang","description":"The language to be used for the incident descriptions. Parameter value must follow\nspecification: BCP47. Supported values are available on  [iana.org](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry)\n","in":"query","style":"form","required":false,"schema":{"type":"string"},"example":"en-US"},"units":{"name":"units","description":"Units of measurement to be used in incident descriptions.\nThe default is metric.\n","in":"query","style":"form","required":false,"schema":{"type":"string","enum":["metric","imperial"],"default":"metric","example":"metric"}},"minJamFactor":{"name":"minJamFactor","description":"The minimum jam factor value for flow items to be included in the response. All flow items\nwith a _lower_ jam factor than the value specified by the `minJamFactor` parameter are\nomitted. The parameter can be used by clients that require flow data for congested roadways\nonly.\n\nThe value must be in the range `0.0` to `10.0` (inclusive).\n\nDefault: `0.0`\n","in":"query","style":"form","required":false,"schema":{"type":"number","default":0},"example":5},"maxJamFactor":{"name":"maxJamFactor","description":"The maximum jam factor value for flow items to be included in the response. All flow items\nwith a _higher_ jam factor than the value specified by the `maxJamFactor` parameter are\nomitted. This parameter can be used by clients that require flow data only for\ncongestion-free roads.\n\nThe values must be in the range `0.0` to `10.0` (inclusive).\n\nDefault: `1.0`\n","in":"query","style":"form","required":false,"schema":{"type":"number","default":10},"example":8},"type":{"name":"type","description":"A list of incident type values separated by commas (`,`), to return results for.\n\n| Type              | Description |\n|-------------------|-------------|\n| `accident`        | | Indicates that there has been a collision\n| `construction`    | | Indicates that building or roadworks are taking place\n| `congestion`      | | Indicates that there has been a build up of vehicles\n| `disabledVehicle` | | Indicates that a vehicle is unable to move and is obstructing the road\n| `massTransit`     | | Indicates that a large amount of people are migrating from one location to another\n| `plannedEvent`    | | Indicates that an organised event is taking place causing disruption\n| `roadHazard`      | | Indicates that there are dangerous objects on the surface of the road\n| `roadClosure`     | | Indicates that the road has been closed, e.g. police presence\n| `weather`         | | Indicates that weather conditions are causing disruptions\n| `laneRestriction` | | Indicates that some of the lanes have access restrictions\n| `other`           | | Indicates that an incident not explainable with the types above has occurred\n","in":"query","style":"form","required":false,"schema":{"type":"string"},"examples":{"accidentOnly":{"value":"accident","summary":"Only incidents of type accident"},"roadHazardAndWeather":{"value":"roadHazard,weather","summary":"Incidents of type roadHazard or weather"}}},"originalId":{"name":"originalId","description":"Identifier of the first traffic incident in a chain of updates. Once an incident chain\nhas been created, this value will never change.\n","in":"path","required":true,"schema":{"type":"string"},"example":"2349753562597427858"},"XRequestIdParam":{"name":"X-Request-Id","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service. This can be any string but UUID is preferred.\n","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"},"useRefReplacements":{"name":"useRefReplacements","in":"query","description":"Use replacement strings for compact representation of HMC topology segment references.\n","required":false,"schema":{"type":"boolean","default":true}},"exactSegmentRefMatching":{"name":"exactSegmentRefMatching","in":"query","description":"Match segment references exactly with catalog versions when the value is set to true.\nCatalog versions are ignored to match when the value is set to false.\n","required":false,"schema":{"type":"boolean","default":false}}},"headers":{"X-Correlation-Id":{"description":"Auto-generated id that univocally identifies the request.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-Id":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service. This can be any string but UUID is preferred.\n","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests.\nFor more information on how to get an API key, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see https://developer.here.com/documentation/identity-access-management/dev_guide/index.html.\n"}},"schemas":{"AuthError":{"description":"Error object reported in case of authentication or authorization errors.","type":"object","properties":{"error":{"type":"string","description":"Error message"},"error_description":{"type":"string","description":"Detailed information about the error"}},"required":["error"],"example":{"error":"Unauthorized","error_description":"ApiKey invalid. ApiKey not found."}},"Confidence":{"description":"The number between 0.0 and 1.0 indicating the proportion of real time data included in\nthe speed calculation.\n\n* 0.7 < `confidence` <= 1.0 indicates real time speeds\n* 0.5 < `confidence` <= 0.7 indicates historical speeds\n* 0.0 < `confidence` <= 0.5 indicates speed limit\n\nThis field can be used to identify whether the data for a location is derived from real\ntime probe sources or historical information only.  All confidence data 0.71 and above\nis based on real-time information, where a confidence value of 0.75 or greater indicates\nhigh confidence real-time information.  A confidence value equal to 0.70 means that the\ndata is derived from historical data only.\n","type":"number","minimum":0,"maximum":1},"CurrentFlow":{"type":"object","description":"Information about flow information for a specific location.","properties":{"speed":{"$ref":"#/components/schemas/SpeedCapped"},"speedUncapped":{"$ref":"#/components/schemas/SpeedUncapped"},"freeFlow":{"$ref":"#/components/schemas/FreeFlow"},"jamFactor":{"$ref":"#/components/schemas/JamFactor"},"jamTendency":{"$ref":"#/components/schemas/JamTendency"},"confidence":{"$ref":"#/components/schemas/Confidence"},"traversability":{"$ref":"#/components/schemas/Traversability"},"junctionTraversability":{"$ref":"#/components/schemas/JunctionTraversability"},"subSegments":{"$ref":"#/components/schemas/SubSegments"},"lanes":{"$ref":"#/components/schemas/Lanes"}},"required":["freeFlow","jamFactor"]},"EmissionRestriction":{"description":"The class of emission that is restricted.\nMore detail about each emission type can be found in https://en.wikipedia.org/wiki/European_emission_standards.\n\nPossible emisson types are:\n| Emission Type |\n|---------------|\n| `euro3` |\n| `euro3d4` |\n| `euro4` |\n| `euro5` |\n","type":"string","enum":["euro3","euro3d4","euro4","euro5"],"example":"euro4"},"EquipmentTypeRestriction":{"description":"The type of equipment that is restricted.\n\nPossible equipments are:\n| Equipment Type |\n|---------------|\n| `withCaravan` |\n| `withTrailer` |\n| `withoutSnowChains` |\n| `withoutWinterTyres` |\n","type":"string","enum":["withCaravan","withTrailer","withoutSnowChains","withoutWinterTyres"],"example":"withTrailer"},"ErrorResponse":{"description":"Response in case of error","type":"object","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Machine readable service error code.\n\nAll error codes of this service start with \"`E608`\". The last three digits describe a\nspecific error. Provide this error code when contacting support.\n\n**NOTE:** Please note that the list of possible error codes could be extended in the\nfuture. The client application is expected to handle such a case gracefully.\n\n| Code      | Reason  |\n| --------- | ------- |\n| `E608001` | Malformed query. Invalid traffic event type. Check the error message for details. |\n| `E608002` | Malformed query. Parameter `in` is missing. Check the error message for details. |\n| `E608003` | Malformed query. Parameter `in` is invalid. Check the error message for details. |\n| `E608004` | Malformed query. Invalid `in` type. Check the error message for details. |\n| `E608005` | Malformed query. Invalid BBox parameter. Check the error message for details. |\n| `E608006` | Malformed query. Invalid BBox size. Check the error message for details. |\n| `E608007` | Malformed query. Invalid latitude parameter. Check the error message for details. |\n| `E608008` | Malformed query. Latitude value is too small. Check the error message for details. |\n| `E608009` | Malformed query. Latitude value is too big. Check the error message for details. |\n| `E608010` | Malformed query. Invalid longitude parameter. Check the error message for details. |\n| `E608011` | Malformed query. Longitude value is too small. Check the error message for details. |\n| `E608012` | Malformed query. Longitude value is too big. Check the error message for details. |\n| `E608013` | Malformed query. Invalid circle parameter. Check the error message for details. |\n| `E608014` | Malformed query. Invalid circle center. Check the error message for details. |\n| `E608015` | Malformed query. Invalid circle/corridor radius. Check the error message for details. |\n| `E608016` | Malformed query. Circle/Corridor radius is too small. Check the error message for details. |\n| `E608017` | Malformed query. Circle/Corridor radius is too big. Check the error message for details. |\n| `E608018` | Malformed query. Invalid Frc. Check the error message for details. |\n| `E608019` | Malformed query. Invalid polyline. Check the error message for details. |\n| `E608022` | Internal error. Failed to fetch traffic information. Check the error message for details. |\n| `E608023` | Internal error. Failed to fetch traffic information. Check the error message for details. |\n| `E608038` | Malformed query. Incident item not found or removed from system. Check the error message for details. |\n| `E608039` | Item not found. Incident id failed validation. Check the error message for details. |\n| `E608040` | Malformed query. Invalid criticality value. Check the error message for details. |\n| `E608041` | Malformed query. Invalid incident type value. Check the error message for details. |\n| `E608042` | Malformed query. Invalid corridor parameter. Check the error message for details. |\n| `E608043` | Malformed query. Invalid incident earliestStartTime or latestEndTime. Check the error message for details. |\n| `E608044` | Malformed query. Incident latestEndTime should be bigger than or equal to earliestStartTime. Check the error message for details. |\n| `E608045` | Malformed query. Request query is too long. Check the error message for details. |\n| `E608046` | Malformed query. Invalid location referencing value. Check the error message for details. |\n| `E608047` | Malformed query. Invalid language value. Check the error message for details. |\n| `E608049` | Malformed query. Invalid flow minJamFactor or maxJamFactor values. Check the error message for details. |\n| `E608050` | Malformed query. Invalid min/maxJamFactor value. maxJamFactor cannot be less than minJamFactor. |\n| `E608051` | Malformed query. Parameter `locationReferencing` is missing. Check the error message for details. |\n| `E608052` | Malformed query. Other location referencing values cannot be provided together with 'none'. |\n| `E608053` | Item not found. Traffic incident found but does not support requested location referencing. Check the error message for details. |\n| `E608054` | Malformed query. Invalid advanced feature value. Check the error message for details. |\n| `E608055` | Malformed query. Corridor length is too long. Check the error message for details. |\n| `E608056` | Malformed query. Corridor length is too short. Check the error message for details. |\n| `E608057` | Malformed query. Bounding box coordinates do not follow south-west, north-east order. Check the error message for details. |\n| `E608060` | Malformed query. Unsupported units value. |\n| `E608666` | Internal error. Check the error message for details. |\n","example":"E608001"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that univocally identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"FlowItem":{"description":"Information about traffic flow for a specific location.","type":"object","properties":{"location":{"$ref":"#/components/schemas/Location"},"currentFlow":{"allOf":[{"$ref":"#/components/schemas/CurrentFlow"}]}},"required":["location","currentFlow"]},"FlowResponse":{"description":"Returns flow items within the specified area.","type":"object","properties":{"sourceUpdated":{"description":"Last update time of traffic data source. Format is **RFC 3339**, section 5.6 as defined by `date-time`. Will always be UTC time.","allOf":[{"$ref":"#/components/schemas/Time"}]},"results":{"description":"List of flow items.","type":"array","items":{"$ref":"#/components/schemas/FlowItem"}},"refReplacements":{"$ref":"#/components/schemas/RefReplacements"}},"required":["results"]},"FreeFlow":{"description":"The free flow speed speed (in meters per second) is a reference speed provided to\nindicate the speed on the segment at which vehicles should be considered to be able to\ntravel without impediment.\n","type":"number","minimum":0,"example":50},"FuelTypeRestriction":{"description":"The type of fuel that is restricted.\n\nPossible fuel types are:\n| Fuel Type | Description            |\n|-----------|------------------------|\n| `diesel`  | Only vehicles with diesel fuel |\n| `lpg`  | Only vehicles with lpg fuel |\n| `petrol`   | Only vehicles with petrol fuel  |\n","type":"string","enum":["petrol","diesel","lpg"],"example":"diesel"},"HealthResponseFail":{"description":"Returns the health of the service","type":"object","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}},"required":["status"]},"HealthResponseOK":{"description":"Returns the health of the service","type":"object","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok"]}}},"IncidentCriticality":{"description":"The severity of the incident that has occured, with the following possible values: low (least severe), minor, major, and critical (most severe).\n","type":"string","enum":["critical","major","minor","low"],"example":"major"},"IncidentDetails":{"description":"Specific details of the incident.","type":"object","properties":{"id":{"description":"Unique identifier for traffic incident.","type":"string","example":"3848418285967206032"},"hrn":{"description":"Unique identifier for traffic incident in HRN notation.\n","type":"string","example":"here:traffic:incident:3848418285967206032"},"originalId":{"description":"Identifier of the first traffic incident in a chain of updates. Once an incident chain\nhas been created, this value will never change.\n","type":"string","example":"2349753562597427858"},"originalHrn":{"description":"Identifier of the first traffic incident in a chain of updates in HRN notation.\n","type":"string","example":"here:traffic:incident:2349753562597427858"},"parentId":{"description":"Identifier of another incident to which this incident is linked. For example, if the\nitem is a congestion item caused by an accident, this id will refer to the accident.\n","type":"string","example":"4273574943639816284"},"startTime":{"description":"Start time of the incident. Format is **RFC 3339**, section 5.6 as defined by\n`date-time`. Will always be UTC time.\n","allOf":[{"$ref":"#/components/schemas/Time"}],"example":"2019-10-12T07:20:00.00Z"},"endTime":{"description":"End time of the incident. Format is **RFC 3339**, section 5.6 as defined by `date-time`.\nWill always be UTC time.\n","allOf":[{"$ref":"#/components/schemas/Time"}],"example":"2019-10-13T14:20:00.00Z"},"entryTime":{"description":"The time the incident was entered into the system. Format is **RFC 3339**, section 5.6\nas defined by `date-time`. Will always be UTC time.\n","allOf":[{"$ref":"#/components/schemas/Time"}],"example":"2019-10-09T11:38:13.76Z"},"roadClosed":{"description":"A flag to indicate whether this incident is a road closure.","type":"boolean","example":true},"criticality":{"allOf":[{"$ref":"#/components/schemas/IncidentCriticality"}]},"type":{"allOf":[{"$ref":"#/components/schemas/IncidentType"}]},"typeDescription":{"description":"A short description of the incident type.","allOf":[{"$ref":"#/components/schemas/LocalizedString"}],"example":{"value":"Road construction","language":"en-US"}},"codes":{"description":"A prioritised list of codes which describe the cause of the\nincident according to the AlertC specification.\n\nThe codes are given in order of importance, so the first item in\nthe list is considered the primary cause of the incident.\n\nThe full list of codes in the AlertC specification ISO 14819-2:2013\ncan be obtained from https://www.iso.org/standard/59231.html.\n","type":"array","example":[401,802],"items":{"type":"integer"}},"description":{"description":"A full natural language description of the incident.","allOf":[{"$ref":"#/components/schemas/LocalizedString"}],"example":{"value":"Closed between S Halsted St and S Clinton St - Closed due to roadwork.","language":"en-US"}},"summary":{"description":"A short natural language description of the incident.","allOf":[{"$ref":"#/components/schemas/LocalizedString"}],"example":{"value":"Closed due to roadwork.","language":"en-US"}},"descriptionParts":{"allOf":[{"$ref":"#/components/schemas/LocationDescriptionParts"}],"example":{"atOffTmc":{"summary":"Proximity type `at`","value":{"proximityType":"at","roadName":"20th St","intersectingRoadName":"Joy Ranch Rd"}}}},"comment":{"description":"General comment about the traffic item. The comment comes directly from the traffic incident\nsupplier and are freeform in nature.\n\nDue to this freeform nature, the comment will not be localized when the `lang` parameter is provided in the request. \n\nThe text in the comment is generally provided in the local language of the region where the incident occurs.\n","type":"string"},"vehicleRestrictions":{"description":"A list of restrictions that apply to the vehicles passing through this area.","type":"array","items":{"$ref":"#/components/schemas/VehicleRestriction"}},"junctionTraversability":{"$ref":"#/components/schemas/JunctionTraversability"}},"required":["id","originalId","roadClosed"]},"IncidentItem":{"description":"Information about a traffic incident.","type":"object","properties":{"location":{"$ref":"#/components/schemas/Location"},"incidentDetails":{"$ref":"#/components/schemas/IncidentDetails"}}},"IncidentType":{"description":"An open list of possible incident types. The incident `type` gives a high level\nrepresentation of the more detailed `code` field which gives a numerical value mapped to\nthe AlertC event codes.\n\n| Type              | Description |\n|-------------------|-------------|\n| `accident`        | Indicates that there has been a collision |\n| `construction`    | Indicates that building or roadworks are taking place |\n| `congestion`      | Indicates that there has been a build up of vehicles |\n| `disabledVehicle` | Indicates that a vehicle is unable to move and is obstructing the road |\n| `massTransit`     | Indicates that an event is present related to public transit |\n| `plannedEvent`    | Indicates that an organised event is taking place causing disruption |\n| `roadHazard`      | Indicates that there are dangerous objects on the surface of the road |\n| `roadClosure`     | Indicates that the road has been closed, e.g. police presence |\n| `weather`         | Indicates that weather conditions are causing disruptions |\n| `laneRestriction` | Indicates that some of the lanes have access restrictions |\n| `other`           | Indicates that an incident not explainable with the types above has occurred |\n\nNote: Since new types are expected to appear, it is important to check for unknown types\nwhen parsing this value.\n","type":"string","x-extensible-enum":["accident","congestion","construction","disabledVehicle","massTransit","plannedEvent","roadHazard","roadClosure","weather","laneRestriction","other"],"example":"construction"},"IncidentsResponse":{"description":"Returns incident items within the specified area.","type":"object","properties":{"sourceUpdated":{"description":"Last update time of traffic data source. Format is **RFC 3339**, section 5.6 as defined by `date-time`. Will always be UTC time.","allOf":[{"$ref":"#/components/schemas/Time"}]},"results":{"description":"List of incident items.","type":"array","items":{"$ref":"#/components/schemas/IncidentItem"}},"refReplacements":{"$ref":"#/components/schemas/RefReplacements"}},"required":["results"]},"IncidentItemResponse":{"description":"Returns the requested incident item.","type":"object","allOf":[{"$ref":"#/components/schemas/IncidentItem"},{"type":"object","properties":{"refReplacements":{"$ref":"#/components/schemas/RefReplacements"}}}]},"JamFactor":{"description":"The number between 0.0 and 10.0 indicating the expected quality of travel. When there\nis a road closure, the `jamFactor` will be 10.0. As the value approaches 10.0 the\nquality of travel is getting worse.\n","type":"number","minimum":0,"maximum":10},"JamTendency":{"description":"A representation of whether the congestion is increasing, decreasing, or constant. The\njam tendency may take the following values.\n\n| Jam Tendency        | Description                    |\n|---------------------|--------------------------------|\n| +2                  | Rapidly increasing congestion. |\n| +1                  | Increasing congestion.         |\n|  0                  | Constant congestion.           |\n| -1                  | Decreasing congestion.         |\n| -2                  | Rapidly decreasing congestion. |\n\nDefault value of 0 can be assumed when this attribute is not present.\n","type":"integer","x-extensible-enum":[-2,-1,0,1,2],"default":0,"example":2},"JunctionTraversability":{"description":"Indicates junction traversability. Used for road closures to indicate if the closure can\nbe crossed.\n\n| Junction Traversability | Description |\n|-------------------------|-------------|\n| `allOpen`             | All junctions are open. |\n| `allClosed`               | All junctions are closed. |\n| `intermediateClosedEdgeOpen` | Junctions at beginning and end of roadway are open, intermediate junctions are closed. |\n| `startOpenOthersClosed`             | First edge junction open, all others closed. |\n| `endOpenOthersClosed`             | Last edge junction open; all others closed. |\n\nThe default value is `intermediateClosedEdgeOpen`.\n","type":"string","enum":["allOpen","intermediateClosedEdgeOpen","allClosed"],"default":"intermediateClosedEdgeOpen","example":"allClosed"},"Lane":{"description":"Information about Lane Level Traffic.\n","type":"object","properties":{"laneNumbers":{"description":"Identifier of the lane. Lane numbers use the HERE Map method of lane numbering where the left lane is 1 and each lane to the right of the left lane is numbered sequentially. For example, in a three-lane road, the left lane is 1, the center lane is 2, and the right lane is 3. Lane 1 is always the left lane, regardless of the driving side. If multiple lane numbers are presented, all lanes will have the traffic condition. Lane numbers will always be sequential.","type":"array","items":{"type":"integer"},"example":"[1,2]"},"laneType":{"$ref":"#/components/schemas/LaneType"},"speedUncapped":{"$ref":"#/components/schemas/SpeedUncapped"},"jamFactor":{"$ref":"#/components/schemas/JamFactor"}},"required":["laneNumbers"]},"LaneType":{"description":"Identifies type of the lane, with the following possible values.\n|    Type    | Description |\n|------------|-------------|\n| 'hov'      | Indicates a high-occupancy vehicle lane |\n","type":"string","enum":["hov"],"example":"hov"},"Lanes":{"description":"Provided only if there are different lane speeds along a roadway.\n\nThe `Lane` message contains information about the speed of traffic in individual lanes in a roadway.\nThe number of lanes along a roadway can be determined by looking at the maximum lane number in all `Lane` messages in the\nsegment.\n","type":"array","items":{"$ref":"#/components/schemas/Lane"}},"Length":{"description":"Distance in meters between the beginning and end of a roadway or sub-segment.","type":"number","format":"double","minimum":0},"LocalizedString":{"description":"String with language code.","type":"object","properties":{"value":{"description":"String written in the language specified in the language property.","type":"string"},"language":{"description":"Language in BCP47 format","type":"string"}},"required":["value","language"],"example":{"value":"Invalidenstraße","language":"de"}},"Location":{"description":"Defines the location affected by traffic flow or incident.\n\nThere are a number of location reference schemes which may be used depending on the\n`locationReferencing` parameter provided in the request and the type of the roadway.\n","type":"object","properties":{"description":{"description":"A description of the location.","type":"string","example":"Eppendorfer Stieg"},"length":{"description":"Total length (in meters) of the roadway represented by this location.","allOf":[{"$ref":"#/components/schemas/Length"}],"example":47.2},"olr":{"$ref":"#/components/schemas/LocationOpenLR"},"tmc":{"$ref":"#/components/schemas/LocationTMC"},"shape":{"$ref":"#/components/schemas/LocationShape"},"segmentRef":{"$ref":"#/components/schemas/LocationSegmentRef"}},"required":["length"]},"LocationDescriptionParts":{"description":"Parts that make up the location description.","type":"object","properties":{"proximityType":{"type":"string","enum":["on","at","between","approaching","past","ramp"],"description":"Specifies the type of location proximity.\n| Type          | Description |\n|---------------|-------------|\n| `on`          | Only information about the road on which the incident occurs on is available |\n| `at`          | In addition to the `roadName` field, `intersectingRoadName` will provide a reference point close to the incident |\n| `between`     | The incident occurs between `intersectingRoadName` and `endIntersectingRoadName` |\n| `approaching` | The incident occurs before `intersectingRoadName` |\n| `past`        | The incident occurs after `intersectingRoadName` |\n| `ramp`        | The incident occurs on a ramp |\n"},"roadName":{"type":"string","description":"The name of the roadway that the incident occurs on."},"intersectingRoadName":{"type":"string","description":"The name of an intersecting roadway that serves as a reference."},"endIntersectingRoadName":{"type":"string","description":"The name of a second intersecting roadway that serves as a reference. If this value is\npresent, the reference will be to the end of the section affected by the incident and\n`intersectingRoadName` will be at the beginning of the affected section.\n"},"endRoadName":{"type":"string","description":"In case the roadway affected by the incident changes names from the beginning to the\nend of the affected section, this will be the name at the end and `roadName` will be\nthe name at the beginning.\n"},"direction":{"type":"string","description":"The direction of the travel affected by the incident."}},"required":["proximityType","roadName"]},"LocationOpenLR":{"description":"TPEG OpenLR encoded as Base 64 strings.\nTPEG OpenLR location referencing is a TISA standard. Please visit https://tisa.org/ for more details. TISA Specifications are also published by\nISO https://www.iso.org/\nSpecifications: ISO/TS 21219-22:2017\n","type":"string","example":"CCkBEAAlJAg5ACJIJAAJBQQCAnsACgUEApJ2AAEh94kACQUEAgL7ADA+AA=="},"LocationShape":{"description":"Defines a location by a series of geo-coordinate describing the shape of the roadway, made up by links of the map.\nIt may be that the returned links are not consecutive, because a location may be from a split TMC (a fork) or may have non-traversable links in the middle.\nSo please be aware that the links returned for shape point location references are not guaranteed to be consecutive:\nThere can be cases where the last shape point of a link is not identical to the first shape point of the next link.\n","type":"object","properties":{"links":{"type":"array","items":{"$ref":"#/components/schemas/LocationShapeLink"}}},"required":["links"]},"LocationShapeLink":{"description":"Points describing a single link. At least 2 points will be present in each link.\nThe points of a link are consecutive, forming the polyline for that link.\n","type":"object","properties":{"points":{"type":"array","items":{"description":"Single point","type":"object","properties":{"lat":{"description":"Latitude of the point.","type":"number","example":52.55126},"lng":{"description":"Longitude of the point","type":"number","example":13.37715}},"required":["lat","lng"]}},"length":{"description":"Length (in meters) of shape link. The sum of all links will add up to the length of the\nparent `Location` object.\n","allOf":[{"$ref":"#/components/schemas/Length"}],"example":104.32},"functionalClass":{"description":"The functional class classifies roads depending on speed, importance, and connectivity.\n","type":"number","minimum":1,"maximum":5,"example":3}},"required":["points","length","functionalClass"]},"LocationTMC":{"description":"Location reference in TMC format. This type of location reference can only be provided on\nroadways that are part of the TMC definition.\n\nTMC Location referencing specification can be obtained from https://www.iso.org/\nSpecifications: ISO 14819-3:2013\n","type":"object","properties":{"extendedCountryCode":{"description":"The Extended Country Code may be used together with the EBU Country Code to uniquely\nidentify a country worldwide.\n","type":"string","example":"E0"},"ebuCountryCode":{"description":"TMC Country Code. Worldwide there may be conflicts in the EBU Country Code, however the\ncombination of the `extendedCountryCode` and `ebuCountryCode` is unique.\n","type":"string","example":"D"},"tableId":{"description":"Regional TMC table identifier. For example, Philadelphia/Eastern PA is 3 and the only\ntable in Germany is 1.\n","type":"integer"},"locationId":{"description":"Unique location identifier within a table.","type":"integer","example":10288},"queuingDirection":{"description":"This represents the TMC queuing direction of traffic. When traffic becomes congested, a queue of vehicles begins to build up in the opposite direction to the driving direction. The value can be \"+\" or \"-\". The value \"+\" indicates that the queuing-direction is same as the link-direction while the value \"-\" indicates that the queuing-direction is opposite to the link-direction.\n\nPlease visit https://www.here.com/docs/bundle/traffic-api-developer-guide-v7 for more details.\n","type":"string","enum":["-","+"],"example":"+"},"extent":{"description":"The extent indicates the number of adjacent TMC locations that are also affected by the event.\nWhen the event affects only one TMC location that is specified by the `locationId`, the extent is zero.\n\nLocations are counted in the driving direction.\n","type":"integer","default":1,"minimum":0,"example":3},"primaryOffset":{"description":"Distance in meters from the end of the Primary TMC, where the end point of the TMC is\nthe last link associated with the TMC in the driving direction.\n","allOf":[{"$ref":"#/components/schemas/Length"}],"default":0,"example":23.2},"affectedLength":{"description":"Length in meters of the affected location. This field will only be populated if the\nentire TMC is **not** covered.\n","allOf":[{"$ref":"#/components/schemas/Length"}],"default":0,"example":107.2}},"required":["extendedCountryCode","ebuCountryCode","tableId","locationId","queuingDirection"]},"LocationSegmentRef":{"description":"Defines a location by a series of reference to the HMC topology segment.\n","type":"object","properties":{"segments":{"type":"array","items":{"$ref":"#/components/schemas/SegmentRef"}}},"required":["segments"]},"OccupancyRestriction":{"description":"A restriction on the number of persons in the vehicle that can pass through an area.","type":"object","properties":{"lessThan":{"type":"number","example":10},"greaterThan":{"type":"number","example":10}},"minProperties":1,"maxProperties":1},"PlateNumberRestriction":{"description":"The type of plate that is restricted.\n\nPossible plate types are:\n| Plate Type |\n|---------------|\n| `evenNumberPlate` |\n| `oddNumberPlate` |\n","type":"string","enum":["evenNumberPlate","oddNumberPlate"],"example":"evenNumberPlate"},"RefReplacements":{"description":"Dictionary of placeholders to replacement strings for the compact representation of HMC topology segment references.\n","type":"object","additionalProperties":{"type":"string"}},"SegmentRef":{"description":"A reference to the HMC topology segment.\n\nThe standard representation of a segment reference has the following structure:\n{\n  \"ref\": \"{catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{segmentId}(#{direction}({startOffset}..{endOffset})?)?\",\n  \"length\": {length}\n}\n\nResponse structure also contains `length` field that is a representation of the topology segment length from start offset to end offset.\n\nThe individual parts are:\n* catalogHrn: The HERE Resource Name that identifies the source catalog of the segment, example: hrn:here:data::olp-here:rib-2\n* catalogVersion: The catalog version\n* layerId (optional): The layer inside the catalog where the segment can be found, example: topology-geometry\n* tileId: The HERE tile key of the partition/tile where the segment is located in the given version of the catalog. This can be on a lower level than the actual segment is stored at (for example, the provided tile ID can be on level 14, despite topology-geometry partitions being tiled at level 12). The level of a HERE tile key is indicated by the position of the highest set bit in binary representation. Since the HERE tile key represents a morton code of the x and y portion of the Tile ID, the level 12 tile ID can be retrieved from the level 14 tile ID by removing the 4 least significant bits (or 2 bits per level) or 1 hexadecimal digit. For example, the level 14 tile 377894441 is included in the level 12 tile 23618402 (377894441<sub>10</sub> = 16863629<sub>16</sub> &rightarrow; 1686362<sub>16</sub> = 23618402<sub>10</sub>)\n* segmentId: The identifier of the referenced topology segment inside the catalog, example: here:cm:segment:84905195\n* direction (optional): Either '*' for undirected or bidirectional, '+' for positive direction, '-' for negative direction, or '?' for unknown direction (not used by the routing service)\n* startOffset/endOffset (optional): The start- and end offset are non-negative numbers between 0 and 1, representing the start and end of the referenced range using a proportion of the length of the segment. 0 represents the start and 1 the end of the segment, relative to the indicated direction (or positive direction in case of undirected segments). Example: 0.7..1\n\nExample of a segment reference in standard representation:\nhrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1\n\nThe segment references can also be provided in a compact representation, to reduce the response size. In the compact representation, some parts are replaced by placeholders, which can be resolved using the refReplacements dictionary in the parent section.\nThe placeholder format is ```\\$\\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\\$\\d+(:|$)/``` .\n\nExample of the segment reference previously mentioned in compact representation:\n$0:377894441:$1:84905195#+0.7..1\nWith the corresponding refReplacements:\n\"refReplacements\": {\n  \"0\": \"hrn:here:data::olp-here:rib-2:1363:\",\n  \"1\": \"here:cm:segment\"\n}\n","type":"object","properties":{"ref":{"type":"string","description":"Topology segment reference","example":"hrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1"},"length":{"type":"integer","description":"Topology segment length from start offset to end offset","example":67}}},"SegmentRefRequest":{"description":"A reference to the HMC topology segment.\nThe segment references can also be provided in a compact representation if `refReplacements` is also specified.\nPlease refer to the [Developer Documentation](https://www.here.com/docs/bundle/traffic-api-developer-guide-v7/page/topics/concepts/location-referencing.html#topology-segments) for full description of components.\n","type":"object","properties":{"ref":{"type":"string","description":"Topology segment reference","example":"hrn:here:data::olp-here:rib-2:1363::377894441:here:cm:segment:84905195#+0.7..1"}}},"SizeRestriction":{"description":"A restriction on the size of a vehicle in centimeters that can pass through an area.","type":"object","properties":{"dimension":{"description":"The dimension that is restricted.\n\nPossible dimeniosn are:\n| Dimension | Description            |\n|-----------|------------------------|\n| `height`  | Vehicle height |\n| `length`  | Vehicle length |\n| `width`   | Vehicle width  |\n","type":"string","enum":["height","length","width"],"example":"height"},"lessThan":{"type":"number","example":10},"greaterThan":{"type":"number","example":10}},"minProperties":2,"maxProperties":2,"required":["dimension"]},"SpeedCapped":{"description":"The average speed (in meters per second), capped by the speed limit, that current\ntraffic is travelling.\n","type":"number","minimum":0,"example":60},"SpeedUncapped":{"description":"The average speed (in meters per second), not capped by the speed limit, that current\ntraffic is travelling.\n","type":"number","minimum":0,"example":80},"SubSegment":{"description":"Flow information for a sub-segment of a defined roadway.\n","type":"object","properties":{"length":{"$ref":"#/components/schemas/Length"},"speed":{"$ref":"#/components/schemas/SpeedCapped"},"speedUncapped":{"$ref":"#/components/schemas/SpeedUncapped"},"freeFlow":{"$ref":"#/components/schemas/FreeFlow"},"jamFactor":{"$ref":"#/components/schemas/JamFactor"},"jamTendency":{"$ref":"#/components/schemas/JamTendency"},"confidence":{"$ref":"#/components/schemas/Confidence"},"traversability":{"$ref":"#/components/schemas/Traversability"},"junctionTraversability":{"$ref":"#/components/schemas/JunctionTraversability"},"lanes":{"$ref":"#/components/schemas/Lanes"}},"required":["length","freeFlow","jamFactor"]},"SubSegments":{"description":"Provided only if the current flow information is more precise than the road defined.\n\nIf sub-segments are provided, the length of all sub-segments will add up to the length of\nthe corresponding location.\n","type":"array","items":{"$ref":"#/components/schemas/SubSegment"}},"Time":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by either `date-time` or `date-only` 'T' `partial-time` (ie no time-offset).","format":"date-time"},"TrafficTypeRestriction":{"description":"The type of traffic that is restricted.\n\nPossible traffic types are:\n| Traffic Type |\n|---------------|\n| `residentsTraffic` |\n| `throughTraffic` |\n| `noThrough` |\n","type":"string","enum":["throughTraffic","residentsTraffic","noThrough"],"example":"residentsTraffic"},"Traversability":{"description":"Indicates whether this roadway can be driven. The possible values are given in the following\ntable.\n\n| Traversability          | Description |\n|-------------------------|-------------|\n| `open`                  | Roadway is open and can be driven. |\n| `closed`                | Roadway is closed (blocked) and cannot be driven. |\n| `reversibleNotRoutable` | The roadway is reversible but it is currently not routable. See below for further information. |\n\nThis traversability status is the best source of information when routing through reversible\nlanes. This data will be more accurate than any other source, including the base map data,\nas published reversible information can be changed based on daily traffic flow or special\nevents.\n\nThe application can deal with reversible not routable in any way, but it is recommended\nthat it is used to indicate not routable and to not show traffic on this roadway in map\ndisplay.\n\nFor reversible roads, both directions will be not routable for portions of the day when the\nroad direction is being switched.  There is a possibility that portions of a reversible\nroad will be marked a `closed` rather than `reversibleNotRoutable`; when this happens, both\ndirections of the reversible will be closed, which can happen for construction or major\naccidents.\n\nThe default value is `open`.\n","type":"string","enum":["open","closed","reversibleNotRoutable"],"default":"open","example":"open"},"VehicleRestriction":{"description":"A single vechile restriction with vehicle and restriction types. Vehicles matching both the vehicle type and the restriction rules are NOT allowed to pass through the area. e.g. a \"weight restriction\" of \"greaterThan\" 2000 Kg means that vehicles weighing more than 2000 Kg cannot pass.","type":"object","properties":{"vehicleType":{"$ref":"#/components/schemas/VehicleType"},"restriction":{"type":"object","properties":{"size":{"$ref":"#/components/schemas/SizeRestriction"},"weight":{"$ref":"#/components/schemas/WeightRestriction"},"carOccupancy":{"$ref":"#/components/schemas/OccupancyRestriction"},"emissionType":{"$ref":"#/components/schemas/EmissionRestriction"},"equipmentType":{"$ref":"#/components/schemas/EquipmentTypeRestriction"},"fuelType":{"$ref":"#/components/schemas/FuelTypeRestriction"},"trafficType":{"$ref":"#/components/schemas/TrafficTypeRestriction"},"plateType":{"$ref":"#/components/schemas/PlateNumberRestriction"}},"minProperties":1,"maxProperties":1,"example":{"size":{"dimension":"height","lessThan":200}}}}},"VehicleType":{"description":"Type of the vehicle an incident restriction applies to.\n\n| Type              |\n|-------------------|\n| 'bus' |\n| 'car' |\n| 'heavyGoodsVehicle' |\n| 'lorry' |\n| 'motorcycle' |\n| 'motorVehicle' |\n| 'taxi' |\n| 'train' |\n| 'transportingAnAbnormalSizeLoad' |\n| 'transportingHazardousGoods' |\n| 'vehicleWithTrailer' |\n| 'other' |\n","type":"string","enum":["bus","car","heavyGoodsVehicle","lorry","motorcycle","motorVehicle","taxi","train","transportingAnAbnormalSizeLoad","transportingHazardousGoods","vehicleWithTrailer","other"],"example":"motorVehicle"},"VersionResponse":{"description":"Returns the versions of the service components.","type":"object","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","example":"7.2.0"},"serviceVersion":{"type":"string","description":"The current version of the service.","example":"7.2.0"}},"required":["apiVersion"]},"OpenApiResponse":{"description":"API response for the openapi endpoint","type":"object","additionalProperties":true},"WeightRestriction":{"description":"A restriction on the weight of a vehicle in kilograms that can pass through an area.","type":"object","properties":{"weightType":{"description":"The type of weight that is restricted.\n\nPossible weight types are:\n| Weight Type | Description            |\n|-----------|------------------------|\n| `weightPerAxle`  | Weight per axle |\n| `grossWeight`  | Vehicle weight including trailers and shipped good |\n","type":"string","enum":["grossWeight","weightPerAxle"],"example":"grossWeight"},"lessThan":{"type":"number","example":2000},"greaterThan":{"type":"number","example":2000}},"minProperties":2,"maxProperties":2,"required":["weightType"]},"RequestBodyIn":{"type":"object","description":"Return flow items within a geographical area.\nArea within which to return flow.\n\nA geographic area can be one of the following:\n\n * A circular area, provided as latitude, longitude, and radius (in meters)\n\n   Format:\n    ```\n      \"in\": {\n        \"type\": \"circle\",\n        \"center\": {\"lat\": {latitude}, \"lng\": {longitude}},\n        \"radius\": {radius}\n      }\n    ```\n\n   Example:\n    ```\n      \"in\": {\n        \"type\": \"circle\",\n        \"center\": {\"lat\": 13.1, \"lng\": -43.1},\n        \"radius\": 10000\n      }\n    ```\n\n * A bounding box, provided as _west longitude_, _south latitude_, _east longitude_, _north latitude_\n   Format:\n    ```\n      \"in\": {\n        \"type\": \"boundingBox\",\n        \"west\": {west longitude},\n        \"south\": {south latitude},\n        \"east\": {east longitude},\n        \"north\": {north latitude}\n      }\n    ```\n\n   Example:\n    ```\n      \"in\": {\n        \"type\": \"boundingBox\",\n        \"west\": 13.08836,\n        \"south\": 52.33812,\n        \"east\": 13.761,\n        \"north\": 52.6755\n      }\n    ```\n\n * A corridor, provided as a polyline in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline) encoding and a\n   radius/width (in meters). The radius is measured perpendicular to each segment of the\n   polyline on both sides, so a radius of 50 meters will cover an area 50 meters on either\n   side of the polyline and be 100 meters wide from one side to the other.\n\n   Format:\n    ```\n      \"in\": {\n        \"type\": \"corridor\",\n        \"corridor\": {polyline},\n        \"radius\": {radius}\n      }\n    ```\n\n   Example:\n    ```\n      \"in\": {\n        \"type\": \"corridor\",\n        \"corridor\": \"BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e\",\n        \"radius\": 50\n      }\n    ```\n * SegmentRef, provided as series of topology segment references and optional refReplacements\n\n   Format:\n    ```\n      \"in\": {\n        \"type\": \"segmentRef\",\n        \"refReplacements\": {string},\n        \"segments\": [string]\n      }\n    ```\n\n   Example with refReplacements:\n    ```\n      \"in\": {\n        \"type\": \"segmentRef\",\n        \"refReplacements\": {\n          \"0\": \"hrn:here:data::olp-here:rib-2:3217:\",\n          \"1\": \"here:cm:segment\"\n        },\n        \"segments\": [\n          {\"ref\":\"$0:377894451:$1:192255763#+0..1\"},\n          {\"ref\":\"$0:377894451:$1:192255763#+0..1\"},\n        ]\n      }\n    ```\n   Example without refReplacements:\n    ```\n      \"in\": {\n        \"type\": \"segmentRef\",\n        \"segments\": [\n          {\"ref\":\"hrn:here:data::olp-here:rib-2:3217::377894451:here:cm:segment:192255763#+0..1\"},\n          {\"ref\":\"hrn:here:data::olp-here:rib-2:3217::377894451:here:cm:segment:192255763#+0..1\"},\n        ]\n      }\n    ```\n","oneOf":[{"$ref":"#/components/schemas/BoundingBox"},{"$ref":"#/components/schemas/Circle"},{"$ref":"#/components/schemas/Corridor"},{"$ref":"#/components/schemas/SegmentRefFilter"}],"discriminator":{"propertyName":"type","mapping":{"boundingBox":"#/components/schemas/BoundingBox","circle":"#/components/schemas/Circle","corridor":"#/components/schemas/Corridor","segmentRef":"#/components/schemas/SegmentRefFilter"}}},"Coordinates":{"type":"object","description":"Coordinates lat and lon","properties":{"lat":{"type":"number","minimum":-90,"maximum":90},"lng":{"type":"number","minimum":-180,"maximum":180}}},"Circle":{"description":"A circular area, provided as latitude, longitude, and radius (in meters).","type":"object","required":["type","center","radius"],"properties":{"type":{"type":"string"},"center":{"$ref":"#/components/schemas/Coordinates"},"radius":{"type":"integer"}}},"BoundingBox":{"description":"A bounding box defined by two longitudes and two latitudes.","type":"object","required":["type","north","south","west","east"],"properties":{"type":{"type":"string"},"north":{"description":"Latitude in WGS-84 degrees of the northern boundary of the box","type":"number","minimum":-90,"maximum":90},"south":{"description":"Latitude in WGS-84 degrees of the southern boundary of the box","type":"number","minimum":-90,"maximum":90},"west":{"description":"Longitude in WGS-84 degrees of the western boundary of the box","type":"number","minimum":-180,"maximum":180},"east":{"description":"Longitude in WGS-84 degrees of the eastern boundary of the box","type":"number","minimum":-180,"maximum":180}}},"Corridor":{"description":"A corridor defined as a polyline.","type":"object","required":["type","corridor","radius"],"properties":{"type":{"type":"string"},"corridor":{"type":"string","description":"Corridor string value"},"radius":{"type":"integer"}}},"SegmentRefFilter":{"description":"Topology Segment references, it defines a location by a series of reference to the HMC Topology Segment. The maximum number of supported segment references is 100.","type":"object","required":["type","segments"],"properties":{"type":{"type":"string"},"refReplacements":{"$ref":"#/components/schemas/RefReplacements"},"segments":{"type":"array","items":{"$ref":"#/components/schemas/SegmentRefRequest"}}}}},"responses":{"ErrorResponseInternalServerError":{"description":"API response in case of internal server error.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleInternalServerError"}}}}},"ErrorResponseBadGateway":{"description":"API response in case of bad gateway.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleBadGateway"}}}}},"ErrorResponseServiceUnavailable":{"description":"API response in case of service unavailable.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleServiceUnavailable"}}}}},"ErrorResponseGatewayTimeout":{"description":"API response in case of gateway timeout.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleGatewayTimeout"}}}}},"RequestUriTooLong":{"description":"API response in case of too long uri.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleUriTooLong"}}}}},"FlowResponseOk":{"description":"Flow response in case of success","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/FlowResponse"}}}},"FlowResponseInvalidRequest":{"description":"Failure to parse the request, caused by, for example, invalid parameter values such as\n`in=planet:mars`.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorFlowResponseExampleInvalidRequest"}}}}},"FlowResponseNotAllowed":{"description":"Not allowed, such as trying to request fields without having the necessary permissions.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Forbidden","error_description":"These credentials do not authorize access. Please contact your customer representative or submit a request here https://developer.here.com/contact-us to upgrade your account. You can also get valid credentials by registering for a free trial license on https://developer.here.com.\n"}}}},"FlowResponseAuthenticationFailed":{"description":"Authentication Failed\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Unauthorized","error_description":"Token Validation Failure - invalid time in token"}}}},"FlowResponseInternalServerError":{"description":"Internal server error.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorFlowResponseExampleInternalServerError"}}}}},"HealthResponseFail":{"description":"API response in case of failure.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFail"}}}},"HealthResponseOk":{"description":"API response in case of success.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOK"}}}},"IncidentsResponseOk":{"description":"Incidents response in case of success","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentsResponse"}}}},"IncidentItemResponseOk":{"description":"Incident item response for specified original id","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/IncidentItemResponse"}}}},"IncidentsResponseInvalidRequest":{"description":"Failure to parse the request, caused by, for example, invalid parameter values such as\n`in=planet:mars`.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorIncidentsResponseExampleInvalidRequest"}}}}},"IncidentsResponseNotAllowed":{"description":"Not allowed, such as trying to request fields without having the necessary permissions.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Forbidden","error_description":"These credentials do not authorize access. Please contact your customer representative or submit a request here https://developer.here.com/contact-us to upgrade your account. You can also get valid credentials by registering for a free trial license on https://developer.here.com.\n"}}}},"IncidentResponseAuthenticationFailed":{"description":"Authentication Failed\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"example":{"error":"Unauthorized","error_description":"Token Validation Failure - invalid time in token"}}}},"IncidentsResponseInternalServerError":{"description":"Internal server error.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorIncidentsResponseExampleInternalServerError"}}}}},"ResponseServiceUnavailableError":{"description":"Service unavailable.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorResponseExampleServiceUnavailableError"}}}}},"VersionResponseOk":{"description":"API response in case of success.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/VersionResponse"}]}}}},"OpenApiResponseOk":{"description":"OpenAPI specification of Traffic API v7.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/OpenApiResponse"}]},"examples":{"openapi":{"$ref":"#/components/examples/OpenApiResponse"}}},"application/x-yaml":{"schema":{"allOf":[{"$ref":"#/components/schemas/OpenApiResponse"}]},"examples":{"openapi":{"$ref":"#/components/examples/OpenApiResponse"}}}}},"IncidentItemResponseInvalidRequest":{"description":"Failure to parse the request, it may have invalid incident id or query parameters.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorIncidentItemResponseExampleInvalidId"}}}}},"IncidentItemResponseNotFound":{"description":"Failure to parse the request, caused by, for example, invalid parameter values such as\n`in=planet:mars`.\n","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/ErrorIncidentItemResponseExampleNotFound"}}}}},"UnauthorizedErrorResponse":{"description":"API response in case of unauthorized access.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/AuthError"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/UnauthorizedErrorResponse"}}}}},"ErrorResponse":{"description":"API response in case of errors.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"allOf":[{"$ref":"#/components/schemas/ErrorResponse"}]}}}}},"examples":{"ErrorResponseExampleInternalServerError":{"value":{"title":"Internal server error","status":500,"code":"E608666","cause":"Internal Server Error","action":"please contact system administrator","correlationId":"895f87ec-5373-4940-b9c0-670f5b8da682"}},"ErrorResponseExampleBadGateway":{"value":{"title":"failed with reason: bad gateway","status":502,"code":"E600002","cause":"Bad Gateway","action":"","correlationId":""}},"ErrorResponseExampleServiceUnavailable":{"value":{"title":"Traffic information failure","status":503,"code":"E608021","cause":"failed to fetch traffic information","action":"try again later or contact system administrator","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"ErrorResponseExampleGatewayTimeout":{"value":{"title":"failed with reason: gateway timeout","status":504,"code":"E600000","cause":"Gateway Timeout","action":"","correlationId":""}},"ErrorResponseExampleUriTooLong":{"value":{"title":"Malformed request","status":414,"code":"E608045","cause":"Request URI is too long. Actual length is 1001 while maximal allowed is 1000","action":"request must adhere to API specification","correlationId":"SAMPLE_CORRELATION_ID"}},"ErrorIncidentsResponseExampleInvalidRequest":{"value":{"title":"Malformed request","status":400,"code":"E608002","cause":"parameter `in` is missing","action":"request must adhere to API specification","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"ErrorIncidentsResponseExampleInternalServerError":{"value":{"title":"Internal server error","status":500,"code":"E608666","cause":"Internal Server Error","action":"please contact system administrator","correlationId":"895f87ec-5373-4940-b9c0-670f5b8da682"}},"ErrorResponseExampleServiceUnavailableError":{"value":{"title":"Traffic information failure","status":503,"code":"E608021","cause":"failed to fetch traffic information","action":"try again later or contact system administrator","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"ErrorFlowResponseExampleInvalidRequest":{"value":{"title":"Malformed request","status":400,"code":"E608002","cause":"parameter `in` is missing","action":"request must adhere to API specification","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"ErrorFlowResponseExampleInternalServerError":{"value":{"title":"Internal server error","status":500,"code":"E608666","cause":"Internal Server Error","action":"please contact system administrator","correlationId":"895f87ec-5373-4940-b9c0-670f5b8da682"}},"ErrorIncidentItemResponseExampleInvalidId":{"value":{"title":"Malformed request","status":400,"code":"E608039","cause":"Incident id failed validation","action":"request must contain valid incident id","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"ErrorIncidentItemResponseExampleNotFound":{"value":{"title":"Incident item not found or removed from system","status":404,"code":"E608038","cause":"Incident item for given id not found","action":"request must contain valid incident id","correlationId":"87a6fe3b-6290-41db-8d79-edf4f4019a74"}},"OpenApiResponse":{"value":{"openapi":"3.0.2","info":{"title":"Reference API v2"},"servers":{},"paths":{}}},"UnauthorizedErrorResponse":{"value":{"error":"Unauthorized","error_description":"No credentials found"}}},"requestBodies":{"geospatialFiltersBodyFlow":{"content":{"application/json":{"schema":{"type":"object","properties":{"in":{"$ref":"#/components/schemas/RequestBodyIn"},"locationReferencing":{"description":"The location referencing scheme (or schemes) to be used in the response. Multiple location\nreferencing schemes can be specified separated by commas (`,`).\n\n|Location Referencing | Description |\n|------------------|-------------|\n| `none`           | The response will not contain any location references such as tmc, olr, HMC topology segments or shape points. |\n| `olr`            | Open Location References is a TISA location referencing standard also called TPEGOpenLR. Please visit https://tisa.org/ for more details. TISA Specifications are also published by ISO https://www.iso.org/ Specifications: ISO/TS 21219-22:2017 |\n| `shape`          | Shape points. Defines a location by a series of geo-coordinates. |\n| `tmc`            | Traffic Message Channel (TMC) location referencing method uses tables of pre-coded locations. For details please refer ISO specifications ISO 14819-3:2013 and ISO 14819-2:2013. |\n| `segmentRef`     | Topology Segment references. Defines a location by a series of reference to the HMC Topology Segment. |\n","type":"array","items":{"type":"string","enum":["none","olr","shape","tmc","segmentRef"]},"minItems":1,"uniqueItems":true},"minJamFactor":{"description":"The maximum jam factor value for flow items to be included in the response. All flow items\nwith a _higher_ jam factor than the value specified by the `maxJamFactor` parameter are\nomitted. This parameter can be used by clients that require flow data only for\ncongestion-free roads.\n\nThe values must be in the range `0.0` to `10.0` (inclusive).\n\nDefault: `1.0`\n","type":"number","default":10},"maxJamFactor":{"description":"The minimum jam factor value for flow items to be included in the response. All flow items\nwith a _lower_ jam factor than the value specified by the `minJamFactor` parameter are\nomitted. The parameter can be used by clients that require flow data for congested roadways\nonly.\n\nThe value must be in the range `0.0` to `10.0` (inclusive).\n\nDefault: `0.0`\n","type":"number","default":0},"functionalClasses":{"description":"A list of functional classes separated by commas (`,`), to return results for. The\nfunctional class is used to group roads depending on speed, importance, and\nconnectivity.\n\nFunctional classes are integers from `1` to `5` inclusive where functional class `1` are\nthe most important and functional class `5` are the least important. The table below\ndescribes the roads that fall into each class.\n\n| Functional Class | Description |\n|------------------|-------------|\n| 1                | These roads are meant for high volume, maximum speed traffic between and through major metropolitan areas. There are very few, if any, speed changes. Access to this road is usually controlled. |\n| 2                | These roads are used to channel traffic to Main Roads (functionalClass=1) for travel between and through cities in the shortest amount of time. There are very few, if any speed changes. |\n| 3                | These roads interconnect First Class Roads (2) and provide a high volume of traffic movement at a lower level of mobility than First Class Roads (2). |\n| 4                | These roads provide for a high volume of traffic movement at moderate speeds between neighborhoods. These roads connect with higher Functional Class roads to collect and distribute traffic between neighborhoods. |\n| 5                | These roads' volume and traffic movements are below the level of any other road. |\n","type":"array","items":{"type":"integer","enum":[1,2,3,4,5]}},"advancedFeatures":{"description":"A list of advanced features separated by commas (`,`), to return results for.\n\n| Feature        | Description |\n|----------------|-------------|\n| `deepCoverage` | More complete flow coverage |\n| `lanes`        | Lane level traffic information about lanes designated for High Occupancy Vehicles or at highway forks/splits |\n\n**NOTE:** Advanced features are billed at a separate price point to normal requests. Please\ncontact HERE sales for further details.\n","type":"array","items":{"type":"string","enum":["deepCoverage","lanes"]},"uniqueItems":true},"useRefReplacements":{"description":"Use replacement strings for compact representation of HMC topology segment references.\n","type":"boolean","default":true},"exactSegmentRefMatching":{"description":"Match segment references exactly with catalog versions when the value is set to true.\nCatalog versions are ignored to match when the value is set to false.\n","type":"boolean","default":false}}}}}},"geospatialFiltersBodyIncidents":{"content":{"application/json":{"schema":{"type":"object","properties":{"in":{"$ref":"#/components/schemas/RequestBodyIn"},"locationReferencing":{"description":"The location referencing scheme (or schemes) to be used in the response. Multiple location\nreferencing schemes can be specified separated by commas (`,`).\n\n|Location Referencing | Description |\n|------------------|-------------|\n| `none`           | The response will not contain any location references such as tmc, olr, HMC topology segments or shape points. |\n| `olr`            | Open Location References is a TISA location referencing standard also called TPEGOpenLR. Please visit https://tisa.org/ for more details. TISA Specifications are also published by ISO https://www.iso.org/ Specifications: ISO/TS 21219-22:2017 |\n| `shape`          | Shape points. Defines a location by a series of geo-coordinates. |\n| `tmc`            | Traffic Message Channel (TMC) location referencing method uses tables of pre-coded locations. For details please refer ISO specifications ISO 14819-3:2013 and ISO 14819-2:2013. |\n| `segmentRef`     | Topology Segment references. Defines a location by a series of reference to the HMC Topology Segment. |\n","type":"array","items":{"type":"string","enum":["none","olr","shape","tmc","segmentRef"]},"minItems":1,"uniqueItems":true},"functionalClasses":{"description":"A list of functional classes separated by commas (`,`), to return results for. The\nfunctional class is used to group roads depending on speed, importance, and\nconnectivity.\n\nFunctional classes are integers from `1` to `5` inclusive where functional class `1` are\nthe most important and functional class `5` are the least important. The table below\ndescribes the roads that fall into each class.\n\n| Functional Class | Description |\n|------------------|-------------|\n| 1                | These roads are meant for high volume, maximum speed traffic between and through major metropolitan areas. There are very few, if any, speed changes. Access to this road is usually controlled. |\n| 2                | These roads are used to channel traffic to Main Roads (functionalClass=1) for travel between and through cities in the shortest amount of time. There are very few, if any speed changes. |\n| 3                | These roads interconnect First Class Roads (2) and provide a high volume of traffic movement at a lower level of mobility than First Class Roads (2). |\n| 4                | These roads provide for a high volume of traffic movement at moderate speeds between neighborhoods. These roads connect with higher Functional Class roads to collect and distribute traffic between neighborhoods. |\n| 5                | These roads' volume and traffic movements are below the level of any other road. |\n","type":"array","items":{"type":"integer","enum":[1,2,3,4,5]}},"criticality":{"description":"The severity of the incident that has occured, with the following possible values: low (least severe), minor, major, and critical (most severe).\nA list of criticality values separated by commas (`,`), to return results for.\n","type":"array","items":{"type":"string","enum":["low","minor","major","critical"]}},"type":{"description":"A list of incident type values separated by commas (`,`), to return results for.\n\n| Type              | Description |\n|-------------------|-------------|\n| `accident`        | | Indicates that there has been a collision\n| `construction`    | | Indicates that building or roadworks are taking place\n| `congestion`      | | Indicates that there has been a build up of vehicles\n| `disabledVehicle` | | Indicates that a vehicle is unable to move and is obstructing the road\n| `massTransit`     | | Indicates that a large amount of people are migrating from one location to another\n| `plannedEvent`    | | Indicates that an organised event is taking place causing disruption\n| `roadHazard`      | | Indicates that there are dangerous objects on the surface of the road\n| `roadClosure`     | | Indicates that the road has been closed, e.g. police presence\n| `weather`         | | Indicates that weather conditions are causing disruptions\n| `laneRestriction` | | Indicates that some of the lanes have access restrictions\n| `other`           | | Indicates that an incident not explainable with the types above has occurred\n","type":"string"},"earliestStartTime":{"$ref":"#/components/schemas/Time"},"latestEndTime":{"$ref":"#/components/schemas/Time"},"lang":{"description":"The language to be used for the incident descriptions. Parameter value must follow\nspecification: BCP47. Supported values are available on  [iana.org](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry)\n","type":"string"},"units":{"description":"Units of measurement to be used in incident descriptions.\nThe default is metric.\n","type":"string","enum":["metric","imperial"],"default":"metric"},"useRefReplacements":{"description":"Use replacement strings for compact representation of HMC topology segment references.\n","type":"boolean","default":true},"exactSegmentRefMatching":{"description":"Match segment references exactly with catalog versions when the value is set to true.\nCatalog versions are ignored to match when the value is set to false.\n","type":"boolean","default":false}}}}}},"geospatialFiltersBodyIncidentsId":{"content":{"application/json":{"schema":{"type":"object","properties":{"locationReferencing":{"description":"The location referencing scheme (or schemes) to be used in the response. Multiple location\nreferencing schemes can be specified separated by commas (`,`).\n\n|Location Referencing | Description |\n|------------------|-------------|\n| `none`           | The response will not contain any location references such as tmc, olr, HMC topology segments or shape points. |\n| `olr`            | Open Location References is a TISA location referencing standard also called TPEGOpenLR. Please visit https://tisa.org/ for more details. TISA Specifications are also published by ISO https://www.iso.org/ Specifications: ISO/TS 21219-22:2017 |\n| `shape`          | Shape points. Defines a location by a series of geo-coordinates. |\n| `tmc`            | Traffic Message Channel (TMC) location referencing method uses tables of pre-coded locations. For details please refer ISO specifications ISO 14819-3:2013 and ISO 14819-2:2013. |\n| `segmentRef`     | Topology Segment references. Defines a location by a series of reference to the HMC Topology Segment. |\n","type":"array","items":{"type":"string","enum":["none","olr","shape","tmc","segmentRef"]},"minItems":1,"uniqueItems":true},"lang":{"description":"The language to be used for the incident descriptions. Parameter value must follow\nspecification: BCP47. Supported values are available on  [iana.org](https://www.iana.org/assignments/language-subtag-registry/language-subtag-registry)\n","type":"string"},"units":{"description":"Units of measurement to be used in incident descriptions.\nThe default is metric.\n","type":"string","enum":["metric","imperial"],"default":"metric"},"useRefReplacements":{"description":"Use replacement strings for compact representation of HMC topology segment references.\n","type":"boolean","default":true}}}}}}}}}