# x-archived-from: here-routing-v8-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"Routing API v8","version":"8.162.0","description":"A location service providing customizable route calculations for a variety of vehicle types as well as pedestrian modes.","termsOfService":"https://legal.here.com/en-gb/terms","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"externalDocs":{"description":"The Developer guide, Release notes, and Migration guide are available here.","url":"https://www.here.com/docs/category/routing-api-v8"},"security":[{"Bearer":[]},{"ApiKey":[]}],"servers":[{"url":"https://router.hereapi.com/v8","description":"Production server for the HERE Routing Service"}],"tags":[{"name":"Routing"},{"name":"API Information","description":"Additional API Information"}],"paths":{"/routes":{"parameters":[{"$ref":"#/components/parameters/transportMode"},{"$ref":"#/components/parameters/origin"},{"$ref":"#/components/parameters/destination"},{"$ref":"#/components/parameters/via"},{"$ref":"#/components/parameters/departureTimeWithAny"},{"$ref":"#/components/parameters/arrivalTime"},{"$ref":"#/components/parameters/routingMode"},{"$ref":"#/components/parameters/alternatives"},{"$ref":"#/components/parameters/avoid"},{"$ref":"#/components/parameters/allow"},{"$ref":"#/components/parameters/exclude"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/return"},{"$ref":"#/components/parameters/spans"},{"$ref":"#/components/parameters/truck"},{"$ref":"#/components/parameters/vehicle"},{"$ref":"#/components/parameters/consumptionModel"},{"$ref":"#/components/parameters/ev"},{"$ref":"#/components/parameters/fuel"},{"$ref":"#/components/parameters/driver"},{"$ref":"#/components/parameters/pedestrianSpeed"},{"$ref":"#/components/parameters/scooter"},{"$ref":"#/components/parameters/currency"},{"$ref":"#/components/parameters/customizations"},{"$ref":"#/components/parameters/taxi"},{"$ref":"#/components/parameters/tolls"},{"$ref":"#/components/parameters/maxSpeedOnSegment"},{"$ref":"#/components/parameters/traffic"},{"$ref":"#/components/parameters/networkRestrictedTruck"},{"$ref":"#/components/parameters/billingTag"},{"$ref":"#/components/parameters/xRequestId"}],"get":{"operationId":"Routing API v8 calculateRoutes","summary":"Calculate routes via GET","tags":["Routing"],"description":"Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...","responses":{"200":{"$ref":"#/components/responses/RoutesResponseOk"},"400":{"$ref":"#/components/responses/InvalidRoutesRequestResponse"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/Routing403ErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorRoutesResponse"}}},"post":{"operationId":"Routing API v8 calculateRoutesPost","summary":"Calculate routes via POST","tags":["Routing"],"description":"Calculates a route using a generic vehicle/pedestrian mode, e.g. car, truck, pedestrian, etc...\n\nAt the moment, only selected parameters are permitted in the POST body,\nparticularly those that may be restricted in the query string due to request size limitations.\nSee the request body section below for details. All other parameters must be provided in the query string.\nIf a parameter is provided in both the query string and the POST body, their values are merged.\n\nPost body size limit is 10MiB.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/CalculateRoutesPostParameters"},"examples":{"avoid":{"$ref":"#/components/examples/calculateRoutesPostAvoidExample"},"exclude":{"$ref":"#/components/examples/calculateRoutesPostExcludeExample"},"ev":{"$ref":"#/components/examples/calculateRoutesPostEvExample"},"maxSpeedOnSegment":{"$ref":"#/components/examples/calculateRoutesPostMaxSpeedOnSegmentExample"},"networkRestrictedTruck":{"$ref":"#/components/examples/calculateRoutesPostNetworkRestrictedTruckExample"}}}}},"responses":{"200":{"$ref":"#/components/responses/RoutesResponseOk"},"400":{"$ref":"#/components/responses/InvalidRoutesRequestResponse"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/Routing403ErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorRoutesResponse"}}}},"/routes/{routeHandle}":{"parameters":[{"$ref":"#/components/parameters/routeHandle"},{"$ref":"#/components/parameters/transportMode"},{"$ref":"#/components/parameters/routeHandleOrigin"},{"$ref":"#/components/parameters/departureTimeWithAny"},{"$ref":"#/components/parameters/avoid"},{"$ref":"#/components/parameters/allow"},{"$ref":"#/components/parameters/exclude"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/return"},{"$ref":"#/components/parameters/spans"},{"$ref":"#/components/parameters/truck"},{"$ref":"#/components/parameters/vehicle"},{"$ref":"#/components/parameters/consumptionModel"},{"$ref":"#/components/parameters/evRouteHandle"},{"$ref":"#/components/parameters/fuel"},{"$ref":"#/components/parameters/pedestrianSpeed"},{"$ref":"#/components/parameters/scooter"},{"$ref":"#/components/parameters/currency"},{"$ref":"#/components/parameters/rerouting"},{"$ref":"#/components/parameters/taxi"},{"$ref":"#/components/parameters/tolls"},{"$ref":"#/components/parameters/maxSpeedOnSegment"},{"$ref":"#/components/parameters/traffic"},{"$ref":"#/components/parameters/networkRestrictedTruck"},{"$ref":"#/components/parameters/billingTag"},{"$ref":"#/components/parameters/xRequestId"}],"get":{"operationId":"Routing API v8 getRoutesByHandle","summary":"Get route by handle via GET","tags":["Routing"],"description":"Decodes and returns a route from a previously calculated route handle.\n\n**Disclaimer: A route handle is not suitable for persistent route storage! It can be\ninvalidated at any time.**\n\nA route handle encodes a previously calculated route. A route can be decoded from a handle\nas long as the service uses the same map data and encoding that were used when retrieving the handle.\n\nThus it is suitable for caching routes compactly. It can be used to retrieve updated traffic\ninformation or other data along the route. However, a user should be prepared to recalculate\nthe route when decoding the handle fails.\n\nAll parameters of the `/routes` endpoint are supported, except for `destination`, `via`,\n`alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.\n\nThe `origin` parameter can be provided to update the start of the previously calculated\nroute.\n\nThe `transportMode` parameter does not have to match the transport mode previously used for\nroute calculation. However, when using a different transport mode, the request may fail,\ne.g. when the route has road segments forbidden for the provided transport mode.\n\nPlease refer to the Developer Guide for more information and examples.\n","responses":{"200":{"$ref":"#/components/responses/RoutesResponseOk"},"400":{"$ref":"#/components/responses/InvalidRoutesRequestResponse"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/Routing403ErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorRoutesResponse"}}},"post":{"operationId":"Routing API v8 getRoutesByHandlePost","summary":"Get route by handle via POST","tags":["Routing"],"description":"Decodes and returns a route from a previously calculated route handle.\n\n**Disclaimer: A route handle is not suitable for persistent route storage! It can be\ninvalidated at any time.**\n\nA route handle encodes a previously calculated route. A route can be decoded from a handle\nas long as the service uses the same map data and encoding that were used when retrieving the handle.\n\nThus it is suitable for caching routes compactly. It can be used to retrieve updated traffic\ninformation or other data along the route. However, a user should be prepared to recalculate\nthe route when decoding the handle fails.\n\nAll parameters of the `/routes` endpoint are supported, except for `destination`, `via`,\n`alternatives` and `routingMode`. See also the `return` parameter of `/routes` endpoint.\n\nThe `origin` parameter can be provided to update the start of the previously calculated\nroute.\n\nThe `transportMode` parameter does not have to match the transport mode previously used for\nroute calculation. However, when using a different transport mode, the request may fail,\ne.g. when the route has road segments forbidden for the provided transport mode.\n\nOnly selected parameters are permitted in the POST body. See the request body section below for details.\nIf a parameter is provided in both the query string and the POST body, their values are merged.\n\nPost body size limit is 10MiB.\n\nPlease refer to the Developer Guide for more information and examples.\n","requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/GetRoutesByHandlePostParameters"},"examples":{"avoid":{"$ref":"#/components/examples/calculateRoutesPostAvoidExample"},"exclude":{"$ref":"#/components/examples/calculateRoutesPostExcludeExample"},"maxSpeedOnSegment":{"$ref":"#/components/examples/calculateRoutesPostMaxSpeedOnSegmentExample"},"networkRestrictedTruck":{"$ref":"#/components/examples/calculateRoutesPostNetworkRestrictedTruckExample"}}}}},"responses":{"200":{"$ref":"#/components/responses/RoutesResponseOk"},"400":{"$ref":"#/components/responses/InvalidRoutesRequestResponse"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/Routing403ErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorRoutesResponse"}}}},"/import":{"post":{"operationId":"Routing API v8 importRoute","summary":"Calculate a route from a sequence of trace points","tags":["Routing"],"description":"Creates a route from a sequence of trace points.\n\nPost body size limit is 10MiB.\n\nFor best results, use 1Hz GPS data or any points that have a spacing of a few meters between them.\nFor traces with less frequent points, the Route Import service will attempt to create an approximate reconstruction.\nIn some situations, when consecutive points are too far apart (more than about 30 kilometers of on-road distance), they could be considered unreachable and one of them could fail to be matched.\n","parameters":[{"$ref":"#/components/parameters/transportMode"},{"$ref":"#/components/parameters/departureTimeWithAny"},{"$ref":"#/components/parameters/avoid"},{"$ref":"#/components/parameters/allow"},{"$ref":"#/components/parameters/exclude"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/return"},{"$ref":"#/components/parameters/spans"},{"$ref":"#/components/parameters/truck"},{"$ref":"#/components/parameters/vehicle"},{"$ref":"#/components/parameters/consumptionModel"},{"$ref":"#/components/parameters/evRouteImport"},{"$ref":"#/components/parameters/fuel"},{"$ref":"#/components/parameters/scooter"},{"$ref":"#/components/parameters/taxi"},{"$ref":"#/components/parameters/billingTag"},{"$ref":"#/components/parameters/xRequestId"}],"requestBody":{"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MatchTrace"}}}},"responses":{"200":{"$ref":"#/components/responses/RoutesResponseOk"},"400":{"$ref":"#/components/responses/InvalidRoutesRequestResponse"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/Routing403ErrorResponse"},"429":{"$ref":"#/components/responses/Routing429ErrorResponse"},"500":{"$ref":"#/components/responses/InternalServerErrorRoutesResponse"}}}},"/health":{"get":{"operationId":"Routing API v8 getHealth","summary":"Health status of the service","tags":["API Information"],"description":"Returns the health of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/HealthResponseOkWithRequestID"},"default":{"$ref":"#/components/responses/HealthResponseFailWithRequestID"}}}},"/version":{"get":{"operationId":"Routing API v8 getVersion","summary":"Full version of the API","tags":["API Information"],"description":"Returns the version of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/VersionResponseOkWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/openapi":{"get":{"summary":"Retrieves this API specification in OpenAPI 3 format","operationId":"Routing API v8 getOpenapi","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/OpenApiResponseOk"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}}},"components":{"parameters":{"allow":{"name":"allow","description":"Explicitly allow features that require users to opt in.","in":"query","required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Allow"}},"alternatives":{"name":"alternatives","description":"Number of alternative routes to return aside from the optimal route.","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":6,"default":0}},"arrivalTime":{"name":"arrivalTime","description":"Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to the local time at destination. When the optional timezone offset is\nnot specified, time is assumed to be local.\nAll `Time` values in the response are returned in the timezone of each location.\n\nNote : The following features do not support the arrivalTime parameter:\n* EV Routing\n* Route Handle\n* Route Import\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Time"}},"avoid":{"name":"avoid","description":"Avoid roads that violate certain features of road network or that go through\nuser-specified areas, segments, or zones.\n\nNote that if the origin, destination, or any via is in an avoided area or on an avoided\nfeature, a route is produced that violates the avoid restriction. In such a case, the\nroute is trying to minimize the violation of the avoid restrictions and can therefore\ninclude large deviations from a route that is calculated without these avoid\nrestrictions.\n\nIt is also possible that the produced route violates the avoid restriction in between\nwaypoints, if no other route is possible or too hard to find. One such example is\nrequesting a route to an island that is only reachable with ferries while specifying\n`avoid[features]=ferry`.\n\nWhen using avoid features, it's not guaranteed to get alternatives. Further, they can even\ncause the route calculation to fail, if no route is possible or too hard to find.\n","in":"query","allowReserved":true,"required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Avoid"},"examples":{"features":{"summary":"Avoid specific features like `tunnel' or `ferry`","value":{"features":"tunnel,ferry"}},"area":{"summary":"Avoid a specific geographical bounding box","value":{"areas":"bbox:13.082,52.416,13.628,52.626"}},"areas":{"summary":"Avoid multiple geographical bounding boxes using `|` as element separator","value":{"areas":"bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511"}},"complete":{"summary":"Avoid both features and geographical bounding boxes","value":{"features":"tollRoad,tunnel&avoid[areas]=bbox:13.082,52.416,13.628,52.626"}},"segment":{"summary":"Avoid a segment using its identifier","value":{"segments":"here:cm:segment:207551710"}},"segmentsWithDirection":{"summary":"Avoid two segments using their identifiers, also specifying the direction","value":{"segments":"here:cm:segment:207551710#+,here:cm:segment:76771992#*"}},"zones":{"summary":"Avoid multiple environmental zones using identifiers","value":{"zoneIdentifiers":"here:cm:envzone:2,here:cm:envzone:3"}},"zoneCategory":{"summary":"Avoid all environmental zones","value":{"zoneCategories":"environmental"}},"zoneCategoryWithException":{"summary":"Avoid all environmental zones except a specific one","value":{"zoneCategories":"environmental;exceptZoneIds=here:cm:envzone:2"}},"truckRoadTypes":{"summary":"Avoid the specified truck road types","value":{"truckRoadTypes":"BK1,BK2,BK3,BK4"}},"tollTransponders":{"summary":"Avoid all toll transponders","value":{"tollTransponders":"all"}}}},"billingTag":{"name":"billingTag","in":"query","description":"A list of up to six billing tags, separated by the `+` sign.\n\nThis parameter provides a way to track your platform usage.\nFor details, refer to the Cost Management Developer Guide section on [Billing Tags](https://docs.here.com/usage/docs/tutorial-billing-tags)\n","schema":{"type":"string","pattern":"^(?![_-])[A-Za-z0-9_-]{4,16}(?<![_-])(\\+(?![_-])[A-Za-z0-9_-]{4,16}(?<![_-])){0,5}$","example":"ABCD+EFGH"}},"consumptionModel":{"name":"consumptionModel","description":"Specifies which of the EV consumption models is being used. See the `ev` parameter for details on the models.\n\n* `empirical`\n* `physical`\n","in":"query","required":false,"schema":{"$ref":"#/components/schemas/ConsumptionModel"}},"currency":{"name":"currency","in":"query","description":"Currency code compliant to ISO 4217.\nCosts for the calculated route will be returned using this currency.\n\nIf not provided, the router will specify it.\nOn a best-effort basis, the router will try to specify the costs in the local currency.\n","required":false,"schema":{"type":"string"}},"customizations":{"name":"customizations","description":"Specifies a list of customizations to be used. The data provided by these customizations either\nreplaces or augments the standard HERE map data. The provided credentials must authorize access\nto all of the customizations specified.\n\n**Alpha**: This API is in development. It may not be stable and is subject to change.\n","in":"query","allowReserved":true,"required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/CustomizationHRN"}}},"departureTimeWithAny":{"name":"departureTime","description":"Specifies the time of departure as defined by either `date-time` or `full-date` `T`\n`partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\n\nThe requested time is converted to local time at origin. When the optional timezone offset\nis not specified, time is assumed to be local. The special value `any` can be used to\nindicate that time should not be taken into account during routing. If neither\n`departureTime` or `arrivalTime` are specified, current time at departure place will be\nused. All time values in the response are returned in the timezone of each location.\n\n**Note**: Only long-term traffic incidents will be used if `departureTime=any` and\n`traffic[mode]=default` or no `traffic[mode]` are specified.\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/TimeWithAny"}},"destination":{"name":"destination","description":"A location defining the destination of the trip.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter.\n\n`destination` supports the same options as the `origin` parameter, with the following exceptions:\n\n## Additional waypoint options:\n\n* `stopDuration`: desired duration for the stop, in seconds. The section arriving at this\n  via waypoint will have a `wait` post action reflecting the stopping time. The\n  subsequent section will start at the arrival time of the former section + stop\n  duration.\n","in":"query","allowReserved":true,"required":true,"schema":{"$ref":"#/components/schemas/Waypoint"},"examples":{"coordinate":{"value":"51.611571,11.351608","summary":"A simple WGS84 coordinate"},"side":{"value":"52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always","summary":"Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street"},"course":{"value":"51.611571,11.351608;course=170;radius=20;minCourseDistance=500","summary":"Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle"},"name":{"value":"52.510319,13.285616;nameHint=Kaiserdamm","summary":"Setting nameHint to avoid matching to the wrong location"},"duration":{"value":"51.611571,11.351608!stopDuration=600","summary":"Addition a stopDuration for an intermediate stop"},"displayLocation":{"value":"52.52697,13.42500;displayLocation=52.51885,13.46237","summary":"This coordinate is the location of the POI as shown by the pin on a map."}}},"driver":{"name":"driver","description":"Driver parameters to be used for calculating routes with automatically added\nrest stops.\n","in":"query","allowReserved":true,"required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Driver"}},"ev":{"name":"ev","description":"EV properties to be used for calculating consumption.\n\nThere are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.\n\nRequired `empirical` model properties:\n* `freeFlowSpeedTable`\n\nRequired `physical` model properties:\n* `driveEfficiency`\n* `recuperationEfficiency`\n\nWhen using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):\n* `rollingResistanceCoefficient`\n* `airDragCoefficient`\n* `currentWeight`\n* `frontalArea` or combination of `width` and `height`\n\nThe following `ev` properties are additionally required in order to calculate State-of-Charge along the route:\n* `initialCharge`\n* `maxCharge`\n\nRoute reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,\n* `minChargeAtDestination`\n* `minChargeAtFirstChargingStation`\n* `minChargeAtChargingStation`\n\nThe following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)\n* `chargingCurve`\n\n**Notes**:\n* Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.\n* EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.\n\nThe following properties are additionally required for the router to automatically enhance the route with charging stops\n* `makeReachable` set to `true`\n* `chargingCurve`\n* `connectorTypes`\n* `maxChargeAfterChargingStation`\n","in":"query","allowReserved":true,"required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/EV"},"examples":{"physicalModelExample":{"summary":"Typical physical model values.","value":{"driveEfficiency":0.8,"recuperationEfficiency":0.7}}}},"evRouteHandle":{"name":"ev","description":"EV properties to be used for calculating consumption.\n\nThere are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.\n\nRequired `empirical` model properties:\n* `freeFlowSpeedTable`\n\nRequired `physical` model properties:\n* `driveEfficiency`\n* `recuperationEfficiency`\n\nWhen using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):\n* `rollingResistanceCoefficient`\n* `airDragCoefficient`\n* `currentWeight`\n* `frontalArea` or combination of `width` and `height`\n\nThe following `ev` properties are additionally required in order to calculate State-of-Charge along the route:\n* `initialCharge`\n* `maxCharge`\n\nRoute reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,\n* `minChargeAtDestination`\n* `minChargeAtFirstChargingStation`\n* `minChargeAtChargingStation`\n\nThe following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)\n* `chargingCurve`\n\n**Notes**:\n* Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.\n* EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.\n","in":"query","allowReserved":true,"required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/EVRouteHandle"}},"evRouteImport":{"name":"ev","description":"EV properties to be used for calculating consumption.\n\nThere are two consumption models (`empirical`, `physical`). Set the `consumptionModel` parameter to choose which model to use.\n\nRequired `empirical` model properties:\n* `freeFlowSpeedTable`\n\nRequired `physical` model properties:\n* `driveEfficiency`\n* `recuperationEfficiency`\n\nWhen using the physical model, certain properties of the `vehicle` parameter are also required (see documentation for the `vehicle` parameter for more details):\n* `rollingResistanceCoefficient`\n* `airDragCoefficient`\n* `currentWeight`\n* `frontalArea` or combination of `width` and `height`\n\nThe following `ev` properties are additionally required in order to calculate State-of-Charge along the route:\n* `initialCharge`\n* `maxCharge`\n\nRoute reachability based on State-of-Charge will be evaluated for the following constraints, if additionally provided,\n* `minChargeAtDestination`\n* `minChargeAtFirstChargingStation`\n* `minChargeAtChargingStation`\n\nThe following properties are additionally required in order to calculate charging at charging station waypoints (see documentation for `via` parameter)\n* `chargingCurve`\n\n**Notes**:\n* Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.\n* EV parameters are not supported in combination with pedestrian, bicycle and network restricted truck `transportMode`.\n\n**Note**: Route import does not support adding charging stations, therefore the following related parameters are ignored:\n* chargingCurve\n* maxChargingVoltage\n* maxChargingCurrent\n* maxChargeAfterChargingStation\n* minChargeAtChargingStation\n* minChargeAtFirstChargingStation\n* chargingSetupDuration\n* connectorTypes\n","in":"query","allowReserved":true,"required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/EVConsumption"}},"exclude":{"name":"exclude","description":"Defines properties which will be strictly excluded from route calculation.\n\nNote - Exclude options guarantees exclusion, but doesn't guarantee\nfinding a route.\n","in":"query","required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Exclude"},"examples":{"country":{"summary":"Exclude the country of Switzerland from the route calculation","value":{"countries":"CHE"}},"countries":{"summary":"Exclude both the country of Switzerland and the country of Austria from the route calculation","value":{"countries":"CHE,AUT"}},"state":{"summary":"Exclude DC state of USA from the route calculation","value":{"states":"USA:DC"}},"states":{"summary":"Exclude both states DC and TX of USA from the route calculation","value":{"states":"USA:DC,TX"}},"states_multicountry":{"summary":"Exclude both states DC, TX of USA and AL state of Canada from the route calculation","value":{"states":"USA:DC,TX|CAN:AL"}},"area":{"summary":"Exclude a specific geographical bounding box","value":{"areas":"bbox:13.082,52.416,13.628,52.626"}},"areas":{"summary":"Exclude multiple geographical bounding boxes using `|` as element separator","value":{"areas":"bbox:13.3127778,52.5106221,13.3495852,52.5255681|bbox:13.3958343,52.5171209,13.4286456,52.5405511"}}}},"fuel":{"name":"fuel","description":"**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**\n\nFuel parameters to be used for calculating consumption and related CO2 emission.\n\nThe following attributes are required for calculating consumption:\n  * `type`\n  * `freeFlowSpeedTable`\n\n**Notes**:\n* Hybrid vehicles (EV + Other fuel types) are not supported. Consumption properties are not supported for combination of `ev` and `fuel` vehicles.\n* Fuel parameters are not supported in combination with pedestrian and bicycle `transportMode`.\n","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Fuel"}},"lang":{"name":"lang","description":"Specifies the list of preferred languages of the response.\nThe first supported language from the list will be used for for the response if available.\nThe next languages are used as fallbacks if the first one is not available.\nAdditionally, some more fallback logic is applied if no language is available, like generalizing the requested language code.\nThe value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).\nA list of supported languages for the routing service, as well as more information on the language fallback logic, can be found in the [Developer Guide](https://docs.here.com/routing/docs/routing-v8-supported-languages).\n\nNote: If the first language in the list is not supported exactly, an info notification will be generated with code `mainLanguageNotFound`.\n","in":"query","schema":{"type":"array","items":{"type":"string"},"default":["en-US"]},"style":"form","explode":false,"example":"zh-tw,en-gb,en-us"},"maxSpeedOnSegment":{"name":"maxSpeedOnSegment","description":"Specify new base speed for segment by value. Affects route selection and the ETA. Cannot increase base speed on segment.\n","in":"query","allowReserved":true,"style":"form","required":false,"schema":{"$ref":"#/components/schemas/MaxSpeedOnSegment"},"examples":{"speed":{"summary":"Setting new base speed on segment","value":{"speed":"here:cm:segment:76771992#*;speed=42"}}}},"networkRestrictedTruck":{"name":"networkRestrictedTruck","description":"**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**\n\nParameters specific to the `networkRestrictedTruck` transport mode.\n","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/NetworkRestrictedTruck"}},"origin":{"name":"origin","description":"A location defining the origin of the trip.\n\n## Format\n\nFormat: `Place[WaypointOptions]`\n\n* Place: `{lat},{lng}[PlaceOptions]`\n* PlaceOptions: `;option1=<value1>;option2=<value2>...`\n* WaypointOptions: `!option1=<value1>!option2=<value2>...`\n\nA waypoint consists of:\n\n* Exactly one place\n* Optional settings for the place\n* Optional settings for the waypoint itself\n\n## Supported place options\n\n* `course`: int, degrees clock-wise from north. Indicating desired direction at the place.\n  E.g. `90` indicating `east`. Often combined with `radius` and/or `minCourseDistance`\n* `sideOfStreetHint`: `{lat},{lng}`. Indicating the side of the street that should be\n  used. E.g. if the location is to the left of the street, the router will prefer using\n  that side in case the street has dividers. E.g.\n  `52.511496,13.304140;sideOfStreetHint=52.512149,13.304076` indicates that the `north`\n  side of the street should be preferred. This option is required, if `matchSideOfStreet`\n  is set to `always`.\n  Option cannot be combined with `radius`, `radiusPenalty` or `snapRadius`.\n* `displayLocation`: `{lat},{lng}`. Indicates the location on the map where this POI is to be displayed. This attribute is passed through to the `displayLocation` attribute in the corresponding `Place` object in the output.\n* `uTurnPermission`: enum `[allow, avoid]`. Specifies the U-Turn Permission mode at the stop-over waypoint. If unspecified, the permission will be determined by the global setting, avoid[features]=uTurns. This feature is not supported for pass-through waypoints and U-Turns are generally avoided in that case.\n  + `allow` : Allow making a U-Turn at this stop-over waypoint\n  + `avoid` : Avoid making a U-Turn at this stop-over waypoint\n* `matchSideOfStreet`: enum `[always, onlyIfDivided]`. Specifies how the location set by\n  `sideOfStreetHint` should be handled. Requires `sideOfStreetHint` to be specified as\n  well.\n  + `always` : Always prefer the given side of street.\n  + `onlyIfDivided`: Only prefer using side of street set by `sideOfStreetHint` in case\n    the street has dividers. This is the default behavior.\n* `nameHint`: string. Causes the router to look for the place with the most similar name.\n  The typical examples include: `North` being used to differentiate between\n  interstates `I66 North` and `I66 South`, `Downtown Avenue` being used to correctly\n  select a residental street.\n\n  Empty string values are ignored.\n* `radius`: int, meters. Asks the router to consider all places within the given radius as\n  potential candidates for route calculation. This can be either because it is not\n  important which place is used, or because it is unknown. Radiuses wider than 200 meters are\n  not supported.\n  Option cannot be combined with `snapRadius`.\n* `radiusPenalty`: int, percentage 0-10000. Penalty as percentage: Used in conjunction with the `radius`\n  parameter. Router will match the waypoint within the specified radius and apply a penalty to candidates\n  based on their air distance to the waypoint. This penalty is proportional to the given percentage,\n  where 100 is just the cost of the air distance, and 200 is twice the cost of the air distance. The penalty\n  must be chosen so that, when multiplied by the radius, the result is less than or equal to 7200.\n  Regardless, only values up to and including 10000 will be accepted. This means that a maximum penalty\n  of 3600% is allowed for a radius of 200m, 7200% for 100m and 10000% for 72m and less.\n  Higher values will result in an error response. `radiusPenalty` cannot be combined with `snapRadius`.\n  **Alpha**: This parameter is in development. It may not be stable and is subject to change.\n* `snapRadius`: int, meters. Instructs the router to match the waypoint, within the specified radius,\n  to the most \"significant\" road. In contrast to the regular `radius` parameter, `snapRadius` sorts potential\n  candidates in order of \"significance\". For example, a highway is more significant on a zoomed-out map than\n  a national road, a national road is more significant than a city road, etc. Hence, `snapRadius` cannot be\n  combined with `radius` or `radiusPenalty` parameters. The typical use case for `snapRadius` is when selecting a waypoint on a\n  zoomed-out view of a map on a drag-and-drop interface. The expectation on such UIs is that only roads that\n  are visible at that zoom level are considered for matching and a large snapRadius would enable that.\n* `minCourseDistance`: int, meters. Instructs the routing service to try to find a route that avoids actions for the indicated distance.\n  For example, if the origin is determined by a moving vehicle, the user might not have time to react to early actions.\n  Values greater than 2000 meters will be capped at 2000 meters.\n* `segmentIdHint`: string. Causes the router to try and match to the specified segment.\n  Waypoint coordinates need to be on the segment, otherwise waypoint will be matched ignoring the segment hint\n  This parameter can be used when the waypoint is too close to more than one segment to force matching to a specific one.\n* `onRoadThreshold`: int, meters. allows specifying a distance within which\n  the waypoint could be considered as being on a highway/bridge/tunnel/sliproad.\n  Within this threshold, the attributes of the segments do not impact the matching.\n  Outside the threshold only segments which aren't one of highway/bridge/tunnel/sliproad can be matched.\n\n## Notes\n\n* `origin` currently does not support any WaypointOptions. They are available for `via` and `destination` waypoints.\n* Non-structural reserved characters in options' values need to be properly percent-encoded.\n  Please refer to the Developer Guide for more details.\n","in":"query","allowReserved":true,"required":true,"schema":{"$ref":"#/components/schemas/Waypoint"},"examples":{"coordinate":{"value":"51.611571,11.351608","summary":"A simple WGS84 coordinate"},"side":{"value":"52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always","summary":"Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street"},"course":{"value":"51.611571,11.351608;course=170;radius=20;minCourseDistance=500","summary":"Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle"},"name":{"value":"52.510319,13.285616;nameHint=Kaiserdamm","summary":"Setting nameHint to avoid matching to the wrong location"},"displayLocation":{"value":"52.52697,13.42500;displayLocation=52.51885,13.46237","summary":"This coordinate is the location of the POI as shown by the pin on a map."}}},"pedestrianSpeed":{"name":"pedestrian[speed]","description":"Walking speed in meters per second. Influences the duration of walking segments along the route.\n","in":"query","schema":{"$ref":"#/components/schemas/PedestrianSpeed"}},"rerouting":{"name":"rerouting","description":"Rerouting parameters allow to request a new route calculation based on the route handle.\n\nAll attributes are optional.\n","in":"query","required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Rerouting"}},"return":{"name":"return","description":"Defines which attributes are included in the response as part of data representation of a\n`Route` or `Section`.\n\n* `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.\n   Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified), using the WGS84 coordinate system.\n* `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n* `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.\n* `summary` - Include summary for the section.\n* `travelSummary` - Include summary for the travel portion of the section.\n* `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.\n* `mlDuration` - (Deprecated) No longer returns a value. The parameter is still accepted for backwards compatibility.\n* `typicalDuration` - Include route duration under typical traffic conditions.\n* `elevation` - Include WGS84 elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.\n* `routeHandle` - Encode calculated route and return a handle which can be used with\n  `routes/{routeHandle}` to decode the route at a later point in time.\n* `passthrough` - Include information on passthrough via waypoints in the section.\n* `incidents` - Include a list of all incidents applicable to each section.\n   Returned incidents may be referenced by `incidents` and/or `intersectionIncidents` span parameters.\n   Incidents are localized to the requested language.\n* `routingZones` - Include information about routing zones each section goes through.\n* `truckRoadTypes` - Include information about road types each section goes through.\n* `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing\n  parameters such as vehicle dimensions in the query,\n  e.g `transportMode`, `vehicle[hovOccupancy]`, vehicle[height]. Check the Developer Guide for tutorials on the topic.\n  If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.\n\n  **Note**:\n    - Toll requests support `car` dimensions such as atypical car height and weight, trailers, axle count and vehicle fuel type. However extreme parameter combinations may result in tolls being returned for a different vehicle type (for example, a car with 6 axles will most likely result in truck tolls).\n    Therefore the request will return the most \"typical\" toll cost for the parameters provided.\n    - Tolls are not available in route import service. See [this tutorial](https://docs.here.com/routing/docs/routing-v8-tolls-routeimport) for information on how to request tolls when using route import.\n* `routeLabels` - Include a list of the most important names and route numbers on this route that differentiate it from other alternatives\n* `potentialTimeDependentViolations` - Include info notices for potential time-dependent violations in the sections that match the current vehicle profile, but are not violating the restricted times for the calculated route.\n* `noThroughRestrictions` - Include information about the parts of the route that are not allowed to be driven through, i.e. route can only start, end, or have an intermediate `via` waypoint here.\n\nThe following restrictions apply when specifying the `return` parameter:\n\n* If `actions` is requested, then `polyline` must also be requested as well.\n* If `instructions` is requested, then `actions` must also be requested as well.\n* If `turnByTurnActions` is requested, then `polyline` must also be requested as well.\n* If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well\n","in":"query","schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/Return"}},"style":"form","explode":false},"routeHandle":{"name":"routeHandle","in":"path","description":"Route handle returned from a previous route calculation.\n\nSee `return` parameter of `/routes` endpoint for more information.\n","required":true,"schema":{"type":"string"}},"routeHandleOrigin":{"name":"origin","description":"A location defining the origin of the trip. The origin has to be located along the\npreviously calculated route.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter in `Calculate routes via GET`.\n\nThis parameter supports the same options as the `origin` parameter in `Calculate routes via GET`,\nwith the following exceptions:\n\n## Notes\n\n* `minCourseDistance`: While this parameter can be provided for compatibility reasons,\n  it will not affect the result of a getRoutesByHandle request.\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Waypoint"},"examples":{"coordinate":{"value":"51.611571,11.351608","summary":"A simple WGS84 coordinate"},"side":{"value":"52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always","summary":"Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street"},"course":{"value":"51.611571,11.351608;course=170;radius=20","summary":"Setting course/radius an uncertain GPS coordinate of a moving vehicle"},"name":{"value":"52.510319,13.285616;nameHint=Kaiserdamm","summary":"Setting nameHint to avoid matching to the wrong location"},"displayLocation":{"value":"52.52697,13.42500;displayLocation=52.51885,13.46237","summary":"This coordinate is the location of the POI as shown by the pin on a map."}}},"routingMode":{"name":"routingMode","description":"Specifies which optimization is applied during the calculation.\n\n* `fast`: Route calculation from start to destination optimized by travel time. In many\n  cases, the route returned by `fast` mode may not be the route with the fastest\n  possible travel time. For example, the routing service may favor a route that remains on\n  a highway, even if a faster travel time can be achieved by taking a detour or shortcut\n  through an inconvenient side road.\n* `short`: Route calculation from start to destination disregarding any speed information.\n  In this mode, the distance of the route is minimized, while keeping the route sensible.\n  This includes, for example, penalizing turns. Because of that, the resulting route will\n  not necessarily be the one with minimal distance.\n\nNotes:\n* The following Transport modes only support `fast` routingMode\n  - `bicycle`\n  - `bus`\n  - `pedestrian`\n  - `privateBus`\n  - `scooter`\n  - `taxi`\n  - `networkRestrictedTruck`\n","in":"query","required":false,"schema":{"$ref":"#/components/schemas/RoutingMode"}},"scooter":{"name":"scooter","description":"Scooter-specific parameters.\n  * `allowHighway`: Specifies whether the scooter is allowed on highways or not. This parameter is optional.\n    If not provided, the default is to avoid highways.\n    There is a similar parameter avoid[features]=controlledAccessHighway to disallow highway usage.\n    avoid[features] takes precedence, so if that parameter is also used, scooters are not allowed\n    to use highways even if `allowHighway` is set to `true`.\n    The following values are possible:\n      * `true`: The scooter is allowed to use highways.\n      * `false`: The scooter is not allowed to use highways.\n","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Scooter"}},"spans":{"name":"spans","in":"query","required":false,"description":"Defines which map content attributes are included in the response spans. For example, `attributes,length` will enable the fields `attributes` and `length` in the route response.\nFor more information about the `countryCode` field, see the [ISO standard](https://www.iso.org/obp/ui/#search).\n\nThis parameter also requires that the `polyline` option is set within the `return` parameter.\n\n**NOTE:** Attribute speedLimit is deprecated, use maxSpeed instead. Attribute segmentId is deprecated, use segmentRef instead.\n","style":"form","explode":false,"schema":{"type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/Spans"}}},"taxi":{"name":"taxi","description":"Taxi-specific parameters.\n  * `allowDriveThroughTaxiRoads`: Specifies if a vehicle is allowed to drive through\n    taxi-only roads and lanes. Even if this option is set to `false`, the vehicle is still\n    allowed on taxi-only roads at the start of the route and at the destination.\n","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Taxi"}},"tolls":{"name":"tolls","description":"Defines properties which control toll calculation and reporting in the response.\n","in":"query","required":false,"explode":true,"style":"deepObject","schema":{"$ref":"#/components/schemas/Tolls"}},"traffic":{"name":"traffic","description":"Traffic specific parameters.","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Traffic"}},"transportMode":{"name":"transportMode","description":"Mode of transport to be used for the calculation of the route.\n\nNote:\n`bicycle`, `bus`, `privateBus` and `networkRestrictedTruck` modes are currently provided as Beta, with limited functionality.\nPlease refer to the Developer Guide for more details.\n\n`networkRestrictedTruck` transport mode requires the use of the `networkRestrictedTruck[permittedNetworks]` parameter.\n\nAdditionally, `networkRestrictedTruck` transport mode cannot use any of the following parameters that are otherwise allowed for trucks:\n- `avoid[features]` with any of `tollRoad`, `controlledAccessHighway`, `carShuttleTrain`, `difficultTurns`\n- `avoid[truckRoadTypes]`\n- `vehicle[occupancy]`\n- `vehicle[engineType]`\n- `vehicle[kpraLength]`\n- `vehicle[category]`\n- any `ev[*]` parameters\n- any `fuel[*]` parameters\n","in":"query","required":true,"schema":{"$ref":"#/components/schemas/RouterMode"}},"truck":{"name":"truck","description":"Truck-specific parameters.\n\n**NOTE:** The attribute `truck` is deprecated and should be replaced with `vehicle`.\n","deprecated":true,"in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Truck"}},"units":{"name":"units","description":"Units of measurement used in guidance instructions. The default is `metric`.\n","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Units"}},"vehicle":{"name":"vehicle","description":"Vehicle-specific parameters.\n","in":"query","required":false,"style":"deepObject","explode":true,"schema":{"$ref":"#/components/schemas/Vehicle"}},"via":{"name":"via","description":"A location defining a via waypoint.\n\nA via waypoint is a location between origin and destination. There are two types of via waypoints:\n* `passThrough=false` (default) : The route will stop at the via waypoint, creating a new route section.\n* `passThrough=true` : The route will pass through the via waypoint.\n\nMultiple waypoints can be specified by using multiple via parameters like\n`via=...&via=...`, in which case the route will traverse these waypoints sequentially in\nthe order specified in the request.\n\nFor a description of the format and options for this parameter, please refer to the description of\nthe `origin` parameter.\n`via` supports the same options as the `origin` parameter, with the following exceptions:\n\n## Additional waypoint options:\n* `stopDuration`: desired duration for the stop, in seconds. Must be less than 50000.\n* `passThrough`: boolean. Default value is `false`.\n   Setting to `true` asks the router to avoid the following during route calculation:\n  + Introducing a stop at the waypoint.\n  + Splitting the route into sections.\n  + Changing the direction of travel.\n\n  The following scenarios are not supported for `passThrough` parameter:\n  + Setting both `stopDuration` to a value greater than 0 and `passThrough=true`.\n\n* `charging`: Structured string denoting a user-planned charging stop.\n\n  Format: `charging=(power=<value>;current=<value>;voltage=<value>;supplyType=<value>;minDuration=<value>;maxDuration=<value>)`.\n\n  The properties `power`, `current`, `voltage` and `supplyType` denote the characteristics of the chosen compatible connector at the station. These are all required.\n  `minDuration` and `maxDuration` set the time bounds for the charging time. At least one of them is required. For most use cases we recommend to provide at least `minDuration`.\n  The following are the specifications for the properties:\n  + `power`:        value in kW, type: number. Rated power of the connector.\n  + `voltage`:      value in V, type: number. Rated voltage of the connector.\n  + `current`:      value in A, type: number. Rated current of the connector.\n  + `supplyType`:   one of {\"acSingle\", \"acThree\", \"dc\"} for 1-phase AC, 3-phase AC and DC respectively, type: string.\n  + `minDuration`:  value in seconds, type: int. Minimum time the user expects to charge at the station, including `chargingSetupDuration`. This value takes precedence over the global `maxChargingDuration`.\n  + `maxDuration`:  value in seconds, type: int. Maximum time the user plans to charge at the station, including `chargingSetupDuration`. This value takes precedence over the global `maxChargingDuration`.\n\n  For a user-planned charging stop, the following properties of the `ev` parameter are also required (see documentation for the `ev` parameter):\n  * `initialCharge`\n  * `maxCharge`\n  * `chargingCurve`\n\n  *Notes*:\n    * This option is not supported for pass-through waypoints.\n    * If `makeReachable=true` and `minDuration` is not provided (or if `minDuration=0`), route calculation may suggest not to charge on this station, for example,\n      if a better station is available in the vicinity.\n    * If `stopDuration` is provided then the total time at the stop is the higher of (`stopDuration`, `chargingSetupDuration` + `chargingDuration`).\n    * If charging for `minDuration` would charge above `maxCharge`, the time spent charging is capped by `maxCharge`.\n    * If `stopDuration` or `minDuration` exceed `chargingSetupDuration` + `chargingDuration`, the `waiting` post action duration is set to the remaining time.\n    * If `makeReachable=true` is not set, the target charge is `maxChargeAfterChargingStation`, unless the charging time would be outside of the specified duration range.\n      In such case, the nearest valid value is used.\n    * In getRoutesByHandle requests, the target charge from the original route response is used, unless the charging time would be outside of the specified duration range.\n      In such case, the nearest valid value is used.\n\n* `currentWeightChange`: Changes the value of `vehicle[currentWeight]` by this value. Enables the support of scenarios where the vehicle takes additional cargo or unloads its cargo along the route. Changes to the configuration of the vehicle, such as adding a trailer, aren't supported.\nRelative value in kilograms, beginning with either `+` or `-`. Available range: from -40000 to +40000 (inclusive).\n\n   If this parameter is specified on any of the via waypoints or the request has the `vehicle[currentWeight]` set, the response contains the `currentWeight` value used for each section.\n\n   When this parameter is provided, both `vehicle[currentWeight]` and `vehicle[grossWeight]` must also be provided.\n\n   If the `currentWeight` value falls below 0 due to `currentWeightChange`, the system returns a critical violation notice, but a route is still calculated. The system returns notices only for negative values. Very low positive values are likely invalid, but don't trigger notices since they are greater than 0.\n\n   The `currentWeightChange` value is stored in the `RouteHandle` at each waypoint and can't be changed in `RouteHandle` calculation requests.\n\n* `auxiliaryEnergyConsumption`: value in kWh, type: number. Auxiliary energy consumption during normal stop. This is to specify the expected energy consumption from the vehicle's battery by powered equipment, like a tail-lift used to load/unload goods, during the stop.\n  **Notes:**\n  * Cannot be used with `passThrough=true`\n  * Cannot be used at user-added charging stations.\n","in":"query","allowReserved":true,"style":"form","explode":true,"required":false,"schema":{"type":"array","items":{"$ref":"#/components/schemas/Waypoint"}},"examples":{"coordinate":{"value":"51.611571,11.351608","summary":"A simple WGS84 coordinate"},"side":{"value":"52.531052,13.384872;sideOfStreetHint=52.530941,13.384939;matchSideOfStreet=always","summary":"Populating sideOfStreetHint in addition to location to avoid ending on the wrong side of the street"},"course":{"value":"51.611571,11.351608;course=170;radius=20;minCourseDistance=500","summary":"Setting course/radius/minCourseDistance an uncertain GPS coordinate of a moving vehicle"},"name":{"value":"52.510319,13.285616;nameHint=Kaiserdamm","summary":"Setting nameHint to avoid matching to the wrong location"},"duration":{"value":"51.611571,11.351608!stopDuration=600","summary":"Addition a stopDuration for an intermediate stop"},"pass-through":{"value":"51.611571,11.351608!passThrough=true","summary":"Setting pass-through parameter to avoid possibly making a u-turn for a stop"},"displayLocation":{"value":"52.52697,13.42500;displayLocation=52.51885,13.46237","summary":"This coordinate is the location of the POI as shown by the pin on a map."},"currentWeightChange":{"value":"52.531052,13.384872!currentWeightChange=+500","summary":"Adding a weight of 500 kg to the vehicle for the remainder of the route."},"charging":{"value":"51.611571,11.351608!charging=(power=100;current=250;voltage=400;supplyType=dc;minDuration=1200)","summary":"Waypoint with a 100 kW charging station; charging at this station for at least 20 minutes."}}},"xRequestId":{"name":"X-Request-ID","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"}}},"headers":{"X-Correlation-Id":{"description":"Auto-generated id that univocally identifies the request.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-Id":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information\non how to get an API key, see [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"}},"schemas":{"AccessAttributes":{"description":"Extensible enum: `open` `noThrough` `tollRoad` `...`  \n`AccessAttributes` is applied to a span of a route section and describes access flags of a street.\n\n* `open`: A part of the route that can be traversed.\n* `noThrough`: A part of the route that can only be traversed if origin, destination or any via waypoint is located there.\n* `tollRoad`: Access to this part of the route is restricted with a fee (or toll).\n\nIt is possible that new access attributes may be supported in the future. When encountering unknown access attributes, e.g., in the software parser, it is recommended to ignore them.\n","type":"string","x-extensible-enum":["open","noThrough","tollRoad"]},"Allow":{"type":"object","description":"Explicitly allow features that require users to opt in.","properties":{"hov":{"description":"This parameter specifies whether HOV lanes can be used in the calculation.\n\nAn HOV (High occupancy Vehicle) lane or carpool lane is reserved for carpool usage.\nCarpool lane requires a minimum number of passengers in order for the car to use the\ncarpool lane.\n\n**Notes**:\n- This parameter can't be used with 'vehicle[hovOccupancy]'.\n- This parameter should be used with `vehicle[occupancy]`. If `vehicle[occupancy]` is set, then only HOV lanes allowing this number of occupants will be allowed. If `vehicle[occupancy]` is not set, occupancy requirements are always considered fulfilled.\n- In case of violation, `violatedCarpool` notice will be returned.\n","type":"boolean","default":false},"hot":{"description":"This parameter specifies whether HOT lanes can be used in the calculation.\n\nHOT (high-occupancy toll) lanes are HOV lanes where vehicles that do not qualify as high-occupancy are allowed to pass by paying a toll.\n\n**Notes**:\n- This parameter can't be used with 'vehicle[hovOccupancy]'.\n- This parameter can be used with `allow[hov]`.\n- In case of violation, `violatedCarpool` notice will be returned.\n- No toll information is returned for HOT lanes since it is dynamic information.\n","type":"boolean","default":false}}},"Areas":{"description":"A pipe separated list of user-defined areas that routes should avoid/exclude going through.\n\nNotes:\n* Maximum count of avoided and excluded polygons and corridors is 20.\n* Maximum total count of avoided and excluded bounding boxes, polygons, corridors, including exceptions, is 250.\n\nFormat: `{area1}[!exception1.1[!exception1.2...]]|{area2}[!exception2.1[!exception2.2...]]|{area3}[!exception3.1[!exception3.2...]]...`\n\nSupported areas:\n* Bounding box - A rectangular area on earth defined by a comma separated list of two latitude and two longitude values.\n  - Format: `bbox:{west},{south},{east},{north}`\n    + `{west}`  - Longitude value of the westernmost point of the area.\n    + `{south}` - Latitude value of the southernmost point of the area.\n    + `{east}`  - Longitude value of the easternmost point of the area.\n    + `{north}` - Latitude value of the northernmost point of the area.\n  - Example: `bbox:13.082,52.416,13.628,52.626` - Bounding box of Berlin\n* Polygon - A polygon on earth which defines area.\n  Possible formats:\n  1) As list of geopoints.\n    - Format: `polygon:{lat},{lon};{lat},{lon};{lat},{lon}...`\n      + `{lat}` - Latitude\n      + `{lon}` - Longitude\n    - Example: `polygon:52.416,13.082;52.626,13.628;52.916,13.482` - Polygon in Berlin\n  2) As [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.\n    - Support only 2D polyline (without `elevation` specified).\n    - Format: `polygon:{encoded_polyline}`\n      + `{encoded_polyline}` - encoded [Flexible Polyline](https://github.com/heremaps/flexible-polyline)\n    - Example: `polygon:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e`\n* Corridor - A polyline with a specified radius (integer, in meters) that defines width of corridor area.\n  Possible formats:\n  1) As a list of geopoints that defines a polyline and a radius that defines an area around the polyline.\n    - Format: `corridor:{lat},{lon};{lat},{lon};{lat},{lon}...;r={radius}`\n    - Example: `corridor:52.416,13.082;52.626,13.628;52.916,13.482;r=1000`\n  2) As [Flexible Polyline](https://github.com/heremaps/flexible-polyline) encoding and a radius that defines an area around the polyline.\n    - Supports only 2D polyline (without `elevation` specified).\n    - Format: `corridor:{encoded_polyline};r={radius}`\n      + `{encoded_polyline}` - encoded [Flexible Polyline](https://github.com/heremaps/flexible-polyline)\n    - Example: `corridor:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e;r=1000`\n\n* Exception - area to exclude from avoidance. Any area type can be specified. Any area type can be used as an exception. Multiple exceptions can be specified for each area.\n  - Format: `{area to avoid/exclude}!exception={area}`\n  - Example: `bbox:13.082,52.416,13.628,52.626!exception=polygon:BF05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e!exception=bbox:13.082,52.416,13.628,52.626`\n\n  Notes:\n  * Maximum count of avoided and excluded polygons and corridors is 20.\n  * Maximum total count of avoided and excluded bounding boxes, polygons, corridors, including exceptions, is 250.\n  * Minimum count of coordinates in one polygon is 3\n  * Minimum count of coordinates in any single corridor is 2.\n  * Maximum count of coordinates in one polygon or in one corridor is 100\n  * The polygon is closed automatically, there is no need to duplicate the first point as the last one.\n  * Self-intersecting polygons are not supported.\n","type":"string"},"AttributionLinkType":{"description":"Attribution link type.\n\n* `disclaimer` - Page with further legal information from the agency.\n* `tariff` - Page with information on the tariff.\n","type":"string","enum":["disclaimer","tariff"]},"AxleGroupWeight":{"type":"object","description":"Contains the maximum allowed weight for an axle-group.\n","properties":{"maxWeight":{"description":"Maximum weight of the axle-group-weight restriction, in kilograms.","type":"integer","format":"int32","minimum":0},"axleGroup":{"description":"Extensible enum: `single` `tandem` `triple` `quad` `quint` `...`  \nAxle-group associated with the restriction.\n\nPossible values are:\n\n* single\n* tandem\n* triple\n* quad\n* quint\n","type":"string","x-extensible-enum":["single","tandem","triple","quad","quint"]}}},"BaseNoticeDetail":{"type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n"}},"required":["type"]},"BoundingBoxArea":{"type":"object","description":"A bounding box defined by two longitudes and two latitudes.","required":["type","north","south","west","east"],"properties":{"type":{"type":"string","example":"boundingBox"},"north":{"description":"Latitude in WGS-84 degrees of the northern boundary of the box.","type":"number","minimum":-90,"maximum":90,"example":30},"south":{"description":"Latitude in WGS-84 degrees of the southern boundary of the box.","type":"number","minimum":-90,"maximum":90,"example":30},"east":{"description":"Longitude in WGS-84 degrees of the eastern boundary of the box","type":"number","minimum":-180,"maximum":180,"example":30},"west":{"description":"Longitude in WGS-84 degrees of the western boundary of the box.","type":"number","minimum":-180,"maximum":180,"example":30}}},"CO2Emission":{"type":"number","description":"Estimation of the carbon dioxide emission for the given route section. Unit is kilograms with precision to three decimal places.\n\nDefinitions:\n\n* Total Emission (Well-to-Wheel) = Production Emission (Well-to-Tank) + Operational Emission (Tank-to-Wheel)\n* CO2 Equivalent Emission (CO2e for CH4, N2O, etc.) = Gas Emission * Global Warming Potential (GWP)\n\n**Notes:**\n\n* This value represents the operational (tank-to-wheel) carbon dioxide emission.\n* This value represents only the carbon dioxide emission and does not represent the carbon dioxide equivalent emission for other gases or particulates.\n"},"ChargePointOperator":{"type":"object","description":"Information about the charging station charge-point-operator","properties":{"id":{"description":"Charging station charge-point-operator ID.\n","type":"string"},"name":{"description":"Charge-point-operator name","type":"string"}}},"ChargingConnectorType":{"description":"Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo` `tesla` `saeJ3400` `gbtDc` `unknown` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:  Type 1 Combo connector, commonly called \"CCS1\"\n* `iec62196Type2Combo`:  Type 2 Combo connector, commonly called \"CCS2\"\n* `chademo`: CHAdeMO connector\n* `tesla`: North American Charging Standard (NACS) connector. This connector type is deprecated. Return value used instead of `saeJ3400` when the user specifies the deprecated value `tesla` in `ev[connectorTypes]`\n* `saeJ3400`: North American Charging System (NACS) connector\n* `gbtDc`: GB/T Guobiao GB/T 20234.3 DC connector\n* `unknown`: Connector type is not known, e.g., if station is provided by user in request\n","type":"string","x-extensible-enum":["iec62196Type1Combo","iec62196Type2Combo","chademo","tesla","saeJ3400","gbtDc","unknown"]},"ChargingStationBrand":{"type":"object","description":"Information regarding the charging station brand","properties":{"name":{"description":"Charging station brand name","type":"string"},"hrn":{"description":"Charging station brand unique ID.\nIf specified in `ev[preferredBrands]` parameter\nthen it would apply preference to adding stations of the given brand.\n\n**NOTE:** As of now it is generated as a brand name hash.\n","type":"string"}}},"ChargingSupplyType":{"description":"Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n* `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current supply\n","type":"string","x-extensible-enum":["acSingle","acThree","dc"]},"Color":{"type":"string","pattern":"#[0-9A-Fa-f]{6}","example":"#FF0000"},"Consumption":{"type":"number","description":"Energy or fuel consumption.\nFor EV energy consumption is in kilowatt hours (kWh). For fuel-based vehicles fuel consumption is in Liters (L) for diesel, petrol and LPG vehicles, and Kilograms (kg) for CNG vehicles.\n"},"ConsumptionModel":{"description":"Extensible enum: `empirical` `physical` `...`  \nSpecifies which of the EV consumption models is being used. See the `ev` parameter for details on the models.\n\n* `empirical`\n* `physical`\n","type":"string","default":"empirical","x-extensible-enum":["empirical","physical"]},"ConsumptionSpeedTable":{"type":"string","description":"Function curve specifying consumption rate at a given speed.\n\nThe format of the string is a comma-separated list of numbers, as follows:\n\n```\n<SPEED_0>,<CONSUMPTION_0>,<SPEED_1>,<CONSUMPTION_1>,...,<SPEED_N>,<CONSUMPTION_N>\n```\n\nwhere speed values are strictly increasing, non-negative integers in units of (km/h), and\nconsumption values are non-negative floating point values.\n\n* Unit for EV:\n| Vehicle Type | Unit |\n|--------------|------|\n| Electric | Wh/m i.e., Watt-hours per meter|\n\n* Units for Fuel-based vehicles:\n| Vehicle Type | Unit |\n|--------------|------|\n| Diesel, Petrol & LPG | ml/m i.e., milliliters per meter|\n| CNG | gm/m i.e., grams per meter|\n\nThe function is linearly interpolated between data points. For speeds less than `SPEED_0`\nthe value of the function is `CONSUMPTION_0`, and for speeds greater than `SPEED_N` the\nvalue of the function is `CONSUMPTION_N`.\n","example":"0,0.2394,14,0.2394,36,0.2586,52,0.196,68,0.2074,83,0.238,95,0.2597,105,0.2597,115,0.2964,125,0.3367,135,0.3508"},"ConsumptionType":{"description":"Extensible enum: `electric` `diesel` `petrol` `lpg` `cng` `lng` `ethanol` `propane` `hydrogen` `...`  \nVehicle consumption type. The energy or fuel consumption type (electric, diesel, petrol, lpg, cng, etc.)\nof a vehicle which provides the relevant information required to parse (unit, etc.) the energy or fuel\n`consumption` value of a vehicle.\n","type":"string","x-extensible-enum":["electric","diesel","petrol","lpg","cng","lng","ethanol","propane","hydrogen"]},"Coordinate":{"type":"object","required":["lat","lng"],"properties":{"lat":{"type":"number","format":"double","description":"Latitude in WGS-84 degrees."},"lng":{"type":"number","format":"double","description":"Longitude in WGS-84 degrees."}},"example":{"lat":52.53787,"lng":13.40896}},"CountryCode":{"description":"ISO-3166-1 alpha-3 code","type":"string","example":"FRA","minLength":3,"maxLength":3},"CustomizationHRN":{"description":"HERE Resource Name identifier for customization. This HRN must follow a convention below: hrn:here:<service_id>::<customer-realm-id>:custom:<customization_type>:<customization_id>.","type":"string","pattern":"^hrn:here:[a-z]+::[a-z|-]+:custom:[a-z|-]+$","example":"hrn:here:routing::olp-abc:custom:extension-map:abc-yard-routing"},"DataVersion":{"type":"object","description":"Version of a specific data set","properties":{"name":{"type":"string","description":"Identifies a data set, for example, a HRN, or a service specific identifier","example":"optimized-map-for-routing"},"version":{"type":"string","description":"The current version of this data set","example":"2022.346.5.48"}},"required":["name","version"]},"Distance":{"type":"integer","minimum":0,"description":"Distance in meters.","example":189},"Driver":{"type":"object","description":"Driver parameters to be used for calculating routes with automatically added\nrest stops.\n","properties":{"schedule":{"type":"string","description":"A comma separated list of duration pairs in seconds. Each pair is two positive non-zero integers.\nThe first specifies the maximum allowed drive duration before stopping to rest, and the second the resting duration before continuing driving.\n\nFormat `driveDuration,restDuration[,driveDuration,restDuration]...`\n\n* driveDuration - duration in seconds, describes maximum driving duration allowed in a route's section\n  till the next stop or route end. Minimum value is 240.\n* restDuration - duration in seconds, describes minimum resting duration required before continuing driving\n\nThe routing engine adds necessary stops for rest to fulfill driver work hours requirements.\nIf the route duration exceeds the defined drive-rest sequence the remaining route is added as the last drive section\n(or several sections if there are `via` waypoints on the remaining route) with critical notice `travelTimeExceedsDriverWorkHours`.\n\n**Limitations**:\n* `driver[schedule]` is only supported for `truck`, `bus` and `privateBus` transport modes.\n* `driver[schedule]` is not supported in combination with any of these parameters: `arrivalTime`, `ev[*]`.\n* `driver[schedule]` doesn't support route alternatives. So `alternatives` parameter value is ignored in combination with `driver[schedule]`.\n* Ferry travel, boarding, and deboarding durations are neither considered part of drive duration nor rest duration unless ferry\n  travel duration is below 15 minutes. In this case, ferry travel duration is considered as drive duration.\n* Via waypoint stop-durations are neither considered part of drive duration nor rest duration.\n* Routing requires a minimum driving duration (`driveDuration`) of 240 seconds before a rest stop.\n"}}},"Duration":{"type":"integer","description":"Duration in seconds.","example":198},"EMobilityServiceProvider":{"type":"object","description":"Information about E-Mobility Service Provider","properties":{"id":{"description":"E-Mobility Service Provider ID","type":"string"},"name":{"description":"E-Mobility Service Provider name","type":"string"}}},"EVPost":{"type":"object","properties":{"preferredBrands":{"description":"An array of charging station brand IDs. If `makeReachable` is set to `true`, then charging stations from the specified brands\nwill be preferred as potential charging stops, even if this makes the total route duration (travel time plus charging time) longer (up to 15 minutes per charging stop)\n\nExample of a parameter value preferring two charging station brands:\n```\n  {\n    \"preferredBrands\": [\n      \"6e1a148e8ddf06f613599134197b7c1c\",\n      \"6211c90a063d36429b599dda79ae85e3\"\n    ]\n  }\n  ```\n","type":"array","items":{"type":"string"},"deprecated":true},"preferredChargePointOperators":{"description":"An array of charge-point-operator identifiers. If `makeReachable` is set to `true`, then charging stations with one\nof the listed charge-point-operator ids will be preferred as potential charging stops, even if this makes the total\nroute duration (travel time plus charging time) longer (up to 15 minutes per charging stop)\n\nExample with two preferred charge-point-operators specified:\n  ```\n  {\n    \"preferredChargePointOperators\": [\n      \"1f608648-cca5-11ed-bb1e-42010aa40002\",\n      \"1f90fdf0-cca5-11ed-be23-42010aa40002\"\n    ]\n  }\n  ```\n","type":"array","items":{"type":"string"}}}},"EncodedCorridorArea":{"type":"object","description":"A polygon defined as a [Flexible Polyline](https://github.com/heremaps/flexible-polyline) encoded string\nand with a specified radius that defines an area.\n","required":["type","polyline","radius"],"properties":{"type":{"type":"string","example":"encodedCorridor"},"polyline":{"type":"string","description":"[Flexible Polyline](https://github.com/heremaps/flexible-polyline) that defines a supporting structure for a corridor.\nNotes:\n* Support only 2D polyline (without `elevation` specified).\n* Minimum count of vertices in polyline is 2.\n* Maximum count of vertices in polyline is 100.\n","example":"BFoz5xJ67i1B1B7PzIhaxL7Y"},"radius":{"type":"integer","description":"The width in meters of the corridor determines the outline of the polygon.","minimum":1,"maximum":1000}}},"EncodedPolygonArea":{"type":"object","description":"A polygon defined as a [Flexible Polyline](https://github.com/heremaps/flexible-polyline) encoded string.\n\nThe polygon is automatically closed, so repeating the first vertex is not required.\n","required":["type","outer"],"properties":{"type":{"type":"string","example":"encodedPolygon"},"outer":{"type":"string","description":"[Flexible Polyline](https://github.com/heremaps/flexible-polyline) that defines the outline of the polygon.\nNotes:\n* Support only 2D polyline (without `elevation` specified).\n* Minimum count of vertices in polygon is 3.\n* Maximum count of vertices in polygon is 16.\n","example":"BFoz5xJ67i1B1B7PzIhaxL7Y"}}},"ErrorResponse":{"type":"object","description":"Response in case of error","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.\n\nAll error codes start with \"`E60`\".\n","example":"E600101"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that univocally identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"FarePassValidityPeriod":{"type":"object","description":"Specifies a temporal validity period for a pass","properties":{"period":{"description":"Extensible enum: `annual` `extendedAnnual` `minutes` `days` `months` `...`  \nSpecifies one of the following validity periods:\n  - `annual`: pass is valid from Jan 1 to Dec 31\n  - `extendedAnnual`: pass is valid from Jan 1 to Jan 31 of the following year\n  - `minutes`: pass is valid for a specified number of minutes See `unit`.\n  - `days`: pass is valid for a specified number of days. See `unit`.\n  - `months`: pass is valid for a specified number of months. See `unit`.\n","type":"string","x-extensible-enum":["annual","extendedAnnual","minutes","days","months"]},"count":{"description":"Required if period is `minutes`, days` or `months`, it specifies how many of these units are covered by the pass.","type":"integer"}},"required":["period"]},"FuelType":{"description":"Extensible enum: `diesel` `petrol` `lpg` `cng` `lng` `ethanol` `propane` `hydrogen` `...`  \nVehicle fuel type. It is mandatory for calculation of consumption and CO2 emission.\n","type":"string","x-extensible-enum":["diesel","petrol","lpg","cng","lng","ethanol","propane","hydrogen"]},"FunctionalClass":{"description":"Functional class defines a hierarchical network used to determine a logical and efficient route. The following classifications are used:\n\n* `1`: Roads that allow for high volume, maximum speed traffic movement between and through major metropolitan areas.\n* `2`: Roads that are used to channel traffic to functional class 1 roads for travel between and through cities in the shortest amount of time.\n* `3`: Roads that intersect functional class 2 roads and provide a high volume of traffic movement at a lower level of mobility than functional class 2 roads.\n* `4`: Roads that provide for a high volume of traffic movement at moderate speeds between neighborhoods.\n* `5`: Roads with volume and traffic movement below the level of any other functional class.\n","type":"integer","format":"int32","minimum":1,"maximum":5},"Gate":{"description":"Extensible enum: `keyAccess` `permissionRequired` `emergency` `...`  \nType of gate crossing.\n","type":"string","x-extensible-enum":["keyAccess","permissionRequired","emergency"]},"HazardousGoodsRestriction":{"description":"Extensible enum: `explosive` `gas` `flammable` `combustible` `organic` `poison` `radioactive` `corrosive` `poisonousInhalation` `harmfulToWater` `other` `...`  \nHazardous goods restrictions refer to the limitations and regulations imposed on the transportation of specific types of hazardous materials during a trip. The following categories of hazardous goods are commonly considered:\n\n* `explosive`: Materials that are capable of causing an explosion\n* `gas`: Gas (definition varies from country to country). For details, check [here](https://en.wikipedia.org/wiki/HAZMAT_Class_2_Gases)\n* `flammable`: Materials that are easily ignited and capable of catching fire.\n* `combustible`: Materials that have the potential to burn or catch fire.\n* `organic`: Materials derived from living organisms or containing carbon compounds.\n* `poison`: Substances that can cause harm or death when ingested, inhaled, or absorbed.\n* `radioactive`: Materials that emit radiation and pose potential health risks.\n* `corrosive`: Substances that can cause damage or destruction through chemical reactions.\n* `poisonousInhalation`: Materials that are toxic when inhaled.\n* `harmfulToWater`: Materials that can cause pollution or harm to water bodies.\n* `other`: Other types of hazardous materials not covered by the above categories\n","type":"string","x-extensible-enum":["explosive","gas","flammable","combustible","organic","poison","radioactive","corrosive","poisonousInhalation","harmfulToWater","other"]},"HazardousGoodsRestrictionAny":{"description":"Indicates that all hazardous goods are subject to restrictions during the trip.","type":"string","enum":["any"],"example":"any"},"HovAttributes":{"description":"`hovAttributes` is applied to a span of a route section and indicates the presence of usable HOV lanes on the span.\n\nAdditional HOV-attributes may be supported in the future. When encountering unknown HOV-attributes, e.g., in the software parser, it is recommended to ignore them.\n","type":"object","properties":{"usableHovLane":{"type":"boolean","default":false,"description":"Span has an HOV lane usable by the vehicle for which the route was requested at the\ntime of traversal of the span.\n\n**Notes**:\n- If `allow[hot]` is specified, then lanes that would require toll to be paid to use will be marked with `usableHovLane`.\n- It is not guaranteed that the HOV lane is connected to the route.\n\n**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**\n"}}},"LicensePlateRestrictionType":{"description":"Extensible enum: `lastCharacter` `...`  \nSpecifies the components of the vehicle license plate\nconsidered for the restriction.\n","type":"string","x-extensible-enum":["lastCharacter"]},"LocalizedString":{"type":"object","description":"String with optional language code.","properties":{"value":{"description":"String written in the language specified in the language property.","type":"string"},"language":{"description":"Language in BCP47 format","type":"string"}},"required":["value"],"example":{"value":"Invalidenstraße","language":"de"}},"Location":{"type":"object","description":"Location on the Earth","properties":{"lat":{"description":"Location of a point on the Earth north or south of the equator in decimal degrees.","type":"number","format":"double","example":52.531677},"lng":{"description":"Location of a place on the Earth east or west of the prime meridian in decimal degrees.","type":"number","format":"double","example":13.381777},"elv":{"description":"Ellipsoid(geodetic) height in meters. Difference between the WGS84 ellipsoid and a point on the Earth’s surface.\nNote: Similar elevation can be obtained from a GPS receiver.\n","type":"number","example":512.5}},"example":{"lat":52.531677,"lng":13.381777},"required":["lat","lng"]},"MatchTracePoint":{"type":"object","description":"GPS probe point with parameters relevant to path or route matching","properties":{"lat":{"description":"Latitude in degrees","type":"number","format":"double"},"lng":{"description":"Longitude in degrees","type":"number","format":"double"}},"required":["lat","lng"]},"MaxSpeed":{"description":"Speed in meters per second, or \"unlimited\" indicating that the speed is unlimited, e.g., on a German autobahn","oneOf":[{"type":"number","minimum":0},{"type":"string","enum":["unlimited"]}]},"MaxSpeedOnSegment":{"type":"string","description":"A comma separated list of segments with restrictions on maximum baseSpeed.\n\nEach entry has the following structure:\n`{segmentId}(#{direction})?;speed={maxBaseSpeed}`\n\nThe individual parts are:\n* segmentId: The identifier of the referenced topology segment inside the catalog, example: `here:cm:segment:207551710`\n* direction (optional): Either '*' for bidirectional (default), '+' for positive direction, or '-' for negative direction\n* maxBaseSpeed: New value in m/s of baseSpeed on segment\n\nExample of a parameter value excluding two segments:\n`here:cm:segment:207551710#+;speed=10,here:cm:segment:76771992;speed=1`\n\n**Notes**:\n- It does not increase default baseSpeed on segment. If the value is greater than the default base speed, then such penalty will have no effect.\n- Minimum valid value for speed is 1\n- Using segments with a modified base speed does not trigger any notifications\n- Maximum number of penalized segments in one request cannot be greater than 1000.\n  \"penalized segments\" refer to segments that have a restrictions on maximum baseSpeed with `maxSpeedOnSegment`\n  or avoided with `avoid[segments]`\n- In case the same segment is penalized multiple times through values provided in the query string and/or the POST body,\n  then the most restrictive value will be applied.\n"},"MaxSpeedOnSegmentPost":{"type":"array","items":{"type":"object","properties":{"segment":{"type":"string","description":"Identifier of the segment with restrictions on maximum `baseSpeed`.\n\nEach entry has the following structure:\n`{segmentId}(#{direction})?`\n"},"speed":{"type":"number","minimum":1,"maximum":70,"description":"Maximum `baseSpeed` on segment in m/s.\n"}}},"description":"Segments with restrictions on maximum `baseSpeed`.\n\nFor the general description of the functionality please refer to the `maxSpeedOnSegment` parameter of the\nquery string.\n\nPassing parameters in the POST body is suggested when the length of the parameters exceeds the\nlimitation of the GET request.\n\nExample of a parameter value excluding two segments:\n```\n[\n  {\n    \"segment\": \"here:cm:segment:207551710#+\",\n    \"speed\": 10\n  },\n  {\n    \"segment\": \"here:cm:segment:76771992\",\n    \"speed\": 1\n  }\n]\n```\n\n**Notes**:\n- Maximum number of penalized segments in one request cannot be greater than 1000.\n  \"penalized segments\" refer to segments that have a restrictions on maximum baseSpeed with `maxSpeedOnSegment`\n  or avoided with `avoid[segments]`.\n- In case the same segment is penalized multiple times through values provided in the query string and/or the POST body,\n  then the most restrictive value will be applied.\n"},"NetworkRestrictedTruck":{"description":"A truck transport mode with additional restrictions on the road networks that can be used for routing. The road networks are defined via the `permittedNetworks` parameter.\n","type":"object","properties":{"permittedNetworks":{"description":"**Disclaimer: This parameter is currently in beta release, and is therefore subject to breaking changes.**\n\nSpecifies a list of road networks permitted to be used. These road networks are considered mandatory and will be used as much as possible.\n\nA pipe-separated list of colon-separated country, state, and road network codes.\n\nThe general format of each entry is `{country}:{state}[,state]...:{network}[,network]...`, where\n  + `{country}` - Country code according to (ISO 3166-1 alpha-3)\n  + `{state}`   - State code part according to (ISO 3166-2)\n  + `{network}`  - Network code according to the information below\n\nFor countries with only countrywide networks, the state part is omitted, and the format is simply `{country}:{network}[,network]...`.\n\nThe maximum number of entries is 100.\nThe maximum number of states per entry is 8.\nThe maximum number of networks per entry is 15.\n\nThe table below specifies the currently supported networks. In case a network is defined countrywide, the `State` column shows `N/A`:\n\n| Country | State | Network codes                                                                                         |\n| ------- | ----- | ----------------------------------------------------------------------------------------------------- |\n| AUS     | ACT   | bDouble26Gml, bDouble26Hml, pbs2A                                                                     |\n| AUS     | NSW   | bDouble19, bDouble23Gml, bDouble26Gml, bDouble26Hml, bTripleGml, pbs2A                                |\n| AUS     | NT    | bDouble26Hml, bTripleGml                                                                              |\n| AUS     | QLD   | bDouble23Gml, bDouble23Hml, bTripleGml, bTripleHml, pbs2A, pbs3A, pbs3B, pbs4A                        |\n| AUS     | SA    | bDouble23Gml, bDouble23Hml, bDouble26Gml, bDouble26Hml, bTripleGml, pbs2A, pbs2B, pbs3A, pbs3B, pbs4A |\n| AUS     | TAS   | bDouble23Gml, bDouble26Gml, bDouble26Hml, pbs2A, pbs2B                                                |\n| AUS     | VIC   | bDouble26Gml, bDouble26Hml, bTripleGml, pbs2A, pbs2B                                                  |\n| AUS     | WA    | bDouble27Dot5, bTripleGml, pbs2B, pbs3B                                                               |\n| NZL     | N/A   | fiftyMax, hpmv                                                                                        |\n","type":"string","example":"NZL:hpmv,fiftyMax|AUS:NSW:bDouble23Gml,bTripleGml|AUS:NSW,QLD:pbs2A|AUS:NSW,VIC:bDouble26Hml,pbs2A"}},"required":["permittedNetworks"]},"NoticeSeverity":{"description":"Describes the impact a notice has on the resource to which the notice is attached.\n* critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.\n* info - The notice is for informative purposes, but does not affect usability of the route.\n","type":"string","enum":["critical","info"]},"ParkingLotPlaceType":{"description":"Extensible enum: `parkAndRide` `...`  \nCurrently possible values are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\",\n  such as it is a parking specifically designed to allow transition between car and transit.\n","type":"string","x-extensible-enum":["parkAndRide"]},"PartialTime":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by `partial-time`.","pattern":"^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$","example":"08:30:00"},"PaymentMethod":{"description":"Extensible enum: `cash` `bankCard` `creditCard` `passSubscription` `transponder` `videoToll` `cashExact` `travelCard` `...`  \nRecognized methods of payment.\n","type":"string","x-extensible-enum":["cash","bankCard","creditCard","passSubscription","transponder","videoToll","cashExact","travelCard"]},"PedestrianSpeed":{"description":"Pedestrian speed in meters per second","type":"number","minimum":0.5,"maximum":2,"default":1},"PermittedNetworks":{"description":"** Disclaimer: This object is currently in beta release, and is therefore subject to breaking changes.**\nThis span contains information about the `networkRestrictedTruck` tranport mode related networks.\n\n**Note:** Only supported in `networkRestrictedTruck` (Beta) transport mode.\n","type":"object","properties":{"offPermittedNetworks":{"description":"Indicates that the span is not covered by any of the networks specified in the `permittedNetworks` parameter.","type":"boolean","default":false}}},"Polyline":{"type":"string","description":"Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) format. Coordinates are in the WGS84 coordinate system, including `Elevation` (if present).","example":"A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e"},"RailwayCrossing":{"description":"Extensible enum: `protected` `unprotected` `unknown` `...`  \nType of railway crossing.\n","type":"string","x-extensible-enum":["protected","unprotected","unknown"]},"RefReplacements":{"description":"Dictionary of placeholders to replacement strings for the compact representation of map entity references.\n","type":"object","additionalProperties":{"type":"string"}},"ReroutingMode":{"description":"Defines what kind of additional route calculation should be done.\n\n* `none` - Cuts off route before the current position. Updates dynamic attributes of the\nroute after the current position. If the current position, i.e., the new `origin`, is defined and is\noutside of the original route then the request will fail. If both `origin` and\n`lastTraveledSectionIndex` or `traveledDistanceOnLastSection` are provided then\n`lastTraveledSectionIndex` and `traveledDistanceOnLastSection` will be applied first, and\nthen `origin` will be matched to the part of the route that's left. This is the default behavior.\n* `returnToRoute` - Same as `none` if current position is on the route. If the current\nposition is not on the original route then a new route to the destination will be\ncalculated, starting from the current position. The new route will try to preserve the shape\nof the original route, if possible. If a new optimal route is found before a route back to\nthe original route then the new route will be returned.\n","type":"string","enum":["none","returnToRoute"]},"Return":{"description":"Defines which attributes are included in the response as part of data representation of a\n`Route` or `Section`.\n\n* `polyline` - Polyline for the route in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) Encoding.\n   Either a 2D polyline (without `elevation` specified), or a 3D polyline with the 3rd dimension type `Elevation` (with `elevation` specified), using the WGS84 coordinate system.\n* `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n* `instructions` - Include instructions in returned actions. Instructions are localized to the requested language.\n* `summary` - Include summary for the section.\n* `travelSummary` - Include summary for the travel portion of the section.\n* `turnByTurnActions` - Include all information necessary to support turn by turn guidance to complete the section.\n* `mlDuration` - (Deprecated) No longer returns a value. The parameter is still accepted for backwards compatibility.\n* `typicalDuration` - Include route duration under typical traffic conditions.\n* `elevation` - Include WGS84 elevation information in coordinate and geometry types. See e.g. `polyline` or `location`.\n* `routeHandle` - Encode calculated route and return a handle which can be used with\n  `routes/{routeHandle}` to decode the route at a later point in time.\n* `passthrough` - Include information on passthrough via waypoints in the section.\n* `incidents` - Include a list of all incidents applicable to each section.\n   Returned incidents may be referenced by `incidents` and/or `intersectionIncidents` span parameters.\n   Incidents are localized to the requested language.\n* `routingZones` - Include information about routing zones each section goes through.\n* `truckRoadTypes` - Include information about road types each section goes through.\n* `tolls` - Include information about the tolls to be paid, per section, according to the `tolls` parameter and other toll-influencing\n  parameters such as vehicle dimensions in the query,\n  e.g `transportMode`, `vehicle[hovOccupancy]`, vehicle[height]. Check the Developer Guide for tutorials on the topic.\n  If tolls cannot be calculated for a section, it will contain the `tollsDataUnavailable` notice code.\n\n  **Note**:\n    - Toll requests support `car` dimensions such as atypical car height and weight, trailers, axle count and vehicle fuel type. However extreme parameter combinations may result in tolls being returned for a different vehicle type (for example, a car with 6 axles will most likely result in truck tolls).\n    Therefore the request will return the most \"typical\" toll cost for the parameters provided.\n    - Tolls are not available in route import service. See [this tutorial](https://docs.here.com/routing/docs/routing-v8-tolls-routeimport) for information on how to request tolls when using route import.\n* `routeLabels` - Include a list of the most important names and route numbers on this route that differentiate it from other alternatives\n* `potentialTimeDependentViolations` - Include info notices for potential time-dependent violations in the sections that match the current vehicle profile, but are not violating the restricted times for the calculated route.\n* `noThroughRestrictions` - Include information about the parts of the route that are not allowed to be driven through, i.e. route can only start, end, or have an intermediate `via` waypoint here.\n\nThe following restrictions apply when specifying the `return` parameter:\n\n* If `actions` is requested, then `polyline` must also be requested as well.\n* If `instructions` is requested, then `actions` must also be requested as well.\n* If `turnByTurnActions` is requested, then `polyline` must also be requested as well.\n* If at least one attribute is requested within the `spans` parameter, then `polyline` must be request as well\n","type":"string","enum":["polyline","actions","instructions","summary","travelSummary","mlDuration","typicalDuration","turnByTurnActions","elevation","routeHandle","passthrough","incidents","routingZones","truckRoadTypes","tolls","routeLabels","potentialTimeDependentViolations","noThroughRestrictions"]},"RoadInfoType":{"description":"Type of the road (rural, urban, highway)","type":"string","enum":["rural","urban","highway"],"default":"urban"},"RoundaboutAngle":{"description":"The degree measure of the arc traversed from the roundabout entrance to the exit of the maneuver.\n\nAvailable only for exit roundabout actions. Positive values indicate an exit angle\nfor a right-hand side driving roundabout and negative values indicate an exit angle\nfor a left-hand side driving roundabout.\n","type":"number","format":"double","minimum":-360,"maximum":360,"example":204.83},"RouterMode":{"description":"Mode of transport to be used for route calculation.","type":"string","enum":["car","truck","pedestrian","bicycle","scooter","taxi","bus","privateBus","networkRestrictedTruck"]},"RoutingMode":{"description":"Specifies which optimization is applied during the calculation.\n\n* `fast`: Route calculation from start to destination optimized by travel time. In many\n  cases, the route returned by `fast` mode may not be the route with the fastest\n  possible travel time. For example, the routing service may favor a route that remains on\n  a highway, even if a faster travel time can be achieved by taking a detour or shortcut\n  through an inconvenient side road.\n* `short`: Route calculation from start to destination disregarding any speed information.\n  In this mode, the distance of the route is minimized, while keeping the route sensible.\n  This includes, for example, penalizing turns. Because of that, the resulting route will\n  not necessarily be the one with minimal distance.\n\nNotes:\n* The following Transport modes only support `fast` routingMode\n  - `bicycle`\n  - `bus`\n  - `pedestrian`\n  - `privateBus`\n  - `scooter`\n  - `taxi`\n  - `networkRestrictedTruck`\n","type":"string","enum":["fast","short"],"default":"fast"},"RoutingZoneReference":{"description":"A reference to a routing zone in HMC.\n\nThe standard representation of a routing zone referen
[...]
