{"openapi":"3.0.2","info":{"title":"Intermodal Routing API v8","version":"8.0.1","description":"Intermodal Routing is a REST API that offers an innovative and smart routing\nexperience in urban areas to navigate between a given pair of locations.\nThis is possible when the consolidated public transit offer is intertwined\nwith external mobility services dynamically scattered in urban areas.\n","termsOfService":"https://legal.here.com/en-gb/terms","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"servers":[{"url":"https://intermodal.router.hereapi.com/v8","description":"Intermodal Routing Service"}],"security":[{"Bearer":[]},{"ApiKey":[]}],"paths":{"/routes":{"get":{"operationId":"Intermodal Routing API v8 getIntermodalRoutes","summary":"Routes","tags":["Intermodal Routing"],"description":"Lists intermodal routes.\nAll or a combination of the following services may be utilized by the\nintermodal algorithm to generate intermodal routes:\n\n* Vehicle routing.\n* Intermodal routing with real-time and timetable departures.\n* Pedestrian routing with pedestrian connectivity.\n* Park and Ride service that combines vehicle and public transit routing.\n* Real-time traffic and traffic incidents.\n* Public transit service delays/disruptions information from transit authorities.\n* Amenities available at transit stations or nearby (such as parking, EV charging stations, etc.).\n* Sharing services available at transit stations or nearby (such as car sharing, taxi, bicycle, etc.).\n","parameters":[{"$ref":"#/components/parameters/origin"},{"$ref":"#/components/parameters/destination"},{"$ref":"#/components/parameters/intermodalVia"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/departureTime"},{"$ref":"#/components/parameters/arrivalTime"},{"$ref":"#/components/parameters/alternatives"},{"$ref":"#/components/parameters/changes"},{"$ref":"#/components/parameters/accessibility"},{"$ref":"#/components/parameters/pedestrianSpeed"},{"$ref":"#/components/parameters/pedestrianMaxDistance"},{"$ref":"#/components/parameters/bicycleMinDistance"},{"$ref":"#/components/parameters/bicycleMaxDistance"},{"$ref":"#/components/parameters/kickScooterMinDistance"},{"$ref":"#/components/parameters/kickScooterMaxDistance"},{"$ref":"#/components/parameters/transitModes"},{"$ref":"#/components/parameters/transitEnable"},{"$ref":"#/components/parameters/vehicleModes"},{"$ref":"#/components/parameters/vehicleEnable"},{"$ref":"#/components/parameters/taxiModes"},{"$ref":"#/components/parameters/taxiEnable"},{"$ref":"#/components/parameters/rentedModes"},{"$ref":"#/components/parameters/rentedEnable"},{"$ref":"#/components/parameters/transitReturn"},{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"API response in case of success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/IntermodalRouteResponse"}}},"headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}}},"400":{"$ref":"#/components/responses/400ErrorResponseWithRequestID"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/403ErrorResponseWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/health":{"get":{"operationId":"Intermodal Routing API v8 getHealth","summary":"Health","tags":["API Information"],"description":"Returns the health of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/HealthResponseOkWithRequestID"},"default":{"$ref":"#/components/responses/HealthResponseFailWithRequestID"}}}},"/version":{"get":{"operationId":"Intermodal Routing API v8 getVersion","summary":"Version","tags":["API Information"],"description":"Returns the version of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/VersionResponseOkWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/openapi":{"get":{"summary":"Retrieves this API specification in OpenAPI 3 format","operationId":"Intermodal Routing API v8 getOpenapi","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"$ref":"#/components/responses/OpenApiResponseOk"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}}},"components":{"parameters":{"accessibility":{"name":"accessibility","description":"Defines accessibility requirements for routes.\n\n * `wheelchair` - Select only wheelchair accessible vehicles and stations.\n","in":"query","schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["wheelchair"]}},"style":"form","explode":false},"alternatives":{"name":"alternatives","description":"Number of alternative routes to return aside from the optimal route. By default, `alternatives=0` is assumed and only one optimal route is returned. In cases where also a pedestrian route is available it will be also returned. This may lead to two routes being returned in total (one transit route and one pedestrian route) even though only one is expected when `alternatives=0` is given.\n","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":5,"default":0}},"arrivalTime":{"name":"arrivalTime","description":"Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to the local time at destination. When the optional timezone offset is\nnot specified, time is assumed to be local.\nAll `Time` values in the response are returned in the timezone of each location.\n\nNote : The following features do not support the arrivalTime parameter:\n* EV Routing\n* Route Handle\n* Route Import\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Time"}},"bicycleMaxDistance":{"name":"bicycle[maxDistance]","description":"Maximum allowed cycling distance in meters (e.g. when looking for nearest stations).","in":"query","schema":{"type":"integer","minimum":1,"maximum":10000,"default":5000}},"bicycleMinDistance":{"name":"bicycle[minDistance]","description":"Preferred minimal cycling distance in meters (e.g. when searching for nearest stations). Unlike `bicycle[maxDistance]` this is not a requirement but a preferred value. This means that routes that are slightly shorter than the given value may still be returned. The default value is 750m if `transit[enable]` contains `entireRoute`, otherwise it is 1m.","in":"query","schema":{"type":"integer","minimum":1,"maximum":5000,"default":750}},"changes":{"name":"changes","description":"Maximum number of changes or transfers allowed in a route. Unlimited number of changes is permitted when not set.\n","in":"query","schema":{"type":"integer","minimum":0,"maximum":6}},"departureTime":{"name":"departureTime","description":"Specifies the time of departure as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to the local time at origin. When the optional timezone offset is\nnot specified, time is assumed to be local. If neither `departureTime` or `arrivalTime` are specified, current time at departure location will be used.\nAll `Time` values in the response are returned in the timezone of each location.\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Time"}},"destination":{"name":"destination","description":"Trip destination WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize the\n  name of the destination place and will affect the generated actions descriptions.\n\n","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LocationString"}},"intermodalVia":{"name":"via","description":"Defines an intermediate via waypoint.\n\nAt the moment via point is supported with the following syntax:\n\n`via=place:parkingLot;strategy={strategy}`: Defines the change between modes in a parking lot.\n  The optional parameter `strategy` defines the search strategy for candidate parking lots.\n  Here is a list of possible strategies:\n  * `diverseChoices` (default): Parking lots close to the origin or close to the city border\n    will be considered.\n  * `parkLate`: switch from car to public transit as soon as possible after entering the\n    destination city's limits.\n  * `parkEarly`: try to switch from car to public transit as early as possible.\n","in":"query","schema":{"type":"string"}},"kickScooterMaxDistance":{"name":"kickScooter[maxDistance]","description":"Maximum allowed travel distance in meters (e.g. when looking for nearest stations).","in":"query","schema":{"type":"integer","minimum":1,"maximum":10000,"default":5000}},"kickScooterMinDistance":{"name":"kickScooter[minDistance]","description":"Preferred minimal travel distance in meters (e.g. when searching for nearest stations). Unlike `kickScooter[maxDistance]` this is not a requirement but a preferred value. This means that routes that are slightly shorter than the given value may still be returned. The default value is 750m if `transit[enable]` contains `entireRoute`, otherwise it is 1m.","in":"query","schema":{"type":"integer","minimum":1,"maximum":5000,"default":750}},"lang":{"name":"lang","description":"Specifies the list of preferred languages of the response.\nThe first supported language from the list will be used for the response.\nThe value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).\n","in":"query","schema":{"type":"array","items":{"type":"string"},"default":["en-US"]},"style":"form","explode":false,"example":["zh-tw","en-gb","en-us"]},"origin":{"name":"origin","description":"Trip origin WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize\n  the name of the origin place and will affect the generated actions descriptions.\n\n","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LocationString"}},"pedestrianMaxDistance":{"name":"pedestrian[maxDistance]","description":"Maximum allowed walking distance in meters (e.g. when looking for nearest stations).","in":"query","schema":{"type":"integer","minimum":0,"maximum":6000,"default":2000}},"pedestrianSpeed":{"name":"pedestrian[speed]","description":"Walking speed in meters per second. Influences the duration of walking segments from origin to a station, from a station to destination and in-between the stations (e.g. if transfer is needed).\n","in":"query","schema":{"$ref":"#/components/schemas/PedestrianSpeed"}},"rentedEnable":{"name":"rented[enable]","description":"Route parts where the rented vehicle modes are allowed. By default, rented modes are allowed everywhere in the route.\n","in":"query","schema":{"$ref":"#/components/schemas/EnableInRouteAll"},"style":"form","explode":false},"rentedModes":{"name":"rented[modes]","description":"Modes filter used to determine which rented modes to include in the response. By default, all supported rented modes are permitted.\n","in":"query","schema":{"$ref":"#/components/schemas/RentedModesFilter"},"style":"form","explode":false},"taxiEnable":{"name":"taxi[enable]","description":"Route parts where the taxi vehicle modes are allowed. By default, taxi modes are allowed everywhere in the route.\n","in":"query","schema":{"$ref":"#/components/schemas/EnableInRouteAll"},"style":"form","explode":false},"taxiModes":{"name":"taxi[modes]","description":"Modes filter used to determine which taxi modes to include in the response. By default, all supported taxi modes are permitted.\n","in":"query","schema":{"$ref":"#/components/schemas/TaxiModesFilter"},"style":"deepObject","explode":true},"transitEnable":{"name":"transit[enable]","description":"Route parts where the transit modes are allowed. By default, transit modes are allowed everywhere in the route.\n","in":"query","schema":{"$ref":"#/components/schemas/EnableInRouteAll"},"style":"form","explode":false},"transitModes":{"name":"transit[modes]","description":"Mode filter used to determine which transit modes to include in the response. By default, all supported transit modes are permitted.\n","in":"query","schema":{"$ref":"#/components/schemas/TransitModesFilter"},"style":"form","explode":false},"transitReturn":{"name":"return","description":"Defines which section attributes are included.\n\n * `intermediate` - List of intermediate stops within a section of the route. If\n   enabled, the response includes `intermediateStops` attribute. Each intermediate stop includes\n   stop/station names, WGS-84 geocoordinates, and the departure times at the stops.\n * `fares` - List of fares/tickets to cover a section of the route.\n\n   **NOTE**: Fares information support will be available soon.\n * `polyline` - Polyline for the route in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md)\n   Encoding.\n * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n * `travelSummary` - Include summary for the travel portion of the section.\n * `incidents` - Include a list of all incidents applicable to each section.\n * `bookingLinks` - Include a list of links to book a ride for a section of the route.\n * `nextDepartures` - Return the next departures for the transit section.\n * `sourceFeedMapping` - Include a list of source feed data that matches the data of the section.\n * `serviceTimes` - Include service times for the transit section.\n    \n    **NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.\n","in":"query","schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["intermediate","fares","polyline","actions","travelSummary","incidents","bookingLinks","nextDepartures","sourceFeedMapping","serviceTimes"]}},"style":"form","explode":false},"units":{"name":"units","description":"Units of measurement used, for example, in guidance instructions. The default is `metric`.\n\nIf `imperial` units are requested and the requested language is `en-US`, then\nUnited States customary units (miles and feet) will be used.\nIf `imperial` units are requested and a language other than `en-US` is requested then\nimperial (miles and yards) units will be used.\n","in":"query","schema":{"$ref":"#/components/schemas/Units"}},"vehicleEnable":{"name":"vehicle[enable]","description":"Route parts where the private vehicle modes are allowed. By default, vehicle modes are not allowed.\nThe combination of `car` in `vehicle[modes]` and `routeTail` in `vehicle[enable]` is not supported and is ignored. In other words, a car is not supported in route tail. All other combinations of `vehicle[modes]` and `vehicle[enable]` work as expected.\n","in":"query","schema":{"$ref":"#/components/schemas/EnableInRouteNone"},"style":"form","explode":false},"vehicleModes":{"name":"vehicle[modes]","description":"Modes filter used to determine which vehicle modes to include in the response.\n","in":"query","schema":{"$ref":"#/components/schemas/VehicleModesFilter"},"style":"form","explode":false},"xRequestId":{"name":"X-Request-ID","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"}}},"headers":{"X-Correlation-Id":{"description":"Auto-generated id that univocally identifies the request.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-Id":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information\non how to get an API key, see [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"}},"schemas":{"AttributionLinkType":{"description":"Attribution link type.\n\n* `disclaimer` - Page with further legal information from the agency.\n* `tariff` - Page with information on the tariff.\n","type":"string","enum":["disclaimer","tariff"]},"AxleGroupWeight":{"type":"object","description":"Contains the maximum allowed weight for an axle-group.\n","properties":{"maxWeight":{"description":"Maximum weight of the axle-group-weight restriction, in kilograms.","type":"integer","format":"int32","minimum":0},"axleGroup":{"description":"Extensible enum: `single` `tandem` `triple` `quad` `quint` `...`  \nAxle-group associated with the restriction.\n\nPossible values are:\n\n* single\n* tandem\n* triple\n* quad\n* quint\n","type":"string","x-extensible-enum":["single","tandem","triple","quad","quint"]}}},"ChargingConnectorType":{"description":"Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo` `tesla` `saeJ3400` `gbtDc` `unknown` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:  Type 1 Combo connector, commonly called \"CCS1\"\n* `iec62196Type2Combo`:  Type 2 Combo connector, commonly called \"CCS2\"\n* `chademo`: CHAdeMO connector\n* `tesla`: North American Charging Standard (NACS) connector. This connector type is deprecated. Return value used instead of `saeJ3400` when the user specifies the deprecated value `tesla` in `ev[connectorTypes]`\n* `saeJ3400`: North American Charging System (NACS) connector\n* `gbtDc`: GB/T Guobiao GB/T 20234.3 DC connector\n* `unknown`: Connector type is not known, e.g., if station is provided by user in request\n","type":"string","x-extensible-enum":["iec62196Type1Combo","iec62196Type2Combo","chademo","tesla","saeJ3400","gbtDc","unknown"]},"ChargingStationBrand":{"type":"object","description":"Information regarding the charging station brand","properties":{"name":{"description":"Charging station brand name","type":"string"},"hrn":{"description":"Charging station brand unique ID.\nIf specified in `ev[preferredBrands]` parameter\nthen it would apply preference to adding stations of the given brand.\n\n**NOTE:** As of now it is generated as a brand name hash.\n","type":"string"}}},"ChargingSupplyType":{"description":"Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n* `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current supply\n","type":"string","x-extensible-enum":["acSingle","acThree","dc"]},"Color":{"type":"string","pattern":"#[0-9A-Fa-f]{6}","example":"#FF0000"},"DataVersion":{"type":"object","description":"Version of a specific data set","properties":{"name":{"type":"string","description":"Identifies a data set, for example, a HRN, or a service specific identifier","example":"optimized-map-for-routing"},"version":{"type":"string","description":"The current version of this data set","example":"2022.346.5.48"}},"required":["name","version"]},"DepartureDelay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","type":"integer"},"DeparturePlatform":{"description":"Platform name or number for the departure.","type":"string"},"DepartureStatus":{"description":"Extensible enum: `scheduled` `cancelled` `additional` `replaced` `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule but was removed.\n* `additional`: An extra trip that was added in addition to a running schedule, for example, to respond to sudden passenger load.\n* `replaced`: A trip that was in the schedule but is removed and replaced with `additional` trip, for example, to replace a broken vehicle or handle detour.\n","type":"string","x-extensible-enum":["scheduled","cancelled","additional","replaced"],"default":"scheduled"},"Distance":{"type":"integer","minimum":0,"description":"Distance in meters.","example":189},"Duration":{"type":"integer","description":"Duration in seconds.","example":198},"ErrorResponse":{"type":"object","description":"Response in case of error","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.\n\nAll error codes start with \"`E60`\".\n","example":"E600101"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that univocally identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"HazardousGoodsRestriction":{"description":"Extensible enum: `explosive` `gas` `flammable` `combustible` `organic` `poison` `radioactive` `corrosive` `poisonousInhalation` `harmfulToWater` `other` `...`  \nHazardous goods restrictions refer to the limitations and regulations imposed on the transportation of specific types of hazardous materials during a trip. The following categories of hazardous goods are commonly considered:\n\n* `explosive`: Materials that are capable of causing an explosion\n* `gas`: Gas (definition varies from country to country). For details, check [here](https://en.wikipedia.org/wiki/HAZMAT_Class_2_Gases)\n* `flammable`: Materials that are easily ignited and capable of catching fire.\n* `combustible`: Materials that have the potential to burn or catch fire.\n* `organic`: Materials derived from living organisms or containing carbon compounds.\n* `poison`: Substances that can cause harm or death when ingested, inhaled, or absorbed.\n* `radioactive`: Materials that emit radiation and pose potential health risks.\n* `corrosive`: Substances that can cause damage or destruction through chemical reactions.\n* `poisonousInhalation`: Materials that are toxic when inhaled.\n* `harmfulToWater`: Materials that can cause pollution or harm to water bodies.\n* `other`: Other types of hazardous materials not covered by the above categories\n","type":"string","x-extensible-enum":["explosive","gas","flammable","combustible","organic","poison","radioactive","corrosive","poisonousInhalation","harmfulToWater","other"]},"HazardousGoodsRestrictionAny":{"description":"Indicates that all hazardous goods are subject to restrictions during the trip.","type":"string","enum":["any"],"example":"any"},"LicensePlateRestrictionType":{"description":"Extensible enum: `lastCharacter` `...`  \nSpecifies the components of the vehicle license plate\nconsidered for the restriction.\n","type":"string","x-extensible-enum":["lastCharacter"]},"Location":{"description":"Location on the Earth","properties":{"lat":{"description":"Location of a point on the Earth north or south of the equator in decimal degrees.","type":"number","format":"double","example":52.531677},"lng":{"description":"Location of a place on the Earth east or west of the prime meridian in decimal degrees.","type":"number","format":"double","example":13.381777}},"example":{"lat":52.531677,"lng":13.381777},"required":["lat","lng"]},"LocationString":{"type":"string","example":"52.5251,13.3694"},"NoticeSeverity":{"description":"Describes the impact a notice has on the resource to which the notice is attached.\n* critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.\n* info - The notice is for informative purposes, but does not affect usability of the route.\n","type":"string","enum":["critical","info"]},"ParkingLotPlaceType":{"description":"Extensible enum: `parkAndRide` `...`  \nCurrently possible values are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\",\n  such as it is a parking specifically designed to allow transition between car and transit.\n","type":"string","x-extensible-enum":["parkAndRide"]},"PartialTime":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by `partial-time`.","pattern":"^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$","example":"08:30:00"},"PedestrianSpeed":{"description":"Pedestrian speed in meters per second","type":"number","minimum":0.5,"maximum":2,"default":1},"Polyline":{"type":"string","description":"Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) format. Coordinates are in the WGS84 coordinate system, including `Elevation` (if present).","example":"A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e"},"RoutingZoneReference":{"description":"A reference to a routing zone in HMC.\n\nThe standard representation of a routing zone reference has the following structure:\n`{catalogHrn}:{catalogVersion}:({layerId})?:{tileId}:{zoneId}`\n\nThe individual parts are:\n* `catalogHrn`: The HERE Resource Name that identifies the source catalog of the routing zone, example: `hrn:here:data::olp-here:rib-2`\n* `catalogVersion`: The catalog version\n* `layerId` (optional): The layer inside the catalog where the routing zone is located, example: `environmental-zones`\n* `tileId`: The HERE tile key of the partition/tile where the routing zone is located in the given version of the catalog\n* `zoneId`: The identifier of the referenced routing zone within the catalog, example: `here:cm:envzone:3455277`\n\nExample of a reference to an environmental zone in standard form:\n`hrn:here:data::olp-here:rib-2:1557:environmental-zones:all:here:cm:envzone:3455277`\n\nIn order to reduce response size, routing zone references can also be provided in a compact representation.\nIn compact form, parts of a reference are replaced by placeholders, which can be resolved using the `refReplacements` dictionary in the parent section.\nThe placeholder format is ```\\$\\d+``` and needs to be surrounded by colons or string start/end. It can be captured with the following regular expression: ```(^|:)\\$\\d+(:|$)``` .\n\nExample of the aforementioned environmental zone reference in compact form: `$0:$1:3455277`\nWith the corresponding `refReplacements`:\n```\n\"refReplacements\": {\n  \"0\": \"hrn:here:data::olp-here:rib-2:1557\",\n  \"1\": \"environmental-zones:all:here:cm:envzone\"\n}\n```\n","type":"string"},"ServiceTimes":{"description":"The first and last trip time for the transit route at the stop on a given day.\nOnly present for the departure stop of a transit section.\n\n**NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.\n","type":"object","properties":{"firstTrip":{"description":"First trip time in local time","type":"string","example":"2025-09-25T07:00:00Z"},"lastTrip":{"description":"Last trip time in local time","type":"string","example":"2025-09-25T23:45:00Z"}}},"SimpleErrorResponseSchema":{"type":"object","properties":{"error":{"type":"string","description":"Human-readable error"},"error_description":{"type":"string","description":"Human-readable error description"}}},"SourceFeedMapping":{"description":"Mapping of the internal data returned in the respone to the data from the source feed.\nA `type` will only be returned if the source feed data has a match.\nEach `type` might be returned more than once in the response as the source feed may have multiple matches.\n\nCurrently possible values for `type` are:\n\n* `agencyId`: ID of the agency that provides the data which is defined in the source feed.\n* `routeId`: ID of the route that is provided in source feed.\n* `tripId`: ID of the trip that is provided in source feed.\n* `feedVersion`: Version of the feed that is defined in source feed.\n","type":"object","properties":{"type":{"type":"string","description":"Extensible enum: `agencyId` `routeId` `tripId` `feedVersion` `...`  \nType of source feed data.\n","x-extensible-enum":["agencyId","routeId","tripId","feedVersion"],"example":"tripId"},"sourceValue":{"type":"string","description":"Source value for the data defined in the `type`.","example":"1234-567"}}},"Time":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by either `date-time` or `date-only` 'T' `partial-time` (ie no time-offset).","format":"date-time"},"TimeDomain":{"description":"Specifies date and time period during which the restriction applies. Value is a string in the Time\nDomain format. Time Domain is part of the GDF (Geographic Data Files) specification, which is an ISO standard.\nCurrent standard is GDF 5.1 which is [ISO 20524-1:2020](https://www.iso.org/standard/68244.html).\n\nFor a detailed description of the Time Domain specification and usage in routing services, please refer to\nthe documentation available in the [Time Domain](https://docs.here.com/routing/docs/routing-v8-time-domain-basics) page of the Developer Guide.\n","type":"string","example":"-(d1){w1}(d3){d1}"},"TimeRestrictedWeekdays":{"type":"string","enum":["mo","tu","we","th","fr","sa","su"]},"TrailerCountRange":{"type":"object","description":"Constrains the restriction to vehicles with the number of trailers within the specified range.","properties":{"from":{"description":"Inclusive minimum of trailer count.","type":"integer","format":"int32","minimum":0},"to":{"description":"Inclusive maximum of trailer count. If not set, the maximum trailer count is unbounded.","type":"integer","format":"int32","minimum":0}}},"TransitIncidentEffect":{"description":"Extensible enum: `cancelledService` `reducedService` `additionalService` `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open list of possible incident effects.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n","type":"string","x-extensible-enum":["cancelledService","reducedService","additionalService","modifiedService","delays","detour","stopMoved","other"]},"TransitIncidentType":{"description":"Extensible enum: `technicalProblem` `strike` `demonstration` `accident` `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency` `other` `...`  \nAn open list of possible incident causes / types.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n","type":"string","x-extensible-enum":["technicalProblem","strike","demonstration","accident","holiday","weather","maintenance","construction","policeActivity","medicalEmergency","other"]},"TransitModeExcluded":{"title":"Excluded modes","description":"Extensible enum: `-highSpeedTrain` `-intercityTrain` `-interRegionalTrain` `-regionalTrain` `-cityTrain` `-bus` `-ferry` `-subway` `-lightRail` `-privateBus` `-inclined` `-aerial` `-busRapid` `-monorail` `-flight` `...`  \nTransit mode to be excluded from the route\n","type":"string","x-extensible-enum":["-highSpeedTrain","-intercityTrain","-interRegionalTrain","-regionalTrain","-cityTrain","-bus","-ferry","-subway","-lightRail","-privateBus","-inclined","-aerial","-busRapid","-monorail","-flight"]},"TransitStopAttributes":{"description":"Extensible enum: `noEntry` `noExit` `...`  \nAttributes of a stop.\n\n* `noEntry`: The transport cannot be entered at the stop.\n* `noExit`: The transport cannot be exited at the stop.\n","type":"string","x-extensible-enum":["noEntry","noExit"],"example":"noExit"},"TruckAxleCountRange":{"type":"object","description":"Constrains the restriction to trucks with the number of axles within the specified range.","properties":{"from":{"description":"Inclusive minimum of axle count.","type":"integer","format":"int32","minimum":2},"to":{"description":"Inclusive maximum of axle count. If not set, the maximum axle count is unbounded.","type":"integer","format":"int32","minimum":2}}},"TruckType":{"description":"Specifies the type of the truck\n\n* `Straight`: A truck on a single frame with a permanently attached cargo area.\n* `Tractor`: A towing vehicle that can pull one or more semi-trailers (also known as a semi-truck).\n","deprecated":true,"type":"string","enum":["Straight","Tractor"]},"TunnelCategory":{"description":"Specifies the tunnel category used to restrict the transport of specific goods.\n","type":"string","enum":["B","C","D","E"]},"TurnActionDirection":{"description":"Direction of the turn. `middle` is only used by the `keep` action.","type":"string","enum":["middle","right","left"]},"TurnActionSeverity":{"description":"Tightness of the turn. Optional in the `turn` action, unused by other actions.\n\n* `light`: indicates making a light turn\n* `quite`: indicates making a regular turn\n* `heavy`: indicates making a heavy turn\n","type":"string","enum":["light","quite","heavy"]},"Units":{"description":"Units of measurement used, for example, in guidance instructions. The default is `metric`.","type":"string","enum":["metric","imperial"]},"Uri":{"description":"An URL address that links to a particular resource.","type":"string","format":"uri","example":"https://url.address.com/resource"},"VehicleRestrictionMaxWeight":{"type":"object","description":"Contains the maximum permitted weight, specified in kilograms, along with the specific type of the maximum permitted weight restriction.\n","properties":{"value":{"type":"integer","format":"int32","minimum":0},"type":{"description":"Extensible enum: `empty` `gross` `current` `unknown` `...`  \nRepresents the specific type of the maximum permitted weight restriction.\n* `empty`: Restriction is for empty weight of the vehicle combination.\n* `gross`: Restriction is for gross weight.\n* `current`: Restriction is for current weight.\n* `unknown`: Restriction may apply to gross or current weight. Specific `type` data for the restriction is not available.\n\n**NOTES:**\n* A restriction of type `unknown` may change to `gross` or `current` when data becomes available in future.\n* A restriction of type `gross` or `current` may also change to a different type if actual regulation changes.\n","type":"string","x-extensible-enum":["empty","gross","current","unknown"]}}},"VehicleType":{"description":"Specifies the type of the vehicle\n\n* `StraightTruck`: A truck on a single frame with a permanently attached cargo area. **Note:**\ndefault value when truck routing mode is used.\n* `Tractor`: A towing vehicle that can pull one or more semi-trailers (also known as a semi-truck).\n\n**Limitations:** only valid for `transportMode=truck`.\n","type":"string","enum":["StraightTruck","Tractor"]},"WalkAttributes":{"description":"Extensible enum: `indoor` `...`  \nWalkAttributes are applied to a span of a route section and describe walk-related attribute\nflags.\n\n* `indoor`: This part of the route is located inside a venue.\n","type":"string","x-extensible-enum":["indoor"]},"WheelchairAccessibility":{"description":"Defines accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Information is not available.\n* `yes` - Full unrestricted accessibility.\n* `limited` - Accessibility is limited, not everywhere or require assistance.\n* `no` - No accessibility.\n","type":"string","enum":["unknown","yes","limited","no"],"default":"unknown","example":"unknown"},"Agency":{"description":"Contains information about a particular agency.","properties":{"id":{"description":"Unique code of the agency. Specifies if the same agency is used on different sections of the same route.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"49030_dd54cc8"},"name":{"description":"Human readable name of the owner of the transport service.","type":"string","example":"The Rail Provider"},"website":{"description":"Link to the agency's website.","example":"http://www.railcompany.com/","allOf":[{"$ref":"#/components/schemas/Uri"}]}},"required":["id","name"]},"BaseAction":{"type":"object","description":"An action to be performed between sections or during a section.","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string"},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"ChargingConnectorAttributes":{"type":"object","description":"Details of the connector that is suggested to be used in the section's `postAction` for charging.","properties":{"power":{"description":"Power supplied by the suggested connector in kW.","type":"number"},"current":{"description":"Current of the suggested connector in Amperes.","type":"number"},"voltage":{"description":"Voltage of the suggested connector in Volts.","type":"number"},"supplyType":{"description":"Supply type of the suggested connector.\n","allOf":[{"$ref":"#/components/schemas/ChargingSupplyType"}]},"connectorType":{"description":"Suggested connector for charging at this station","allOf":[{"$ref":"#/components/schemas/ChargingConnectorType"}]}},"required":["power","supplyType","connectorType"]},"EnableInRouteAll":{"description":"Comma-separated list of route parts to enable for this mode family","type":"array","items":{"type":"string","enum":["routeHead","routeTail","entireRoute"]},"default":["routeHead","routeTail","entireRoute"]},"EnableInRouteNone":{"description":"Comma-separated list of route parts to enable for this mode family","type":"array","items":{"type":"string","enum":["routeHead","routeTail","entireRoute"]},"default":[]},"HazardousGoodsRestrictionArray":{"description":"Provides a list of all hazardous goods that are restricted during the trip.","type":"array","items":{"$ref":"#/components/schemas/HazardousGoodsRestriction"},"example":["gas","flammable"]},"HealthResponseFailSchema":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}}},"HealthResponseOKSchema":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok"]}}},"LicensePlateRestriction":{"description":"Contains details of the violated license plate restriction.","type":"object","properties":{"type":{"$ref":"#/components/schemas/LicensePlateRestrictionType"},"forbiddenCharacters":{"description":"A list of restricted characters in the vehicle license plate.\n\nThe `type` property indicates which character of the vehicle license plate is considered for matching.\nThe condition is met if that character matches any of the characters in the `forbiddenCharacters` array.\n\nFor example, if `type` is set to `lastCharacter` and `forbiddenCharacters` is set to `[\"7\", \"8\"]` then the condition is met if the last character\nof the vehicle license plate is either 7 or 8.\n","type":"array","items":{"type":"string","minLength":1,"maxLength":1},"example":["1","3","5","7","9"]}}},"Notice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"No route found"},"code":{"type":"string","description":"Notice code.","example":"noRouteFound"},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"PedestrianMode":{"description":"Extensible enum: `pedestrian` `...`  \nPedestrian mode of transport.\n\nSince the supported pedestrian modes may be extended in the future, the pedestrian mode should be hidden when an unknown mode is encountered.\n","type":"string","x-extensible-enum":["pedestrian"],"default":"pedestrian"},"RentedMode":{"title":"Modes","description":"Extensible enum: `car` `bicycle` `kickScooter` `...`  \nRented mode of transport\n","type":"string","x-extensible-enum":["car","bicycle","kickScooter"]},"RentedModeExcluded":{"title":"Excluded modes","description":"Extensible enum: `-car` `-bicycle` `-kickScooter` `...`  \nRented mode to be excluded from the route\n","type":"string","x-extensible-enum":["-car","-bicycle","-kickScooter"]},"TaxiMode":{"description":"Extensible enum: `car` `...`  \nTaxicab mode of transport\n","type":"string","x-extensible-enum":["car"]},"TaxiModeExcluded":{"description":"Extensible enum: `-car` `...`  \nTaxicab mode to be excluded from the route\n","type":"string","x-extensible-enum":["-car"]},"TransitIncident":{"type":"object","description":"An incident describes disruptions on the transit network.\nDisruptions scale from delays to service cancellations.\n","properties":{"summary":{"type":"string","description":"A human readable summary of the incident","example":"The subway is closed each night between 1 AM and 5 AM."},"description":{"type":"string","description":"A human readable description of the incident","example":"The subway is closed each night between 1 AM and 5 AM while we clean our trains and stations. We are running extra bus service overnight."},"type":{"$ref":"#/components/schemas/TransitIncidentType"},"effect":{"$ref":"#/components/schemas/TransitIncidentEffect"},"validFrom":{"$ref":"#/components/schemas/Time"},"validUntil":{"$ref":"#/components/schemas/Time"},"url":{"description":"Link to the original incident published at the agency website","allOf":[{"$ref":"#/components/schemas/Uri"}]}},"required":["type","effect"],"example":{"summary":"The subway is closed each night between 1 AM and 5 AM.","description":"The subway is closed each night between 1 AM and 5 AM while we clean our trains and stations. We are running extra bus service overnight.","type":"maintenance","effect":"modifiedService"}},"TransitMode":{"title":"Modes","description":"Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail` `flight` `...`  \nTransit mode of transport in the route response\n","example":"intercityTrain","type":"string","x-extensible-enum":["highSpeedTrain","intercityTrain","interRegionalTrain","regionalTrain","cityTrain","bus","ferry","subway","lightRail","privateBus","inclined","aerial","busRapid","monorail","flight"]},"TravelSummary":{"description":"Total value of key attributes for a route section.","properties":{"duration":{"$ref":"#/components/schemas/Duration"},"length":{"$ref":"#/components/schemas/Distance"}},"required":["duration","length"]},"VehicleMode":{"title":"Modes","description":"Extensible enum: `car` `bicycle` `kickScooter` `...`  \nVehicle mode of transport\n","type":"string","x-extensible-enum":["car","bicycle","kickScooter"],"default":"car"},"VehicleModeExcluded":{"title":"Excluded modes","description":"Extensible enum: `-car` `-bicycle` `-kickScooter` `...`  \nVehicle mode to be excluded from the route\n","type":"string","x-extensible-enum":["-car","-bicycle","-kickScooter"]},"VersionResponse":{"type":"object","description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","example":"8.18.0"},"serviceVersion":{"type":"string","description":"The current version of the service.","example":"2022-12-15-b706cc8c-9057409"},"dataVersions":{"type":"array","items":{"$ref":"#/components/schemas/DataVersion"},"description":"Returns the versions of data sets used by the service."}},"required":["apiVersion"]},"ViolatedChargingStationOpeningHours":{"description":"A charging stop was planned at the destination of this section, but the `postActions` would not be completed within the opening hours.\n","type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","enum":["violatedOpeningHours"]},"opening_hours":{"description":"Information about the opening time intervals of the selected charging station.\n","allOf":[{"$ref":"#/components/schemas/TimeDomain"}]}},"required":["type"]},"ViolatedTransportMode":{"description":"Contains details about the violated transport mode on this road, such as trucks being generally forbidden.\n","type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","enum":["violatedTransportMode"]}},"required":["type"]},"ViolatedTruckRoadType":{"description":"Contains details about the violated truck road type on this road.\n","type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","enum":["truckRoadType"]},"truckRoadType":{"description":"The truck road type causing this violation.","type":"string"}},"required":["type"]},"Attribution":{"type":"object","description":"The URL address to an external resource.","properties":{"id":{"description":"Unique identifier for the web link. It is used to deduplicate links defined in multiple sections.","type":"string"},"href":{"$ref":"#/components/schemas/Uri"},"text":{"description":"Text describing the url address (e.g. The example website).","type":"string"},"hrefText":{"description":"The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.\n","type":"string"},"type":{"$ref":"#/components/schemas/AttributionLinkType"}},"required":["id","text"],"example":{"id":"88-7568-21.07.2023","text":"Information for public transit provided by ThePublicTransit GmbH"}},"BaseRoutablePlace":{"properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"BoardAction":{"description":"An action to board a ferry.","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["board"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"DeboardAction":{"description":"An action to disembark a ferry.","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["deboard"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"ForbiddenHazardousGoods":{"oneOf":[{"$ref":"#/components/schemas/HazardousGoodsRestrictionAny"},{"$ref":"#/components/schemas/HazardousGoodsRestrictionArray"}]},"PedestrianNotice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"Violated avoid tunnel"},"code":{"type":"string","description":"Extensible enum: `simplePolyline` `pedestrianOptionViolated` `violatedAvoidTunnel` `violatedAvoidDirtRoad` `violatedBlockedRoad` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places | info |\n| pedestrianOptionViolated | This section violates the parameter `pedestrian[speed]` or `pedestrian[maxDistance]` | critical |\n| violatedAvoidTunnel | Route did not manage to avoid user preference | critical |\n| violatedAvoidDirtRoad | Route did not manage to avoid user preference | critical |\n| violatedBlockedRoad | Route uses roads that are blocked due to `avoid[areas]` or `avoid[segments]`. | critical |\n","example":"violatedAvoidTunnel","x-extensible-enum":["simplePolyline","pedestrianOptionViolated","violatedAvoidTunnel","violatedAvoidDirtRoad","violatedBlockedRoad"]},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"PedestrianSpan":{"description":"Span attached to a `Section` describing pedestrian content.\n","properties":{"offset":{"description":"Offset of a coordinate in the section's polyline.\n","type":"integer","format":"int32","minimum":0},"length":{"description":"Length of the span.\n","allOf":[{"$ref":"#/components/schemas/Distance"}]},"duration":{"description":"Duration of the span.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"walkAttributes":{"type":"array","description":"Accessibility and walk-related attribute flags.\n\n* `indoor`: This part of the route is inside a venue.\n\nIt is possible that new attributes may be supported in the future. When encountering unknown attributes, e.g., in the software parser, it is recommended to ignore them.\n","items":{"$ref":"#/components/schemas/WalkAttributes"},"example":["indoor"]}}},"PedestrianTransport":{"description":"Information about a transport.","properties":{"mode":{"$ref":"#/components/schemas/PedestrianMode"}},"required":["mode"]},"RangePrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `value` - A single value.\n  * `range` - A range value that includes a minimum and maximum price.\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"minimum":{"description":"Minimum price","type":"number"},"maximum":{"description":"Maximum price","type":"number"}},"required":["type","currency","minimum","maximum"]},"RentedModesFilterItem":{"oneOf":[{"$ref":"#/components/schemas/RentedMode"},{"$ref":"#/components/schemas/RentedModeExcluded"}]},"SinglePrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `value` - A single value.\n  * `range` - A range value that includes a minimum and maximum price.\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"value":{"description":"The price value","type":"number"}},"required":["type","currency","value"]},"TaxiModesFilterItem":{"oneOf":[{"$ref":"#/components/schemas/TaxiMode"},{"$ref":"#/components/schemas/TaxiModeExcluded"}]},"TaxiTransport":{"description":"Information about a transport.","properties":{"mode":{"$ref":"#/components/schemas/TaxiMode"},"name":{"description":"Vehicle name or mobility provider name","type":"string","example":"RadioTaxi"},"category":{"description":"Human readable transport category (e.g. BikeShare, CarShare, Taxi, ...)","type":"string"},"color":{"description":"Color of the transport polyline and background for the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"textColor":{"description":"Color of the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"model":{"description":"Vehicle model.","type":"string"},"licensePlate":{"description":"Vehicle license plate number.","type":"string"},"seats":{"description":"Number of free seats on the vehicle.","type":"integer"},"engine":{"description":"Vehicle engine type.","type":"string","enum":["combustion","electric"]}},"required":["mode"]},"TransitAgency":{"description":"Contains information about a particular agency.","properties":{"id":{"description":"Unique code of the agency. Specifies if the same agency is used on different sections of the same route.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"49030_dd54cc8"},"name":{"description":"Human readable name of the owner of the transport service.","type":"string","example":"The Rail Provider"},"website":{"description":"Link to the agency's website.","example":"http://www.railcompany.com/","allOf":[{"$ref":"#/components/schemas/Uri"}]},"sourceFeedMapping":{"description":"List of source feeds that shows the original feed data. The item keys\ncan be repeated if the original data has multiple mappings for the same ID.\n\nFor this instance, only `agencyId` and `feedVersion` are valid values for `type`. No other values will be returned in this scope.\n","type":"array","items":{"$ref":"#/components/schemas/SourceFeedMapping"}}},"required":["id","name"]},"TransitModesFilterItem":{"oneOf":[{"$ref":"#/components/schemas/TransitMode"},{"$ref":"#/components/schemas/TransitModeExcluded"}]},"TransitNotice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"No schedule"},"code":{"type":"string","description":"Extensible enum: `noSchedule` `noIntermediate` `unwantedMode` `scheduledTimes` `simplePolyline` `violatedAvoidFerry` `violatedAvoidRailFerry` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| noSchedule | A timetable schedule is not available for the transit line in this section, and only the run frequency is available. As a result, departure/arrival times are approximated | info |\n| noIntermediate | Information about intermediate stops is not available for this transit line | info |\n| unwantedMode | This section contains a transport mode that was explicitly disabled. Mode filtering is not available in this area | info |\n| scheduledTimes | The times returned on this section are the scheduled times even though delay information are available | info |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places | info |\n| violatedAvoidFerry | Route did not manage to avoid user preference | critical |\n| violatedAvoidRailFerry | Route did not manage to avoid user preference | critical |\n","example":"noSchedule","x-extensible-enum":["noSchedule","noIntermediate","unwantedMode","scheduledTimes","simplePolyline","violatedAvoidFerry","violatedAvoidRailFerry"]},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"TransitTransport":{"description":"Transit transport information.","properties":{"mode":{"$ref":"#/components/schemas/TransitMode"},"name":{"description":"Transit line name","type":"string","example":"U2"},"headsign":{"description":"Transit line headsign.","type":"string","example":"Cottbus, Hauptbahnhof"},"category":{"description":"Human readable transport category (such as Bus, Gondola, Tram, Train, ...).","type":"string","example":"Railway Service"},"color":{"description":"Color of the transport polyline and background for the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"textColor":{"description":"Color of the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"shortName":{"description":"Short name of a transit line.","type":"string","example":"U2"},"longName":{"description":"Long name of a transit line.","type":"string","example":"Pankow - Ruhleben"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - Vehicle can accommodate at least one rider in a wheelchair.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - No riders in wheelchairs can be accommodated.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]},"sourceFeedMapping":{"description":"List of source feeds that shows the original feed data. The item keys\ncan be repeated if the original data has multiple mappings for the same ID.\n\nFor this instance, only `routeId` and `tripId` are valid values for `type`. No other values will be returned in this scope.\n","type":"array","items":{"$ref":"#/components/schemas/SourceFeedMapping"}}},"required":["mode"]},"VehicleModesFilterItem":{"oneOf":[{"$ref":"#/components/schemas/VehicleMode"},{"$ref":"#/components/schemas/VehicleModeExcluded"}]},"VehicleTransport":{"description":"Information about a transport.","properties":{"mode":{"$ref":"#/components/schemas/VehicleMode"}},"required":["mode"]},"ViolatedZoneReference":{"description":"Provides details about the zone associated with `violatedZoneRestriction` and\nthe violated restriction conditions that were evaluated against parameter values\nset in the routing request (such as vehicle properties).\n\nThe restriction is violated only if all of the conditions present are met.\n","type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","enum":["zoneReference"]},"routingZoneRef":{"$ref":"#/components/schemas/RoutingZoneReference"},"timeDependent":{"type":"boolean","description":"Indicates if the violation is time-dependent"},"restrictedTimes":{"$ref":"#/components/schemas/TimeDomain"},"licensePlateRestriction":{"$ref":"#/components/schemas/LicensePlateRestriction"},"maxWeight":{"$ref":"#/components/schemas/VehicleRestrictionMaxWeight"}},"required":["type"]},"WebLinkWithDeviceType":{"type":"object","description":"The URL address to an external resource.","properties":{"id":{"description":"Unique identifier for the web link. It is used to deduplicate links defined in multiple sections.","type":"string"},"href":{"$ref":"#/components/schemas/Uri"},"text":{"description":"Text describing the url address (e.g. The example website).","type":"string"},"hrefText":{"description":"The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.\n","type":"string"},"deviceType":{"description":"Extensible enum: `web` `ios` `android` `...`  \nDevice type for which the link is intended.\n","example":"web","type":"string","x-extensible-enum":["web","ios","android"]}},"required":["id","text"],"example":{"id":"88-7568-21.07.2023","text":"Information for public transit provided by ThePublicTransit GmbH"}},"AccessPointPlace":{"description":"Access point to a venue/station","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - Access point is wheelchair accessible.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - No accessible path from the access point to platforms.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"BaseDepartureDetails":{"description":"Defines a departure where the departure stop is implicit (e.g. station board departures).","properties":{"time":{"description":"Expected time of the departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"delay":{"$ref":"#/components/schemas/DepartureDelay"},"status":{"$ref":"#/components/schemas/DepartureStatus"},"platform":{"$ref":"#/components/schemas/DeparturePlatform"},"transport":{"allOf":[{"$ref":"#/components/schemas/TransitTransport"}]}},"required":["time"]},"ChargingStationPlace":{"description":"A charging station","properties":{"name":{"description":"Human readable name of this charging station","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this charging station","type":"string"},"connectorAttributes":{"$ref":"#/components/schemas/ChargingConnectorAttributes"},"brand":{"$ref":"#/components/schemas/ChargingStationBrand"}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"DockingStationPlace":{"description":"A place represents a docking station for rented vehicles.","allOf":[{"$ref":"#/components/schemas/BaseRoutablePlace"}]},"FarePrice":{"description":"Price of a fare","discriminator":{"propertyName":"type","mapping":{"value":"#/components/schemas/SinglePrice","range":"#/components/schemas/RangePrice"}},"oneOf":[{"$ref":"#/components/schemas/SinglePrice"},{"$ref":"#/components/schemas/RangePrice"}]},"Place":{"description":"A place represents a generic location relevant for the route.","allOf":[{"$ref":"#/components/schemas/BaseRoutablePlace"}]},"RentedModesFilter":{"type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/RentedModesFilterItem"}},"StationPlace":{"description":"A station","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this station.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"110543003"},"platform":{"description":"Platform name or number for the departure.","type":"string","example":"1"},"code":{"description":"Short text or a number that identifies the place for riders.","type":"string","example":"74370"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - There exists some accessible path from outside the station to the specific stop/platform.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - There exists no accessible path from outside the station to the specific stop/platform.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"TaxiModesFilter":{"type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/TaxiModesFilterItem"}},"TimeRestrictedPrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `restricted` - A single price value valid for a specific time or duration\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"value":{"description":"The price value","type":"number"},"days":{"description":"This price applies only for the selected days","type":"array","items":{"$ref":"#/components/schemas/TimeRestrictedWeekdays"},"example":["sa","su"]},"minDuration":{"description":"The price applies if the duration is more or equal to `minDuration`","allOf":[{"$ref":"#/components/schemas/Duration"}],"example":1801},"maxDuration":{"description":"The price applies if the duration is less or equal to `maxDuration`","allOf":[{"$ref":"#/components/schemas/Duration"}],"example":3600},"fromTime":{"description":"The price applies from this time of the day","allOf":[{"$ref":"#/components/schemas/PartialTime"}]},"toTime":{"description":"The price applies until this time of the day","allOf":[{"$ref":"#/components/schemas/PartialTime"}]}},"required":["type","currency","value"]},"TransitModesFilter":{"description":"Transit type filter used to determine which types of transit to include in the response. By default, all supported transit types are permitted. Mixing of inclusive and exclusive transit types is not allowed.\n","type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/TransitModesFilterItem"}},"TransitPostAction":{"oneOf":[{"$ref":"#/components/schemas/DeboardAction"}],"discriminator":{"propertyName":"action","mapping":{"deboard":"#/components/schemas/DeboardAction"}}},"TransitPreAction":{"description":"An action that must be done prior to `departure`.","discriminator":{"propertyName":"action","mapping":{"board":"#/components/schemas/BoardAction"}},"oneOf":[{"$ref":"#/components/schemas/BoardAction"}]},"VehicleModesFilter":{"type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/VehicleModesFilterItem"}},"VehicleRestriction":{"description":"Provides details about the violated restriction and the violated restriction\nconditions that were evaluated against parameter values set in the routing\nrequest (such as vehicle properties).\n\nThe restriction is violated only if all of the conditions present are met.\n","type":"object","properties":{"title":{"type":"string","description":"Detail title"},"cause":{"type":"string","description":"Cause of the notice"},"type":{"type":"string","description":"Detail type. Each type of detail might contain extra attributes.\n\n**NOTE:** The list of possible detail types may be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","enum":["restriction"]},"forbiddenHazardousGoods":{"description":"Hazardous goods restrictions applied during the trip.\n\nThis condition is met when the vehicle's shippedHazardousGoods\ncontains any of the items in the specified array.\n\nThis property can either be \"any\" or a list of all forbidden hazardous goods.\n","allOf":[{"$ref":"#/components/schemas/ForbiddenHazardousGoods"}]},"maxWeight":{"allOf":[{"$ref":"#/components/schemas/VehicleRestrictionMaxWeight"}]},"maxGrossWeight":{"description":"Contains the maximum permitted weight, specified in kilograms.\nThis condition is met when the vehicle's weight exceeds the specified value.\n\n**NOTE:** This attribute is deprecated, use `maxWeight` instead. It is redundant and is present because of backward compatibility reasons.\n","type":"integer","format":"int32","minimum":0,"deprecated":true},"maxWeightPerAxle":{"description":"Contains the maximum permitted weight per axle, specified in kilograms.\n\nThis condition is met when the vehicle's `weightPerAxle` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"maxAxleGroupWeight":{"description":"Contains the maximum permitted weight for an axle-group.\n\nThis condition is triggered when the vehicle's `weightPerAxleGroup` exceeds this value.\n","allOf":[{"$ref":"#/components/schemas/AxleGroupWeight"}]},"maxHeight":{"description":"Contains the maximum permitted height, specified in centimeters.\n\nThis condition is met when the vehicle's `height` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"maxWidth":{"description":"Contains the maximum permitted width, specified in centimeters.\n\nThis condition is met when the vehicle's `width` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"maxLength":{"description":"Contains the maximum permitted length, specified in centimeters.\n\nThis condition is met when the vehicle's `length` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"maxTiresCount":{"description":"Contains the maximum number of permitted tires.\n\nThis condition is met when the vehicle's `tiresCount` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"axleCount":{"description":"Constrains the restriction to trucks with the number of axles within the specified range.\n\nThis condition is met when the vehicle's `axleCount` is within the specified range.\n","allOf":[{"$ref":"#/components/schemas/TruckAxleCountRange"}]},"tunnelCategory":{"description":"Specifies the tunnel category used to restrict the transport of specific goods.\n\nThis condition is met when the value exceeds the tunnel category specified\nby the vehicle's `tunnelCategory`\n","allOf":[{"$ref":"#/components/schemas/TunnelCategory"}]},"timeDependent":{"description":"Indicates that the restriction depends on time.\n","type":"boolean"},"truckType":{"description":"Constrains the restriction to a specific type of vehicle.\n\nThis condition is met if the `vehicle[type]` request parameter matches the specified value.\n","deprecated":true,"allOf":[{"$ref":"#/components/schemas/TruckType"}]},"vehicleType":{"description":"Constrains the restriction to a specific type of vehicle.\n\nThis condition is met if the `vehicle[type]` request parameter matches this value.\n","allOf":[{"$ref":"#/components/schemas/VehicleType"}]},"trailerCount":{"description":"Constrains the restriction to trucks with the number of axles within the specified range.\n\nThis condition is met when the vehicle's `trailerCount` is within the specified range.\n","allOf":[{"$ref":"#/components/schemas/TrailerCountRange"}]},"maxEngineSizeCC":{"description":"Contains the maximum permitted size of the engine, specified in cubic centimeters.\n\nThis condition is met when the vehicle's `engineSizeCC` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"minEngineSizeCC":{"description":"Contains the minimum permitted size of the engine, specified in cubic centimeters.\n\nThis condition is met when the vehicle's `engineSizeCC' is less than the specified value.\n","type":"integer","format":"int32","minimum":0},"maxOccupancy":{"description":"Contains the maximum permitted occupancy.\n\nThis condition is met when the vehicle's `occupancy` exceeds the specified value.\n","type":"integer","format":"int32","minimum":1},"minOccupancy":{"description":"Contains the minimum permitted occupancy.\n\nThis condition is met when the vehicle's `occupancy` is less than the specified value.\n","type":"integer","format":"int32","minimum":1},"restrictedTimes":{"$ref":"#/components/schemas/TimeDomain"},"maxKpraLength":{"description":"Contains max permitted kingpin to rear axle length, in centimeters.\n\nThis condition is met when the vehicle's `kpraLength` exceeds this value.\n","type":"integer","format":"int32","minimum":0},"maxTrailerLength":{"description":"Contains the maximum permitted trailer length, specified in centimeters.\n\nThis condition is met when the vehicle's `trailerLength` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"maxPayloadCapacity":{"description":"Contains the maximum allowed payload capacity, specified in kilograms.\n\nThis condition is met when the vehicle's `payloadCapacity` exceeds the specified value.\n","type":"integer","format":"int32","minimum":0},"unconditional":{"description":"Restriction applies unconditionally.","type":"boolean","default":false}},"required":["type"],"example":{"$ref":"#/components/examples/restrictionExample"}},"Fare":{"description":"\"`Fare` type contains information about a single fare or ticket needed for this section of the route.\"\n\n**NOTE**: Fares information support will be available soon.\n","properties":{"id":{"description":"Unique Fare id. Used to deduplicate fares that apply to multiple sections","type":"string","example":"carrideco-1753076078174759852-1749341260512683512"},"name":{"description":"Name of a fare","type":"string","example":"Carride Company"},"price":{"$ref":"#/components/schemas/FarePrice"},"reason":{"default":"ride","description":"Extensible enum: `ride` `parking` `...`  \nReason for the cost described in this `Fare` element.\n","type":"string","x-extensible-enum":["ride","parking"]}},"required":["id","name","price"]},"ParkingLotPlace":{"description":"A parking lot","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this parking lot","type":"string"},"attributes":{"type":"array","description":"Attributes of a parking lot.","items":{"$ref":"#/components/schemas/ParkingLotPlaceType"}},"rates":{"description":"List of possible parking rates for this facility. Different rates can apply depending on the day, time of the day or parking duration.\n","type":"array","items":{"$ref":"#/components/schemas/TimeRestrictedPrice"}}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"TransitDeparture":{"description":"Transit departure","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"description":"Departure/arrival location","allOf":[{"$ref":"#/components/schemas/StationPlace"}]},"delay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","allOf":[{"$ref":"#/components/schemas/DepartureDelay"}]},"status":{"$ref":"#/components/schemas/DepartureStatus"}},"required":["place"]},"VehicleNoticeDetail":{"description":"Details attached to notices in vehicle section.","oneOf":[{"$ref":"#/components/schemas/VehicleRestriction"},{"$ref":"#/components/schemas/ViolatedTransportMode"},{"$ref":"#/components/schemas/ViolatedTruckRoadType"},{"$ref":"#/components/schemas/ViolatedZoneReference"},{"$ref":"#/components/schemas/ViolatedChargingStationOpeningHours"}],"discriminator":{"propertyName":"type","mapping":{"restriction":"#/components/schemas/VehicleRestriction","violatedTransportMode":"#/components/schemas/ViolatedTransportMode","truckRoadType":"#/components/schemas/ViolatedTruckRoadType","zoneReference":"#/components/schemas/ViolatedZoneReference","violatedOpeningHours":"#/components/schemas/ViolatedChargingStationOpeningHours"}}},"OffsetAction":{"description":"An action to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string"},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"PedestrianPlace":{"description":"Place used in pedestrian routing","oneOf":[{"$ref":"#/components/schemas/Place"},{"$ref":"#/components/schemas/StationPlace"},{"$ref":"#/components/schemas/AccessPointPlace"},{"$ref":"#/components/schemas/ParkingLotPlace"},{"$ref":"#/components/schemas/ChargingStationPlace"},{"$ref":"#/components/schemas/DockingStationPlace"}],"discriminator":{"propertyName":"type","mapping":{"place":"#/components/schemas/Place","station":"#/components/schemas/StationPlace","accessPoint":"#/components/schemas/AccessPointPlace","parkingLot":"#/components/schemas/ParkingLotPlace","chargingStation":"#/components/schemas/ChargingStationPlace","dockingStation":"#/components/schemas/DockingStationPlace"}}},"RentedTransport":{"description":"Information about a transport.","properties":{"mode":{"$ref":"#/components/schemas/VehicleMode"},"name":{"description":"Vehicle name or mobility provider name","type":"string","example":"RadioTaxi"},"category":{"description":"Human readable transport category (e.g. BikeShare, CarShare, Taxi, ...)","type":"string"},"color":{"description":"Color of the transport polyline and background for the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"textColor":{"description":"Color of the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"model":{"description":"Vehicle model.","type":"string"},"licensePlate":{"description":"Vehicle license plate number.","type":"string"},"seats":{"description":"Number of free seats on the vehicle.","type":"integer"},"engine":{"description":"Vehicle engine type.","type":"string","enum":["combustion","electric"]},"fares":{"description":"\"List of fares/tickets to be paid for this section of the route\"\n\n**NOTE**: Fares information support will be available soon.\n","type":"array","items":{"$ref":"#/components/schemas/Fare"}},"interior":{"type":"integer"},"exterior":{"type":"integer"},"fuel":{"type":"integer"}},"required":["mode"]},"SectionTransitDeparture":{"description":"Transit departure","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"description":"Departure/arrival location","allOf":[{"$ref":"#/components/schemas/StationPlace"}]},"delay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","allOf":[{"$ref":"#/components/schemas/DepartureDelay"}]},"status":{"$ref":"#/components/schemas/DepartureStatus"},"serviceTimes":{"$ref":"#/components/schemas/ServiceTimes"}},"required":["place"]},"TaxiPlace":{"description":"Place used in taxi mode","oneOf":[{"$ref":"#/components/schemas/Place"},{"$ref":"#/components/schemas/StationPlace"},{"$ref":"#/components/schemas/AccessPointPlace"},{"$ref":"#/components/schemas/ParkingLotPlace"},{"$ref":"#/components/schemas/ChargingStationPlace"},{"$ref":"#/components/schemas/DockingStationPlace"}],"discriminator":{"propertyName":"type","mapping":{"place":"#/components/schemas/Place","station":"#/components/schemas/StationPlace","accessPoint":"#/components/schemas/AccessPointPlace","parkingLot":"#/components/schemas/ParkingLotPlace","chargingStation":"#/components/schemas/ChargingStationPlace","dockingStation":"#/components/schemas/DockingStationPlace"}}},"TransitStop":{"description":"A transit stop of the route.","properties":{"departure":{"$ref":"#/components/schemas/TransitDeparture"},"duration":{"description":"Stop duration. If not set the vehicle departs as soon as people are on board.","type":"integer","example":198,"default":0},"transport":{"description":"Information about transit transport changes. If set, the vehicle changes its transit transport information,\nlike name, color, headsign etc, on this stop.\n","allOf":[{"$ref":"#/components/schemas/TransitTransport"}]},"offset":{"description":"The position of the stop on the polyline.","type":"integer"},"attributes":{"description":"**NOTE:** As it is possible that new attributes are supported in the future, unknown attributes should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/TransitStopAttributes"}}},"required":["departure"]},"VehicleNotice":{"example":{"$ref":"#/components/examples/noticeWithRestrictionsExample"},"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"Violated avoid toll road"},"code":{"type":"string","description":"Extensible enum: `violatedAvoidControlledAccessHighway` `violatedAvoidTollRoad` `violatedAvoidTunnel` `violatedAvoidDirtRoad` `violatedBlockedRoad` `violatedStartDirection` `violatedCarpool` `violatedTurnRestriction` `violatedVehicleRestriction` `violatedZoneRestriction` `violatedAvoidDifficultTurns` `violatedAvoidUTurns` `violatedEmergencyGate` `violatedAvoidSeasonalClosure` `violatedAvoidTollTransponder` `violatedAvoidTruckRoadType` `seasonalClosure` `tollTransponder` `simplePolyline` `tollsDataUnavailable` `tollsDataTemporarilyUnavailable` `currencyUnsupported` `chargingStopNotNeeded` `violatedChargingStationOpeningHours` `violatedMinChargeAtDestination` `violatedMinChargeAtFirstChargingStation` `violatedMinChargeAtChargingStation` `outOfCharge` `currentWeightNegative` `currentWeightExceedsLimit` `travelTimeExceedsDriverWorkHours` `carpool` `turnRestriction` `vehicleRestriction` `zoneRestriction` `avoidTollRoad` `targetChargeNotAchievable` `violatedChargingStationTransportMode` `violatedChargingStationVehicleRestrictions` `maxDrivingTimeExceeded` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| violatedAvoidControlledAccessHighway | Route did not manage to avoid user preference. | critical |\n| violatedAvoidTollRoad | Route did not manage to avoid user preference. | critical |\n| violatedAvoidTunnel | Route did not manage to avoid user preference. | critical |\n| violatedAvoidDirtRoad | Route did not manage to avoid user preference. | critical |\n| violatedBlockedRoad | Route uses roads that are blocked, due to traffic incidents, `avoid[areas]`, or `avoid[segments]`. | critical |\n| violatedStartDirection | The starting direction of the route differs from the value set in the `course` parameter of the waypoint. | critical |\n| violatedCarpool | Route did not manage to avoid user preference. | critical |\n| violatedTurnRestriction | Route requires performing a time-restricted maneuver at a time when it's prohibited. | critical |\n| violatedVehicleRestriction | Route uses a road which is forbidden for the given vehicle profile. | critical |\n| violatedZoneRestriction | Route uses a road in a user-specified avoidance zone, such as the London Low Emission Zone. | critical |\n| violatedAvoidDifficultTurns | Route did not manage to avoid user preference.| critical |\n| violatedAvoidUTurns | Route did not manage to avoid user preference. | critical |\n| violatedEmergencyGate | Route goes through an emergency gate. | critical |\n| violatedAvoidSeasonalClosure | Route did not manage to avoid a seasonal closure.| critical |\n| violatedAvoidTollTransponder | Route did not manage to avoid a toll booth that requires a transponder. | critical |\n| violatedAvoidTruckRoadType | Route did not manage to avoid truck road type. | critical |\n| seasonalClosure | Route goes through a seasonal closure. | info |\n| tollTransponder | Route goes through a toll booth that requires a transponder. | info |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places. | info |\n| tollsDataUnavailable | Tolls data was requested but could not be calculated for this section. | info |\n| tollsDataTemporarilyUnavailable | Tolls data was requested but is temporarily unavailable. | info |\n| currencyUnsupported | Provided currency is unsupported. | info |\n| chargingStopNotNeeded | A charging stop was planned at the destination of this section, but it is no longer needed (getRoutesByHandle requests only). | info |\n| violatedChargingStationOpeningHours | A charging stop was planned at the destination of this section, but the `postActions` would not be completed within the opening hours. | critical |\n| violatedMinChargeAtDestination | The `arrival.charge` at the destination is lower than the `minChargeAtDestination`. | info |\n| violatedMinChargeAtFirstChargingStation | The `arrival.charge` on the first charging stop is lower than the `minChargeAtFirstChargingStation`. | info |\n| violatedMinChargeAtChargingStation | The `arrival.charge` on a charging station stop is lower than the `minChargeAtChargingStation`. This can be on the first charging stop if `minChargeAtFirstChargingStation` is not specified. | info |\n| outOfCharge | The charge of the EV drops below 0 along the section. | info |\n| currentWeightNegative | `vehicle[currentWeight]` is negative after applying `currentWeightChange` at a via waypoint. | critical |\n| currentWeightExceedsLimit | `vehicle[currentWeight]` exceeds limit for given `transportMode`. | critical |\n| travelTimeExceedsDriverWorkHours | The route travelTime exceeds drive time sequence provided in `driver[schedule]` parameter. | critical |\n| targetChargeNotAchievable | `ev[MaxChargingDuration]` too short to achieve required charging level. | info |\n| violatedChargingStationTransportMode | Provided `transportMode` is not permitted at the charging station | critical |\n| violatedChargingStationVehicleRestrictions | One or more vehicle attributes exceed the permitted vehicle limits of the charging station | critical |\n| maxDrivingTimeExceeded | Desired maximum driving time before first charge exceeded | info |\n\n\nThe codes listed below can appear as info notices when the request contains `return=potentialTimeDependentViolations`.\nThe resulting info notices are not violations on the current route but could be violations if the arrival time\nat these restrictions differs from the calculated time.\nFor example, an info notice for a `vehicleRestriction` could indicate that while your vehicle is not currently violating any restriction.\nHowever, if the journey is delayed by an hour the vehicle would not be allowed on part of the route because there is a time-dependent restriction active at that time.\n\nCodes for potential time dependent restriction violations are (non-exhaustive: can be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| carpool | Route potentially uses a carpool only road when not allowed. | info |\n| turnRestriction | Route potentially uses a time-restricted turn when not allowed. | info |\n| vehicleRestriction | Route potentially uses a road that is forbidden for the given vehicle profile. | info |\n| zoneRestriction | Route uses a road that is potentially part of restricted routing zones. | info |\n| avoidTollRoad | Route uses a road that potentially is a toll road. **Note:** This is not currently supported and will not be returned, but the enum value is retained for backwards-compatibility purposes. | info |\n","example":"violatedAvoidTollRoad","x-extensible-enum":["violatedAvoidControlledAccessHighway","violatedAvoidTollRoad","violatedAvoidTunnel","violatedAvoidDirtRoad","violatedBlockedRoad","violatedStartDirection","violatedCarpool","violatedTurnRestriction","violatedVehicleRestriction","violatedZoneRestriction","violatedAvoidDifficultTurns","violatedAvoidUTurns","violatedEmergencyGate","violatedAvoidSeasonalClosure","violatedAvoidTollTransponder","violatedAvoidTruckRoadType","seasonalClosure","tollTransponder","simplePolyline","tollsDataUnavailable","tollsDataTemporarilyUnavailable","currencyUnsupported","chargingStopNotNeeded","violatedChargingStationOpeningHours","violatedMinChargeAtDestination","violatedMinChargeAtFirstChargingStation","violatedMinChargeAtChargingStation","outOfCharge","currentWeightNegative","currentWeightExceedsLimit","travelTimeExceedsDriverWorkHours","carpool","turnRestriction","vehicleRestriction","zoneRestriction","avoidTollRoad","targetChargeNotAchievable","violatedChargingStationTransportMode","violatedChargingStationVehicleRestrictions","maxDrivingTimeExceeded"]},"severity":{"$ref":"#/components/schemas/NoticeSeverity"},"details":{"type":"array","items":{"$ref":"#/components/schemas/VehicleNoticeDetail"}}},"required":["code"]},"VehiclePlace":{"description":"Place used in vehicle routing.","oneOf":[{"$ref":"#/components/schemas/Place"},{"$ref":"#/components/schemas/StationPlace"},{"$ref":"#/components/schemas/AccessPointPlace"},{"$ref":"#/components/schemas/ParkingLotPlace"},{"$ref":"#/components/schemas/ChargingStationPlace"},{"$ref":"#/components/schemas/DockingStationPlace"}],"discriminator":{"propertyName":"type","mapping":{"place":"#/components/schemas/Place","station":"#/components/schemas/StationPlace","accessPoint":"#/components/schemas/AccessPointPlace","parkingLot":"#/components/schemas/ParkingLotPlace","chargingStation":"#/components/schemas/ChargingStationPlace","dockingStation":"#/components/schemas/DockingStationPlace"}}},"ArriveAction":{"description":"An arrival maneuver to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["arrive"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"ContinueAction":{"description":"A continue operation to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["continue"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"DepartAction":{"description":"A departure maneuver to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["depart"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"PedestrianDeparture":{"description":"Departure of pedestrian","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"$ref":"#/components/schemas/PedestrianPlace"}},"required":["place"]},"PedestrianPostAction":{"oneOf":[{"$ref":"#/components/schemas/OffsetAction"}],"discriminator":{"propertyName":"action","mapping":{"wait":"#/components/schemas/OffsetAction"}}},"RentedPostAction":{"discriminator":{"propertyName":"action","mapping":{"park":"#/components/schemas/OffsetAction"}},"oneOf":[{"$ref":"#/components/schemas/OffsetAction"}]},"RentedPreAction":{"discriminator":{"propertyName":"action","mapping":{"setup":"#/components/schemas/OffsetAction"}},"oneOf":[{"$ref":"#/components/schemas/OffsetAction"}]},"TaxiDeparture":{"description":"Departure","properties":{"time":{"description":"Expected tim
[...]
