{"openapi":"3.0.2","info":{"title":"HERE EV Charge Points API v3","description":"Use this API to get detailed information about charging locations. It builds on data\nretrieved from the **HERE Geocoding and Search API v7** or **HERE Map Content**.\n\nTariff information is provided by Charge Point Operators. HERE Technologies works to\nkeep this data accurate and up to date, but can't guarantee its completeness. Actual\ntariffs at charging locations may differ from the data returned by the API.\n\nSome fields and parameters are in **ALPHA** status. These may change without notice.\n\nFields and parameters marked with the **RESTRICTED** privilege qualifier are\navailable only to customers with a specific contract with HERE.\n","version":"3.20.1"},"servers":[{"url":"https://evcp.hereapi.com/v3","description":"Production environment URL"}],"security":[{"Bearer":[]},{"ApiKey":[]}],"tags":[{"name":"Charging Location Lookup","description":"Endpoints to query charging location data"},{"name":"Charging Location Metadata","description":"Endpoints to query charging location metadata, namely operators and e-Mobility Service Providers."},{"name":"API Information","description":"Additional API Information"}],"paths":{"/locations/{id}":{"get":{"summary":"Fetch a single location","description":"Allows fetching a single location given its ID. The set of returned location properties can be controlled via the `fields` parameter.","operationId":"HERE EV Charge Points API v3 getLocation","tags":["Charging Location Lookup"],"parameters":[{"$ref":"#/components/parameters/xRequestId"},{"$ref":"#/components/parameters/id"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/days"},{"$ref":"#/components/parameters/tariff"}],"responses":{"200":{"description":"EV charge point data","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargingLocation"}}}},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"403":{"$ref":"#/components/responses/ForbiddenErrorResponse"},"404":{"$ref":"#/components/responses/NotFoundResponse"},"500":{"$ref":"#/components/responses/InternalErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}},"/locations":{"get":{"summary":"Fetch multiple locations","description":"Returns data for the specified location identifiers in the `items` property of the response. If no data is found for a location identifier, it appears in the `missing` property.","operationId":"HERE EV Charge Points API v3 getLocations","tags":["Charging Location Lookup"],"parameters":[{"$ref":"#/components/parameters/xRequestId"},{"$ref":"#/components/parameters/idList"},{"$ref":"#/components/parameters/fields"},{"$ref":"#/components/parameters/days"},{"$ref":"#/components/parameters/tariff"},{"$ref":"#/components/parameters/connectorTypes"}],"responses":{"200":{"description":"EV charge point data","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ChargingLocations"}}}},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"403":{"$ref":"#/components/responses/ForbiddenErrorResponse"},"500":{"$ref":"#/components/responses/InternalErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}},"/countryMetadata":{"get":{"summary":"Fetch metadata by countries.","description":"Fetch metadata by countries, such as a list of e-Mobility Service Providers\n(eMSPs). If you don't specify any countries, the response includes all available\ncountries. If you don't specify any fields, the response includes only the list of\navailable countries.\n","operationId":"HERE EV Charge Points API v3 getCountryMeta","tags":["Charging Location Metadata"],"parameters":[{"$ref":"#/components/parameters/xRequestId"},{"$ref":"#/components/parameters/countryCodes"},{"$ref":"#/components/parameters/metaFields"}],"responses":{"200":{"description":"List of metadata entries by country.","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/MetadataByCountry"}}}},"400":{"$ref":"#/components/responses/BadRequestErrorResponse"},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"500":{"$ref":"#/components/responses/InternalErrorResponse"},"503":{"$ref":"#/components/responses/ServiceUnavailableErrorResponse"},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}},"/health":{"get":{"summary":"Tests basic health of the service","operationId":"HERE EV Charge Points API v3 getHealth","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"Health response in case of success","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"503":{"description":"Health response when the service is not healthy","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponse"}}}},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}},"/version":{"get":{"summary":"Retrieves API specification version information","operationId":"HERE EV Charge Points API v3 getVersion","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"}}}},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}},"/openapi":{"get":{"summary":"Retrieves this API specification in OpenAPI 3 format","operationId":"HERE EV Charge Points API v3 getOpenapi","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"Version of API","headers":{"X-Correlation-ID":{"$ref":"#/components/headers/X-Correlation-ID"},"X-Request-ID":{"$ref":"#/components/headers/X-Request-ID"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/OpenapiResponse"},"examples":{"openapi":{"$ref":"#/components/examples/OpenapiResponse"}}},"application/x-yaml":{"schema":{"type":"string"}},"text/x-yaml":{"schema":{"type":"string"}}}},"401":{"$ref":"#/components/responses/UnauthorizedErrorResponse"},"default":{"$ref":"#/components/responses/GenericErrorResponse"}}}}},"components":{"parameters":{"connectorTypes":{"name":"connectorTypes","in":"query","description":"Filter charging locations to only contain EVSEs and connector groups matching the\nrequested connector types.\n\nThis can reduce response size by returning only relevant data. Locations that\ndon't contain EVSEs matching the requested connector types aren't included in\nthe response.\n\nProvide a comma-separated list of connector type identifiers, as defined in the\nConnectorType schema. If you don't specify this parameter, the response includes\nall connector types and no filtering is applied.\n\nConnector types represent physical standards for EV charging connectors, such as\nIEC_62196_T2 and CHADEMO.\n\nFor a complete list of supported values, see the ConnectorType schema.\n","example":["IEC_62196_T2","IEC_62196_T2_COMBO","CHADEMO"],"explode":false,"required":false,"schema":{"type":"array","minItems":1,"maxItems":5,"uniqueItems":true,"items":{"$ref":"#/components/schemas/ConnectorType"}}},"countryCodes":{"name":"countryCodes","in":"query","description":"Filter metadata results to include only the specified countries. A comma-separated list of three-letter country codes according to ISO 3166-1 alpha 3.","example":["DEU","GBR","IRL"],"explode":false,"schema":{"type":"array","minItems":1,"maxItems":50,"items":{"$ref":"#/components/schemas/CountryCode"}}},"days":{"name":"days","in":"query","description":"Data is retrieved starting from the current day, based on the local time zone of\nthe location. Currently applies to data from the following fields: `predictions`.\n\nIf no parameter is provided, the default value is 2, which returns data for the\ncurrent day and the following day.\n\nIf a parameter is provided, the system attempts to return data for the specified\nnumber of days, starting from today.\n\nThe actual number of days returned may be fewer than requested, depending on data\navailability.\n","required":false,"example":1,"schema":{"type":"integer","minimum":1,"maximum":7,"default":2}},"fields":{"name":"fields","description":"The `fields` parameter allows requesting additional fields in addition\nto the minimal set of fields to control the amount of data returned. \nThe minimal set of fields is defined as follows:\n  * `id`\n  * `location`\n  * `name`\n  * `operator`\n  * `suboperator`\n  * `restrictions`\n  * `supportedVehicles`\n\nAdditional fields can be requested according to the following table. The fields\ncan be freely combined in the query. However some fields have dependencies to\nother fields as listed in the table. If a field is not present in the data, it\nwill be left out of the response.\n\n<table>\n  <tr>\n    <td><b>Fields-query</b></td>\n    <td><b>Returned fields</b></td>\n  </tr>\n  <tr>\n    <td>address</td>\n    <td>'address' in full details</td>\n  </tr>\n  <tr>\n    <td>evses</td>\n    <td>'evses' in full details, including 'connectors', 'maxPower', 'standard', 'status' etc</td>\n  </tr>\n  <tr>\n    <td><b>RESTRICTED</b> truckRestrictions</td>\n    <td>'truckRestrictions', 'vehicleLimitations', 'isPullThrough', 'evse.vehicleTypes', 'evse.vehicleLimitations', 'evse.noClearanceHeight'</td>\n  </tr>\n  <tr>\n    <td>locationInfo</td>\n    <td>'accessPoints', 'parkingType', 'supportPhoneNumber', 'timeZone', 'isPullThrough', 'openingHours', 'energyMix', 'cpoLocationId', 'reservationRequired'</td>\n  </tr>\n  <tr>\n    <td>emsps</td>\n    <td>'eMobilityServiceProviders'</td>\n  </tr>\n  <tr>\n    <td>connectorGroups</td>\n    <td>'connectorGroups', a summary of connectors grouped by max power and type. If also evses-field is requested, the groups include references to EVSEs and connectors.</td>\n  </tr>\n  <tr>\n    <td><b>RESTRICTED</b> predictions</td>\n    <td>'predictions' in charging location level. If also 'connectorGroups'-field is requested, gives predictions also in 'connectorGroups'.</td>\n  </tr>\n  <tr>\n    <td><b>ALPHA RESTRICTED</b> reliability</td>\n    <td>'reliability' indicators for 'evses' and 'connectorGroups'. Ignored if requested without 'evses' or 'connectorGroups' fields.</td>\n  </tr>\n  <tr>\n    <td>tariffs</td>\n    <td>'tariffs' for 'connectors' / 'connectorGroups'. Ignored if requested without 'evses' or 'connectorGroups' fields.</td>\n  </tr>\n  <tr>\n    <td>nearby</td>\n    <td><b>ALPHA</b> 'nearbyPlaces', 'facilityTypes', 'hasMoreNearbyPlaces'</td>\n  </tr>\n</table>\n","in":"query","style":"form","explode":false,"example":["evses","address"],"schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["address","evses","truckRestrictions","locationInfo","emsps","connectorGroups","predictions","reliability","tariffs","nearby"]}}},"id":{"name":"id","in":"path","description":"Identifier of the charging location, obtained for example from the Geocoding and Search API, or from the HERE Map Content Electric Vehicle Charging Location data. Only the last component of a colon-separated identifier is used to index the data. The other components are optional.","example":"here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3","required":true,"schema":{"$ref":"#/components/schemas/IdParameter"}},"idList":{"name":"ids","in":"query","description":"A comma separated list of unique charging location identifiers.\n\nOnly the last component of a colon-separated identifier (the \"content id\")\nis used to index the data. The other components are optional.\n\nFor requests containing more than 50 identifiers, provide only the\ncontent ids (the last component) rather than full HRNs to reduce URL\nlength and improve compatibility.\n","example":["246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3","276u33d811u8y-aGVyZS1ldjplY29tb3ZlbWVudDozMTMwMTI5MTU"],"required":true,"explode":false,"schema":{"type":"array","minItems":1,"maxItems":100,"items":{"$ref":"#/components/schemas/IdParameter"}}},"metaFields":{"name":"fields","description":"The fields parameter allows selecting which metadata fields are returned.\nIf no fields are specified, the response will only consist of a list of available\ncountries.\nPossible values are:\n* `eMobilityServiceProviders`: e-Mobility Service Provider names and ids.\n* `operators`: Charge point operator and suboperator names and ids.\n* `tariffs`: Tariff metadata is included in the e-Mobility Service Provider and\n  operator metadata details. No effect if used alone.\n* `connectorTypes`: Connector type identifier, common name, and max power.\n","in":"query","style":"form","explode":false,"schema":{"type":"array","minItems":1,"maxItems":4,"items":{"type":"string","enum":["eMobilityServiceProviders","operators","tariffs","connectorTypes"]}}},"tariff":{"name":"tariff","description":"Search option to choose the eMSP or CPO whose tariff the client wants\nto see in the response. This parameter is effective only if the `fields` is\nconfigured to return tariffs.\n\nSupported values:\n- no `tariff` parameter: return ad-hoc tariffs only\n- `all`: return all available tariffs (CPO + eMSP + Ad-hoc)\n- `adhoc`: return ad-hoc tariffs only\n- `cpo`: return all CPO tariffs\n- `emsp`: return all eMSP tariffs\n- `partner:<partnerId>`: return all tariffs for the specified partner\n- `partner:<partnerId>;name=<tariffName>[,<tariffName>...]`: return the\n  specified tariff names for the partner\n- `<partnerId>`: return all tariffs for the specified partner + Ad-hoc\n  tariffs\n- `<partnerId>,<tariffName>[,<tariffName>...]`: return the specified\n  tariff names for the partner + Ad-hoc tariffs\n\nThe `tariff` query parameter can be included multiple times to request\nmultiple filters. Group keywords such as `cpo` and `emsp` must be sent as\nseparate parameter values and cannot be combined with a `partnerId` in the\nsame `tariff` entry. The legacy format\n`<partnerId>[,<tariffName>...]` remains supported for backward\ncompatibility and continues to include Ad-hoc tariffs. New integrations\nare recommended to use\n`partner:<partnerId>[;name=<tariffName>[,<tariffName>...]]`.\n\nThe input is expected to be based on the response from the `CountryMetadata`\nendpoint, including only eMSPs / CPOs that are relevant for the client. \n\nSome eMSPs provide several tariffs (subscriptions / charge cards). The end user\nis expected to subscribe to only a few of them, and is hence expected to be\ninterested in only the related tariffs. The available tariffs are listed in the\n`CountryMetadata` response. If tariff name is not set or the name does not match\nwith the tariffs of the provider, all available tariffs for that provider for the\ncharging location are returned.\n\nAs tariff names may occasionally change, the client is encouraged to monitor\nthe list by regularly fetching the latest list of tariff names per eMSP or CPO\nfrom the `CountryMetadata` endpoint. \n\nIf the returned tariffs for multiple locations do not contain a requested tariff\nby the name, the client is recommended to try searching without any names.\nIf still no tariffs were returned, the reason may be that there are no tariffs\navailable for the locations, or that the partner has no roaming agreement for the\nlocations.\n\nIf the search by partnerId succeeds, the used tariff name may be outdated and the\nclient need to update the list from the `CountryMetadata` endpoint.\n\nThis search cannot be used to filter out locations not covered by the specified\neMSPs / CPOs.\n","in":"query","style":"form","explode":true,"schema":{"type":"array","maxItems":50,"items":{"description":"The keyword `all` to request all tariffs (ad-hoc and subscription,\nincluding both eMSP and CPO tariffs), the keyword `adhoc` to request\nad-hoc tariffs, the keyword `cpo` to request all CPO tariffs, the\nkeyword `emsp` to request all eMSP tariffs, a legacy string\nconsisting of eMSP or CPO `partnerId` and optionally a list of tariff\nnames, one or more, separated by a comma `,`, or the preferred\nexplicit format `partner:<partnerId>` optionally followed by\n`;name=<tariffName>[,<tariffName>...]`. Not provided or empty value\ndefaults to `adhoc`.\n\nThe query parameter must be repeated if multiple filters are requested. Group keywords\nsuch as `cpo` and `emsp` must be sent as separate parameter values and cannot be combined\nwith a `partnerId` in the same `tariff` entry. In the `partner:` format, any values listed\nafter `;name=` are interpreted as tariff names, even if a name matches a keyword such as\n`emsp` or `cpo`. In the legacy `<partnerId>,<tariffName>...` format, any values after the\n`partnerId` are likewise interpreted as tariff names, and legacy\npartnerId forms continue to include Ad-hoc tariffs for backward\ncompatibility. For tariff parameters repeating the same partnerId,\nonly the last instance is applied.\n","type":"string","maxLength":256,"minLength":1,"pattern":"^^(all|adhoc|cpo|emsp|partner:.{36}(;name=.*)?|.{36}(,.*)*)$"}},"example":["adhoc","all","cpo","emsp","partner:1f90fdf0-cca5-11ed-be23-42010aa40002","partner:1f90fdf0-cca5-11ed-be23-42010aa40002;name=Basic,Advanced","partner:1f098f1e-cca5-11ed-b774-42010aa40002;name=Roaming Plus","1f90fdf0-cca5-11ed-be23-42010aa40002","1f90fdf0-cca5-11ed-be23-42010aa40002,Basic,Advanced","1f098f1e-cca5-11ed-b774-42010aa40002,Roaming Plus"]},"xRequestId":{"name":"X-Request-ID","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service","schema":{"type":"string"}}},"headers":{"X-Correlation-ID":{"description":"Auto-generated ID, which uniquely identifies the request, available in the response. When contacting support with an inquiry regarding a specific request, provide the value of this header which will help troubleshooting the issue.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-ID":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"}}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For\nmore information on how to get an API key, see the [https://developer.here.com/documentation/identity-access-management/dev_guide/index.html](Identity\n& Access Management Guide).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials\nand an OAuth 1.0a HMAC-SHA256 signed request. For more information on how\nto get a bearer token, see the [https://developer.here.com/documentation/identity-access-management/dev_guide/index.html](Identity\n& Access Management Guide).\n"}},"schemas":{"Address":{"type":"object","description":"Address of the EV charging location.","properties":{"label":{"type":"string","description":"The full address in a single string.","example":"Invalidenstrasse 116, 10115 Berlin, Germany"},"street":{"type":"string","description":"The name of the street.","example":"Invalidenstraße"},"houseNumber":{"type":"string","description":"House number.","example":"116"},"state":{"type":"string","description":"A division of a country; typically, a first-level administrative division of a country or equivalent.","example":"Berlin"},"county":{"type":"string","description":"A division of a state; typically, a secondary-level administrative division of a country or equivalent.","example":"Berlin"},"city":{"type":"string","description":"The primary locality of the address.","example":"Berlin"},"district":{"type":"string","description":"A division of city; typically an administrative unit within a larger city or a customary name of a city's neighborhood.","example":"Mitte"},"subdistrict":{"type":"string","description":"A subdivision of a district.","example":"Romantikkiez"},"block":{"type":"string","description":"Name or number of block. Used only in some countries.","example":"3"},"subblock":{"type":"string","description":"Name or number of sub-block. Used only in some countries.","example":"1"},"countryCode":{"type":"string","description":"A three-letter country code according to ISO 3166-1 alpha 3.","example":"DEU"},"postalCode":{"type":"string","description":"An alphanumeric string included in a postal address to facilitate mail sorting, such as postal code, postcode, or ZIP code.","example":"10115"},"languageCode":{"type":"string","description":"ISO 639-1 two-letter language code for the address fields.","example":"de"}}},"AnnualOpeningHoursDetailType":{"description":"Special opening dates and time periods, or closing dates.","type":"object","properties":{"date":{"type":"string","format":"date","example":"2020-12-24","description":"Date of special opening hours"},"periods":{"description":"A list of time periods when the charging location is open on the\nspecified date. The time periods are in the local time zone of the\ncharging location, and are represented as a list of objects with\n`from` and `to` properties.\n","type":"array","items":{"$ref":"#/components/schemas/TimePeriodType"}},"closed":{"type":"boolean","example":true,"description":"True if the charging location is closed on particular date. Either the `closed` or the `period` elements are included in the response, not both."}},"required":["date"]},"BusinessDetails":{"description":"Name and optionally other details about operator, suboperator, or e-Mobility service provider.","type":"object","properties":{"name":{"description":"Name of the company.","type":"string"},"website":{"description":"Link to the company's website, if available.","type":"string"},"partnerId":{"description":"A unique ID for the company. It can be used to assure correct mapping when the name changes.","type":"string"},"eMobilityIds":{"description":"e-Mobility ids for the company; there are often more than one, especially if the company operates in multiple countries, but not all companies have any.","type":"array","items":{"$ref":"#/components/schemas/EMobilityId"},"uniqueItems":true},"logo":{"description":"Image link to the company's logo, if available.","allOf":[{"$ref":"#/components/schemas/Image"}]}},"required":["name","partnerId"],"example":{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002","eMobilityIds":["DE-EV1"]}},"ChargingLocation":{"description":"An electric vehicle (EV) charging location. The semantics generally\nfollow the OCPI 2.2.1 standard.\n\nKnown EV-specific acronyms:\n* EV: Electric Vehicle\n* OCPI: Open Charge Point Interface (a standard with a rather wide\nadoption worldwide, https://evroaming.org/)\n* CPO: Charge Point Operator (company that runs the EV charging\nlocation)\n* eMSP: e-Mobility Service Provider (customer-facing company)\n* EVSE: Electric Vehicle Supply Equipment (the actual charger that can\ncharge one car at a time)\n\nA charging location includes a collection of one or more EV supply\nequipment (EVSE) instances.\n\nTypically, the charging location is the exact location of the group of\nEVSEs, simplified to a single point, but it can also be the entrance of\na parking structure which contains these EVSEs.\n\nEach EVSE supports more precise position, where applicable.\n","type":"object","properties":{"id":{"$ref":"#/components/schemas/Id"},"location":{"description":"A point representation of the EV charging location's geolocation.","allOf":[{"$ref":"#/components/schemas/Location"}]},"supportedVehicles":{"description":"Set of vehicle categories this charging location can support.\nFor example, the same location can be suitable for charging\npassenger cars and motorcycles.\n\nThere may be some further restrictions specified in other\nattributes, for example the available connector types may\nnot be suitable for all vehicles in the supported category.\n\nExtensible enum: `car` `twoWheeler` `truck` `...`  \n\n* `car`: The charging location is suitable for regular passenger cars, and\noptionally also for light commercial vehicles, such as vans, pickups and the\nlike, if signaled by `truckAccess` property.\nThis is the default category, used when there is no explicit information about\nsupport for other vehicle types.\n\n* `twoWheeler`: The charging location is suitable for motor bikes,\ne-scooters, and the like.\n\n* `truck`: The charging location is suitable for heavy vehicle charging,\nincluding, for example, rigid trucks and semi-trailer trucks, requiring more\nphysical space for parking and maneuvering than passenger cars.\n\nAs it is possible that new categories are supported in the future,\nunknown categories should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvVehicleCategory"},"uniqueItems":true},"name":{"description":"Display name of the location.","type":"string"},"accessPoints":{"description":"A list of points that provide access from road network to the EV\ncharging location.\n\nThis is not the same position where the charging location is located,\nbut a point on the nearest suitable road.\n\nIt can be rendered on map to illustrate from where to enter the\ncharging location.\n","type":"array","items":{"$ref":"#/components/schemas/Location"},"uniqueItems":true},"address":{"description":"Structured address.\n","allOf":[{"$ref":"#/components/schemas/Address"}]},"parkingType":{"description":"The general type of the charging location's parking.\n\nExtensible enum: `alongMotorway` `parkingGarage` `parkingLot` `onDriveway` `onStreet` `undergroundGarage` `...`  \n\n* `alongMotorway`: A parking facility/rest area along a motorway, freeway,\ninterstate, highway etc.\n* `parkingGarage`: Multi-story car park, mainly above ground.\n* `parkingLot`: A cleared area that is intended for parking vehicles, for example\nat super markets or bars.\n* `onDriveway`: The driveway of a house or building.\n* `onStreet`: A public parking space along a street.\n* `undergroundGarage`: Multi-story car park, mainly underground.\n\nAs it is possible that new types are supported in the future,\nunknown types should be ignored.\n","allOf":[{"$ref":"#/components/schemas/EvParkingType"}]},"operator":{"description":"Information about the operator, if available.","allOf":[{"$ref":"#/components/schemas/BusinessDetails"}]},"suboperator":{"description":"Information about the suboperator, if available.","allOf":[{"$ref":"#/components/schemas/BusinessDetails"}]},"facilityTypes":{"description":"Types of facilities / amenities nearby the EV charging location.\n\nExtensible enum: `hotel` `restaurant` `cafe` `mall` `supermarket` `sport` `recreationArea` `nature` `museum` `bikeSharing` `busStop` `taxiStand` `tramStop` `metroStation` `trainStation` `airport` `parkingLot` `carpoolParking` `fuelStation` `wifi` `business` `education` `finance` `health` `service` `store` `fastFood` `bakery` `truckStop` `playground` `toilets` `...`  \n\n* `hotel`: A place to stay overnight.\n* `restaurant`: A place to eat.\n* `cafe`: A place to have a coffee or other drinks.\n* `mall`: A shopping mall.\n* `supermarket`: A place to buy groceries.\n* `sport`: Sport facilities: gym, field etc.\n* `recreationArea`: A place for recreation, like a park, beach etc.\n* `nature`: Located in, or close to, a park, nature reserve etc.\n* `museum`: A museum or other cultural facility.\n* `bikeSharing`: A bike/e-bike/e-scooter sharing location.\n* `busStop`: A bus stop.\n* `taxiStand`: A taxi stand.\n* `tramStop`: A tram stop.\n* `metroStation`: A metro station.\n* `trainStation`: A train station.\n* `airport`: An airport.\n* `parkingLot`: A parking lot.\n* `carpoolParking`: A parking lot for carpooling.\n* `fuelStation`: A fuel station.\n* `wifi`: Wifi or other type of internet available.\n* `business`: Business facilities.\n* `education`: Educational facilities.\n* `finance`: Financial facilities.\n* `health`: Health facilities.\n* `service`: Service facilities.\n* `store`: A store.\n* `fastFood`: A fast food restaurant.\n* `bakery`: A bakery.\n* `truckStop`: A truck stop, rest area or similar.\n* `playground`: A playground or other place for children to play.\n* `toilets`: Toilets available for public use.\n\nAs it is possible that new facility types are supported in the future,\nunknown types should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvFacilityType"},"uniqueItems":true},"timeZone":{"description":"The time zone of the charging location. Based on IANA tzdata's\nTZ-values.\n","type":"string","example":"Europe/Berlin"},"openingHours":{"description":"The times when the EVSEs at the charging location can be accessed for\ncharging.\n","allOf":[{"$ref":"#/components/schemas/OpeningHoursType"}]},"cpoLocationId":{"description":"CPO's own id for the location, if available.\n\nThis id may be relevant for some clients to map the `ChargingLocation` data to\ntheir own or 3rd party systems.\n","type":"string"},"energyMix":{"description":"Details on the energy supplied at this location.","allOf":[{"$ref":"#/components/schemas/EnergyMix"}]},"connectorGroups":{"description":"Connector groups for the location.\n\nProvides an overview of the charging connectors in the location by\ntype and power.\n","type":"array","items":{"$ref":"#/components/schemas/ConnectorGroup"},"uniqueItems":true},"restrictions":{"description":"Reason(s) for restricted access type, multiple reasons can be\napplied as alternatives (with OR). Note: Private locations are not\neven included.\n\nExtensible enum: `customersOnly` `brandOnly` `carSharingOnly` `taxisOnly` `other` `...`  \n\n* `customersOnly`: Charging for customers of a hotel, restaurant, store\netc\n* `brandOnly`: Vehicle brand-restriction, for example Tesla, BMW\n* `carSharingOnly`: Charging for car sharing\n* `taxisOnly`: Charging for taxis\n* `other`: Charging is restricted due to other reasons\n\nAs it is possible that new restriction reasons are supported\nin the future, unknown reasons should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvAccessRestrictionReason"},"uniqueItems":true},"eMobilityServiceProviders":{"description":"eMSPs with a roaming agreement enabling access to the EV charging location. The details are without logo or website.","type":"array","items":{"$ref":"#/components/schemas/BusinessDetails"},"uniqueItems":true},"supportPhoneNumber":{"description":"The phone number that EV drivers should call when they need\nassistance at the charge location, in E.164 format.\n","type":"string"},"truckRestrictions":{"$ref":"#/components/schemas/TruckRestrictions"},"isPullThrough":{"description":"Most of the EV charging locations are designed for nose in/out\nparking or parallel parking, requiring manouvering when entering or exiting.\nLocations with at least one EVSE allowing pull through, i.e., exiting without\nreversing, are handy especially for cars or trucks with trailers.\nIf the layout is not known, nose or parallel parking can be assumed.\n","type":"boolean"},"vehicleLimitations":{"$ref":"#/components/schemas/VehicleLimitations"},"reservationRequired":{"description":"Indicates whether a reservation is required for using some EVSEs at the\ncharging location. The location may still also have EVSEs that can be used\nwithout a reservation.\n\nIf true, the driver should check at the EVSE-level whether a reservation is\nneeded in advance to be able to charge.\nIf false, the driver can use any available EVSEs without reservation.\nAbsence indicates the information is not known; typically no reservation is\nrequired.\n","type":"boolean"},"evses":{"description":"Collection of EVSEs that belong to this charging location.","type":"array","items":{"$ref":"#/components/schemas/Evse"},"uniqueItems":true},"predictions":{"description":"**RESTRICTED** Availability related predictions data. For example the predicted\navailability of a free EVSE and the wait time for a free EVSE if none are free.\n\nOnly present if there are predictions data available for the location.\n","type":"array","items":{"$ref":"#/components/schemas/Prediction"},"uniqueItems":true},"tariffs":{"description":"List of tariffs or price plans for the connectors of the charging station.\nTariffs are typically connector-type specific. Hence they are always linked with\nconnectors and/or connector groups, by indexes to this list.\nThe tariffs are included in the response only when there is data available, and when either\n`evses` or `connectorGroups` fields are requested too.\nBy default the list includes tariffs for ad-hoc charging, per connector type, for EVSEs that \naccept payment without registering.\n","type":"array","items":{"$ref":"#/components/schemas/Tariff"}},"nearbyPlaces":{"x-maturity":"alpha","description":"**ALPHA** List of HERE Places within walking distance from the EV charging\nlocation, providing conveniences for the EV driver and passengers while the\nvehicle is charging.\n\nThe list is populated only for DC fast charging locations and is sorted by\nthe distance from the charging location, nearest first. The list is limited\nto a maximum of 10 places per category, showing the closest ones.\n","type":"array","items":{"$ref":"#/components/schemas/NearbyPlace"},"uniqueItems":true},"hasMoreNearbyPlaces":{"x-maturity":"alpha","description":"**ALPHA** Boolean flag indicating whether there are additional nearby places\nbeyond those included in the nearbyPlaces list. If true, it means some\nplaces were filtered out due to the 10-per-category limit, and clients could\nsearch for more places using the HERE Geocoding and Search API v7 (GS7).\n","type":"boolean","default":false}},"required":["id","location"],"example":{"id":"here:evcp:charginglocation:146udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3","location":{"lat":52.482,"lng":13.31},"supportedVehicles":["car"],"name":"Charging Station Invalidenstrasse","accessPoints":[{"lat":52.53211,"lng":13.38532}],"address":{"label":"Invalidenstrasse 116, 10115 Berlin, Germany","street":"Invalidenstraße","houseNumber":"116","state":"Berlin","county":"Berlin","city":"Berlin","district":"Mitte","subdistrict":"Romantikkiez","countryCode":"DEU","postalCode":"10115"},"parkingType":"onStreet","operator":{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002","eMobilityIds":["DE-CPI"]},"suboperator":{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002","eMobilityIds":["DE-CPI"]},"facilityTypes":["hotel"],"timeZone":"Europe/Berlin","openingHours":{"open24x7":false,"chargingWhenClosed":true,"regularSchedule":[{"days":["mo","tu","we","th","fr"],"periods":[{"from":"08:00:00","to":"17:00:00"}]}]},"energyMix":{"isGreenEnergy":true,"energySources":[{"source":"wind","percentage":100}],"supplier":"Windy"},"restrictions":["customersOnly"],"eMobilityServiceProviders":[{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002","eMobilityIds":["DE-CPI"]}],"supportPhoneNumber":"+494412345","isPullThrough":true,"vehicleLimitations":{"weight":2800,"height":250},"evses":[{"id":"here:evcp:evse:02605ba396dce8fc1aa23bd85daecc9e70042e63faedeb45f3dae0b737817e0a","uid":"3307564","evseId":"DE*BSW*E603467*467","connectors":[{"id":"1","standard":"IEC_62196_T2","format":"socket","powerType":"ac3Phase","maxVoltage":230,"maxCurrent":16,"maxPower":11000}],"status":"available","capabilities":["chargingProfile"],"physicalReference":"66737","location":{"lat":52.482,"lng":13.31},"paymentSupports":["chipCard"],"modified":"2024-05-31T13:41:49.270Z","reliability":{"chargingSessions":{"lastSuccessful":"2024-05-30T14:20:00Z","successfulCount":3}}}],"predictions":[{"date":"2024-05-31","confidence":0.93,"periodsPerDay":96,"availabilityProbabilities":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0.13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"predictedWaitTimes":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,65,57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]},{"date":"2024-06-01","confidence":0.93,"periodsPerDay":96,"availabilityProbabilities":[1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,0,0.13,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1,1],"predictedWaitTimes":[0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,65,57,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0]}]}},"ChargingLocations":{"type":"object","description":"Response when querying multiple charging locations. The `items` array contains the locations which were found, the `missingItems` array contains the identifiers of the locations which were not found.","properties":{"items":{"type":"array","maxItems":100,"items":{"$ref":"#/components/schemas/ChargingLocation"}},"missingItems":{"type":"array","maxItems":100,"items":{"$ref":"#/components/schemas/IdParameter"}}}},"ConnectorFormat":{"description":"* `socket`: The connector is a socket; the EV user needs to bring a\n  fitting plug.\n* `cable`: The connector is an attached cable; the EV car needs to have a\n  fitting inlet.\n","enum":["socket","cable"],"type":"string"},"ConnectorGroup":{"description":"Group of charging connectors having the same connector type (standard) and max\npower.\n\nThe other characteristics, such as max voltage, can vary between the\nconnectors in the group.\n","type":"object","properties":{"standard":{"description":"The standard (type) of the connectors belonging to this group.\n\nExtensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n","allOf":[{"$ref":"#/components/schemas/ConnectorType"}]},"maxPower":{"description":"Maximum power that can be delivered by the connectors, in watts (W).\nConnectors without max power are not grouped.\n","type":"integer","minimum":1},"connectors":{"description":"Set of EVSE + connector(s) pairs that belong to the group.\n\nEnables to access EVSE statuses and more detailed connector characteristics.\nIs present only when EVSEs are requested from the API.\n","type":"array","items":{"$ref":"#/components/schemas/ConnectorReference"},"uniqueItems":true},"connectorCount":{"description":"Number of connectors in the group.\n\nIf an EVSE has multiple identical connectors they are counted as one\nas only one is accessible at a time.\n","type":"integer","minimum":1},"availableConnectorCount":{"description":"Number of connectors available for use at the time of query.\nThe field is not present if the availability is not known.\n","type":"integer","minimum":0},"predictions":{"description":"**RESTRICTED** Availability related predictions data. For example the predicted\navailability of a free EVSE within the group and the wait time for a free EVSE\nif none are free.\n\nOnly present if the `predictions` field is requested and there are predictions\ndata available for the connector group.\n","type":"array","items":{"$ref":"#/components/schemas/Prediction"},"uniqueItems":true},"tariffIndexes":{"description":"Tariffs for the connector group, represented by indexes to the charging station's tariffs-list.\n","type":"array","items":{"type":"integer"}},"reliability":{"x-maturity":"alpha","description":"**ALPHA** **RESTRICTED** Reliability information for the connector group.\n\nOnly present if the `reliability` field is requested and there is reliability\ndata available for the connector group.\n","allOf":[{"$ref":"#/components/schemas/Reliability"}]}},"required":["standard","maxPower","connectorCount"],"example":{"standard":"IEC_62196_T2_COMBO","maxPower":200000,"connectorCount":2,"availableConnectorCount":1,"connectors":[{"evseUid":"36bd2f61-6c60-423c-832a-609d6104e04b","connectorIds":["1"]},{"evseUid":"36bd2f61-6c60-423c-832a-609d6104e04c","connectorIds":["1"]}],"reliability":{"chargingSessions":{"lastSuccessful":"2024-05-31T13:41:49.270Z","successfulCount":38}}}},"ConnectorReference":{"description":"Reference to connector(s).\n\nConnectors can only be referenced via the owning EVSEs, as connector ids\nare unique only within EVSE.\nStatus information, an important use case for connector groups, is also\ncarried in EVSEs.\n","type":"object","properties":{"evseUid":{"description":"Uid of the EVSE owning the connector(s).","type":"string"},"connectorIds":{"description":"Id(s) of the connector(s). In some cases an EVSE can have 2 identical connectors.","type":"array","items":{"type":"string"},"uniqueItems":true,"minItems":1}},"required":["evseUid","connectorIds"]},"ConnectorType":{"description":"Extensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n","x-extensible-enum":["CHADEMO","CHAOJI","DOMESTIC_A","DOMESTIC_B","DOMESTIC_C","DOMESTIC_D","DOMESTIC_E","DOMESTIC_F","DOMESTIC_G","DOMESTIC_H","DOMESTIC_I","DOMESTIC_J","DOMESTIC_K","DOMESTIC_L","DOMESTIC_M","DOMESTIC_N","DOMESTIC_O","GBT_AC","GBT_DC","IEC_60309_2_SINGLE_16","IEC_60309_2_THREE_16","IEC_60309_2_THREE_32","IEC_60309_2_THREE_64","IEC_62196_T1","IEC_62196_T1_COMBO","IEC_62196_T2","IEC_62196_T2_COMBO","IEC_62196_T3A","IEC_62196_T3C","NEMA_5_20","NEMA_6_30","NEMA_6_50","NEMA_10_30","NEMA_10_50","NEMA_14_30","NEMA_14_50","PANTOGRAPH_BOTTOM_UP","PANTOGRAPH_TOP_DOWN","TESLA_R","TESLA_S","SAE_J3400","MCS"],"type":"string"},"CountryCode":{"description":"3 letter country code according to ISO 3166-1 alpha 3.","example":"DEU","type":"string","pattern":"^[A-Za-z]{3}$"},"DayOfWeek":{"description":"Enumeration of the days of the week.","type":"string","enum":["mo","tu","we","th","fr","sa","su"]},"EMobilityId":{"description":"E-Mobility identifiers for CPO and eMSP. It is the part one of so called\nema_id, issued by IDRO.\n\nConsists of ISO-3166 alpha-2 country code of the entity, and 3-character\ncode for the CPO or eMSP (following the ISO-15118 standard), separated\nwith a dash '-'.\n\nSee for example\nhttps://benelux-idro.eu/sites/default/files/2021-06/IDACS%20-%20ID%20Format%20and%20syntax.pdf\n","type":"string","pattern":"^[A-Z]{2}[-]{1}[A-Z0-9]{3}$","example":"DE-EV1"},"EnergyMix":{"description":"This type is used to specify the energy mix and environmental impact of\nthe supplied energy at a location or in a tariff.\n","type":"object","properties":{"isGreenEnergy":{"description":"True if 100% from regenerative sources. (CO2 and nuclear waste is zero.)","type":"boolean"},"energySources":{"description":"Key-value pairs (enum + percentage) of energy sources of this\nlocation’s tariff.\nThe sum of the percentages over the collection should be 100%.\n","type":"array","items":{"$ref":"#/components/schemas/EnergySource"},"uniqueItems":true},"supplier":{"description":"Name of the energy supplier, delivering the energy for this location or tariff, if available.","type":"string"},"energyProduct":{"description":"Name of the energy suppliers product or tariff plan used at this location, if available.","type":"string"},"environmentalImpacts":{"description":"Key-value pairs (enum + g/kWh) of nuclear waste and CO2 exhaust of this location's tariff.","type":"array","items":{"$ref":"#/components/schemas/EnvironmentalImpact"},"uniqueItems":true}},"required":["isGreenEnergy"]},"EnergySource":{"description":"Key-value pair (enum + percentage) of energy source.","type":"object","properties":{"source":{"description":"The type of energy source.\n\n* `nuclear`: Nuclear power sources.\n* `generalFossil`: All kinds of fossil power sources.\n* `coal`: Fossil power from coal.\n* `gas`: Fossil power from gas.\n* `generalGreen`: All kinds of regenerative power sources.\n* `solar`: Regenerative power from sunlight.\n* `wind`: Regenerative power from wind.\n* `water`: Regenerative power from water.\n","allOf":[{"$ref":"#/components/schemas/EnergySourceCategory"}]},"percentage":{"description":"Percentage of this source (0-100) in the mix, possibly a non-integer value such as 32.3.","type":"number","maximum":100}},"required":["source","percentage"]},"EnergySourceCategory":{"description":"* `nuclear`: Nuclear power sources.\n* `generalFossil`: All kinds of fossil power sources.\n* `coal`: Fossil power from coal.\n* `gas`: Fossil power from gas.\n* `generalGreen`: All kinds of regenerative power sources.\n* `solar`: Regenerative power from sunlight.\n* `wind`: Regenerative power from wind.\n* `water`: Regenerative power from water.\n","enum":["nuclear","generalFossil","coal","gas","generalGreen","solar","wind","water"],"type":"string"},"EnvironmentalImpact":{"description":"Amount of waste produced or emitted per kWh.","type":"object","properties":{"category":{"description":"The environmental impact category of this value.\n\n* `nuclearWaste`: Produced nuclear waste in grams per kilowatt-hour.\n* `carbonDioxide`: Exhausted carbon dioxide in grams per kilowatt-hour.\n","allOf":[{"$ref":"#/components/schemas/EnvironmentalImpactCategory"}]},"amount":{"description":"Amount of waste in g/kWh for this category.","type":"number","minimum":0}},"required":["category","amount"]},"EnvironmentalImpactCategory":{"description":"* `nuclearWaste`: Produced nuclear waste in grams per kilowatt-hour.\n* `carbonDioxide`: Exhausted carbon dioxide in grams per kilowatt-hour.\n","enum":["nuclearWaste","carbonDioxide"],"type":"string"},"ErrorResponse":{"description":"Response in case of error, common definition for most error responses.","type":"object","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.","example":"E629000"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"EvAccessRestrictionReason":{"description":"Extensible enum: `customersOnly` `brandOnly` `carSharingOnly` `taxisOnly` `other` `...`  \n\n* `customersOnly`: Charging for customers of a hotel, restaurant, store\netc\n* `brandOnly`: Vehicle brand-restriction, for example Tesla, BMW\n* `carSharingOnly`: Charging for car sharing\n* `taxisOnly`: Charging for taxis\n* `other`: Charging is restricted due to other reasons\n\nAs it is possible that new restriction reasons are supported\nin the future, unknown reasons should be ignored.\n","x-extensible-enum":["customersOnly","brandOnly","carSharingOnly","taxisOnly","other"],"type":"string"},"EvConnector":{"description":"A connector is the socket or cable and plug available for the EV to use.\n\nA single EVSE may provide multiple connectors but only one of them can\nbe in use at the same time.\n\nA connector always belongs to an EVSE object.\n","type":"object","properties":{"id":{"description":"Identifier of the connector within the EVSE. Two connectors may have\nthe same id as long as they do not belong to the same EVSE object.\n","type":"string"},"standard":{"description":"The standard (type) of the installed connector.\n\nExtensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n","allOf":[{"$ref":"#/components/schemas/ConnectorType"}]},"format":{"description":"The format of the connector, whether it is a socket or a cable.\n\n* `socket`: The connector is a socket; the EV user needs to bring a\n  fitting plug.\n* `cable`: The connector is an attached cable; the EV car needs to have a\n  fitting inlet.\n","allOf":[{"$ref":"#/components/schemas/ConnectorFormat"}]},"powerType":{"description":"Type of electrical power used by the connector.\n\n* `ac1Phase`: Alternating current, single phase.\n* `ac2Phase`: Alternating current, two phases, only two of the three\navailable phases connected.\n* `ac2PhaseSplit`: Alternating current, two phases using split phase\nsystem.\n* `ac3Phase`: Alternating current, three phases.\n* `dc`: Direct current.\n","allOf":[{"$ref":"#/components/schemas/PowerType"}]},"maxVoltage":{"description":"Maximum voltage of the connector (line to neutral for 3-phase AC),\nin volt [V].\n\nFor example: DC Chargers might vary the voltage during charging when\nbattery is almost full.\n","type":"integer","minimum":1},"maxCurrent":{"description":"Maximum current of the connector, in amperes [A].","type":"integer","minimum":1},"maxPower":{"description":"Maximum power that can be delivered by this connector, in watts (W).\nWhen the maximum electric power is lower than the calculated value\nfrom voltage and amperage, this value should be set.\n","type":"integer","minimum":1},"termsAndConditionsUrl":{"description":"URL to the operator’s terms and conditions, if available.","type":"string"},"tariffIndexes":{"description":"Tariffs for the connector, presented by indexes to the charging station's tariffs-list.\n","type":"array","items":{"type":"integer"}}},"required":["id","standard","format","powerType","maxVoltage","maxCurrent"]},"EvFacilityType":{"description":"Extensible enum: `hotel` `restaurant` `cafe` `mall` `supermarket` `sport` `recreationArea` `nature` `museum` `bikeSharing` `busStop` `taxiStand` `tramStop` `metroStation` `trainStation` `airport` `parkingLot` `carpoolParking` `fuelStation` `wifi` `business` `education` `finance` `health` `service` `store` `fastFood` `bakery` `truckStop` `playground` `toilets` `...`  \n\n* `hotel`: A place to stay overnight.\n* `restaurant`: A place to eat.\n* `cafe`: A place to have a coffee or other drinks.\n* `mall`: A shopping mall.\n* `supermarket`: A place to buy groceries.\n* `sport`: Sport facilities: gym, field etc.\n* `recreationArea`: A place for recreation, like a park, beach etc.\n* `nature`: Located in, or close to, a park, nature reserve etc.\n* `museum`: A museum or other cultural facility.\n* `bikeSharing`: A bike/e-bike/e-scooter sharing location.\n* `busStop`: A bus stop.\n* `taxiStand`: A taxi stand.\n* `tramStop`: A tram stop.\n* `metroStation`: A metro station.\n* `trainStation`: A train station.\n* `airport`: An airport.\n* `parkingLot`: A parking lot.\n* `carpoolParking`: A parking lot for carpooling.\n* `fuelStation`: A fuel station.\n* `wifi`: Wifi or other type of internet available.\n* `business`: Business facilities.\n* `education`: Educational facilities.\n* `finance`: Financial facilities.\n* `health`: Health facilities.\n* `service`: Service facilities.\n* `store`: A store.\n* `fastFood`: A fast food restaurant.\n* `bakery`: A bakery.\n* `truckStop`: A truck stop, rest area or similar.\n* `playground`: A playground or other place for children to play.\n* `toilets`: Toilets available for public use.\n\nAs it is possible that new facility types are supported in the future,\nunknown types should be ignored.\n","x-extensible-enum":["hotel","restaurant","cafe","mall","supermarket","sport","recreationArea","nature","museum","bikeSharing","busStop","taxiStand","tramStop","metroStation","trainStation","airport","parkingLot","carpoolParking","fuelStation","wifi","business","education","finance","health","service","store","fastFood","bakery","truckStop","playground","toilets"],"type":"string"},"EvParkingType":{"description":"Extensible enum: `alongMotorway` `parkingGarage` `parkingLot` `onDriveway` `onStreet` `undergroundGarage` `...`  \n\n* `alongMotorway`: A parking facility/rest area along a motorway, freeway,\ninterstate, highway etc.\n* `parkingGarage`: Multi-story car park, mainly above ground.\n* `parkingLot`: A cleared area that is intended for parking vehicles, for example\nat super markets or bars.\n* `onDriveway`: The driveway of a house or building.\n* `onStreet`: A public parking space along a street.\n* `undergroundGarage`: Multi-story car park, mainly underground.\n\nAs it is possible that new types are supported in the future,\nunknown types should be ignored.\n","x-extensible-enum":["alongMotorway","parkingGarage","parkingLot","onDriveway","onStreet","undergroundGarage"],"type":"string"},"EvTruckAccessCategory":{"description":"Access categories for trucks and light commercial vehicles that the EV\ncharging location is designed to serve.\n\nWhile the classifications used as basis for the categories are solely based\non vehicle mass, in EV charging context they can be interpreted to give an\nidea of the dimensional class too, as well as possible other restrictions set\nby the operator. If there are true dimensional or weight limits at the EV\ncharging location, they are specified separately in `vehicleLimitations`.\n\nThe classification is available only to a subset of EV charging locations,\ndepending on the information available from the operators. Hence, at least\nvehicles belonging to the `light` category can be charged also in many EV\ncharging locations not having explicit signaling for the `light` category.\n\nFurthermore, although the classification is based on mass/weight ranges in\ngrowing order, an upper class does not automatically mean that also all lower\nclass vehicles are welcome to charge. For example, a location marked only\nwith category `heavy` is reserved for long-haul trucks only.\n\nIn EU the categorization used as basis can be found in:\nhttps://wiki.unece.org/download/attachments/27459612/VIAQ-02-06%20-%20Vehicle%20Categories.pdf?api=v2.\nFor US market, the categories are specified in\nhttps://afdc.energy.gov/data/10380\n\n* `light`: Light commercial vehicles, for example vans.\nThis category is used only when `supportedVehicles` includes `car`.\nThe vehicles in this category require a bit more space for parking while charging\nthan passenger cars, but many EV charging locations for passenger cars can also\nbe used to charge vehicles of this size.\nIn EU this refers to vehicles from category N1, having a maximum mass not\nexceeding 4.25 tonnes.\nIn USA this refers to classes 1 and 2, with somewhat different weight limits.\n\n* `medium`: Medium-size trucks often used in short-haul transportation, known as\ndelivery or box trucks. Corresponds to `semiTractor` in `EvVehicleTypes`.\nAlso, `rigid` in `EvVehicleTypes` is mapped by default to `medium`, unless\nparking space dimensions or weight limit indicate support for `heavy` category.\nThis category is used only when `supportedVehicles` includes `truck`.\nTrucks like these require clearly more space at the charger than passenger cars.\nIn EU this refers to vehicles from category N2, having a maximum mass exceeding\n3.5 tonnes but not exceeding 12 tonnes. In USA this refers to classes 3 to 6.\n\n* `heavy`: Large-size / heavy-duty trucks, typically used in long-haul\ntransportation.\nCorresponds to `truckWithTrailer` or `rigid` in `EvVehicleTypes`.\nThis category is used only when `supportedVehicles` includes `truck`.\nTrucks of this category require significantly more space at the charger than\npassenger cars.\nEV charging locations are typically located near highways or industrial areas.\nSometimes a location may be prioritized for long-haul trucks only, although\ntechnically smaller ones could charge there too.\nIn EU this refers to vehicles from category N3, having a maximum mass exceeding\n12 tonnes. In USA this refers to classes 7 and 8.\n","enum":["light","medium","heavy"],"type":"string"},"EvTruckAmenity":{"description":"Extensible enum: `truckParking` `truckWash` `truckRepair` `truckDealership` `secureTruckParking` `foodDelivery` `toilet` `washingMachine` `shower` `eateryRestaurant` `vendingMachine` `driverLounge` `outdoorGym` `powerSupply` `atm` `accessControlledArea` `licensePlateRecognition` `perimeterFence` `pedestrianTurnstiles` `cameraSurveillance` `guard` `floodLighting` `entryGate` `exitGate` `...`  \n\n* `truckParking`: There is a truck parking at the location.\n* `truckWash`: There is a truck wash service available at the location.\n* `truckRepair`: There is a truck repair service available at the location.\n* `truckDealership`: There is a truck dealership available at the location.\n* `secureTruckParking`: The location provides secure truck parking.\n* `foodDelivery`: There is a food delivery available to the location.\n* `toilet`: There is a toilet available at the location.\n* `washingMachine`: There is a washing/laundry machine available at the location.\n* `shower`: There is a shower available at the location for drivers.\n* `eateryRestaurant`: There is a restaurant or eatery available at the location.\n* `vendingMachine`: There is a vending machine available at the location.\n* `driverLounge`: There is a driver lounge available at the location.\n* `outdoorGym`: There is an outdoor gym available at the location.\n* `powerSupply`: There is a power supply available at the location, for example for truck's refrigerator.\n* `atm`: There is an ATM available at the location.\n* `accessControlledArea`: Access to the EV charging location / parking area is controlled.\n* `licensePlateRecognition`: There is a license plate recognition at the gate when entering the EV charging location / parking area.\n* `perimeterFence`: There is a perimeter fence surrounding the location.\n* `pedestrianTurnstiles`: There are turnstiles for pedestrians to access the location.\n* `cameraSurveillance`: There is a camera surveillance at the location.\n* `guard`: The location is guarded.\n* `floodLighting`: The location has flood lighting.\n* `entryGate`: There is an entry gate to access the location.\n* `exitGate`: There is an exit gate.\n\nAs it is possible that new amenities are supported in the future, unknown\namenities should be ignored.\n","x-extensible-enum":["truckParking","truckWash","truckRepair","truckDealership","secureTruckParking","foodDelivery","toilet","washingMachine","shower","eateryRestaurant","vendingMachine","driverLounge","outdoorGym","powerSupply","atm","accessControlledArea","licensePlateRecognition","perimeterFence","pedestrianTurnstiles","cameraSurveillance","guard","floodLighting","entryGate","exitGate"],"type":"string"},"EvVehicleCategory":{"description":"Extensible enum: `car` `twoWheeler` `truck` `...`  \n\n* `car`: The charging location is suitable for regular passenger cars, and\noptionally also for light commercial vehicles, such as vans, pickups and the\nlike, if signaled by `truckAccess` property.\nThis is the default category, used when there is no explicit information about\nsupport for other vehicle types.\n\n* `twoWheeler`: The charging location is suitable for motor bikes,\ne-scooters, and the like.\n\n* `truck`: The charging location is suitable for heavy vehicle charging,\nincluding, for example, rigid trucks and semi-trailer trucks, requiring more\nphysical space for parking and maneuvering than passenger cars.\n\nAs it is possible that new categories are supported in the future,\nunknown categories should be ignored.\n","x-extensible-enum":["car","twoWheeler","truck"],"type":"string"},"EvVehicleTypes":{"description":"Extensible enum: `van` `semiTractor` `rigid` `truckWithTrailer` `...`  \n\nList of vehicle types that can park at the EVSE. The list is not always\nexhaustive, but smaller vehicles are expected to be able to use the EVSE as well.\nFor example, if the list includes only `truckWithTrailer`, then `rigid` and\n`semiTractor` vehicles also fit in the parking space and can charge.\nCurrently the list includes only `van` and a few truck types, but in the future\nit may include other vehicle types as well.\n\n* `van`: Light commercial vehicles, for example vans, pickups and the like.\n* `semiTractor`: Semi-trailer trucks, also known as tractor-trailers\n* `rigid`: Rigid trucks, also known as box trucks or delivery trucks.\n* `truckWithTrailer`: Rigid or semi-tractor trucks with trailer.\n","x-extensible-enum":["van","semiTractor","rigid","truckWithTrailer"],"type":"string"},"Evse":{"type":"object","properties":{"uid":{"description":"Uniquely identifies the EVSE within the CPOs platform (and\nsuboperator platforms).\nFor example a database ID or the actual \"EVSE ID\". This field can\nnever be changed, modified or renamed.\nThis is the 'technical' identification of the EVSE, not to be\nused as 'human readable' identification, use the field `id` for\nthat.\n","type":"string"},"evseId":{"description":"Compliant with the EVSE ID from \"eMI3 standard version V1.0\".\n","type":"string"},"connectors":{"description":"List of available connectors on the EVSE. An operational EVSE should have at least one connector.","type":"array","items":{"$ref":"#/components/schemas/EvConnector"},"uniqueItems":true},"status":{"description":"Indicates the current short-term status of the EVSE at the\ntime given in the `modified` property.\n\nThere are no separate statuses available for individual connectors. A\nsingle EVSE can only be used by a single car, so some statuses apply to\nother connectors as well. So, if one connector is in use, the whole EVSE has status\n`charging`, and other connectors cannot be used at the same time, hence they\nshould be considered in-use as well. If an EVSE can allow multiple connectors\nto be used at the same time, it is basically multiple EVSEs merged into\na single physical box or device.\n\n* `available`: The EVSE/connector is able to start a new charging session.\n* `blocked`: The EVSE/connector is not accessible because of a physical\n  barrier, for example a car.\n* `charging`: The EVSE/connector is in use.\n* `inoperative`: The EVSE/connector is temporarily not available for use,\n  but not broken or defect.\n* `outOfOrder`: The EVSE/connector is currently out of order.\n* `reserved`: The EVSE/connector is reserved for a particular EV driver\n  and is unavailable for other drivers.\n* `unknown`: No status information available or the EVSE/connector is\n  offline.\n* `operational`: The EVSE/connector was operational when checked the last time,\n  but the actual latest status is not available at the moment.\n","allOf":[{"$ref":"#/components/schemas/EvseStatus"}]},"capabilities":{"description":"List of administrative functionalities that the EVSE is capable of.\n\nExtensible enum: `chargingProfile` `chargingPreferences` `remoteStartStop` `reservable` `tokenGroup` `unlock` `...`  \n\n* `chargingProfile`: The EVSE supports charging profiles.\n* `chargingPreferences`: The EVSE supports charging preferences.\n* `remoteStartStop`: The EVSE can remotely be started/stopped.\n* `reservable`: The EVSE can be reserved.\n* `tokenGroup`: This EVSE supports token groups, two or more tokens work\n  as one, so that a session can be started with one token and stopped with\n  another (handy when a card and key-fob are given to the EV-driver).\n* `unlock`: Connectors have mechanical lock that can be requested by the\n  eMSP to be unlocked.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvseCapability"},"uniqueItems":true},"floorLevel":{"description":"Level on which the EVSE is located (in garage buildings) in\nthe locally displayed numbering scheme.\nIrrelevant for other parking types (hence optional).\n","type":"string"},"physicalReference":{"description":"A number or string printed on the outside of the EVSE for visual identification.","type":"string"},"id":{"description":"The globally unique identifier of the EVSE.","type":"string"},"location":{"description":"A point representation of the EVSE's location.","allOf":[{"$ref":"#/components/schemas/Location"}]},"paymentSupports":{"description":"List of payment support functionalities on EVSE for ad-hoc customers\n(without pre-registration).\n\nExtensible enum: `chipCard` `contactlessCard` `creditCard` `debitCard` `pedTerminal` `rfidReader` `authByCarPlugAndCharge` `authByCarAutocharge` `onlineApplePay` `onlinePaypal` `onlineCreditCard` `onlineGooglePay` `onlineBankPayment` `terminalQrCode` `terminalSms` `operatorApp` `mobilePayment` `...`  \n\n* `chipCard`: EVSE has a payment terminal that supports chip cards.\n* `contactlessCard`: EVSE has a payment terminal that supports contactless\n  cards.\n* `creditCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a credit card.\n* `debitCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a debit card.\n* `pedTerminal`: EVSE has a payment terminal with a pin-code entry device.\n* `rfidReader`: Charging at this EVSE can be authorized with an RFID\n  token.\n* `authByCarPlugAndCharge`: ISO 15118 Plug&Charge enables drivers to plug\n  in and charge up instantly using automatic EV-to-charging station\n  authentication technology.\n* `authByCarAutocharge`: Autocharge enables drivers to plug in and charge\n  up instantly using automatic EV-to-charging station authentication\n  technology.\n* `onlineApplePay`: Authenticate & pay with Apple Pay.\n* `onlinePaypal`: Authenticate & pay with PayPal.\n* `onlineCreditCard`: Authenticate & pay with credit card online.\n* `onlineGooglePay`: Authenticate & pay with Google Pay.\n* `onlineBankPayment`: Authenticate & pay with online bank payment.\n* `terminalQrCode`: Initiate authentication & payment with QR code on the\n  terminal.\n* `terminalSms`: Authenticate & pay with SMS on the terminal.\n* `operatorApp`: Authenticate & pay with charge point operator application\n  on mobile phone.\n* `mobilePayment`: Used with `operatorApp`, all `online-` items,\n  `terminalSms`, `terminalQrCode` and `contactlessCard`. Whenever one\n  or more of those payment types is specified, `mobilePayment` is also\n  be specified.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvsePaymentSupport"},"uniqueItems":true},"modified":{"description":"Timestamp when the status of this EVSE was last updated.","type":"string","format":"date-time"},"reliability":{"x-maturity":"alpha","description":"**ALPHA** **RESTRICTED** Reliability indicators for the EVSE.\n\nOnly present if the `reliability` field is requested and there is reliability\ndata available for the EVSE.\n","allOf":[{"$ref":"#/components/schemas/Reliability"}]},"parking":{"x-maturity":"alpha","description":"**ALPHA** Parking conditions and capabilities for this EVSE.\n","allOf":[{"$ref":"#/components/schemas/EvseParking"}]}},"required":["uid","status","modified","connectors"]},"EvseCapability":{"description":"Extensible enum: `chargingProfile` `chargingPreferences` `remoteStartStop` `reservable` `tokenGroup` `unlock` `...`  \n\n* `chargingProfile`: The EVSE supports charging profiles.\n* `chargingPreferences`: The EVSE supports charging preferences.\n* `remoteStartStop`: The EVSE can remotely be started/stopped.\n* `reservable`: The EVSE can be reserved.\n* `tokenGroup`: This EVSE supports token groups, two or more tokens work\n  as one, so that a session can be started with one token and stopped with\n  another (handy when a card and key-fob are given to the EV-driver).\n* `unlock`: Connectors have mechanical lock that can be requested by the\n  eMSP to be unlocked.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n","x-extensible-enum":["chargingProfile","chargingPreferences","remoteStartStop","reservable","tokenGroup","unlock"],"type":"string"},"EvseParking":{"x-maturity":"alpha","description":"**ALPHA** Parking conditions and capabilities for an EVSE.\n\nThis is used to specify parking conditions and capabilities for the EVSE,\nwhich may be different from the general parking conditions of the location.\n","type":"object","properties":{"conditions":{"description":"List of parking conditions for this EVSE.\n\nExtensible enum: `disabled` `customers` `taxis` `...`  \n\n* `disabled`: The parking space is designed to be accessible by drivers with\ndisabilities. It may be also reserved for drivers with disabilities.\n* `customers`: The parking space is reserved for customers of a hotel,\nrestaurant, store etc. Note: this is set only if the whole location is not set\nas `customersOnly` in `accessRestrictions`.\n* `taxis`: The parking space is reserved for taxis.\n\nAs it is possible that new types are supported in the future, unknown types\nshould be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/EvseParkingConditions"},"uniqueItems":true},"vehicleTypes":{"description":"**RESTRICTED**\nList of vehicle types that are known to be allowed to park and charge at this\nEVSE. If the `supportedVehicles` field includes `car` or `twoWheeler`, they\ncan park and use the EVSE as well without explicit listing here.\n\nExtensible enum: `van` `semiTractor` `rigid` `truckWithTrailer` `...`  \n\nList of vehicle types that can park at the EVSE. The list is not always\nexhaustive, but smaller vehicles are expected to be able to use the EVSE as well.\nFor example, if the list includes only `truckWithTrailer`, then `rigid` and\n`semiTractor` vehicles also fit in the parking space and can charge.\nCurrently the list includes only `van` and a few truck types, but in the future\nit may include other vehicle types as well.\n\n* `van`: Light commercial vehicles, for example vans, pickups and the like.\n* `semiTractor`: Semi-trailer trucks, also known as tractor-trailers\n* `rigid`: Rigid trucks, also known as box trucks or delivery trucks.\n* `truckWithTrailer`: Rigid or semi-tractor trucks with trailer.\n","type":"array","items":{"$ref":"#/components/schemas/EvVehicleTypes"},"uniqueItems":true},"vehicleLimitations":{"$ref":"#/components/schemas/VehicleLimitations"},"noClearanceHeight":{"description":"Explicitly indicates absence or presence of a clearance height limit for the\nEVSE.\n\nSince the absence of the `height` field in `vehicleLimitations` can be\ninterpreted as either no restriction or unknown restriction, this is an\nexplicit indication whether a clearance height restriction is present.\n\n* True: there is no clearance height restriction for the EVSE.\n* False: there is a clearance height restriction for the EVSE.\n* Absent: the clearance height restriction is unknown.\n","type":"boolean"},"evsePosition":{"description":"The position of the EVSE in relation to the parking space, when known.\n\n* `left`: The EVSE is located on the left side of the parking space.\n* `right`: The EVSE is located on the right side of the parking space.\n* `center`: The EVSE is at the center of the impassable narrow end of a\nparking space.\n","enum":["left","right","center"],"type":"string"},"parkingDirection":{"description":"The direction in which the vehicle should be parked at this EVSE.\n\n* `parallel`: Parking happens parallel to the roadway on which vehicles\n  approach the EVSE.\n* `perpendicular`: Parking happens perpendicular to the roadway on which\n  vehicles approach the EVSE.\n* `angle`: Parking happens at an angle to the roadway on which vehicles\n  approach the EVSE.\n* `pullThrough`: A vehicle can stop, charge, and proceed without reversing\n  out of a parking bay.\n","enum":["parallel","perpendicular","angle","pullThrough"],"type":"string"},"reservationRequired":{"description":"Whether a reservation is required for parking at this EVSE. This is separate\nfrom the `reservable` capability, which indicates whether the EVSE can be\nreserved at all, but does not indicate whether it is required to be reserved.\n","type":"boolean"}},"example":{"conditions":["customers"],"vehicleTypes":["van","semiTractor"],"vehicleLimitations":{"height":3.5,"width":2.5,"length":12},"noClearanceHeight":false,"evsePosition":"left","parkingDirection":"perpendicular","reservationRequired":true}},"EvseParkingConditions":{"x-maturity":"alpha","description":"Extensible enum: `disabled` `customers` `taxis` `...`  \n\n* `disabled`: The parking space is designed to be accessible by drivers with\ndisabilities. It may be also reserved for drivers with disabilities.\n* `customers`: The parking space is reserved for customers of a hotel,\nrestaurant, store etc. Note: this is set only if the whole location is not set\nas `customersOnly` in `accessRestrictions`.\n* `taxis`: The parking space is reserved for taxis.\n\nAs it is possible that new types are supported in the future, unknown types\nshould be ignored.\n","x-extensible-enum":["disabled","customers","taxis"],"type":"string"},"EvsePaymentSupport":{"description":"Extensible enum: `chipCard` `contactlessCard` `creditCard` `debitCard` `pedTerminal` `rfidReader` `authByCarPlugAndCharge` `authByCarAutocharge` `onlineApplePay` `onlinePaypal` `onlineCreditCard` `onlineGooglePay` `onlineBankPayment` `terminalQrCode` `terminalSms` `operatorApp` `mobilePayment` `...`  \n\n* `chipCard`: EVSE has a payment terminal that supports chip cards.\n* `contactlessCard`: EVSE has a payment terminal that supports contactless\n  cards.\n* `creditCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a credit card.\n* `debitCard`: EVSE has a payment terminal that makes it possible to pay\n  for charging using a debit card.\n* `pedTerminal`: EVSE has a payment terminal with a pin-code entry device.\n* `rfidReader`: Charging at this EVSE can be authorized with an RFID\n  token.\n* `authByCarPlugAndCharge`: ISO 15118 Plug&Charge enables drivers to plug\n  in and charge up instantly using automatic EV-to-charging station\n  authentication technology.\n* `authByCarAutocharge`: Autocharge enables drivers to plug in and charge\n  up instantly using automatic EV-to-charging station authentication\n  technology.\n* `onlineApplePay`: Authenticate & pay with Apple Pay.\n* `onlinePaypal`: Authenticate & pay with PayPal.\n* `onlineCreditCard`: Authenticate & pay with credit card online.\n* `onlineGooglePay`: Authenticate & pay with Google Pay.\n* `onlineBankPayment`: Authenticate & pay with online bank payment.\n* `terminalQrCode`: Initiate authentication & payment with QR code on the\n  terminal.\n* `terminalSms`: Authenticate & pay with SMS on the terminal.\n* `operatorApp`: Authenticate & pay with charge point operator application\n  on mobile phone.\n* `mobilePayment`: Used with `operatorApp`, all `online-` items,\n  `terminalSms`, `terminalQrCode` and `contactlessCard`. Whenever one\n  or more of those payment types is specified, `mobilePayment` is also\n  be specified.\n\nAs it is possible that new capabilities are supported in the future,\nunknown capabilities should be ignored.\n","x-extensible-enum":["chipCard","contactlessCard","creditCard","debitCard","pedTerminal","rfidReader","authByCarPlugAndCharge","authByCarAutocharge","onlineApplePay","onlinePaypal","onlineCreditCard","onlineGooglePay","onlineBankPayment","terminalQrCode","terminalSms","operatorApp","mobilePayment"],"type":"string"},"EvseStatus":{"description":"* `available`: The EVSE/connector is able to start a new charging session.\n* `blocked`: The EVSE/connector is not accessible because of a physical\n  barrier, for example a car.\n* `charging`: The EVSE/connector is in use.\n* `inoperative`: The EVSE/connector is temporarily not available for use,\n  but not broken or defect.\n* `outOfOrder`: The EVSE/connector is currently out of order.\n* `reserved`: The EVSE/connector is reserved for a particular EV driver\n  and is unavailable for other drivers.\n* `unknown`: No status information available or the EVSE/connector is\n  offline.\n* `operational`: The EVSE/connector was operational when checked the last time,\n  but the actual latest status is not available at the moment.\n","enum":["available","blocked","charging","inoperative","outOfOrder","reserved","unknown","operational"],"type":"string"},"GenericErrorResponse":{"description":"Generic error response","type":"object","properties":{"error":{"type":"string","description":"Human-readable error"},"error_description":{"type":"string","description":"Human-readable error description"},"status":{"type":"integer","description":"HTTP status code","example":403}},"required":["error"]},"HealthResponse":{"description":"Returns the health of the service","type":"object","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok","fail"]},"message":{"description":"Human-readable error message","type":"string"}}},"Id":{"description":"Charging location identifier with prefix components. The prefix here:evcp is fixed, followed by the feature type and the content ID. Globally unique.","example":"here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3","type":"string","pattern":"here:evcp:[^:]+:.*"},"IdParameter":{"description":"Charging location identifier with optional prefix components separated by colon. Only the last component is relevant for data retrieval.","example":"here:evcp:charginglocation:246udbvs5xwtg-aGVyZS1ldjplY29tb3ZlbWVudDoyMTEzODY4NzI3","type":"string","pattern":"(([^:]*:)*)(.*)"},"Image":{"description":"Contains image link and attributes.","type":"object","properties":{"url":{"description":"URL from where the image data can be fetched.","type":"string"},"thumbnailUrl":{"description":"URL from where a thumbnail of the image can be fetched, if there is a thumbnail available from our provider.","type":"string"}},"required":["url"]},"Location":{"description":"A point representation of a location.","type":"object","properties":{"lat":{"description":"Latitude in degrees","type":"number","format":"double","example":52.531},"lng":{"description":"Longitude in degrees","type":"number","format":"double","example":13.384}},"required":["lat","lng"]},"MetadataByCountry":{"type":"object","description":"List of metadata entries per country.","properties":{"countries":{"type":"array","uniqueItems":true,"items":{"type":"object","description":"Metadata for a single country.","properties":{"countryCode":{"allOf":[{"$ref":"#/components/schemas/CountryCode"}]},"eMobilityServiceProviders":{"description":"Metadata on e-Mobility service providers in locations of country.","type":"array","maxItems":500,"uniqueItems":true,"items":{"$ref":"#/components/schemas/MetadataDetails"}},"operators":{"description":"Metadata on operators and suboperators in locations of country.","type":"array","maxItems":500,"uniqueItems":true,"items":{"$ref":"#/components/schemas/MetadataDetails"}},"connectorTypes":{"description":"Metadata on connector types available in locations of country.","type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/ConnectorTypeMetadata"}}},"required":["countryCode"]}},"missingCountries":{"description":"List of country codes from the query parameter for which there is no data to return. Either the country is not covered by the data, or the country code is not matching the data.","type":"array","items":{"$ref":"#/components/schemas/CountryCode"}}},"example":{"countries":[{"countryCode":"DEU","eMobilityServiceProviders":[{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002"},{"name":"Last Mile Solutions","partnerId":"1f098f1e-cca5-11ed-b774-42010aa40002"}],"operators":[{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002"},{"name":"Last Mile Solutions","partnerId":"1f098f1e-cca5-11ed-b774-42010aa40002"}],"connectorTypes":[{"standard":"IEC_62196_T2","commonName":"Type 2 (Mennekes)","maxPower":22000,"legacyId":31},{"standard":"IEC_62196_T2_COMBO","commonName":"CCS2","maxPower":350000,"legacyId":34}]},{"countryCode":"GBR","eMobilityServiceProviders":[{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002"}],"operators":[{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002"}],"connectorTypes":[{"standard":"IEC_62196_T2","commonName":"Type 2 (Mennekes)","maxPower":22000,"legacyId":31}]}],"missingCountries":["ZZZ"]}},"MetadataDetails":{"description":"Metadata of operator or e-Mobility service provider.","type":"object","properties":{"name":{"description":"Name of the company.","type":"string"},"partnerId":{"description":"A unique ID for the company. It can be used to assure correct mapping when the name changes.","type":"string"},"tariffs":{"description":"Metadata for all tariffs (subscriptions / charging cards) the company provides.\n","type":"array","items":{"type":"object","properties":{"name":{"description":"Name of the tariff, corresponding to the `name` field in the `Tariff`\nobject.\n","type":"string"}},"required":["name"]}}},"required":["name","partnerId"],"example":{"name":"ChargePoint","partnerId":"1f90fdf0-cca5-11ed-be23-42010aa40002"}},"ConnectorTypeMetadata":{"description":"Metadata for connector types including OCPI connector type, common name, max power and legacyId.","type":"object","properties":{"standard":{"description":"The connector type (standard) following OCPI connector type definitions.\n\nExtensible enum: `CHADEMO` `CHAOJI` `DOMESTIC_A` `DOMESTIC_B` `DOMESTIC_C` `DOMESTIC_D` `DOMESTIC_E` `DOMESTIC_F` `DOMESTIC_G` `DOMESTIC_H` `DOMESTIC_I` `DOMESTIC_J` `DOMESTIC_K` `DOMESTIC_L` `DOMESTIC_M` `DOMESTIC_N` `DOMESTIC_O` `GBT_AC` `GBT_DC` `IEC_60309_2_SINGLE_16` `IEC_60309_2_THREE_16` `IEC_60309_2_THREE_32` `IEC_60309_2_THREE_64` `IEC_62196_T1` `IEC_62196_T1_COMBO` `IEC_62196_T2` `IEC_62196_T2_COMBO` `IEC_62196_T3A` `IEC_62196_T3C` `NEMA_5_20` `NEMA_6_30` `NEMA_6_50` `NEMA_10_30` `NEMA_10_50` `NEMA_14_30` `NEMA_14_50` `PANTOGRAPH_BOTTOM_UP` `PANTOGRAPH_TOP_DOWN` `TESLA_R` `TESLA_S` `SAE_J3400` `MCS` `...`  \n\n* `CHADEMO`: The connector type is CHAdeMO, DC\n* `CHAOJI`: The ChaoJi connector. The new generation charging connector,\nharmonized between CHAdeMO and GB/T. DC.\n* `DOMESTIC_A`: Standard/Domestic household, type \"A\", NEMA 1-15, 2 pins\n* `DOMESTIC_B`: Standard/Domestic household, type \"B\", NEMA 5-15, 3 pins\n* `DOMESTIC_C`: Standard/Domestic household, type \"C\", CEE 7/17, 2 pins\n* `DOMESTIC_D`: Standard/Domestic household, type \"D\", 3 pin\n* `DOMESTIC_E`: Standard/Domestic household, type \"E\", CEE 7/5 3 pins\n* `DOMESTIC_F`: Standard/Domestic household, type \"F\", CEE 7/4, Schuko, 3\npins\n* `DOMESTIC_G`: Standard/Domestic household, type \"G\", BS 1363,\nCommonwealth, 3 pins\n* `DOMESTIC_H`: Standard/Domestic household, type \"H\", SI-32, 3 pins\n* `DOMESTIC_I`: Standard/Domestic household, type \"I\", AS 3112, 3 pins\n* `DOMESTIC_J`: Standard/Domestic household, type \"J\", SEV 1011, 3 pins\n* `DOMESTIC_K`: Standard/Domestic household, type \"K\", DS 60884-2-D1, 3\npins\n* `DOMESTIC_L`: Standard/Domestic household, type \"L\", CEI 23-16-VII, 3\npins\n* `DOMESTIC_M`: Standard/Domestic household, type \"M\", BS 546, 3 pins\n* `DOMESTIC_N`: Standard/Domestic household, type \"N\", NBR 14136, 3 pins\n* `DOMESTIC_O`: Standard/Domestic household, type \"O\", TIS 166-2549, 3\npins\n* `GBT_AC`: Guobiao GB/T 20234.2 AC socket/connector\n* `GBT_DC`: Guobiao GB/T 20234.3 DC connector\n* `IEC_60309_2_SINGLE_16`: IEC 60309-2 Industrial connector single phase\n16 amperes (usually blue)\n* `IEC_60309_2_THREE_16`: IEC 60309-2 Industrial connector three phase 16\namperes (usually red)\n* `IEC_60309_2_THREE_32`: IEC 60309-2 Industrial connector three phase 32\namperes (usually red)\n* `IEC_60309_2_THREE_64`: IEC 60309-2 Industrial connector three phase 64\namperes (usually red)\n* `IEC_62196_T1`: IEC 62196 Type 1 \"SAE J1772\"\n* `IEC_62196_T1_COMBO`: Combo Type 1 based, DC\n* `IEC_62196_T2`: IEC 62196 Type 2 \"Mennekes\"\n* `IEC_62196_T2_COMBO`: Combo Type 2 based, DC\n* `IEC_62196_T3A`: IEC 62196 Type 3A\n* `IEC_62196_T3C`: IEC 62196 Type 3C \"Scame\"\n* `NEMA_5_20`: NEMA 5-20, 3 pins\n* `NEMA_6_30`: NEMA 6-30, 3 pins\n* `NEMA_6_50`: NEMA 6-50, 3 pins\n* `NEMA_10_30`: NEMA 10-30, 3 pins\n* `NEMA_10_50`: NEMA 10-50, 3 pins\n* `NEMA_14_30`: NEMA 14-30, 4 pins\n* `NEMA_14_50`: NEMA 14-50, 4 pins\n* `PANTOGRAPH_BOTTOM_UP`: On-board Bottom-up-Pantograph typically for bus\ncharging\n* `PANTOGRAPH_TOP_DOWN`: Top-down-Pantograph typically for bus charging\n* `TESLA_R`: Tesla connector \"Roadster\"-type (round, 4 pin)\n* `TESLA_S`: Tesla connector \"Model-S\"-type (oval, 5 pin)\n* `SAE_J3400`: Tesla connector \"Model-S\"-type (oval, 5 pin), standardized\nas NACS SAE J3400\n* `MCS`: Megawatt Charging System (MCS) connector\n\nAs it is possible that new connector types are supported in the future,\nunknown connector types should be ignored.\n","allOf":[{"$ref":"#/components/schemas/ConnectorType"}]},"commonName":{"description":"Human-readable connector name for display in user interfaces.","type":"string"},"maxPower":{"description":"Maximum power available via this connector type in the country, in watts (W).\n\nNote: Typically the maximum power for DC connectors indicates a dynamically\nshared maximum power between a set of EVSEs, hence the actual maximum power\nfor a single connector can depend on load of other EVSEs in the location.\n","type":"integer","minimum":1},"legacyId":{"description":"The id of the connector type in our EV API v2, used for backward compatibility\nand mapping to the new OCPI-based connector types.\nThis id can be used to filter locations via HERE Search API.\n","type":"integer"}},"required":["standard","commonName","maxPower"],"example":{"standard":"IEC_62196_T2","commonName":"Type 2 (Mennekes)","maxPower":22000,"legacyId":31}},"NearbyPlace":{"x-maturity":"alpha","description":"**ALPHA** A HERE Place near to the charging location, providing conveniences for the driver and/or passengers while the vehicle is charging.\n","type":"object","properties":{"placeId":{"description":"Globally unique identifier of the HERE Place, enabling the client to fetch\nmore information about the Place using the Lookup endpoint of the HERE\nGeocoding and Search API.\n","type":"string"},"categories":{"description":"The subset of the place's categories that are considered relevant as\nconveniences for drivers during EV charging. The set can include for example\nrest areas, cafes, and fast food restaurants. The set may be used for example\nto show icons associated with the EV charging location in a user interface.\nThe categories are represented by ids defined in https://www.here.com/docs/bundle/geocoding-and-search-api-developer-guide/page/topics-places/places-category-system-full.html\n","type":"array","items":{"type":"string"},"minItems":1},"distance":{"description":"Approximate distance from the charging location to the place, in meters.\n","type":"number","format":"integer"},"walkingDistance":{"description":"Walking distance from the EV charging location to the nearby place,\nin meters, calculated along pedestrian-accessible paths. Unlike the\n`distance` field, which represents straight-line (Haversine)\ndistance, this value accounts for physical barriers such as\nmulti-lane roads, rivers, and restricted areas.\n\nA value of 0 means the EV charger and the place are typically within\nthe same facility.\n\nIf this field is not present, pedestrian path was not verified.\n","type":"integer","minimum":0}},"required":["placeId","categories"],"example":{"placeId":"528u17bv-e77e5c27819d5cff9fad6b4616f71f6d","categories":["600-6000-0061","100-1100-0010"],"distance":41,"walkingDistance":125}},"NotFoundResponse":{"type":"object","properties":{"title":{"type":"string","description":"Human-readable error description","example":"No content found with provided ID"},"status":{"type":"integer","description":"HTTP status code","example":404},"code":{"type":"string","description":"Error code.","example":"E629000"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"No location exists with the given identifier"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that uniquely identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"OpenapiResponse":{"description":"API response for the openapi endpoint","type":"object","additionalProperties":true},"OpeningHoursDetailsType":{"description":"Opening hours defined as a list of days during 
[...]
