# x-archived-from: here-public-transit-v8-openapi.yml
# x-archived-on: 2026-09-16
{"openapi":"3.0.2","info":{"title":"Public Transit API v8","version":"8.0.1","description":"Public Transit is a set of three REST APIs that provides public transit\nrouting information and public transit stations information available within\nan area or for a given station.\n","termsOfService":"https://legal.here.com/en-gb/terms","license":{"name":"HERE Documentation License","url":"https://legal.here.com/en-gb/terms/documentation-license"}},"servers":[{"url":"https://transit.hereapi.com/v8","description":"All Public Transit services, namely Routing, Next Departures, and Station Search."}],"security":[{"Bearer":[]},{"ApiKey":[]}],"paths":{"/routes":{"get":{"operationId":"Public Transit API v8 getRoutes","summary":"Routes","servers":[{"url":"https://transit.router.hereapi.com/v8","description":"Public Transit Routing service only."},{"url":"https://transit.hereapi.com/v8","description":"All Public Transit services, namely Routing, Next Departures, and Station Search."}],"tags":["Routing"],"description":"Lists public transit routes.\nThe service supports several use cases as follows:\n\n  * define routes based on arrival or departure times.\n  * filter specific transit modes, such as rail and metro only.\n  * plan routes hours or days in advance.\n  * set a maximum distance for the walk to the nearest transit stop/station or the speed of the walk.\n  * define how many changes or transfers the journey may include.\n  * request turn-by-turn navigation.\n  * request route polyline in order to view the route over a map.\n","parameters":[{"$ref":"#/components/parameters/origin"},{"$ref":"#/components/parameters/destination"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/units"},{"$ref":"#/components/parameters/departureTime"},{"$ref":"#/components/parameters/arrivalTime"},{"$ref":"#/components/parameters/alternatives"},{"$ref":"#/components/parameters/changes"},{"$ref":"#/components/parameters/transitModes"},{"$ref":"#/components/parameters/pedestrianSpeed"},{"$ref":"#/components/parameters/pedestrianMaxDistance"},{"$ref":"#/components/parameters/accessibility"},{"$ref":"#/components/parameters/transitReturn"},{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"API response in case of success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/TransitRouteResponse"}}},"headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}}},"400":{"$ref":"#/components/responses/400ErrorResponseWithRequestID"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/403ErrorResponseWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/departures":{"get":{"operationId":"Public Transit API v8 getDepartures","summary":"Departures","tags":["Next Departures"],"description":"Lists public transit departures.\nDiscovers subsequent departures using structured or topological queries.\nThe service accepts two types of queries as shown in the table below:\n\n| Query | Parameter | Description |\n|-------|-----------|-------------|\n| Departures by IDs | `ids` | takes a comma-separated list of station/stop identifiers |\n| Departures by Location | `in` | takes a pair of coordinates to define the center and a radius to define the extent of a circular area where to search for departures |\n\nSelect a query from `one of` the options above to visualize the request parameters.\n","parameters":[{"$ref":"#/components/parameters/boardOptions"},{"$ref":"#/components/parameters/boardTime"},{"$ref":"#/components/parameters/transitModes"},{"$ref":"#/components/parameters/maxPerBoard"},{"$ref":"#/components/parameters/maxPerTransport"},{"$ref":"#/components/parameters/boardSort"},{"$ref":"#/components/parameters/timespan"},{"$ref":"#/components/parameters/lang"},{"$ref":"#/components/parameters/accessibility"},{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"API response in case of success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StationBoardResponse"}}},"headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}}},"400":{"$ref":"#/components/responses/400ErrorResponseWithRequestID"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/403ErrorResponseWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/stations":{"get":{"operationId":"Public Transit API v8 getStations","summary":"Stations","tags":["Station Search"],"description":"Lists public transit stations.\nDiscovers stations using structured or topological queries.\nThe service accepts three types of queries as shown in the table below:\n\n| Query | Parameter | Description |\n|-------|-----------|-------------|\n| Stations by IDs | `ids` | Takes a comma-separated list of station/stop identifiers. |\n| Stations by location | `in` | Takes a pair of coordinates to define the center and a radius to define the extent of a circular area where to search for departures. |\n| Stations by name and location | `name` and `in` | Takes the station name or part of the name to search for. It is composed of one or more space-separated words and does not support stopwords. |\n\nSelect a query from `one of` the options above to visualize the request parameters.\n","parameters":[{"$ref":"#/components/parameters/stationOptions"},{"$ref":"#/components/parameters/accessibility"},{"$ref":"#/components/parameters/placesReturn"},{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"description":"API response in case of success","content":{"application/json":{"schema":{"$ref":"#/components/schemas/StationsInfoResponse"}}},"headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}}},"400":{"$ref":"#/components/responses/400ErrorResponseWithRequestID"},"401":{"$ref":"#/components/responses/401ErrorResponseWithRequestID"},"403":{"$ref":"#/components/responses/403ErrorResponseWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/health":{"get":{"operationId":"Public Transit API v8 getHealth","summary":"Health","tags":["API Information"],"description":"Returns the health status of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/HealthResponseOkWithRequestID"},"default":{"$ref":"#/components/responses/HealthResponseFailWithRequestID"}}}},"/version":{"get":{"operationId":"Public Transit API v8 getVersion","summary":"Version","tags":["API Information"],"description":"Returns the version of the service","parameters":[{"$ref":"#/components/parameters/xRequestId"}],"security":[],"responses":{"200":{"$ref":"#/components/responses/VersionResponseOkWithRequestID"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}},"/openapi":{"get":{"summary":"Retrieves this API specification in OpenAPI 3 format","operationId":"Public Transit API v8 getOpenapi","tags":["API Information"],"parameters":[{"$ref":"#/components/parameters/xRequestId"}],"responses":{"200":{"$ref":"#/components/responses/OpenApiResponseOk"},"500":{"$ref":"#/components/responses/500ErrorResponseWithRequestID"},"502":{"$ref":"#/components/responses/502ErrorResponseWithRequestID"},"503":{"$ref":"#/components/responses/503ErrorResponseWithRequestID"},"504":{"$ref":"#/components/responses/504ErrorResponseWithRequestID"}}}}},"components":{"parameters":{"accessibility":{"name":"accessibility","description":"Defines accessibility requirements for routes.\n\n * `wheelchair` - Select only wheelchair accessible vehicles and stations.\n","in":"query","schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["wheelchair"]}},"style":"form","explode":false},"alternatives":{"name":"alternatives","description":"Number of alternative routes to return aside from the optimal route. By default, `alternatives=0` is assumed and only one optimal route is returned. In cases where also a pedestrian route is available it will be also returned. This may lead to two routes being returned in total (one transit route and one pedestrian route) even though only one is expected when `alternatives=0` is given.\n","in":"query","required":false,"schema":{"type":"integer","minimum":0,"maximum":5,"default":0}},"arrivalTime":{"name":"arrivalTime","description":"Specifies the time of arrival as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to the local time at destination. When the optional timezone offset is\nnot specified, time is assumed to be local.\nAll `Time` values in the response are returned in the timezone of each location.\n\nNote : The following features do not support the arrivalTime parameter:\n* EV Routing\n* Route Handle\n* Route Import\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Time"}},"boardOptions":{"name":"boardOptions","description":"Board options","in":"query","schema":{"type":"object","oneOf":[{"$ref":"#/components/schemas/BoardByIds"},{"$ref":"#/components/schemas/BoardByLocation"}]},"style":"form","explode":true},"boardSort":{"name":"sort","description":"Define how the departures are sorted. By default, the departures are returned sorted by scheduled time.\nWhen `sort=transport`, the departures are sorted first by transport and then by scheduled time.\n\n* `sort=time`: means sorted by time.\n* `sort=transport`: means that we sort by `name`, `headsign`, `mode` and `time` in this order.\n","in":"query","schema":{"type":"string","enum":["time","transport"],"default":"time"}},"boardTime":{"name":"time","description":"Specifies the time of earliest departure in `RFC 3339`, section 5.6 as defined by either `date-time` or `full-date` \"T\" `partial-time` (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to local time at each location. When the optional timezone offset is\nnot specified, time is assumed to be local. If `time` is not specified, current time at departure place will be used.\nAll `Time` values in the response are returned in the timezone of each location.\n","in":"query","required":false,"schema":{"$ref":"#/components/schemas/Time"}},"changes":{"name":"changes","description":"Maximum number of changes or transfers allowed in a route. Unlimited number of changes is permitted when not set.\n","in":"query","schema":{"type":"integer","minimum":0,"maximum":6}},"departureTime":{"name":"departureTime","description":"Specifies the time of departure as defined by either `date-time` or `full-date` `T` `partial-time` in `RFC 3339`, section 5.6 (for example, `2019-06-24T01:23:45`).\nThe requested time is converted to the local time at origin. When the optional timezone offset is\nnot specified, time is assumed to be local. If neither `departureTime` or `arrivalTime` are specified, current time at departure location will be used.\nAll `Time` values in the response are returned in the timezone of each location.\n","in":"query","allowReserved":true,"required":false,"schema":{"$ref":"#/components/schemas/Time"}},"destination":{"name":"destination","description":"Trip destination WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize the\n  name of the destination place and will affect the generated actions descriptions.\n\n","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LocationString"}},"lang":{"name":"lang","description":"Specifies the list of preferred languages of the response.\nThe first supported language from the list will be used for the response.\nThe value should comply with the [IETF BCP 47](https://www.rfc-editor.org/rfc/bcp/bcp47.txt).\n","in":"query","schema":{"type":"array","items":{"type":"string"},"default":["en-US"]},"style":"form","explode":false,"example":["zh-tw","en-gb","en-us"]},"maxPerBoard":{"name":"maxPerBoard","description":"The maximum number of subsequent departures per station board the response is to include.","in":"query","schema":{"type":"integer","minimum":1,"maximum":50,"default":5}},"maxPerTransport":{"name":"maxPerTransport","description":"The maximum number of subsequent departures per transport returned in the response. A transport is identified by its name, direction and mode. When not set, all departures are returned, otherwise the first `maxPerTransport` departures for each transport in chronological order are returned.\n","in":"query","schema":{"type":"integer","minimum":1,"maximum":10,"nullable":true,"default":null}},"origin":{"name":"origin","description":"Trip origin WGS-84 compliant coordinates.\n\nFormat: `{lat},{lng}[;placeName={name}]`\n\nThe optional `placeName` parameter can be used to customize\n  the name of the origin place and will affect the generated actions descriptions.\n\n","in":"query","required":true,"schema":{"$ref":"#/components/schemas/LocationString"}},"pedestrianMaxDistance":{"name":"pedestrian[maxDistance]","description":"Maximum allowed walking distance in meters (e.g. when looking for nearest stations).","in":"query","schema":{"type":"integer","minimum":0,"maximum":6000,"default":2000}},"pedestrianSpeed":{"name":"pedestrian[speed]","description":"Walking speed in meters per second. Influences the duration of walking segments from origin to a station, from a station to destination and in-between the stations (e.g. if transfer is needed).\n","in":"query","schema":{"$ref":"#/components/schemas/PedestrianSpeed"}},"placesReturn":{"name":"return","description":"Defines which place attributes are included.\n\n * `transport` - List of transports.\n * `accessPoints` - List of access points.\n","in":"query","schema":{"$ref":"#/components/schemas/PlacesReturn"},"style":"form","explode":false},"stationOptions":{"name":"stationOptions","in":"query","description":"Station filter","required":false,"style":"form","explode":true,"schema":{"$ref":"#/components/schemas/StationOptions"}},"timespan":{"name":"timespan","description":"Limit the subsequent departures to the defined time window and starting from the time provided in the request. When not set, this filter is not applied and a maximum of 24 hours of departures can be returned. The filter will remove all departures outside the interval defined by time and time span.\n","in":"query","schema":{"allOf":[{"$ref":"#/components/schemas/Duration"},{"type":"integer","minimum":1,"maximum":1440,"default":null,"nullable":true,"example":56}]}},"transitModes":{"name":"modes","description":"Transit mode filter used to determine which modes of transit to include in the response.\nBy default, all supported transit modes are permitted.\n\nSupported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`\n`bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`\n`flight`\n\nThis parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.\nMixing of inclusive and exclusive transit modes is not allowed.\n\nexamples:\n  * `subway,bus`. Returns only subways and busses.\n  * `-subway,-bus`. Returns all modes except subways and busses.\n","in":"query","schema":{"$ref":"#/components/schemas/TransitModesFilter"},"style":"form","explode":false},"transitReturn":{"name":"return","description":"Defines which section attributes are included.\n\n * `intermediate` - List of intermediate stops within a section of the route. If\n   enabled, the response includes `intermediateStops` attribute. Each intermediate stop includes\n   stop/station names, WGS-84 geocoordinates, and the departure times at the stops.\n * `fares` - List of fares/tickets to cover a section of the route.\n\n   **NOTE**: Fares information support will be available soon.\n * `polyline` - Polyline for the route in\n   [Flexible Polyline](https://github.com/heremaps/flexible-polyline/blob/master/README.md)\n   Encoding.\n * `actions` - Actions (such as maneuvers or tasks) that must be taken to complete the section.\n * `travelSummary` - Include summary for the travel portion of the section.\n * `incidents` - Include a list of all incidents applicable to each section.\n * `bookingLinks` - Include a list of links to book a ride for a section of the route.\n * `nextDepartures` - Return the next departures for the transit section.\n * `sourceFeedMapping` - Include a list of source feed data that matches the data of the section.\n * `serviceTimes` - Include service times for the transit section.\n    \n    **NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.\n","in":"query","schema":{"type":"array","uniqueItems":true,"items":{"type":"string","enum":["intermediate","fares","polyline","actions","travelSummary","incidents","bookingLinks","nextDepartures","sourceFeedMapping","serviceTimes"]}},"style":"form","explode":false},"units":{"name":"units","description":"Units of measurement used, for example, in guidance instructions. The default is `metric`.\n\nIf `imperial` units are requested and the requested language is `en-US`, then\nUnited States customary units (miles and feet) will be used.\nIf `imperial` units are requested and a language other than `en-US` is requested then\nimperial (miles and yards) units will be used.\n","in":"query","schema":{"$ref":"#/components/schemas/Units"}},"xRequestId":{"name":"X-Request-ID","in":"header","description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"}}},"headers":{"X-Correlation-Id":{"description":"Auto-generated id that univocally identifies the request.","schema":{"type":"string"},"example":"4199533b-6290-41db-8d79-edf4f4019a74"},"X-Request-Id":{"description":"User-provided token that can be used to trace a request or a group of requests sent to the service.","schema":{"type":"string"},"example":"8230d7ad-3f1c-4191-a8dd-f3c42026da89"}},"securitySchemes":{"ApiKey":{"type":"apiKey","in":"query","name":"apiKey","description":"A key generated specifically to authenticate API requests. For more information\non how to get an API key, see [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"},"Bearer":{"type":"http","scheme":"bearer","bearerFormat":"JWT","description":"A token obtained from a separate endpoint using client credentials and an OAuth 1.0a HMAC-SHA256 signed request.\nFor more information on how to get a bearer token, see the [Identity and Access Management Developer Guide](https://docs.here.com/identity-and-access-management/docs/readme).\n"}},"schemas":{"AttributionLinkType":{"description":"Attribution link type.\n\n* `disclaimer` - Page with further legal information from the agency.\n* `tariff` - Page with information on the tariff.\n","type":"string","enum":["disclaimer","tariff"]},"BoardByIds":{"title":"Query departures by IDs","type":"object","properties":{"ids":{"description":"Specifies a comma separated list of station IDs. A maximum of 50 station identifiers are allowed in a single query\n","type":"string","maxLength":1000}},"required":["ids"]},"ChargingConnectorType":{"description":"Extensible enum: `iec62196Type1Combo` `iec62196Type2Combo` `chademo` `tesla` `saeJ3400` `gbtDc` `unknown` `...`  \nCurrently supported connector types are:\n* `iec62196Type1Combo`:  Type 1 Combo connector, commonly called \"CCS1\"\n* `iec62196Type2Combo`:  Type 2 Combo connector, commonly called \"CCS2\"\n* `chademo`: CHAdeMO connector\n* `tesla`: North American Charging Standard (NACS) connector. This connector type is deprecated. Return value used instead of `saeJ3400` when the user specifies the deprecated value `tesla` in `ev[connectorTypes]`\n* `saeJ3400`: North American Charging System (NACS) connector\n* `gbtDc`: GB/T Guobiao GB/T 20234.3 DC connector\n* `unknown`: Connector type is not known, e.g., if station is provided by user in request\n","type":"string","x-extensible-enum":["iec62196Type1Combo","iec62196Type2Combo","chademo","tesla","saeJ3400","gbtDc","unknown"]},"ChargingStationBrand":{"type":"object","description":"Information regarding the charging station brand","properties":{"name":{"description":"Charging station brand name","type":"string"},"hrn":{"description":"Charging station brand unique ID.\nIf specified in `ev[preferredBrands]` parameter\nthen it would apply preference to adding stations of the given brand.\n\n**NOTE:** As of now it is generated as a brand name hash.\n","type":"string"}}},"ChargingSupplyType":{"description":"Extensible enum: `acSingle` `acThree` `dc` `...`  \nCurrently possible values are:\n\n* `acSingle` : Single phase Alternating Current supply\n* `acThree`: Three phase Alternating Current supply\n* `dc`: Direct Current supply\n","type":"string","x-extensible-enum":["acSingle","acThree","dc"]},"Color":{"type":"string","pattern":"#[0-9A-Fa-f]{6}","example":"#FF0000"},"DataVersion":{"type":"object","description":"Version of a specific data set","properties":{"name":{"type":"string","description":"Identifies a data set, for example, a HRN, or a service specific identifier","example":"optimized-map-for-routing"},"version":{"type":"string","description":"The current version of this data set","example":"2022.346.5.48"}},"required":["name","version"]},"DepartureDelay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","type":"integer"},"DeparturePlatform":{"description":"Platform name or number for the departure.","type":"string"},"DepartureStatus":{"description":"Extensible enum: `scheduled` `cancelled` `additional` `replaced` `...`  \nStatus of the departure\n\n* `scheduled`: A trip that is running as planned in the schedule.\n* `cancelled`: A trip that existed in the schedule but was removed.\n* `additional`: An extra trip that was added in addition to a running schedule, for example, to respond to sudden passenger load.\n* `replaced`: A trip that was in the schedule but is removed and replaced with `additional` trip, for example, to replace a broken vehicle or handle detour.\n","type":"string","x-extensible-enum":["scheduled","cancelled","additional","replaced"],"default":"scheduled"},"Distance":{"type":"integer","minimum":0,"description":"Distance in meters.","example":189},"Duration":{"type":"integer","description":"Duration in seconds.","example":198},"ErrorResponse":{"type":"object","description":"Response in case of error","properties":{"title":{"type":"string","description":"Human-readable error description","example":"Input data failed validation"},"status":{"type":"integer","description":"HTTP status code","example":400},"code":{"type":"string","description":"Error code.\n\nAll error codes start with \"`E60`\".\n","example":"E600101"},"cause":{"type":"string","description":"Human-readable explanation for the error","example":"The input data in question does not comply with validation rules"},"action":{"type":"string","description":"Human-readable description of the action that can be taken to correct the error","example":"Request a valid id"},"correlationId":{"type":"string","description":"Auto-generated id that univocally identifies the request","example":"4199533b-6290-41db-8d79-edf4f4019a74"}},"required":["title","status","code","cause","action","correlationId"]},"InCircle":{"description":"Specifies the center point and the optional radius of your search.\nFormat `{lat},{lng}[;r={radius}]`, where `radius=500` meters by default.\n","type":"string","pattern":"[-+]?\\d*\\.?\\d+,[-+]?\\d*\\.?\\d+(;r=\\d+)?","example":"24.5,16.8;r=500"},"Location":{"description":"Location on the Earth","properties":{"lat":{"description":"Location of a point on the Earth north or south of the equator in decimal degrees.","type":"number","format":"double","example":52.531677},"lng":{"description":"Location of a place on the Earth east or west of the prime meridian in decimal degrees.","type":"number","format":"double","example":13.381777}},"example":{"lat":52.531677,"lng":13.381777},"required":["lat","lng"]},"LocationString":{"type":"string","example":"52.5251,13.3694"},"NoticeSeverity":{"description":"Describes the impact a notice has on the resource to which the notice is attached.\n* critical - The notice must not be ignored, even if the type of notice is not known to the user. Any associated resource (e.g., route section) must not be used without further evaluation.\n* info - The notice is for informative purposes, but does not affect usability of the route.\n","type":"string","enum":["critical","info"]},"ParkingLotPlaceType":{"description":"Extensible enum: `parkAndRide` `...`  \nCurrently possible values are:\n\n* `parkAndRide` - this parking lot is of type \"Park and Ride\",\n  such as it is a parking specifically designed to allow transition between car and transit.\n","type":"string","x-extensible-enum":["parkAndRide"]},"PartialTime":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by `partial-time`.","pattern":"^[012]\\d:[0-5]\\d:[0-6]\\d(\\.\\d+)?$","example":"08:30:00"},"PedestrianSpeed":{"description":"Pedestrian speed in meters per second","type":"number","minimum":0.5,"maximum":2,"default":1},"PlacesByIds":{"title":"Query stations by IDs","type":"object","properties":{"ids":{"description":"Specifies a comma separated list of station IDs. A maximum of 50 station identifiers are allowed in a single query\n","type":"string","maxLength":1000}},"required":["ids"]},"PlacesReturn":{"type":"array","description":"Enables transport information in the response.","items":{"type":"string","enum":["transport","accessPoints"]}},"Polyline":{"type":"string","description":"Line string in [Flexible Polyline](https://github.com/heremaps/flexible-polyline) format. Coordinates are in the WGS84 coordinate system, including `Elevation` (if present).","example":"A05xgKuy2xCx9B7vUl0OhnR54EqSzpEl-HxjD3pBiGnyGi2CvwFsgD3nD4vB6e"},"ServiceTimes":{"description":"The first and last trip time for the transit route at the stop on a given day.\nOnly present for the departure stop of a transit section.\n\n**NOTE:** serviceTimes is an experimental feature and may not return accurate results for all routes.\n","type":"object","properties":{"firstTrip":{"description":"First trip time in local time","type":"string","example":"2025-09-25T07:00:00Z"},"lastTrip":{"description":"Last trip time in local time","type":"string","example":"2025-09-25T23:45:00Z"}}},"SimpleErrorResponseSchema":{"type":"object","properties":{"error":{"type":"string","description":"Human-readable error"},"error_description":{"type":"string","description":"Human-readable error description"}}},"SourceFeedMapping":{"description":"Mapping of the internal data returned in the respone to the data from the source feed.\nA `type` will only be returned if the source feed data has a match.\nEach `type` might be returned more than once in the response as the source feed may have multiple matches.\n\nCurrently possible values for `type` are:\n\n* `agencyId`: ID of the agency that provides the data which is defined in the source feed.\n* `routeId`: ID of the route that is provided in source feed.\n* `tripId`: ID of the trip that is provided in source feed.\n* `feedVersion`: Version of the feed that is defined in source feed.\n","type":"object","properties":{"type":{"type":"string","description":"Extensible enum: `agencyId` `routeId` `tripId` `feedVersion` `...`  \nType of source feed data.\n","x-extensible-enum":["agencyId","routeId","tripId","feedVersion"],"example":"tripId"},"sourceValue":{"type":"string","description":"Source value for the data defined in the `type`.","example":"1234-567"}}},"Time":{"type":"string","description":"**RFC 3339**, section 5.6 as defined by either `date-time` or `date-only` 'T' `partial-time` (ie no time-offset).","format":"date-time"},"TimeRestrictedWeekdays":{"type":"string","enum":["mo","tu","we","th","fr","sa","su"]},"TransitIncidentEffect":{"description":"Extensible enum: `cancelledService` `reducedService` `additionalService` `modifiedService` `delays` `detour` `stopMoved` `other` `...`  \nAn open list of possible incident effects.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n","type":"string","x-extensible-enum":["cancelledService","reducedService","additionalService","modifiedService","delays","detour","stopMoved","other"]},"TransitIncidentType":{"description":"Extensible enum: `technicalProblem` `strike` `demonstration` `accident` `holiday` `weather` `maintenance` `construction` `policeActivity` `medicalEmergency` `other` `...`  \nAn open list of possible incident causes / types.\nNote: Since new types are expected to appear, it is important to check for unknown types when parsing this value.\n","type":"string","x-extensible-enum":["technicalProblem","strike","demonstration","accident","holiday","weather","maintenance","construction","policeActivity","medicalEmergency","other"]},"TransitModeExcluded":{"title":"Excluded modes","description":"Extensible enum: `-highSpeedTrain` `-intercityTrain` `-interRegionalTrain` `-regionalTrain` `-cityTrain` `-bus` `-ferry` `-subway` `-lightRail` `-privateBus` `-inclined` `-aerial` `-busRapid` `-monorail` `-flight` `...`  \nTransit mode to be excluded from the route\n","type":"string","x-extensible-enum":["-highSpeedTrain","-intercityTrain","-interRegionalTrain","-regionalTrain","-cityTrain","-bus","-ferry","-subway","-lightRail","-privateBus","-inclined","-aerial","-busRapid","-monorail","-flight"]},"TransitStopAttributes":{"description":"Extensible enum: `noEntry` `noExit` `...`  \nAttributes of a stop.\n\n* `noEntry`: The transport cannot be entered at the stop.\n* `noExit`: The transport cannot be exited at the stop.\n","type":"string","x-extensible-enum":["noEntry","noExit"],"example":"noExit"},"TurnActionDirection":{"description":"Direction of the turn. `middle` is only used by the `keep` action.","type":"string","enum":["middle","right","left"]},"TurnActionSeverity":{"description":"Tightness of the turn. Optional in the `turn` action, unused by other actions.\n\n* `light`: indicates making a light turn\n* `quite`: indicates making a regular turn\n* `heavy`: indicates making a heavy turn\n","type":"string","enum":["light","quite","heavy"]},"Units":{"description":"Units of measurement used, for example, in guidance instructions. The default is `metric`.","type":"string","enum":["metric","imperial"]},"Uri":{"description":"An URL address that links to a particular resource.","type":"string","format":"uri","example":"https://url.address.com/resource"},"WalkAttributes":{"description":"Extensible enum: `indoor` `...`  \nWalkAttributes are applied to a span of a route section and describe walk-related attribute\nflags.\n\n* `indoor`: This part of the route is located inside a venue.\n","type":"string","x-extensible-enum":["indoor"]},"WheelchairAccessibility":{"description":"Defines accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Information is not available.\n* `yes` - Full unrestricted accessibility.\n* `limited` - Accessibility is limited, not everywhere or require assistance.\n* `no` - No accessibility.\n","type":"string","enum":["unknown","yes","limited","no"],"default":"unknown","example":"unknown"},"Agency":{"description":"Contains information about a particular agency.","properties":{"id":{"description":"Unique code of the agency. Specifies if the same agency is used on different sections of the same route.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"49030_dd54cc8"},"name":{"description":"Human readable name of the owner of the transport service.","type":"string","example":"The Rail Provider"},"website":{"description":"Link to the agency's website.","example":"http://www.railcompany.com/","allOf":[{"$ref":"#/components/schemas/Uri"}]}},"required":["id","name"]},"BaseAction":{"type":"object","description":"An action to be performed between sections or during a section.","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string"},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"BoardByLocation":{"title":"Query departures by Location","type":"object","properties":{"in":{"$ref":"#/components/schemas/InCircle"},"maxPlaces":{"description":"The maximum number of stations the response should include.","type":"integer","minimum":1,"maximum":50,"default":5}},"required":["in"]},"ChargingConnectorAttributes":{"type":"object","description":"Details of the connector that is suggested to be used in the section's `postAction` for charging.","properties":{"power":{"description":"Power supplied by the suggested connector in kW.","type":"number"},"current":{"description":"Current of the suggested connector in Amperes.","type":"number"},"voltage":{"description":"Voltage of the suggested connector in Volts.","type":"number"},"supplyType":{"description":"Supply type of the suggested connector.\n","allOf":[{"$ref":"#/components/schemas/ChargingSupplyType"}]},"connectorType":{"description":"Suggested connector for charging at this station","allOf":[{"$ref":"#/components/schemas/ChargingConnectorType"}]}},"required":["power","supplyType","connectorType"]},"HealthResponseFailSchema":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["fail"]}}},"HealthResponseOKSchema":{"type":"object","description":"Returns the health of the service","properties":{"status":{"description":"Health status of the service:\n\n* `ok` - the service is operating normally\n* `fail` - the service is currently encountering a failure\n","type":"string","enum":["ok"]}}},"Notice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"No route found"},"code":{"type":"string","description":"Notice code.","example":"noRouteFound"},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"PedestrianMode":{"description":"Extensible enum: `pedestrian` `...`  \nPedestrian mode of transport.\n\nSince the supported pedestrian modes may be extended in the future, the pedestrian mode should be hidden when an unknown mode is encountered.\n","type":"string","x-extensible-enum":["pedestrian"],"default":"pedestrian"},"PlacesByLocation":{"title":"Query stations by Location","type":"object","properties":{"in":{"$ref":"#/components/schemas/InCircle"},"maxPlaces":{"description":"The maximum number of stations/stops included in the response.","type":"integer","minimum":1,"maximum":50,"default":5},"modesInPlace":{"description":"Format: `mode1,mode2,...`\n\nFilter the list of stations returned in the response depending on the Transit modes available.\n\nStations where at least one of the specified modes exists will get returned.\nBy default, all supported transit modes are permitted.\n\nSupported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`\n`bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`\n`flight`\n\nThis parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.\nMixing of inclusive and exclusive transit modes is not allowed.\n\nexamples:\n  * `subway,bus`. Returns only stations having subways and busses.\n  * `-subway,-bus`. Returns all stations except the one having just subways or busses.\n","type":"string"}},"required":["in"]},"TransitIncident":{"type":"object","description":"An incident describes disruptions on the transit network.\nDisruptions scale from delays to service cancellations.\n","properties":{"summary":{"type":"string","description":"A human readable summary of the incident","example":"The subway is closed each night between 1 AM and 5 AM."},"description":{"type":"string","description":"A human readable description of the incident","example":"The subway is closed each night between 1 AM and 5 AM while we clean our trains and stations. We are running extra bus service overnight."},"type":{"$ref":"#/components/schemas/TransitIncidentType"},"effect":{"$ref":"#/components/schemas/TransitIncidentEffect"},"validFrom":{"$ref":"#/components/schemas/Time"},"validUntil":{"$ref":"#/components/schemas/Time"},"url":{"description":"Link to the original incident published at the agency website","allOf":[{"$ref":"#/components/schemas/Uri"}]}},"required":["type","effect"],"example":{"summary":"The subway is closed each night between 1 AM and 5 AM.","description":"The subway is closed each night between 1 AM and 5 AM while we clean our trains and stations. We are running extra bus service overnight.","type":"maintenance","effect":"modifiedService"}},"TransitMode":{"title":"Modes","description":"Extensible enum: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain` `bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail` `flight` `...`  \nTransit mode of transport in the route response\n","example":"intercityTrain","type":"string","x-extensible-enum":["highSpeedTrain","intercityTrain","interRegionalTrain","regionalTrain","cityTrain","bus","ferry","subway","lightRail","privateBus","inclined","aerial","busRapid","monorail","flight"]},"TravelSummary":{"description":"Total value of key attributes for a route section.","properties":{"duration":{"$ref":"#/components/schemas/Duration"},"length":{"$ref":"#/components/schemas/Distance"}},"required":["duration","length"]},"VersionResponse":{"type":"object","description":"Returns the versions of the service components.","properties":{"apiVersion":{"type":"string","description":"The current version of the API.","example":"8.18.0"},"serviceVersion":{"type":"string","description":"The current version of the service.","example":"2022-12-15-b706cc8c-9057409"},"dataVersions":{"type":"array","items":{"$ref":"#/components/schemas/DataVersion"},"description":"Returns the versions of data sets used by the service."}},"required":["apiVersion"]},"Attribution":{"type":"object","description":"The URL address to an external resource.","properties":{"id":{"description":"Unique identifier for the web link. It is used to deduplicate links defined in multiple sections.","type":"string"},"href":{"$ref":"#/components/schemas/Uri"},"text":{"description":"Text describing the url address (e.g. The example website).","type":"string"},"hrefText":{"description":"The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.\n","type":"string"},"type":{"$ref":"#/components/schemas/AttributionLinkType"}},"required":["id","text"],"example":{"id":"88-7568-21.07.2023","text":"Information for public transit provided by ThePublicTransit GmbH"}},"BaseRoutablePlace":{"properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"BoardAction":{"description":"An action to board a ferry.","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["board"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"DeboardAction":{"description":"An action to disembark a ferry.","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["deboard"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"}},"required":["action","duration"]},"PedestrianNotice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"Violated avoid tunnel"},"code":{"type":"string","description":"Extensible enum: `simplePolyline` `pedestrianOptionViolated` `violatedAvoidTunnel` `violatedAvoidDirtRoad` `violatedBlockedRoad` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places | info |\n| pedestrianOptionViolated | This section violates the parameter `pedestrian[speed]` or `pedestrian[maxDistance]` | critical |\n| violatedAvoidTunnel | Route did not manage to avoid user preference | critical |\n| violatedAvoidDirtRoad | Route did not manage to avoid user preference | critical |\n| violatedBlockedRoad | Route uses roads that are blocked due to `avoid[areas]` or `avoid[segments]`. | critical |\n","example":"violatedAvoidTunnel","x-extensible-enum":["simplePolyline","pedestrianOptionViolated","violatedAvoidTunnel","violatedAvoidDirtRoad","violatedBlockedRoad"]},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"PedestrianSpan":{"description":"Span attached to a `Section` describing pedestrian content.\n","properties":{"offset":{"description":"Offset of a coordinate in the section's polyline.\n","type":"integer","format":"int32","minimum":0},"length":{"description":"Length of the span.\n","allOf":[{"$ref":"#/components/schemas/Distance"}]},"duration":{"description":"Duration of the span.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"walkAttributes":{"type":"array","description":"Accessibility and walk-related attribute flags.\n\n* `indoor`: This part of the route is inside a venue.\n\nIt is possible that new attributes may be supported in the future. When encountering unknown attributes, e.g., in the software parser, it is recommended to ignore them.\n","items":{"$ref":"#/components/schemas/WalkAttributes"},"example":["indoor"]}}},"PedestrianTransport":{"description":"Information about a transport.","properties":{"mode":{"$ref":"#/components/schemas/PedestrianMode"}},"required":["mode"]},"PlacesByName":{"title":"Query stations by Name and Location","type":"object","properties":{"name":{"description":"The station name or part of the name to search for.\nIt is composed of one or more space separated words.\n","type":"string"},"method":{"description":"Specifies if the match is `fuzzy` or `strict`.\nThe default value is fuzzy.\n\n`fuzzy` - search for a station with the name similar to one of the names requested\n`strict` - search for a station with the name exactly matching one of the names requested or containing it as a part\n\nFor example, if the station name in the request is \"maurer\", then if the method is `fuzzy` the response\ncontains \"AMBOY AVE AT MAURER RD\" and \"LAUREL HILL BL/48 ST\". If the method is `strict`\nthe response contains \"AMBOY AVE AT MAURER RD\" but not \"LAUREL HILL BL/48 ST\".\n","type":"string","enum":["fuzzy","strict"]},"maxPlaces":{"type":"integer","maximum":25,"description":"The maximum number of stations/stops included in the response.","minimum":1,"default":5},"in":{"$ref":"#/components/schemas/InCircle"},"modesInPlace":{"description":"Format: `mode1,mode2,...`\n\nFilter the list of stations returned in the response depending on the Transit modes available.\n\nStations where at least one of the specified modes exists will get returned.\nBy default, all supported transit modes are permitted.\n\nSupported modes: `highSpeedTrain` `intercityTrain` `interRegionalTrain` `regionalTrain` `cityTrain`\n`bus` `ferry` `subway` `lightRail` `privateBus` `inclined` `aerial` `busRapid` `monorail`\n`flight`\n\nThis parameter also support an exclusion list: It's sufficient to specify each mode to exclude by prefixing it with `-`.\nMixing of inclusive and exclusive transit modes is not allowed.\n\nexamples:\n  * `subway,bus`. Returns only stations having subways and busses.\n  * `-subway,-bus`. Returns all stations except the one having just subways or busses.\n","type":"string"}},"required":["name","in"]},"RangePrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `value` - A single value.\n  * `range` - A range value that includes a minimum and maximum price.\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"minimum":{"description":"Minimum price","type":"number"},"maximum":{"description":"Maximum price","type":"number"}},"required":["type","currency","minimum","maximum"]},"SinglePrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `value` - A single value.\n  * `range` - A range value that includes a minimum and maximum price.\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"value":{"description":"The price value","type":"number"}},"required":["type","currency","value"]},"StationSearchPlace":{"description":"A station","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"id":{"description":"Identifier of this station.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"110543003"},"platform":{"description":"Platform name or number for the departure.","type":"string","example":"1"},"code":{"description":"Short text or a number that identifies the place for riders.","type":"string","example":"74370"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - There exists some accessible path from outside the station to the specific stop/platform.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - There exists no accessible path from outside the station to the specific stop/platform.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"TransitAgency":{"description":"Contains information about a particular agency.","properties":{"id":{"description":"Unique code of the agency. Specifies if the same agency is used on different sections of the same route.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"49030_dd54cc8"},"name":{"description":"Human readable name of the owner of the transport service.","type":"string","example":"The Rail Provider"},"website":{"description":"Link to the agency's website.","example":"http://www.railcompany.com/","allOf":[{"$ref":"#/components/schemas/Uri"}]},"sourceFeedMapping":{"description":"List of source feeds that shows the original feed data. The item keys\ncan be repeated if the original data has multiple mappings for the same ID.\n\nFor this instance, only `agencyId` and `feedVersion` are valid values for `type`. No other values will be returned in this scope.\n","type":"array","items":{"$ref":"#/components/schemas/SourceFeedMapping"}}},"required":["id","name"]},"TransitModesFilterItem":{"oneOf":[{"$ref":"#/components/schemas/TransitMode"},{"$ref":"#/components/schemas/TransitModeExcluded"}]},"TransitNotice":{"type":"object","description":"A notice contains important notifications.","properties":{"title":{"type":"string","description":"Human-readable notice description.","example":"No schedule"},"code":{"type":"string","description":"Extensible enum: `noSchedule` `noIntermediate` `unwantedMode` `scheduledTimes` `simplePolyline` `violatedAvoidFerry` `violatedAvoidRailFerry` `...`  \nCurrently known codes (non-exhaustive: this list could be extended for new situations):\n\n| Code      | Description  | Severity |\n| --------- | ------- | ------- |\n| noSchedule | A timetable schedule is not available for the transit line in this section, and only the run frequency is available. As a result, departure/arrival times are approximated | info |\n| noIntermediate | Information about intermediate stops is not available for this transit line | info |\n| unwantedMode | This section contains a transport mode that was explicitly disabled. Mode filtering is not available in this area | info |\n| scheduledTimes | The times returned on this section are the scheduled times even though delay information are available | info |\n| simplePolyline | An accurate polyline is not available for this section. The returned polyline has been generated from departure and arrival places | info |\n| violatedAvoidFerry | Route did not manage to avoid user preference | critical |\n| violatedAvoidRailFerry | Route did not manage to avoid user preference | critical |\n","example":"noSchedule","x-extensible-enum":["noSchedule","noIntermediate","unwantedMode","scheduledTimes","simplePolyline","violatedAvoidFerry","violatedAvoidRailFerry"]},"severity":{"$ref":"#/components/schemas/NoticeSeverity"}},"required":["code"]},"TransitTransport":{"description":"Transit transport information.","properties":{"mode":{"$ref":"#/components/schemas/TransitMode"},"name":{"description":"Transit line name","type":"string","example":"U2"},"headsign":{"description":"Transit line headsign.","type":"string","example":"Cottbus, Hauptbahnhof"},"category":{"description":"Human readable transport category (such as Bus, Gondola, Tram, Train, ...).","type":"string","example":"Railway Service"},"color":{"description":"Color of the transport polyline and background for the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"textColor":{"description":"Color of the transport name.","allOf":[{"$ref":"#/components/schemas/Color"}]},"shortName":{"description":"Short name of a transit line.","type":"string","example":"U2"},"longName":{"description":"Long name of a transit line.","type":"string","example":"Pankow - Ruhleben"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - Vehicle can accommodate at least one rider in a wheelchair.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - No riders in wheelchairs can be accommodated.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]},"sourceFeedMapping":{"description":"List of source feeds that shows the original feed data. The item keys\ncan be repeated if the original data has multiple mappings for the same ID.\n\nFor this instance, only `routeId` and `tripId` are valid values for `type`. No other values will be returned in this scope.\n","type":"array","items":{"$ref":"#/components/schemas/SourceFeedMapping"}}},"required":["mode"]},"WebLinkWithDeviceType":{"type":"object","description":"The URL address to an external resource.","properties":{"id":{"description":"Unique identifier for the web link. It is used to deduplicate links defined in multiple sections.","type":"string"},"href":{"$ref":"#/components/schemas/Uri"},"text":{"description":"Text describing the url address (e.g. The example website).","type":"string"},"hrefText":{"description":"The interactive (or clickable) portion of the text. If not present (default), the entire content of the text attribute will be considered.\n","type":"string"},"deviceType":{"description":"Extensible enum: `web` `ios` `android` `...`  \nDevice type for which the link is intended.\n","example":"web","type":"string","x-extensible-enum":["web","ios","android"]}},"required":["id","text"],"example":{"id":"88-7568-21.07.2023","text":"Information for public transit provided by ThePublicTransit GmbH"}},"AccessPointPlace":{"description":"Access point to a venue/station","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - Access point is wheelchair accessible.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - No accessible path from the access point to platforms.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"BaseDepartureDetails":{"description":"Defines a departure where the departure stop is implicit (e.g. station board departures).","properties":{"time":{"description":"Expected time of the departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"delay":{"$ref":"#/components/schemas/DepartureDelay"},"status":{"$ref":"#/components/schemas/DepartureStatus"},"platform":{"$ref":"#/components/schemas/DeparturePlatform"},"transport":{"allOf":[{"$ref":"#/components/schemas/TransitTransport"}]}},"required":["time"]},"ChargingStationPlace":{"description":"A charging station","properties":{"name":{"description":"Human readable name of this charging station","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this charging station","type":"string"},"connectorAttributes":{"$ref":"#/components/schemas/ChargingConnectorAttributes"},"brand":{"$ref":"#/components/schemas/ChargingStationBrand"}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"DockingStationPlace":{"description":"A place represents a docking station for rented vehicles.","allOf":[{"$ref":"#/components/schemas/BaseRoutablePlace"}]},"FarePrice":{"description":"Price of a fare","discriminator":{"propertyName":"type","mapping":{"value":"#/components/schemas/SinglePrice","range":"#/components/schemas/RangePrice"}},"oneOf":[{"$ref":"#/components/schemas/SinglePrice"},{"$ref":"#/components/schemas/RangePrice"}]},"Place":{"description":"A place represents a generic location relevant for the route.","allOf":[{"$ref":"#/components/schemas/BaseRoutablePlace"}]},"StationOptions":{"type":"object","oneOf":[{"$ref":"#/components/schemas/PlacesByIds"},{"$ref":"#/components/schemas/PlacesByLocation"},{"$ref":"#/components/schemas/PlacesByName"}]},"StationPlace":{"description":"A station","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this station.\n\n**NOTE**: The given ID is only valid within the context of the response it is in.\n","type":"string","example":"110543003"},"platform":{"description":"Platform name or number for the departure.","type":"string","example":"1"},"code":{"description":"Short text or a number that identifies the place for riders.","type":"string","example":"74370"},"wheelchairAccessible":{"description":"Information about accessibility for people with a disability and who use a wheelchair.\n\n* `unknown` - Accessibility information is not available.\n* `yes` - There exists some accessible path from outside the station to the specific stop/platform.\n* `limited` - Accessibility is limited or assistance is required.\n* `no` - There exists no accessible path from outside the station to the specific stop/platform.\n","allOf":[{"$ref":"#/components/schemas/WheelchairAccessibility"}]}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"TimeRestrictedPrice":{"type":"object","properties":{"type":{"description":"Type of price represented by this object. The API customer is responsible for correctly visualizing\nthe pricing model. As it is possible to extend the supported price types in the future,\nthe price information should be hidden when an unknown type is encountered.\n\nAvailable price types are:\n\n  * `restricted` - A single price value valid for a specific time or duration\n","type":"string"},"estimated":{"description":"Attribute value is `true` if the fare price is estimated, `false` if it is an exact value.","type":"boolean","default":false},"currency":{"description":"Local currency of the price compliant to ISO 4217","type":"string"},"unit":{"description":"When set, the price is paid for a specific duration.\n\nExamples:\n  * `\"unit\": 3600` - price for one hour\n  * `\"unit\": 28800` - price for 8 hours\n  * `\"unit\": 86400` - price for one day\n","allOf":[{"$ref":"#/components/schemas/Duration"}]},"value":{"description":"The price value","type":"number"},"days":{"description":"This price applies only for the selected days","type":"array","items":{"$ref":"#/components/schemas/TimeRestrictedWeekdays"},"example":["sa","su"]},"minDuration":{"description":"The price applies if the duration is more or equal to `minDuration`","allOf":[{"$ref":"#/components/schemas/Duration"}],"example":1801},"maxDuration":{"description":"The price applies if the duration is less or equal to `maxDuration`","allOf":[{"$ref":"#/components/schemas/Duration"}],"example":3600},"fromTime":{"description":"The price applies from this time of the day","allOf":[{"$ref":"#/components/schemas/PartialTime"}]},"toTime":{"description":"The price applies until this time of the day","allOf":[{"$ref":"#/components/schemas/PartialTime"}]}},"required":["type","currency","value"]},"TransitModesFilter":{"description":"Transit type filter used to determine which types of transit to include in the response. By default, all supported transit types are permitted. Mixing of inclusive and exclusive transit types is not allowed.\n","type":"array","uniqueItems":true,"items":{"$ref":"#/components/schemas/TransitModesFilterItem"}},"TransitPostAction":{"oneOf":[{"$ref":"#/components/schemas/DeboardAction"}],"discriminator":{"propertyName":"action","mapping":{"deboard":"#/components/schemas/DeboardAction"}}},"TransitPreAction":{"description":"An action that must be done prior to `departure`.","discriminator":{"propertyName":"action","mapping":{"board":"#/components/schemas/BoardAction"}},"oneOf":[{"$ref":"#/components/schemas/BoardAction"}]},"DepartureDetails":{"required":["transport"],"description":"Defines a departure where the departure stop is implicit (e.g. station board departures).","properties":{"time":{"description":"Expected time of the departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"delay":{"$ref":"#/components/schemas/DepartureDelay"},"status":{"$ref":"#/components/schemas/DepartureStatus"},"platform":{"$ref":"#/components/schemas/DeparturePlatform"},"transport":{"allOf":[{"$ref":"#/components/schemas/TransitTransport"}]},"agency":{"$ref":"#/components/schemas/Agency"}}},"Fare":{"description":"\"`Fare` type contains information about a single fare or ticket needed for this section of the route.\"\n\n**NOTE**: Fares information support will be available soon.\n","properties":{"id":{"description":"Unique Fare id. Used to deduplicate fares that apply to multiple sections","type":"string","example":"carrideco-1753076078174759852-1749341260512683512"},"name":{"description":"Name of a fare","type":"string","example":"Carride Company"},"price":{"$ref":"#/components/schemas/FarePrice"},"reason":{"default":"ride","description":"Extensible enum: `ride` `parking` `...`  \nReason for the cost described in this `Fare` element.\n","type":"string","x-extensible-enum":["ride","parking"]}},"required":["id","name","price"]},"ParkingLotPlace":{"description":"A parking lot","properties":{"name":{"description":"Location name","type":"string","example":"S Potsdamer Platz Bhf/Voßstr."},"type":{"description":"Place type. Each place type can have extra attributes.\n\n**NOTE:** The list of possible place types could be extended in the future.\nThe client application is expected to handle such a case gracefully.\n","type":"string"},"location":{"description":"The position of this location\n\nThis position was used in route calculation. It may be different to the original position provided in the request.\n","allOf":[{"$ref":"#/components/schemas/Location"}]},"waypoint":{"description":"If present, this place corresponds to the waypoint in the request with the same index.","type":"integer"},"id":{"description":"Identifier of this parking lot","type":"string"},"attributes":{"type":"array","description":"Attributes of a parking lot.","items":{"$ref":"#/components/schemas/ParkingLotPlaceType"}},"rates":{"description":"List of possible parking rates for this facility. Different rates can apply depending on the day, time of the day or parking duration.\n","type":"array","items":{"$ref":"#/components/schemas/TimeRestrictedPrice"}}},"required":["type","location"],"example":{"type":"place","location":{"lat":52.531677,"lng":13.381777}}},"StationInfo":{"description":"It contains transit service information for this station.","properties":{"notices":{"description":"Contains a list of issues related to this station.\n\nFollows a list of possible notice codes:\n\n* `noDepartureInfo`: Departure information is unavailable or inaccurate for this station/stop.\n","type":"array","items":{"$ref":"#/components/schemas/Notice"}},"place":{"description":"Information about a station or stop.","allOf":[{"$ref":"#/components/schemas/StationSearchPlace"}]},"transports":{"description":"A list of transit services.","type":"array","items":{"$ref":"#/components/schemas/TransitTransport"}},"accessPoints":{"description":"A list of access points","type":"array","items":{"$ref":"#/components/schemas/AccessPointPlace"}}},"required":["place"]},"TransitDeparture":{"description":"Transit departure","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"description":"Departure/arrival location","allOf":[{"$ref":"#/components/schemas/StationPlace"}]},"delay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","allOf":[{"$ref":"#/components/schemas/DepartureDelay"}]},"status":{"$ref":"#/components/schemas/DepartureStatus"}},"required":["place"]},"OffsetAction":{"description":"An action to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string"},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"PedestrianPlace":{"description":"Place used in pedestrian routing","oneOf":[{"$ref":"#/components/schemas/Place"},{"$ref":"#/components/schemas/StationPlace"},{"$ref":"#/components/schemas/AccessPointPlace"},{"$ref":"#/components/schemas/ParkingLotPlace"},{"$ref":"#/components/schemas/ChargingStationPlace"},{"$ref":"#/components/schemas/DockingStationPlace"}],"discriminator":{"propertyName":"type","mapping":{"place":"#/components/schemas/Place","station":"#/components/schemas/StationPlace","accessPoint":"#/components/schemas/AccessPointPlace","parkingLot":"#/components/schemas/ParkingLotPlace","chargingStation":"#/components/schemas/ChargingStationPlace","dockingStation":"#/components/schemas/DockingStationPlace"}}},"SectionTransitDeparture":{"description":"Transit departure","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"description":"Departure/arrival location","allOf":[{"$ref":"#/components/schemas/StationPlace"}]},"delay":{"description":"The accumulated delay in seconds from the scheduled time of the event.","allOf":[{"$ref":"#/components/schemas/DepartureDelay"}]},"status":{"$ref":"#/components/schemas/DepartureStatus"},"serviceTimes":{"$ref":"#/components/schemas/ServiceTimes"}},"required":["place"]},"StationBoard":{"description":"It contains a list of departures from this station.","properties":{"place":{"description":"Information about a station or stop.","allOf":[{"$ref":"#/components/schemas/StationSearchPlace"}]},"departures":{"description":"A list of departures.","type":"array","items":{"$ref":"#/components/schemas/DepartureDetails"}},"attributions":{"description":"List of required attributions to display.","type":"array","items":{"$ref":"#/components/schemas/Attribution"}}},"required":["place","departures"]},"StationsInfoResponse":{"description":"Station info response.","properties":{"notices":{"description":"Contains a list of issues related to this response.\n\nFollows a list of possible notice codes:\n\n* `unknownStations`: The response is incomplete as one or more of the given station IDs were not found.\n* `noStationsFound`: No stations information is available given current input parameters\n","type":"array","items":{"$ref":"#/components/schemas/Notice"}},"stations":{"description":"A list of stations.","type":"array","items":{"$ref":"#/components/schemas/StationInfo"}}},"required":["stations"]},"TransitStop":{"description":"A transit stop of the route.","properties":{"departure":{"$ref":"#/components/schemas/TransitDeparture"},"duration":{"description":"Stop duration. If not set the vehicle departs as soon as people are on board.","type":"integer","example":198,"default":0},"transport":{"description":"Information about transit transport changes. If set, the vehicle changes its transit transport information,\nlike name, color, headsign etc, on this stop.\n","allOf":[{"$ref":"#/components/schemas/TransitTransport"}]},"offset":{"description":"The position of the stop on the polyline.","type":"integer"},"attributes":{"description":"**NOTE:** As it is possible that new attributes are supported in the future, unknown attributes should be ignored.\n","type":"array","items":{"$ref":"#/components/schemas/TransitStopAttributes"}}},"required":["departure"]},"ArriveAction":{"description":"An arrival maneuver to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["arrive"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"ContinueAction":{"description":"A continue operation to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["continue"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"DepartAction":{"description":"A departure maneuver to be performed at or during a specific portion of a section.\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["depart"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]}},"required":["action","duration"]},"PedestrianDeparture":{"description":"Departure of pedestrian","properties":{"time":{"description":"Expected time of departure of the event. Format is **RFC 3339**, section 5.6 as defined by `date-time`.","allOf":[{"$ref":"#/components/schemas/Time"}]},"place":{"$ref":"#/components/schemas/PedestrianPlace"}},"required":["place"]},"PedestrianPostAction":{"oneOf":[{"$ref":"#/components/schemas/OffsetAction"}],"discriminator":{"propertyName":"action","mapping":{"wait":"#/components/schemas/OffsetAction"}}},"StationBoardResponse":{"description":"Station board response.","properties":{"notices":{"description":"Contains a list of issues related to this response.\nFollows a list of possible notice codes:\n\n* `unknownStations`: The response is incomplete as one or more of the given station IDs were not found.\n* `noDeparturesFound`: No departures information is available given current input parameters\n","type":"array","items":{"$ref":"#/components/schemas/Notice"}},"boards":{"description":"A list of subsequent station board departures.","type":"array","items":{"$ref":"#/components/schemas/StationBoard"}}},"required":["boards"]},"ExitAction":{"description":"An action to leave a highway or roundabout.\n\n* `exit`: exit maneuver, such as \"Take the left exit to\"\n* `roundaboutExit`: roundabout exit maneuver, such as \"Take the third exit of the roundabout onto\"\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string"},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]},"direction":{"description":"Note that the direction of a turn has a special meaning for \"roundaboutEnter\": It indicates the direction in which one drives around the roundabout (left for left-hand-side driving countries, right for right-hand-side ones).\n","allOf":[{"$ref":"#/components/schemas/TurnActionDirection"}]},"severity":{"$ref":"#/components/schemas/TurnActionSeverity"},"exit":{"description":"Which exit to take next.","type":"integer","minimum":1,"maximum":12,"default":1}},"required":["action","duration"]},"KeepAction":{"description":"Keep maneuver, such as \"Take the middle fork onto\"\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["keep"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]},"direction":{"description":"Note that the direction of a turn has a special meaning for \"roundaboutEnter\": It indicates the direction in which one drives around the roundabout (left for left-hand-side driving countries, right for right-hand-side ones).\n","allOf":[{"$ref":"#/components/schemas/TurnActionDirection"}]},"severity":{"$ref":"#/components/schemas/TurnActionSeverity"}},"required":["action","duration"]},"SimpleTurnAction":{"description":"Turn maneuver, such as \"Make a sharp right turn at\"\n","type":"object","properties":{"action":{"description":"The type of the action.\n\n**NOTE:** The list of possible actions may be extended in the future. The client application should handle such a case gracefully.\n","type":"string","enum":["turn"]},"duration":{"description":"Estimated duration of this action (in seconds). Actions last until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Duration"}]},"instruction":{"description":"Description of the action (e.g. Turn left onto Minna St.).","type":"string"},"offset":{"description":"Offset of a coordinate in the section's polyline.","type":"integer","example":0},"length":{"description":"Estimated length of this action (in meters). Actions extend until the next action, or the end of the route in case of the last one.","allOf":[{"$ref":"#/components/schemas/Distance"}]},"direction":{"description":"Note that the direction of a turn has a special meaning for \"roundaboutEnter\": It indicates the direction in which one drives around the roundabout (left for left-hand-side driving countries, right for right-hand-side ones).\n","allOf":[{"$ref":"#/components/schemas/TurnActionDirection"}]},"severity":{"$ref":"#/components/schemas/TurnActionSeverity"}},"required":["action","duration"]},"TransitSection":{"description":"A section of the route. It contains departure, arrival, and route information.","properties":{"id":{"description":"Unique identifier of the section","type":"string","example":"R0-S0"},"type":{"description":"Section type used by the client to identify what extension to the BaseSection are available.","type":"string","example":"pedestrian"},"preActions":{"description":"Actions that must be done prior to `departure`.","type":"array","items":{"$ref":"#/components/schemas/TransitPreAction"}},"actions":{"description":"Actions that must be done during the travel portion of the section, i.e., between `departure` and `arrival`.\n\n*NOTE:* currentRoad and nextRoad are not populated for actions.\n","type":"array","items":{"$ref":"#/components/schemas/OffsetAction"}},"postActions":{"description":"Actions that must be done after `arrival`.","type":"array","items":{"$ref":"#/components/schemas/TransitPostAction"}},"departure":{"$ref":"#/components/schemas/SectionTransitDeparture"},"arrival":{"$ref":"#/components/schemas/TransitDeparture"},"travelSummary":{"description":"Total value of key attributes (e.g., duration, length) summed up for just the travel portion of the section,\nbetween `departure` and `arrival`. `preActions` and `postActions` are excluded.\n","allOf":[{"$ref":"#/components/schemas/TravelSummary"}]},"polyline":{"$ref":"#/components/schemas/Polyline"},"notices":{"description":"Contains a list of issues related to this section of the route.\n","type":"array","items":{"$ref":"#/components/schemas/TransitNotice"}},"bookingLinks":{"description":"Links to external ticket booking services","type":"array","items":{"$ref":"#/components/schemas/WebLinkWithDeviceType"}},"transport":{"$ref":"#/components/schemas/TransitTransport"},"nextDepartures":{"description":"List of next departures that cover the same section of the route.\n\nThe `transport` attribute is present when parts of it differ from the\ncorresponding section element. The `platform` attribute is not inherited\nfrom the main departure and will be set only if it's available for the\nnext departure.\n","type":"array","items":{"$ref":"#/components/schemas/BaseDepartureDetails"}},"intermediateStops":{"description":"Intermediate stops between departure and destination of the transit line. It can be missing if this information is not available or not requested.\n","type":"array","items":{"$ref":"#/components/schemas/TransitStop"}},"agency":{"$ref":"#/components/schemas/TransitAgency"},"attributions":{"description":"List of required attributions to display.","type":"array","items":{"$ref":"#/components/schemas/Attribution"}},"fares":{"description":"List of tickets to pay for this section of the route.\n\n**NOTE**: Fares information support will be available soon.\n","type":"array","items":{"$ref":"#/components/schemas/Fare"}},"incidents":{"description":"A list of all incidents that apply to the section.","type":"array","items":{"$ref":"#/components/schemas/TransitIncident"}}},"required":["id","type","departure","arrival"]},"PedestrianAction":{"description":"Action attached to a pedestrian section.","oneOf":[{"$ref":"#/components/schemas/DepartAction"},{"$ref":"#/components/schemas/ArriveAction"},{"$ref":"#/components/schemas/ContinueAction"},{"$ref":"#/components/schemas/ExitAction"},{"$ref":"#/components/schemas/SimpleTurnAction"},{"$ref":"#/components/schemas/KeepAction"}],"discriminator":{"propertyName":"action","mapping":{"depart":"#/components/schemas/DepartAction","arrive":"#/components/schemas/ArriveAction","continue":"#/components/schemas/ContinueAction","exit":"#/components/schemas/ExitAction","turn":"#/components/schemas/SimpleTurnAction","keep":"#/components/schemas/KeepAction"}}},"PedestrianSection":{"description":"Represent a section of a route","properties":{"id":{"description":"Unique identifier of the section","type":"string","example":"R0-S0"},"type":{"description":"Section type used by the client to identify what extension to the BaseSection are available.","type":"string","example":"pedestrian"},"preActions":{"description":"Actions that must be done prior to `departure`.","type":"array","items":{"$ref":"#/components/schemas/BaseAction"}},"actions":{"description":"Actions to be performed at or during a specific portion of a section.\n\nAction offsets are the coordinate index in the polyline.\n\n*NOTE:* currentRoad and nextRoad are not populated for actions.\n","type":"array","items":{"$ref":"#/components/schemas/PedestrianAction"}},"postActions":{"description":"Actions that must be done after `arrival`.","type":"array","items":{"$ref":"#/components/schemas/PedestrianPostAction"}},"departure":{"$ref":"#/components/schemas/PedestrianDeparture"},"arrival":{"$ref":"#/components/schemas/PedestrianDeparture"},"travelSummary":{"description":"Total value of key attributes (e.g., duration, length) summed up for just the travel portion of the section,\nbetween `departure` and `arrival`. `preActions` and `postActions` are excluded.\n","allOf":[{"$ref":"#/components/schemas/TravelSummary"}]},"polyline":{"$ref":"#/components/schemas/Polyline"},"notices":{"description":"Contains a list of issues related to this section of the route.\n","type":"array","items":{"$ref":"#/components/schemas/PedestrianNotice"}},"transport":{"$ref":"#/components/schemas/PedestrianTransport"},"spans":{"description":"Spans attached to a `Section` describing pedestrian content.\n","type":"array","items":{"$ref":"#/components/schemas/PedestrianSpan"}}},"required":["id","type","departure","arrival","transport"]},"TransitRouteSection":{"description":"A transit or pedestrian section of the route.","oneOf":[{"$ref":"#/components/schemas/TransitSection"},{"$ref":"#/components/schemas/PedestrianSection"}],"discriminator":{"propertyName":"type","mapping":{"pedestrian":"#/components/schemas/PedestrianSection","transit":"#/components/schemas/TransitSection"}}},"TransitRoute":{"description":"A basic transit routing response. It may include transit and walk sections.","properties":{"id":{"description":"Unique identifier of the route","type":"string","example":"R0"},"notices":{"description":"Contains a list of issues related to this route.\n\nFollows a list of possible notice codes:\n\n* `excessiveWaitingTime`: Commuter has to wait at a station much longer than usual.\n* `changeOptionViolated`: This route contains more changes than specified by the `changes` parameter.\n* `nonviableRoute`: Based on the real-time situation, one or more changes on the route\n  are not possible. This can happen if real-time re-routing is not available on this area.\n","type":"array","items":{"$ref":"#/components/schemas/Notice"}},"sections":{"type":"array","items":{"$ref":"#/components/schemas/TransitRouteSection"},"description":"A list of transit and pedestrian sections of the route."}},"required":["id","sections"]},"TransitRouteResponse":{"description":"Returns a list of routes.","properties":{"notices":{"description":"Contains a list of issues related to this response.\nFollows a list of possible notice codes:\n\n* `noRouteFound`: Routing between origin and destination is not possible given current input parameters.\n* `noRoutesFound`: (Deprecated) For more information, see noRouteFound.\n* `noTransitRouteFound`: Transit routing between origin and destination is not possible given current input parameters (other types of routes are available).\n* `noCoverage`: Routing is not possible due to missing transit information at this time.\n* `noStationsFound`: Routing is not possible due to missing stations in a given range.\n* `noAllowedTransitModes`: All transit modes are excluded in the request.\n","type":"array","items":{"$ref":"#/components/schemas/Notice"}},"routes":{"description":"List of possible routes.","type":"array","items":{"$ref":"#/components/schemas/TransitRoute"}}},"required":["routes"]}},"responses":{"400ErrorResponseWithRequestID":{"description":"API response in case of bad request.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/400errorResponseExample"}}}}},"401ErrorResponseWithRequestID":{"description":"API response in case of unauthorized access.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleErrorResponseSchema"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/401errorResponseExample"}}}}},"403ErrorResponseWithRequestID":{"description":"API response in case of forbidden access.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/SimpleErrorResponseSchema"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/403errorResponseExample"}}}}},"500ErrorResponseWithRequestID":{"description":"API response in case of internal server error.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/500errorResponseExample"}}}}},"502ErrorResponseWithRequestID":{"description":"API response in case of bad gateway.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/502errorResponseExample"}}}}},"503ErrorResponseWithRequestID":{"description":"API response in case of service unavailable.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/503errorResponseExample"}}}}},"504ErrorResponseWithRequestID":{"description":"API response in case of gateway timeout.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/ErrorResponse"},"examples":{"errorResponseExample":{"$ref":"#/components/examples/504errorResponseExample"}}}}},"HealthResponseFailWithRequestID":{"description":"API response in case of failure.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseFailSchema"}},"text/plain":{"schema":{"type":"string"}}}},"HealthResponseOkWithRequestID":{"headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"description":"API response in case of success.","content":{"application/json":{"schema":{"$ref":"#/components/schemas/HealthResponseOKSchema"}}}},"OpenApiResponseOk":{"description":"API specification in OpenAPI 3 format","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/x-yaml":{"schema":{"type":"string"}},"text/x-yaml":{"schema":{"type":"string"}}}},"VersionResponseOkWithRequestID":{"description":"API response in case of success.","headers":{"X-Correlation-Id":{"$ref":"#/components/headers/X-Correlation-Id"},"X-Request-Id":{"$ref":"#/components/headers/X-Request-Id"}},"content":{"application/json":{"schema":{"$ref":"#/components/schemas/VersionResponse"},"examples":{"versionResponseOkExample":{"$ref":"#/components/examples/VersionResponseOkExample"}}}}}},"examples":{"400errorResponseExample":{"value":{"title":"failed with reason: missing field `destination`","status":400,"code":"E600000","cause":"Bad request","action":"","correlationId":""}},"401errorResponseExample":{"value":{"error":"Unauthorized","error_description":"No credentials found"}},"403errorResponseExample":{"value":{"error":"Forbidden","error_description":"These credentials do not authorize access."}},"500errorResponseExample":{"value":{"title":"failed with reason: internal server error","status":500,"code":"E600103","cause":"Internal Server Error","action":"","correlationId":""}},"502errorResponseExample":{"value":{"title":"failed with reason: bad gateway","status":502,"code":"E600002","cause":"Bad Gateway","action":"","correlationId":""}},"503errorResponseExample":{"value":{"title":"failed with reason: service unavailable","status":503,"code":"E600001","cause":"Service Unavailable","action":"","correlationId":""}},"504errorResponseExample":{"value":{"title":"failed with reason: gateway timeout","status":504,"code":"E600000","cause":"Gateway Timeout","action":"","correlationId":""}},"VersionResponseOkExample":{"value":[{"apiVersion":"8.18.0"},{"serviceVersion":"2022-12-15-b706cc8c-9057409"},{"dataVersions":[{"name":"traffic-feed","version":"2023-01-31T14:41:36+00:00"},{"name":"hrn:here:data::olp-here:rib-2","version":"4898"},{"name":"hrn:here:data::olp-here:here-map-content-japan-2","version":"65"},{"name":"optimized-map-for-routing","version":"2022.346.5.48"}]}]}}}}